{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
        <a href="#" class="link-back">Back</a>
        <h1 class="heading-large">
          <span class="heading-secondary">Claim number:</span>
          {% if data['claimant'] == 1.2  %}
          Draft
          {% else  %}
          391MC645
          {% endif  %}
        </h1>
        <style>
        #tabs-3, #tabs-2, .nav-tabs{
          display:none
        }
        .tab-content .tab-pane {

        }
      </style>
      <div id="tabs" >
        <div class="nav-tabs">
          <ul class="tabs-nav">
            <li><a href="#tabs-1">Claim status <span class="alert-icon stat"></span></a></li>
            <li><a href="#tabs-2">Claim history</a></li>
            {% if data['claimant'] == 10 or data['claimant'] == 11 or data['claimant'] == 12 or data['claimant'] == 16  %}
            <li><a  href="#tabs-3">Settle out of court <span class="alert-icon settle"></span></a></li>
            {%else%}
            {% endif  %}
          </ul>
        </div>
        {% if data['claimant'] == 1 or data['claimant'] == 3 or data['claimant'] == 17 or data['claimant'] == 11 or data['claimant'] == 12 or data['claimant'] == 13 or data['claimant'] == 14 or data['claimant'] == 15 or  data['claimant'] == 16 %}
        <style> .alert-icon.stat{ display:none}</style>
        {% if  data['claimant'] == 12  %}
        <style> .alert-icon.settle{ display:none}</style>
        {%endif%}
        {%else%}
        {% endif  %}
        <div class="tab-content">
          <h2 class="heading-medium">Claim status</h2>
          <div id="tabs-1" class="tab-pane">
            {% if data['claimant'] == 1.2  %}
            <h2 class="heading-small">This claim has not been submitted</h2>
            Your claim is saved as a draft. <a  href="/claimant/full/c-4/task-list"> Continue with claim.</a>
            {% elseif data['claimant'] == 1  %}


            <h2 class="heading-small">Your claim has been sent</h2>
            <p>Jan Clark has until <span class="dates"></span> to respond. They can request an extra 14 days if they need it.</p>

            {% elseif data['claimant'] == 2  %}
            <div class="status-block single">
             <h2 class="heading-small">You can request a County Court Judgment</h2>
             <p>Mary Richards has not responded to your claim by the deadline. You can <a href="applications-and-judgments/default-judgment">request a County Court Judgment</a> (CCJ) against them.</p>
             <p>The court will make an order asking them to pay the money. It does not guarantee that they pay it. </p>
             <p>Mary Richards can still respond to the claim until you request a CCJ.</p>
           </div>
           {% elseif data['claimant'] == 3  %}
           <div class="status-block single">
             <h2 class="heading-small">You've requested a County Court Judgment (CCJ)</h2>

            <p>We'll contact you within 5 days to tell you whether the judgment has been entered.</p>

             <p>Mary Richards can no longer respond to the claim using this service - they may have responded by post.</p>

            </div>
            {% elseif data['claimant'] == 3.1  %}
            <h2 class="heading-small">The defendant has requested more time to respond </h2>
            <p>Mary Richards has requested an extra 14 days to respond. They need to respond by <span class="dates"></span> .</p>
              {% elseif data['claimant'] == 4  %}
              <h2 class="heading-medium">The defendant's response </h2>
              <p>Mary Richards admits they owe all the money. They've offered to pay you in instalments.</p>
              <p>You can accept or reject their offer.</p>
              <p> <a href="claimant-response/admit-the-claim/task-list" class="button secondary-button">View and respond to the offer</a></p>
              {% elseif data['claimant'] == 4.1  %}
              <h2 class="heading-medium">The defendant's response </h2>
              <p>Mary Richards admits they owe all the money. They've offered to pay you in full on {{ now | date( 'add', 3, 'months') | date }}.</p>
              <p>You can accept or reject their offer.</p>
              <p> <a href="claimant-response/admit-the-claim/task-list?payment=full" class="button secondary-button">View and respond to the offer</a></p>

              {% elseif data['claimant'] == 5  %}
              <div class="">
                <h2 class="heading-medium">The defendant's response </h2>
                <p>Mary Richards believes they owe you £1,000. They've offered to pay you in instalments. You need to accept or reject that this is amount owed.</p>
                <div class="form-group">
                  <p> <a href="claimant-response/part-admit/task-list" class="button secondary-button">View and respond to the offer</a></p>
                </div>
              </div>

            {% elseif data['claimant'] == 5.1  %}
            <h2 class="heading-small">The defendant's response</h2>
             <p>Mary Richards admits they owe all the money. They've offered to pay you in full on {{ now | date( 'add', 3, 'months') | date }}.</p>
              <p>You can accept or reject their offer.</p>
              <p> <a href="claimant-response/admit-the-claim/task-list?payment=full" class="button secondary-button">View and respond to the offer</a></p>


            {% elseif data['claimant'] == 6  %}
            <div class="status-block single">
             <h2 class="heading-small">The defendant's response</h2>
             <p>Mary Richards believes that they've paid the claim in full. Email moneyclaims@hmcts.gsi.gov.uk if you want to proceed with the claim you must do this before 4pm on <span class="dates3"></span>.
                <p> <a class="" href="../defendant/correspondence/forms/claim-form-defendant?check=8">Download their response</a> </p>
            </div>
            {% elseif data['claimant'] == 8  %}
            <div class="status-block single">
             <h2 class="heading-small">The defendant's response</h2>
             <p>Mary Richards has rejected your claim. We’ll send you a directions questionnaire – this is a form which you must complete to tell us more about the claim.</p>
             <p> <a class="" href="../defendant/correspondence/forms/claim-form-defendant?check=9">Download their response</a></p>
           </div>
           {% elseif data['claimant'] == 9  %}
           <div class="status-block single">
             <h2 class="heading-small">The defendant's response</h2>
             <p>Mary Richards has rejected the claim. They’ve suggested mediation to help resolve this dispute.</p><p> Tell us whether you agree to mediation or not by emailing moneyclaims@hmcts.gsi.gov.uk before 4pm on <span class="dates5"></span>.</p>
             <p> <a class="" href="../defendant/correspondence/forms/claim-form-defendant?check=9">Download their response</a></p>
           </div>
            {% elseif data['claimant'] == 10.1 or data['claimant'] == 10.62 %}
              <h2 class="heading-small">A settlement agreement has been made</h2>
              <p>Both you and the defendant have signed a settlement agreement saying the defendant can pay you in instalments of £250 per month, starting 1 {{ now |  date("add", 1, "month") | date( "MMMM YYYY" ) }}.</p>
              <p><a href="#">View settlement agreement</a></p>
              <p>When you have been paid in full, you need to <a href="idam/contact-us?type=service_specific">contact the court</a> to let them know.</p>
              {% elseif data['claimant'] == 10.11 %}
              <h2 class="heading-small">A County Court Judgment has been issued</h2>
              <p>You have accepted the defendant's repayment plan and a County Court Judgment has been issued.</p>
              <p><a href="#">View judgment</a></p>
              <p>When you have been paid in full, you need to contact the court to let them know.</p>


              {% elseif data['claimant'] == 10.2 %}
              <h2 class="heading-small">Repayment plan proposed</h2>
              <p>You have proposed a repayment plan of £250 per month, starting 1 {{ now |  date("add", 1, "month") | date( "MMMM YYYY" ) }}.</p>
              <p>We'll contact you when they've responded to your proposal.</p>
              {% elseif data['claimant'] == 10.3 %}
              <h2 class="heading-small">Payment determined</h2>
              <p>The court has determined a repayment plan.</p>
              {% elseif data['claimant'] == 10.4 %}
              <h2 class="heading-small">A settlement agreement has been made</h2>
              <p>Both you and the defendant have signed a settlement agreement saying the defendant can pay you in full by {{ now |  date("add", 3, "months") | date( "D MMMM YYYY" ) }}.</p>
              <p><a href="#">View settlement agreement</a></p>
              {% elseif data['claimant'] == 4.2 %}
              <h2 class="heading-small">The defendant will pay you immediately</h2>
              <p>The defendant said they will pay you immediately. They have until {{ now | date('add', 5, 'days') | date }} for the money to reach you.</p>
              <p>When you have been paid, you need to <a href="idam/contact-us?type=service_specific">contact the court</a> to let them know.</p>
              <h3 class="heading-small">What to do if they don't pay</h3>
              <p>If you have not been paid by {{ now | date('add', 5, 'days') | date }}, you will then be able to request a County Court Judgment and enforcement.</p>
              {% elseif data['claimant'] == 4.3 %}
              <h2 class="heading-small">The defendant will pay you immediately</h2>
              <p>The defendant said they would pay you by {{ now | date('subtract', 1, 'days') | date }}. Any cheques or transfers should be clear in your account by this date.</p>
              <p>When you have been paid, you need to <a href="idam/contact-us?type=service_specific">contact the court</a> to let them know.</p>
              <h3 class="heading-small">What to do if they haven't paid</h3>
              <p>If you have not been paid as agreed, you can <a href="applications-and-judgments/default-judgment?radio-proceed=none">request a County Court Judgment</a> and enforcement.</p>

              {% elseif data['claimant'] == 10.6 %}
              <h2 class="heading-small">Awaiting judge's repayment plan</h2>
              <p>You have rejected the defendant's proposed repayment plan and been unable to agree a suitable alternative.</p>
              <p>A judge will determine a suitable repayment plan within the next 10 days. We'll contact you when it's available.</p>

              {% elseif data['claimant'] == 10.61 %}
              <h2 class="heading-small">You've signed a settlement agreement</h2>
              <p>You have signed a settlement agreement saying the defendant can pay you in instalments of £250 per month, starting 1 May 2018.</p>
              <p>We've emailed Mary Richards the repayment plan and the settlement agreement for them to sign. We'll contact you when they've responded.</p></p>
            <p><a href="">View the settlement agreement</a></p>
              {% elseif data['claimant'] == 10.8 %}
              <h2 class="heading-small">Awaiting judge's repayment plan</h2>
              <p>The defendant feels your proposed repayment plan is unaffordable.</p>
              <p>A judge will determine a suitable repayment plan within the next 10 days. We'll contact you when it's available.</p>


           {% elseif data['claimant'] ==10 or data['claimant'] == 11 %}
           <div class="status-block">
            <h2 class="heading-small">Settle out of court</h2>
            <p>Mary Richards has made an offer to settle out of court. You must accept or reject by 4pm on  <span class="dates4"></span>.</p>
            <p><a href="offer-agreement/view-offer?defendant=offer">View and respond to the offer</a></p>
          </div>
          <div class="status-block single">
            <h2 class="heading-small">The defendant's response </h2>
            <p>Mary Richards has rejected your claim. We’ll send you a directions questionnaire – this is a form which you must complete to tell us more about the claim. </p>
            <p> <a class="" href="../defendant/correspondence/forms/claim-form-defendant?check=9">Download their response</a> </p>
          </div>

          {% elseif data['claimant'] == 12 %}
                     <div class="status-block">
            <h2 class="heading-small">Settle out of court</h2>
            <p>You've rejected the defendant's offer to settle out of court. You won't receive any more offers from the defendant.</p>
          </div>
          <div class="status-block single">
            <h2 class="heading-small">The defendant's response </h2>
            <p>Mary Richards has rejected your claim. We’ll send you a directions questionnaire – this is a form which you must complete to tell us more about the claim. </p>
            <p> <a class="" href="../defendant/correspondence/forms/claim-form-defendant?check=9">Download their response</a> </p>
          </div>

          {% elseif data['claimant'] == 16 %}
          <div class="status-block">
            <h2 class="heading-small">Settle out of court</h2>
            <p>You've agreed to the offer made by Mary Richards and signed an agreement to settle your claim.</p>
            <p>We’ve asked Mary Richards to sign the agreement.</p>
          </div>
          <div class="status-block single">
            <h2 class="heading-small">The defendant's response </h2>
            <p>Mary Richards has rejected your claim. We’ll send you a directions questionnaire – this is a form which you must complete to tell us more about the claim. </p>
            <p> <a class="" href="../defendant/correspondence/forms/claim-form-defendant?check=9">Download their response</a> </p>
          </div>
          {% elseif data['claimant'] == 17  %}
          <div class="status-block single">
            <h2 class="heading-small">Agreement signed</h2>


            <p>You've both signed a legal agreement. The claim is now settled.</p>

              <p>The agreement explains what can happen if either party breaks the terms.</p>

            <p> <a class="" href="../defendant/correspondence/forms/agreement?check=2">Download the agreement</a> </p>
          </div>
          {% elseif data['claimant'] == 12  %}
          <div class="">
           <h2 class="heading-small">The case will be reviewed by a judge</h2>
           <p>You have rejected the defendant's response and asked for the claim to be reviewed by a judge. We'll contact you if a hearing date is scheduled and explain what you need to do to prepare. </p
           </div>
           {% elseif data['claimant'] == 13  %}
           <div class="">
            <h2 class="heading-small">You've requested free mediation  </h2>
            <p>The defendant Mary Richards will be asked if they would like free mediation. We will notify you once the defendant responds.</p>
          </div>
          {% elseif data['claimant'] == 14  %}
          <h2 class="heading-small">The defendant has accepted mediation  </h2>
          <div class="">
            <p>A mediator will contact both the defendant and you within the next 14 days to arrange an appointment.</p>
          </div>
          {% elseif data['claimant'] == 15  %}
          <h2 class="heading-small">The case will be reviewed by a judge</h2>
          <div class="">
            <p>You have rejected the defendant's response and asked for the claim to be reviewed by a judge. We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>
          </div>
          {% elseif data['claimant'] == 17  %}
          <h2 class="heading-small">You settled out of court</h2>
          <div class="">
            <p>   You both signed an agreement toSettle out of court The claim is now closed.</p>
            <p><a href='#'>View agreement.</a></p>
          </div>
          {% elseif data['claimant'] == 18  %}
          <h2 class="heading-small">You need to respond to this counterclaim</h2>
          <p>You need to respond by <span class="dates"></span> (14 days
          remaining). </p>
          <p><a class="" href="view-claims/view-counterclaim1">View and respond to the counterclaim </a></p>
          <p>If you don't respond Mary Richards can ask for a default County Court Judgment (CCJ) against you. A CCJ means the court orders you to pay the money.</p>
          <div class="form-group">
          </div>
          {% endif %}
          {% if data['claimant'] == 19  %}
          <div class="">
            <h2 class="heading-small">The defendant's response </h2>
            <p>The defendant Mary Richards has rejected your the claim. </p>
            <div class="form-group">
              <p> <a class="" href="claimant-response/dispute-claim/view-response?mediation=no">View full response </a></p>
            </div>
          </div>
          {% endif %}
        </div>
        {% if data['claimant'] == 10 or data['claimant'] == 11 or data['claimant'] == 12 or data['claimant'] == 16   %}
        <div id="tabs-3" class="tab-pane">
         {% if data['claimant'] == 10 or  data['claimant'] == 11%}
         <h2 class="heading-medium">The defendant wants toSettle out of court </h2>
         <p>Mary Richards has made an offer toSettle out of court You can accept, reject or make a counter offer.</p>
         <a href="offer-agreement/view-offer?defendant=offer">View and respond to offer.</a>
         {% elseif data['claimant'] == 12   %}
         <h2 class="heading-medium">Your offer has been sent to the defendant </h2>
         <p>Mary Richards can accept, reject or make a counter offer. We'll email you when they respond.</p>
         <p>If you settle out of court you’ll sign an agreement that replaces the claim. Until then the claim continues and might go to a court hearing.</p>
         {% elseif data['claimant'] == 16  %}
         <h2 class="heading-medium">Sign a legal agreement to settle out of court</h2>
         <div class="">
          <p>   The defendant has accepted your offer. You need to sign a legal agreement toSettle out of court Mary Richards has signed the agreement.</p>
          <p><a href='offer-agreement/agreement'>View and sign the agreement. </a></p>
        </div>
        {% elseif data['claimant'] == 17  %}
        <h2 class="heading-medium">Sign a legal agreement to settle out of court</h2>
        <div class="">
          <p>   The defendant has accepted your offer. You need to sign a legal agreement toSettle out of court Mary Richards has signed the agreement.</p>
          <p><a href='offer-agreement/agreement'>View and sign the agreement. </a></p>
        </div>
        {% endif %}
      </div>
      {% endif %}
        {% if  data['claimant'] == 10.1 or data['claimant'] == 10.62 or data['claimant'] == 10.2 or data['claimant'] == 10.3 or data['claimant'] == 10.4  %}

          <h2 class="heading-medium">More options </h2>
     <h2 class="heading-small">Request County Court Judgment and enforcement</h2>

              <p>
                If the defendant does not pay you as agreed and breaks the settlement agreement, you can <a href='applications-and-judgments/default-judgment'>request a County Court Judgment</a> against Mary Richards and <a href='#'>ask the court to enforce payment</a>.
              </p>
        {% endif %}
    </div>
  </div>
</div>
<div class="column-one-third">
  {% if data['claimant'] == 1.2   %}
  {% elseif data['claimant'] == 18  %}
  <div class="meta-data">
    <p  class="heading-small" style="padding-top: 100px">About counterclaim</p>
    <ul role="navigation" class="font-xsmall list">
      <li><strong class="bold">Defendant name:</strong><br> <a href="party-details/defendant">Mary Richards</a></li>
      <li><strong class="bold">Claim amount:</strong><br>£3240.34 </li>
    </ul>
  </div>
  {% else %}
  <div class="meta-data">
    <p  class="heading-small" style="padding-top: 100px">About claim</p>
    <ul role="navigation" class="font-xsmall list">
      <li><strong class="bold">Defendant name:</strong><br> <a href="party-details/defendant">Mary Richards</a></li>
      <li><strong class="bold">Claim amount:</strong><br>£1500.00 </li>
      <li><strong class="bold">Claim details:</strong><br><a href="../claimant/correspondence/claim-form-claimant?check=1">Download claim</a> </li>
      {% if data['claimant'] == 16 or  data['claimant'] == 17%}
      <li><strong class="bold">Defendant's response:</strong><br><a href="../defendant/correspondence/forms/claim-form-defendant?check=9">Download response</a> </li>
      {% else %}
      {% endif %}
    </ul>
  </div>
  {% endif %}
</div>
</div>
</main>
<form method="post"  action="#" class="form" style="position: absolute;">
  <select id="claimant2" name="claimant2" onchange="window.location.href='?claimant='+this.value">
    <option  value="0" >Choose</option>
    <option value="1.2" {% if data['claimant'] == 1.2 %}selected{% endif %}>0. Draft claim</option>
    <option value="1" {% if data['claimant'] == 1 %}selected{% endif %}>1. Claim being processed</option>
    <option value="3.1" {% if data['claimant'] == 3.1 %}selected{% endif %}>2. More time requested by defendant</option>
    <option  value="2" {% if data['claimant'] == 2 %}selected{% endif %}>3. Request a CCJ</option>
    <option value="3" {% if data['claimant'] == 3 %}selected{% endif %}>3.1. CCJ has been requested </option>
    <option>------- Defendant responses  ----------</option>
        <option value="4" {% if data['claimant'] == 4 %}selected{% endif %}>4.0. Admit all the claim  - pay in instalments</option>
    <option value="4.1" {% if data['claimant'] == 4.1 %}selected{% endif %}>4.1 Admit all the claim  - pay in full on set date</option>
    <option value="4.2" {% if data['claimant'] == 4.2 %}selected{% endif %}>4.2 Admit all the claim  - pay in full immediately</option>
    <option value="4.3" {% if data['claimant'] == 4.3 %}selected{% endif %}>4.3 Admit all the claim  - pay in full immediately - not paid</option>
    <option value="5" {% if data['claimant'] == 5 %}selected{% endif %}>5. Part admit the claim  </option>
    <option value="6" {% if data['claimant'] == 6 %}selected{% endif %}>6. Paid what I believe i owe - claim amount  </option>
    <option value="8" {% if data['claimant'] == 8 %}selected{% endif %}>8. Dispute claim   </option>
    <option value="9" {% if data['claimant'] == 9 %}selected{% endif %}>9. Dispute claim + mediation   </option>
    <option>------- Claimant responses  ----------</option>
    <option value="10" {% if data['claimant'] == 10 %}selected{% endif %}>10. Dispute claim + offer made  </option>

    <option value="10.1" {% if data['claimant'] == 10.1 %}selected{% endif %}>10.1. Accepted repayment plan - settlement</option>
    <option value="10.11" {% if data['claimant'] == 10.11 %}selected{% endif %}>10.11. Accepted repayment plan - judgment</option>
<!--    <option value="10.2" {% if data['claimant'] == 10.2 %}selected{% endif %}>10.2. Accepted court repayment plan</option>  -->
<!--    <option value="10.11" {% if data['claimant'] == 10.11 %}selected{% endif %}>10.11. Accepted repayment plan - not due</option>  -->
<!--    <option value="10.3" {% if data['claimant'] == 10.3 %}selected{% endif %}>10.3. Repayment plan determined</option> -->
    <option value="10.4" {% if data['claimant'] == 10.4 %}selected{% endif %}>10.4. Accepted full payment on set date</option>
    <option value="10.6" {% if data['claimant'] == 10.6 %}selected{% endif %}>10.6. Repayment plans rejected - redetermination</option>
    <option value="10.61" {% if data['claimant'] == 10.61 %}selected{% endif %}>10.61. Repayment plans rejected - countered</option>
    <option value="10.62" {% if data['claimant'] == 10.62 %}selected{% endif %}>10.62. Repayment plans rejected - countered  - accepted</option>
    <option value="10.8" {% if data['claimant'] == 10.8 %}selected{% endif %}>10.8. Repayment plans rejected - countered - rejected</option>

    <option>------- Offer and agreements  ----------</option>
    <option value="11" {% if data['claimant'] == 11 %}selected{% endif %}>11. Offer from defendant  </option>
    <option value="12" {% if data['claimant'] == 12 %}selected{% endif %}>12. Reject offer from defendant  </option>
    <option value="16" {% if data['claimant'] == 16 %}selected{% endif %}>13. Accept offer  </option>
    <option value="17" {% if data['claimant'] == 17 %}selected{% endif %}>14. Agreement signed by both parties  </option>
  </select>
</form>
{% endblock %}
{% block extra_js_1 %}
<script src="/public/javascripts/jquery-ui.js"></script>
<script type="text/javascript">
  window.moj.init();
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
{% endblock %}
