{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <!--<div class="breadcrumbs">-->
  <!--<ol>-->
  <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
  <!--</ol>-->
  <!--</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        If this agreement is broken
      </h1>

      <p class="lede">If the other party breaks this agreement you can ask the court to enter judgment for you.</p>
      <!--<ul class="list list-bullet">-->
      <!--<li class="lede">enter judgment for you</li>-->
      <!--<li class="lede">reopen the claim for a hearing for the full amount claimed</li>-->
      <!--</uL>-->

      <fieldset></fieldset>
      <details>
        <summary><span class="summary">How to enter judgment</span></summary>
        <div class="panel panel-border-narrow">
          <p>You'll need to complete <a class="external" rel="external"
                                        href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=484"
                                        target="_blank">N244 General Form of
            Application</a>.</p>
        </div>
      </details>

      <!-- <details>
        <summary><span class="summary">What happens if judgment is entered</span></summary>
        <div class="panel panel-border-narrow">
          <p>Content to set expectations regarding what happens next...?</p>
        </div>
      </details> -->

      <fieldset></fieldset>

      <!--<div class="form-group"><a name="hasacceptedtermsandconditions"></a>-->

      <!-- <div class="multiple-choice">
        <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
        data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
        name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
        <label for="HasAcceptedTermsAndConditions">I have read and understood the above.</label>
      </div> -->
      <!--<span class="field-validation-valid"-->
      <!--data-valmsg-for="HasAcceptedTermsAndConditions"-->
      <!--data-valmsg-replace="true" aria-live="polite"></span></div>-->

      <a class="button" href="../review-agreement-2" role="button">Accept and return to overview</a>

    </div>
  </div>


</main>


{% endblock %}
