{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <h1 class="heading-xlarge">
    Review agreement
  </h1>

  <div class="claim-hgroup">
    <div class="column-one-third">
      <h1>
        Case number:
        <span class="case-number-header">
                CF91-BK65</span>
      </h1>
    </div>

    <!--<div class="column-one-third">-->
    <!--<div class="claim-status" tabindex="0">-->
    <!--Status:-->
    <!--<span class="state state-authorised">-->
    <!--Agreement</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<fieldset></fieldset>-->

    <div class="column-one-third">
      <h1>
        Claimant:
        <span class="case-number-header">
Jan Clark
</span>
      </h1>
    </div>

    <div class="column-one-third">
      <h1>
        Defendant:
        <span class="case-number-header">
Mary Richards
</span>
      </h1>
    </div>
  </div>

  <br>

  <div class="divider"></div>

  <h2 class="heading-medium">The parties agreed the following:</h2>

  <div class="agreement-details">
    <dl class="date-time">
      <dt>What</dt>
      <dd>Mary Richards will organise for the roof to be repaired on or before 1 May.</dd>
    </dl>

    <dl class="address">
      <dt>Amount</dt>
      <dd>Jan Clark will pay Mary Richards £50 to cover the materials.</dd>
    </dl>

    <dl class="disabled-access">
      <dt>How</dt>
      <dd>By cash or bacs</dd>
    </dl>

    <dl class="representative">
      <dt>When</dt>
      <dd>Payment to be made on the day after the completion of the repairs.</dd>
    </dl>

  </div>

  <fieldset></fieldset>

  <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
    <!--<div class="subsection-controls js-subsection-controls">-->
      <!--<button aria-expanded="false"-->
              <!--aria-controls="subsection_content_0 subsection_content_1 subsection_content_2 subsection_content_3 ">-->
        <!--Open all-->
      <!--</button>-->
    <!--</div>-->
    <br>
    <br>

    <div class="subsection-wrapper">

      <div class="js-subsection subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="discussion-history">
            <button class="subsection__button js-subsection-button" aria-expanded="false"
                    aria-controls="subsection_content_0">Discussion history
            </button>
          </h2>
          <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
          <div class="messages-container no-print">
            <div class="messages-list">

              <fieldset class="single-date">
                <legend class="visuallyhidden">
                  07/04/2016
                </legend>
                <div class="event-date">
                  07/04/2016
                </div>

                <div class="grid-row history">
                  <div class="column-third">
                    &nbsp;
                  </div>
                </div>

                <div class="grid-row message" id="1">
                  <div class="column-two-thirds">
                    <div class="message-left">
                      <div class="message-container">
                        <div class="message-body">
                          <fieldset></fieldset>
                          <strong class="bold-small">Mary Richards made a suggestion:</strong>
                          <ul class="list list-bullet">
                            <li>Mary Richards to repair the roof on or before 1 June.</li>
                            <li>Jan Clark will pay Mary Richards £50 to cover the materials.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="single-date">
                <legend class="visuallyhidden">
                  08/04/2016
                </legend>
                <div class="event-date">
                  08/04/2016
                </div>

                <div class="grid-row history">
                  <div class="column-third">
                    &nbsp;
                  </div>
                </div>

                <div class="grid-row message" id="2">
                  <div class="column-third">
                    &nbsp;
                  </div>
                  <div class="column-two-thirds">
                    <div class="message-right">
                      <div class="message-container">
                        <div class="message-body">
                          <fieldset></fieldset>
                          <strong class="bold-small">Jan Clark replied:</strong>
                          <ul class="list list-bullet">
                            <li>I agree to the repair of the roof but it must be done on or before 1 May.</li>
                            <li>I agree to pay £50 to cover the materials.</li>
                          </ul>
                        </div>
                        <!--<div class="grid-row message-audit">-->
                        <!--Jan Clark-->
                        <!--15:35-->
                        <!--</div>-->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="grid-row message" id="">
                  <div class="column-two-thirds">
                    <div class="message-left">
                      <div class="message-container">
                        <div class="message-body">
                          <fieldset></fieldset>
                          <strong class="bold-small">Mary Richards accepted the suggestion:</strong>
                          <ul class="list list-bullet">
                            <li>Mary Richards to repair the roof on or before 1 May.</li>
                            <li>Jan Clark to pay £50 to cover the cost of materials.</li>
                            <li>Payment to be made by cash or bacs on the day after completion of the repairs.</li>
                          </ul>
                        </div>
                        <!--<div class="grid-row message-audit">-->
                        <!--&nbsp; &nbsp; &nbsp;-->
                        <!--Mary Richards-->
                        <!--14:22-->
                        <!--</div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="single-date">
                <legend class="visuallyhidden">
                  09/04/2016
                </legend>
                <div class="event-date">
                  09/04/2016
                </div>

                <div class="grid-row history">
                  <div class="column-third">
                    &nbsp;
                  </div>
                </div>

                <div class="grid-row history">
                  <div class="column-third">
                    &nbsp;
                  </div>
                  <div class="column-two-thirds">
                    <div class="message-right">
                      <div class="message-container">
                        <div class="message-body">
                          <p>
                            Your agreement is generated
                          </p>
                          <div class="grid-row message-audit">
                            (System)
                            14:25
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>

        <div class="js-subsection subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="agreement-breached">
              <button class="subsection__button js-subsection-button" aria-expanded="false"
                      aria-controls="subsection_content_1">If the agreement is broken
              </button>
            </h2>
            <span class="subsection__icon"></span></div>
          <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
            <p>If the agreement is broken Jan Clark can restart the claim against Mary Richards.</p>
          </div>
        </div>
      </div>
    </div>

  <fieldset></fieldset>

    <a href="agreement" class="button">Review agreement</a>


</main>


{% endblock %}

