{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="#" class="link-back">Back</a>

  <h1 class="heading-xlarge">
    Check your answers
  </h1>

  <table class="check-your-answers">

    <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
          Your request for judgment
        </h2>
      </th>
      <th>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        Claimant's details
      </td>
      <td>
        Jan Clark<br>
        12 Nelson Road<br>
        Reading<br>
        RG1 1AA<br>
        Tel: 07757 738 459<br>
        Email: jan65@gmail.com
      </td>
      <td class="change-answer">
        <a href="details-claimant">
        Change <span class="visuallyhidden">Claimant details</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Defendant's details
      </td>
      <td>
        Mary Richards<br>
        101 Regent Road<br>
        Shiplake<br>
        RG9 4BW<br>
        Tel: 01234 567 890<br>
        Email: maryrichards@hotmail.com
      </td>
      <td class="change-answer">
        <a href="details-defendant">
          Change <span class="visuallyhidden">Defendant details</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Defendant's date of birth
      <td>
        Not sure<br>
      </td>
      <td class="change-answer">
        <a href="defendant-DOB">
          Change <span class="visuallyhidden">Defendant's date of birth</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Amount to be paid by defendant
      <td>
        £1643.20<br>
      </td>
      <td class="change-answer">
        <a href="claim-amount">
          Change <span class="visuallyhidden">Amount to be paid by defendant</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Judgement details
      <td>
        Pay full amount by 12 December 2017
      </td>
      <td class="change-answer">
        <a href="payment-options">
          Change <span class="visuallyhidden">Judgment details</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Declaration</h2>

  <p class="text">
    By signing this you confirm that, to the best of your knowledge, the details you have
    provided are correct.</p>

  <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      Once you click 'Sign and submit', you cannot change your answers
    </strong>
  </div>

  <a href="confirmation-instalments" class="button">Sign and submit</a>


</main>


{% endblock %}

