{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Amount to be paid by defendant
      </h1>

      <!--<div class="data">-->
      <!--<span class="data-item bold-xxlarge">£195.00</span>-->
      <!--<span class="data-item bold-xsmall">Total amount payable by defendant</span>-->
      <!--</div>-->

      <div class="callout callout-reference"><p>Total amount payable by defendant</p>
        <span class="bold-large number">£195.00</span>
      </div>

      <p>
        Amount payable by defendant is calculated based on the amount you're claiming and any other costs
        minus any payment received.
      </p>

      <!--<details>-->
        <!--<summary><span class="summary">How is it calculated</span></summary>-->
        <!--<div class="panel panel-border-narrow">-->
          <!--<p>-->
            <!--Amount payable by defendant is calculated based on the amount you're claiming and any other costs-->
            <!--minus any payment received.-->
          <!--</p>-->
        <!--</div>-->
      <!--</details>-->

      <!-- Claim amount -->
      <!--<p class="heading-medium">What you're owed</p>-->

      <!--<legend class="visually-hidden">What you're owed</legend>-->

      <!--<input class="fee pound costs-column-1" maxlength="8" size="8" type="text" value="1500"-->
      <!--name="claim[fee][court_fee]"-->
      <!--id="claim[fee][court_fee]">-->

      <!--<fieldset></fieldset>-->

      <table>
        <thead>
        <tr>
          <th class="heading-medium" colspan="2">Claim amount and costs</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr>-->
        <!--<td>Interest <br>(since date of claim)-->
        <!--</td>-->
        <!--<td>-->
        <!--<select class="form-control" id="select-box">-->
        <!--<option>Select rate</option>-->
        <!--<option>8% flat rate</option>-->
        <!--<option>A different rate</option>-->
        <!--</select> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong class="bold">£XX</strong></td>-->
        <!--</tr>-->
        <tr>
          <td>Claim amount</td>
          <td><strong class="bold">£1500</strong></td>
        </tr>
        <tr>
          <td>Claim fee</td>
          <td><strong class="bold">£75</strong></td>
        </tr>
        <tr>
          <td>Legal Representative's costs <br> on making claim (if any)</td>
          <td><input class="fee pound" maxlength="10" size="10" type="text" value=""
                     name="costs-column-1"
                     id=""></td>
        </tr>
        <tr>
          <td>Legal Representative's costs <br> on entering judgment (if any)</td>
          <td><input class="fee pound" maxlength="10" size="10" type="text" value=""
                     name="costs-column-1"
                     id=""></td>
        </tr>
        </tbody>
      </table>

      <fieldset></fieldset>

      <p class="heading-medium">Deduct amount paid already (if any)</p>

      <legend class="visually-hidden">Deduct amount paid (if any)</legend>

      <input class="fee pound costs-column-1" maxlength="8" size="8" type="text" value=""
             name="claim[fee][court_fee]"
             id="paid">

      <fieldset></fieldset>

    </div>

    <fieldset></fieldset>

    <a class="button" href="payment-options">Continue</a>

  </div>
  </div>
  </div>
</main>


{% endblock %}

