{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Judgment details
      </h1>

      <p class="lede">The court will enter a judgment in your favour, Mary Richards is no longer able to file a
        response.</p>

      <h1 class="heading-medium">
        I would like the defendant to be ordered to:
      </h1>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-pay-group', ['Immediately', 'Instalments', 'Set-date'], ['check-your-judgment', 'repayment-plan', 'pay-by-set-date']);return false;"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">What do you want to do?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-pay-group" value="Immediately">
              <label for="radio-yes" data-target="yes-info">Pay immediately</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-repayment" type="radio" name="radio-pay-group" value="Instalments">
              <label for="radio-repayment" data-target="repayment-info">Pay by installments (monthly)</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-pay-group" value="Set-date">
              <label for="radio-no" data-target="no-info">Pay full amount by a set date</label>
            </div>
          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button"
               data-ignore-double-submit="true">

      </form>

    </div>
  </div>
</main>


{% endblock %}
