{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-three-quarters">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        <span class="heading-secondary">PW1241/KU</span>
        Claimant v Defendant
      </h1>


      <fieldset></fieldset>

      <div class="js-tabs"> <!-- JS will add .tabs class -->
        <ul class="list list-bullet">
          <li><a class="tabs__link" href="#timeline">Claim statuses</a></li>
          <li><a class="tabs__link" href="#application">Claim details</a></li>
          <li><a class="tabs__link" href="#actions">Documents</a></li>
        </ul>

        <!-- Tab 1 -->
        <div class="grid-row">
          <div class="row">
            <div class="column-two-thirds">
              <div id="timeline" class="tab-content">
                <h4 class="heading-medium bottom_10">Statuses</h4>

                <div class="case-timeline">
                  <ul>
                    <li class="action_needed">
                      <h2>Lorem ipsum dolor sit</h2>
                      <p class="time">3 October 2018 at 6:34PM</p>
                      <p>Description goes here...</p>
                      <p><a class="button" href="#0">View response</a></p>
                    </li>
                    <li>
                      <h2>Claim issued</h2>
                      <p class="time">26 September 2018</p>
                    </li>
                    <li>
                      <h2>Claim submitted - reference 000LR095</h2>
                      <p class="time">25 September 2018</p>
                      <div class="case-timeline-details">
                        <details>
                          <summary>Details</summary>
                          <span>Time stamp: 25 September 2018 at 6:34PM</span>
                        </details>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div id="timeline" class="tab-content">-->
        <!--<h2 class="heading-medium">Claim statuses</h2>-->
        <!--<table>-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>Status update</td>-->
        <!--<td>DD MMM YYYY</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Claim was submitted</td>-->
        <!--<td>DD MMM YYYY</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->

        <!-- Tab 2 -->
        <div id="application" class="tab-content">

          <!-- PERSONAL DETAILS TAB -->
          <div id="tabTwoContent">
            <h4 class="heading-medium bottom_10">Claimant's details</h4>
            <table class="top_10">
              <tbody>
              <tr>
                <th class="bold" style="border: none">Name</th>
                <td style="border: none">Mrs Jan Clark</td>
              </tr>
              <tr>
                <th class="bold" style="border: none">Address</th>
                <td style="border: none">101 Regents road<br>Shiplake<br>Henley on Thames<br>RG9 4BW
              <tr>
                <th class="bold" style="border: none">Date of birth</th>
                <td style="border: none">31 January 1970</td>
              </tr>
              <tr>
                <th class="bold" style="border: none">Telephone</th>
                <td style="border: none">07824999612</td>
              <tr>
                <th class="bold" style="border: none">Email</th>
                <td style="border: none">jan.clark@gmail.com</td>
              </tr>
              </tbody>
            </table>
          </div>


        </div>

        <!-- Tab 3 -->
        <div id="actions" class="tab-content">
          <!-- DOCUMENTS TAB -->
          <h4 class="heading-medium bottom_10">Documents</h4>
          <table class="top_10">
            <tbody>
            <tr>
              <th class="bold" style="border: none">Downloads</th>
              <td style="border: none">
                <!-- Thumbnail - small icon -->
                <div class="download-file">
                  <img src="../../../public/images/Thumbnail icon - small.png" title="document title">
                  <div class="download-file-text">
                    <span id="nonActiveLink" class="font-xsmall">Claim form</span>
                    <span class="font-xsmall">123KB, PDF</span>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <!--<p id="nonActiveLink" class="top_15">Add documents</p>-->
        </div>
      </div>

    </div>

    <div class="column-one-quarter">
      <aside class="govuk-related-items" role="complementary" style="margin-top: 100px">

        <!--<h3 class="heading-small" style="margin-top:.42105em">Case options</h3>-->
        <!--<p class="font-xsmall">PW1241/KU</p>-->
        <!--<hr class="bold-hr">-->
        <h3 class="heading-medium" style="margin-top:.42105em">Case options</h3>
        <p id="withdrawLink"><a
          href="">Withdraw claim</a></p>
      </aside>
    </div>

  </div>
</main>


{% endblock %}
