{% extends "layout.html" %} {% block page_title %} Insure your car {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/driving/task_list{{formQuery}}">Learn to drive</a>
      </li>
      <li>
        Insure your car
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list#insure_car" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Insure your car
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Insure your car
          </legend>

          <p id="reason_for_task">You must have motor insurance to drive your car on UK roads.</p>

          <p>Third party insurance is the legal minimum. This means you’re covered if you have an accident causing damage or injury to any other person, vehicle, animal or property. It doesn’t cover any other costs like repair to your own vehicle.</p>

          <p>You may want to use an insurance broker.</p>

          <p>Tasks to insure your car:</p>

          <ol class="list list-number">
            <li>choose insurance provider</li>
            <li>pay for insurance</li>
            <li>get proof of insurance</li>
          </ol>

          <input type="hidden" name="insure_car" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – I've insured my car" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}