{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Repayment plan sent 
            </h1>

            <p>We've sent your suggested repayment plan to Jan Clark. We've also sent a copy to: <span class="bold">maryrichards@hotmail.com</span></p>

            <h2 class="heading-medium">What happens next</h2>
            <p>Jan Clark has 5 days to respond. They can accept your plan, reject it, or suggest an alternative. We'll update you by email and SMS if this happens.</p>

            <p>If your plan is rejected, or there is no response, the court will decide how you pay the money.</p>

            <p class="panel panel-border-wide">
                If your plan is accepted but you don't keep up repayments, Jan Clark can restart the claim.
            </p>

            <!--<a class="button" href="#" role="button">View all claims</a>-->
        </div>
    </div>
</main>


{% endblock %}

