{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

          <a href="#" class="link-back">Back</a>

            <h1 class="heading-xlarge">
                Speak to someone about your situation
            </h1>

            <p>You might find it helpful to talk to a <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">free debt advice service</a>.</p>

            <p>You can also contact a court advisor on 0300 122 2726. They can help you decide what you can afford to pay and when. 

            This is a free number but there could be a charge from your mobile.</p>

            <p>If you don't respond to this claim it could affect your credit rating. This makes it harder to do things like get a mobile contract or a mortgage.</p>

            <!--<a class="button" href="#" role="button">View all claims</a>-->
        </div>
    </div>
</main>


{% endblock %}

