{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#your-offer').html(formParam('offer'));
    });
  </script>

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="breadcrumbs">
    <ol>
      <li>
        <a href="../task-list">Respond to a money claim</a>
      </li>
      <li>
        Free mediation
      </li>
    </ol>
  </div>

      <h1 class="heading-xlarge">
        Free mediation
      </h1>

      <p class="lede">Many people resolve their dispute before a hearing by taking part in telephone mediation.</p>

      <p>Mediation can reduce the time taken to settle a claim. If you decide to go to court, you may have to wait up to 9,000 years. Mediation can resolve a claim in under 2 minutes.</li>
<p><i>other benefits here</i></p>
<p><i>and maybe this next set of bullets should go in a reveal link - 'How does mediation work?'</i></p>
<p>A mediator will:</p>
      <ul class="list list-bullet">
        <li>listen to each side separately - you won’t talk directly to the other side</li>
        <li>ask you to consider what the other side says</li>
        <li>help you reach an agreement, if possible</li>
      </ul>

      <h1 class="heading-medium">
        Will you try mediation?
      </h1>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="conditionalNavigation('radio-indent-group', 'Yes', 'mediation-confirmation', 'no-mediation-confirmation');return false;"
        id="aspnetForm"
        autocomplete="off">

        <input id="your-offer" name="offer" type="hidden">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Will you try mediation?</legend>

            <p>Over 68% of people who use our mediation service settle on the day.*</p>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes, I want help to resolve this dispute</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="yes-info">
              <p>If both you and {{ partyName( 'claimant' ) }} say yes, we'll contact you to try to arrange an appointment and answer
                any questions you have.</p>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">No, I don't want mediation</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="no-info">
              <p>If you can reach an agreement with {{ partyName( 'claimant' ) }} you don't need to go to a hearing. You'll need to
                explain your side and if the court
                decides you owe the money, you might have to pay more or get a <a
                  href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County
                  Court Judgment (CCJ)</a> made against you.</p>
            </div>

          </fieldset>
                         <input type="hidden" name="mediation" value="complete">

          <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
                 data-ignore-double-submit="true">
        </div>
      </form>
      <p></p><br>
      <p>*Source: Small Claims Mediation Service statistics, April 2015 to March 2016.
      <p/>

    </div>
  </div>
{% include 'prototypes/prototype-dec-2019/includes/contact.html' %}
</main>
{% endblock %}
