{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">

        <h1 class="bold-large">You've asked for a judge to decide a repayment plan</h1>

        <p class="">
					Your claim number: <br><strong class="bold-large">352MC733</strong>
				</p>
        		<p>
					<strong class="bold">{{ now | date }}</strong>
				</p>

    </div>
    <fieldset>
        <h2 class="heading-medium">What happens next</h2>

        <p>A judge will decide what the defendant can afford to pay based on their financial details.</p>
        <p >We'll contact both you and {{ partyName( 'defendant' ) }} to tell you what to do next.</p>

			{% include "includes/survey.html" %}

			<p><a class="button" href='../../dashboard/home?dashboard=1.115'>Go to your account</a></p>

      {% include "includes/contact.html" %}
      </fieldset>

  </div>
</div>
{% include 'prototypes/prototype-feb-2020/includes/contact.html' %}
</main>
{% endblock %}
