{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've uploaded witness statements and documents</h1>
      </div>
    <h2 class="heading-medium">What happens next</h2>

    <p>We'll contact you to tell you what to do next.</p>
    <p>You can't upload any more witness statements or documents.</p>


    <a href="../../home?dashboard={% if data['party'] == 'claimant' %}1.29{% else %}2.723{% endif %}&witness=complete" class="button">Go to your account</a>

    <h2 class="heading-medium" style="margin-bottom: 10px;">Help and support</h2>

{% import 'prototypes/features-to-be-built/includes/contact-in-page.html' as contact %}
{{ contact.output('small') }}
</div>
</div>
</main>
{% endblock %}
