{% extends "driving/layout.html" %} {% block page_title %} Driving lessons {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/driving/task_list">Learn to drive</a>
      </li>
      <li>
        Take your driving test
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list/take_practical_test/show" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Check when your driving test is
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Check when your driving test is
          </legend>

          <div class="form-group">
              <label class="form-label" for="ni-number">
                Driving licence number
                <span class="form-hint">For example ABCDE123456AB1AB</span>
              </label>
              <input class="form-control" id="ni-number" type="text">
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
