{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        You need to give us more information before the hearing
      </h1>

      <p>You need to provide us with the following, or your {% if data['party'] == "defendant" %}defence will be struck out{% else %}claim will not proceed to a trial{% endif %}.</p>

      <hr />

      <h2 class="heading-small">Witness statements</h2>
      {% if data['witness'] == 'complete' %}
      <p>The following documents were uploaded on {{ now | date }}:</p>

      <ul>  
          <li><a href="#">Witness statement - Steve Smith.pdf</a></li>
          <li><a href="#">Witness statement - Ben Clark.docx</a></li>
      </ul>

      {% else %}
      <p>Due by {{ now | date('add', 12, 'days') | date }}</p>
      <p>There are requirements for how witness statements must be written so <a href="/public/images/Witness%20statement.docx">download witness statement template</a> (DOCX, 123KB) or <a href="order-response/witness-statements">view witness statement guidance</a>.
      <div class="form-group">
        <a href="order-response/witness-statements" class="secondary-button">Upload witness statements</a>
      </div>
      {% endif %}

      <hr />

      <h2 class="heading-small">Evidence</h2>

      {% if data['evidence'] == 'complete' %}
      <p>The following documents were uploaded on {{ now | date }}:</p>

      <ul>
        <li><a href="#">Emails.pdf</a></li>
        <li><a href="#">Photo 1.jpg</a></li>
        <li><a href="#">Photo 2.jpg</a></li>
        <li><a href="#">Contract.pdf</a></li>
      </ul>

      {% else %}
      <p>Due by {{ now | date('add', 14, 'days') | date }}</p>
      <p>You must upload and submit copies of any evidence you intend to use at the hearing.
      <div class="form-group">
        <a href="order-response/evidence" class="secondary-button">Upload your evidence</a>
      </div>
      {% endif %}
      <hr />

      <h2 class="heading-small">Expert appointment</h2>

      {% if data['experts'] == 'complete' %}
      <p>You proposed the following three experts on {{ now | date }}:</p>

      <ul>
        <li>John Austin - £450</li>
        <li>Ronald Davidson - £500</li>
        <li>Julie Tuffnel - £700</li>
      </ul>

      {% else %}
      <p>Due by {{ now | date('add', 14, 'days') | date }}</p>
      <p>The court has approved your request to hire a witness. You must now provide the details of three independent experts for the {% if data['party'] == 'defendant' %}claimant{% else %}defendant{% endif %} to choose from.</p>
      <div class="form-group">
        <a href="order-response/experts" class="secondary-button">Propose experts</a>
      </div>
      {% endif %}

      <hr />

      {% if data['experts'] == 'complete' and data['evidence'] == 'complete' and data['witness'] == 'complete' %}
      <h2 class="heading-small">Expert reports</h2>
      {% if data['expert-report'] == 'complete' %}
      <p>The following document was uploaded on {{ now | date('subtract', 1, 'days' ) | date }}:</p>
      <ul>
          <li><a href="#">Expert report - John Austin.pdf</a></li>
      </ul>

      {% else %}
      <p>Due by {{ now | date('add', 21, 'days') | date }}</p>
      <p>When your appointed expert has provided you with a written report, you need to upload it to the court.</p>
      <div class="form-group">
        <a href="order-response/expert-reports" class="secondary-button">Upload your expert reports</a>
      </div>
      {% endif %}
      <hr />

      {% endif %}

    </div>
  </form>
</div>
</div>
{% include 'prototypes/prototype-jan-2019/includes/contact.html' %}
</main>

<form method="post" action="#" class="form" style="position: absolute;">
  <select onchange="window.location.href='?'+this.value">
    <option>-------- Status --------</option>
    <option value="evidence=&witness=&experts=">Nothing uploaded</option>
    <option value="evidence=complete&witness=&experts=">Evidence uploaded</option>
    <option value="evidence=&witness=complete&experts=">Witness statements uploaded</option>
    <option value="evidence=&witness=&expert=complete">Experts proposed</option>
    <option value="evidence=complete&witness=complete&experts=complete">Upload expert's report</option>
    <option value="evidence=complete&witness=complete&experts=complete&expert-report=complete">Expert's report uploaded</option>
  </select>
</form>
{% endblock %}
