{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">How settlement agreements work</h1>


      <form action="settlement/propose" method="post" class="form">

      <p>A settlement agreement is a legal agreement between you and the defendant describing how and when they'll repay you.</p>
      <p>If the defendant signs your agreement, the claim is put on hold. You can't issue a CCJ against them unless they break the terms of the agreement.</p>
      <p>If they don't think the repayment plan is affordable, they can ask a judge to make a new repayment plan.</p>


        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button">

      </form>
    </div>
  </div>
</main>
{% endblock %}
