{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <h1 class="heading-large">Letters and sealed claim forms</h1>
  <h2 class="heading-medium">Claimant</h2>
  <p>On submitting a claim </p>
  <ol class="list list-number">
    <li><a href="forms/claim-form-claimant?check=1">Non sealed claim form - reference only</a> (available on the confirmation page and dashboard)</li>
  </ol>
  <p>Request a CCJ</p>
  <ol class="list list-number">
    <li><a href="forms/default-judgment?check=2">County court judgment request </a> (this is emailed to staff)</li>
  </ol>
  <p>Signed agreement</p>
  <ol class="list list-number">
    <li><a href="forms/agreement?check=2">Signed agreement </a> (Available after defendant countersigns)</li>
  </ol>
  <details>
    <summary>Private beta pdf examples </summary>
    <div class="panel">
      <ol class="list list-bullet">
        <li><a href="{{ asset_path }}/images/form-examples/non-sealed-claim.pdf">Claim - reference only (available confirmation page and dashboard)</a> PDF</li>
        <li><a href="{{ asset_path }}/images/form-examples/county-court-judgment-details.pdf">County court judgment request</a> PDF</li>
      </ol>
    </div>
  </details>
<h2 class="heading-medium">Defendant</h2>
<p>Defendant receives sealed claim form and covering letter</p>
<ol class="list list-number">
  <li><a href="letter">Letter</a></li>
  <li><a href="forms/claim-form-claimant?check=2">Sealed claim form - fixed interest  </a></li>
  <li><a href="forms/claim-form-claimant?check=3">Sealed claim form - manual interest  </a></li>
</ol>
<p>Defendant responds </p>
<ol class="list list-number">
  <li><a href="forms/claim-form-defendant?check=1">Defendant response - reference only </a>(available confirmation page and dashboard) </li>
  <li><a href="forms/claim-form-defendant?check=9">Sealed defendant response - full defence </a></li>
  <li><a href="forms/claim-form-defendant?check=8">Sealed defendant response - states paid </a></li>
</ol>
<p>Agreement signed by both parties </p>
<ol class="list list-number">
  <li><a href="forms/agreement?check=2">Signed agreement </a> (Available when defendant countersigns)</li>
</ol>
<details>
  <summary>Private beta pdf examples </summary>
  <div class="panel">
    <ol class="list list-bullet">
      <li><a target="_blank" href="{{ asset_path }}/images/form-examples/pin-in-post.pdf">Pin in post letter</a> PDF</li>
      <li><a target="_blank" href="{{ asset_path }}/images/form-examples/sealed-claim.pdf">Sealed claim sent to defendant</a> PDF</li>
    </ol>
    <ol class="list list-bullet">
     <li><a target="_blank" href="{{ asset_path }}/images/form-examples/defendant-response.pdf">Defence response - reference  (available confirmation page and dashboard)</a> PDF</li>
     <li><a target="_blank" href="{{ asset_path }}/images/form-examples/states-paid-defence.pdf">Sealed States paid defence</a> PDF</li>
     <li><a target="_blank" href="{{ asset_path }}/images/form-examples/full-defence.pdf">Sealed Full defence</a> PDF</li>
   </ol>
 </div>
</details>
</div>
{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
