{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
  {% else %}
  <a href="#" class="link-back">Back</a>
  {% endif %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
      <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">
        {% else %}
        <form method="post" action="../../task-list" class="form">
          {% endif %}
          {{formData | safe}}
          <h1 class="heading-large">
            Enter your date of birth
          </h1>
          <!-- Date of birth -->
          <div class="form-group">
            <fieldset>
              <!--<div class="form-label-bold">Date of birth</div>-->
              <p style="color: #6F777B">For example, 31 3 1980</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="day">Day</label>
                  <input  class="form-control" name="day" id="day" type="number" pattern="[0-9]*" min="0" max="31" value="{{data['day']}}">
                </div>
                <div class="form-group form-group-month">
                  <label for="month">Month</label>
                  <input class="form-control" name="month" id="month" type="number" pattern="[0-9]*" min="0" max="12" value="{{data['month']}}">
                </div>
                <div class="form-group form-group-year">
                  <label for="year">Year</label>
                  <input class="form-control" name="year" id="year" type="number" pattern="[0-9]*" min="0" max="2014" value="{{data['year']}}">
                </div>
              </div>
              <fieldset></fieldset>
              <br>
              <input type="hidden" name="confirm_details" value="complete">
              {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
              <div class="form-group">
                <input type="submit" class="button" value="Save changes"/>
              </div>
              <a href="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}">Cancel</a>
              {% else %}
              <div class="form-group">
                <input type="submit" class="button" value="Save and continue"/>
              </div>
              {% endif %}
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  {% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
