{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

    <form method="post" action="witness-statements/check-and-send" class="form">

      <div class="form-group">
        <h1 class="heading-large">
          <a href="how" style="text-decoration:none; color: #000; cursor: default;">Upload your witness statements</a>
        </h1>

        <p>All witness statements must:</p>

        <ul class="list list-bullet">
          <li>start with the name of the case and the claim number - 'Clark v Richards. Claim number: 352MC733'</li>
          <li>include the witness's full name and address</li>
          <li>use numbered paragraphs and numbered pages</li>
          <li>end with this sentence: 'I believe that the facts stated in this witness statement are true.'</li>
          <li>be signed and dated by the witness</li>
        </ul>

        <p>You can <a href="/public/images/Witness statement.docx">download and complete a witness statement template</a> (DOCX, 123KB). When you've completed it, upload the file on this page.</p>

        <div id="uploads">

          <div id="witness">
            <p>You can upload as many files as you need.</p>
            <ol class="list uploaded-files" style="margin-bottom: 15px;"></ol>
            <label for="witness-upload" class="secondary-button">Upload files</label>
            <input id="witness-upload" type="file" onchange="return upload('witness');" multiple />
          </div>

          <div class="form-group" style="margin-top: 45px" id="submit">
            <input type="submit" class="button" value="Check and submit witness statements"/>
          </div>

        </div>

      </div>
    </form>

    </div>
  </form>
</div>
</div>
{% include 'prototypes/prototype-jan-2019/includes/contact.html' %}
</main>
{% endblock %}
