{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Response sent to Jan Clark
            </h1>

            <fieldset>
                <p>We've emailed Jan Clark your response.</p>

                <h2 class="heading-medium">What happens next</h2>
                <p>Your claim will continue to a hearing unless you reach can an agreement.</p>

            </fieldset>

            <p>We've emailed you this confirmation. <a href="#">Print this page</a></p>
        </div>
    </div>
</main>


{% endblock %}

