{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {%
endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" action="./number" class="form">
        {{formData | safe}}
        <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->

        <h1 class="heading-large">Apply for Help with Fees</h1>
        <h2 class="heading-small">Please Note:</h2>
        <p>
          If you have already applied for HwF in respect of
          <span style="font-weight: bold">THIS CLAIM</span>, you may already
          have a reference number. If so, you can save and continue and enter it
          when asked. Do not use a number related to a different claim. If you
          don’t have a HwF number for this claim, please follow the instructions
          below.
        </p>
        <a
          href="https://www.gov.uk/get-help-with-court-fees"
          target="noreferrer _blank"
          >Apply for Help with Fees (opens in a new tab)</a
        >
        <p>
          If you need to use the paper Help with Fees application rather than
          the online version, you will not be able to use Online Civil Money
          Claims to issue your claim.
        </p>
        <p>
          When you apply for Help with Fees you will be asked for the number on
          your court or tribunal form. Please note that this is N1.
        </p>
        <p>
          When you have completed your Help with Fees application, you will be
          given a reference number. Please note the number and keep it safe. You
          will need it later in the claim process. Then return to this page and
          click the Save and continue box below so that you can start the claim.
        </p>
        <br />

        {% if data.return_page and data.return_page.includes('check-and-send')
        or data.return_page and
        data.return_page.includes('check-your-answers')%}
        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>
        <a
          href="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}"
          >Cancel</a
        >
        {% else %}
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue" />
        </div>
        {% endif %}
      </form>
    </div>
  </div>
  {% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
