{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Create an account
      </h1>
<!--       <p>We'll use the email we have for you to create an account:</p>
-->
<form>
  <legend class="visually-hidden">Create an account</legend>
  <div class="form-group">
   <h2 class="heading-medium">Enter your email address</h2>
    <input autofocus="autofocus" class="string email optional form-control" type="email" value="" name="user[email]" id="user_email">
  </div>


</p>



    <div class="form-group">

      <div class="form-date">
        <h2 class="heading-medium">Date of birth</h2>

        <p class="form-hint" id="dob-hint">We use your date of birth to make sure you're over 18 and that legal proceedings involving a claim are taken against the right person. For example, if someone living with you has the same name.</p>

        <br>
        <p class="form-hint" id="dob-hint">For example, 31 3 1980</p>
        <div class="form-group form-group-day">
          <label for="dob-day">Day</label>
          <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
        </div>
        <div class="form-group form-group-month">
          <label for="dob-month">Month</label>
          <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label for="dob-year">Year</label>
          <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
        </div>
      </div>
</div>
  <div class="form-group">
    <h2 class="heading-medium">Create password</h2> 
    <span class="form-hint">Must be at least 8 characters, including:<br><br>
     <li>at least 1 letter</li>
     <li>at least 1 number or symbol - such as &amp;, £ or *</li></span><br>
     <label class="email optional form-label" for="user_email">Enter password</label>
     <input autofocus="autofocus" class="string email optional form-control" type="password" value="" name="user[email]" id="user_email">
   </div>
   <br>
   <div class="form-group">
     <label class="email optional form-label" for="user_email">Confirm password</label>
     <input autofocus="autofocus" class="string email optional form-control" type="password" value="" name="user[email]" id="user_email">
   </div>
   <br><br>   <br><br>






 </form>
<!--           <p>You can save your response and return to it at any time.</p>
--><br>
    <div class="multiple-choice ">
      <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
      <label for="checkbox-telephone-number">Check this box to state you've read and agree to our <a href='#'>terms and conditions</a>.</label>
    <br>
<br>
    </div>
<div class="clearfix">
  <a class="button" href="account-activated" role="button">Create account</a> &nbsp;
</div>
</div>
</form>
</div>
</div>
</main>
{% endblock %}
