{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Create an account
      </h1>


      <form>

          <legend class="visually-hidden">Create an account</legend>
          <h2 class="heading-medium">Enter your email address</h2>

          <div class="form-group">
            <label class="email optional form-label" for="user_email">Email address</label>
            <input autofocus="autofocus" class="string email optional form-control" type="email" value="" name="user[email]" id="user_email">
          </div>

          <div class="form-group">
            <h2 class="heading-medium">Create password</h2>
            <span class="form-hint">Must be at least 8 characters, including:<br>
             <li>at least 1 letter</li>
             <li>at least 1 number or symbol - such as &amp;, £ or *</li></span>


             <label class="email optional form-label" for="user_email">Enter password</label>
             <input autofocus="autofocus" class="string email optional form-control" type="password" value="" name="user[email]" id="user_email">
           </div>
           <br>
           <div class="form-group">
             <label class="email optional form-label" for="user_email">Confirm password</label>
             <input autofocus="autofocus" class="string email optional form-control" type="password" value="" name="user[email]" id="user_email">
           </div>
           <br>

         </form>

    <div class="multiple-choice terms-and-conditions" >
        <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
        <label for="checkbox-telephone-number">Check this box to state you've read and agree to our <a target="_blank" href='terms-and-conditions' target="_blank">terms and conditions</a>. <span class="font-xsmall">(opens in a new window)</span></label>


      </div>
<br>
<div class="clearfix">
  <a class="button" href="account-activated" role="button">Create account</a> &nbsp;
</div>

</div>
</form>
</div>
</div>
</main>


{% endblock %}
