{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="ost" action="eligibility/cc" class="form">
        {{formData | safe}}
        <a href="#" class="link-back">Back</a>
        <h1 class="heading-large">
          Find out if you can use this service
        </h1>
        <fieldset>
          <legend class="visuallyhidden">
            Check eligibility
          </legend>
        </fieldset>
        <div class="form-group">
          <input type="submit" class="button" value="Continue to question"/>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
