{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="breadcrumbs">
        <ol>
          <li>
            <a href="../task-list">Respond to a money claim</a>
          </li>
          <li>
            Do your owe the money claimed
          </li>
        </ol>
      </div>
      <h1 class="heading-xlarge">
        Your response
      </h1>


      <h2 class="heading-medium">You can respond to in the following ways  </h2>

        <h3 class="heading-small">Accept the money claim</h3>

        <p>If you accept the claim is fair you can contact the claimant, Jane Clark, yourself and pay the money. Ask them to let the court know when they have your payment.</p>

        <h3 class="heading-small">Reject the claim</h3>

      </p>If you don't accept you owe the amount of money claimed you can prepare and submit your defence online. You might have to go to a hearing - it can take up to 7 months to get a hearing date.</p>

      <h3 class="heading-small">Make a deal</h3>

      <p>You can try to settle the claim by making [name of claimant] an offer. If Jane Clark rejects your offer you’ll have to go a hearing. Jane Clark can’t mention that you made them an offer at the hearing.</p>

<br>
<a href="your-response/do-you-owe-money" class="button">Continue</a>
<br>

<!--     <div class="column-one-third">
      <p class="lede">&nbsp;</p>
      <p class="lede">&nbsp;</p>
      <nav role="navigation" class="font-xsmall">
        <p><strong class="bold">Response deadline: 7 June</strong></p>
        <p><strong class="bold">Claim reference: CF91-BK65</strong></p>
        <p><strong class="bold">Claim amount: £1,500</strong></p>
      </nav>

        <fieldset></fieldset>
        <h2 class="heading-small">Need help?</h2>
        <nav role="navigation" class="font-xsmall">
          <p><a href=""
                data-alert="This feature is not available in this demo">Contact us</a></p>
        </nav>
      </div> -->

    </div>
  </main>


  {% endblock %}
