{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        {% if data['radio-indent-group'] == "reject_hearing" or data['radio-indent-group'] == "decline-mediation" or data['confirmation'] == 1 %}
        <h1 class="bold-large">A judge will review your case</h1>

        {% elseif data['radio-indent-group'] == "accept_stop_claim"  or data['confirmation'] == 6 %}
        <h1 class="bold-large">You have accepted their response</h1>






        {% else %}
        <h1 class="bold-large">You have requested free mediation</h1>
        {% endif %}
      </div>
      <fieldset>
        <h2 class="heading-medium">What happens next</h2>

        {% if data['radio-indent-group'] == "reject_hearing" or data['confirmation'] == 1 %}

        <p>The case will be reviewed by a judge and might go to a hearing. We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>

        <h2 class="heading-medium">Other things for you to consider </h2>
        <ul class="list ">
          <li>They have requested mediation to help settle the dispute, <a href="mediation">view mediation</a>.</li>
          <li>They have made an offer to settle the claim, <a href="../defendant-response/suggestion?defendant=offer">view offer</a>.</li>
        </ul>
        <a href="../claimant?claimant=5" class="button">Finished</a>

        {% elif data['radio-indent-group'] == "decline-mediation"  %}
        <p>The case will be reviewed by a judge and might go to a hearing. We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>

        <h2 class="heading-medium">Other things for you to consider </h2>
        <ul class="list">
          <li>They have made an offer to settle the claim, <a href="../defendant-response/suggestion?defendant=offer">view offer</a>.</li>
        </ul>


        <a href="../claimant?claimant=5" class="button">Finished</a>





        {% elseif data['radio-indent-group'] == "accept_stop_claim"  or data['confirmation'] == 6 %}

        <p>The defendant Mary Richards will be notified that the claim has been stopped.</p>
        <a href="../claimant?claimant=5" class="button">Finished</a>


        {% elif data['radio-indent-group'] == "accept-mediation"  %}
        <p>A mediator will contact both the defendant and you within the next 14 days to arrange an appointment.</p>
        <a href="../claimant?claimant=5" class="button">Finished</a>

        {% else %}
        <p>The defendant Mary Richards can accept your counter offer, reject it or suggest an alternative. We will notify you once the defendant responds.
        </p>
        <a href="../claimant?claimant=5" class="button">Finished</a>

        {% endif %}
        <h2 class="heading-medium">Help and support</h2>
        <p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
          Telephone: 0300 123 7050<br>
        Hours: 9am to 5pm, Monday to Friday</p>
        <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      </fieldset>

    </div>
  </div>
</main>
{% endblock %}
