{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} /prototype-14/index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/prototype-14/task-list/{{ formQuery | safe }}">Make a money claim</a>
      </li>
      <li>
        Read rules
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="/prototype-14/task-list" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          Read rules
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Read rules
          </legend>

          <p>Check the rules before making a claim</p>

          <h3 class="heading-medium">You must:</h3>

          <p>Try to solve the dispute directly with the party before making a claim - follow these
            steps:</p>

          <ul class="list list-bullet">
            <li>Speak to them (send an email or letter if you want a record).
            </li>
            <li>Tell them what you believe they owe you and why.</li>
            <li>Explain that if you can't reach an agreement (eg a timetable for paying the money) you'll make a legal
              money claim.
            </li>
            <li>Tell them that they might have to pay the full amount as well as <a
              href="https://www.gov.uk/government/publications/fees-for-civil-and-family-courts/court-fees-for-the-high-court-county-court-and-family-court">fees
              and other costs</a> if they
              ‘defend the claim’, and that they could get a County Court Judgment (CCJ).
            </li>
          </ul>

          <h3 class="heading-medium">You should still:</h3>

          <p>Try to settle your case before a hearing even if you have submitted your claim to the court.</p>

          <p>You can use our service to help you resolve your dispute and reach an agreement, if needed.</p>

          <!--<p class="panel panel-border-wide">It might count against you in court if you don’t try to sort out the-->
            <!--dispute with the person directly,-->
            <!--before you make an official claim.</p>-->

          <input type="hidden" name="read_rules" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – I have read and understood rules"/>
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
