{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've uploaded witness statements and documents</h1>
      </div>
    <h2 class="heading-medium">What happens next</h2>

    {% if data['next'] != 'hearing' %}
    <p>We'll contact you to tell you what to do next.</p>
    {% else %}

    <h2 class="heading-small">You need to pay the hearing fee</h2>
    <p>Everyone has finished responding to the court's order.</p>
    <p>You can't upload any more witness statements or documents.</p>
    <p>You need to pay £115 before 4pm on {{ now | date( 'add', 33, 'days' ) | date }}.</p>

    <p><a href="../../hearing-fee" class="button">Pay hearing fee</a></p>

    {% import "prototypes/prototype-dec-2019/includes/fee-table.html" as feeTable %}
    {{ feeTable.show( 'hearing' ) }}

    {% endif %}

    <a href="../../home?dashboard={% if data['next'] == 'hearing' %}1.241{% elseif data['party'] == 'claimant' %}1.29{% else %}2.723{% endif %}&witness=complete" class="button {% if data['next'] == 'hearing' %}secondary-button{% endif %}">Go to your account</a>

    {% include "includes/contact.html" %}
</div>
</div>
</main>

<form method="post" action="#" class="form" style="position: absolute;">
  <select onchange="window.location.href='?next='+this.value">
    <option>-------- Status --------</option>
    <option {% if data['next'] != 'hearing' %}selected{% endif %} value="wait">Wait</option>
    <option  {% if data['next'] == 'hearing' %}selected{% endif %} value="hearing">Pay hearing fee</option>
  </select>
</form>
{% endblock %}