{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->

      <h1 class="heading-large">
        When did you find out there is a County Court Judgment against you?
      </h1>

      <fieldset>
        <div class="form-date">

          <p class="form-hint">For example, 26 3 2019</p>

          <div class="form-group form-group-day">
            <label for="default-ccj-day">Day</label>
            <input class="form-control" id="default-ccj-day" name="default-ccj-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['interest-day'] }}">
          </div>

          <div class="form-group form-group-month">
            <label for="default-ccj-month">Month</label>
            <input class="form-control" id="default-ccj-month" name="default-ccj-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['interest-month'] }}">
          </div>

          <div class="form-group form-group-year">
            <label for="default-ccj-year">Year</label>
            <input class="form-control" id="default-ccj-year" name="default-ccj-year" type="number" pattern="[0-9]*" min="0" value="{{ data['interest-year'] }}">
          </div>

        </div>
      </fieldset>

      <p><a class="button" href="reason-for-late-response-not-got-letter">Continue</a></p>


    </div>
  </div>

  {% include 'prototypes/prototype-dec-2019/includes/contact.html' %}
</main>
{% endblock %}
