{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

 {% include "includes/phase_banner_beta.html" %}

 <div class="grid-row">
   <div class="column-two-thirds">


         <h1 class="heading-large">
            The hearing is only about the judgment
         </h1>

         {% if data['alreadysettled'] == 'true' %}
             <p>You've settled the original claim, but there might need to be a hearing about your request to cancel the judgment.</p>
         {% else %}
             <p>It's not about the original claim.</p>
             <p>If the judgment is cancelled there might be another hearing later, about the claim. If there is we'll ask you for your requirements again.</p>
         {% endif %}


        <form action="../../../applications/set-aside-application-hearing-requirements" method="post" class="form">

           <div class="form-group">
             <input type="submit" class="button" value="I confirm I've read this" />
           </div>

         </form>

       </div>
     </div>



 {% include 'prototypes/prototype-dec-2019/includes/contact.html' %}
</main>

<form method="post"  action="#" class="form" style="float: left;">
 <select id="control-box2" name="control-box2" onchange="window.location.href='settle-out-of-court?beforeccjdeadline='+this.value">
   <option value="true">Defendant</option>
   <option value="true" >- Before 1 month CCJ deadline</option>
   <option value="false">- After 1 month CCJ deadline</option>
 </select>
</form>


{% endblock %}
