{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
      <h1 class="heading-large">
        Explain why you think the letter didn't arrive at your address
      </h1>


      {% if  data['aftercontact'] == 'true' %}
          <form action="task-list-after-contact?latereply=false&missingletter=false&updatedaddress=true&explainreasonaftercontact=complete" method="post" class="form">
      {% else %}
          <form action="task-list?latereply=false&missingletter=false&updatedaddress=true&explainreason=complete" method="post" class="form">
      {% endif %}


        <!--<form action="../why-not-owe-money" method="get" class="form">-->
        <!-- <p class="form-hint">Explain why you think the letter didn't arrive at your address.</p> -->

        <div class="form-group">
          <textarea class="form-control form-control-3-4 " id="reason-for-not-receive-post" rows="3"
                    name="reason-for-not-receive-post" type="text" style="width: 100%">{{ data['reason-for-not-receive-post'] }}</textarea>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue"/>
        </div>

        <!-- <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            Content around stating the truth and may have to prove it at the private hearing.
          </strong>
        </div> -->


        <!--<h2 class="heading-medium">Statement of truth</h2>-->
        <!--<div class="form-group">-->
         <!--<div class="multiple-choice text">-->
           <!--<input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">-->
           <!--<label for="HasAcceptedTermsAndConditions"><p>I declare that the answers I have given are true to the best of my knowledge.</p><p>I understand that proceedings for contempt of court may be brought against anyone who makes, or causes to be made, a false statement in a document verified by a statement of truth without an honest belief in its truth.</p></label>-->
         <!--</div>-->
        <!--</div>-->


      </form>
   </div>
 </div>
{% include 'prototypes/prototype-feb-2020/includes/contact.html' %}
</main>
{% endblock %}
