{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
             <a href="#" class="link-back">Back</a>

        <h1 class="heading-large">
        <span class="heading-secondary">Claim number:</span>

          391MC645 

        </h1>


        <h2 class="heading-medium">Claim status</h2>
        <div class="panel panel-border-wide">
         <p>The defendant Mary Richards has not responded to your claim. You can request a County Court Judgment (CCJ)</p>
       </div>
       <p>You can only ask for a CCJ at this stage if the defendant has not responded to your claim.</p>
        <p>A CCJ means the court orders the defendant to pay the claim.</p>
       <div class="form-group">
         <p> <a class="button" href="judgment/details-defendant">Request a County Court Judgment</a></p>
       </div>
<!--         <h2 class="heading-small">Stop the claim</h2>
       <p>
        You can <a href='#'>stop ('discontinue') your claim.</a> You won't get back any fees you have already paid.
      </p>  -->
    </div>
    <div class="column-one-third">
      <div class="meta-data">
        <ul role="navigation" class="font-xsmall list" style="padding-top: 100px">
          <li><strong class="bold">Defendant name:</strong><br> John Smith</li>
<!--           <li><strong class="bold">Summary:</strong><br>About building works. </li>
 -->          <li><strong class="bold">Claim amount:</strong><br>£1500.00 </li>
          <li><strong class="bold">Claim details:</strong><br><a href="view-claim">Download claim</a> </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}

