{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
       <a href="#" class="link-back">Back</a>
       <h1 class="heading-large">
        <span class="heading-secondary">Claim number:</span>
        736MC047 
      </h1>
      <h2 class="heading-medium">Claim status</h2>
      <div class="">
      
        <p><span class="bold">15 May 2017</span><br>The defendant has rejected your claim. They have made an offer to settle your claim. They have also asked for mediation to resolve the claim.</p>
        <div class="form-group">
         <p> <a class="button" href="defendant-response/view-claim-def?response=med_suggestion">View their response </a></p>
       </div>
     </div>
     <h2 class="heading-medium">Claim history </h2>
     <details>
      <summary>You have 2 events in your claim history</summary>
      <div class="history-timeline">
        <div class="data">
          <span class="data-item bold-large">1</span>
          <span class="data-item bold-xsmall">May 2017</span>
          <span class="data-item bold-xsmall"></span>
        </div>
        <div class="history-statement">The defendant requested an additional 14 days to respond. The deadline for response 15 May 2017. </div>
      </div>
            <div class="history-timeline">
        <div class="data">
          <span class="data-item bold-large">20</span>
          <span class="data-item bold-xsmall">April 2017</span>
          <span class="data-item bold-xsmall"></span>
        </div>
        <div class="history-statement">The claim was issued against the defendant. The deadline for response 1 May 2017.</div>
      </div>
    </details>
    <h2 class="heading-medium">More options </h2>
    <h2 class="heading-small">Cancel your claim</h2>
    <p>
     You can <a href='#'>cancel your claim.</a> if you no longer want to pursue it.
   </p> 
 </div>
 <div class="column-one-third">
  <div class="meta-data" style="padding-top: 100px">
   <ul role="navigation" class="font-xsmall list" >
    <li><strong class="bold">Defendant name:</strong><br> Mary Richards</li>
    <li><strong class="bold">Claim amount:</strong><br>£1400 </li>
    <li><strong class="bold">Claim details:</strong><br><a href="view-claim">Download claim details</a> </li>
  </ul>
</div>
</div>
</div>
</main>
<style type="text/css">
  .history-timeline{
      display: inline-block;
    border-bottom: 1px #bfc1c3 solid;
    width: 100%;
        margin-top: 15px;
  }
  .data {
        float: left;
    border-right: 3px #bfc1c3 solid;
    padding-right: 15px;
    margin-right: 15px;
  }
.history-statement{
      padding-top: 10px;
}

}
</style>
{% endblock %}
