{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
       <a href="#" class="link-back">Back</a>

       <h1 class="heading-large">
        <span class="heading-secondary">Claim number:</span>
        736MC047 
      </h1>


      <h2 class="heading-medium">Claim status</h2>
      <div class="">
      <p>The defendant Mary Richards has rejected your money claim. They have requested free mediation to help resolve the dispute.</p>
       <div class="form-group">
         <p> <a class="button" href="defendant-response/view-claim-def?response=med">View their response  </a></p>
       </div>
     </div>


     <h2 class="heading-medium">More options </h2>
    


     <h2 class="heading-small">Make a suggestion to settle the claim</h2>
     <p>
     <a href='#'>Make a suggestion</a> to settle the claim with the defendant to avoid going to a hearing. 
    </p>      
<!--     <h2 class="heading-small">Request mediation</h2>
     <p>
     <a href='#'>Request free telephone mediation</a>. Many people resolve their dispute before a hearing by taking part in a telephone mediation</a>.
    </p>  -->
     <h2 class="heading-small">Stop the claim</h2>
     <p>
      <a href='#'>Stop ('discontinue') your claim.</a> You won't get back any fees you have already paid.
    </p> 
  </div>
  <div class="column-one-third">
    <div class="meta-data" style="padding-top: 100px">
<!--     <h3 class="heading-small">Claim details</h3>
 -->      <ul role="navigation" class="font-xsmall list" >
        <li><strong class="bold">Defendant name:</strong><br> Mary Richards</li>
        <li><strong class="bold">Claim amount:</strong><br>£1400 </li>
        <li><strong class="bold">Claim details:</strong><br><a href="view-claim">Download claim details</a> </li>
      </ul>
<!--           <h3 class="heading-small">Claim options</h3>
      <ul role="navigation" class="font-xsmall list" >
        <li><a href="#">Make a suggestion</a> </li>
        <li><a href="#">Request mediation</a> </li>
        <li><a href="#">Stop the claim</a> </li>


      </ul> -->
    </div>
  </div>
</div>
</main>
{% endblock %}

