{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
             <a href="#" class="link-back">Back</a>

        <h1 class="heading-large">
        <span class="heading-secondary">Claim number:</span>

          352MC733 

        </h1>


        <h2 class="heading-medium">Claim status</h2>
        <p>Your defence is being processed. We will email you to explain what to do next.</p>
<!--        
         
         <p class="panel panel-border-wide">You have until <strong class="bold"><span id="Date"> 14 August 2017</span></strong> to respond to this
        claim.</p> -->

  <!--    
       <div class="form-group">
         <p> <a class="button" href="../../defendant/full/d-2/task-list">Respond to the claim</a></p>
       </div> -->
       
    </div>
    <div class="column-one-third">
      <div class="meta-data">
        <ul role="navigation" class="font-xsmall list" style="padding-top: 100px">
          <li><strong class="bold">Claimant name:</strong><br> Abalan Contruction</li>
         <li><strong class="bold">Claim amount:</strong><br>£1302.23 </li>
          <li><strong class="bold">Claim details:</strong><br><a href="view-claim">Download defence</a> <br><a href="view-claim">Download your response </a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}

