{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}



<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <br>
  <h1 class="heading-large">

    Your money claims account 

  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="text">
        <p class="lede">Use this service to:</p>
        <ul class="list list-bullet">
          <li>make a money claim</li>
          <li>view a money claim made against you </li>
          <li>manage a money claim </li>
        </ul>    
      </div>
    </div>
    <div class="column-one-third">
      <div class="panel-cta tablet-and-up" style="">
        <p class="heading-small panel-body flush--top cta">Make a money claim</p>
        <p class="heading-small panel-body flush--top cta-draft" style="display: none">Manage money claim</p>
        <p class="panel-button flush--bottom">
        <a id="create-new-lpa" class="button cta" href="../../claimant/full/c-2/task-list" role="button">Start now</a>
        <a id="create-new-lpa" style="display: none" class="button cta-draft" href="../../claimant/full/c-2/task-list" role="button">Continue with new claim</a>
        </p>
<!--         <p>or <a href="enter-claim-reference.html">View a money claim made against you</a></p>
-->      </div>

</div>
</div>

<div class="grid-row">
  <div class="column-full">   
    <h2 class="heading-medium type-heading claims">
     Claims you've made or are in progress
   </h2>

   <table class="claim-dashboard claims ">
    <thead>
      <tr>
        <th scope="col">Claim number</th>
        <th scope="col"">Defendant name</th>
        <th scope="col"">Claim amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="draft" style="display: none">
        <td><a href="../../claimant/full/c-2/task-list">Draft claim</a></td>
        <td>- </td>

        <td>- </td>
        <td>In progress </td>
      </tr>
      <tr class="default" style="display: none">
        <td><a href="claimant">391MC645</a></td>
        <td>John Smith </td>

        <td>£2000 </td>
        <td>You can request a judgment by default </td>
      </tr>        
      <tr class="mediation" style="display: none">
        <td><a href="claimant3">736MC047</a></td>
        <td>Mary Christiansen</td>

        <td>£1400 </td>
        <td>The defendant has responded to your claim </td>
      </tr> 
      <tr class="complete">
        <td><a href="claimant2">432MC245</a></td>
        <td>Paul Jones </td>
        <td>£502.23 </td>
        <td>Your claim is being processed. We will email you to explain what to do next. </td>
      </tr>     
    </tbody>
  </table>

  <h2 class="heading-medium type-heading response" style="display: none" >
   Claims made against you
 </h2>

 <table class="claim-dashboard response" style="display: none" >
  <thead>
    <tr>
      <th scope="col">Claim number</th>
      <th scope="col"">Claimant name</th>
      <th scope="col"">Claim amount</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="">
      <td><a href="../../defendant/full/d-2/task-list">242MC435</a></td>
      <td>Abalan construction  </td>
      <td>£1302.23 </td>
      <td>Respond to claim <br><span class="font-xsmall">(14 days remaining)</span> </td>
    </tr>    
    <tr class="">
      <td><a href="defendant">352MC733</a></td>
      <td>Jessica Revilla  </td>
      <td>£8000 </td>
      <td>Your defence is being processed. We will email you to explain what to do next. </td>
    </tr>       
  </tbody>
</table>

</div>
</div>
</main>
<!-- <select id="select-box" name="select-box" style="position: absolute;">
 
  <option selected="selected" value="5">Hide all</option>

  <option  value="1" {% if data['select-box'] == 1 %}selected{% endif %}>Show claimant</option>
   <option  value="2" {% if data['select-box'] == 2 %}selected{% endif %}>Show defendant</option>
   <option  value="3" {% if data['select-box'] == 3 %}selected{% endif %}>Show default judgment</option>
   <option  value="4" {% if data['select-box'] == 4 %}selected{% endif %}>Show draft</option>
  <option  value="6" {% if data['select-box'] == 6 %}selected{% endif %}>Show Mediation</option>
  <option  value="0" {% if data['select-box'] == 0 %}selected{% endif %}>Show all</option>

</select>
 -->


 <select id="select-box" name="select-box" style="position: absolute;">
 
  <option selected="selected" value="5">Hide all</option>

  <option  value="1" >Show claimant</option>
   <option  value="2" >Show defendant</option>
   <option  value="3">Show default judgment</option>
   <option  value="4">Show draft</option>
  <option  value="6">Show Mediation</option>
  <option  value="0">Show all</option>

</select>


<script type="text/javascript">




  $( document ).ready(function() {

$('#select-box').bind('load change', function () {

    if (this.value == '0') {
      $(".claims").show();
      $(".response").show();
      $(".default").show();
      $(".draft").show();
      $(".cta").show();
      $(".cta-draft").hide();
      $(".mediation").show();

    } else if (this.value == '1') {
      $(".response").hide();
      $(".claims").show();
      $(".draft").hide();
      $(".default").hide();
      $(".cta").show();
      $(".cta-draft").hide();
      $(".default").show();
    }else if (this.value == '2') {
      $(".response").show();
      $(".claims").hide();
      $(".cta").show();
      $(".cta-draft").hide();
    } else if (this.value == '3') {
      $(".response").hide();
      $(".claims").show();
      $(".complete").hide();
      $(".draft").hide();
      $(".default").show();
      $(".cta").show();
      $(".cta-draft").hide();

    }
    else if (this.value == '4') {
      $(".response").hide();
      $(".claims").show();
      $(".draft").show();
      $(".default").hide();
      $(".cta").hide();
      $(".cta-draft").show();
            $(".complete").hide();
      $(".mediation").hide();

    }   
    else if (this.value == '5') {
      $(".response").hide();
      $(".claims").hide();
      $(".draft").hide();
      $(".default").hide();
    }  
    else if (this.value == '6') {
      $(".response").hide();
      $(".claims").show();
      $(".draft").hide();
      $(".mediation").show();
      $(".default").hide();
      $(".complete").hide();
      $(".cta").show();
      $(".cta-draft").hide();

    } 

  });



 });  
</script>

{% endblock %}

