{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
<br>
  <h1 class="heading-large">

    Your money claims account 

  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="text">
        <p class="lede">Use this service to:</p>
        <ul class="list list-bullet">
          <li>make a money claim</li>
          <li>view a money claim made against you </li>
          <li>manage a money claim </li>
        </ul>    
      </div>
    </div>
    <div class="column-one-third">
      <div class="panel-cta tablet-and-up" style="">
        <p class="heading-small panel-body flush--top">Make a money claim</p>
        <p class="panel-button flush--bottom">
          <a id="create-new-lpa" class="button" href="../../claimant/full/c-2/task-list" role="button">Start now</a>
        </p><br>
        <p>or <a href="enter-claim-reference.html">View a money claim made against you</a></p>
      </div>
      
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">   
      <h2 class="heading-medium type-heading">
       Claims you've made
     </h2>

     <table class="claim-dashboard">
      <thead>
        <tr>
          <th scope="col">Claim number</th>
          <th scope="col"">Defendant name</th>
          <th scope="col"">Claim amount</th>

          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="claimant">391-BK65</a></td>
          <td>John Smith </td>

          <td>£2000 </td>
          <td>You can request a judgement by default </td>
        </tr>       
      </tbody>
    </table>

    <h2 class="heading-medium type-heading">
     Claims made against you
   </h2>

   <table class="claim-dashboard">
    <thead>
      <tr>
        <th scope="col">Claim number</th>
        <th scope="col"">Claimant name</th>
        <th scope="col"">Claim amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="defendant">434-MD73</a></td>
        <td>Abalan construction  </td>
        <td>£1302.23 </td>
        <td>Respond to claim <br><span class="font-xsmall">(14 days remaining)</span> </td>
      </tr>       
    </tbody>
  </table>

</div>
</div>
</main>
{% endblock %}

