{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
        <h1 class="heading-large">
          Your money claims account
        </h1>
        <h2 class="heading-medium">Claim status</h2>
        <div class="panel panel-border-wide">
         <p>The defendant Mary Richards has not responded to your claim. You can request the court for a 'Judgement by default'</p>
       </div>
       <p>A Judgement by default is a judgement against the defendant, when the defendant fails to defend the Claim. Therefore you win the case by default.</p>
       <div class="form-group">
         <p> <a class="button" href="http://jc0dbb.axshare.com/confirm_their_details.html">Request a judgement by default</a></p>
       </div>
       <h2 class="heading-small">Discontinue claim</h2>
       <p>
        If you decide to not to pursue this claim any further you can <a href='#'>discontinue the claim</a>. The case will be closed and any court fees paid will not be reimbursed.
      </p>
    </div>
    <div class="column-one-third">
      <div class="meta-data">
        <ul role="navigation" class="font-xsmall list" style="padding-top: 100px">
          <li><strong class="bold">Claim number:</strong><br> CF91-BK65</li>
<!--           <li><strong class="bold">Summary:</strong><br>About building works. </li>
 -->          <li><strong class="bold">Claim amount:</strong><br>£1500.00 </li>
          <li><strong class="bold">Claim details:</strong><br><a href="view-claim">View claim</a> </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}

