{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data.cc_defend_now=="Yes" or data['confirmation']== 15 %}
      {%else%}
      <div class="govuk-box-highlight">
        {% if data.radio_cc_group=="Yes" %}
        <h1 class="bold-large">Response and counterclaim submitted</h1>
        {% else %}
        <h1 class="bold-large">You've submitted your response</h1>
        {% endif %}
        <p>
          <strong class="bold"><span id="Date2"></span></strong>
        </p>
      </p>
      <p>
   {% if  data.radio_select_group2=="paid" or data['confirmation']== 16 %}
      <a  class="font-medium" href="/defendant/full/d-5/correspondence/forms/v2/claim-form-defendant?check=8" style="color: #FFFFFF" >Download your response as a PDF</a>

    {% else %}
        <a  class="font-medium" href="/defendant/full/d-5/correspondence/forms/v2/claim-form-defendant?check=9" style="color: #FFFFFF" >Download your response as a PDF</a>
    {% endif %}
      </p>
    </div>
    {% endif %}
    {% if data.radio_cc_group=="Yes" %}
    <br>
    <h2 class="heading-large">Your response to the claim</h2>
    {% elseif data.cc_defend_now=="Yes" or data['confirmation']== 15 or data['confirmation']== 13%}
    <h2 class="heading-large">Next steps</h2>
    {% else %}
    <h2 class="heading-large">Your response</h2>
    {% endif %}
    <!-- Admit all - pay Immediately -->
    {% if data['radio-pay-group']=="Immediately" and data.radio_select_group=="all" or data['confirmation']== 1  %}
    <p>We've emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} telling them that you will pay their money claim within 28 days.</p>
    <p>View the <a href='../../../dashboard/v3/defendant?defendant=7'>claim against you and your response</a>.</p>
    <h2 class="heading-medium">What happens next</h2>
    <p>When {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} gets your payment they must tell you and the court you’ve paid their money claim.</p>
    <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
    <p>The claimant can ask for a CCJ to be made against you even though you admit the claim.</p>
    <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
    <p>If you pay the debt within 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of cancellation</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <!-- Admit all - pay instalments -->
    {% elseif data['radio-pay-group']=="Instalments" and data.radio_select_group=="all" or data['confirmation']== 2 %}
    <p>We've emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} telling them that you will pay their money by instalments.</p>
    <p>View the <a href='../../../dashboard/v3/defendant?defendant=7'>claim against you and your response</a>.</p>
    <h2 class="heading-medium">What happens next</h2>
    <p>{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} needs to respond to your suggested instalment plan before 4pm on <span id="Date"></span>. We’ll contact you when{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} responds.</p>
    <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
    <p>The claimant can ask for a CCJ to be made against you even though you admit the claim.</p>
    <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
    <p>If you stop paying the instalments, the claimant can ask the court to enforce payment. For example, money could be deducted from your wages or a bailiff could take take your belongings.</p>
    <p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <!-- Admit all - pay by set date -->
    {% elseif data['radio-pay-group']=="Set-date"  and data.radio_select_group=="all" or data['confirmation']== 3 %}
    <p>We've emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} your offer to pay the money claim on <span id="Date"></span> and your explanation of why you can’t pay before then.</p>
    <p>View the <a href='../../../dashboard/v3/defendant?defendant=7'>claim against you and your response</a>.</p>
    <h2 class="heading-medium">What happens next</h2>
    <p>They need to respond to your offer before 4pm on <span id="Date3"></span>.</p>
    <p>If {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} rejects your offer to pay by a set date then the court will decide how you can pay.</p>
    <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
    <p>The claimant can ask for a CCJ to be made against you even though you admit the claim.</p>
    <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
    <p>If you stop paying the instalments, the claimant can ask the court to enforce payment. For example, money could be deducted from your wages or a bailiff could take take your belongings.</p>
    <p>If you pay the debt within 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of cancellation</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <!-- amount is too much - pay immediately -->
    {% elseif data.radio_select_group2=="Some" and data['radio-pay-group']=="Immediately" or data['confirmation']== 4 %}
    <p>You believe you owe £1,000. We've emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} telling them you're prepared to pay this amount within 28 days.</p>
    <p>Your explanation of why you believe you don't owe the amount claimed has been sent to {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}.</p>
    <p>View the <a href='../../../dashboard/v3/defendant?defendant=7'>claim against you and your response</a>.</p>
    <h2 class="heading-medium">What happens next</h2>
    <p>{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} needs to respond to your defence on or before <span class="dates"></span>. If they reject it then the case will be reviewed and might go to a hearing.</p>
    <p>We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>
    <p>If {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} accepts your defence they must tell both you and the court that you have paid the money claim.</p>
    <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
    <p>The claimant can ask for a CCJ to be made against you even though you admit part of the claim.</p>
    <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
    <p>If you stop paying the instalments, the claimant can ask the court to enforce payment. For example, money could be deducted from your wages or a bailiff could take take your belongings.</p>
    <p>If you pay the debt within 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of cancellation</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <h3 class="heading-medium">Settle out of court</h3>
    <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example, you could offer to fix faulty goods you sold the claimant or suggest a payment.</p>
    <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>
    {% if data['radio-mediation-group']=="Yes" %}
    <h2 class="heading-medium">Mediation </h2>
    <p>You have chosen to use the free mediation service to resolve the dispute with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}. We’ll ask them if they want to mediate.</p>
    <p>If they agree to mediation we’ll email you to arrange an appointment.</p>
    <p>If you can reach an agreement with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} you won't need to go to a hearing.</p>
    {% else %}
    {% endif %}
    <!-- amount too much - pay instalments  -->
    {% elseif data.radio_select_group2=="Some" and data['radio-pay-group']=="Instalments" or data['confirmation']== 6 %}
    <p>You believe you owe £1,000. We've emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} your offer to pay this amount by instalments.</p>
    <p>Your explanation of why you believe you don't owe the amount claimed has been sent to {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}.</p>
    <p>View the <a href='../../../dashboard/v3/defendant?defendant=7'>claim against you and your response</a>.</p>
    <h2 class="heading-medium">What happens next</h2>
    <p>{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} needs to respond to your offer before 4pm on <span class="dates"></span>.</p>
    <p>If your offer is accepted we’ll email you to explain how you can pay.</p>
    <p>If your offer is rejected then the case will be reviewed and might go to a hearing.</p>
    <p>We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>
    <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
    <p>The claimant can ask for a CCJ to be made against you even though you admit part of the claim.</p>
    <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
    <p>If you stop paying the instalments, the claimant can ask the court to enforce payment. For example, money could be deducted from your wages or a bailiff could take take your belongings.</p>
    <p>If you pay the debt within 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of cancellation</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p><p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <h3 class="heading-medium">Settle out of court</h3>
    <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example, you could offer to fix faulty goods you sold the claimant or suggest a payment.</p>
    <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>
    {% if data['radio-mediation-group']=="Yes"  %}
    <h2 class="heading-medium">Mediation </h2>
    <p>You have chosen to use the free mediation service to resolve the dispute with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}. We’ll ask them if they want to mediate.</p>
    <p>If they agree to mediation we’ll email you to arrange an appointment.</p>
    <p>If you can reach an agreement with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} you won't need to go to a hearing.</p>
    {% else %}
    {% endif %}
    <!-- amount too much - pay set date + mediation -->
    {% elseif data.radio_select_group2=="Some" and data['radio-pay-group']=="Set-date" or data['confirmation']== 7 %}
    <p>You believe you owe £1,000. We've emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} your offer to pay this amount by <span class="dates"></span>.</p>
    <p>Your explanation of why you believe you don't owe the amount claimed has been sent to {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}.</p>
    <p>View the <a href='../../../dashboard/v3/defendant?defendant=7'>claim against you and your response</a>.</p>
    <h2 class="heading-medium">What happens next</h2>
    <p>{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} needs to respond to your offer before 4pm on <span class="dates"></span>.</p>
    <p>If your offer is accepted we’ll email you to explain how you can pay.</p>
    <p>If your offer is rejected then the case will be reviewed and might go to a hearing.</p>
    <p>We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>
    <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
    <p>The claimant can ask for a CCJ to be made against you even though you admit part of the claim.</p>
    <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
    <p>If you stop paying the instalments, the claimant can ask the court to enforce payment. For example, money could be deducted from your wages or a bailiff could take take your belongings.</p>
    <p>If you pay the debt within 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of cancellation</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p><p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <h3 class="heading-medium">Settle out of court</h3>
    <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example, you could offer to fix faulty goods you sold the claimant or suggest a payment.</p>
    <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>
    {% if data['radio-mediation-group']=="Yes" %}
    <h2 class="heading-medium">Mediation </h2>
    <p>You have chosen to use the free mediation service to resolve the dispute with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}. We’ll ask them if they want to mediate.</p>
    <p>If they agree to mediation we’ll email you to arrange an appointment.</p>
    <p>If you can reach an agreement with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} you won't need to go to a hearing.</p>
    <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
    <p>The claimant can ask for a CCJ to be made against you even though you admit part of the claim.</p>
    <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
    <p>If you stop paying the instalments, the claimant can ask the court to enforce payment. For example, money could be deducted from your wages or a bailiff could take take your belongings.</p>
    <p>If you pay the debt within 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of cancellation</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p><p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <h3 class="heading-medium">Settle out of court</h3>
    <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example, you could offer to fix faulty goods you sold the claimant or suggest a payment.</p>
    <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>
    {% else %}
    {% endif %}
    {% elseif data.radio_select_group2=="some_cc" or data['confirmation']== 13 %}
           <div class="panel panel-border-wide">
            <p>Complete an a defence and counterclaim OCPN9B form</p>
            <p>To make a counter claim you will have to pay a fee. </p>
          </div>
    <ul class="list list-number">
      <li>Complete both the <a target="_blank" href="/public//images/OCPN9A.pdf">admission  OCPN9A</a>  and a <a target="_blank" href="/public//images/OCPN9B.pdf">defence and counterclaim OCPN9B</a> forms <span class="font-xsmall">(forms open in new window)</span></li>
      <ul class="list list-bullet">
        <li>Claim No. 000MC051</li>
        <li>Claimant 24332 23423</li>
        <li>Defendant eqwe qweqw</li>
      </ul>
      <li>Download and attach the completed forms to an email</li>
      <li>Send the email with the attached forms to <a href="mailto:civil-money-claim@hmcts.gov.uk?Subject=CF91-BK65">civil-money-claim@hmcts.gov.uk</a></li>
    </ul>
    <!-- paid what i owe -->
    {% elseif data.radio_select_group2=="Paid-some" or data['confirmation']== 8 %}
    <p>You state that you paid £1500. Your explanation of why you don't owe any more money has been sent to {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}. </p>
    <p>View the <a href='../../../dashboard/v3/defendant?defendant=7'>claim against you and your response</a>.</p>
    <h2 class="heading-medium">What happens next</h2>
    <p>{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} needs to respond to your offer before 4pm on <span class="dates"></span>.  If they reject it then the case will be reviewed and might go to a hearing.</p>
    <p>We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>
    <p>If {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} accepts your defence they must tell both you and the court that you have paid the money claim.</p>
    <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
    <p>The claimant can ask for a CCJ to be made against you even though you admit part of the claim.</p>
    <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
    <p>If you stop paying the instalments, the claimant can ask the court to enforce payment. For example, money could be deducted from your wages or a bailiff could take take your belongings.</p>
    <p>If you pay the debt within 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of cancellation</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
    <h3 class="heading-medium">Settle out of court</h3
      <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example, you could offer to fix faulty goods you sold the claimant or suggest a payment.</p>
      <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>
      {% if data['radio-mediation-group']=="Yes" %}
      <h2 class="heading-medium">Mediation </h2>
      <p>You have chosen to use the free mediation service to resolve the dispute with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}. We’ll ask them if they want to mediate.</p>
      <p>If they agree to mediation we’ll email you to arrange an appointment.</p>
      <p>If you can reach an agreement with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} you won't need to go to a hearing.</p>
      {% else %}
      {% endif %}
      <!-- paid what i owe + mediation -->
      {% elseif data.radio_select_group2=="Paid-some" or data['confirmation']== 10 %}
      <p>You state that you paid £1500. Your explanation of why you don't owe any more money has been sent to {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}
        <h2 class="heading-medium">What happens next</h2>
        <p>{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} needs to respond to your offer before 4pm on <span class="dates"></span>.  If they reject it then the case will be reviewed and might go to a hearing.</p>
        <p>We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>
        <p>If {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} accepts your defence they must tell both you and the court that you have paid the money claim.</p>
        <p>You can still contact {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} to make a <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settlement out of court</a>. If you agree a settlement then the claim is closed and you won't have to go to a hearing.</p>
        {% if data['radio-mediation-group']=="Yes" or data['confirmation']== 10 %}
        <h2 class="heading-medium">Mediation </h2>
        <p>You have chosen to use the free mediation service to resolve the dispute with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}. We’ll ask them if they want to mediate.</p>
        <p>If they agree to mediation we’ll email you to arrange an appointment.</p>
        <p>If you can reach an agreement with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} you won't need to go to a hearing.</p>
        <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
        <p>The claimant can ask for a CCJ to be made against you even though you admit part of the claim.</p>
        <p>Check the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">register of CCJs</a> to find out if you have a CCJ. You’ll have to pay a fee - each search costs between £4 and £10.</p>
        <p>If you stop paying the instalments, the claimant can ask the court to enforce payment. For example, money could be deducted from your wages or a bailiff could take take your belongings.</p>
        <p>If you pay the debt within 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of cancellation</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
        <p>If you pay the debt after 28 days you can <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1157">apply for a certificate of satisfaction</a> to remove your name from the register(opens in a new window). This application costs £15.</p>
        <h3 class="heading-medium">Settle out of court</h3>
        <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example, you could offer to fix faulty goods you sold the claimant or suggest a payment.</p>
        <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>
        {% else %}
        {% endif %}
        <!-- Reject claim -->
        {% elseif data.radio_select_group2=="defend_now" or data['confirmation']== 12 %}
        <p>We’ve emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} your defence, explaining why you reject the claim.</p>
        <p>View the <a href='/dashboard/v4/home?dashboard=2.7'>claim against you and your response</a>.</p>
        <h2 class="heading-medium">What happens next</h2>

      <p>If {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} accepts your defence the claim will be cancelled.</p>
          <p>If they reject your defence the case will be reviewed and might go to a hearing.</p>
        <h3 class="heading-medium">Settle out of court</h3>
        <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example you could offer to fix faulty goods you sold the claimant or suggest a payment.</p>
        <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>
        {% if data['radio-mediation-group']=="Yes"  %}
        <h2 class="heading-medium">Mediation </h2>
        <p>You have chosen to use the free mediation service to resolve the dispute with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %}. We’ll ask them if they want to mediate.</p>
        <p>If they agree to mediation we’ll email you to arrange an appointment.</p>
        <p>If you can reach an agreement with {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} you won't need to go to a hearing.</p>
        {% else %}
              {% include "includes/survey.html" %}
          <p><a class="button" href='/dashboard/v4/home?dashboard=2.7'>Finished</a></p>

        {% endif %}
        <!-- Reject claim + mediation -->
        {% elseif data.radio_select_group2=="defend_now" or data['confirmation']== 14 %}
        <p>We’ve emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} your defence, explaining why you disagree with the claim.</p>
        <h2 class="heading-medium">What happens next</h2>

      <p>You've suggested using free mediation to resolve the dispute. Jan Clark has until <strong class="bold"> 6 March</strong> to accept your offer of mediation.</p>
      <p>If they agree to mediation we’ll email you to arrange an appointment.</p>
      <p>If they don't agree the case will be reviewed and may go to a hearing.</p>
<!--
      <h2 class="heading-medium">County Court Judgment (CCJ)</h2>
        <p>If you lose your case, then you’ll get a CCJ ordering you to pay the full claim amount and any costs.</p>
        <p>Details of the CCJ will be entered on the <a href="https://www.trustonline.org.uk/understand-judgments-fines/entries-on-the-england-and-wales-register/ccjs-and-the-register">Register of Judgments, Orders and Fines</a>. Your name could stay on this Register for 6 years unless you pay the total amount you owe. -->
          {% if data['radio-mediation-group']=="Yes"  or data['confirmation']== 14%}

          <h3 class="heading-medium">Settle out of court</h3>
          <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example, you could offer to fix faulty goods you sold the claimant or suggest a payment.</p>
          <p>You may avoid getting a County Court Judgment if the claimant accepts your offer.</p>
                 {% include "includes/survey.html" %}
          <p><a class="button" href='/dashboard/v4/home?dashboard=2.8'>Finished</a></p>


          {% else %}
              {% include "includes/survey.html" %}
          <p><a class="button" href='/dashboard/v4/home?dashboard=2.6'>Finished</a></p>

          {% endif %}
          {% elseif data.radio_select_group2=="defend_now_cc" or data['confirmation']== 15 %}
          <div class="panel panel-border-wide">
            <p>Complete an a defence and counterclaim OCPN9B form</p>
            <p>To make a counter claim you will have to pay a fee. </p>
          </div>
          <ul class="list list-number">
            <li>Complete <a href="/public//images/OCPN9B.pdf" target="_blank">defence and counterclaim OCPN9B</a> form <span class="font-xsmall">(opens in a new window)</span></li>
            <li>Download and attach the completed form to an email</li>
            <li>Send the email with the attached form to <a href="mailto:civil-money-claim@hmcts.gov.uk?Subject=CF91-BK65">civil-money-claim@hmcts.gov.uk</a></li>
          </ul>
          <!-- Already paid -->
          {% elseif  data.radio_select_group2=="paid" or data['confirmation']== 16 %}
          <p>We’ve emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} telling them when and how you paid the claim of £1500.</p>
          <h2 class="heading-medium">What happens next</h2>

      <p>If {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} accepts your defence the claim will be cancelled.</p>
      <p>If they reject your defence the case will be reviewed and might go to a hearing.</p>
          {% else %}
          <p>You admit you owe part of the claim. We've emailed {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} your response.</p>
          <h2 class="heading-medium">What happens next</h2>
          <p>If {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} accepts your response we'll email you explaining how to pay them.</p>
          <p>If they reject it the claim will be reviewed by a judge and might go to a hearing.</p>
          <h3 class="heading-medium">Settle out of court</h3>
          <p>You can still <a href='/dashboard/v4/offer-agreement/make-offer?defendant=defendant'>settle the claim out of court</a>. For example, you could offer to fix goods you sold the claimant or suggest a payment.</p>
          <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>
          {% endif %}

          {% if data.radio_cc_group=="Yes" %}
          <br>
          <h2 class="heading-large">Your counterclaim</h2>
          <h2 class="heading-medium">What happens next</h2>
          <p>{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} needs to respond to your counterclaim by <span id="Date"></span>.
            <p>{% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} can ask for an extra 14 days to respond to your claim. We'll email you when they respond. You can request a County Court Judgment against them if they don't respond.</p>
            <h2 class="heading-medium">What to do if you get paid</h2 >
            <p>Tell the defendant when you’ve received their payment.</p>
            <p>You must also tell the court what date you were paid or accepted an offer. Do this by emailing moneyclaims@hmcts.gsi.gov.uk</p>
            <h3 class="heading-medium">Your money claims account</h3>
            <p> You can view the counterclaim at any time on <a href='../../../dashboard/v3/defendant?defendant=17'>your money claims account</a>. </p>
            <h2 class="heading-medium"> If you disagree with the response</h2>
            You might have to go to a court hearing if:
            <ul class="list list-bullet">
              <li>the defendant says they don’t owe you any money</li>
              <li>they disagree with the amount you’ve claimed</li>
              <li>you don’t agree with how they’ve offered to repay you</li>
            </uL>
            <p>The court may send you a questionnaire asking for more information on the case.</p>
            <h2 class="heading-medium">What you can do</h2>
            <p>You can still contact {% if data.counterclaim=="true" %}Mary Richards{%else%}Jan Clark{% endif %} directly while your claim progresses. Many people are able to settle their
            claim by discussing what's gone wrong. If you can make an agreement you won't need to go to a hearing.</p>
            {% else %}
            {% endif %}
  {% include "includes/contact.html" %}

          </fieldset>
        </div>
      </div>
    </div>
  </main>
  <form method="post"  action="#" class="form" style="position: absolute;">
    <select id="check2" name="check2" onchange="window.location.href='?confirmation='+this.value">
      <option  value="0" >Choose</option>
      <option  value="12" {% if data['confirmation'] == 12 %}selected{% endif %}>5. R/C - I dispute the claim</option>
      <option  value="14" {% if data['confirmation'] == 14 %}selected{% endif %}>6. R/C - I dispute the claim + mediation</option>
      <option  value="16" {% if data['confirmation'] == 16 %}selected{% endif %}>7. R/C - Paid full claim</option>

    </select>
  </form>
  {% endblock %}
