{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Consider a different enforcement option
      </h1>

      <p>You should only apply for a bailiff to visit the defendant if you think they'll be able to get your money
        back.</p>
      <p>You should consider a different enforcement option. You can ask the court to:</p>
      <ul class="list list-bullet">
        <li><a target="_blank"
               href="https://www.gov.uk/government/publications/form-n39-order-to-attend-court-for-questioning">order
          the defendant to attend a hearing and find out what they can afford to pay</a></li>
        <li><a target="_blank"
               href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=567">take money from the
          defendant's wages</a> to pay the debt
        </li>
        <li><a target="_blank"
               href="https://www.gov.uk/government/publications/form-n349-application-for-third-party-debt-order">freeze money in the
          defendant's bank</a>, building society or business account
        </li>
        <li><a target="_blank"
               href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=576">charge the defendant's
          land or property</a></li>
      </ul>
      <p>You need to use a paper form to apply for each of these options, complete it and return it to make your
        application.</p>

      <p><a href='claim-amount-deduct'>I still want to apply for a warrant of control</a></p>

      <h3 class="heading-medium">Where to send paper forms</h3>

      <p>County Court Money Claims Centre<br>
        PO Box 527<br>
        Salford<br>
        M5 0BY<br>
      </p>
    </div>
  </div>
{% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
