{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        You need to complete all sections before you submit your response
      </h1>


      

      <p>You still need to complete:</p>

      <ul class="list list-bullet">

        {% if data.settle_out_of_court!="complete" %}

        <li>Make an offer to settle out of court </li>
        {% endif %}

        {% if data.confirm_details!="complete" %}
        <li>Confirm your details </li>

        {% endif %}

        {% if data.more_time_to_respond!="complete" %}
        <li>Do you want more time to respond? </li>

        {% endif %}

        {% if data.your_defence_options!="complete" %}
        <li>Response options </li>

        {% endif %}


        {% if data.do_you_owe_money!="complete" %}
        <li>Do you owe the money claimed? </li>
        {% endif %}



        {% if data.radio_select_group2=="defend_now" and data.do_you_owe_money=="complete" and data.radio_select_group!="Some" and data.radio_select_group!="all"%}

        {% if data.your_defence!="complete" %}
        <li>Why do you disagree with the claim? </li>
        {% endif %}

        {% if data.mediation!="complete" %}
        <li>Free mediation</li>
        {% endif %}


        {% elseif data.radio_select_group2=="paid" and data.do_you_owe_money=="complete" and data.radio_select_group!="Some" and data.radio_select_group!="all"%}
        

        {% if data.your_defence!="complete" %}
        <li>How much and when did you pay? </li>
        {% endif %}




        {% elseif data.radio_select_group=="Some" and data.do_you_owe_money=="complete" and data.radio_select_group2=="defend_now" %}
        

        {% if data.your_defence!="complete" %}
        <li>Your response to the claim </li>
        {% endif %}





        {% elseif data.radio_select_group=="all" and data.do_you_owe_money=="complete" %}
        
        {% if data.data.owe_some!="complete" %}
        <li>When will you pay? </li>
        {% endif %}



        {% elseif data.radio_select_group2=="Paid-some" and data.do_you_owe_money=="complete" %}

        {% if data.data.your_defence!="complete" %}
        <li> How much have you paid the claimant? </li>
        {% endif %}

        {% if data.mediation!="complete" %}
        <li>Free mediation</li>
        {% endif %}



        {% elseif data.radio_select_group=="Some" and data.do_you_owe_money=="complete" and data.radio_select_group2!="defend_now" %}


        {% if data.data.your_defence!="complete" %}
        <li> How much money do you believe you owe? </li>
        {% endif %}

        {% if data.data.owe_some!="complete" %}
        <li> When will you pay? </li>
        {% endif %}



        {% if data.mediation!="complete" %}
        <li>Free mediation</li>
        {% endif %}





        {% endif %}








      </ul>
      <a href="../../task-list">Back to task list</a>
<!-- 
                {% if data.confirm_details=="complete" and data.more_time_to_respond=="complete" and data.do_you_owe_money=="complete" and data.your_defence=="complete" %}
                <td class="task">
                  <a href="task-list/check-and-send{{formQuery}}">
                    <span class="task-name"> Check and submit your response</span>
                  </a>
                </td>
                {% elseif data.confirm_details=="complete" and data.more_time_to_respond=="complete" and data.do_you_owe_money=="complete" and data.your_suggestion=="complete" %}
                <td class="task">
                  <a href="task-list/check-and-send{{formQuery}}">
                    <span class="task-name"> Check and submit your response</span>
                  </a>
                </td>
                {% elseif data.confirm_details=="complete" and data.more_time_to_respond=="complete" and data.do_you_owe_money=="complete" and data.owe_all=="complete" %}
                <td class="task">
                  <a href="task-list/check-and-send{{formQuery}}">
                    <span class="task-name"> Check and submit your response</span>
                  </a>
                </td>
                {% elseif data.confirm_details=="complete" and data.more_time_to_respond=="complete" and data.do_you_owe_money=="complete" and data.owe_some=="complete" %}
                <td class="task">
                  <a href="task-list/check-and-send{{formQuery}}">
                    <span class="task-name"> Check and submit your response</span>
                  </a>
                </td>
                {% else %}
                <td >
                 <a href="task-list/check-and-send/incomplete-submission">
                    <span class="task-name"> Check and submit your response</span>
                  </a>
                </td>
                {% endif %} -->


              </div>
            </main>
            {% endblock %}
