<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Money Claims </a>
      <ul id="proposition-links">


<!--       <h1 style="color: #fff">aaaaaaa {{ make_claim }}</h1>
 -->
    {% if my_account=="1" %}
    <!-- first time user - make claim -->
        <li><a href="/prototypes/prototype-april-2018/dashboard/home?dashboard=6" >My account</a></li>

    {% elseif my_account=="2" %}
   <!-- first time user - respond to claim -->
        <li><a href="/prototypes/prototype-april-2018/dashboard/home?dashboard=2" >My account</a></li>

    {% elseif my_account=="3" %}
   <!-- completed claim -->
        <li><a href="/prototypes/prototype-april-2018/dashboard/home?dashboard=1.2" >My account</a></li>

   {% elseif my_account=="4" %}
   <!-- completed claim -->
        <li><a href="/prototypes/prototype-april-2018/dashboard/home?dashboard=3" >My account</a></li>

   {% elseif my_account=="5" %}
   <!-- completed claim -->
        <li><a href="/prototypes/prototype-april-2018/dashboard/home?dashboard=4" >My account</a></li>


    {% else %}
        <li><a href="/prototypes/features-to-be-built/dashboard/home" >My account</a></li>
    {% endif %}






        <li><a href="/prototypes/features-to-be-built/dashboard/idam/sign-in">Sign out</a></li>
      </ul>
    </nav>
  </div>
</div>
