<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/module_loader.js"></script>
<script src="/public/javascripts/application.js"></script>
{% if useAutoStoreData %}
<script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
<script src="/public/javascripts/main.js"></script>
<script src="/public/javascripts/back-links.js"></script>
<script src="/public/javascripts/data-store.js"></script>
<script src="/public/javascripts/dependent-fields.js"></script>
<script src="/public/javascripts/display-values.js"></script>
<script src="/public/javascripts/doc-upload-demo.js"></script>
<script src="/public/javascripts/dropzone.js"></script>
<script src="/public/javascripts/form-routes.js"></script>
<script src="/public/javascripts/jquery.sticky.js"></script>
<script src="/public/javascripts/link-alerts.js"></script>
<script src="/public/javascripts/paid-case.js"></script>
<script src="/public/javascripts/record-answers.js"></script>
<script src="/public/javascripts/selection-buttons.js"></script>
<script src="/public/javascripts/task-dependencies.js"></script>
<script src="/public/javascripts/task-list.js"></script>
<script src="/public/javascripts/moj_init.js"></script>
<script src="/public/javascripts/moment.js"></script>
