{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Mary Richards' response
      </h1>

      <p class="panel panel-border-wide">
        Mary Richards had said they disagree with the claim and would like to take part in telephone mediation to sort this out.
      </p>

      <!--<fieldset></fieldset>-->

      <form name="aspnetForm" method="post" onsubmit="multiNavigation('radio-indent-group', ['Yes', 'No', ''], ['mediation-confirmation', 'confirmation-page', '']);return false;" id="aspnetForm" autocomplete="off">

        <h1 class="heading-medium">
          Your response
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Your response</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">
                <strong class="bold-small">Take part in free mediation</strong><br>
                An impartial mediator listens to both sides separately on the telephone and try to reach an agreement
              </label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="yes-info">-->
            <!--<p>A court officer will draw up an agreement for you both to approve.</p>-->
            <!--</div>-->

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">
                <strong class="bold-small">Continue the claim</strong><br>
                Your claim will continue to a hearing. You'll need to prepare evidence and pay hearing fee
              </label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="no-info">-->
            <!--<p>You can 'request a judgement'.</p>-->
            <!--</div>-->

            <!-- <div class="multiple-choice">
              <input id="radio-alternative" type="radio" name="radio-indent-group" value="Alternative">
              <label for="radio-alternative" data-target="alternative-info">
                <strong class="bold-small">I don't agree on everything</strong><br>
                You can suggest an alternative or get help agreeing - eg request free mediation
              </label>
            </div> -->



            <!--<div class="panel panel-border-narrow js-hidden" id="alternative-info">-->
            <!--<p>For example, you might suggest a higher payment amount.</p>-->
            <!--</div>-->

          </fieldset>

          <input id="advert-option-next--button" type="submit" value="Submit response" class="button" data-ignore-double-submit="true">
        </div>
      </form>

      <p>
        <a href="../mediation">More about mediation</a>
      </p>

    </div>
  </div>
</main>


{% endblock %}
