{% extends "layout_task-list.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers for this task
  </h1>

 <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Their details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Who are you making the claim against?
        </td>
        <td>
          {{data['defendant-type']}}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Type</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Their details
        </td>
        <td>
          {{data['defendant-firstname']}} {{data['defendant-lastname']}}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Their address:
        </td>
        <td>
          First line of address<br>
          Second line of address<br>
          Town or city<br>
          County<br>
          Postcode
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Their address</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Their email
        </td>
        <td>
          {{data['defendant-email']}}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

  <a href="/prototype-14/task-list">Return to overview</a>

</main>

{% endblock %}
