{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">

        Has Mary Richards paid any of the amount on the County Court Judgment?
      </h1>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="conditionalNavigation('radio-indent-group2', 'Yes', 'claim-amount-instalments', 'claim-amount-instalments');return false;"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>
            <div class="multiple-choice" data-target="contact-by-text">
              <input id="dob-yes" type="radio" name="radio-indent-group2" value="Yes">
              <label for="example-contact-by-text">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <p>The amount on the judgment was {% if data['radio-proceed']=="judgment-pa"
                %}£1200{%else%}£1643.20{%endif%}.</p>

              <div class="form-group-compound address-item form-group">
                <label class="form-label" for="addressLine1">Amount already paid</label>
                <input class="fee pound" maxlength="10" size="7" type="text" value="" name="num2" id="num2">
              </div>

            </div>


            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group2" value="No">
              <label for="radio-no" data-target="no-info">
                No
              </label>
            </div>
        </div>


        </fieldset>

        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
               data-ignore-double-submit="true">
      </form>


    </div>
  </div>
  </div>
  <fieldset></fieldset>
  {% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
