{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../../task-list {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="../../task-list{{ formQuery | safe }}">Respond to a money claim</a>
      </li>
       <li>
        <a href="../your-details{{ formQuery | safe }}">Confirm details</a>
      </li>
      <li>
        Your address
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

    <form method="post" action="../your-details" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          Your residential address
        </h1>
        <fieldset>

          <br>

          <div class="form-group">



            <div id="addressManualWrapper">
              <div id="address-details" class="address-manual-input disabled">
                <div class="form-group-compound address-item form-group"><a name="address_addressline1"></a><label
                  class="form-label" for="Address_AddressLine1">Address line 1</label><input class="form-control" value="101 Regents road" ></span></div>

                  <div class="form-group-compound address-item form-group"><a name="address_addressline2"></a><label
                    class="form-label" for="Address_AddressLine2">Address line 2
                    (optional)</label><input class="form-control" value="Shiplake" ></span></div>

                    <div class="form-group-compound address-item form-group"><a name="address_addressline3"></a><label
                      class="form-label" for="Address_AddressLine3">Town or city
                    </label><input autocorrect="off" class="form-control" value="Henley on Thames" ></span></div>


                    <div class="address-item form-group"><a name="address_postcode"></a><label
                      class="form-label" for="Address_Postcode">Postcode</label><input class="form-control form-control-1-4" value="RG9 4BW" ></span></div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="submit" class="button" value="Continue"/>
                  </div>
                  <a href="../your-details">Cancel </a>
                </div>
              </form>

            </div>
          </div>

        </main>
        <script type="text/javascript">

          $( document ).ready(function() {
           $('.toggle').click(function(e){
            e.preventDefault();
            $('.correspondence').show();
            $('.toggle').hide();
          });
           $('.toggle2').click(function(e){
            $('.correspondence').hide();
            $('.toggle').show();
          });

         });
       </script>
       {% endblock %}


     </script>