{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation_new.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large" id="page-h1" style="margin-bottom: 20px">
        All claims
      </h1>

      <a class="newclaim" href="../../new-claim/eligibility" style="margin-bottom: 40px">Make a new money claim</a>

      <!--<h2 class="heading-medium type-heading claims">-->
      <!--Claims you've made-->
      <!--</h2>-->

      <div class="tabGroup">
        <a id="tabA" class="tab-on" onclick="tabGroup(tabContent, 'TAB-ONE')" href="javascript: void(0)">Claims you've
          made</a>
        <a id="tabB" class="tab" onclick="tabGroup(tabContent, 'TAB-TWO')" href="javascript: void(0)">Claims made
          against you</a>
        <div class="govuk-form-group" style="float: right; margin-bottom: -10px">
          <label class="font-xsmall" for="sort">
            Sort by
          </label>
          <select class="govuk-select" id="sort" name="sort" style="font-size: 14px">
            <option value="" selected="">Deadline</option>
            <option value="">Draft claims</option>
            <option value="">Claim amount</option>
            <option value="">Defendant name</option>
          </select>
        </div>
        <!--<a id="tabC" class="tab" onclick="tabGroup(tabContent, 'TAB-THREE')" href="javascript: void(0)">Archived</a>-->
        <hr>
      </div>

      <div id="tabContent" class="top_30">

        <div id="tabOneContent">

          <div class="table-container container">
            <table class="clickable">
              <!--<caption>-->
              <!--<span class="table-caption">-->
              <!--Claims you've made-->
              <!--</span>-->
              <!--</caption>-->
              <!--<div class="govuk-form-group" style="float: right">
                <label class="font-small" for="sort">
                  Sort by
                </label>
                <select class="govuk-select" id="sort" name="sort" style="font-size: medium">
                  <option value="">Deadline</option>
                  <option value="" selected="">Claim amount</option>
                  <option value="">Defendant name</option>
                </select>
              </div>-->

              <thead>
              <tr>
                <th scope="col">
                  <span style="font-size: medium">Claim number</span>
                </th>
                <th scope="col">
                  <span style="font-size: medium">Defendant</span>
                </th>
                <th class="numeric" scope="col">
                  <span style="font-size: medium">Claim amount</span>
                </th>
                <th scope="col">
                  <span style="font-size: medium">Next steps</span>
                </th>
                <th scope="col">
                  <span style="font-size: medium">Deadline</span>
                </th>
                <th scope="col">
                  <span style="font-size: medium"></span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="mobile-sort">
                <td colspan="10">
                  Sort by:
                  <a tabindex="0" href="#listanchor">Claim number</a>
                  <a tabindex="0" href="#listanchor">Defendant</a>
                  <!--<a tabindex="0" href="#listanchor">Claim amount</a>-->
                  <a tabindex="0" href="#listanchor">Last update</a>
                  <a tabindex="0" href="#listanchor">Next steps</a>
                  <a class="current asc" tabindex="0" href="#listanchor">Deadline ▲</a>
                  <!--<a tabindex="0" href="#listanchor"></a>-->
                </td>
              </tr>

              <!--claim 01-->
              <tr class="draft" id="claim_01">
                <td aria-label="Claim-number">
                  -
                </td>
                <td aria-label="Defendants">
                  Michael Jones
                </td>
                <td aria-label="Claimed" class="numeric claimed-amount">
                  £1,500
                </td>
                <!--<td aria-label="Status" scope="row">-->
                <!-- - -->
                <!--</td>-->
                <td aria-label="Next steps">
                  -
                </td>
                <td aria-label="Deadline">
                  -
                </td>
                <!--<td aria-label="Status" scope="row">-->
                <!--<span class="state state-draft">-->
                <!--Draft-->
                <!--</span>-->
                <!--</td>-->
                <td aria-label="Action">
                  <a class="" href="">Continue draft</a>
                </td>
              </tr>

              <!--claim 02-->
              <tr class="submitted" id="claim-c1">
                <td aria-label="Claim-number">
                  352MC733
                </td>
                <td aria-label="Defendants">
                  Mary Richards<br>
                </td>
                <td aria-label="Claimed" class="numeric claimed-amount">
                  £300
                </td>
                <!--<td aria-label="Status" scope="row">-->
                <!--&lt;!&ndash;<span class="state state-submitted">&ndash;&gt;-->
                <!--The defendant <br>made an offer-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--</td>-->
                <td aria-label="Next steps">
                  Waiting for the defendant<br> to respond
                </td>
                <td aria-label="Deadline">
                  -
                </td>
                <!--<td aria-label="Status" scope="row">-->
                <!--<span class="state state-submitted">-->
                <!--Submitted-->
                <!--</span>-->
                <!--</td>-->
                <td aria-label="Action">
                  <a class="" href="claim-details-c1">View</a>
                </td>
              </tr>

              </tbody>
            </table>
          </div>

        </div>


        <div id="tabTwoContent">


        </div>

      </div>

    </div>
</main>


{% endblock %}
