{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation_new.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large" id="page-h1" style="margin-bottom: 20px">
        All claims
      </h1>

      <!--<div class="container sub-header">-->
      <!--<div class="search-form">-->
      <!--<form action="#listanchor" accept-charset="UTF-8"-->
      <!--method="get"><input name="utf8" type="hidden" value="✓">-->
      <!--<input type="hidden" name="tab" id="tab">-->
      <!--<input type="hidden" name="sort" id="sort">-->
      <!--<input type="hidden" name="direction" id="direction">-->
      <!--<div class="form-group">-->
      <!--<fieldset class="inline">-->
      <!--<legend class="visuallyhidden">-->
      <!--Search for a claim using defendant name or claim number-->
      <!--</legend>-->
      <!--<label class="heading-medium" for="search">-->
      <!--Search-->
      <!--<span class="form-hint">-->
      <!--for example defendant name or claim number-->
      <!--</span>-->
      <!--</label>-->
      <!--<input type="text" class="form-control" id="search" name="search"-->
      <!--style="height: 40px; width: 340px; padding: 6px 10px; margin-top: -10px;">-->
      <!--<input class="button js-case-search" type="submit" value="Search" style="margin-top: -8px">-->
      <!--</div>-->
      <!--</form>-->
      <!--</div>-->

      <!--<div class="claims-actions">-->
      <!--<a class="button button-start" role="button" href="" style="margin-top: -73px">New claim</a>-->
      <!--</div>-->
      <!--</div>-->

      <a class="newclaim" href="../../new-claim/eligibility" style="margin-bottom: 40px">Make a new money claim</a>

      <div class="table-container container">
        <table class="clickable">
          <caption>
<span class="table-caption">
Claims you've made
</span>
            <!--<span class="claim-count" style="width: 49.15254%;-->
  <!--float: left;-->
  <!--margin-left: 1.69492%;-->
  <!--float: right;-->
  <!--margin-right: 0;-->
  <!--text-align: right;-->
  <!--font-weight: 400">-->
<!--Showing-->
<!--2 claims of 2-->
<!--</span>-->
          </caption>
          <thead>
          <tr>
            <th scope="col">
              <a tabindex="0"
                 href="#listanchor" style="font-size: medium">Claim number</a>
            </th>
            <th scope="col">
              <a tabindex="0"
                 href="#listanchor" style="font-size: medium">Defendant</a>
            </th>
            <th class="numeric" scope="col">
              <a tabindex="0"
                 href="#listanchor" style="font-size: medium">Claim amount</a>
            </th>
            <!--<th scope="col">-->
            <!--<a class="current asc" tabindex="0"-->
            <!--href="#listanchor" style="font-size: medium">Last update</a>-->
            <!--</th>-->
            <th scope="col">
              <a tabindex="0" href="#listanchor" style="font-size: medium">Next steps</a>
            </th>
            <th scope="col">
              <a class="current asc" tabindex="0"
                 href="#listanchor" style="font-size: medium">Deadline ▲</a>
            </th>
            <th scope="col">
              <a tabindex="0" href="#listanchor"></a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="mobile-sort">
            <td colspan="10">
              Sort by:
              <a tabindex="0" href="#listanchor">Claim number</a>
              <a tabindex="0" href="#listanchor">Defendant</a>
              <!--<a tabindex="0" href="#listanchor">Claim amount</a>-->
              <a tabindex="0" href="#listanchor">Last update</a>
              <a tabindex="0" href="#listanchor">Next steps</a>
              <a class="current asc" tabindex="0" href="#listanchor">Deadline ▲</a>
              <!--<a tabindex="0" href="#listanchor"></a>-->
          </tr>
          <!--claim 02-->
          <tr class="submitted" id="claim-c5">
            <td aria-label="Claim-number">
              352MC733
            </td>
            <td aria-label="Defendants">
              Mary Richards<br>
            </td>
            <td aria-label="Claimed" class="numeric claimed-amount">
              £300
            </td>
            <!--<td aria-label="Status" scope="row">-->
            <!--&lt;!&ndash;<span class="state state-submitted">&ndash;&gt;-->
            <!--The defendant <br>made an offer-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</td>-->
            <td aria-label="Next steps">
              Waiting for defendant<br>to sign agreement
            </td>
            <td aria-label="Deadline">
              -
            </td>
            <!--<td aria-label="Status" scope="row">-->
            <!--<span class="state state-submitted">-->
            <!--Submitted-->
            <!--</span>-->
            <!--</td>-->
            <td aria-label="Action">
              <a class="" href="claim-details-c5">View</a>
            </td>
          </tr>
          <!--claim 01-->
          <tr class="draft" id="claim_01">
            <td aria-label="Claim-number">
              -
            </td>
            <td aria-label="Defendants">
              Michael Jones
            </td>
            <td aria-label="Claimed" class="numeric claimed-amount">
              £1,500
            </td>
            <!--<td aria-label="Status" scope="row">-->
            <!-- - -->
            <!--</td>-->
            <td aria-label="Next steps">
              -
            </td>
            <td aria-label="Deadline">
              -
            </td>
            <!--<td aria-label="Status" scope="row">-->
            <!--<span class="state state-draft">-->
            <!--Draft-->
            <!--</span>-->
            <!--</td>-->
            <td aria-label="Action">
              <a class="" href="">Continue draft</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--<div class="grid-row" style="margin-top: -35px">-->
      <!--<nav class="pagination">-->

      <!--<span class="page current">-->
      <!--1-->
      <!--</span>-->

      <!--<span class="page">-->
      <!--<a rel="next" href="?page=2">2</a>-->
      <!--</span>-->

      <!--<span class="page">-->
      <!--<a href="?page=3">3</a>-->
      <!--</span>-->

      <!--<span class="page">-->
      <!--<a href="?page=4">4</a>-->
      <!--</span>-->

      <!--<span class="next">-->
      <!--<a rel="next" href="?page=2">Next</a>-->
      <!--</span>-->

      <!--<span class="last">-->
      <!--<a href="?page=4">Last</a>-->
      <!--</span>-->

      <!--</nav>-->
      <!--</div>-->

    </div>


    <div id="tabTwoContent">

      <h3 class="heading-medium"></h3>


      <!--</div>-->

      <!--<div id="tabThreeContent">-->
      <!---->
      <!--</div>-->

    </div>

  </div>


  </div>

  <!--<div id="daysPassing" data-dayspassurl="email3"-->
       <!--data-dayspasstimetoprompt="5000" data-dayspassdays="2">-->

    <!--<div class="spinner-block">-->
      <!--<h2 class="govuk-heading-m">Days passing by... <span id="days">2</span></h2>-->
      <!--<div class="spinner spinner-1"></div>-->
    <!--</div>-->

  <!--</div>-->

  <!--<a class="gem-c-pagination__link active" id="triggerDaysPassing" style="margin-top: 180px">-->
  <!--<span class="gem-c-pagination__link-title">-->
      <!--<svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"-->
           <!--viewBox="0 0 17 13">-->
        <!--<path fill="currentColor"-->
              <!--d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>-->
      <!--</svg>-->
      <!--<span class="gem-c-pagination__link-text">-->
        <!--Simulate time passing-->
      <!--</span>-->
  <!--</span>-->
  <!--</a>-->

</main>


{% endblock %}
