{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation_new.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs" style="margin-bottom: -20px">
    <ol>
      <!--<li><a href="#" onclick="history.go(-1)">All claims</a></li>-->

      <li><a href="all-claims-2">All claims</a></li>

      <li aria-current="page">Claim details</li>

    </ol>
  </div>

  <div class="grid-row">

    <div class="details" style="margin-top: -30px">
        <span style=""><h2 style="">
          <h3 class="heading-medium name customer"><span class="bold">Michael Jones</span>
            v
            <span class="bold">Goddard Pluming</span><span class="font-small"> + 2 others</span>
          </h3>
          <h2 class="font-xsmall" style="margin-top: -10px">Claim number: <span style="">352MC733</span></h2>
    </div>
    <!--<div class="divider"></div>-->

    <div class="column-full-width">

      <div class="tabGroup" style="margin-top: 40px">
        <a id="tabA" class="tab-on" onclick="tabGroup(tabContent, 'TAB-ONE')" href="javascript: void(0)">Next steps</a>
        <a id="tabB" class="tab" onclick="tabGroup(tabContent, 'TAB-TWO')" href="javascript: void(0)">Claim history</a>
        <a id="tabC" class="tab" onclick="tabGroup(tabContent, 'TAB-THREE')" href="javascript: void(0)">Documents</a>
        <a id="tabD" class="tab" onclick="tabGroup(tabContent, 'TAB-FOUR')" href="javascript: void(0)">Parties</a>
        <hr style="margin-top: -2px">
      </div>

      <div id="tabContent" class="top_30">

        <div id="tabOneContent">
          <div class="column-two-thirds">
            <div class="description" style="background-color: #fff">

              <h4 class=" heading-small">Waiting for the defendants to respond</h4>
              <p>Mary Richards has until before 4pm on 24 December 2018 to respond. They can request an extra 14 days if
                they need it.</p>

              <p>You can request a default County Court Judgment (CCJ) against them if they don't respond by the
                deadline.</p>

              <fieldset></fieldset>
              {% include 'prototypes/prototype-jan-2019/includes/contact.html' %}

            </div>

          </div>

          <div class="column-one-third">
            <div class="right-column-nav" style="margin-top: 20px">
              <!--<hr class="light-hr" style="margin-top: 5px">-->
              <h3 class="heading-small">More actions</h3>
              <p></p><a href="">Tell us you've settled</a></p>
              <p></p><a href="">Stopping the claim</a></p>
            </div>
          </div>

        </div>

        <div id="tabTwoContent">
          <!--<h3 class="heading-medium">Claim history</h3><br>-->
          <div class="hmcts-timeline" style="margin-top: 50px">
            <div class="hmcts-timeline__item">
              <div class="hmcts-timeline__header">
                <h2 class="hmcts-timeline__title">You submitted your claim</h2>
                <!--<p class="hmcts-timeline__by">by you (claimant)</p>-->
              </div>
              <p class="hmcts-timeline__date">
                <time style="color: grey">6 December 2018</time>
              </p>
              <!--<p><a href="#">Download claim form</a>-->
              <!--(PDF, 123KB)</p>-->
            </div>
          </div>
        </div>

        <div id="tabThreeContent">

          <div class="jui-cf__window">

            <div class="jui-cf__window">
              <div class="jui-cf__window-container">
                <div class="jui-cf__files" id="files" style="display: block;">
                  <h2 class="visually-hidden" id="all-items">All documents</h2>

                  <ul class="jui-tree" aria-labelledby="all-items" role="tree">

                    <li class="jui-tree__item jui-tree__item--open" role="treeitem" aria-expanded="true"
                        tabindex="0">

                      <span class="jui-tree__folder">From the court</span>

                      <ul class="jui-tree__folder-group">

                        <li class="jui-tree__doc">
                          <a class="jui-tree__doc-link active"
                             href="#1"
                             role="treeitem" tabindex="-1" data-target="document-1">
                            <span class="jui-tree__doc-name">Claim form</span>
                            <span class="jui-tree__doc-meta">Added 5 Nov 2018 at 10:00pm</span>
                          </a>
                        </li>

                      </ul>

                    </li>

                    <li class="jui-tree__item" role="treeitem" aria-expanded="false" tabindex="-1">

                      <span class="jui-tree__folder">From the defendants</span>

                      <ul class="jui-tree__folder-group">

                        <li class="jui-tree__doc">
                          <a class="jui-tree__doc-link"
                             href="#2"
                             role="treeitem" tabindex="-1" data-target="document-2">
                            <span class="jui-tree__doc-name">Goddard Plumbing's response</span>
                            <span class="jui-tree__doc-meta">Added 15 Nov 2019 at 2:15pm</span>
                          </a>
                        </li>

                        <li class="jui-tree__doc">
                          <a class="jui-tree__doc-link"
                             href="#2"
                             role="treeitem" tabindex="-1" data-target="document-2">
                            <span class="jui-tree__doc-name">Clarke Construction's response</span>
                            <span class="jui-tree__doc-meta">Added 15 Nov 2019 at 2:15pm</span>
                          </a>
                        </li>

                        <li class="jui-tree__doc">
                          <a class="jui-tree__doc-link"
                             href="#2"
                             role="treeitem" tabindex="-1" data-target="document-2">
                            <span class="jui-tree__doc-name">Kingsley Building's response</span>
                            <span class="jui-tree__doc-meta">Added 15 Nov 2019 at 2:15pm</span>
                          </a>
                        </li>

                      </ul>

                    </li>

                    <!--<li class="jui-tree__item" role="treeitem" aria-expanded="false" tabindex="-1">-->

                      <!--<span class="jui-tree__folder">Your uploads</span>-->

                      <!--<ul class="jui-tree__folder-group">-->

                        <!--<li class="jui-tree__doc">-->
                          <!--<a class="jui-tree__doc-link"-->
                             <!--href="#3"-->
                             <!--role="treeitem" tabindex="-1" data-target="document-3">-->
                            <!--<span class="jui-tree__doc-name">Your witness statement</span>-->
                            <!--<span class="jui-tree__doc-meta">Added 16 Jan 2018 at 11:01am</span>-->
                          <!--</a>-->
                        <!--</li>-->

                        <!--<li class="jui-tree__doc">-->
                          <!--<a class="jui-tree__doc-link"-->
                             <!--href="#4"-->
                             <!--role="treeitem" tabindex="-1" data-target="document-4">-->
                            <!--<span class="jui-tree__doc-name">Photo evidence</span>-->
                            <!--<span class="jui-tree__doc-meta">Added 16 Jan 2019 at 11:02am</span>-->
                          <!--</a>-->
                        <!--</li>-->

                        <!--<li class="jui-tree__doc">-->
                          <!--<a class="jui-tree__doc-link"-->
                             <!--href="#5"-->
                             <!--role="treeitem" tabindex="-1" data-target="document-5">-->
                            <!--<span class="jui-tree__doc-name">Receipts</span>-->
                            <!--<span class="jui-tree__doc-meta">Added 16 Jan 2018 at 11:03am</span>-->
                          <!--</a>-->
                        <!--</li>-->

                      <!--</ul>-->

                    <!--</li>-->

                </div>

                <div class="jui-cf__document-pages">
                  <!--<div><a href="#" style="float: right; margin-top: -55px">Download claim form (PDF)</a></div>-->

                    <!-- < DOCUMENT 1 > -->
                    <div class="tab__content" id="document-1">
                      <div class="jui-cf__document-page">
                        <img
                          src="/../../public/images/documents/page1.jpg"
                          alt="Claim form page 1"></div>
                      <div class="jui-cf__document-page"><img
                        src="/../../public/images/documents/page2.jpg"
                        alt="Claim form page 2"></div>
                    </div>
                    <!-- </ DOCUMENT 1 ENDS > -->

                    <!-- < DOCUMENT 2 > -->
                    <div class="tab__content js-hidden" id="document-2">
                      <div class="jui-cf__document-page">
                        <img
                          src="/../../public/images/documents/page3.png"
                          alt="Defendant's response page 1"></div>
                      <div class="jui-cf__document-page">
                        <img
                          src="/../../public/images/documents/page4.png"
                          alt="Defendant's response page 2"></div>
                    </div>
                    <!-- </ DOCUMENT 2 ENDS > -->

                    <!-- < DOCUMENT 3 > -->
                    <!--<div class="tab__content js-hidden" id="document-3">-->
                      <!--<div class="jui-cf__document-page">-->
                        <!--<img-->
                          <!--src="/../../public/images/documents/page7.png"-->
                          <!--alt="Evidence"></div>-->
                    <!--</div>-->
                    <!-- </ DOCUMENT 3 ENDS > -->

                </div>

              </div>
            </div>
          </div>


        </div>

        <div id="tabFourContent">

          <fieldset></fieldset>

          <!-- Defendant details -->
          <h3 class="heading-small">Defendant details</h3>
          <table class="expandable-rows">
            <thead>
            <tr>
              <th id="header1" scope="col">Name</th>
              <th id="header2" scope="col">Contact details</th>
            </tr>
            </thead>
            <tbody>
            <!-- Row 1 -->
            <tr id="row1closed" onclick="tableRow(1)">
              <td><img src="/../../public/images/sorting-icon-right.png" class="" alt="right arrow icon"><a
                href="javascript:void(0);">Goddard
                Plumbing</a></td>
              <td>Simon Cowell</td>
            </tr>
            <tr id="row1opened" class="rowOpen" onclick="tableRow(2)" style="display:none">
              <td>
                <p><img src="/../../public/images/sorting-icon-down.png" class="" alt="right arrow icon"><a
                  href="javascript:void(0);">Goddard
                  Plumbing</a></p>
              </td>
              <td>
                <p>Simon Cowell</p>
                <p class="font-xsmall">482 Clements Road</p>
                <p class="font-xsmall">Ilford</p>
                <p class="font-xsmall">IG1 2BE</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Service address</p>
                <p class="font-xsmall">Smith & Co Law</p>
                <p class="font-xsmall">31 Tangley Lane</p>
                <p class="font-xsmall">Guildford</p>
                <p class="font-xsmall">GU3 3JU</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Telephone</p>
                <p class="font-xsmall">07824999612</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Email</p>
                <p class="font-xsmall"> simon.cowell@gmail.com </p>
                <br>
                <p class="font-xsmall" style="margin-bottom: 10px"><a href="#" style="text-decoration: underline">Discontinue
                  this defendant</a></p>
              </td>
            </tr>
            <!-- Row 2 -->
            <tr id="row2closed" onclick="tableRow(3)">
              <td><img src="/../../public/images/sorting-icon-right.png" class="" alt="right arrow icon"><a
                href="javascript:void(0);">Clarke
                Construction</a></td>
              <td>Jan Clarke</td>
            </tr>
            <tr id="row2opened" class="rowOpen" onclick="tableRow(4)" style="display:none">
              <td>
                <p><img src="/../../public/images/sorting-icon-down.png" class="" alt="right arrow icon"><a
                  href="javascript:void(0);">Clarke
                  Construction</a></p>
              </td>
              <td>
                <p>Jan Clarke</p>
                <p class="font-xsmall">482 Clements Road</p>
                <p class="font-xsmall">Ilford</p>
                <p class="font-xsmall">IG1 2BE</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Service address</p>
                <p class="font-xsmall">Smith & Co Law</p>
                <p class="font-xsmall">31 Tangley Lane</p>
                <p class="font-xsmall">Guildford</p>
                <p class="font-xsmall">GU3 3JU</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Telephone</p>
                <p class="font-xsmall">07824999612</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Email</p>
                <p class="font-xsmall"> jan.clarke@gmail.com </p>
                <br>
                <p class="font-xsmall" style="margin-bottom: 10px"><a href="#" style="text-decoration: underline">Discontinue
                  this defendant</a></p>
              </td>
            </tr>
            <!-- Row 3 -->
            <tr id="row3closed" onclick="tableRow(5)">
              <td><img src="/../../public/images/sorting-icon-right.png" class="" alt="right arrow icon"><a
                href="javascript:void(0);">Kingsley
                Building Ltd</a></td>
              <td>Jack Smith</td>
            </tr>
            <tr id="row3opened" class="rowOpen" onclick="tableRow(6)" style="display:none">
              <td>
                <p><img src="/../../public/images/sorting-icon-down.png" class="" alt="right arrow icon"><a
                  href="javascript:void(0);">Kingsley
                  Building Ltd</a></p>
              </td>
              <td>
                <p>Jack Smith</p>
                <p class="font-xsmall">482 Clements Road</p>
                <p class="font-xsmall">Ilford</p>
                <p class="font-xsmall">IG1 2BE</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Service address</p>
                <p class="font-xsmall">Smith & Co Law</p>
                <p class="font-xsmall">31 Tangley Lane</p>
                <p class="font-xsmall">Guildford</p>
                <p class="font-xsmall">GU3 3JU</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Telephone</p>
                <p class="font-xsmall">07824999612</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Email</p>
                <p class="font-xsmall"> jack.smith@gmail.com </p>
                <br>
                <p class="font-xsmall" style="margin-bottom: 10px"><a href="#" style="text-decoration: underline">Discontinue
                  this defendant</a></p>
              </td>
            </tr>
            </tbody>
          </table>

          <br>

          <!-- Your details (claimant) -->
          <h3 class="heading-small">Your details (claimant)</h3>
          <table class="expandable-rows">
            <thead>
            <tr>
              <th id="header1" scope="col">Name</th>
              <th id="header2" scope="col">Contact details</th>
            </tr>
            </thead>
            <tbody>
            <!-- Row 4 -->
            <tr id="row4closed" onclick="tableRow(7)">
              <td><img src="/../../public/images/sorting-icon-right.png" class="" alt="right arrow icon"><a
                href="javascript:void(0);">Michael
                Jones</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
              <td>Michael Jones</td>
            </tr>
            <tr id="row4opened" class="rowOpen" onclick="tableRow(8)" style="display:none">
              <td>
                <p><img src="/../../public/images/sorting-icon-down.png" class="" alt="right arrow icon"><a
                  href="javascript:void(0);">Michael
                  Jones</a></p>
              </td>
              <td>
                <p>Mr Michael Jones</p>
                <p class="font-xsmall">101 Regents Road</p>
                <p class="font-xsmall">Shiplake</p>
                <p class="font-xsmall">RG9 4BW</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Service address</p>
                <p class="font-xsmall">Smith & Co Law</p>
                <p class="font-xsmall">31 Tangley Lane</p>
                <p class="font-xsmall">Guildford</p>
                <p class="font-xsmall">GU3 3JU</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Telephone</p>
                <p class="font-xsmall">07664789533</p>
                <br>
                <p class="font-xsmall" style="font-weight: bold">Email</p>
                <p class="font-xsmall"> michael.jones@gmail.com </p>
              </td>
            </tr>
            </tbody>
          </table>

      </div>

    </div>
  </div>

</main>

<script src="/public/javascripts/tree.js"></script>
<script src="/public/javascripts/casefile.js"></script>

<script>
  new HMCTSFrontend.SearchToggleButton({
    toggleButton: {
      container: $('.hmcts-search-toggle__toggle'),
      text: 'Find case'
    },
    search: {
      container: $('.hmcts-search')
    }
  })
</script>

<script>
  new Casefile($('.jui-cf'))
  new Tree($('.jui-tree'))
  new Toolbar()

  $('.jui-cf__rotate-button').on('click', function (e) {
    var page = $(e.target).parents('.jui-cf__document-page')

    if (page.hasClass('jui-cf__document-page--rotate-90')) {
      page.removeClass('jui-cf__document-page--rotate-90')
      page.addClass('jui-cf__document-page--rotate-180')
    } else if (page.hasClass('jui-cf__document-page--rotate-180')) {
      page.removeClass('jui-cf__document-page--rotate-180')
      page.addClass('jui-cf__document-page--rotate-270')
    } else if (page.hasClass('jui-cf__document-page--rotate-270')) {
      page.removeClass('jui-cf__document-page--rotate-270')
    } else {
      page.addClass('jui-cf__document-page--rotate-90')
    }

  })
</script>

{% endblock %}
