{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Why do you believe you don't owe Jan Clark any money?
      </h1>

       <form
         name="aspnetForm"
         method="post"
         onsubmit="multiNavigation('radio_select_group2', ['paid', 'defend_now', 'counter'],
                                                        ['task-list?whydontowe=complete&',
                                                         'task-list?whydontowe=complete&',
                                                         '../../../../features-to-be-built/defendant/task-list/do-you-owe-money/forms?radio_select_group=reject&do_you_owe_money=complete&owe_some_fa=&owe_some_pa=&your_defence=&owe_some=&settlement=false']);return false;"
         id="aspnetForm"
         autocomplete="off">

         <div class="form-group">
            <fieldset>

                <div class="multiple-choice">
                  <input id="radio-yes" type="radio" name="radio_select_group2" value="paid">
                  <label for="radio-yes" data-target="yes-info">
                  <strong class="">I've paid what I believe I owe</strong><br>
                 </label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-no" type="radio" name="radio_select_group2" value="defend_now">
                  <label for="radio-no" data-target="yes-info">I dispute all of the claim</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-counter" type="radio" name="radio_select_group2" value="counter">
                  <label for="radio-counter">I dispute the claim and want to make a counterclaim</label>
                </div>

            </fieldset>
         </div>

         <div class="form-group">
           <input type="submit" class="button" value="Save and continue" />
         </div>

      </form>


    </div>
  </div>

{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
