{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" onclick="history.go(-1)" class="link-back">Back</a>

      <h1 class="heading-large">
        Contact Jan Clark to settle the claim
      </h1>

      <br>
      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          Jan Clark can bring enforcement action at any time until they agree the claim is settled.
        </strong>
      </div>



      <p>Make sure you get receipts for any payments.</p>
      <p><a href="../../party-details/claimant">Get Jan Clark's contact details</a></p>
      <p>We'll contact you when they confirm you've settled.</p>


      <!--  Not sure this is needed here anymore
          moreclass="heading-medium">Ask the claimant to agree to remove the CCJ</h2>
          <p>You could get your CCJ removed without a hearing if Jan Clark agrees.</p>
          <p>When you make arrangements to pay them, ask them to sign a document saying they're happy for the CCJ to be removed. You can then give this to the court who'll consider your request.</p>
          <p><a href="/public/images/consenttosetaside.pdf" download>See an example template</a></p>
          <p>You'll still have to pay a £255 fee to ask the court to remove the CCJ.</p>



          <p><a class="button secondary-button" href="task-list?canpaynow=true&contactedclaimantanswered=complete&">Continue</a></p>
          -->


    </div>
  </div>

  {% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>

<form method="post"  action="#" class="form" style="float: left;">
  <select id="control-box2" name="control-box2" onchange="window.location.href='settle-out-of-court?beforeccjdeadline='+this.value">
    <option value="true">Defendant</option>
    <option value="true" >- Before 1 month CCJ deadline</option>
    <option value="false">- After 1 month CCJ deadline</option>
  </select>
</form>


{% endblock %}
