{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="#" class="link-back">Back</a>

            <h1 class="heading-xlarge">
                Why you don't owe the money
            </h1>

            <p class="lede">You've told us you don't owe any of the money claimed.</p>
             <p class="lede">Explain your side. For example, you might have already paid the money back.</p>

            <div id="claim-details">
                <div id="describe-wrapper-claim-details-1" class="form-group">
                    <label class="form-label-bold" for="claim-details-1">
                        State which parts of the claim you agree and disagree with
                        <span class="form-hint"><!-- Give your own version of events if different from the claimant's ... --></span>
                    </label>
                    <textarea class="form-control"
                              id="claim-details-1"
                              rows="3"
                              name="claim-details1"
                              type="text"
                              style="width: 90%">
                    </textarea>
                </div>
            </div>

            <a href="defended-confirmation" class="button">Continue</a>

        </div>
    </div>
</main>


{% endblock %}

