{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <!--<a href="#" class="link-back">Back</a>-->

            <h1 class="heading-xlarge">
                Defence sent to Jan Clark
            </h1>

            <p class="heading-medium">Your defence</p>

            <div class="clearfix">
                <div class="callout callout-fee">
                    <p>Suggestion goes here blar blar blar ...
                        <br> blar blar blar ...</p>
                </div>
            </div>

            <fieldset>
                <p>We've emailed Jan Clark your response.</p>

                <h2 class="heading-medium">What happens next</h2>
                <p>The case will be reviewed by the judge and might proceed to a hearing. We'll contact you when a hearing is scheduled and explain what to do.</p>
                <p>You can still contact Jan Clark anytime to reach an agreement before a hearing.</p>

            </fieldset>
            <br>
            <br>

            <p>We've emailed you this confirmation. <a href="#">Print this page</a></p>

        </div>
    </div>
</main>


{% endblock %}
