{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('claim-details1'));
    });
  </script>

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Reaching an agreement
      </h1>

      <p class="lede">You've told us you want to reach an agreement with Jan Clark. You can now make a suggestion to
        resolve this dispute.</p>

      <form
        name="aspnetForm"
        action="offer-confirmation"
        method="get"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Reaching an agreement</legend>

            <div id="claim-details">
              <div id="describe-wrapper-claim-details-1" class="form-group">
                <label class="form-label-bold" for="offer">
                  What do you want to suggest?
                  <span class="form-hint"><!-- For example you might blar blar blar ... --></span>
                </label>
                <textarea class="form-control"
                          id="offer"
                          rows="3"
                          name="offer"
                          type="text"
                          style="width: 90%"></textarea>
              </div>
            </div>
          </fieldset>

        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button"
               data-ignore-double-submit="true">

      </form>

      <!--<a href="offer-confirmation" class="button">Continue</a>-->
    </div>
  </div>
</main>


{% endblock %}

