{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Page 5 of 15</span>
          <span class="page-title">What you'll pay</span>
        </div>
      </header>

      <fieldset></fieldset>

      <!--<h1 class="heading-xlarge">-->
        <!--What you'll pay-->
      <!--</h1>-->

      <p class="lede">The court fee is based on the amount you're claiming, plus <a class="external"
                                                                                    rel="external" target="_blank"
                                                                                    href="https://www.gov.uk/make-court-claim-for-money/work-out-interest">interest</a>.
      </p>

      <p class="panel panel-border-wide">
        You can claim interest on the money you're owed. If you claim goes to a hearing and you win, the judge will
        decide if you should also be paid the interest.
      </p>

      <h1 class="heading-medium">
        Do you want to claim interest?
      </h1>


      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-indent-group', ['Yes', 'Yes-different-rate', 'No'], ['fee', 'fee', 'fee']);return false;"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Are you willing to discuss the claim?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Claim 8% interest (this is the standard rate)</label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="yes-info">-->
            <!--<p>We'll let them know and you might be able to <span class="bold">reach an agreement</span> with them and-->
            <!--won't need to wait for a hearing date.</p>-->
            <!--</div>-->

            <div class="multiple-choice">
              <input id="radio-interest" type="radio" name="radio-indent-group" value="Yes-different-rate">
              <label for="radio-interest" data-target="interest-info">Claim a different rate of interest</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="interest-info">
              <div id="timeline" class="timeline">
                <div class="timeline-headings">
                  <div id="timeline-heading-1" class="timeline-column-1">
                    <label class="form-label" for="date-form-control">
                      Rate you're claiming
                      <span class="form-hint">For example, 6.5%</span>
                    </label>
                  </div>
                  <div id="timeline-heading-2" class="timeline-column-2">
                    <label class="form-label" for="event-form-control">
                      Why you're claiming this rate
                      <span class="form-hint">For example, interest rate set out in the contract</span>
                    </label>
                  </div>
                </div>
                <div class="timeline-rows">
                  <div class="timeline-row">
                    <input class="form-control timeline-column-1" type="text" id="date-form-control">
                    <input class="form-control timeline-column-2" type="text" id="event-form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">Don't claim interest</label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="no-info">-->
            <!--<p>If you can <span class="bold">reach an agreement</span> you won't need to wait for-->
            <!--a hearing date-->
            <!--and prepare a full case and evidence. You could also get some if not all of the money-->
            <!--sooner.</p>-->
            <!--</div>-->

          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button"
               data-ignore-double-submit="true">
      </form>


    </div>
  </div>
</main>


{% endblock %}
