{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've asked the court to review the order</h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>

      <p >A judge will review the order. We'll contact both you and {% if data['party'] == 'claimant' %}Mary Richards{%else%}Jan Clark{% endif %} by post to tell you what to do next.</p>

      <p><a href="../../../dashboard/defendant?defendant=12.1" class="button">Go to your account</a></p>

      {% include "includes/contact.html" %}

    </div>

  </div>
</main>
{% endblock %}
