{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Free telephone mediation
      </h1>

      <form method="post" action="request-mediation/how-does-mediation-work" class="form">
        <input type="hidden" name="mediation" value="complete">

        <p>All claims worth £300 or less are automatically registered for free telephone mediation.</p>

        <p>We'll tell you how mediation works - you can decide to take part or not.</p>

        <!--<p>We'll contact you with an appointment, unless you choose to opt out of mediation.</p>-->

        <!--<p>You'll only speak to a mediator about the claim, not to Mary Richards.</p>-->

        <!--<details>-->
        <!--<summary><span class="summary">How does mediation work </span></summary>-->
        <!--<div class="panel panel-border-narrow">-->
        <!--<p>content goes here</p>-->
        <!--</div>-->
        <!--</details>-->

        <div class="form-group">
          <input type="submit" class="button" value="How mediation works"/>
        </div>

        <!--<p style="margin-bottom: 35px"><a href='request-mediation/no-mediation'>I don't want to try mediation</a></p>-->

      </form>

        </div>
    </div>
{% include 'prototypes/prototype-nov-2018/includes/contact.html' %}
</main>
{% endblock %}
