{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<style>
  #sortable {  cursor: move; list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable tbody {  margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
  html>body #sortable tbody {  cursor: move; height: 1.5em; line-height: 1.2em; }
  .ui-state-highlight {  background-color:#f3f2f1; height: 173px; line-height: 922px; }

  .ui-sortable-helper {
  border: 3px solid black;
  background-color:#f3f2f1;
}
  </style>
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-full-width">
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
       <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">
        {% else %}
      <form method="post" action="defence-3" class="form">
        {% endif %}
        {{formData | safe}}
       
      <h1 class="heading-large">Add your timeline of events </h1>


      <div class="description-block">
        <h3 class="heading-small">Their timeline</h3>
        <div class="form-fields">
          <table>
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">What happened</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>03/11/2017</td>
                <td>I contacted {% if data.counterclaim=="true" %}Jan Clark{%else%}Mary Richards{% endif %} to discuss building works on our roof.</td>
              </tr>
              <tr>
                <td>06/11/2017</td>
                <td>We agreed what work should be done and signed a contract.</td>
              </tr>
              <tr>
                <td>30/11/2017</td>
                <td>The work started on the roof.</td>
              </tr>
              <tr class="show-more">
                <td>21/12/2017</td>
                <td>The work on the roof was completed but I noticed that there was a problem with one
                section</a>.
              </td>
            </tr>
            <tr  class="show-more">
              <td>27/12/2017</td>
              <td>I sent an email to Mary Richards and asked them to get the problem fixed.</td>
            </tr>
            <tr class="show-more">
              <td>15/01/2018</td>
              <td>I hadn't had a reply so I told them I would be making a money claim.</td>
            </tr>
          <tr class="show-more">
            <td >27/12/2017</td>
            <td>I sent an email to Mary Richards and asked them to get the problem fixed.</td>
          </tr>
          <tr class="show-more">
            <td>15/01/2018</td>
            <td>I hadn't had a reply so I told them I would be making a money claim.</td>
          </tr>
          <tr >
            <td class="no-border">
              <a href="#" class="toggle">Show more</a>
              <a href="#" class="toggle" style="display: none">Show less</a>
            </td>
            <td class="no-border"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="padding-top: 30px;"></div>
  <!-- ROC-5498 -->
  <h3 class="heading-small">Add your timeline of events (optional)</h3>
  <p>Include dates if you know them.</p>
  <p class="govuk-inset-text">To change the order of your timeline, drag the entry up or down.</p>
        <fieldset>
          <legend class="visuallyhidden">
            Explain what happened
          </legend>
          <table id="sort" class="govuk-table">

        
            <tr class="govuk-table__row">
       
              <th scope="col" class="govuk-table__header" aria-sort="ascending"> Date
        
              <span class="form-hint">For example, March 2021</span></th>
            
              <th scope="col" class="govuk-table__header" aria-sort="none"> What happened
        
              <span class="form-hint">For example, you might have signed a contract</span></th>
            
              <th scope="col" class="govuk-table__header " aria-sort="none">Action
                <span class="form-hint"> </span>

              </th>
             
            </tr>
            
      
            
          <tbody style="overflow: auto;" id="sortable" class="ui-state-default">
              <tr  id="tr_clone" class="tr_clone  govuk-table__row">
             
              <td style="padding-top:30px; padding-left:10px;" class=" govuk-table__cell "> <input  class=" form-control timeline-column-1" type="text" id="date-form-control"
                name="cd-date-1" value="{{data['cd-date-1']}}" onfocus=>
               <br><br>
                
                </td>
              

<td class="govuk-table__cell " data-sort-value="1568847600000">
  <div style="padding-top:15px;" class="form-group"><textarea style="width: 90%; padding-top:15px;"
      class="timeline-column-text" name="cd-timeline-1" id="timeline-1" value="{{data['cd-timeline-1']}}"
      rows="2">{{data['cd-timeline-1']}}</textarea></div>
</td>
              
                <td class="govuk-table__cell " data-sort-value="59">
               
              
                <button style="padding-top: 15px;" type="button" class="link" name="cmdDeleteRow">Remove </button>
              
                    
                </td>
              
              </tr>
            </tbody>
          
        
            
           
            

            </table> 
            <div class="form-group">
              <button id="btn1" type="button" class="secondary-button" onclick="myFunction()" >Add new</button>
              <button id="btn2" type="button" class="secondary-button visuallyhidden" name="cmdAddRow">Add new</button>
            </div>
         

        </fieldset>

        <div class="grid-row">
          <div class="column-two-thirds" id="claim-details">
            <div id="describe-wrapper-claim-details-1" class="form-group">
              <label class="form-label-bold" for="offer">
                <h3 class="heading-small">Add any comments about their timeline (optional)</h3>
              </label>
              <textarea class="form-control form-control-3-4 form-control-medium"
              id="defence-disagree-timeline"
              rows="4"
              name="defence-disagree-timeline"
              cols="20"
              type="text"
              style="width: 95%"
              data-store="">{{data['defence-disagree-timeline']}}</textarea>
            </div>
          </div>
        </div>
      
      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
        <div class="form-group">
          <input type="submit" class="button" value="Save changes"/>
        </div>
        <a href="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}">Cancel</a>
      {% else %}
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>
      {% endif %}
      </form>
    </div>
  </div>
  {% block page_scripts %}
  <script>


    function myFunction() {
       var table = document.getElementById("sort");
       var row = table.insertRow(2);
       var cell1 = row.insertCell(0);
       var cell2 = row.insertCell(1);
       var cell3 = row.insertCell(2);
       $("#btn1").hide()
       $("#btn2").removeClass('visuallyhidden')
       cell1.innerHTML = '<input style="margin-top:0px; margin-left:10px;"class="form-control timeline-column-1" type="text" id="date-form-control" name="cd-date-1" value="{{data['cd-date-1']}}" onfocus=>';
       cell2.innerHTML = ' <div style="padding-top:15px;" class="form-group"> <textarea style="width: 90%;" class="timeline-column-text" name="cd-timeline-1" id="timeline-1" value="{{data['cd-timeline-1']}}"  rows="2">{{data['cd-timeline-1']}}</textarea></div>';
       cell3.innerHTML = '<button style="padding-top: 15px;"  type="button" class="link" name="cmdDeleteRow">Remove</button>';
     row.classList.add('rowcolor')
      cell1.classList.add('spacing')
 
     
     
     $('button[name="cmdAddRow"]').on('click', function(){
      
      $curRow = $(row);
      $newRow = $curRow.clone(true).attr('value','');   
     
         
      $curRow.removeClass( "rowcolor" );
      $newRow.find("input").val("").end();
      $newRow.find("textarea").val("").end();
 
      $curRow.after($newRow);
    
     });
     
     $('button[name="cmdDeleteRow"]').on('click', function(){
     $(this).closest('tr').remove()
     
     })
 
     
     }
     
 
 
 
 
 
 $( function() {
     $( "#sortable" ).sortable({
       placeholder: "ui-state-highlight"
     });
     $( "#sortable" ).disableSelection();
   } );
   </script>
{% endblock %}

{% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}

