{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Check eligibility, cost and time
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Vehicle weight when empty:
        </td>
        <td>
          1,525 kg or more
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Operating exempt vehicles:
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Carrying passengers:
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Trade plates:
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Carrying passengers:
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Trade plates:
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Less than 6 miles a week:
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      </tr> 
        <td>
          Transporting just your goods:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      </tr> 
        <td>
          Hired transport manager:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Read the rules
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Read rules:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

 <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your contact details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Name:
        </td>
        <td>
          Business Ltd
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Companies House number:
        </td>
        <td>
          00000000
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Contact details:
        </td>
        <td>
          First line of address<br>
          Second line of address<br>
          Contact: Contact Name<br>
          Tel: 01234 567 890<br>
          Email: email@email.com
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Contact details</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          How to contact:
        </td>
        <td>
          By email
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">How to be contacted</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Do training
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Completed training:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Certificate number:
        </td>
        <td>
          A232 R234 J442
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Check criminal history
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Apply for DBS check:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          DBS certificate number:
        </td>
        <td>
          001234567890
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Give medical information
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>
      <tr>
        <td>
          Diebetes
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Recovery facilities name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          GP / specialist:
        </td>
        <td>
          Clinician name<br>
          First line of address<br>
          Second line of address<br>
          Contact: Contact Name<br>
          Tel: 01234 567 890<br>
          Email: email@email.com
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Contact details</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Get references
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Referee one:
        </td>
        <td>
          Referee name<br>
          First line of address<br>
          Second line of address<br>
          Contact: Contact Name<br>
          Tel: 01234 567 890<br>
          Email: email@email.com
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Contact details</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Referee two:
        </td>
        <td>
          Referee name<br>
          First line of address<br>
          Second line of address<br>
          Contact: Contact Name<br>
          Tel: 01234 567 890<br>
          Email: email@email.com
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Contact details</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

 <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Provide photograph
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Photograph:
        </td>
        <td>
          Uploaded
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Photograph correct:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
             <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Now send your application</h2>

  <p class="text">
    By submitting this application you're confirming that, as far as you know, the details you're providing are correct.
  </p>

  <div class="form-group">
    <a href="#" class="button">Submit and continue to payment (£257.00)</a>
  </div>

</main>

{% endblock %}
