{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Do you want more time to respond?
      </h1>

      <p class="lede">Because you're going to defend the claim, you can request an extra 14 days to prepare your case.</p>

      <form
        name="aspnetForm"
        method="post"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Do you want more time to respond?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-aos-group" value="true">
              <label for="radio-yes" data-target="yes-info">
                <strong class="bold">Yes, I need an extra 14 days</strong>
                <p>You'll have until 29 March to submit your defence</p>
              </label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-aos-group" value="false">
              <label for="radio-no" data-target="no-info">
                <strong class="bold">No, I don't need more time</strong>
              </label>
            </div>

          </fieldset>
          <input id="advert-option-next--button" type="submit" value="Confirm and continue" class="button"
                 data-ignore-double-submit="true">

        </div>

      </form>

    </div>

    <div class="column-one-third">
      <p class="lede">&nbsp;</p>
      <p class="lede">&nbsp;</p>
      <nav role="navigation" class="font-xsmall">
        <p><strong class="bold">Response deadline: 15 March</strong></p>
        <p><strong class="bold">Claim reference: CF91-BK65</strong></p>
        <p><strong class="bold">Claim amount: £1,500</strong></p>
      </nav>

      <fieldset></fieldset>
      <h2 class="heading-small">Need help?</h2>
      <nav role="navigation" class="font-xsmall">
        <p><a href=""
              data-alert="This feature is not available in this demo">Contact us</a></p>
      </nav>
    </div>

  </div>
</main>


{% endblock %}
