{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="#" class="link-back">Back</a>

            <h1 class="heading-xlarge">
                How you'll pay
            </h1>

            <p>You can suggest more than one way you're willing to pay.</p>

            <form
                    name="aspnetForm"
                    method="post"
                    onsubmit="conditionalNavigation('checkbox-indent-group', 'Yes', 'confirmation-page', 'confirmation-page');return false;"
                    id="aspnetForm"
                    autocomplete="off">

                <div class="form-group">
                    <fieldset>

                        <legend class="visually-hidden">How you'll pay?</legend>

                        <label class="block-label" for="checkbox-yes" data-target="yes-info">
                            <input id="checkbox-yes" type="checkbox" name="checkbox-indent-group" value="Yes">
                            In person - in cash
                        </label>

                        <label class="block-label" for="checkbox-no" data-target="no-info">
                            <input id="checkbox-no" type="checkbox" name="checkbox-indent-group" value="No">
                            By post - by cheque or postal order
                        </label>

                        <label class="block-label" for="checkbox-bacs" data-target="bacs-info">
                            <input id="checkbox-bacs" type="checkbox" name="checkbox-indent-group" value="No">
                            By Bacs bank transfer
                        </label>

                    </fieldset>
                </div>

                <input id="advert-option-next--button" type="submit" value="Continue" class="button"
                       data-ignore-double-submit="true">
            </form>

        </div>
    </div>
</main>


{% endblock %}

