
.costs-column-1 {
  width: 15%;
  display: inline-block;
}

.costs-column-2 {
  width: 55%;
  display: inline-block;
}

.costs-row {
  width: 100%;
  display: inline-block;
}

.costs-rows div:not(:first-child) {
  margin-top: 15px;
}

#add-event-container {
  margin-top: 15px;
}
