#daysPassing {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  top: -100%;
  transition: top 1s;
}

#daysPassing.active {
  top: 0;
}

#daysPassing .spinner-block {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -100px;
  top: 50%;
  margin-left: -100px;
  left: 50%;
}

#triggerDaysPassing {
  position: absolute;
  right: -100%;
  top: 50%;
  background: #eaeaea;
  box-shadow: 1px 1px 10px 3px #ccc;
  border: 2px solid #fff;
  transition: right 1s;
}

#triggerDaysPassing:hover {
  cursor: pointer;
}

#triggerDaysPassing.active {
  right: 0;
}

.spinner {
  position: relative;
  width: 100px;
  height: 100px;
}

.spinner:before, .spinner:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

/* spinner-1 styles */
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spinner.spinner-1:before {
  width: 200px;
  height: 200px;
  border-bottom-color: #000;
  border-right-color: #000;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  top: 0px;
  left: 0px;
  animation: rotate-animation 1s linear 0s infinite;
}

.spinner.spinner-1:after {
  width: 50px;
  height: 50px;
  border-bottom-color: #000;
  border-right-color: #000;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  top: 75px;
  left: 75px;
  animation: anti-rotate-animation 0.85s linear 0s infinite;
}

/* spinner-2 styles */
@keyframes scale {
  0% {
    transform: scale(1);
    border-style: solid;
  }
  100% {
    transform: scale(0);
    border-style: dashed;
  }
}

.spinner.spinner-2:before {
  width: 200px;
  height: 200px;
  border-color: #000;
  top: 0px;
  left: 0px;
  animation: scale 1s linear 0s infinite alternate;
}

.spinner.spinner-2:after {
  width: 200px;
  height: 200px;
  border-color: #000;
  top: 0;
  left: 0;
  animation: scale 1s linear 0s infinite alternate-reverse;
}

/* spinner-3 styles */
@keyframes scale-2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.spinner.spinner-3:before {
  width: 200px;
  height: 200px;
  border-color: #000;
  top: 0px;
  left: 0px;
  animation: scale-2 1s linear 0s infinite;
}

.spinner.spinner-3:after {
  width: 200px;
  height: 200px;
  border-color: #000;
  top: 0;
  left: 0;
  opacity: 0;
  animation: scale-2 1s linear 0.5s infinite;
}

/* spinner-4 styles */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner.spinner-4:before {
  width: 200px;
  height: 200px;
  border-color: #000;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.spinner.spinner-4:after {
  width: 10px;
  height: 10px;
  border-width: 4px;
  border-color: #000;
  top: 90px;
  left: 0;
  overflow: hidden;
  transform-origin: 105px;
  animation: rotate 1.2s linear 0s infinite;
}

/* spinner-5 styles */
@keyframes border-animate {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #000;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: transparent;
  }
  100% {
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #000;
  }
}

.spinner.spinner-5:before {
  width: 0;
  height: 0;
  border-color: #000;
  top: 0px;
  left: 0px;
  border-width: 50px;
  border-style: solid;
  animation: border-animate 1.6s linear 0s infinite alternate;
}

.spinner.spinner-5:after {
  width: 50px;
  height: 50px;
  border-color: #000;
  top: 75px;
  left: 75px;
  background-color: #fff;
}

.visuallyhidden {
  display: none;
}

.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}

#phone-mockup {
  width: 250px;
  background: url("/public/images/phone-alert.png") no-repeat;
  background-size: cover;
  height: 510px;
  transition: all 1.5s;
  animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
}

#phone-mockup:hover {
  cursor: pointer;
}

#phoneBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  background: white;
  bottom: -100%;
  transition-timing-function: ease-in-out;
  transition: all 1s 0.5s;
  overflow: hidden;
}

#phoneBackground.active {
  bottom: 0;
  opacity: 1;
}

#phoneBackground #phone-mockup {
  top: -100%;
  margin-top: -255px;
  right: 50%;
  margin-right: -125px;
  position: absolute;
}

#phoneBackground #phone-mockup.active {
  top: 50%;
}

#phoneAccessCode #phone-mockup {
  background: url("/public/images/phone-alert-access-code.png") no-repeat;
  background-size: cover;
  right: -50%;
  top: 50%;
  margin-top: -255px;
  position: absolute;
}

#phoneAccessCode #phone-mockup.active {
  right: 50px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  1% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  2% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  3% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  4% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  5% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  6% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  7% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  8% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  9% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}


.gem-c-pagination {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

.gem-c-pagination .gem-c-pagination__list {
  margin: 0;
  padding: 0;
}

.gem-c-pagination .gem-c-pagination__link-divider {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.gem-c-pagination__item {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  list-style: none;
}

@media (min-width: 641px) {
  .gem-c-pagination__item {
    font-size: 16px;
    line-height: 1.25;
  }
}

.gem-c-pagination__link {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.gem-c-pagination__link:hover, .gem-c-pagination__link:active, .gem-c-pagination__link:visited {
  color: #005ea5;
}

.gem-c-pagination__link:hover, .gem-c-pagination__link:active {
  background-color: #f8f8f8;
}

.gem-c-pagination__link-title {
  display: block;
}

.gem-c-pagination__link-text {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin-left: 10px;
}

@media (min-width: 641px) {
  .gem-c-pagination__link-text {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.gem-c-pagination__link-icon {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
}

@media (min-width: 641px) {
  .gem-c-pagination__link-icon {
    font-size: 24px;
    line-height: 1.25;
  }
}

.gem-c-pagination__link-label {
  display: inline-block;
  margin-top: 0.1em;
  text-decoration: underline;
  margin-left: 30px;
}

@media (max-width: 640px) {
  .gem-c-pagination__link-label {
    margin-left: 24px;
  }
}
