{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Your payment plan
      </h1>
      <br>
      {% if data['som'] == 1 %}
      <form action="statement/explanation?upload=1" method="post" class="form">
        {% elif data['some'] == 2 %}
        <form action="../../task-list" method="post" class="form">
          {% else %}
          <form action="../../task-list" method="post" class="form">
            {% endif %}
            <div class="form-group">
              <fieldset>
                <legend class="visually-hidden">How much they pay following this instalment</legend>
                <label class="form-label-bold" for="claim[fee][court_fee]">
                  The first payment will be
                </label>
                <p class="form-hint">For example, £100</p>
                <input class="fee pound" maxlength="8" size="8" type="text" value="{{data['instalment-first-payment']}}" name="instalment-first-payment" id="instalment-first-payment">
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="visually-hidden">Followed by equal payments of</legend>
                <label class="form-label-bold" for="claim[fee][court_fee]">
                  Followed by equal payments of
                </label>
                <p class="form-hint">For example, £200</p>
                <input class="fee pound" maxlength="8" size="8" type="text" value="{{data['instalment-second-payment']}}" name="instalment-second-payment" id="instalment-second-payment">
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="visually-hidden">When you want them to make the first payment</legend>
                <p class="form-label-bold">When will you make the first payment?</p>
                <div class="form-date">
                  <p class="form-hint">For example, 12 03 2017</p>
                  <div class="form-group form-group-day">
                    <label for="dob-day">Day</label>
                    <input class="form-control" id="instalment-day" name="instalment-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{data['instalment-day']}}" >
                  </div>
                  <div class="form-group form-group-month">
                    <label for="dob-month">Month</label>
                    <input class="form-control" id="instalment-month" name="instalment-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{data['instalment-month']}}">
                  </div>
                  <div class="form-group form-group-year">
                    <label for="dob-year">Year</label>
                    <input class="form-control" id="instalment-year" name="instalment-year" type="number" pattern="[0-9]*" min="0" max="2024" value="{{data['instalment-year']}}">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="heading-small">How often you'll make payments</div>
            <div class="form-group">
              <fieldset>
                <legend class="visually-hidden">How often you'll make payments</legend>
                <div class="multiple-choice">
                  <input id="radio-01" type="radio" name="radio-payment-frequency" value="Each week" {{ checked("radio-payment-frequency", "Each week") }}>
                  <label for="radio-01" data-target="info-01">Each week</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-02" type="radio" name="radio-payment-frequency" value="Every 2 weeks" {{ checked("radio-payment-frequency", "Every 2 weeks") }}>
                  <label for="radio-02" data-target="info-02">Every 2 weeks</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-03" type="radio" name="radio-payment-frequency" value="Every month" {{ checked("radio-payment-frequency", "Each month") }}>
                  <label for="radio-03" data-target="info-03">Every month</label>
                </div>
              </fieldset>
            </div>
            <fieldset>
              <legend class="visually-hidden">Explain why you can't pay the full amount now</legend>
              <div id="claim-details">
                <div id="describe-wrapper-claim-details-1" class="form-group">
                  <label class="form-label-bold" for="offer">
                    Explain why you can't pay the full amount now
                    <span class="form-hint"><!-- For example you might blar blar blar ... --></span>
                  </label>
                  <textarea class="form-control"
                  id="non-payment-reason"
                  rows="3"
                  name="non-payment-reason"
                  type="text"
                  style="width: 90%">{{data['non-payment-reason']}}</textarea>
                </div>
              </div>
            </fieldset>
            <div class="form-group">
              <input type="submit" class="button" value="Save and continue"/>
            </div>
          </form>
        </div>
      </div>
    </main>
    <form method="post"  action="#" class="form" style="; float: left">
      <select id="dashboard2" name="dashboard2" onchange="window.location.href='repayment-plan?upload='+this.value">
        <option  value="0" >Choose </option>
        <option value="1" {% if data['som'] == 1 %}selected{% endif %}>1 Statement of means</option>
        <option value="2" {% if data['som'] == 2 %}selected{% endif %}>2 Document upload</option>
      </select>
    </form>
    {% endblock %}
