{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="hearing/court" class="form">
        <input type="hidden" name="party" value="defendant" />

        <h1 class="heading-large">Before you start</h1>

        <p>We're going to ask you if you want to bring witnesses and experts to court, in case the claim goes to a hearing.</p>

        <p>You don't have to hire an expert, and you might decide you're the only witness in the claim.</p>

        <h3 class="heading-medium">Choose witnesses and experts</h3>

        <p>You need to decide if you want witnesses and experts to support your case at a hearing.</p>

        <p>A witness is anyone who can give evidence about the claim, for example someone who saw work being done.</p>

        <p>An expert can be anyone with specialist knowledge, for example, a builder who can examine the quality of the work.</p>

        <p>You might have already hired an expert, or you could find one now.</p>

        <h3 class="heading-medium">After you've chosen witnesses and experts</h3>

        <p>Contact any witnesses and experts to find out:</p>
        <ul class="list list-bullet">
          <li>the cost of hiring the experts to give evidence for you</li>
          <li>any dates in the next 6 months when they can't appear in court</li>
          <li>any special assistance your witnesses or experts would need at the court, for example an interpreter or wheelchair access</li>
        </ul>

        <p>If the judge rules in your favour, they may order the other party to pay up to £750 of the amount you paid to hire experts.</p>

        <h3 class="heading-medium">When you're ready to continue</h3>

        <p>You can come back anytime and continue from <a>your account</a>.

          <div class="form-group">
            <input type="submit" class="button" value="Save and continue">
          </div>
        </form>


    </div>
  {% include 'prototypes/prototype-jan-2019/includes/contact.html' %}
</main>
{% endblock %}
