{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
  {% block extra_css %}{% endblock %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
  {% block extra_js_1 %}{% endblock %}
  {% block extra_js_2 %}{% endblock %}
{% endblock %}
