{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <!--<a href="#" class="link-back">Back</a>-->

            <h1 class="heading-xlarge">
                Defence sent to Jan Clark
            </h1>

            <p class="heading-medium">Your defence</p>

            <div class="clearfix">
                <div class="callout callout-fee">
                    <p>I accept that there was initially a problem with the work we did on the roof. However after inspecting it we offered to fix it at no extra cost. <br>

                        <br>We completed the fix and I wasn't aware the problem had recurred.<br>

                        <br> I'd like to get this sorted out so I'd be happy to take another look and to discuss whether any further work is needed. </p>
                </div>
            </div>

            <fieldset>
                <p>We've emailed Jan Clark your response.</p>

                <h2 class="heading-medium">What happens next</h2>
                <p>The case will be reviewed by a judge and might go to a hearing. We'll contact you when a hearing is scheduled and explain what to do.</p>
                <p>You can still contact Jan Clark anytime to reach an agreement before a hearing.</p>

            </fieldset>

        </div>
    </div>
</main>


{% endblock %}
