{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Jan Clark's claim
      </h1>

      <p>Jan Clark has made a money claim against you.</p>

      <p class="panel panel-border-wide">Jan Clark had said they are willing to discuss the claim with you. They've provided this email address: jan65@gmail.com</p>

      <!--<p>We'll explain your options when you respond, for example, if you owe this money but can't afford to pay-->
        <!--it back. </p>-->

      <p class="heading-medium">Summary</p>

      <p>This claim is about building works and is for <span class="bold">£1,500</span> </p>

      <p class="heading-medium">Timeline</p>

      <div class="form-fields">
        <table>
          <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">What happened</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>03/03/2016</td>
            <td>I contacted Mary Richards to discuss building works on our roof.</td>
          </tr>
          <tr>
            <td>06/03/2016</td>
            <td>We agreed what work should be done and signed a contract.</td>
          </tr>
          <tr>
            <td>30/03/2016</td>
            <td>The work started on the roof.</td>
          </tr>
          <tr>
            <td>15/04/2016</td>
            <td>The work on the roof was completed but I noticed that there was a problem with one section.</td>
          </tr>
          <tr>
            <td>07/4/2016</td>
            <td>I asked Mary Richards to get the problem fixed.</td>
          </tr>
          <tr>
            <td>15/4/2016</td>
            <td>I hadn't had a reply so I told them I would be making a money claim.</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--<div class="notice">-->
      <!--<i class="icon icon-important">-->
      <!--<span class="visually-hidden">Warning</span>-->
      <!--</i>-->
      <!--<strong class="bold-small">-->
      <!--You have 14 days to respond to this claim.-->
      <!--</strong>-->
      <!--</div>-->
      <fieldset></fieldset>

      <p class="heading-small">You have 14 days to respond to this claim.</p>
      <details>
        <summary><span class="summary">What if I don't respond in time?</span></summary>
        <div class="panel panel-border-narrow">
          <p>You might have to pay more or get a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County
            Court Judgment (CCJ)</a> if you don't
            respond in time.</p>
        </div>
      </details>

      <details>
        <summary><span class="summary">What if I can't afford to pay the money back?</span></summary>
        <div class="panel panel-border-narrow">
          <p>You might be able to get expert advice to help you deal with debt from organisations like <a href="https://www.stepchange.org">StepChange</a>.</p>
          <p>You can also respond to the claim and offer a repayment plan.</p>
        </div>
      </details>

      <br>

      <!--<p>We'll explain your options when you respond, for example, if you owe this money but can't afford to pay-->
      <!--it back. </p>-->

      <!--<br>-->

      <!--<p>Jan Clark had said they are willing to discuss the claim with you and has provided this email address: jan65@gmail.com</p>-->

      <!--<a href="create-account" class="button">Respond to claim</a>-->
      <div class="clearfix">
        <a class="button" href="create-account" role="button">Respond to claim</a> &nbsp;
        <!--<a class="button-return ga-event" href="paid-already" role="button">I've already paid</a>-->
      </div>

      <p class="heading-medium">Other questions</p>

      <!--<details>-->
        <!--<summary><span class="summary">If you need more time to respond</span></summary>-->
        <!--<div class="panel panel-border-narrow">-->
          <!--<p>You can <a href="#">ask for another 14 days</a> if you need more time to respond to this claim.</p>-->

        <!--</div>-->
      <!--</details>-->

      <details>
        <summary><span class="summary">What ways can I respond?</span></summary>
        <div class="panel panel-border-narrow">
          <p>If you accept that the claim is fair you can respond to say that you agree to pay the money. If you can't afford to pay it all at once you can make a suggestion, such as a repayment plan, for them to consider.</p>
<p>If you don't accept that you owe the money (or all the money that's been claimed) you'll be given options for discussing the claim, both with the claimant and with a mediator. If you can't or don't want to resolve the dispute (by making an agreement, for example) you'll need to give the court more information to explain why you don't owe the money. A judge will then make a decision about the claim if you do have to go to a hearing.</p>
        </div>
      </details>

      <details>
        <summary><span class="summary">What if I've already paid the money?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Ask Jan Clark to let the court know that they have your payment.</p>
          <p>You might have to pay them back the claim fee as well.</p>

        </div>
      </details>

      <details>
        <summary><span class="summary">Can I just pay the money now?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Yes, you can contact Jan Clark yourself and pay the money. Ask them to let the court
            know when they have your payment.</p>
        </div>
      </details>
    </div>
  </div>

</main>


{% endblock %}

