{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        What is your job? 
      </h1>
      
      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}        
      <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">
        {% else %}
        <form action="bank-account" method="post" class="form">
          {% endif %}
          <div class="form-group">
            <label class="form-label" for="input-text-a">
              Job title
            </label>
            <input class="form-control " id="input-text-a" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="input-text-a">
              Employer name 
            </label>
            <input class="form-control " id="input-text-a" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="input-text-a">
              List any other paid jobs (optional) 
            </label>
            <textarea class="form-control"></textarea>
          </div>

          {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('task-list')%}
          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>
          <a href="#" onclick="goBack()">Cancel</a>
          {% else %}
          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </main>
  {% endblock %}
