{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Suggested amount sent
            </h1>

            <fieldset>
               <p>We've sent your payment offer to Jan Clark. We've also sent a copy to: <span class="bold">maryrichards@hotmail.com</span></p>

                <h2 class="heading-medium">What happens next</h2>
               <p>Jan Clark has 5 days to respond. They can accept your offer, reject it, or suggest an alternative.</p>

            <p>If your offer is rejected, or there is no response, the court will decide how you pay the money.</p>

              <p class="panel panel-border-wide">
                If your offer is accepted but you don't pay the money, Jan Clark can restart the claim.
            </p>

            </fieldset>

        </div>
    </div>
</main>


{% endblock %}

