  {% extends "layout.html" %}

  {% block page_title %}
  Money Claims Prototype
  {% endblock %}

  {% block content %}

  <style type="text/css">
    .report-error {display: none}
  </style>
  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <!--<div class="breadcrumbs">-->
    <!--<ol>-->
    <!--<li><a href="/">Home</a></li>-->
    <!--<li><a href="/">Business and self-employed</a></li>-->
    <!--<li><a href="/">Business debt and bankruptcy</a></li>-->
    <!--</ol>-->
    <!--</div>-->

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Make a money claim
        </h1>

        <p>You can make a money claim if someone owes you money and won’t agree to pay you back.</p>

        <p class="panel panel-border-wide">A money claim might not be your only or best option. Find out about <a
          href="../../../claimant/full/c-2/other-options">other ways to get your money</a>.</p>

          <p>Your claim will be sent to the person you say owes you money. They will get a chance to respond to your claim.</p>

          <p>You might have to go to a hearing in front of a judge if the person says they don’t owe you money. It can take
            up to 7 months to get a hearing date.</p>

            <!--<p>Find out more about <a href="https://www.gov.uk/make-court-claim-for-money">making a money claim</a>,-->
            <!--such as the <a href="https://www.gov.uk/make-court-claim-for-money/court-fees">fees you’ll pay</a>.</p>-->

            <h2 class="heading-medium">What you'll need</h2>

            <ul class="list list-bullet">
              <li>Current address and any other contact details of the person or company you’re claiming against.</li>
              <li>A credit or debit card to pay the <a
                href="https://www.gov.uk/make-court-claim-for-money/court-fees">claim fee</a>.
              </li>
            </uL>

            <p>You can only use this service for claims of less than £10,000.</p>

            <div class="clearfix">

             <form action="create-account">
               <input type="hidden" name="control-box" value="1">

               <input type="hidden" name="respond" value="false">
               <input type="hidden" name="make_claim" value="true">
               <input type="submit" class="button button-start" value="Start now"/>

             </form>
             <!--<a class="button-return ga-event" href="#" role="button">Return to a claim</a>-->
           </div>

           <!--<p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>-->

           <h2 class="heading-medium">Other ways to claim</h2>

           <p>You can print and fill in a <a
            href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=338">paper claim
            form</a>. Send it and a cheque for your claim fee to the address on the form.</p>

            <h2 class="heading-medium">Help to use this service</h2>
            <p>Telephone: 0300 123 7050
              <br>
              Textphone: 0300 144 2122
              <br>
              <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

              <h2 class="heading-medium">Legal advice</h2>
              <p>You might be able to get free legal advice from organisations like <a
                href="https://www.citizensadvice.org.uk/law-and-rights/legal-system/taking-legal-action/do-you-need-legal-advice/">Citizens
                Advice</a> and <a href="http://www.advicenow.org.uk/">Advicenow</a>.</p>



              </div>

              <div class="column-third">

                <aside class="govuk-related-items" role="complementary">
                  <h2 class="heading-medium" id="subsection-title">Support</h2>
                  <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="font-xsmall">
                      <li><a href="https://www.gov.uk/make-court-claim-for-money/court-fees">Make a court claim for money</a>
                      </li>
                      <br>
                      <li><a href="other-options">Other options</a></li>
                      <br>
                      <li><a class="external" rel="external"
                       href="https://courttribunalfinder.service.gov.uk/courts/county-court-money-claims-centre-ccmcc"
                       target="_blank">Contact us</a></li>

                       <!--<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>-->
                     </ul>
                   </nav>
                 </aside>

               </div>
             </div>
           </main>


           {% endblock %}

