{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <h1 class="heading-xlarge">
        Check your claim
    </h1>

    <div class="form-fields">
        <div class="clearfix">
            <div class="callout callout-fee"><p>Court fee for your claim</p><span
                    class="number">£ 70</span>
                <p>You’ll have to pay an extra fee of
                    <strong>£115</strong> if your claim goes to a hearing.
            </div>
        </div>

        <table class="check-your-answers">

            <thead>
            <tr>
                <th colspan="2">
                    <h2 class="heading-medium">
                        Your claim
                    </h2>
                </th>
                <th>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    Your details &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </td>
                <td>
                    Jan Clark<br>
                    12 Nelson Road<br>
                    Reading<br>
                    RG1 1AA<br>
                    Tel: 07757 738 459<br>
                    Email: jan65@gmail.com
                </td>
                <td class="change-answer">
                    <a href="details-claimant-2">
                        Change <span class="visuallyhidden">Claimant details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Their details &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </td>
                <td>
                    Mary Richards<br>
                    101 Regent Road<br>
                    Shiplake<br>
                    RG9 4BW<br>
                    Tel: 01234 567 890<br>
                    Email: maryrichards@hotmail.com
                </td>
                <td class="change-answer">
                    <a href="details-defendant">
                        Change <span class="visuallyhidden">Respondent details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Your claim &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </td>
                <td>
                    Holiday pay owed by Mary Richards <br> from 01/07/2016
                </td>
                <td class="change-answer">
                    <a href="claim-type">
                        Change <span class="visuallyhidden">Claim summary</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Claim details &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </td>
                <td>
                    <span class="bold">Why you're making this claim</span><br>
                    I started working for Mary Richards under a contract.<br>
                    I took one day of leave but under my contract I accrue 3.4 days holiday per month.<br>
                    I haven't been paid for the 5 days of holiday that I didn't use up.<br>
                    <br>
                    <span class="bold">Why you're claiming this amount</span><br>
                    This is the rate for the 5 days holiday pay I'm owed.<br>
                    <br>
                    <span class="bold">Evidence to support your claim</span><br>
                    - My contract says that I accrue holiday pay.<br>
                    - I have emails that I sent to ask for the money.<br>
                    <br>
                    <span class="bold">How this dispute has affected you</span><br>
                    I'm annoyed that the money wasn't paid when my contract ended and that I have<br> had to make this
                    claim to get the money I'm owed.


                </td>
                <td class="change-answer">
                    <a href="claim-details">
                        Change <span class="visuallyhidden">Claim details</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2 class="heading-medium">Statement of truth</h2>

        <p class="text">
            By submitting this claim you confirm that, to the best of your knowledge, the details you have provided are
            correct.
        <p>It's an offence to deliberately give false information.</p>
        </p>

        <div class="form-group">
            <a href="confirmation-page" class="button">Accept and submit claim</a>
        </div>
    </div>

</main>


{% endblock %}

