{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="bold-large">Claim submitted</h1>
                <p>
                    Your claim reference is <br>
                    <strong class="heading-medium">CF91-BK65</strong>
                </p>
            </div>
            <p>We've sent a confirmation email to you at <span class="bold">jan65@gmail.com</span></p>

            <h2 class="heading-medium">What happens next</h2>
            <p>Mary Richards has <span class="bold">14 days to respond</span> to your claim. <p>We'll send you an update by email and SMS if they do respond, and we'll explain what to do if they don't.</p>
            
            <h2 class="heading-medium">What you can do</h2>
            <p>You can still contact Mary Richards directly while your claim progresses. Many people are able to settle their claim by discussing what's gone wrong. If you can make an agreement you won't need to go to a hearing.</p>

            <p>Find out more about what happens <a href="https://www.gov.uk/make-court-claim-for-money">after you've made a money claim</a>.
            <!--<p>You might be contacted by us if the people you've named is willing to discuss your claim.</p>-->
            <!--<p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What-->
                <!--did you think of this service?</a> (takes 30 seconds)</p>-->

            <!--<a class="button" href="#" role="button">View all claims</a>-->
        </div>
    </div>
</main>


{% endblock %}

