{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="#" class="link-back">Back</a>

            <form action="willing-to-discuss" method="get" class="form">

                <h1 class="heading-xlarge">
                    Create an account
                </h1>

                <!--<div class="panel panel-border-wide" style="background-color: #f8f8f8;">-->
                <!--<p>Your claim reference</p>-->
                <!--<span class="bold-large number">CF91-BK65</span>-->
                <!--</div>-->

                <div class="clearfix">
                    <div class="callout callout-fee"><p>Your reference</p>
                        <br>
                        <span class="bold-large number">CF91-BK65</span>
                    </div>
                </div>

                <fieldset>
                    <div class="font-small">You'll be able to save and return to your claim at any time using your<br>
                  reference and
                        a memorable word.
                    </div>

                    <br>

                    <fieldset>
                        <div class="input form-group string required application_number_password field_with_hint">
                            <label class="string required form-label" for="application_number_password">Your memorable
                                word</label>
                            <p class="form-hint text">For example, your favourite place</p><input
                                class="string required form-control" type="text"
                                name="application_number[password]" id="application_number_password"/>
                        </div>
                        <div class="input form-group email optional application_number_email_address"><label
                                class="email optional form-label" for="application_number_email_address">Enter
                            your email address (optional)</label>
                            <p class="form-hint text">We'll email you your reference and a link to help you sign in</p>
                            <input
                                    class="string email optional form-control" type="email"
                                    name="application_number[email_address]"
                                    id="application_number_email_address"/></div>

                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <input type="submit" class="button" value="Continue">
                        </div>
                    </fieldset>

            </form>

            <p class="print"><a class="print-page" href="javascript:window.print();">Print this page</a>&nbsp;to keep a
                copy
                of your claim reference</p>
        </div>
    </div>
</main>


{% endblock %}

