{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Suggest them to pay the amount by a set date
      </h1>

      <p class="panel panel-border-wide">
        Mary Richards can accept your suggestion, reject it or suggest a different one. If they don't want to negotiate further
        they can ask the court to decide how they pay.
      </p>

      <br>

      <form action="payment-methods" method="get" class="form">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">When they might pay the amount</legend>

            <p class="form-label-bold">When they might pay the amount</p>

            <div class="form-date">

              <p class="form-hint">For example, 12 12 2017</p>

              <div class="form-group form-group-day">
                <label for="dob-day">Day</label>
                <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0"
                       max="31">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                <input class="form-control" id="dob-month" type="number" pattern="[0-9]*"
                       min="0" max="12">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0"
                       max="2014">
              </div>
            </div>
          </fieldset>
        </div>

        <!--<fieldset>-->
          <!--<legend class="visually-hidden">Explain why you can't pay immediately</legend>-->

          <!--<div id="claim-details">-->
            <!--<div id="describe-wrapper-claim-details-1" class="form-group">-->
              <!--<label class="form-label-bold" for="offer">-->
                <!--Explain why you can't pay immediately-->
                <!--<span class="form-hint">&lt;!&ndash; For example you might blar blar blar ... &ndash;&gt;</span>-->
              <!--</label>-->
              <!--<textarea class="form-control"-->
                        <!--id="offer"-->
                        <!--rows="3"-->
                        <!--name="offer"-->
                        <!--type="text"-->
                        <!--style="width: 90%"></textarea>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

    </form>

  </div>
  </div>
</main>


{% endblock %}

