{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="self" class="form">

        <h1 class="heading-large">Using an expert</h1>
        <p>It's rare for a judge to allow you to use an expert in a small claim. Most small claims don't need an expert.</p>

        <p>An expert is not a legal representative.</p>

        <div class="form-group">
          <input type="submit" class="button" value="Continue without an expert">
        </div>

        <p style="margin-bottom: 50px;"><a href="expert-report">I believe the case needs an expert</a></p>

      </form>


    </div>
  {% include 'prototypes/prototype-dec-2019/includes/contact.html' %}
</main>

{% endblock %}
