{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've uploaded additional information</h1>
      </div>
    <h2 class="heading-medium">What happens next</h2>

    <p>We told the {% if data[‘party’] == ‘claimant’ %}defendant{% else %}claimant{% endif %} that you’ve uploaded additional information. They can look at it if they want to.</p>

    <p>You still need to:</p>
    <ol class="list list-bullet">
      <li><a href="../generic-confirm?upload=complete">confirm you've completed additional actions ordered by the court</a></li>
<!--       <li><a href="../witness-statements/statement-builder?upload=complete">state your version of events</a></li> -->
      <li><a href="../witness-statements?upload=complete">upload any witness statements</a></li>
    </ol>

    <p><h4 class="heading-small">If you've finished</h4></p>


    <p>You need to <a href="../finished">tell us you've finished</a>.</p>


    <p>If you haven't finished, you can upload more until 4pm on {{ now | date('add', 14, 'days') | date }}.</p>


    <a href="../../home?dashboard={% if data['party'] == 'defendant' %}2.7102{% else %}1.202{% endif %}&upload=complete" class="button">Go to your account</a>

    {% include "includes/contact.html" %}
    </div>
  </div>
</main>
{% endblock %}
