{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
      <h1 class="heading-large">
        <span class="heading-secondary">Defendant's response </span>
        Make a counter suggestion
      </h1>
      <div class="description-block">
        <h3 class="heading-small">Their suggestion.</h3>
        <p> I will fix the roof if you'll give me access and pay for any extra materials.</p>
      </div>
      <fieldset></fieldset>
      <form action="confirmation-page?radio-indent-group=counter" method="post" class="form">
        <div class="form-group">
          <fieldset>
            <legend class="visually-hidden">Suggest a resolution</legend>
            <label class="form-label-bold" for="offer">
              <div class="bold-medium">Your suggestion</div>
              <span class="form-hint">You could offer a set amount, or to pay overdue rent, fix a problem, return goods.</span>
            </label>
            <textarea class="form-control"
            id="offer"
            rows="3"
            name="offer-me"
            type="text"
            style="width: 95%"></textarea>
            <br>
            <br>
            <label class="form-label-bold" for="claimant_date_of_birth_day">
              <div class="bold-medium">By when</div>
            </label>
            <div class="input form-group date optional claimant_date_of_birth field_with_hint"><p
              class="form-hint text">For example, 23 4 2017</p>
              <div class="input form-group know-date-input">
                <div class="input form-group tel required claimant_date_of_birth_day"><label
                  class="tel required form-label"
                  for="claimant_date_of_birth_day">Day</label><input
                  class="string tel required form-control" maxlength="2" type="tel"
                  size="2" name="offerDateDay"
                  id="claimant_date_of_birth_day"></div>
                  <div class="input form-group tel required claimant_date_of_birth_month"><label
                    class="tel required form-label"
                    for="claimant_date_of_birth_month">Month</label><input
                    class="string tel required form-control" maxlength="2" type="tel"
                    size="2" name="offerDateMonth"
                    id="claimant_date_of_birth_month"></div>
                    <div class="input form-group tel required claimant_date_of_birth_year"><label
                      class="tel required form-label"
                      for="claimant_date_of_birth_year">Year</label><input
                      class="string tel required form-control" maxlength="4" type="tel"
                      size="4" name="offerDateYear"
                      id="claimant_date_of_birth_year"></div>
                    </div>
                  </div>
                  <label class="form-label-bold" for="offer">
                    <div class="bold-medium">What you expect in return (optional)</div>
                    <span class="form-hint">For example, to give you access to premises, to withdraw the claim.</span>
                  </label>
                  <textarea class="form-control"
                  id="offer"
                  rows="3"
                  name="offer-them"
                  type="text"
                  style="width: 95%"></textarea>
                  <fieldset></fieldset>
                  <div class="multiple-choice">
                    <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
                    <label for="checkbox-telephone-number">If we make an agreement I want it to be confidential.</label>
                  </div>
                  <fieldset></fieldset>
                  <br>
                  <p class="panel panel-border-wide">
                    {{ partyName( 'defendant' ) }} can accept your suggestion, reject it or suggest an alternative.
                  </p>
                  <div class="form-group">
                    <input type="submit" class="button" value="Submit suggestion">
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
      {% include 'prototypes/prototype-may-2020/includes/contact.html' %}
</main>
{% endblock %}
