{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Check your email
            </h1>

            <p>We've sent a confirmation email to: <span class="bold">janclarks88@gmail.com</span></p>

            <p class="panel panel-border-wide">
              We've emailed Mary Richards your suggestion.
            </p>

            <h2 class="heading-medium">What happens next</h2>
          <p>Mary Richards can accept or reject your suggestion, or suggest an alternative. We'll update you by email and SMS if this happens.</p>
          <p>We'll contact you <span class="bold">within 5 days</span> and explain what to do if Mary Richards doesn't
            reply.</p>

            <!--<a class="button" href="#" role="button">View all claims</a>-->
        </div>
    </div>
</main>


{% endblock %}

