{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <!--<div class="breadcrumbs">-->
    <!--<ol>-->
      <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
    <!--</ol>-->
  <!--</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Declaration
      </h1>

      <p class="lede">By signing this agreement you confirm that you have read and understood all the details and terms.</p>

      <br>

      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You won't be able to change the terms after you submit it.
        </strong>
      </div>

      <a class="button" href="confirmation-page" role="button">Sign and submit</a>

      <fieldset></fieldset>

      <a href="">I am not ready to sign yet</a>

    </div>
  </div>

</main>


{% endblock %}

