{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Payment options
      </h1>
      <h1 class="heading-medium">
      I would like the defendant to to pay:      </h1>
      <form
      name="aspnetForm"
      method="post"
      onsubmit="multiNavigation('radio-pay-group', ['Immediately', 'Instalments', 'Set-date'], ['warrant', 'repayment-plan', 'pay-by-set-date']);return false;"
      id="aspnetForm"
      autocomplete="off">
      <div class="form-group">
        <fieldset>
          <legend class="visually-hidden">What do you want to do?</legend>
          <div class="multiple-choice">
            <input id="radio-no" type="radio" name="radio-pay-group" value="Set-date">
            <label for="radio-no" data-target="no-info">The full amount on set date</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-repayment" type="radio" name="radio-pay-group" value="Instalments">
            <label for="radio-repayment" data-target="repayment-info">By instalments</label>
          </div>
        </fieldset>
      </div>
      <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
      data-ignore-double-submit="true">
    </form>
  </div>
</div>
</main>
{% endblock %}
