{% extends "layout_unbranded.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
            <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        How did you sign into the service?
      </h1>
           <form
             name="aspnetForm"
             method="post"
             onsubmit="multiNavigation('radio_group2', ['interest_fixed','interest_variable'], ['../../sign-in', 'mcol']);return false;"
             id="aspnetForm"
             autocomplete="off">

            <fieldset>

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio_group2" value="interest_fixed">
          <label for="radio-1"> <strong class="bold">Email</strong><br>
          </label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio_group2" value="interest_variable">
          <label for="radio-2"><strong class="bold">Government gateway user ID</strong><br>
              This is a 12 digit ID, for example 7719 4461 0187.</label>
        </div>
      </fieldset>




      <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>
      </form>
    </div>
      </div>
    </main>

    {% endblock %}
