{% extends "layout_unbranded.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
 <div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/">Business and self-employed</a></li>
    <li><a href="/">Business debt and bankruptcy</a></li>
  </ol>
</div>
<div class="grid-row">
    <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Make a court claim for money
    </h1>
    <div id="nav-links">
      <ol class="nav-list">
       <li>How to make a claim</li>
       <li><a href="#">Court fees</a></li>
       <li ><a href="#">Claim the interest</a></li>
       <li><a href="#">After you make your claim</a></li>
       <li><a href="#">What happens at the hearing</a></li>
       <li><a href="#">Enforce a judgment</a></li>
     </ol>
    </div>
         <hr>

    </div>
</div>
  <div class="grid-row">
  <div class="column-two-thirds">
   <h1 class="heading-large">
    1. How to make a claim
  </h1>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>You can apply to a county court to claim money you’re owed by a person or business.</p>

<p>This is known as making a court claim. It often used to be known as taking someone to a ‘small claims court’.</p>

<p>A <a rel="external" href="http://civilmediation.justice.gov.uk/">mediation service</a> could be quicker and cheaper than going to court. Mediation is when an impartial person helps both sides work out an agreement.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>The process is different in <a rel="external" href="http://www.scotcourts.gov.uk/taking-action/small-claims">Scotland</a> and <a rel="external" href="http://www.nidirect.gov.uk/an-overview-of-the-small-claims-process">Northern Ireland.</a></p>
</div>

<h2 id="make-a-claim">Make a claim</h2>
<p><a href="/make-money-claim-online">Make your claim online</a> if you’re claiming for a fixed (‘specified’) amount of money.</p>

<p>Download and fill in a paper <a rel="external" href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=338">claim form N1</a> if you’re claiming for an unspecified amount of money.</p>

<p>You can also use the paper claim form to claim for a fixed amount.</p>

<p>Send the paper form to the County Court Money Claims Centre.</p>

<div class="address"><div class="adr org fn"><p>

County Court Money Claims Centre
<br>PO Box 527
<br>Salford
<br>M5 0BY
<br>
</p></div></div>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You must pay a <a href="/make-court-claim-for-money/court-fees">court fee</a> when you make a claim.</p>
</div>

<h2 id="what-happens-next">What happens next</h2>

<p>You might have to go to a court hearing if the other person or business (the ‘defendant’) denies owing the money and <a href="/make-court-claim-for-money/after-you-make-your-claim">you disagree with their response</a>.</p>

<p>You can get the court to <a href="/make-court-claim-for-money/after-you-make-your-claim">order them to pay</a> if they:</p>

<ul>
  <li>don’t respond to your claim</li>
  <li>admit they owe you but don’t pay</li>
</ul>

<p>If they still don’t pay, you can ask the court to <a href="/make-court-claim-for-money/enforce-a-judgment">take further steps</a> to collect the money - for example, by using bailiffs.</p>

<h2 id="get-help-making-a-claim">Get help making a claim</h2>

<p>Contact the Money Claim Online helpdesk if you’re making the claim online.</p>

<div class="contact">
<p><strong>Money Claim Online helpdesk</strong><br>
<a href="mailto:ccbc@hmcts.gsi.gov.uk">ccbc@hmcts.gsi.gov.uk</a><br>
Telephone: 0300 123 1057<br>
Telephone: 01604 619 402 <br>
Monday to Friday, 8:30am to 5pm<br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

<p>Contact the County Court Money Claims Centre if you’re using the paper claim form.</p>

<div class="contact">
<p><strong>County Court Money Claims Centre</strong><br>
Telephone: 0300 123 1372<br>
Monday to Friday, 8:30am to 5pm<br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

</div>

      <nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="pub-c-pagination__list">
      <li class="pub-c-pagination__item pub-c-pagination__item--next">
        <a href="/make-court-claim-for-money/court-fees" class="pub-c-pagination__link" rel="next">
          <span class="pub-c-pagination__link-title">
            Next
            <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
            <span class="visually-hidden">:</span>
            <span class="pub-c-pagination__link-label">Court fees</span>
        </a>
      </li>
  </ul>
</nav>



<div class="app-c-print-link">
  <a href="/make-court-claim-for-money/print" class="app-c-print-link__link" rel="alternate">
    Print entire guide
  </a>
</div>


  </div>
  <div class="column-third">
<aside class="app-c-related-navigation" role="complementary">
    <h2 id="related-nav-related_items" class="app-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
      Related content
    </h2>
          <nav role="navigation" class="app-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items" data-module="toggle">
            <ul class="app-c-related-navigation_link-list" data-module="track-click">
                  <li class="app-c-related-navigation__link">
                    <a class="app-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/apply-to-bankrupt-someone" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Apply to bankrupt someone who owes you money&quot;}" href="/apply-to-bankrupt-someone">Apply to bankrupt someone who owes you money</a>
                  </li>
                  <li class="app-c-related-navigation__link">
                    <a class="app-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/make-money-claim-online" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Make a money claim online&quot;}" href="make-claim">Make a money claim</a>
                  </li>
                  <li class="app-c-related-navigation__link">
                    <a class="app-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/possession-claim-online-recover-property" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Possession Claim Online: recover property&quot;}" href="respond">Respond to a money claim</a>
                  </li>
                  <li class="app-c-related-navigation__link">
                    <a class="app-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.4 Related content" data-track-label="/statutory-demands" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Make and serve a statutory demand, or challenge one &quot;}" href="/statutory-demands">Make and serve a statutory demand, or challenge one </a>
                  </li>
            </ul>
          </nav>
            <h3 id="related-nav-topics" data-track-count="sidebarRelatedItemSection" class="
              app-c-related-navigation__sub-heading
              app-c-related-navigation__sub-heading">
              Explore the topic
            </h3>
          <nav role="navigation" class="app-c-related-navigation__nav-section" aria-labelledby="related-nav-topics" data-module="toggle">
            <ul class="app-c-related-navigation_link-list" data-module="track-click">
                  <li class="app-c-related-navigation__link">
                    <a class="app-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.1 Explore the topic" data-track-label="/browse/business/funding-debt" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Business debt and bankruptcy&quot;}" href="/browse/business/funding-debt">Business debt and bankruptcy</a>
                  </li>
            </ul>
          </nav>
  </aside>   </div>
 </div>
</main>
{% endblock %}
