{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

      <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">
  <h1 class="heading-large">
  Has the defendant paid the full amount claimed?
  </h1>


      <p">The defendant Mary Richards responded that they have paid the full amount claimed on 13 October 2017.</p>
      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio_select_group2', ['Yes', 'No'], ['../task-list?radio-indent-group=accept_stop_claim_claim_amount&', 'amount-owed/rejection-reason?radio-indent-group=mediation-reject&']);return false;"
        id="aspnetForm"
        autocomplete="off">
      <div class="form-group">
        <fieldset>
          <div class="multiple-choice" data-target="accept-offer">
            <input id="radio-no" type="radio" name="radio_select_group2" value="Yes">
            <label for="radio-no" data-target="no-info">Yes, they've paid the full amount claimed</label>
          </div>
      <div class="panel panel-border-narrow js-hidden" id="accept-offer">
        <p>By agreeing will stop the claim.</p>
      </div>
          <div class="multiple-choice" data-target="reject-offer">
            <input id="radio-repayment" type="radio" name="radio_select_group2" value="No">
            <label for="radio-repayment" data-target="repayment-info">No, they've not paid the full amount claimed</label>
          </div>

        </fieldset>
      </div>
                  <input type="hidden" name="amount_owed" value="complete">

      <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
             data-ignore-double-submit="true">
    </form>




    </div>
  </div>

</main>
{% endblock %}
