{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Tell us what you think</h1>

      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You won't get a reply to feedback left here.
        </strong>
      </div>

      <p><a href="message">Contact us</a> if you need a response.</p>


      <form class="form" action="feedback-thanks" method="post">

        <div class="form-group">
          <textarea class="textarea" id="details" name="details" rows="5" cols=""></textarea>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Send message" />
        </div>

      </form>

    </div>
  </div>
{% include 'prototypes/prototype-feb-2020/includes/contact.html' %}
</main>

{% endblock %}

