{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../task-list {% endblock %}
  
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">


        {{formData | safe}}

        <h1 class="heading-large">
         Suggest a resolution, defend later
        </h1>

  
        

          <p>Description about what to do next</p>

         <a class="button" href="#">Link to next step</a>



  

    </div>
  </div>

</main>
{% endblock %}
