{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Do you believe Mary Richards can pay you back?
      </h1>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="conditionalNavigation('radio-indent-group', 'Yes', 'claim-amount-deduct', 'handoff-unlikely-success');return false;"
        id="aspnetForm"
        autocomplete="off">
        <div class="form-group">
          <fieldset class="inline">
            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes"> Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">
                No<br>

            </div>
        </div>
        </fieldset>
        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
               data-ignore-double-submit="true">
      </form>

    </div>
  </div>
  <fieldset></fieldset>
{% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
