{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Choose a different enforcement option
      </h1>

      <p>You should only apply for a bailiff to visit the defendant if you think they'll be able to get your money back.</p>
      <p>You can choose a different enforcement option.</p>

      <p><a href="#" onclick="history.go(-1)">I still want to apply for a warrant of control</a></p>

    </div>
  </div>
  <fieldset></fieldset>
{% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
