{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Ask a judge to make a repayment plan
      </h1>


      <p>The court affordability calculator has determined a new repayment plan as the most the defendant can afford to repay.</p>

      <table class="instalment-table">
        <tbody>
          <tr class="">
            <td class="">
              Regular payments of
            </td>
            <td class="">
              £75
            </td>
            <td class="">
            </td>
          </tr>
          <tr class="">
            <td class="">
              Frequency of payments
            </td>
            <td class="">
              Weekly
            </td>
            <td class="">
            </td>
          </tr>
          <tr class="">
            <td class="">
              Make the first payment on
            </td>
            <td >
              1 {{ now |  date("add", 1, "month") | date( "MMMM YYYY" ) }}
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td class="">
              Last payment on
            </td>
            <td class="">
              1 {{ now |  date("add", 13, "month") | date( "MMMM YYYY" ) }}
            </td>
            <td class=" ">
            </td>
          </tr>
         <tr>
            <td class="">
              Length of repayment plan
            </td>
            <td class="">
              1 year
            </td>
            <td class=" ">
            </td>
          </tr>
        </tbody>
      </table>

      <label for="reject_response">
        Why do you believe the defendant could afford to pay more or sooner than this?
      </label>
      <div class="form-group">
        <textarea class="form-control form-control-3-4 form-control-medium"
                  id="reject_response"
                  rows="4"
                  name="reject_response"
                  cols="40"
                  type="text"
                  style="width: 95%"
        ></textarea>
      </div>

      <a href="redetermination/confirmation" class="button">Ask a judge to make a repayment plan</a>

      <br>
      <br>

      <p>
        <a href="view-claim">Back to claim</a>
      </p>

    </div>
  </div>
{% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
