{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} /prototype-14/index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="task-list{{ formQuery | safe }}">Make a money claim</a>
      </li>
      <li>
        Claim amount
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="/task-list/task-list-started-2" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          Total amount you're claiming
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Total amount you're claiming
          </legend>

          <table class="table-form">
            <caption class="visuallyhidden"></caption>
            <thead>
            <tr>
              <th scope="col"></th>
              <th class="numeric last" scope="col">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th scope="col">Total:</th>
              <td class="numeric last"><span class="bold-medium">£1583.00</span></td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
              <th scope="row">Claim amount</th>
              <td class="numeric last">
                <label class="visuallyhidden" for="amount">Claim amount</label>
                <span class="font-small">£1500.00</span>
              </td>
            </tr>
            <tr>
              <th scope="row">Interest</th>
              <td class="numeric last">
                <label class="visuallyhidden" for="amount">Interest</label>
                <span class="font-small">£13.00</span>
              </td>
            </tr>
            <tr>
              <th scope="row">Claim fee</th>
              <td class="numeric last">
                <label class="visuallyhidden" for="amount">Claim fee</label>
                <span class="font-small">£70.00</span>
              </td>
              </td>
            </tr>
            </tbody>
          </table>

          <br>

          <input type="hidden" name="claim_amount" value="complete">

        </fieldset>

        <!--<details>-->

        <!--<summary>-->
        <!--<span class="summary">Help with...</span>-->
        <!--</summary>-->

        <!--<div class="panel panel-border-narrow">-->
        <!--<p>Content goes here...</p>-->
        <!--</div>-->

        <!--</details>-->

        <div class="form-group">
          <input type="submit" class="button" value="Confirm and continue">
        </div>
      </form>

    </div>
  </div>
</main>


{% endblock %}
