{% extends "layout_task-list.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers for this task
  </h1>

  <table class="check-your-answers">

    <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
          Claim amount
        </h2>
      </th>
      <th>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        Claim amount:
      </td>
      <td>
        £1500
      </td>
      <td class="change-answer">
        <a href="#">
          Change <span class="visuallyhidden">Claim amount</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Interest rate:
      </td>
      <td>
        8% (standard rate)
      </td>
      <td class="change-answer">
        <a href="#">
          Change <span class="visuallyhidden">Interest rate</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        When are you claiming interest from:
      </td>
      <td>
        From the date I submit the claim
      </td>
      <td class="change-answer">
        <a href="#">
          Change <span class="visuallyhidden">When are you claiming interest from</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="check-your-answers">

    <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
          Results
        </h2>
      </th>
      <th>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        Interest:
      </td>
      <td>
        £13
      </td>
      <td class="change-answer">
        <a href="#">
          <span class="visuallyhidden">Interest</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Claim fee:
      </td>
      <td>
        £70
      </td>
      <td class="change-answer">
        <a href="#">
          <span class="visuallyhidden">Claim fee</span>
        </a>
      </td>
    </tr>
    <td>
      Total amount you're claiming:
    </td>
    <td>
      £1583
    </td>
    <td class="change-answer">
      <a href="#">
        <span class="visuallyhidden">Total amount you're claiming</span>
      </a>
    </td>
    </tr>
    </tbody>
  </table>

  <br>
  <br>

  <a href="/prototype-14/task-list">Return to overview</a>

</main>

{% endblock %}
