{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

 {% include "includes/phase_banner_beta.html" %}

 <div class="grid-row">
   <div class="column-two-thirds">


         <h1 class="heading-large">
           There might be more than one hearing
         </h1>

           <p>We'll now ask you for your requirements in case there's a hearing about the judgment.</p>
             <p>If you have to go to a hearing about the claim later, we'll ask you for your hearing requirements again then.</p>


        <form action="../../../applications/set-aside-application-hearing-requirements" method="post" class="form">

           <div class="form-group">
             <input type="submit" class="button" value="I understand" />
           </div>

         </form>

       </div>
     </div>



 {% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>

<form method="post"  action="#" class="form" style="float: left;">
 <select id="control-box2" name="control-box2" onchange="window.location.href='settle-out-of-court?beforeccjdeadline='+this.value">
   <option value="true">Defendant</option>
   <option value="true" >- Before 1 month CCJ deadline</option>
   <option value="false">- After 1 month CCJ deadline</option>
 </select>
</form>


{% endblock %}
