{% extends "layout.html" %}


{% import 'prototypes/prototype-oct-2019/includes/upload.html' as upload %}
{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->

      <h1 class="heading-large">
        Upload evidence
      </h1>

      <p>Upload any evidence that supports your application to cancel the judgment, such as:</p>
      <ul class="list list-bullet">
        <li>emails between you and the claimant</li>
        <li>proof of why you couldn't respond to the claim</li>
        </ul>
        <p>Don't upload evidence about why you dispute the claim itself - we'll ask for this later.</p>

      <!-- {% if data['updateaddress'] == "true" %}
          <p>Include any evidence that you told Sam Clark you'd changed address.</p>
      {% endif %}

      {% if data['has-settled'] == "true" %}
          <p>Include any settlement agreement you made with the claimant.</p>
      {% endif %}

      {% if data['has-paid'] == "true" %}
          <p>Include any proof of payment you received from the claimant.</p>
      {% endif %} -->


      <form action="task-list?evidencesection=complete" method="post" class="form">
        {{ upload.form('evidence', 'Continue') }}
      </form>

      <div class="form-group">
        <br>
        <p><a href="task-list?evidencesection=complete">Continue without evidence</a></p>
      </div>

      <br>


    </div>
  </div>

  {% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
