{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
        <a href="#" class="link-back">Back</a>
    <h1 class="heading-large">
        How to pay a County Court Judgment (CCJ)
      </h1>



      <p>Contact the claimant and agree how to pay. For example by cheque or direct debit. You can't pay the court.</p>

      <p></p>
      <p>Use the claim number for payments such as:
        <ul class="list list-bullet">
      <li>bank transfers</li>
      <li>receipts from the claimant if you pay by cheque</li>
    </ul>
        <div class="panel panel-border-wide">
          <p>
            Keep a record of all payments made
          </p>
        </div>
    </p>
    <p>
      Allow  up to 4  days  for  your  payment  to  reach  the  claimant.</p>

    </div>
  </div>





</main>
{% endblock %}
