{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        Content about removing CCJ goes here
      </h1>

      <form method="post" action="s-c-upload" class="form">


        {% if data['radio-s-c-group']=="Yes" %}

      <p>before 28 October 2017</p>

        {% else %}
        <p>After 28 October 2017</p>

        {% endif %}


<p>Next you will be asked to upload evidence </p>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
