{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->


      <form method="post" action="s-c-upload" class="form">


        {% if data['radio-s-c-group']=="Yes" %}

      <p>before 28 October 2017</p>

        {% else %}
        <h1 class="heading-large">Apply to show your CCJ as paid</h1>

        <p>You didn’t pay the claim within 28 days of it being issued.</p>

        <p>You can’t cancel the judgment.</p>

        <p>You can apply to have it marked as ‘satisfied’ on the records. This means it is showed as paid. The CCJ will be removed from the records after 6 years.</p>

        <div class="form-group">
          <input type="submit" class="button" value="Apply to show your CCJ as paid" />
        </div>
        {% endif %}



      </form>
    </div>
  </div>
</main>
{% endblock %}
