{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        Apply to cancel the judgment
      </h1>
      <p class="">You'll have to pay a court fee of £15 to apply for a certificate of cancellation.</p>
      <h2 class="heading-medium">Evidence of payment</h2>
      <form method="post" action="enter-card" class="form">


        <div class="form-group">
          <fieldset>


            <div class="multiple-choice" data-target="no-respond">
              <input id="set-aside-no-respond" type="radio" name="radio-set-aside-group" value="Yes" aria-controls="no-respond" aria-expanded="false">
              <label for="set-aside-no-respond">I can provide evidence I paid the claim before 28 October</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="no-respond" aria-hidden="true">
             You'll be asked to upload your evidence
            </div>

            <div class="multiple-choice" data-target="paid-off">
              <input id="set-aside-paid-off" type="radio" name="radio-set-aside-group" value="Yes" aria-controls="paid-off" aria-expanded="false">
              <label for="set-aside-paid-off">I made the full payment to the court</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="paid-off" aria-hidden="true">
              <label class="form-label" for="paid-off-text">More information (optional)</label>
              <textarea class="form-control" id="paid-off-text" rows="4" name="paid-off-text" cols="2" type="text"></textarea>
            </div>

            <div class="multiple-choice" data-target="incorrectly">
              <input id="set-aside-incorrectly" type="radio" name="radio-set-aside-group" value="Yes" aria-controls="incorrectly" aria-expanded="false">
              <label for="set-aside-incorrectly">I can't provide evidence that I paid the claim</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="incorrectly" aria-hidden="true">
              <label class="form-label" for="incorrectly-text">Give details of how you tried to get evidence and why you can't provide it.</label>
              <textarea class="form-control" id="incorrectly-text" rows="4" name="incorrectly-text" cols="2" type="text"></textarea>
            </div>



          </fieldset>
        </div>


      <h2 class="heading-medium">Statement of truth</h2>
      <div class="notice text">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You could be fined or go to prison if you deliberately give untrue or misleading information.
        </strong>
      </div>
      <div class="form-group">
        <div class="multiple-choice text">
          <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
          <label for="HasAcceptedTermsAndConditions"> I believe that the facts stated in this application are true.</label>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Submit and continue to payment (£15.00)" />
      </div>
    </form>
  </div>
</div>
</main>
{% endblock %}
