{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <h1 class="heading-large">
    Check your answers:
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Check eligibility, cost and time
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>
          Total cost for you to learn:
        </td>
        <td>
          £119
        </td>
        <td class="change-answer">
          <a href="/moneyclaims/questions/result/cost{{formQuery}}">
            View <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          Total time for you to learn:
        </td>
        <td>
          <!-- Time WITH giving medicial information -->
          {% if data.disability_medical=="yes" or data.mobility_need=="yes" %}
            5–7 months
          <!-- Time WITHOUT giving medicial information -->
          {% else %}
            4–6 months
          {% endif %}
        </td>
        <td class="change-answer">
          <a href="/moneyclaims/questions/result/time{{formQuery}}">
            View <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          Disability or health condition:
        </td>
        <td>
          {{ data.disability_medical }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          Mobility need:
        </td>
        <td>
          {{ data.mobility_need }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      {% if data.mobility_need=="yes" %}
        <tr>
          <td>
            16 or older:
          </td>
          <td>
            {{ data.over16 }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td>
            17 or older:
          </td>
          <td>
            {{ data.over17 }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}

      <tr>
        <td>
          Read number plate from 20 meters:
        </td>
        <td>
          {{ data.read_from_20_meters }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          Need glasses or contact lenses to drive:
        </td>
        <td>
          {{ data.needs_glasses_or_contacts }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          Practice driving in own car:
        </td>
        <td>
          {{ data.practing_in_own_car }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

        <td>
          Paying for driving lessons:
        </td>
        <td>
          {{ data.driving_lessons }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

  </table>

  <br>
  <br>

  <div class="form-group">
    <a href="/moneyclaims/task_list{{formQuery}}" class="button">Return to your task list</a>
  </div>

</main>

{% endblock %}
