{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('offer'));
    });
  </script>

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
   <div class="column-two-thirds">





    <fieldset>

 <h2 class="heading-large">Next steps</h2>


<div class="panel panel-border-wide">
      <p >Complete and email the admission and defence forms by <span id="Date"></span></p>


      <p >You'll need to complete the admission and defence forms. Use these to offer the claimant the amount of money you believe you owe and explain why you don't owe the remaining amount. </p>
      </div>
       <ul class="list list-number">
      <li>Complete both <a href='https://formfinder.hmctsformfinder.justice.gov.uk/n009a-eng.pdf' target="_blank">admission form N9A</a> <span class="font-xsmall"> and <a href='https://formfinder.hmctsformfinder.justice.gov.uk/n009b-eng.pdf' target="_blank">defence form N9B</a> (forms open in new window)</span></li>
      <li>Download and attach the completed forms to an email</li>
      <li>Send the email with the attached forms to <a href='mailto:civil-money-claim@hmcts.gov.uk?Subject=CF91-BK65'>civil-money-claim@hmcts.gov.uk</a></li>
      </ul>



      <h2 class="heading-medium">Help and support</h2>
<!--       <p>Call our helpline if you have questions.</p>
 -->      Telephone: 0300 144 2121<br>
      Textphone: 0300 144 2122<br>
      Hours: 9am to 5pm, Monday to Friday</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

    </fieldset>
<br>
<a href="http://www.smartsurvey.co.uk/s/3Q3KE/" class="button">Finished</a>
  </div>
  </div>
</main>


{% endblock %}
