{% extends "layout.html" %}

{% block page_title %} Task list {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="/public/stylesheets/dm_list.css" />{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">

    <div class="column-three-quarters">

<br>
<br>

  <table id="table-of-tasks">

    <thead>
      <tr>
        <th scope="col" id="col-task">
          <span class="task-group">
            <span class="group-number" id="task-number"></span>
              Check before you start
          </span>
        <th class="numeric" id="task-status" scope="col" id="col-status"><span type="hidden" class="visually-hidden">task status</span></th>
      </tr>
    </thead>
    <tbody>

          <!-- Check before you start -->
          <tr id="check_before_you_start">
            <td class="task" style="padding-right:10px">
              <a href="check-eligibility-cost-time/check-your-answers{{formQuery}}">
                <span class="task-name">
                  Check eligibility, cost and time
                </span>
                <!--
                  <br>
                  <span class="task-description">
                    Check your eligibility, time and cost to apply
                  </span>
                -->
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% include "includes/task_status_finished.html" %}
            </td>
          </tr>

          <!-- Check rules -->
          <tr id="read_rules">
            <td class="task">
              <a href="/examples/task-list/read-rules/check-your-answers">
                <span class="task-name"> Read rules</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% include "includes/task_status_finished.html" %}
            </td>
          </tr>

    </tbody>
  </table>

  <br>
  <br>

<table id="table-of-tasks">

    <thead>
      <tr>
        <th scope="col" id="col-task">
          <span class="task-group">
            <span class="group-number" id="task-number"></span>
              Prepare to apply
          </span>
        </th>
        <th class="numeric" id="task-status" scope="col" id="col-status"></th>
      </tr>
    </thead>
    <tbody>

      <!-- Your contact details -->
      <tr id="contact_details">
        <td class="task">
          <a href="/examples/task-list/contact-details/check-your-answers">
            <span class="task-name"> Your contact details</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% include "includes/task_status_finished.html" %}
        </td>
      </tr>

      <tr id="transport_manager">
        <td class="task">
          <a href="#">
            <span class="task-name"> Do training</span>
          </a>
        </td>
        <td class="numeric" id="task-status">

        </td>
      </tr>

      <tr id="transport_manager">
        <td class="task">
          <a href="#">
            <span class="task-name"> Check criminal history</span>
          </a>
        </td>
        <td class="numeric" id="task-status">

        </td>
      </tr>

      <tr id="transport_manager">
        <td class="task">
          <a href="#">
            <span class="task-name"> Give medical information</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% include "includes/task_status_finished.html" %}
        </td>
      </tr>

      <tr id="transport_manager">
        <td class="task">
          <a href="#">
            <span class="task-name"> Get references</span>
          </a>
        </td>
        <td class="numeric" id="task-status">

        </td>
      </tr>

      <tr id="transport_manager">
        <td class="task">
          <a href="#">
            <span class="task-name"> Provide photograph</span>
          </a>
        </td>
        <td class="numeric" id="task-status">

        </td>
      </tr>


    </tbody>
  </table>

  <br>
  <br>

  <table id="table-of-tasks">
    <thead>
      <tr>
        <th scope="col" id="col-task">
          <span class="task-group">
            <span class="group-number" id="task-number"></span>
              Apply
          </span>
        </th>
        <th class="numeric" id="task-status" scope="col" id="col-status"></th>
      </tr>
    </thead>
    <tbody>

          <tr id="check_and_send">
            <td class="task">
              <a href="/examples/task-list/check-your-answers-page">
                <span class="task-name"> Submit and pay</span>
              </a>
            </td>
            <td class="numeric" id="task-status">

            </td>
          </tr>

          <tr id="wait_for_decision">
            <td class="task">
              <a href="/examples/task-list/wait-for-decision">
                <span class="task-name"> Wait for a decision</span>
              </a>
            </td>
            <td class="numeric" id="task-status">

            </td>
          </tr>

          <tr id="get_licence">
            <td class="task">
              <a href="#">
                <span class="task-name"> Get licence</span>
              </a>
            </td>
            <td class="numeric" id="task-status">

            </td>
          </tr>

    </tbody>
  </table>

    </div>

  </div>

  </div>

</main>
{% endblock %}
