{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You have requested a judge determines a repayment plan</h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>

      <p >We'll contact both you and Mary Richards confirming the details of the repayment plan in the next 10 days.</p>

      <p><a href="/dashboard/v5/claimant?claimant=10.6" class="">Back to your account</a></p>

       <h2 class="heading-medium">Help and support</h2>
       <p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
          Telephone: 0300 123 7050<br>
      Hours: 9am to 5pm, Monday to Friday</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
  </div>



</div>
</main>


{% endblock %}
