{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="bold-large">Your offer has been sent to {% if data['defendant'] == "defendant" %}Jan Clark {% elseif data['defendant'] == "claimant" %}Mary Richards {% else %}Jan Clark{% endif %} </h1>
			</div>
			<fieldset>
				<h2 class="heading-medium">What happens next</h2>
				<p >{% if data['defendant'] == "defendant" %}Jan Clark {% elseif data['defendant'] == "claimant" %}Mary Richards {% else %}Jan Clark{% endif %}can accept, reject or make a counter offer. We'll let you know when they respond.</p>
				<p> View your claim status on your <a href='#'>money claims account</a>. </p>
				<h2 class="heading-medium">Help and support</h2>
				<p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
					Telephone: 0300 123 7050<br>
				Hours: 9am to 5pm, Monday to Friday</p>
				<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
			</fieldset>
			<br>
			<a href="#" class="button">Finished</a>
		</div>
	</div>
</main>
{% endblock %}
