{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
<!--        <span class="heading-secondary">Step 2 of 6</span>
-->        Check your email
</h1>


      <p><a  class="hide-link" href="email-registered-email" style="font-weight:200">We've sent an email to {{ partyName( 'claimant', 'email' ) }}@gmail.com. Follow the instructions to finish creating your account.</a></p>
      <h3 class="heading-medium">Can't see the email?</h3>
        <p>It can take a few minutes to arrive. Check your junk mail if you can’t see it in your inbox.</p>

</div>
</div>
{% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
