{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">



  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->


      <h1 class="heading-large">
        Are you willing to be flexible and listen to {{ partyName( 'defendant' ) }}'s position?
      </h1>



      <form
      name="aspnetForm"
      method="post"
      id="aspnetForm"
      autocomplete="off"
      onsubmit="multiNavigation('radio-mediation-group-1', ['Yes', 'No'], ['mediation-sub-2', 'claimant-not-eligible']);return false;"
      >




        <div class="form-group">
          <fieldset class="inline">

<p>You will only discuss the dispute with the mediator.</p>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-mediation-group-1" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes</label>
            </div>



              <div class="multiple-choice">
                <input id="radio-no" type="radio" name="radio-mediation-group-1" value="No">
                <label for="radio-no" data-target="no-info">No</label>
              </div>


              </fieldset>
              <input type="hidden" name="mediation" value="complete">


        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>



            </div>
          </form>
          <p></p><br>


          </div>
        </div>
      {% include 'prototypes/prototype-may-2020/includes/contact.html' %}
</main>
{% endblock %}
