
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        You must still submit your response
      </h1>

	  <p>We will now email [claimant] about trying mediation. If they agree, we will send you an email with details of your appointment. The claim against you will be put on hold until the mediation process is complete.</p>
<p>If [claimant] does not agree to mediation, their claim against you will go to court.</p>
<p>You must still submit your response to their claim.</p>


 <button type="submit" class="govuk-button">
  Return to task list
</button>
      

  </div>
</div>
{% endblock %}