{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and
      data.return_page.includes('check-your-answers')%}
      <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}"
            class="form">
        {% else %}
        <form method="post" action="check-your-answers" class="form">
          {% endif %}
          {{formData | safe}}
          <h1 class="heading-large">
            Additional information (optional)
          </h1>
          <div class="">
            <label class="form-label" for="">
              Enter any additional information that could help the bailiff recover your money
            </label>
            <!--<h2 class="heading-medium">Enter anything you know that might help the bailiff</h2>-->
            <!-- <p>You'll have to wait longer to get your money back if the defendant is not at the address when bailiffs attempt to visit. They'll make a maximum of 3 attempts to collect the debt. </p> -->

            <!--<p>Enter anything you think may help recover your money, such as when the defendant is usually at the-->
            <!--address or when they're not home.</p>-->

          </div>


          <fieldset>
            <legend class="visuallyhidden">

            </legend>
            <textarea class="form-control-large"
                      id="additional-information"
                      rows="3"
                      name="additional-information"
                      type="text"
                      style="width: 100%"
                      value="">{{data['additional-information']}}</textarea>
          </fieldset>
          {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and
          data.return_page.includes('check-your-answers')%}
          <div class="form-group">
            <input type="submit" class="button" value="Save changes"/>
          </div>
          <a href="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}">Cancel</a>
          {% else %}
          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>
          {% endif %}
        </form>
    </div>
  </div>
{% include 'prototypes/prototype-may-2020/includes/contact.html' %}
</main>
{% endblock %}
