{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">List your evidence</h1>
      <div class="description-block">
        <h3 class="heading-small">Their evidence</h3>
        <div class="form-fields">
          <table>
            <thead>
              <tr>
                <th class="heading-small" scope="col">Type</th>
                <th class="heading-small" scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Contracts and agreements</td>
                <td>I have a signed contract showing that you broke the contract agreement.</td>
              </tr>
              <tr>
                <td class="no-border">Photos</td>
                <td class="no-border">The photos I've taken show the poor workmanship of the roof repair</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="padding-top: 30px;"></div>
      <form
      name="aspnetForm"
      action="../../task-list"
      method="get"
      id="aspnetForm"
      autocomplete="off">
      <div id="timeline" class="timeline">
        <div class="timeline-headings">
          <h3 class="heading-small" for="event-form-control">
            List your evidence (optional)
          </h3>
          <p>You only need to list your evidence for now. You provide the actual evidence if the claim goes to court.</p>
        </p>
      </div>
      <div class="timeline-rows">
        <p>
          <div class="timeline-row">
            <select class="form-control-select otherType1" name="legal-status2" id="legal-status">
              <option value="1">-- Please make a selection --</option>
              <option value="2" {% if data['legal-status2'] == 2 %}selected{% endif %}>Contracts and agreements</option>
              <option value="3" {% if data['legal-status2'] == 3 %}selected{% endif %}>Expert witness</option>
              <option value="4" {% if data['legal-status2'] == 4 %}selected{% endif %}>Letters, emails and other correspondence</option>
              <option value="5" {% if data['legal-status2'] == 5 %}selected{% endif %}>Photo evidence</option>
              <option value="6" {% if data['legal-status2'] == 6 %}selected{% endif %}>Receipts</option>
              <option value="7" {% if data['legal-status2'] == 7 %}selected{% endif %}>Statements of account</option>
              <option value="other" {% if data['legal-status2'] == "other" %}selected{% endif %}>Other</option>
            </select>
            <div class="panel panel-border-narrow other1" {% if data['legal-status2'] %} style="display: none" {% else %}style="display: none; margin-bottom: 0;"{% endif %} >
              <p>Describe this evidence in more detail (optional). <span class="evidence-message1"></span></p>
              <textarea class="timeline-column-text" name="legal-status-description-2" id="timeline-1" rows="2">{{ data['legal-status-description-2'] }}</textarea>
            </div>
          </div>
          <div class="timeline-row ">
            <select class="form-control-select otherType2" name="legal-status3" id="legal-status">
              <option value="1">-- Please make a selection --</option>
              <option value="2" {% if data['legal-status3'] == 2 %}selected{% endif %}>Contracts and agreements</option>
              <option value="3" {% if data['legal-status3'] == 3 %}selected{% endif %}>Expert witness</option>
              <option value="4" {% if data['legal-status3'] == 4 %}selected{% endif %}>Letters, emails and other correspondence</option>
              <option value="5" {% if data['legal-status3'] == 5 %}selected{% endif %}>Photo evidence</option>
              <option value="6" {% if data['legal-status3'] == 6 %}selected{% endif %}>Receipts</option>
              <option value="7" {% if data['legal-status3'] == 7 %}selected{% endif %}>Statements of account</option>
              <option value="other" {% if data['legal-status3'] == "other" %}selected{% endif %}>Other</option>
            </select>
            <div class="panel panel-border-narrow other2" {% if data['legal-status3'] %} style="display: none" {% else %}style="display: none; margin-bottom: 0;"{% endif %} >
              <p>Describe this evidence in more detail (optional). <span class="evidence-message2"></span></p>
              <textarea class="timeline-column-text" name="legal-status-description-3" id="timeline-1" rows="2">{{ data['legal-status-description-3'] }}</textarea>
            </div>
          </div>
          <div class="timeline-row ">
            <select class="form-control-select otherType3" name="legal-status4" id="legal-status">
              <option value="1">-- Please make a selection --</option>
              <option value="2" {% if data['legal-status4'] == 2 %}selected{% endif %}>Contracts and agreements</option>
              <option value="3" {% if data['legal-status4'] == 3 %}selected{% endif %}>Expert witness</option>
              <option value="4" {% if data['legal-status4'] == 4 %}selected{% endif %}>Letters, emails and other correspondence</option>
              <option value="5" {% if data['legal-status4'] == 5 %}selected{% endif %}>Photo evidence</option>
              <option value="6" {% if data['legal-status4'] == 6 %}selected{% endif %}>Receipts</option>
              <option value="7" {% if data['legal-status4'] == 7 %}selected{% endif %}>Statements of account</option>
              <option value="other" {% if data['legal-status4'] == "other" %}selected{% endif %}>Other</option>
            </select>
            <div class="panel panel-border-narrow other3" {% if data['legal-status4'] %} style="display: none" {% else %}style="display: none; margin-bottom: 0;"{% endif %} >
              <p>Describe this evidence in more detail (optional). <span class="evidence-message3"></span></p>
              <textarea class="timeline-column-text" name="legal-status-description-4" id="timeline-1" rows="2">{{ data['legal-status-description-4'] }}</textarea>
            </div>
          </div>
          <div class="timeline-row">
            <select class="form-control-select otherType"  name="legal-status1" id="legal-status1" >
              <option value="1">-- Please make a selection --</option>
              <option value="2" {% if data['legal-status1'] == 2 %}selected{% endif %}>Contracts and agreements</option>
              <option value="3" {% if data['legal-status1'] == 3 %}selected{% endif %}>Expert witness</option>
              <option value="4" {% if data['legal-status1'] == 4 %}selected{% endif %}>Letters, emails and other correspondence</option>
              <option value="5" {% if data['legal-status1'] == 5 %}selected{% endif %}>Photo evidence</option>
              <option value="6" {% if data['legal-status1'] == 6 %}selected{% endif %}>Receipts</option>
              <option value="7" {% if data['legal-status1'] == 7 %}selected{% endif %}>Statements of account</option>
              <option value="other" {% if data['legal-status1'] == "other" %}selected{% endif %}>Other</option>
            </select>
            <div class="panel panel-border-narrow other" {% if data['legal-status1'] %} style="display: none;" {% else %}style="display: none; margin-bottom: 0;"{% endif %} >
              <p>Describe this evidence in more detail (optional). <span class="evidence-message"></span></p>
              <textarea class="timeline-column-text" name="legal-status-description-1" id="timeline-1" rows="2">{{ data['legal-status-description-1'] }}</textarea>
            </div>
          </div>
        </p>
      </div>
    </div>
    <div id="add-event-container form-group">
      <a class="secondary-button" id="add-another-event-button" href="#">Add more evidence</a>
    </div>
    <br>
    <div class="form-group">
      <legend class="visually-hidden">Defence</legend>
      <div id="claim-details">
        <div id="describe-wrapper-claim-details-1" class="form-group">
          <label class="form-label-bold" for="offer">
            <div class="bold-small">List any parts of their evidence you disagree with (optional)</div>
          </label>
          <textarea class="form-control form-control-3-4 form-control"
          id="defence-disagree-evidence"
          rows="4"
          name="defence-disagree-evidence"
          cols="40"
          type="text"
          style="width: 95%"
          data-store="">{{data['defence-disagree-evidence']}}</textarea>
        </div>
      </div>
      {% if data.radio_select_group=="Some"%}
      <input type="hidden" name="your_defence_pa" value="complete">
      {% else %}
      <input type="hidden" name="your_defence" value="complete">
      {% endif %}
      <div class="form-group">
        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
        data-ignore-double-submit="true">
      </div>
      <!--<input id="advert-option-next&#45;&#45;button" type="submit" value="Continue" class="button"-->
      <!--data-ignore-double-submit="true">-->
    </div>
  </form>
</div>
</div>
{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
