{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} /prototype-14/index {% endblock %}

{% block content %}

<main id="content" role="main">
  <div style="margin: 30px 0 45px 0;"><img src="/public/images/hmcts-logo.png">

    <h1 class="heading-large">Civil Money Claims - Private Beta</h1>

    <p class="lede">
      User testing 03.05.2017
    </p>


    <h2 class="heading-medium">Civil Money Claims Private Beta invite [Idam]</h2>

    <ol class="list list-number">
      <li><a href="start-page">Receive email - activation link</a></li>
      <li><a href="create-account">Create account</a></li>
      <li><a href="pre-action">Account created - confirmation screen</a></li>
      <li><a href="settle-early">Welcome email</a></li>
    </ol>

    <h2 class="heading-medium">Claimant - make claim</h2>

    <ol class="list list-number">
      <li><a href="start-page">Start page</a></li>
      <li><a href="task-list">Task list</a></li>
      <li><a href="task-list/check-eligibility-cost-time">Check eligibility, cost and time</a></li>
      <li><a href="task-list/read-rules">Resolving this dispute</a></li>
      <li><a href="pre-action">Before you make a money claim</a></li>
      <li><a href="settle-early">Settlement</a></li>
      <li><a href="making-changes">Completing your claim</a></li>

      <li><a href="screening-question">Screening question</a></li>
      <li><a href="claimant-name">What is your full name?</a></li>


      <li><a href="claim-amount">Enter claim amount</a></li>
      <li><a href="claim-interest">Enter claim interest</a></li>
      <li><a href="fee">Fee</a></li>
      <li><a href="claim-summary">Claim summary</a></li>
      <li><a href="claim-type">Claim type</a></li>
      <li><a href="claim-details-hybrid">Claim details</a></li>
      <li><a href="costs-breakdown">Claim amount - breakdown</a></li>

      <li><a href="check-your-claim">Submit and pay</a></li>
      <li><a href="payment-methods">Payment methods</a></li>
      <li><a href="enter-card">Enter card details</a></li>
      <li><a href="confirm-card-payment">Confirm card payment</li>
      <li><a href="confirmation-page">Claim submitted confirmation</a></li>
    </ol>

  </div>
</main>

{% endblock %}
