{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div style="margin: 30px 0 45px 0;"><img src="/public/images/hmcts-logo.png">

    <h1 class="heading-large">Civil Money Claims - Alpha</h1>

    <p class="lede">
      User testing 07.03.2017
    </p>


    <h2 class="heading-medium">Claimant - starting a claim</h2>

    <ol class="list list-number">
      <li><a href="start-page">Start page</a></li>
      <li><a href="resolving-this-dispute">Resolving this dispute</a></li>
      <li><a href="screening-question">Screening question</a></li>
      <li><a href="create-account">Create an account</a></li>
      <li><a href="claim-amount">Enter claim amount</a></li>
      <!--<li><a href="claim-interest">Enter claim interest</a></li>-->
      <li><a href="fee">Fee</a></li>
      <li><a href="making-changes">Making changes to application</a></li>
      <li><a href="details-claimant">Claimant's details</a></li>
      <li><a href="details-defendant">Defendant's details</a></li>
      <li><a href="claim-summary">Claim summary</a></li>
      <!--<li><a href="claim-type">Claim type</a></li>-->
      <li><a href="claim-details-hybrid">Claim details</a></li>
      <li><a href="costs-breakdown">Claim amount - breakdown</a></li>
      <li><a href="check-your-claim">Check your claim</a></li>
      <li><a href="payment-methods">Payment methods</a></li>
      <li><a href="enter-card">Enter card details</a></li>
      <li><a href="confirm-card-payment">Confirm card payment</li>
      <li><a href="confirmation-page">Claim submitted confirmation</a></li>
      <!--<li><a href="other-options">Other ways to get your money</a></li>-->
    </ol>

    <h2 class="heading-medium">Claimant - reply to defendant</h2>
    <ol class="list list-number">
      <li><a href="suggestion/email-defence">Notifications - email [Defend now]</a></li>
      <li><a href="suggestion/email">Notifications - email [Offer first, Defend later]</a></li>
    </ol>

    <h3 class="heading-small">[Claimant view defendant's response]</h3>
    <ol class="list list-number">
      <li><a href="suggestion/sign-in">Sign in</a></li>
      <li><a href="suggestion/suggestion">View response [with a suggestion]</a></li>
    </ol>

    <h2 class="heading-medium">Claimant - request for default judgment (specified amount)</h2>

    <ol class="list list-number">
    <li><a href="judgment/email">Notifications - email</a></li>
    <li><a href="judgment/sign-in">Sign in</a></li>
    <li><a href="judgment/response">Request for judgment by default</a></li>
    </ol>

  </div>
</main>

{% endblock %}


