{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} index {% endblock %}
{% block proposition_header %}
{% set my_account="3" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Claim submitted</h1>
        <br>
        <p class="">
          Your claim number: <br><strong class="bold-large">352MC733</strong>
        </p>
        <p>
         <a class="font-medium" target="_blank" href='correspondence/claim-form-claimant?check=1' style="color: #FFFFFF" >Download your claim as a PDF</a>
       </p>
     </div>
     <h2 class="heading-medium">What happens next</h2>
     <p>Mary Richards has until 4pm on <span id="Date"></span> to respond to your claim. They can ask for an extra 14 days if they need it. We'll email you when they respond.</p>
     <p>You can request a County Court Judgment (CCJ) against them if they don't respond.</p>
     <h2 class="heading-medium">If the defendant pays you</h2>
     <p>You need to sign in to your account to tell us you've been paid.</p>
  {% include "includes/survey.html" %}
      <p> <a class="button" href='../dashboard/home?dashboard=1.2'>Go to your account</a> </p>

      <h2 class="heading-medium" style="margin-bottom: 10px;">Help and support</h2>

      {% import 'prototypes/features-to-be-built/includes/contact-in-page.html' as contact %}
      {{ contact.output('small') }}

</main>
{% endblock %}
