{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} index {% endblock %}
{% block proposition_header %}
{% set my_account="3" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">

        {% if data['claimantresponsetosetaside'] == 'true' %}
            <h1 class="bold-large">Hearing attendance response submitted</h1>
            <br>
            <p class="">
              Your claim number: <br><strong class="bold-large">352MC733</strong>
            </p>

        {% else %}
            <h1 class="bold-large">Claim submitted</h1>
            <br>
            <p class="">
              Your claim number: <br><strong class="bold-large">352MC733</strong>
            </p>
            <p>
              <a class="font-medium" target="_blank" href='correspondence/claim-form-claimant?check=1' style="color: #FFFFFF" >Download your claim form</a> (123KB, PDF)
            </p>
        {% endif %}

     </div>


     <h2 class="heading-medium">What happens next</h2>


    {% if data['claimantresponsetosetaside'] == 'true' %}

        <!-- Attending  -->
            {% if data['claimantattending'] == 'true' %}
                <!-- if the claim is settled  -->
                {% if data['claimsettled'] == 'true' %}
                    <p>We'll contact you with a date if there is a hearing.</p>
                    <p> <a class="button" href='/prototypes/prototype-nov-2019/dashboard/claimant?claimant=33'>Go to your account</a> </p>
                {% else %}
                    <p>We'll contact you with a date if there is a hearing.</p>
                    <p>After the hearing {{ partyName( 'defendant' ) }} will respond to your claim.</p>
                    <p> <a class="button" href='/prototypes/prototype-nov-2019/dashboard/claimant?claimant=34'>Go to your account</a> </p>
                {% endif %}

            {% else %}

        <!-- Not attending -->
            <!-- if the claim is settled  -->
                {% if data['claimsettled'] == 'true' %}
                    <p>We'll send you a letter about the outcome of {{ partyName( 'defendant' ) }} removing CCJ request.</p>
                    <p> <a class="button" href='/prototypes/prototype-nov-2019/dashboard/claimant?claimant=36'>Go to your account</a> </p>
                {% else %}
            <!-- if the claim isn't currently settled  -->
                    <p>Wait for the outcome of {{ partyName( 'defendant' ) }} removing CCJ hearing.</p>
                    <p>Once that happens {{ partyName( 'defendant' ) }} will respond to your claim.</p>
                    <p> <a class="button" href='/prototypes/prototype-nov-2019/dashboard/claimant?claimant=37'>Go to your account</a> </p>
                {% endif %}
            {% endif %}


    {% else %}
        <p>{{ partyName( 'defendant' ) }} has until 4pm on <span id="Date"></span> to respond to your claim. They can ask for an extra 14 days if they need it. We'll email you when they respond.</p>

        <p>You can request a County Court Judgment (CCJ) against them if they don't respond.</p>



            <!-- {% if data['totalSum'] < 370.01 %}
            <h3 class="heading-small">Mediation</h3>
            <p>Your claim has been automatically registered for free telephone mediation.</p>
            <p>We'll contact you to try to arrange a mediation appointment unless either:</p>
            <ul class="list list-bullet">
                <li>{{ partyName( 'defendant' ) }} admits all of your claim and pays in full</li>
                <li>they don't admit the full claim, but they reject mediation</li>
            </ul>
            <p>You'll only speak to a mediator about the claim, not to {{ partyName( 'defendant' ) }}.</p>
            <p><a href='no-mediation'>I don't want to try mediation</a></p>
            {% endif %} -->

        <h3 class="heading-small">If the defendant pays you</h3>
        <p>You need to sign in to your account to tell us you've been paid.</p>
        {% include "includes/survey.html" %}
             <!--<p> <a class="button" href='../dashboard/home?dashboard=1.2'>Go to your account</a> </p>-->
        <p> <a class="button" href='../dashboard/new-dashboard/claimant/all-claims?claimant=1'>Go to your account</a> </p>
    {% endif %}


    {% include "includes/contact.html" %}

    <!-- Simulating time passing  -->
    {% if data['claimantresponsetosetaside'] != 'true' %}
        <div id="daysPassing" data-dayspassurl="../dashboard/new-dashboard/claimant/email1"
             data-dayspasstimetoprompt="5000" data-dayspassdays="5">
            <div class="spinner-block">
              <h2 class="govuk-heading-m">Days passing by... <span id="days">5</span></h2>
              <div class="spinner spinner-1"></div>
            </div>
        </div>

        <a class="gem-c-pagination__link active" id="triggerDaysPassing">
          <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                   viewBox="0 0 17 13">
                <path fill="currentColor"
                      d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Simulate time passing
              </span>
          </span>
        </a>
    {% endif %}

</main>





<!--  page states selector  -->
<form method="post"  action="#" class="form" style="position: absolute;">
  <select id="check2" name="check2" onchange="window.location.href='?'+this.value">
    <option  value="claimantresponsetosetaside=false&"
             {% if data['claimantresponsetosetaside'] == 'false'  %}selected{% endif %}
            >Claim submitted</option>
    <option  value="claimantresponsetosetaside=true&claimantattending=true&claimsettled=false&"
             {% if data['claimantresponsetosetaside'] == 'true' and data['claimantattending'] == 'true' and data['claimsettled'] == 'false' %}selected{% endif %}
            >Claimant - Defendant's set aside hearing - Attending - Claim not settled </option>
    <option  value="claimantresponsetosetaside=true&claimantattending=true&claimsettled=true&"
             {% if data['claimantresponsetosetaside'] == 'true' and data['claimantattending'] == 'true' and data['claimsettled'] == 'false' %}selected{% endif %}
            >Claimant - Defendant's set aside hearing - Attending - Claim already settled</option>

    <option  value="claimantresponsetosetaside=true&claimantattending=false&claimsettled=false&"
             {% if data['claimantresponsetosetaside'] == 'true' and data['claimantattending'] == 'false' and data['claimsettled'] == 'false'  %}selected{% endif %}
            >Claimant - Defendant's set aside hearing - Not Attending - Claim not settled </option>
    <option  value="claimantresponsetosetaside=true&claimantattending=false&claimsettled=true&"
             {% if data['claimantresponsetosetaside'] == 'true' and data['claimantattending'] == 'false' and data['claimsettled'] == 'true'  %}selected{% endif %}
            >Claimant - Defendant's set aside hearing - Not Attending - Claim already settled</option>
  </select>
</form>







{% endblock %}
