{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} index {% endblock %}
{% block proposition_header %}
{% set my_account="3" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
    <div class="govuk-box-highlight">
      <h1 class="bold-large">Claim submitted</h1>
      <br>
      <p class="">
        Your claim reference: <br><strong class="bold-large">CF91-BK65</strong>
      </p>
      <p>
        Email confirmation sent to: <strong class="bold">youremail@gmail.com</strong>
      </p>
      <p>
       <a class="font-medium" href='{{ asset_path }}/images/moneyclaim-issue-receipt.pdf2' style="color: #FFFFFF" download>Download your claim as a PDF</a>
     </p>
   </div>
   <h2 class="heading-medium">What happens next</h2>
   <p>Mary Richards needs to respond to your claim by 4pm, <span id="Date"></span>.
    <p>Mary Richards can ask for an extra 14 days to respond to your claim. If they do, we’ll email to tell you the new date they need to respond by.</p>
    <p>We'll send you an update by email if they respond, and we'll explain what to do if they don't.</p>

    <p> You can view the claim at any time on <a href='../../../dashboard/v3/claimant?claimant=1'>your money claims account</a>. </p>
    <h2 class="heading-medium">What to do if you get paid</h2 >
      <p>Tell the defendant when you’ve received their payment.</p>
      <p>You must also tell the court what date you were paid or accepted an offer. Do this by emailing moneyclaims@hmcts.gsi.gov.uk</p>

      <h2 class="heading-medium"> If you disagree with the response</h2>
        You might have to go to a court hearing if:

        <ul class="list list-bullet">
          <li>the defendant says they don’t owe you any money</li>
          <li>they disagree with the amount you’ve claimed</li>
          <li>you don’t agree with how they’ve offered to repay you</li>
        </uL>
        <p>The court may send you a questionnaire asking for more information on the case.</p>
        <h2 class="heading-medium">What you can do</h2>
        <p>You can still contact Mary Richards directly while your claim progresses. Many people are able to settle their
          claim by discussing what's gone wrong. If you can make an agreement you won't need to go to a hearing.</p>


            <h2 class="heading-medium">Help and support</h2>
    <p>email: moneyclaims@hmcts.gsi.gov.uk</p>
            <p>Call our helpline if you have questions.</p>
            Telephone: 0300 144 2121<br>
            Hours: 9am to 5pm, Monday to Friday
            <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
            <br>
            <a href="../../../dashboard/v3/claimant?claimant=1" class="button">Finished</a>
          </div>
        </main>
        {% endblock %}
