{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation_new.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs" style="margin-bottom: -20px">
    <ol>
      <!--<li><a href="#" onclick="history.go(-1)">All claims</a></li>-->

      <li><a href="">All claims</a></li>

      <li aria-current="page">Claim details</li>

    </ol>
  </div>

  <div class="grid-row">

    <div class="details" style="margin-top: -30px">
        <span style=""><h2 style="">
          <h2 class="heading-medium">{{ partyName( 'claimant' ) }} v {{ partyName( 'defendant' ) }}</h2>
          <h2 class="font-xsmall" style="margin-top: -10px">Claim number: <span style="">352MC733</span></h2>
    </div>
    <!--<div class="divider"></div>-->

    <div class="column-full-width">

      <div class="tabGroup3" style="margin-top: 40px">
        <a id="tabH" class="tab-on" onclick="tabGroup3(tabContent, 'TAB-ONE')" href="javascript: void(0)">Next steps</a>
        <a id="tabI" class="tab" onclick="tabGroup3(tabContent, 'TAB-TWO')" href="javascript: void(0)">Claim history</a>
        <hr style="margin-top: -2px">
      </div>

      <div id="tabContent" class="top_30">

        <div id="tabOneContent">
          <div class="column-two-thirds">
            <div class="description" style="background-color: #fff">
              <!--Action one-->
              <h4 class=" heading-small">Respond to a County Court Judgment (CCJ)</h4>
              <p>You didn't respond to this claim by the deadline of 24 December 2018.</p>

              <p>{{ partyName( 'claimant' ) }} requested a <a href="../../../defendant/correspondence/forms/default-judgment?check=1">County
                Court Judgment (CCJ)</a> against you. When we've processed the request we'll
                post a copy of judgment to you and to {{ partyName( 'claimant' ) }}.</p>

              <p>A CCJ means the court orders you to pay the judgment debt. If you pay the full amount within one month
                of the date of judgment, the CCJ is removed from the public register. You can pay £15 to <a
                  href="https://www.gov.uk/government/publications/form-n443-application-for-a-certificate-of-satisfaction-or-cancellation">apply
                  for a certificate</a> that confirms this.</p>

              <!--<div class="notice">-->
              <!--<i class="icon icon-important">-->
              <!--<span class="visually-hidden">Warning</span>-->
              <!--</i>-->
              <!--<strong class="bold-small">-->
              <!--If you get a judgment do not ignore it - you could be taken back to court and forced to pay.-->
              <!--</strong>-->
              <!--</div>-->

              <div class="form-group">
                <form method="post" action="do-you-owe-money" class="form">
                  {{formData | safe}}
                  <input type="hidden" name="" value="on">
                  <input type="submit" class="button" value="Respond to your CCJ">
                </form>
              </div>

              <fieldset></fieldset>
              {% include 'prototypes/prototype-feb-2020/includes/contact.html' %}
            </div>
          </div>

          <div class="column-one-third">
            <div class="right-column-nav" style="margin-top: 20px">
              <!--<hr class="light-hr" style="margin-top: 5px">-->
              <h3 class="heading-small">More actions</h3>
              <p></p><a href="">I've paid in full</a></p>
            </div>
          </div>



        </div>

      </div>

    </div>

    <div id="tabTwoContent">
      <!--<h3 class="heading-medium">Claim history</h3><br>-->
      <div class="hmcts-timeline" style="margin-top: 50px">
        <div class="hmcts-timeline__item">
          <div class="hmcts-timeline__header">
            <h2 class="hmcts-timeline__title">{{ partyName( 'claimant' ) }} requested a default County Court Judgment (CCJ) against you</h2>
            <!--<p class="hmcts-timeline__by">by claimant</p>-->
            <p>You didn't respond to this claim by the deadline of 24 December 2018.</p>
            <p style="margin-top: -10px"><a href="../../../defendant/correspondence/forms/default-judgment?check=1">Download
              County Court Judgment</a>
              (PDF, 123KB)</p>
          </div>
          <p class="hmcts-timeline__date" style="margin-top: -10px">
            <time style="color: grey">28 December 2018</time>
          </p>
        </div>
        <div class="hmcts-timeline__item">
          <div class="hmcts-timeline__header">
            <h2 class="hmcts-timeline__title">Claim made against you</h2>
            <!--<p class="hmcts-timeline__by">by claimant</p>-->
            <p><a href="../../../defendant/correspondence/forms/claim-form-claimant?check=1">Download claim form</a>
              (PDF, 123KB)</p>
          </div>
          <p class="hmcts-timeline__date" style="margin-top: -10px">
            <time style="color: grey">6 December 2018</time>
          </p>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>


  <!--<div class="column-one-third">-->
  <!--<div class="right-column-nav">-->
  <!--<hr class="light-hr " style="margin-top: 83px">-->
  <!--<h3 class="heading-small">More actions</h3>-->
  <!--<p></p><a href="">Tell us you've settled</a></p>-->
  <!--<p></p><a href="">Stopping the claim</a></p>-->
  <!--</div>-->
  <!--</div>-->
</main>

<script src="/public/javascripts/tree.js"></script>
<script src="/public/javascripts/casefile.js"></script>

<script>
  new HMCTSFrontend.SearchToggleButton({
    toggleButton: {
      container: $('.hmcts-search-toggle__toggle'),
      text: 'Find case'
    },
    search: {
      container: $('.hmcts-search')
    }
  })
</script>

<script>
  new Casefile($('.jui-cf'))
  new Tree($('.jui-tree'))
  new Toolbar()

  $('.jui-cf__rotate-button').on('click', function (e) {
    var page = $(e.target).parents('.jui-cf__document-page')

    if (page.hasClass('jui-cf__document-page--rotate-90')) {
      page.removeClass('jui-cf__document-page--rotate-90')
      page.addClass('jui-cf__document-page--rotate-180')
    } else if (page.hasClass('jui-cf__document-page--rotate-180')) {
      page.removeClass('jui-cf__document-page--rotate-180')
      page.addClass('jui-cf__document-page--rotate-270')
    } else if (page.hasClass('jui-cf__document-page--rotate-270')) {
      page.removeClass('jui-cf__document-page--rotate-270')
    } else {
      page.addClass('jui-cf__document-page--rotate-90')
    }

  })
</script>

{% endblock %}
