{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've asked for a judge to determine a repayment plan</h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>

      <p>A judge will look at the case. We'll contact you to tell you what to do next.</p>

      <p><a href="/prototypes/features-to-be-built/claimant?claimant=10.6" class="">Back to your account</a></p>

       <h2 class="heading-medium">Help and support</h2>
       <p>Email: moneyclaims@justice.gov.uk<br>
          Telephone: 0300 123 1056<br>
      Monday to Thursday, 8.30am to 5pm <br />Friday, 8.30am to 4pm</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a> <span class="font-xsmall">(opens in a new window)</span></p>
  </div>



</div>
{% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
