{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <script>
        $(document).ready(function() {
            var offerText = '';
            if (formParam('offer-me')) {
                if (offerText.length > 0) {
                  offerText += '<br/>'
                }
                offerText += 'You will ' + formParam('offer-me').toLocaleLowerCase();
              if (formParam('offerDateDay') && formParam('offerDateMonth') && formParam('offerDateYear')) {
                offerText += ' by ' + formParam('offerDateDay') + '/' + formParam('offerDateMonth') + '/' + formParam('offerDateYear')
              }
            }
            if (formParam('offer-them')) {
              if (offerText.length > 0) {
                  offerText += '<br/>'
              }
              offerText += 'They will ' + formParam('offer-them').toLocaleLowerCase();
            }
            $('#yourOfferContent').html(offerText);
        });
    </script>

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <!--<a href="#" class="link-back">Back</a>-->

            <h1 class="heading-xlarge">
                Suggestion sent to Jan Clark
            </h1>

            <p class="heading-medium">Your suggestion</p>

            <div class="clearfix">
                <div id="yourOfferContent" class="callout callout-fee">

                </div>
            </div>

            <fieldset>
                <p>We've sent your suggestion to Jan Clark. We've also sent a copy to: <span class="bold">maryrichards@hotmail.com</span></p>

                <h2 class="heading-medium">What happens next</h2>
<p>Jan Clark has 5 days to respond. They can accept your suggestion, reject it, or suggest an alternative. We'll update you by email and SMS if this happens.</p>

            <p>If your suggestion is rejected, or there is no response, you will need to give some more information about why you don't owe the money in case you need to go to a hearing.</p>

            </fieldset>


        </div>
    </div>
</main>


{% endblock %}
