{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        How mediation works
      </h1>

      <p>The mediation service will contact you and Jan Clark to arrange an appointment with a mediator.</p>

      <p>You'll talk to the mediator one-on-one - you won't talk to Jan Clark directly. The mediator might need to speak to you more than once, but the process won't last more than an hour.</p>

      <p>The mediator will ask you both to:</p>
      <ul class="list list-bullet">
        <li>summarise the claim to help uncover underlying problems</li>
        <li>consider the claim from both sides</li>
        <li>be flexible</li>
      </ul>

      <p>If mediation is successful you'll be asked to sign an agreement to formalise the settlement. If anyone breaks the terms of the agreement the case will go to court.</p>

      <a class="button" href="#" onclick="history.go(-1)">Go back</a>

    </div>
  </div>
  <fieldset></fieldset>
{% include 'prototypes/prototype-oct-2018/includes/contact.html' %}
</main>
{% endblock %}
