{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <!--<div class="breadcrumbs">-->
    <!--<ol>-->
      <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
    <!--</ol>-->
  <!--</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
<!--           <span class="page-number">Terms</span>
 -->          <span class="page-title">Check the details</span>
        </div>
      </header>

      <!--<h1 class="heading-xlarge">-->
        <!--Check you understand the details-->
      <!--</h1>-->

      <p class="">The wording of this agreement is based on the information you and the other side have discussed
        and agreed on. It has not been reviewed by the court.</p>
        <p class=""> You must decide if you want to sign this
        agreement. </p>

      <!--<div class="form-group"><a name="hasacceptedtermsandconditions"></a>-->

      <!-- <div class="multiple-choice">
        <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
        data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
        name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
        <label for="HasAcceptedTermsAndConditions">I have read and understood the above.</label>
      </div> -->
      <!--<span class="field-validation-valid"-->
      <!--data-valmsg-for="HasAcceptedTermsAndConditions"-->
      <!--data-valmsg-replace="true" aria-live="polite"></span></div>-->

      <a class="button" href="terms-3" role="button">Continue</a>

    </div>
  </div>

</main>


{% endblock %}
