{% extends "layout.html" %}
{% block page_title %}
	GOV.UK prototype kit
{% endblock %}
{% block content %}

<link href="/public/stylesheets/admin.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">
	<div class="grid-row">

		{% include "includes/admin-nav.html" %}

		<div class="column-three-quarters">
			<div class="grid-row padding-grid-row">
				<h1 class="heading-large underline">Manage your products</h1>
			</div>

			<p>Your products are what users can choose to pay for through the GOV.UK Pay interface.</p>
			<h2 class="heading-medium">Add a product</h2>

		  <div class="panel panel-border-wide">

				<div class="form-group form-group-product-name">
					<label class="form-label" for="product-name">Product name</label>
		  		<input class="form-control" id="product-name" type="text">
	  		</div>

	  		<div class="form-group form-group-price">
					<label class="form-label" for="price">Price (£)</label>
		  		<input class="form-control" id="price" type="number">
	  		</div>

	  		<button class="button">Add product</button>

		  </div>

  		<h2 class="heading-medium">Remove a product</h2>

  		<table>
  			<thead>
  				<th scope="col">Product name</th>
  				<th scope="col">Price (£)</th>
  				<th scope="col">Remove?</th>
				</thead>
				<tr>
					<td>Legalising a signature</td>
					<td>30</td>
					<td><button class="button">Remove</button></td>
				</tr>
				<tr>
					<td>Preparing any certificate, declaration or document    
in English, or in another language</td>
					<td>50</td>
					<td><button class="button">Remove</button></td>
				</tr>
				<tr>
					<td>Declaration of existence (except if required by British   
Government)</td>
					<td>25</td>
					<td><button class="button">Remove</button></td>
				</tr>
			</table>


			
		</div>
	</div>
</main>
{% endblock %}