{% extends "layout.html" %}
{% block page_title %}
GOV.UK prototype kit
{% endblock %}
{% block content %}
<link href="/public/stylesheets/admin.css" media="screen" rel="stylesheet" type="text/css" />
<main id="content" role="main">
	<div class="grid-row">
		{% include "includes/admin-nav.html" %}
		<div class="column-three-quarters">
			<div class="grid-row padding-grid-row">
				<h1 class="heading-large underline">Slovakian embassy</h1>
				<div class="overview">
					<h2 class="heading-small staff-subheading">
						Transactions overview for:
					</h2>
					<div class="column-quarter filter-fields">
						<div class="form-group">
							<div class="dropdown">
								<select name="select" class="form-control dropdown-list" id="full-name">
									<option value="value1" selected="">Today</option> 
									<option value="value2">7 days</option>
									<option value="value3">30 days</option>
									<option value="value4">6 months</option>
									<option value="value5">12 months</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-row">
				<div class="column-half no-left-padding">
					<div class="dashboard-section">
						<table class="big-type-table">
							<thead>
								<tr>
									<th colspan="2">Initiated payments</th>
								</tr>
							</thead>
							<tbody>
								<tr class="clickable-row table-colour" data-href="#">
									<td>582</td>
									<td class="right-align">£59,102</td>
								</tr>
							</tbody>
						</table>
						<table class="big-type-table">
							<thead>
								<tr>
									<th colspan="2">Sucessful payments</th>
								</tr>
							</thead>
							<tbody>
								<tr class="clickable-row table-colour-green" data-href="#">
									<td>548</td>
									<td class="right-align">£52,004</td>
								</tr>
							</tbody>
						</table>
						<table class="big-type-table">
							<thead>
								<tr>
									<th colspan="2">Failed payments</th>
								</tr>
							</thead>
							<tbody>
								<tr class="clickable-row table-colour-red" data-href="#">
									<td>34</td>
									<td class="right-align">£7,098</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="column-half">
					<div class="dashboard-section">
						<table class="big-type-table">
							<thead>
								<tr>
									<th colspan="2">Fully refunded payments</th>
								</tr>
							</thead>
							<tbody>
								<tr class="clickable-row table-colour-grey" data-href="#">
									<td>4</td>
									<td class="right-align">£762</td>
								</tr>
							</tbody>
						</table>
						<table class="big-type-table">
							<thead>
								<tr>
									<th colspan="2">Partially refunded payments</th>
								</tr>
							</thead>
							<tbody>
								<tr class="clickable-row table-colour-grey" data-href="#">
									<td>8</td>
									<td class="right-align">£100</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
