{% extends "layout.html" %}
{% block page_title %}
	GOV.UK prototype kit
{% endblock %}
{% block content %}
	<link href="/public/stylesheets/admin.css" media="screen" rel="stylesheet" type="text/css" />
	<main id="content" role="main">
	<div class="grid-row">

		{% include "includes/admin-nav.html" %}

		<div class="column-three-quarters">
			<h1 class="heading-large underline">Transactions and Invoices</h1>
			<div class="overview">
				<h2 class="heading-medium staff-subheading">
				Filter transactions list
				</h2>
			</div>
			<div class="column-quarter filter-fields">
				<div class="form-group">
					<label class="form-label-bold" for="full-name">
						Ref. number
						<span class="form-hint">Enter full or partial number</span>
					</label>
					<input class="form-control" id="full-name" name="full-name" type="text">
				</div>
			</div>
			<div class="column-quarter filter-fields">
				<div class="form-group">
					<label class="form-label-bold" for="full-name">
						Status
						<span class="form-hint">Select an option</span>
					</label>
					<div class="dropdown">
						<select name="select" class="form-control dropdown-list" id="full-name">
							<option value="value1" selected="">All</option>
							<option value="value1">Paid</option>
							<option value="value2">Full refund</option>
							<option value="value3">Partial refund</option>
							<option value="value4">Captured</option>
							<option value="value5">Auth refused</option>
							<option value="value6">Capture expired</option>
							<option value="value7">User cancelled</option>
							<option value="value8">System cancelled</option>
						</select>
					</div>
				</div>
			</div>
			<div class="column-quarter filter-fields">
				<div class="form-group">
					<legend class="form-label-bold">Date range</legend>
					<div class="form-date">
						<p class="form-hint">E.g. 7/11/2015 to 10/11/2015</p>
						<div class="form-group">
							<input class="form-control" placeholder="From" id="full-name" name="full-name" type="text">
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="To" id="full-name" name="full-name" type="text">
						</div>
					</div>
				</div>
			</div>
			<div class="column-quarter filter-fields">
				<div class="form-group filter-button">
					<a href="http://pay-staff-tool.herokuapp.com/staff-transaction-list-one"><button class="button">Filter</button></a>
					<a class="clear" href="http://pay-staff-tool.herokuapp.com/staff-transaction-list">Clear filter</a>
				</div>
			</div>
			<div class="column-three-quarters filter-fields">
				<h2 class="heading-small">
				Showing 100 of 45,896 transactions
				</h2>
				<p><a href="http://pay-staff-tool.herokuapp.com/transaction-list">Download a spreadsheet of these transactions</a></p>
				<img class="" src="./transactions_files/next-page.png">
			</div>
			<table>
				<thead>
					<tr>
						<th scope="col">Ref. number</th>
						<th scope="col">Service</th>
						<th scope="col">Amount</th>
						<th scope="col">Status</th>
						<th scope="col">Time</th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV722045</td>
						<td>Legalising a signature or seal</td>
						<td>£116.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:45</td>
					</tr>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV786290</td>
						<td>Legalising a signature or seal</td>
						<td>£55.00</td>
						<td>Authorised <button class="button">Take payment</button></td>
						<td>6 Dec 2015 – 12:44</td>
					</tr>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV798657</td>
						<td>Legalising a signature or seal</td>
						<td>£38.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:42</td>
					</tr>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV798687</td>
						<td>Preparing any certificate, declaration or document in English, or in another language</td>
						<td>£89.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:42</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798227</td>
						<td>Legalising a signature or seal</td>
						<td>£38.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:41</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV799654</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£58.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:41</td>
					</tr>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV798644</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£32.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:40</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798690</td>
						<td>Witnessing a signature</td>
						<td>£44.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:40</td>
					</tr>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV792537</td>
						<td>Witnessing a signature</td>
						<td>£38.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:39</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Uniting documents</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath of British Citizenship under the British Nationality Act 1981</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV798122</td>
						<td>Legalising a signature or seal</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="http://pay-staff-tool.herokuapp.com/staff-transaction-detail">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Uniting documents</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Uniting documents</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Uniting documents</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Uniting documents</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath of British Citizenship under the British Nationality Act 1981</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Legalising a signature or seal</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Certifying a copy of a document</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Uniting documents</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Preparing any certificate, declaration or document in English, or in another language</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Legalising a signature or seal</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Legalising a signature or seal</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Uniting documents</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath of British Citizenship under the British Nationality Act 1981</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Legalising a signature or seal</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Declaration of existence (except if required by British Government)</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Administering an oath, marking of exhibits, declaration or affirmation</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
					<tr class="clickable-row" data-href="url://">
						<td>DV798122</td>
						<td>Witnessing a signature</td>
						<td>£120.00</td>
						<td>Paid</td>
						<td>6 Dec 2015 – 12:38</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</main>
{% endblock %}