{% extends "layout.html" %}
{% block page_title %}
	GOV.UK prototype kit
{% endblock %}
{% block content %}

<link href="/public/stylesheets/admin.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-quarter">

		{% include "includes/admin-nav.html" %}

		</div>
		<div class="column-three-quarters">
			<div class="grid-row padding-grid-row">
				<h1 class="heading-large underline">Upload invoices: Match your columns</h1>
			</div>

			
		</div>
	</div>
</main>
{% endblock %}