{% extends "layout.html" %}
{% block page_title %}
	GOV.UK prototype kit
{% endblock %}
{% block content %}

<link href="/public/stylesheets/admin.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">
	<div class="grid-row">

		{% include "includes/admin-nav.html" %}

		<div class="column-three-quarters">
			<div class="grid-row padding-grid-row">
				<h1 class="heading-large underline">Upload invoices</h1>
			</div>

			<p>Upload invoice details to generate reference numbers that you can send to your users.</p>

			<a href="/admin/upload-invoices-2" class="button">Upload spreadsheet (CSV)</a>

			<h2 class="heading-medium">Example information</h2>
			<table>
				<thead>
					<tr>
						<th scope="col">Bill to</th>
						<th scope="col">Description</th>
						<th scope="col">Amount</th>
						<th scope="col">Date</th>
						<th scope="col">Reference number</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Jordan Jones</td>
						<td>Rental of the Winston Churchil room for 1 day</td>
						<td>£3,124.00</td>
						<td>17/04/2016</td>
						<td>123-456</td>
					</tr>
				</tbody>
			</table>	
			<div class="panel panel-border-wide">
				<p>Your row headings should match these exactly.</p>
			</div>
			
		</div>
	</div>
</main>
{% endblock %}