{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <!--<div class="breadcrumbs">-->
  <!--<ol>-->
  <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
  <!--</ol>-->
  <!--</div>-->


  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <!--           <span class="page-number">What was agreed</span>
           --> <span class="page-title">Your new agreement</span>
        </div>
      </header>
      <p class="lede">This agreement is a draft until you both sign. What's agreed here will then be legally
        binding.</P>
      <!--       <p class="panel panel-border-wide">If the agreement is broken the court will settle this dispute based on the details given here, rather than the original claim.</p>
       -->
      <br>

      <table>
        <thead>
        <tr>
          <th colspan="2">The parties agree that:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Agreed work</td>
          <td>Mary Richards will organise for the roof to be repaired using reinforced lining, and Oliver Clark will
            inspect the new work.
          </td>
        </tr>
        <tr>
          <td>Completion date</td>
          <td>On or before 1 May</td>
        </tr>
        <tr>
          <td>Money to be paid</td>
          <td>Oliver Clark will pay Mary Richards £50 to cover the cost of materials.</td>
        </tr>
        <tr>
          <td>Confidentiality</td>
          <td>Once signed you must keep this agreement confidential.</td>
        </tr>
        <!--<tr>-->
        <!--<td>Payment</td>-->
        <!--<td>By cash or bank transfer</td>-->
        <!--</tr>-->
        </tbody>
      </table>

      <!--<h1 class="heading-medium">-->
      <!--On 9 April 2016 the parties agreed that:-->
      <!--</h1>-->

      <!--<div class="agreement-details">-->
      <!--<dl class="date-time">-->
      <!--<dt>What</dt>-->
      <!--<dd>Mary Richards will organise for the roof to be repaired</dd>-->
      <!--</dl>-->

      <!--<dl class="representative">-->
      <!--<dt>By when</dt>-->
      <!--<dd>On or before 1 May</dd>-->
      <!--</dl>-->

      <!--<dl class="address">-->
      <!--<dt>Amount</dt>-->
      <!--<dd>Oliver Clark will pay Mary Richards £50 for materials</dd>-->
      <!--</dl>-->

      <!--<dl class="disabled-access">-->
      <!--<dt>Payment</dt>-->
      <!--<dd>By cash or bacs</dd>-->
      <!--</dl>-->
      <!--</div>-->

      <!--<p>You can review the information before you sign and submit your agreement.</p>-->

      <!--<div class="form-group"><a name="hasacceptedtermsandconditions"></a>-->

      <!-- <div class="multiple-choice">
        <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
        data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
        name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
        <label for="HasAcceptedTermsAndConditions">I confirm the above information is correct.</label>
      </div> -->


      <!--<span class="field-validation-valid"-->
      <!--data-valmsg-for="HasAcceptedTermsAndConditions"-->
      <!--data-valmsg-replace="true" aria-live="polite"></span></div>-->

      <fieldset></fieldset>
      <br>
      <a class="button" href="review-agreement">Continue</a>




      <fieldset></fieldset>

      <a href="">I want to change the details</a>

    </div>

    <!--<div class="column-third">-->

    <!--<aside role="complementary">-->
    <!--<div class="helpline">-->
    <!--<h3>Helpline<br>0300 144 2121</h3>-->
    <!--</div>-->
    <!--</aside>-->

    <!--</div>-->
  </div>

</main>


{% endblock %}
