{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <!--<div class="breadcrumbs">-->
  <!--<ol>-->
  <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
  <!--</ol>-->
  <!--</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        If this agreement is broken
      </h1>

      <p class="">If the other side breaks this agreement you can tell the court how it was broken and ask them to either:</p>
<ul class="list list-bullet">
      <li class="">make a judgment for you for any money still owed under this agreement</li>

      <li class="">restart the original claim for the full amount and arrange a hearing</li>
      </ul>


      <!--<ul class="list list-bullet">-->
      <!--<li class="lede">enter judgment for you</li>-->
      <!--<li class="lede">reopen the claim for a hearing for the full amount claimed</li>-->
      <!--</uL>-->

      <!-- <fieldset></fieldset>
      <details>
        <summary><span class="summary">How to enter judgment</span></summary>
        <div class="panel panel-border-narrow">
          <p>You'll need to complete <a class="external" rel="external"
                                        href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=484"
                                        target="_blank">N244 General Form of
            Application</a>.</p>
        </div>
      </details> -->

      <!-- <details>
        <summary><span class="summary">What happens if judgment is entered</span></summary>
        <div class="panel panel-border-narrow">
          <p>Content to set expectations regarding what happens next...?</p>
        </div>
      </details> -->

      <fieldset></fieldset>

      <!--<div class="form-group"><a name="hasacceptedtermsandconditions"></a>-->

      <!-- <div class="multiple-choice">
        <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
        data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
        name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
        <label for="HasAcceptedTermsAndConditions">I have read and understood the above.</label>
      </div> -->

      <!--<span class="field-validation-valid"-->
      <!--data-valmsg-for="HasAcceptedTermsAndConditions"-->
      <!--data-valmsg-replace="true" aria-live="polite"></span></div>-->

      <a class="button" href="review-agreement">Continue</a>


    </div>
  </div>


</main>


{% endblock %}
