{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <!--<div class="breadcrumbs">-->
  <!--<ol>-->
  <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
  <!--</ol>-->
  <!--</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <!--<span class="page-number">What was agreed</span>-->
          <span class="page-title">Payment</span>
        </div>
      </header>

      <p class="lede">Payment by direct debit on the day after the completion of the repairs.</p>

      <p class="panel panel-border-wide">Claimant should make sure the defendant knows their bank details...?</p>


      <!--<div class="form-group"><a name="hasacceptedtermsandconditions"></a>-->

      <!-- <div class="multiple-choice">
        <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
        data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
        name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
        <label for="HasAcceptedTermsAndConditions">I confirm the above information iscorrect.</label>
      </div> -->
      <!--<span class="field-validation-valid"-->
      <!--data-valmsg-for="HasAcceptedTermsAndConditions"-->
      <!--data-valmsg-replace="true" aria-live="polite"></span></div>-->

      <br>
      <a class="button" href="../review-agreement3" role="button">Accept and return to overview</a>

      <fieldset></fieldset>

      <a href="">I want to update the details</a>


    </div>

    <!--<div class="column-third">-->

    <!--<aside role="complementary">-->
    <!--<div class="helpline">-->
    <!--<h3>Helpline<br>0300 144 2121</h3>-->
    <!--</div>-->
    <!--</aside>-->

    <!--</div>-->

</main>


{% endblock %}
