{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
<!--           <span class="page-number">About this agreement</span>
 -->          <span class="page-title">Your details</span>
        </div>
      </header>

      <table>
        <!--<thead>-->
        <!--<tr>-->
          <!--<th colspan="2">Your details</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <tbody>
        <tr>
          <td>Full name</td>
          <td>Oliver Clark</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>12 Nelson Road <br>
            Reading <br>
            RG1 1AA</td>
        </tr>
        <!--<tr>-->
          <!--<td>Tel</td>-->
          <!--<td>07757 738 459</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Email</td>-->
          <!--<td>oliver65@gmail.com</td>-->
        <!--</tr>-->
        </tbody>
      </table>

      <a class="button" href="details-defendant" role="button">Continue</a>

      <fieldset></fieldset>

      <a href="exit-claimant">I want to update my details</a>

    </div>

    <!--<div class="column-third">-->

      <!--<aside role="complementary">-->
        <!--<div class="helpline">-->
          <!--<h3>Helpline<br>0300 144 2121</h3>-->
        <!--</div>-->
      <!--</aside>-->

    <!--</div>-->

</main>


{% endblock %}

