{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Call the helpline
      </h1>

      <p>If you think Mary Richards might have updated their details, please call our helpline:</p>
      Telephone: 0300 144 2121<br>
      Textphone: 0300 144 2122<br>
      Hours: 9am to 5pm, Monday to Friday

<!--       <p>We'll let you know when we've confirmed their details. </p>
 -->
    </div>
  </div>
</main>


{% endblock %}

