{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}




  <header class="page-report-header">
    <h1 class="heading-large">
      Settlement agreement 
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-one-half">
      <ul>
        <li><span class="bold-small"> Claim reference:</span>
          CF91-BK65
        </li>
        <!--<li>Date of draft agreement:-->
        <!--<span class="bold-small"> 11 April 2017</span>-->
        <!--</li>-->
        <li><span class="bold-small">You:</span>
          Not signed
        </li>
        <li><span class="bold-small">Mary Richards:</span>
          Not signed
        </li>
      </ul>
    </div>
  </div>

  <br>
  <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      You must read all sections of the agreement before you can sign<br>
      <p>Deadline: <span id="Date3"></span></p>
    </strong>
  </div>


  <ul id="overview-sections" class="overview-sections">

    <!--<li id="section-01" class="overview-section">-->
    <!--<h2 class="heading"></h2>-->

    <!--<div id="sub-section-01" class="descriptive-list-item">-->
    <!--<a href="agreement/case-summary"-->
    <!--aria-label="View case summary">-->

    <!--<h3 class="heading heading-medium">Original claim</h3>-->
    <!--<span class="status {{ claim.css_class }}">{{ claim.status }}</span>-->

    <!--<a class="edit-link " href="agreement/case-summary">-->
    <!--Review details</a>-->

    <!--<p class="description">A summary of the claim your draft agreement relates to</p>-->

    <!--</a>-->
    <!--</div>-->
    <!--</li>-->

    <li id="section-02" class="overview-section">
      <h2 class="heading"></h2>

      <div id="sub-section-02" class="descriptive-list-item">
        <a href="agreed"
           aria-label="View what was agreed">

          <h3 class="heading heading-medium">Agreement details</h3>
          <span class="status {{ agreement.css_class }}">{{ agreement.status }}</span>

          <a class="edit-link " href="details-claimant">
            Read this section</a>

          <p class="description">Details of what you've agreed </p>

        </a>
      </div>
    </li>

    <li id="section-03" class="overview-section">
      <h2 class="heading"></h2>

      <div id="sub-section-03" class="descriptive-list-item">
        <a href="terms"
           aria-label="View and accept terms">

          <h3 class="heading heading-medium">Terms of this agreement</h3>
          <span class="status {{ about_agreement.css_class }}">{{ about_agreement.status }}</span>

          <a class="edit-link " href="terms">
            Read this section</a>

          <p class="description">Information you must understand before you sign</p>

        </a>
      </div>
    </li>


    <li id="section-04" class="overview-section">
      <h2 class="heading"></h2>

      <div id="sub-section-04" class="descriptive-list-item">
        <a class="behat-link-edit-actions" id="" href="breached"
           aria-label="">

          <h3 class="heading heading-medium">If this agreement is broken</h3>
          <span class="status {{ broken_agreement.css_class }}">{{ broken_agreement.status }}</span>

          <a class="edit-link " href="breached">
            Read this section
          </a>

          <p class="description">What happens if either side breaks this agreement</p>


        </a>
      </div>
      <br>

      <div id="report_add_further_info-sub-section" class="descriptive-list-item">
        <br>
        <p class="panel panel-border-wide">The agreement is only official when Mary Richards has also signed it.</p>

        {% if allAccepted %}
        <a class="button" href="agreement" style="float: left">Continue to sign</a>
        {% else %}
        <input class="button" style="float: left" type="submit" value="Continue to sign" disabled>
        {% endif%}

        <fieldset></fieldset>
        <a href="" style="float: left" data-alert="This feature is not available in this demo">Download draft agreement
          (PDF)</a>

        <!--<span class="edit-link disabled">-->
        <!--Sign and submit-->
        <!--</span>-->

      </div>
    </li>
  </ul>


</main>


{% endblock %}

