{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <!--<div class="breadcrumbs">-->
    <!--<ol>-->
      <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
    <!--</ol>-->
  <!--</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
<!--           <span class="page-number">Terms</span>
 -->          <span class="page-title">What happens to the claim</span>
        </div>
      </header>

      <!--<h1 class="heading-xlarge">-->
        <!--What happens to the claim-->
      <!--</h1>-->

      <p class="">This agreement will put the claim on hold. The court won’t do anything more about this claim once this agreement is signed by those named. This is known as ‘a stay’.</p>

       <p class="">If neither you or the other side contacts the court by <span id="Date3"></span> the claim will be cancelled. </p>

      <!--<div class="form-group"><a name="hasacceptedtermsandconditions"></a>-->

      <!-- <div class="multiple-choice">
        <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
        data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
        name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
        <label for="HasAcceptedTermsAndConditions">I have read and understood the above.</label>
      </div> -->
      <!--<span class="field-validation-valid"-->
      <!--data-valmsg-for="HasAcceptedTermsAndConditions"-->
      <!--data-valmsg-replace="true" aria-live="polite"></span></div>-->

      <a class="button" href="terms-4" role="button">Continue</a>

    </div>
  </div>

</main>


{% endblock %}
