{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Create an account
      </h1>

      <p>We'll use the email we have for you to create an account:</p>

      <form>
        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Create an account</legend>

            <div class="multiple-choice">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label data-target="contact-by-email" for="example-contact-by-email">maryrichards@hotmail.com</label>
            </div>

            <div class="multiple-choice">
              <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
              <label data-target="contact-by-text" for="example-contact-by-text">No, I want to use a different email address</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <label class="form-label" for="contact-text-message">Email address</label>
              <input class="form-control" name="contact-text-message" type="text"
                     id="contact-text-message">
            </div>

          </fieldset>
          <!--</div>-->
          <!--</form>-->

          <!--<h1 class="heading-medium">-->
          <!--Create password-->
          <!--</h1>-->

          <!--<fieldset>-->
          <!--<div class="input form-group string required application_number_password field_with_hint">-->
          <!--<label class="string required form-label" for="application_number_password">Password</label>-->
          <!--<input-->
          <!--class="string required form-control" type="text"-->
          <!--name="application_number[password]" id="application_number_password"/></div>-->
          <!--<div class="input form-group string required application_number_password field_with_hint">-->
          <!--<label class="string required form-label" for="application_number_password">Confirm password</label>-->
          <!--<input-->
          <!--class="string required form-control" type="text"-->
          <!--name="application_number[password]" id="application_number_password"/></div>-->
          <!--</fieldset>-->

          <form
            name="aspnetForm"
            method="POST"
            class="js-form"
            autocomplete="off"
            novalidate="novalidate"
            onsubmit="if ( validateForm(event) ) { postTo('check-email'); } return false;">
            <input type="hidden" name="permission" id="permission"/>
            <input type="hidden" name="twofactor" id="twofactor" value="false"/>
            <input type="hidden" name="loggedIn" id="loggedIn" value="false"/>

            <!--<div class="flash error-summary" id="error-summary-display"-->
            <!--aria-labelledby="error-summary-heading"-->
            <!--role="alert" tabindex="-1">-->
            <!--<h2 id="error-summary-heading" class="h3-heading">Summary Heading</h2>-->
            <!--<ul class="js-error-summary-messages">-->
            <!--</ul>-->
            <!--</div>-->

            <fieldset>
              <div class="form-field-group">
                <label class="bold">
                  Create your password
                  <span class="form-hint">Should be at least 8 characters</span>
                  <!--<span id="password-error-message" class="error-notification" role="alert"-->
                  <!--data-input-name="password">Enter your new password</span>-->
                  <!--<br>-->
                  <input type="password"
                         name="password"
                         id="password"
                         class="form-control--block input--small js-form-hint-helper"
                         aria-required="true"
                         minlength="8"
                         maxlength="12"
                         required
                         pattern="^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{8,12}$"
                         data-hint-rules="js-hint-password-rule"
                         data-msg-pattern="Please use at least one letter (a-z) and number (0-9)"
                         data-msg-required="Please enter a password"
                         data-msg-minlength="Please enter 8 or more characters"
                         data-msg-maxlength="Please enter less than 12 characters"/>
                </label>
                <!--<br>-->
                <!--<p class="form-hint">Your password must:</p>-->
                <!--<ul class="form-hint-list">-->
                  <!--<li class="form-hint-list-item form-hint js-hint-password-rule"-->
                      <!--data-hint-rule="^[A-Za-z0-9]{8,12}$"-->
                      <!--data-hint-rule-flag="i">-->
                    <!--<span class="form-hint-list-item__indicator"></span>-->
                    <!-- - be between 8 and 12 characters (letters and numbers only, no special characters)-->
                  <!--</li>-->
                  <!--<li class="form-hint-list-item form-hint js-hint-password-rule"-->
                      <!--data-hint-rule="[A-Za-z]+">-->
                    <!--<span class="form-hint-list-item__indicator"></span>-->
                    <!-- - contain at least one letter (a-z)-->
                  <!--</li>-->
                  <!--<li class="form-hint-list-item form-hint js-hint-password-rule" data-hint-rule="[0-9]+">-->
                    <!--<span class="form-hint-list-item__indicator"></span>-->
                    <!-- - contain at least one number (0-9)-->
                  <!--</li>-->
                  <!--<li class="form-hint-list-item form-hint js-hint-password-rule"-->
                      <!--data-hint-rule="^((?!password)[\S])+$"-->
                      <!--data-hint-rule-flag="i">-->
                    <!--<span class="form-hint-list-item__indicator"></span>-->
                    <!-- - not contain the word 'password'-->
                  <!--</li>-->
                <!--</ul>-->
              </div>
            </fieldset>

            <!--<fieldset>-->
              <!--<div class="form-field-group">-->
                <!--<label class="bold">-->
                  <!--Confirm password-->
                  <!--&lt;!&ndash;<span id="confirmPassword-error-message" class="error-notification" role="alert"&ndash;&gt;-->
                  <!--&lt;!&ndash;data-input-name="confirmPassword">Please confirm your new password</span>&ndash;&gt;-->
                  <!--<br>-->
                  <!--<input type="password"-->
                         <!--name="confirmPassword"-->
                         <!--id="confirmPassword"-->
                         <!--class="form-control&#45;&#45;block input&#45;&#45;small"-->
                         <!--required-->
                         <!--aria-required="true"-->
                         <!--data-rule-equalto="#password"-->
                         <!--data-msg-required="Please enter confirm password"-->
                         <!--data-msg-equalto="Please enter same password"/>-->
                <!--</label>-->
              <!--</div>-->
            <!--</fieldset>-->

            <!--<div class="form-field&#45;&#45;submit">-->
            <!--<button class="button" type="submit" data-ignore-double-submit="true">Create account</button>-->
            <!--</div>-->
          </form>

<!--           <p>You can save your response and return to it at any time.</p>
 -->
          <div class="clearfix">
            <a class="button" href="do-you-owe-money" role="button">Create account</a> &nbsp;
          </div>

        </div>
      </form>
    </div>
  </div>
</main>


{% endblock %}
