{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Resolving this dispute
      </h1>

      <p class="lede">Jan Clark had said they are willing to resolve the dispute before a hearing.</p>

      <!--<p class="lede">They've provided this email address: jan65@gmail.com</p>-->

      <!--<p class="panel panel-border-wide">You might feel you have to go to court now. However, many people resolve their-->
        <!--dispute before a hearing.</p>-->

      <fieldset></fieldset>

      <a class="button" href="disagree/options" role="button">Continue</a> &nbsp;

    </div>
  </div>
</main>


{% endblock %}

