{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>


        <h2 class="heading-large">The repayment plan</h2>

        {% if data['plan'] == 'Set-date' %}
        <p>The defendant will pay £1,500 by 4 January 2019.</p>

        {% else %}
        <table class="instalment-table">
          <tbody>
            <tr class="">
              <td class="">
                Regular payments of
              </td>
              <td class="">
                £75
              </td>
              <td class="">
              </td>
            </tr>
            <tr class="">
              <td class="">
                Frequency of payments
              </td>
              <td class="">
                Weekly
              </td>
              <td class="">
              </td>
            </tr>
            <tr class="">
              <td class="">
                Make the first payment on
              </td>
              <td >
                1 {{ now |  date("add", 1, "month") | date( "MMMM YYYY" ) }}
              </td>
              <td>
              </td>
            </tr>

            {% if  data['claimant'] == 28  or  data['defendant'] == 25  or  data['defendant'] == 26  %}
                <!--  don't show anything if coming from vary.  Fields wouldn't be known  -->
            {% else %}
            <tr>
              <td class="">
                Last payment on
              </td>
              <td class="">
                1 {{ now |  date("add", 13, "month") | date( "MMMM YYYY" ) }}
              </td>
              <td class=" ">
              </td>
            </tr>

            <tr>
              <td class="">
                Duration of payments
              </td>
              <td class="">
                1 year
              </td>
              <td class=" ">
              </td>
            </tr>
            {%  endif  %}


          </tbody>
        </table>

        {% endif %}

        {% if data['who'] == 'claimant' %}
        <p>If you think the defendant can repay you sooner, you can <a href="claimant-redetermination">ask a judge to make a new repayment plan</a>.</p>
        {% else %}
        <p>If you think you can't afford the repayment plan, you can <a href="../defendant/task-list/redetermination">ask a judge to make a new repayment plan</a>.</p>
        {% endif %}


    </div>
  </div>
{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>


<form method="post"  action="#" class="form" style="position: absolute;">
  <select id="check2" name="check2" onchange="window.location.href='?who='+this.value">
    <option  value="claimant&plan=instalments&claimant=10.1&defendant=null&"
             {% if data['who'] == 'claimant'  and  data['plan'] == 'instalments' and  data['claimant'] != 28  %}selected{% endif %}
              >Default plan - Not vary - Claimant - Instalments </option>
    <option  value="claimant&plan=Set-date&claimant=10.1&defendant=null&"
             {% if data['who'] == 'claimant'  and  data['plan'] == 'Set-date' and  data['claimant'] != 28  %}selected{% endif %}
    >Default plan - Not vary - Claimant - Set date </option>
    <option  value="defendant&plan=instalments&defendant=3.904&claimant=null&"
             {% if data['who'] == 'defendant'  and  data['plan'] == 'instalments' and  data['defendant'] != 25 and data['defendant'] != 25  and  data['defendant'] != 26  %}selected{% endif %}
    >Default plan - Not vary - Defendant - Instalments </option>
    <option  value="defendant&plan=Set-date&defendant=3.904&claimant=null&"
             {% if data['who'] == 'defendant'  and  data['plan'] == 'Set-date' and data['defendant'] != 25  and  data['defendant'] != 26 %}selected{% endif %}
    >Default plan - Not vary - Defendant - Set date </option>


    <option  value="claimant&plan=instalments&claimant=28&defendant=null&"
              {% if data['who'] == 'claimant'  and  data['plan'] == 'instalments'  and  data['claimant'] == 28 %}selected{% endif %}
              >Vary - Claimant - Instalments</option>
    <option  value="claimant&plan=Set-date&claimant=28&defendant=null&"
             {% if data['who'] == 'claimant'  and  data['plan'] == 'Set-date'  and  data['claimant'] == 28 %}selected{% endif %}
              >Vary - Claimant - Set date</option>
    <option  value="defendant&plan=instalments&defendant=25&claimant=null&"
             {% if data['who'] == 'defendant'  and  data['plan'] == 'instalments' and  data['defendant'] == 25  or  data['defendant'] == 26 %}selected{% endif %}
              >Vary - Defendant - Instalments</option>
    <option  value="defendant&plan=Set-date&defendant=25&claimant=null&"
             {% if data['who'] == 'defendant'  and  data['plan'] == 'Set-date' and  data['defendant'] == 25  or  data['defendant'] == 26  %}selected{% endif %}
              >Vary - Defendant - Set date</option>


  </select>
</form>s


{% endblock %}
