{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% import 'prototypes/features-to-be-built/includes/address.html' as address %}

{% block content %}
{% set completed = true if data.read_rules == "complete" and data.your_details == "complete" and data.their_details == "complete" and data.claim_amount == "complete" and data.claim_details == "complete" %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and
  data.return_page.includes('check-your-answers')%}
  {% else %}
  <a href="#" class="link-back">Back</a>
  {% endif %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and
      data.return_page.includes('check-your-answers')%}
      <form method="post" action="your-details" class="form">
        {% else %}
              <form
                name="aspnetForm"
                method="post"
                id="aspnetForm"
                autocomplete="off"
                onsubmit="multiNavigation('claimant-type', ['Individual', 'Sole trader','Company', 'Organisation' ], ['your-details/your-details', 'your-details//your-details' , 'your-details/your-details', 'your-details/your-details']);return false;"
              >
          {% endif %}
          {{formData | safe}}
          <h1 class="heading-large">
            You have entered 10 Cranbrook Street as correspondence address for both you and the defendant.  Is this correct?
          </h1>

          <fieldset>
            <legend class="visuallyhidden">
              Do claimant and defendants have the same correspondence addresses?
            </legend>
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="identical-address" value="">
              <label for="radio-1">
                <strong class="bold-small">Yes</strong><br>
              </label>
            </div>
            <div class="multiple-choice" data-target="cmn">
              <input id="radio-2" type="radio" name="identical-address" value="">
              <label for="radio-2">
                <strong class="bold-small">No, change my address</strong><br>
              </label>
            </div>
            <div id="cmn" name="cmn" class="panel panel-border-narrow js-hidden">

              <h2 class="heading-medium">
                Your address
              </h2>
              <p>This must be the address where you live.</p>

              {{ address.lookup('claimant') }}
  
            </div>

            <div class="multiple-choice" data-target="cdn">
              <input id="radio-3" type="radio" name="identical-address" value="">
              <label for="radio-3">
                <strong class="bold-small">No, change defendant's address</strong><br>
              </label>
            </div>
            <div id="cdn" name="cdn" class="panel panel-border-narrow js-hidden">

              <h2 class="heading-medium">
                Defendant's address
              </h2>

              {% if defendantType=="soletrader" %}
              <p>You must enter the defendant’s residential or trade address to make a claim against them. The address must be in England or Wales.</p>
              {% elseif defendantType=="company" %}
              <p>Enter the company’s registered office or a company address that has a connection with the claim. The address must be in England or Wales.</p>
              {% elseif defendantType=="organisation" %}
              <p>Enter the organisation's main office or an organisation address that has a connection with the claim. The address must be in England or Wales.</p>
              {% else %}
              <p>Their address must be in England or Wales. Your claim may be invalid if you use the wrong address.</p>
              <p>You must enter their usual or last known home address. You cannot use their work address.</p>
              {% endif %}
              {{ address.lookup('defendant') }}
    
    
            </div>

          </fieldset>
          {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and
          data.return_page.includes('check-your-answers')%}
          <div class="form-group">
            <input type="submit" class="button" value="Save changes"/>
          </div>
          <a href="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}">Cancel</a>
          {% else %}
          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  {% include 'prototypes/features-to-be-built/includes/contact.html' %}

  <div class="dev-notes">
    <p>NB:  this is not a part of the design</p>
    <p>Change defendant type: <a href="address-prompt?defendant=individual">Individual</a> | <a href="address-prompt?defendant=soletrader">Sole trader</a> | <a href="address-prompt?defendant=company">Company</a> | <a href="address-prompt?defendant=organisation">Organisation</a></p>
  </div>
</main>
{% endblock %}
