{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Account confirmed
      </h1>

      <p class="lede">You can return to your case at any time by using your email address and password to sign in.</p>

      <fieldset></fieldset>

      <div class="clearfix">
        <a class="button" href="../task-list" role="button">Continue</a> &nbsp;
      </div>

    </div>
  </div>
</main>


{% endblock %}
