{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You're finished</h1>
        <p>
          You can now <br>
          <strong class="heading-medium">Drive a car</strong>
        </p>
      </div>

          <p><a href="https://www.gov.uk/view-driving-licence">View or share your driving licence information</a></p>

          <h3 class="heading-medium">You must:</h3>

          <ul class="list list-number">
            <li>drive safely by following the <a href="https://www.gov.uk/guidance/the-highway-code">The Highway Code</a></li>
            <li>drive a in <a href="https://www.gov.uk/getting-an-mot">safe vehicle</a></li>
            <li><a href="https://www.gov.uk/vehicle-insurance">insure your vehicle</a></li>
            <li><a href="https://www.gov.uk/vehicle-tax">tax your vehicle</a></li>
            <li><a href="https://www.gov.uk/change-address-driving-licence">update the address</a> on your licence</li>
            <li>check if you can <a href="https://www.gov.uk/driving-medical-conditions/telling-dvla-about-a-medical-condition-or-disability">drive with a medical condition</li>
            <li><a href="https://www.gov.uk/renew-driving-licence">renew your licence photo</a> every 10 years</li>
            <li>know how <a href="https://www.gov.uk/penalty-points-endorsements/overview">penalty points</a> work</li>
          </ul>

          <h3 class="heading-medium">You can drive:</h3>

          <ul class="list list-bullet">
            <li>by yourself</li>
            <li>with passengers</li>
            <li>on motorways</li>
            <li>a car</li>
            <li>a moped</li>
            <li>a motorbike (provisionally)</li>
            <li>a with a trailer (provisionally)</li>
          </ul>

          <h3 class="heading-medium">You can't drive a:</h3>

          <ul class="list list-bullet">
            <li>lorry</li>
            <li>vehicles that weigh more than 3,500kg</li>
            <li>bus</li>
            <li>minibus</li>
          </ul>

    </div>
  </div>

</main>

{% endblock %}
