
/* ==========================================================================
   #HORIZONTAL TABS
   ========================================================================== */
.tab, .tab:link {
  text-decoration: none;
  padding: 10px 15px 8px 15px;
  display: inline-block;
  background-color: #DEE0E2;
  margin-left: 0;
  margin-right: 3px;
  height: 20px;
}
.tab:hover {
  text-decoration: none;
}
.tab:active {
  color: #0B0C0C;
  text-decoration: none;
}
.tab:visited {
  color: #0B0C0C;
  text-decoration: none;
}
.tab:focus {
  color: #0B0C0C;
  text-decoration: none;
  background-color: #DEE0E2;
  border: 3px solid #FFBF47;
}
.tab-on, .tab-on:link, .tab-on:hover, .tab-on:active, .tab-on:visited, .tab-on:focus  {
  color: #0B0C0C;
  text-decoration: none;
  padding: 10px 15px 8px 15px;
  display: inline-block;
  background-color: #FFFFFF;
  margin-right: 3px;
  border: 1px solid #BFC1C3;
  border-bottom: 1px solid #FFFFFF;
  pointer-events: none;
  cursor: default;
  font-weight: bold;
}
.tabGroup hr {
  background: #BFC1C3;
  margin-top: -1px;
}
#tabTwoContent, #tabThreeContent, #tabFourContent, #tabFiveContent {
  display: none;
}

#tabSixContent, #tabSevenContent, #tabEightContent, #tabNineContent {
  display: none;
}

#tabElevenContent {
  display: none;
}

/* ==========================================================================
   #TIMELINE - STATUSES
   ========================================================================== */
.hmcts-timeline {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.hmcts-timeline:before {
  background-color: #005ea5;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}

.hmcts-timeline--full {
  margin-bottom: 0;
}

.hmcts-timeline--full:before {
  height: calc(100% - 75px);
}

.hmcts-timeline__item {
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
}

.hmcts-timeline__item:before {
  background-color: #005ea5;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 15px;
}

.hmcts-timeline__title {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: inline;
}

@media print {
  .hmcts-timeline__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__title {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-timeline__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-timeline__by {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #6f777b;
  display: inline;
  margin: 0;
}

@media print {
  .hmcts-timeline__by {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__by {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-timeline__by {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-timeline__date {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  margin-top: 5px;
  margin-bottom: 0;
}

@media print {
  .hmcts-timeline__date {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__date {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media print {
  .hmcts-timeline__date {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.hmcts-timeline__documents {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hmcts-timeline__document-item {
  margin-bottom: 5px;
}

.hmcts-timeline__document-item:last-child {
  margin-bottom: 0;
}

.hmcts-timeline__document-link {
  background-image: url(/../public/images/icon-document.svg);
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 0 50%;
  padding-left: 25px;
}

.hmcts-timeline__document-link:focus {
  color: #0b0c0c;
}

/* ==========================================================================
   #PROGRESS BAR
   ========================================================================== */
.hmcts-progress-bar {
  margin-bottom: 40px;
}

.hmcts-progress-bar__list {
  font-size: .1px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: justify;
  vertical-align: top;
}

.hmcts-progress-bar__list::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.hmcts-progress-bar__list::before {
  border-top: 6px solid #006435;
  content: "";
  left: 0;
  position: absolute;
  top: 13px;
  width: 100%;
}

.hmcts-progress-bar__list-item {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: inline-block;
  max-width: 20%;
  position: relative;
  text-align: center;
  vertical-align: top;
}

@media print {
  .hmcts-progress-bar__list-item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-progress-bar__list-item {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-progress-bar__list-item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-progress-bar__list-item:first-child::before, .hmcts-progress-bar__list-item:last-child::before {
  border-top: 6px solid #ffffff;
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 50%;
}

.hmcts-progress-bar__list-item:first-child::before {
  left: 0;
}

.hmcts-progress-bar__list-item:last-child::before {
  left: auto;
  right: 0;
}

.hmcts-progress-bar__list-item[aria-current=step] {
  font-weight: 700;
}

.hmcts-progress-bar__icon {
  position: relative;
  background-color: #ffffff;
  border: 6px solid #006435;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
}

.hmcts-progress-bar__icon--complete {
  background-color: #006435;
  background-image: url(/assets/images/icon-progress-tick.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hmcts-progress-bar__label {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  display: block;
  font-weight: inherit;
  margin-top: 10px;
  position: relative;
  word-wrap: break-word;
}

@media print {
  .hmcts-progress-bar__label {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-progress-bar__label {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media print {
  .hmcts-progress-bar__label {
    font-size: 14pt;
    line-height: 1.2;
  }
}

/* ==========================================================================
   #SPACING
   ========================================================================== */

//.govuk-related-items {
//  margin-top: 30px;
//  border-top: 10px solid #005ea5;
//  padding-top: 5px;
//}
//
//.govuk-related-items .heading-medium {
//  margin-top: 0.3em;
//  margin-bottom: 0.5em;
//}
//
//.govuk-related-items li {
//  margin-bottom: 10px;
//  list-style-type: none;
//}

.top_60 {
  margin-top: 60px;
}

.top_30 {
  margin-top: 30px;
}

.top_25 {
  margin-top: 25px;
}

.top_20 {
  margin-top: 20px;
}

.top_15 {
  margin-top: 15px;
}

.top_10 {
  margin-top: 10px;
}

.top_5 {
  margin-top: 5px;
}

@media (min-width: 641px) {
  .top_0 {
    margin-top: 0px;
  }
}

@media (min-width: 0px) and (max-width: 640px) {
  .top_0 {
    margin-top: 0px;
  }
}

.bottom_60 {
  margin-bottom: 60px;
}

.bottom_30 {
  margin-bottom: 30px;
}

.bottom_25 {
  margin-bottom: 25px;
}

.bottom_20 {
  margin-bottom: 20px;
}

.bottom_15 {
  margin-bottom: 15px;
}

.bottom_10 {
  margin-bottom: 10px;
}

.bottom_5 {
  margin-bottom: 5px;
}

.bottom_0 {
  margin-bottom: 0px;
}

/* ==========================================================================
   #RIGHT COLUMN NAVIGATION
   ========================================================================== */
.right-column-nav hr.bold-hr {
  height: 10px;
  background-color: #005EA5;
  margin-top: 10px;
  margin-bottom: 15px;
}
//
//.right-column-nav hr.light-hr {
//  height: 1;
//  background-color: #BFC1C3;
//  margin-top: 10px;
//  margin-bottom: 10px;
//}

.right-column-nav hr.light-hr {
  height: 3px;
  background-color: #005EA5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-column-nav p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.right-column-nav h5 {
  font-size: 19px;
  margin-bottom: 10px;
}

.right-column-nav h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.right-column-nav h3.mulitple {
  margin-top: 30px;
  margin-bottom: 0;
}

/* ==========================================================================
   #DOWNLOAD FILE
   ========================================================================== */
.download-file span {
  display: block;
}

.download-file img {
  margin-right: 9px;
}

.download-file-large img {
  border: 1px solid #CACCCE;
  width: 100px;
  height: 140px;
}

.download-file-text {
  display: inline-block;
  vertical-align: top;
}

/* ==========================================================================
   #PERSISTANT INFO BANNER
   ========================================================================== */
.peristant-info-banner {
  color: #fff;
  background-color: #005EA5;
  height: 40px;
  line-height: 43px;
  vertical-align: middle;
  display: block;
  font-size: 16px;
  padding-left: 10px;
}


/* ==========================================================================
   #LISTS - EXPANDABLE ROW
   ========================================================================== */
.expandable-rows th, .expandable-rows td {
  padding-left:10px;
  vertical-align:top;
}
.expandable-rows td p {
  margin-top:0;
  margin-bottom:0;
}
.expandable-rows tbody tr {
  cursor: pointer;
}
.expandable-rows tbody tr.rowOpen {
  background: #F8F8F8;
  border: 1px solid #BFC1C3;
  margin-left:-30px;
}
.expandable-rows td img {
  padding-right:5px;
}


.application {
  margin-bottom: 30px;
}

.application-content h1.name {
  font-weight: 300;
  margin: 0 0 30px;
  content: '';
}

///* ==========================================================================
//   #HEADER BANNER
//   ========================================================================== */
//header:not([role=banner]) {
//  margin: 0px -9999rem;
//  padding: 20px 9999rem;
//  background-color: #dee0e2;
//}
//
//header:not([role=banner]).application {
//  margin-bottom: 30px;
//}
//
//header:not([role=banner]).application .application-content h1.name {
//  font-weight: 300;
//  margin: 0 0 30px;
//  content: '';
//}
//
//header:not([role=banner]).application .application-content .heading-medium, header:not([role=banner]).application .application-content .heading-small {
//  margin: 0;
//  font-weight: 300;
//}
//
//header:not([role=banner]).application .application-content .heading-tertiary {
//  font-weight: 700;
//}
//
//header:not([role=banner]) .metadata {
//  font-size: 16px !important;
//  letter-spacing: 0.005em !important;
//  font-variant-numeric: proportional-nums !important;
//}
//
//header:not([role=banner]) .metadata a {
//  text-decoration: underline;
//}
//
//header:not([role=banner]) .metadata dl {
//  clear: both;
//}
//
//header:not([role=banner]) .metadata dt {
//  white-space: nowrap;
//  display: table-cell;
//  padding-right: 10px;
//  float: left;
//  clear: left;
//  width: 130px;
//  min-width: 20%;
//}
//
//header:not([role=banner]) .metadata dd {
//  display: table-cell;
//  max-width: 80%;
//}
//
//header:not([role=banner]) .metadata dd:last-child {
//  padding-bottom: 7px;
//}
//

//.application {
//  margin-bottom: 30px;
//  background-color: #dee0e2;
//  margin: 0px -9999rem;
//  padding: 30px 9999rem;
//}
//
//.application .application-content .heading-medium, .application .application-content .heading-small {
//  margin: 0;
//  font-weight: 300;
//}
//
//.application .application-content .heading-tertiary {
//  font-weight: 700;
//}
//
//.metadata {
//  font-size: 16px !important;
//  letter-spacing: 0.005em !important;
//  font-variant-numeric: proportional-nums !important;
//}
//
//.metadata a {
//  text-decoration: underline;
//}
//
//.metadata dl {
//  clear: both;
//}
//
//.metadata dt {
//  white-space: nowrap;
//  display: table-cell;
//  padding-right: 10px;
//  float: left;
//  clear: left;
//  width: 130px;
//  min-width: 20%;
//}
//
//.metadata dd {
//  display: table-cell;
//  max-width: 80%;
//}
//
//.metadata dd:last-child {
//  padding-bottom: 7px;
//}


/* ==========================================================================
   #NEW DASHBOARD ALL CLAIMS TABLE
   ========================================================================== */
.financial-summary {
  padding-bottom: 56px;
  width: 66.10169%;
  float: left;
  margin-left: 1.69492%;
  margin-left: 0
}

.financial-summary div {
  width: 49.15254%;
  float: left;
  margin-left: 1.69492%
}

.financial-summary div:first-child {
  margin-left: 0
}

.financial-summary div:last-child {
  float: right;
  margin-right: 0
}

.financial-summary p {
  margin: 0
}

.claims-actions {
  width: 23.72881%;
  float: left;
  margin-left: 1.69492%;
  float: right;
  margin-right: 0
}

.claims-importer.has-errors {
  border-color: #b10e1e
}

.claims-importer label {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286
}

@media (min-width: 641px) {
  .claims-importer label {
    font-size: 16px;
    line-height: 1.25
  }
}

.js-enabled .claims-importer input[type="file"], .js-enabled .claims-importer .no-file-selected [type="submit"] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden !important;
  position: absolute !important;
  opacity: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 1px;
  height: 1px
}

.claims-importer button.button-secondary {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25
}

@media (min-width: 641px) {
  .claims-importer button.button-secondary {
    font-size: 19px;
    line-height: 1.31579
  }
}

.claims-importer .errors {
  margin-top: 5px;
  line-height: 1.2;
  color: #b10e1e
}

/* ==========================================================================
   #NEW DASHBOARD - TABLE SORTABLE
   ========================================================================== */
#table-dashboard .table-container {
  margin-top: 15px;
  margin-bottom: 30px
}

//#table-dashboard {
//  width: 100%;
//  margin-bottom: 1em;
//  background-color: #fff;
//  border-collapse: collapse;
//  border-top: 2px solid #bfc1c3
//}
//
//#table-dashboard.table caption {
//  font-family: "nta", Arial, sans-serif;
//  font-weight: 400;
//  text-transform: none;
//  font-size: 16px;
//  line-height: 1.25;
//  font-weight: 700;
//  text-align: left;
//  padding-bottom: 7.5px
//}
//
//@media (min-width: 641px) {
//  #table-dashboard.table caption {
//    font-size: 19px;
//    line-height: 1.31579
//  }
//}
//
//#table-dashboard.table tr th:first-child, table tr td:first-child {
//  //padding-left: 15px
//  padding-left: 0px;
//}
//
//#table-dashboard.table tr th:last-child, table tr td:last-child {
//  padding-right: 0px
//}
//
//#table-dashboard.table tr.no-border th, table tr.no-border td {
//  border: none
//}
//
//#table-dashboard.table tr.error {
//  border-left: 5px solid #b10e1e
//}
//
//#table-dashboard.table tr.error td {
//  padding-top: 30px !important
//}
//
//#table-dashboard.table tr.error td .error-message-container {
//  position: relative
//}
//
//#table-dashboard.table tr.error td .error-message {
//  position: absolute;
//  top: -30px;
//  color: #b10e1e;
//  width: 320px
//}
//
//@media (max-width: 1018px) {
//  #table-dashboard.table tr.error td .error-message {
//    width: auto
//  }
//}
//
//#table-dashboard.table th, table td {
//  padding: 7.5px 15px 7.5px 0;
//  border-right: none;
//  border-left: none
//}
//
//#table-dashboard.table thead th {
//  padding-top: 15px;
//  padding-bottom: 15px;
//  vertical-align: bottom;
//  border-top: 2px solid #bfc1c3
//}
//
////table tbody tr:nth-child(odd) {
////  background-color: #dee0e2;
////  background-color: #f8f8f8
////}
//
//#table-dashboard.table tbody th {
//  font-family: "nta", Arial, sans-serif;
//  font-weight: 400;
//  text-transform: none;
//  font-size: 14px;
//  line-height: 1.14286;
//  font-weight: 700;
//  color: #0b0c0c;
//  background: transparent
//}
//
//@media (min-width: 641px) {
//  #table-dashboard.table tbody th {
//    font-size: 16px;
//    line-height: 1.25
//  }
//}
//
//#table-dashboard.span.state {
//  display: block;
//  text-align: center;
//  padding: 5px;
//  border-width: 2px;
//  border-style: solid;
//  background: #fff
//}
//
//#table-dashboard.span.state.state-authorised {
//  color: #00602b;
//  border-color: #00602b
//}
//
//#table-dashboard.span.state.state-allocated {
//  color: #912b88;
//  border-color: #912b88
//}
//
//#table-dashboard.span.state.state-draft {
//  color: #52585a;
//  border-color: #52585a;
//  //border-color: #1d5780;
//}
//
//#table-dashboard.span.state.state-rejected, span.state.state-refused {
//  color: #99181a;
//  border-color: #99181a
//}
//
//#table-dashboard.span.state.state-submitted {
//  color: #1d5780;
//  border-color: #1d5780
//}
//
//#table-dashboard.span.state.state-redermination {
//  color: #0b0c0c;
//  border-color: #0b0c0c
//}
//
//#table-dashboard.span.state.state-part-authorised {
//  color: #1d5780;
//  border-color: #54592f
//}
//
//#table-dashboard.unique-id-small {
//  color: #8c8e90;
//  font-size: 12px
//}
//
//#claim-accordion .heading-medium {
//  margin-bottom: 0
//}
//
//#claim-accordion .table-summary th, #claim-accordion .table-summary td {
//  vertical-align: top
//}
//
//#claim-accordion .table-summary tr > th {
//  width: 30%
//}
//
//#table-dashboard.tr.mobile-sort {
//  display: none
//}
//
//#table-dashboard.table.report .select {
//  width: 25px
//}
//
//#table-dashboard.table.report .case-number {
//  width: 100px
//}
//
//#table-dashboard.table.report .court {
//  width: 125px
//}
//
//#table-dashboard.table.report .submit-date {
//  width: 80px
//}
//
//#table-dashboard.table.report .claim-total {
//  width: 100px
//}
//
//#table-dashboard.table.report .type {
//  width: 200px
//}
//
//@media (max-width: 1018px) {
//  #table-dashboard.table.report {
//    border: 0
//  }
//
//  #table-dashboard.table.report tr {
//    border-bottom: 3px solid #ddd;
//    display: block;
//    margin-bottom: .625em
//  }
//
//  #table-dashboard.table.report tr td {
//    border-bottom: 1px solid #ddd;
//    display: block;
//    font-size: .8em;
//    text-align: right
//  }
//
//  #table-dashboard.table.report tr td:last-child {
//    border-bottom: 0
//  }
//
//  #table-dashboard.table.report tr th, table.report tr td {
//    padding: 15px
//  }
//
//  #table-dashboard.table.report tr th br, table.report tr td br {
//    display: none
//  }
//
//  #table-dashboard.table.report tr.mobile-sort {
//    display: inline-block;
//    vertical-align: inherit;
//    width: 100%;
//    zoom: 1
//  }
//
//  #table-dashboard.table.report tr.mobile-sort:before, table.report tr.mobile-sort:after {
//    content: "";
//    display: block;
//    height: 0;
//    overflow: hidden
//  }
//
//  #table-dashboard.table.report tr.mobile-sort:after {
//    clear: both
//  }
//
//  #table-dashboard.table.report tr.mobile-sort td {
//    text-align: left;
//    background-color: white !important
//  }
//
//  #table-dashboard.table.report tr.mobile-sort td a {
//    display: inline-block !important;
//    margin: 5px 12px
//  }
//
//  #table-dashboard.table.report tbody tr td:first-child {
//    background-color: #bfc1c3;
//    font-weight: 700
//  }
//
//  #table-dashboard.table.report tbody tr td:first-child a {
//    display: block
//  }
//
//  #table-dashboard.table.report caption {
//    font-size: 1.3em
//  }
//
//  #table-dashboard.table.report thead {
//    display: none
//  }
//
//  #table-dashboard.table.report tbody tr:nth-child(odd), table.report tbody tr:nth-child(even) {
//    background-color: none !important
//  }
//
//  #table-dashboard.table.report td:before {
//    content: attr(aria-label);
//    float: left;
//    font-weight: bold;
//    text-transform: uppercase
//  }
//
//  #table-dashboard.table.report .unique-id-small {
//    display: none
//  }
//
//  #table-dashboard.table.report .state {
//    display: inline
//  }
//}
//
//#table-dashboard.table.figures th, table.figures td {
//  vertical-align: top
//}
//
//#table-dashboard.table.figures th.col-fee-cat, table.figures td.col-fee-cat {
//  width: 190px
//}
//
//#table-dashboard.table.figures th.col-date, table.figures td.col-date {
//  width: 95px
//}
//
//#table-dashboard.table.figures th.col-type, table.figures td.col-type {
//  width: 170px
//}
//
//#table-dashboard.table.figures th.col-net, table.figures td.col-net {
//  width: 110px
//}
//
//#table-dashboard.table.figures th.col-vat, table.figures td.col-vat {
//  width: 100px
//}
//
//#table-dashboard.table.figures th.col-gross, table.figures td.col-gross {
//  width: 110px
//}
//
//#table-dashboard.table.figures th .details, table.figures td .details {
//  padding-left: 10px
//}
//
//#table-dashboard.table.figures tfoot .totals {
//  border: 2px solid #bfc1c3;
//  border-width: 2px 0
//}
//
//#table-dashboard.table.figures tfoot .totals td {
//  font-weight: 700
//}
//
//#table-dashboard..table-caption {
//  width: 49.15254%;
//  float: left;
//  margin-left: 1.69492%;
//  margin-left: 0
//}
//
//#table-dashboard.claim-count {
//  width: 49.15254%;
//  float: left;
//  margin-left: 1.69492%;
//  float: right;
//  margin-right: 0;
//  text-align: right;
//  font-weight: 400
//}

.primary-nav-bar nav, nav.pagination {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0
}

.primary-nav-bar nav:after, nav.pagination:after {
  content: " ";
  display: block;
  clear: both
}

nav.pagination {
  float: right;
  border-top: none;
}

nav.pagination a {
  border: none
}

nav.pagination span.page {
  padding: 0 5px
}

nav.pagination span.prev {
  padding-left: 5px
}

nav.pagination span.next {
  padding-right: 5px
}

//table tr:hover {
//  background-color: #F3F3F3;
//}

table.clickable tbody tr > td { cursor: pointer; }
//table.clickable tr > td > a { display: block; text-decoration: none; }

table.clickable tbody tr:hover {
  background-color: #F3F3F3;
}


/* ==========================================================================
   #GOVUK-TABLE
   ========================================================================== */
.govuk-table {
   font-family: "nta", Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-weight: 400;
   font-size: 16px;
   font-size: 1rem;
   line-height: 1.25;
   color: #0b0c0c;
   width: 100%;
   margin-bottom: 20px;
   border-spacing: 0;
   border-collapse: collapse
 }

@media print {
  .govuk-table {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-table {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579
  }
}

@media print {
  .govuk-table {
    font-size: 14pt;
    line-height: 1.15
  }
}

@media print {
  .govuk-table {
    color: #000
  }
}

@media (min-width: 40.0625em) {
  .govuk-table {
    margin-bottom: 30px
  }
}

.govuk-table__header {
  font-weight: 700
}

.govuk-table__header, .govuk-table__cell {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #bfc1c3;
  text-align: left
}

.govuk-table__cell--numeric {
  font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400
}

@media print {
  .govuk-table__cell--numeric {
    font-family: sans-serif
  }
}

.govuk-table__header--numeric, .govuk-table__cell--numeric {
  text-align: right
}

.govuk-table__header:last-child, .govuk-table__cell:last-child {
  padding-right: 0
}

.govuk-table__caption {
  font-weight: 700;
  display: table-caption;
  text-align: left
}

.govuk-table__cell--left {
  width: 40%;
}
.app-check-your-answers--right {
  width: 60%;
}

/* ==========================================================================
   #SUB-NAVIGATION LINKS
   ========================================================================== */
.navbar .navbar__list-items {
  border-bottom: 1px solid $border-colour;
  li {
    display: inline-block;
    a {
      //@include bold-19;
      @extend .bold-small;
      color: $text-colour;
      display: inline-block;
      padding: 15px 5px 10px 5px;
      margin-right: 15px;
      text-decoration: none;
      &:hover {
        -webkit-box-shadow: inset 0px -5px 0px 0px $link-hover-colour;
        -moz-box-shadow: inset 0px -5px 0px 0px $link-hover-colour;
        box-shadow: inset 0px -5px 0px 0px $link-hover-colour;
      }
      &:focus {
        outline: 0;
      }
    }
    &.active a,
    &.active a:hover {
      color: $govuk-blue;
      -webkit-box-shadow: inset 0px -5px 0px 0px $govuk-blue;
      -moz-box-shadow: inset 0px -5px 0px 0px $govuk-blue;
      box-shadow: inset 0px -5px 0px 0px $govuk-blue;
    }
  }
}

/* ==========================================================================
   #DETAILS BAR
   ========================================================================== */
.hmcts-details-bar {
  background-color: #f8f8f8;
  box-shadow: inset 0 -1px 0 0 #bfc1c3;
  /* Takes up no space */
  color: #0b0c0c;
  padding-bottom: 9px;
  /* Negative by 1px to compensate */
  padding-top: 10px;
}

.hmcts-details-bar:after {
  content: "";
  display: block;
  clear: both;
}

.hmcts-details-bar__container {
  max-width: 960px;
  margin: 0 15px;
  font-size: .1px;
  /* Hide whitespace between elements */
  text-align: justify;
  /* Trick to remove the need for floats */
}

@media (min-width: 40.0625em) {
  .hmcts-details-bar__container {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .hmcts-details-bar__container {
    margin: 0 auto;
  }
}

.hmcts-details-bar__container:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.hmcts-details-bar__reference {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

@media print {
  .hmcts-details-bar__reference {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-details-bar__reference {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media print {
  .hmcts-details-bar__reference {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.hmcts-details-bar__title {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  display: inline-block;
  vertical-align: top;
}

@media print {
  .hmcts-details-bar__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-details-bar__title {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media print {
  .hmcts-details-bar__title {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.hmcts-details-bar__details {
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 40.0625em) {
  .hmcts-details-bar__details {
    display: inline-block;
    vertical-align: top;
    padding-top: 11px;
    /* Alignment tweaks */
    padding-bottom: 9px;
    /* Alignment tweaks */
  }
}

.hmcts-details-bar__actions {
  margin-bottom: -10px;
}

@media (min-width: 40.0625em) {
  .hmcts-details-bar__actions {
    display: inline-block;
    vertical-align: middle;
  }
}

.hmcts-details-bar__action {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: auto;
}

.hmcts-details-bar__action:last-child {
  margin-right: 0;
}

//* ==========================================================================
//#NEW DASHBOARD LATEST UPDATE
//========================================================================== */
.divider {
  margin-top: 15px;
  border-bottom: 3px solid #005ea5;
}

.divider-grey-light {
  margin-top: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #bfc1c3;
}

.description {
  background-color: #EEF7FF;
  padding: 20px 20px 30px 20px;
  margin-bottom: 45px;
}

.description .heading-small {
  margin-top: 0;
  padding-bottom: 10px;
}
.updates-toggle {
  margin-bottom: 5px;
  margin-top: 30px;
  color: #005ea5;
}

.updates-toggle i {
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.updates-toggle i span {
  font-family: nta, Arial, sans-serif;
  font-size: 19px;
  position: relative;
  top: -2px;
  left: 5px;
}

.updates-toggle, .updates-container {
  margin-left: 0px;
}

.updates-container {
  display: none;
}

.updates-container .update {
  position: relative;
  padding-bottom: 10px;
  padding-top: 15px;
}

//.updates-container .update a {
//  display: block;
//  padding-bottom: 15px;
//}

.updates-container .update:last-child {
  padding-bottom: 0;
}

.updates-container div:after {
  content: "";
  background: #bfc1c3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 1px;
}

.updates-container div:last-child:after {
  display: none;
}

//* ==========================================================================
//#NEW DASHBOARD ABOUT CLAIM TABLE
//========================================================================== */
//.app-check-your-answers {
//  font-family: "nta", Arial, sans-serif;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  font-weight: 400;
//  font-size: 19px;
//  font-size: 1rem;
//  line-height: 1.25;
//  margin-top: 0;
//  margin-bottom: 40px;
//}
//
//@media print {
//  .app-check-your-answers {
//    font-family: sans-serif;
//  }
//}
//
//@media (min-width: 40.0625em) {
//  .app-check-your-answers {
//    font-size: 19px;
//    font-size: 1.1875rem;
//    line-height: 1.31579;
//  }
//}
//
//@media print {
//  .app-check-your-answers {
//    font-size: 14pt;
//    line-height: 1.15;
//  }
//}
//
//@media (min-width: 40.0625em) {
//  .app-check-your-answers {
//    margin-bottom: 60px;
//  }
//}
//
//@media (min-width: 48.0625em) {
//  .app-check-your-answers {
//    display: table;
//  }
//}
//
//@media (min-width: 48.0625em) {
//  .app-check-your-answers--short {
//    width: 100%;
//  }
//  .app-check-your-answers--short .app-check-your-answers__question {
//    width: 30%;
//  }
//}
//
//@media (min-width: 48.0625em) {
//  .app-check-your-answers--long {
//    width: 100%;
//  }
//  .app-check-your-answers--long .app-check-your-answers__question {
//    width: 50%;
//  }
//}
//
//.app-check-your-answers__contents {
//  position: relative;
//  border-bottom: 1px solid #bfc1c3;
//}
//
//@media (min-width: 48.0625em) {
//  .app-check-your-answers__contents {
//    display: table-row;
//    border-bottom-width: 0;
//  }
//}
//
//@media (min-width: 48.0625em) {
//  .app-check-your-answers__contents:first-child .app-check-your-answers__question,
//  .app-check-your-answers__contents:first-child .app-check-your-answers__answer,
//  .app-check-your-answers__contents:first-child .app-check-your-answers__change {
//    padding-top: 0;
//  }
//}
//
//.app-check-your-answers__question,
//.app-check-your-answers__answer,
//.app-check-your-answers__change {
//  display: block;
//  margin: 0;
//}
//
//@media (min-width: 48.0625em) {
//  .app-check-your-answers__question,
//  .app-check-your-answers__answer,
//  .app-check-your-answers__change {
//    display: table-cell;
//    border-bottom: 1px solid #bfc1c3;
//    padding: 0.63158em 1.05263em 0.47368em 0;
//  }
//}
//
//.app-check-your-answers__question {
//  font-weight: bold;
//  margin: 0.63158em 4em 0.21053em 0;
//}
//
//.app-check-your-answers__answer {
//  padding-bottom: 0.47368em;
//}
//
//.app-check-your-answers__change {
//  text-align: right;
//  position: absolute;
//  top: 0;
//  right: 0;
//}
//
//@media (min-width: 48.0625em) {
//  .app-check-your-answers__change {
//    position: static;
//    padding-right: 0;
//  }
//}
//
//.jui-table--fixed {
//  table-layout: fixed;
//}
//
//.jui-table--fixed .govuk-table__header {
//  vertical-align: top;
//}
//
//.jui-table--fixed .govuk-table__cell {
//  vertical-align: top;
//}
//
//.jui-table th, .jui-table td {
//  vertical-align: top;
//}



/* ==========================================================================
   #SIDE TABS
   ========================================================================== */

ul.tab__nav {
  font-weight: bold;
  margin-bottom: 5px;
  //@include core-19;
  // border-right: 2px solid $border-colour;

  li {
    margin-bottom: 0;
  }
  li a {
    padding: 10px 5px 15px;
    text-decoration: none;
    display: block;

    &.active, &:hover.active {
      @include bold-19;
      color: $black;
    }
  }

  a:visited {
    color: $link-colour;
  }

  .active:hover {
    background: $white;
    text-decoration: none;
  }

  li a:hover {
    color: $link-colour;
    text-decoration: underline;
    background: $grey-3;

    &.locked {
      color: $black;
      background-color: transparent;
      cursor: default;
    }
  }
  li a:focus {
    color: $black;
  }
  .locked {
    color: $grey-1;
    padding: 10px 5px 15px;
  }
  hr {
    height: 1px;
    background-color: $border-colour;
    margin: 0;
  }

  @media screen and (max-width: 640px ) {
    margin-bottom: 15px;
  }

}

.tab__content {
  float: left;
  width: 100%;
}

/* ==========================================================================
   #Toggle
   ========================================================================== */
/* NON-BREAKABLE TEXT */
.wrapper {
  width: 769px;
  white-space: no-wrap;
  resize: both;
}

.breakable-text {
  display: inline;
  white-space: no-wrap;
}

.no-break-before {
  padding-left: 10px;
}

.verticalLine {
  border-left: thin solid #000000;
}

/* ==========================================================================
   #GOV.UK TABS
   ========================================================================== */
.govuk-tabs {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-top: 5px;
  margin-bottom: 20px
}

@media print {
  .govuk-tabs {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579
  }
}

@media print {
  .govuk-tabs {
    font-size: 14pt;
    line-height: 1.15
  }
}

@media print {
  .govuk-tabs {
    color: #000
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs {
    margin-top: 5px
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs {
    margin-bottom: 30px
  }
}

.govuk-tabs__title {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 5px
}

@media print {
  .govuk-tabs__title {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579
  }
}

@media print {
  .govuk-tabs__title {
    font-size: 14pt;
    line-height: 1.15
  }
}

.govuk-tabs__list {
  margin: 0;
  padding: 0;
  list-style: none
}

@media (max-width: 40.0525em) {
  .govuk-tabs__list {
    margin-bottom: 20px
  }
}

@media (max-width: 40.0525em) and (min-width: 40.0625em) {
  .govuk-tabs__list {
    margin-bottom: 30px
  }
}

.govuk-tabs__list-item {
  margin-left: 25px
}

.govuk-tabs__list-item::before {
  content: "— ";
  margin-left: -25px;
  padding-right: 5px
}

.govuk-tabs__tab {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px
}

@media print {
  .govuk-tabs__tab {
    font-family: sans-serif
  }
}

.govuk-tabs__tab:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  background-color: #ffbf47
}

.govuk-tabs__tab:link {
  color: #005ea5
}

.govuk-tabs__tab:visited {
  color: #4c2c92
}

.govuk-tabs__tab:hover {
  color: #2b8cc4
}

.govuk-tabs__tab:active {
  color: #2b8cc4
}

.govuk-tabs__tab:focus {
  color: #0b0c0c
}

@media print {
  .govuk-tabs__tab {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs__tab {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579
  }
}

@media print {
  .govuk-tabs__tab {
    font-size: 14pt;
    line-height: 1.15
  }
}

.govuk-tabs__tab[aria-current="true"] {
  color: #0b0c0c;
  text-decoration: none
}

.govuk-tabs__panel {
  margin-bottom: 30px
}

@media (min-width: 40.0625em) {
  .govuk-tabs__panel {
    margin-bottom: 50px
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__list {
    border-bottom: 1px solid #bfc1c3
  }

  .js-enabled .govuk-tabs__list:after {
    content: "";
    display: block;
    clear: both
  }

  .js-enabled .govuk-tabs__list-item {
    margin-left: 0
  }

  .js-enabled .govuk-tabs__list-item::before {
    content: none
  }

  .js-enabled .govuk-tabs__title {
    display: none
  }

  .js-enabled .govuk-tabs__tab {
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    color: #0b0c0c;
    background-color: #f8f8f8;
    text-align: center;
    text-decoration: none
  }

  .js-enabled .govuk-tabs__tab--selected {
    margin-top: -5px;
    margin-bottom: -1px;
    padding-top: 14px;
    padding-right: 19px;
    padding-bottom: 16px;
    padding-left: 19px;
    border: 1px solid #bfc1c3;
    border-bottom: 0;
    color: #0b0c0c;
    background-color: #fff
  }

  .js-enabled .govuk-tabs__tab--selected:focus {
    background-color: transparent
  }

  .js-enabled .govuk-tabs__panel {
    margin-bottom: 0;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    border: 1px solid #bfc1c3;
    border-top: 0
  }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel {
    margin-bottom: 0
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel--hidden {
    display: none
  }

  .js-enabled .govuk-tabs__panel > :last-child {
    margin-bottom: 0
  }
}

/* ==========================================================================
   #HORIZONTAL TABS 2
   ========================================================================== */
.tabs {
  margin-bottom: 1.05263em
}

.tabs [role="tablist"] {
  border-top: 1px solid #bfc1c3;
  margin: 0
}

@media (min-width: 641px) {
  .tabs [role="tablist"] {
    border-top: 0 none
  }
}

.tabs [role="tablist"] li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  border-bottom: 1px solid #bfc1c3;
  margin: 0
}

@media (max-width: 640px) {
  .tabs [role="tablist"] li {
    font-size: 16px;
    line-height: 1.25
  }
}

@media (min-width: 641px) {
  .tabs [role="tablist"] li {
    border-bottom: 0 none;
    float: left;
    margin: 0 0 -1px;
    padding: 0
  }
}

.tabs [role="tablist"] li a {
  background-color: #fff;
  display: block;
  padding: .47368em;
  text-decoration: none
}

.tabs [role="tablist"] li a:focus {
  outline: 3px
}

@media (min-width: 641px) {
  .tabs [role="tablist"] li a {
    background-color: #dee0e2;
    border: 0 none;
    float: left;
    margin: .26316em .26316em .26316em 0;
    padding: .47368em 1em;
    text-align: center
  }
}

.tabs [role="tablist"] li [aria-selected="true"] {
  background-color: #fff;
  color: #0b0c0c;
  cursor: default;
  text-decoration: none;
  font-weight: bold
}

@media (min-width: 641px) {
  .tabs [role="tablist"] li [aria-selected="true"] {
    border: 1px solid #bfc1c3;
    border-bottom: 1px solid transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding: .68421em .94737em .73684em
  }
}

.tabs-content {
  clear: both
}

@media (min-width: 641px) {
  .tabs-content [role="tabpanel"] {
    border-top: 1px solid #bfc1c3
  }
}

.tabs-content [role="tabpanel"][aria-hidden="true"] {
  display: none
}

.tabs-panel-inner:focus {
  border: 0;
  outline: 0
}

