{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        How mediation works
      </h1>

      <!--<p>The mediation service will contact you and Jan Clark to arrange an appointment with a mediator.</p>-->

      <p>If both you and Jan Clark opt in, we'll contact you to arrange a phonecall with a mediator.</p>

      <p>The mediator might need to speak to you more than once but the call won't last more than an hour.</p>

      <p>A mediator will:</p>
      <ul class="list list-bullet">
        <li>listen to each side separately - you won’t talk directly to the other side</li>
        <li>ask you to consider what the other side says, but won’t make you compromise</li>
        <li>help you reach an agreement, if possible</li>
      </ul>

      <p>If mediation is successful we'll ask you to sign a contract to formalise the settlement. If anyone breaks the terms, the other party can apply to the court to enforce them.</p>

      <p>If mediation fails and a hearing is needed, the mediation discussions can't be mentioned in court.</p>

    </div>
  </div>
  <fieldset></fieldset>
{% include 'prototypes/prototype-nov-2018/includes/contact.html' %}
</main>
{% endblock %}
