{% extends "layout_unbranded.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" action="claim-value" class="form">
        {{formData | safe}}
        <a href="#" class="link-back">Back</a>
        <h1 class="heading-large">
          Try the new online service
        </h1>
        <fieldset>
          <legend class="visuallyhidden">
            Check eligibility
          </legend>

          <p>We are building a new service. Different designs are being tested and changed based on feedback from users.

          <p>You will be asked some questions to check you are eligible to use this service.</p>


        </fieldset>
        <div class="form-group">
          <input type="submit" class="button" value="Start"/>
        </div>
      </form>
    </div>
  </div>

{% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
