{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <a class="link-back" href="cookies.html">Back</a>
<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">Essential cookies </h1>



    <h2 class="heading-medium">Cookies used to turn our introductory message off</h2>
    <p>
      You may see a welcome message when you first visit the service. We’ll store a cookie so that your computer knows not to show this message again.
    </p>

    <table class="form-group">
      <thead>
      <tr>
        <th scope="col">Option</th>
        <th scope="col">Description</th>
        <th scope="col">Default value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>cookies_policy</td>
        <td>
          Name of cookie which stores cookie preferences
        </td>
        <td class="text-area">cm-user-preferences</td>
      </tr>
      <tr>
        <td>cookies_preferences_set</td>
        <td>
          Name of cookie which stores details regarding cookie preferences is set by user or not
        </td>
        <td class="text-area">true / false</td>
      </tr>
      </tbody>
    </table>

    <h2 class="heading-medium">Cookies used to store the answers you’ve given during your visit (known as a ‘session’)
    </h2>

    <p>
      Session cookies are stored on your computer as you travel through a website, and let the website know what you’ve seen and done so far. These are temporary cookies and are automatically deleted a short while after you leave the website.
    </p>

    <table class="form-group">
      <thead>
      <tr>
        <th scope="col">Cookie name</th>
        <th scope="col">What this cookie is for</th>
        <th scope="col">Expires</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>SESSION_ID</td>
        <td>
          Keeps track of your answers
        </td>
        <td class="text-area">When you close your browser</td>
      </tr>
      <tr>
        <td>eligibility-check</td>
        <td>
          Stores answers to eligibility questions
        </td>
        <td class="text-area">48 hours</td>
      </tr>
      </tbody>
    </table>

    <h2 class="heading-medium">Cookies used to identify you when you come back to the service</h2>
    <p>We use authentication cookies to identify you when you return to the service.</p>

    <table class="form-group">
      <thead>
      <tr>
        <th scope="col">Cookie name</th>
        <th scope="col">What this cookie is for</th>
        <th scope="col">Expires</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>lang</td>
        <td>
          Identifies your prefered language
        </td>
        <td class="text-area">When you close your browser</td>
      </tr>
      </tbody>
    </table>

    <h2 class="heading-medium">Cookies used to make the service more secure</h2>
    <p>
      We set cookies which prevent attackers from modifying the contents of the other cookies we set. This makes the service more secure and protects your personal information. 
    </p>

    <table class="form-group">
      <thead>
      <tr>
        <th scope="col">Cookie name</th>
        <th scope="col">What this cookie is for</th>
        <th scope="col">Expires</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>_csrf</td>
        <td>
          Helps protect against forgery
        </td>
        <td class="text-area">When you close your browser</td>
      </tr>
      <tr>
        <td>ARRAfinnity</td>
        <td>
          Protects your session from tampering
        </td>
        <td class="text-area">When you close your browser</td>
      </tr>
      <tr>
        <td>state</td>
        <td>
          Identifies you to the service and secures your authentication
        </td>
        <td class="text-area">When you close your browser</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<details class="contact-us-for-help" >

  <summary><span class="summary">Contact us for help</span></summary>
  <div class="panel">
    
    

    
   

    
    <h2 class="heading-medium contact-mail">Email</h2>
    <p><a href="mailto:contactocmc@justice.gov.uk">contactocmc@justice.gov.uk</a>
    </p>

    
    <h2 class="heading-medium contact-us">Telephone</h2>
    <p>0300 123 7050
      <span class="block">Monday to Friday, 8.30am to 5pm.</span>
      <p>
    
  <a href="https://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank">Find out about call charges<span class="govuk-link govuk-link-no-white-space"> (opens in a new window)</span></a>

      </p>
    </p>

    
  

  </div>
</details>
</main>
{% endblock %}