{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Cookies
  </h1>

  <p class="">Cookies are files saved on your phone, tablet or computer when you visit a website. Most
    websites need cookies to work properly.</p>
  <p class="">This service uses cookies to:</p>
  <ul class="list-bullet">

    <li>store your cookie preferences</li>

    <li>measure how you use the service so it can be improved</li>

  </ul>
  <h2 class="heading-large">
    How cookies are used in this service
  </h2>
  


  <h3 class="heading-medium">
  To store your cookie preferences
  </h3>

  <table class="table">

    <caption class="bold">Cookie details</caption>


    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">


      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">fact-cookie-preferences</th>




        <td class="govuk-table__cell">Your cookie preferences</td>




        <td class="govuk-table__cell">1 year</td>


      </tr>


    </tbody>
  </table>


  <h3 class="heading-medium">
  To measure website use
  </h3>
  <p class="govuk-body-m">We use Google Analytics software to collect information about how you use this service. We do
    this to help make sure the service is meeting the needs of its users and to help us make improvements. We do not
    allow Google to use or share the data about how you use this site.</p>
  <table class="table">

    <caption class="bold">Cookie details</caption>


    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">


      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">_ga</th>




        <td class="govuk-table__cell">A randomly generated reference used to identify unique users and inform referring
          sites, visitor and session counts</td>




        <td class="govuk-table__cell">2 years</td>


      </tr>

      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">_gid</th>




        <td class="govuk-table__cell">Used to distinguish users</td>




        <td class="govuk-table__cell">24 hours</td>


      </tr>



      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">_gat</th>




        <td class="govuk-table__cell">Used to throttle request rate</td>




        <td class="govuk-table__cell">1 minute</td>


      </tr>


    </tbody>
  </table>


  <h3 class="heading-medium">
    To measure application performance
  </h3>
  <p class="">We use Dynatrace Software Intelligence Platform to provide an Application Performance
    Monitoring Service to collect information about how you use HMCTS services. We do this to monitor HMCTS services in
    order to resolve issues within our services as well as collect data on how our services can be improved. HMCTS store
    information about:</p>
    <br>
  <ul class="list-bullet">

    <li>Site performance</li>

    <li>Website usage</li>

    <li>User behaviour</li>

  </ul>
  <br>
  <p class="">Information is presented within the Application Performance Monitoring service for the
    purposes detailed above. We do not use or share the information for any other purpose. We do not allow Dynatrace to
    use or share the information for any other purposes.</p>
  <table class="table">

    <caption class="govuk-table__caption">Cookie details</caption>


    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">


      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">dtCookie</th>




        <td class="govuk-table__cell">Tracks a visit across multiple request</td>




        <td class="govuk-table__cell">Session end</td>


      </tr>



      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">dtLatC</th>




        <td class="govuk-table__cell">Measures server latency for performance monitoring</td>




        <td class="govuk-table__cell">Session end</td>


      </tr>



      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">dtPC</th>




        <td class="govuk-table__cell">Required to identify proper endpoints for beacon transmission; includes session ID
          for correlation</td>




        <td class="govuk-table__cell">Session end</td>


      </tr>



      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">dtSa</th>




        <td class="govuk-table__cell">Intermediate store for page-spanning actions</td>




        <td class="govuk-table__cell">Session end</td>


      </tr>



      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">rxVisitor</th>




        <td class="govuk-table__cell">Visitor ID to correlate sessions</td>




        <td class="govuk-table__cell">1 year</td>


      </tr>



      <tr class="govuk-table__row">



        <th scope="row" class="govuk-table__header">rxvt</th>




        <td class="govuk-table__cell">Session timeout</td>




        <td class="govuk-table__cell">Session end</td>


      </tr>


    </tbody>
  </table>


  <form id="cm-preference-form" class="js-show">









    <div class="form-group">

      <fieldset class="">

        <label class="form-label-bold">


          Allow cookies that measure website use?

        </label>


        <div class="radios">





          <div class="multiple-choice">
            <input class="govuk-radios__input" id="analytics" name="analytics" type="radio" value="on">
            <label class="form-label" for="analytics">
              Use cookies that measure my website use
            </label>

          </div>







          <div class="multiple-choice">
            <input class="govuk-radios__input" id="analytics-2" name="analytics" type="radio" value="off" >
            <label class="form-label" for="analytics-2">
              Do not use cookies that measure my website use
            </label>

          </div>




        </div>


      </fieldset>


    </div>










    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">
        <label class="form-label-bold">

          Allow cookies that measure website application performance monitoring?

        </label>


        <div class="govuk-radios govuk-radios">





          <div class="multiple-choice">
            <input class="form-control" id="apm" name="apm" type="radio" value="on">
            <label class="form-label" for="apm">
              Use cookies that measure website application performance monitoring
            </label>

          </div>

          <div class="multiple-choice">
            <input class="govuk-radios__input" id="apm-2" name="apm" type="radio" value="off" >
            <label class="form-label" for="apm-2">
              Do not use cookies that measure website application performance monitoring
            </label>

          </div>




        </div>


      </fieldset>


    </div>







    <button class="button" data-module="govuk-button">
      Save
    </button>

  </form>


</main>
{% endblock %}