{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('claim-details1'));
    });
  </script>

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Part 3 of 3</span>
          <span class="page-title">Your defence</span>
        </div>
      </header>

      <!--<h1 class="heading-xlarge">-->
      <!--Defence-->
      <!--</h1>-->

      <div class="description-block">
        <h4 class="heading-small">How this dispute has affected them</h4>
        <p>The problem with the roof has caused me a lot of stress. We've been planning to put the house on the market so wanted this work completed. We've had to hold off listing the house with an agent until this is sorted out.</p>
      </div>

      <div style="padding-top: 30px;"></div>

      <!--<div class="updates-border-thin"></div>-->

      <form
        name="aspnetForm"
        action="suggest-or-not"
        method="get"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Defence</legend>

            <div id="claim-details">
              <div id="describe-wrapper-claim-details-1" class="form-group">
                <label class="form-label-bold" for="offer">
                  <div class="bold-medium">Do you want to give any more information?</div>
                  <span class="form-hint">You can give any information here that you feel supports your defence.</span>
                </label>
                <textarea class="form-control form-control-3-4 form-control-large"
                          id="offer"
                          rows="4"
                          name="offer"
                          cols="40"
                          type="text"
                          style="width: 95%"
                          data-store=""></textarea>
              </div>
            </div>
          </fieldset>

          <div class="panel panel-border-wide">
            <p>What you say here will be sent to Jan Clark. It’s also the
              information a judge will refer to at a hearing.</p>
          </div>

          <p class="actions">
            <input id="advert-option-next--button" type="submit" value="Continue" class="button"
                   data-ignore-double-submit="true">
            <!--<a href="aos">I need more time to respond</a>-->
          </p>


          <!--<input id="advert-option-next&#45;&#45;button" type="submit" value="Continue" class="button"-->
                 <!--data-ignore-double-submit="true">-->

        </div>

      </form>

    </div>

    <div class="column-one-third">
      <p class="lede">&nbsp;</p>
      <p class="lede">&nbsp;</p>
      <nav role="navigation" class="font-xsmall">
        <p><strong class="bold">Response deadline: 7 June</strong></p>
        <p><strong class="bold">Claim reference: CF91-BK65</strong></p>
        <p><strong class="bold">Claim amount: £1,500</strong></p>
      </nav>

      <fieldset></fieldset>
      <h2 class="heading-small">Need help?</h2>
      <nav role="navigation" class="font-xsmall">
        <p><a href=""
              data-alert="This feature is not available in this demo">Contact us</a></p>
      </nav>
    </div>

  </div>
</main>


{% endblock %}

