{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <!--<div class="breadcrumbs">-->
  <!--<ol>-->
  <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
  <!--</ol>-->
  <!--</div>-->


  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>



                <h1 class="heading-large">Your agreement</h1>

      <p >This agreement is a draft until you both sign. What you agree here is legally
        binding.</P>
      <!--       <p class="panel panel-border-wide">If the agreement is broken the court will settle this dispute based on the details given here, rather than the original claim.</p>
       -->
      <br>

      <table>
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>What's been agreed</td>
          <td>Mary Richards: I will fix the roof if you'll give me access and pay for any extra materials.
          </td>
        </tr>
        <tr>
          <td>Completion date</td>
          <td>1 December 2018</td>
        </tr>
    
        <!--<tr>-->
        <!--<td>Payment</td>-->
        <!--<td>By cash or bank transfer</td>-->
        <!--</tr>-->
        </tbody>
      </table>

      <!--<h1 class="heading-medium">-->
      <!--On 9 April 2016 the parties agreed that:-->
      <!--</h1>-->

      <!--<div class="agreement-details">-->
      <!--<dl class="date-time">-->
      <!--<dt>What</dt>-->
      <!--<dd>Mary Richards will organise for the roof to be repaired</dd>-->
      <!--</dl>-->

      <!--<dl class="representative">-->
      <!--<dt>By when</dt>-->
      <!--<dd>On or before 1 May</dd>-->
      <!--</dl>-->

      <!--<dl class="address">-->
      <!--<dt>Amount</dt>-->
      <!--<dd>Oliver Clark will pay Mary Richards £50 for materials</dd>-->
      <!--</dl>-->

      <!--<dl class="disabled-access">-->
      <!--<dt>Payment</dt>-->
      <!--<dd>By cash or bacs</dd>-->
      <!--</dl>-->
      <!--</div>-->







      <h2 class="heading-medium">Declaration</h2>

<div class="form-group">
  <div class="multiple-choice text">
    <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
    <label for="HasAcceptedTermsAndConditions"> By signing this you confirm that you accept the terms of the agreement.</label>
  </div>
</div>


        <a href="v1/terms" class="button">Sign and submit</a>





      <fieldset></fieldset>


    </div>

  </div>

</main>


{% endblock %}
