{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="breadcrumbs">
        <ol>
          <li>
            <a href="../task-list">Respond to a money claim</a>
          </li>
          <li>
            Print and complete the admission
          </li>
        </ol>
      </div>
      <h1 class="heading-xlarge">
        Next steps
      </h1>
      <div class="panel-indent">
        <div class="panel panel-border-wide">
          <p >Complete and email the admission form N9A by <span id="Date"></span></p>
          <p >You'll need to state when you’re going to pay the money.<br> You can suggest a repayment plan or a date when you can pay the money. </p>
        </div>
      </div>
      <ul class="list list-number">
        <li>Complete <a href='http://formfinder.hmctsformfinder.justice.gov.uk/n009b-eng.pdf' target="_blank">admission form N9A </a> <span class="font-xsmall">(opens in a new window)</span></li>
        <li>Download and attach the completed form to an email</li>
        <li>Send the email with the attached form to <a href='mailto:civil-money-claim@hmcts.gov.uk?Subject=CF91-BK65'>civil-money-claim@hmcts.gov.uk</a></li>
      </ul>
      <form method="post" action="../../task-list" class="form">
        <div class="form-group">
          <input type="submit" class="button" value="Continue"/>
        </div>
      </form>
    </div>
<!--     <div class="column-one-third">
      <p class="lede">&nbsp;</p>
      <p class="lede">&nbsp;</p>
      <nav role="navigation" class="font-xsmall">
        <p><strong class="bold">Response deadline: 7 June</strong></p>
        <p><strong class="bold">Claim reference: CF91-BK65</strong></p>
        <p><strong class="bold">Claim amount: £1,500</strong></p>
      </nav>
        <fieldset></fieldset>
        <h2 class="heading-small">Need help?</h2>
        <nav role="navigation" class="font-xsmall">
          <p><a href=""
                data-alert="This feature is not available in this demo">Contact us</a></p>
        </nav>
    </div>
  -->
</div>
</main>
{% endblock %}
