{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Do you owe the money claimed?
      </h1>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-select-group', ['Yes', 'Some', 'No'], ['owe-all/offer', 'owe-some/what-you-owe', 'resolve-early']);return false;"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Do you owe the money claimed?</legend>

            <p>If you owe the money but can’t afford to pay we’ll explain what you can do.</p>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-select-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">I've all ready paid</label>
            </div>


            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-select-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">I owe all of the money</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-some" type="radio" name="radio-select-group" value="Some">
              <label for="radio-some" data-target="yes-some-info">I owe some of the money</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-select-group" value="No">
              <label for="radio-no" data-target="no-info">I don't owe any of the money</label>
            </div>

          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button"
               data-ignore-double-submit="true">
      </form>

      <details>
        <summary><span class="summary">If you don't respond by 7 June</span></summary>
        <div class="panel panel-border-narrow">
          <p>The claimant can apply for a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County
            Court Judgment (CCJ)</a> against you if you don't
            respond in time. They can then use this to get the money from you. For example, they could hire bailiffs.</p>
            <p> A CCJ also makes it harder for you to get credit for things like a mortgage.<p/>
        </div>
      </details>

    </div>

    <div class="column-one-third">
      <p class="lede">&nbsp;</p>
      <p class="lede">&nbsp;</p>
      <nav role="navigation" class="font-xsmall">
        <p><strong class="bold">Response deadline: 7 June</strong></p>
        <p><strong class="bold">Claim reference: CF91-BK65</strong></p>
        <p><strong class="bold">Claim amount: £1,500</strong></p>
      </nav>

        <fieldset></fieldset>
        <h2 class="heading-small">Need help?</h2>
        <nav role="navigation" class="font-xsmall">
          <p><a href=""
                data-alert="This feature is not available in this demo">Contact us</a></p>
        </nav>
    </div>

  </div>
</main>


{% endblock %}
