{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}
<style type="text/css">
  .report-error {display: none}
</style>
<main id="content" role="main">
  <div style="margin: 30px 0 45px 0;"><img src="/public/images/hmcts-logo.png">

    <h1 class="heading-large">Civil Money Claims - Private Beta</h1>

    <p class="lede">
      User testing TBD
    </p>


    <h2 class="heading-medium">Private Beta invite [Idam]</h2>

    <ol class="list list-number">
      <li><a href="idam/email">Receive email - activation link</a></li>
      <li><a href="idam/create-account">Create account</a></li>
      <li><a href="idam/account-activated">Account created - confirmation screen</a></li>
      <li><a href="start-page">Start page</a></li>
    </ol>

    <h2 class="heading-medium">Check eligibility</h2>
    <ol class="list list-number">
      <li><a href="task-list/eligibility/reason">Check eligibility</a></li>
    </ol>

    <h2 class="heading-medium">Check before you start</h2>

    <ol class="list list-number">
      <li><a href="task-list">Task list</a></li>
      <li><a href="task-list/read-rules">Read rules (pre-action)</a></li>
      <li><a href="task-list/completing-your-claim">Completing your claim</a></li>
    </ol>

    <h2 class="heading-medium">Your details</h2>
    <ol class="list list-number">
      <li><a href="task-list/your-details">Who's making the claim</a></li>
      <li><a href="task-list/your-details/name">What is your full name</a></li>
      <li><a href="task-list/your-details/date-of-birth">What is your date of birth</a></li>
      <li><a href="task-list/your-details/address">What is your current address</a></li>
      <!--<li><a href="task-list/your-details/email">Enter your email address</a></li>-->
      <li><a href="task-list/your-details/phone">What is your phone number</a></li>
      <li><a href="task-list/your-details/preferences">Get updates</a></li>
      <li><a href="task-list/your-details/check-your-answers">Check your answers for this task</a></li>
    </ol>

    <h2 class="heading-medium">Their details</h2>
    <ol class="list list-number">
      <li><a href="task-list/their-details">Who are you claiming against</a></li>
      <li><a href="task-list/their-details/enter-details">Enter details</a></li>
      <li><a href="task-list/their-details/address">What is their current address</a></li>
      <li><a href="task-list/their-details/email">Enter their email address</a></li>
      <li><a href="task-list/their-details/check-your-answers">Check your answers for this task</a></li>
    </ol>

    <h2 class="heading-medium">Claim amount</h2>
    <ol class="list list-number">
      <li><a href="task-list/claim-amount">Claim amount</a></li>
      <li><a href="task-list/claim-amount/claim-interest">Claiming interest</a></li>
      <li><a href="task-list/claim-amount/interest-date">When are you claiming interest from</a></li>
      <li><a href="task-list/claim-amount/total">Total amount you're claiming</a></li>
      <li><a href="task-list/claim-amount/check-your-answers">Check your answers for this task</a></li>
    </ol>

    <h2 class="heading-medium">Claim details</h2>

    <ol class="list list-number">
      <li><a href="task-list/claim-details">Claim type</a></li>
      <li><a href="task-list/claim-details/timeline">Timeline</a></li>
      <li><a href="task-list/claim-details/reason">Why you believe you're owed the money</a></li>
      <li><a href="task-list/claim-details/affect">How this dispute has affected you</a></li>
      <li><a href="task-list/claim-details/check-your-answers">Check your answers for this task</a></li>
    </ol>

    <h2 class="heading-medium">Submit and pay</h2>

    <ol class="list list-number">
      <li><a href="task-list/check-and-send">Check your answers before submitting your claim</a></li>
      <li><a href="task-list/check-and-send/payment-methods">Payment methods</a></li>
      <li><a href="task-list/check-and-send/enter-card">Enter card details</a></li>
      <li><a href="task-list/check-and-send/confirm-card-payment">Confirm card payment</li>
      <li><a href="confirmation-page">Claim submitted - confirmation screen</a></li>
    </ol>

    <h2 class="heading-medium">Save & Return</h2>

    <ol class="list list-number">
      <li><a href="idam/welcome-email">Receive welcome email</a></li>
      <li><a href="idam/sign-in">Sign in</a></li>
      <li><a href="task-list/task-list-started">Return to task list</a></li>
    </ol>

  </div>
</main>

{% endblock %}
