{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function() {
      $('#yourOfferContent').html(formParam('claim-details1'));
    });
  </script>

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Make a suggestion
      </h1>

      <p class="lede">You can now make a suggestion to resolve this dispute.</p>

      <!--<h3 class="heading-medium">You can now make a suggestion to resolve this dispute.</h3>-->
      <p>Select all that apply</p>

      <form name="aspnetForm" method="post" onsubmit="multiNavigation('checkbox-discuss-group', ['Payment', 'Alternative'], ['offer-confirmation', 'offer-confirmation']);return false;" id="aspnetForm" autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">You can now make a suggestion to resolve this dispute.</legend>

            <div class="multiple-choice">
              <input id="checkbox-1" name="checkbox-discuss-group" type="checkbox" value="Payment">
              <label for="checkbox-1" data-target="money-remedy">Pay some money back</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="money-remedy">
              <label class="form-label" for="claim[fee][court_fee]">
                How much money do you offer?
                <span class="form-hint"></span>
              </label>
              <input class="fee pound" maxlength="8" size="8" type="text" value="" name="claim[fee][court_fee]" id="claim[fee][court_fee]">

              <!--<fieldset></fieldset>-->
              <!--<div class="form-date">-->
              <!--<label for="checkbox-1" class="form-label">-->
              <!--When you'll pay it by-->
              <!--</label>-->

              <!--<p class="form-hint">For example, 12 12 2017</p>-->

              <!--<div class="form-group form-group-day">-->
              <!--<label for="dob-day">Day</label>-->
              <!--<input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0"-->
              <!--max="31">-->
              <!--</div>-->

              <!--<div class="form-group form-group-month">-->
              <!--<label for="dob-month">Month</label>-->
              <!--<input class="form-control" id="dob-month" type="number" pattern="[0-9]*"-->
              <!--min="0" max="12">-->
              <!--</div>-->

              <!--<div class="form-group form-group-year">-->
              <!--<label for="dob-year">Year</label>-->
              <!--<input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0"-->
              <!--max="2014">-->
              <!--</div>-->
              <!--</div>-->
            </div>

            <div class="multiple-choice">
              <input id="checkbox-2" name="checkbox-discuss-group" type="checkbox" value="Alternative">
              <label for="checkbox-2" data-target="alternative-remedy">Non-monetary remedy - eg complete the work, return the goods etc.</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="alternative-remedy">
              <label class="form-label" for="checkbox-2">What do you suggest?</label>
              <!--<span class="form-hint">-->
              <!--For example, complete the work, return the goods etc.-->
              <!--</span>-->
              <input class="form-control" name="checkbox-2" type="text" id="alternative-remedy">
            </div>

          </fieldset>
        </div>

        <!--<div id="claim-details"></div>-->

        <!--<div id="addClaimDetailsBtn" class="form-group">-->
        <!--<a href="javascript:void(0);">Add conditions (optional)</a>-->
        <!--</div>-->

        <!--<script>-->
        <!--$(document).ready(function () {-->
        <!--var currentBoxId = 5;-->

        <!--function newClaimDetailsBox(boxId) {-->
        <!--return '' +-->
        <!--'<div id="describe-wrapper-claim-details-' + boxId + '" class="form-group">' +-->
        <!--'  <label class="form-label" for="claim-details-' + boxId + '">' +-->
        <!--'Conditions' +-->
        <!--'   <a style="float: right;" href="javascript:void(0);" onclick="$(\'#describe-wrapper-claim-details-' + boxId + '\').remove()">Remove</a>' +-->
        <!--'</label>' +-->
        <!--'  <textarea class="form-control" id="claim-details-' + boxId + '" rows="4" name="claim-details-' + boxId + '" type="text" style="width: 100%">' +-->
        <!--'Pay only on the day of the completion of the fitting of the curtains.</textarea>' +-->
        <!--'</div>';-->
        <!--}-->

        <!--$('#addClaimDetailsBtn').click(function () {-->
        <!--$('#claim-details').append(newClaimDetailsBox(currentBoxId++));-->
        <!--});-->
        <!--});-->
        <!--</script>-->

        <input id="advert-option-next--button" type="submit" value="Continue" class="button" data-ignore-double-submit="true">
      </form>

    </div>
  </div>
</main>


{% endblock %}
