{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/">Business and self-employed</a></li>
            <li><a href="/">Business debt and bankruptcy</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Before you make a money claim
            </h1>

            <p>In some situations a money claim might not be your only or best option</p>

            <h2 class="heading-medium">Talk to the person who owes you</h2>

            <p>Before you make a claim it's a good idea to try to sort out the situation with the person who owes
                first.</p>

            <ul class="list list-bullet">
                <li>Contact them - you can just speak to them, or <a
                        href="http://www.which.co.uk/consumer-rights/letter/letter-before-small-claims-court-claim">send an email or letter</a> if you’d like to have a
                    record.
                </li>
                <li>Tell them what you believe they owe you and why.</li>
                <li>Explain that if you can't reach an agreement (such as a timetable for paying the money) you'll make an
                    official money claim.
                </li>
                <li>Tell them that they might have to pay the full amount as well as <a
                        href="https://www.gov.uk/court-fees-what-they-are">fees
                    and other costs</a> if they
                    ‘defend the claim’, and that they could get a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt/overview">County Court Judgment (CCJ)</a>.
                </li>
            </uL>

            <p>It could count against you in court if you don’t try to sort out the dispute with the person directly,
                before you make an official claim.</p>

            <h2 class="heading-medium">Unpaid invoices and flight delays</h2>

            <p>The best way to make a claim depends on the type of claim you’re making:</p>

            <p><a href="#"><a href="https://www.gov.uk/employment-tribunals/when-you-can-claim">Employment tribunals</a></p>
            <p><a href="#"><a href="https://www.gov.uk/late-commercial-payments-interest-debt-recovery/when-a-payment-becomes-late">Late payment of invoices</a></p>
            <p><a href="#"><a href="https://www.caa.co.uk/Passengers/Resolving-travel-problems/Delays-cancellations/Making-a-claim/Claiming-for-costs-and-compensation/">Airline claims</a></p>
            <p>You might be able to use <a href="https://www.resolver.co.uk/">Resolver</a> which will guide you through reclaiming money from
                organisations like utility companies, airlines and shops.</p>

            <h2 class="heading-medium">Free mediation</h2>
            <p>You could resolve your claim by using the free mediation service. Telephone mediation is usually quicker than making a claim and you won't have to pay a claim fee or go to a hearing. . A mediator will:</p>

<ul class="list list-bullet">
<li>listen to each side separately - you won’t talk to directly to the other side</li>
<li>ask you to consider what the other side says, but won’t make you compromise</li>
<li>help you reach an agreement, if possible</li>
</ul>


        </div>

        <!--<div class="column-third">-->

        <!--<aside class="govuk-related-items" role="complementary">-->
        <!--<h2 class="heading-medium" id="subsection-title">Support</h2>-->
        <!--<nav role="navigation" aria-labelledby="subsection-title">-->
        <!--<ul class="font-xsmall">-->
        <!--<li><a href="https://www.gov.uk/make-court-claim-for-money">Make a court claim for money</a>-->
        <!--</li>-->
        <!--<li><a href="https://www.gov.uk/make-court-claim-for-money/court-fees">Money claim fees</a></li>-->
        <!--<li><a href="#">Other options</a></li>-->
        <!--<li><a class="external" rel="external"-->
        <!--href="https://courttribunalfinder.service.gov.uk/courts/county-court-money-claims-centre-ccmcc"-->
        <!--target="_blank">Contact us</a></li>-->

        <!--&lt;!&ndash;<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>&ndash;&gt;-->
        <!--</ul>-->
        <!--</nav>-->
        <!--</aside>-->

        <!--</div>-->
    </div>
</main>


{% endblock %}
