{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">Offers</h1>

  <h2 class="heading-medium">Defendant</h2>
  <p>The defendant can make an offer only after they submit their defence </p>
  <p>Defendants can make an offer from the following pages </p>
      <p class="bold"><a href="https://wscxq9.axshare.com/#p=defendant_makes_offer">See process maps for flow</a> </p>
    <ol class="list list-bullet">
      <li><a href="/defendant/full/d-5/confirmation-page">Confirmation page</a></li>
      <li><a href="defendant?defendant=1.1">Dashboard</a></li>
    </ol>
      <p class="heading-small">Defendant make an offer journey  </p>
          <ol class="list list-bullet">

      <li><a href="offer-agreement/make-offer?defendant=defendant">Overview page</a></li>
      <li><a href="offer-agreement/make-offer/offer?defendant=defendant">Make an offer page</a></li>
      <li><a href="offer-agreement/make-offer/confirmation?defence-suggestion=&offer">Confirmation page</a></li>
      <li><a href="home?dashboard=210">Dashboard</a></li>
    </ol>
      <p class=""><a href="#claimant">Claimant viewing offer journey</a></p>
      <p class="heading-small">If claimant accepts offer</p> <p>Defendant counter signs the agreement </p>
           <ol class="list list-bullet">
      <li><a href="defendant?defendant=15">Dashboard</a></li>
      <li><a href="offer-agreement/agreement?defendant=defendant_signed">Agreement overview</a></li>
      <li><a href="offer-agreement/agreement/offer?defendant=defendant_signed">Signs agreement</a></li>
      <li><a href="offer-agreement/agreement/confirmation-page?defendant=defendant_signed">Confirmation page</a></li>
     <li><a href="home?dashboard=2.16">Dashboard</a></li>

    </ol>
      <p class="heading-small">If claimant rejects the offer</p>
     <li><a href="home?dashboard=2.12">Dashboard</a></li>



<!--    <p class="heading-small">Counter offer from claimant  </p>
    <p class="">Defendant receives a counter offer  </p>
         <ol class="list list-bullet">
     <li><a href="defendant?defendant=11">Dashboard</a></li>
     <li><a href="offer-agreement/view-offer?defendant=defendant">Views offer</a></         </ol>
     <!--     <p>Defendant rejects counter offer</p>
          <ol class="list list-bullet">
          <li><a href="offer-agreement/view-offer/confirmation-page?radio-indent-group=decline_counter">Confirmation page</li>
    <!--    </ol>
          <p>Defendant makes counter offer</p>
          <ol class="list list-bullet">
          <li><a href="offer-agreement/view-offer/counter-suggestion?radio-indent-group=Counter_defendant">Makes counter offer</a></li>
          <li><a href="offer-agreement/view-offer/confirmation-page?radio-indent-group=Counter_defendant">Confirmation page</a></li>
        </ol>-->
<!--      <p>Defendant accepts counter offer - then signs an agreement</p>
      <ol class="list list-bullet">
      <li><a href="offer-agreement/agreement?defendant=defendant">Agreement overview</a></li>
      <li><a href="offer-agreement/agreement/offer?defendant=defendant">Signs agreement</a></li>
      <li><a href="offer-agreement/agreement/confirmation-page?defendant=defendant">Confirmation page</a></li>
    </ol>-->



    <h2 class="heading-medium">Claimant</h2>
    <p>The claimant can only make an offer once the defendant has submitted a non defence response </p>
  <p>Claimants can make an offer from the following page </p>
            <p class="bold"><a href="https://wscxq9.axshare.com/#p=claimant_makes_offer">See process maps for flow</a> </p>

    <ol class="list list-bullet">
      <li><a href="claimant?claimant=15">Dashboard</a></li>
    </ol>
<!--      <p class="heading-small">Claimant make an offer journey  </p>
      <ol class="list list-bullet">
      <li><a href="offer-agreement/make-offer?defendant=claimant">Overview page</a></li>
      <li><a href="offer-agreement/make-offer/offer?defendant=claimant">Make an offer page</a></li>
      <li><a href="offer-agreement/agreement/confirmation-page">Confirmation page</a></li>
    </ol>-->
      <p  id="claimant" class="heading-small">Claimant Responding to an offer  </p>
      <p>The claimant views all offer related content in the settle out of court tab </p>
      <ol class="list list-bullet">

      <li><a href="home?dashboard=1.12">Dashboard</a></li>
      <li><a href="offer-agreement/view-offer?defendant=offer">Views offer </a></li>
      </ol>
         <p class="heading-small">If claimant accepts offer they go into the agreement flow</p>
         <ol class="list list-bullet">

         <li><a href="offer-agreement/agreement?defendant=offer">Agreement overview</a></li>
         <li><a href="offer-agreement/agreement/offer?defendant=offer">Signs agreement </a></li>
         <li><a href="offer-agreement/agreement/confirmation-page?defendant=offer">Confirmation page </a></li>
         <li><a href="home?dashboard=2.16">Dashboard </a></li>
         </ol>
      <p class="heading-small">If claimant rejects the offer </p>
      <ol class="list list-bullet">
         <li><a href=" offer-agreement/view-offer/confirmation-page?radio-indent-group=reject-offer">Confirmation page</a></li>
                 <li><a href="home?dashboard=1.13">Dashboard </a></li>

      </ol>
      <!-- <p class="heading-small">Counter offer</p>
      -  <p>If claimant makes counter offer </p>

     <!--<ol class="list list-bullet">
            <li><a href="offer-agreement/view-offer/counter-suggestion?radio-indent-group=Counter">Makes counter offer</a></li>
            <li><a href="offer-agreement/view-offer/confirmation-page?radio-indent-group=counter">Confirmation page</a></li>
         </ol>
         <p>If claimant accepts offer they go into the agreement flow</p>
         <ol class="list list-bullet">

         <li><a href="offer-agreement/agreement?defendant=claimant">Agreement overview</a></li>
         <li><a href="offer-agreement/agreement/offer?defendant=claimant">Signs agreement </a></li>
         <li><a href="offer-agreement/make-offer/confirmation?defendant=claimant">Confirmation page </a></li>
         <li><a href="claimant?claimant=12">Dashboard </a></li>
         </ol>
         <p>If claimant counter offer is accepted they need to counter sign</p>
               <ol class="list list-bullet">

               <li><a href="claimant?claimant=16">Dashboard</a></li>
               <li><a href="offer-agreement/agreement">Agreement over view</a></li>
               <li><a href="offer-agreement/agreement/offer">Sign agreement</a></li>
               <li><a href="offer-agreement/agreement/confirmation-page">Confirmation page</a></li>
               <li><a href="home?dashboard=2.16">Dashboard</a></li>
               </ol>-->
    </div>
  </div>
{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
