{% extends "layout.html" %}

{% block page_title %}
  Money Claims Prototype
{% endblock %}

{% block content %}
  <style type="text/css">
  .report-error {display: none}
  </style>

  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Set party names</h1>

        <form action="set-names" method="post"> 

          <div class="form-group">
            <h2 class="heading-medium">Claimant's full name</h1>
            <input class="form-control" name="claimant-first-name" placeholder="{{ partyName( 'claimant', 'first' ) }}" />
            <input class="form-control" name="claimant-last-name" placeholder="{{ partyName( 'claimant', 'last' ) }}" />
          </div>

          <div class="form-group">
            <h2 class="heading-medium">Defendant's full name</h1>
            <input class="form-control" name="defendant-first-name" placeholder="{{ partyName( 'defendant', 'first' ) }}" />
            <input class="form-control" name="defendant-last-name" placeholder="{{ partyName( 'defendant', 'last' ) }}" />
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Save"/>
          </div>

        </form>

      </div>
    </div>
  </main>
{% endblock %}
