{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Page 9 of 12</span>
          <span class="page-title">About your claim</span>
        </div>
      </header>

      <fieldset></fieldset>

      <!--<h1 class="heading-xlarge">-->
      <!--About your claim-->
      <!--</h1>-->

      <div class="form-group">
        <div class="form-fields">
          <fieldset>
            <!--<legend>Type of claim</legend>-->
            <p class="lede">Choose the option that best describes your problem.</p>

            <form>
              <div class="form-group">
                <fieldset>

                  <legend class="visually-hidden">Choose the option that best describes your problem.
                  </legend>

                  <div class="multiple-choice">
                    <input id="radio-1" type="radio" name="radio-group" value="Yes">
                    <label for="radio-1">Borrowing and lending money</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="radio-3" type="radio" name="radio-group" value="No">
                    <label for="radio-3">Employment</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="radio-4" type="radio" name="radio-group" value="No">
                    <label for="radio-4">Housing - for example landlord or tenant</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="radio-5" type="radio" name="radio-group" value="No">
                    <label for="radio-5">Goods and services</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="radio-6" type="radio" name="radio-group" value="No">
                    <label for="radio-6">Medical treatment</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="radio-7" type="radio" name="radio-group" value="No">
                    <label for="radio-7">Holidays and flights</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="radio-8" type="radio" name="radio-group" value="No">
                    <label for="radio-8">Construction and renovations</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="radio-9" type="radio" name="radio-group" value="No">
                    <label data-target="other" for="radio-9">Other</label>
                  </div>

                  <div class="panel panel-border-narrow js-hidden" id="other">
                    <label class="form-label" for="other">Give a brief description your problem</label>
                    <input class="form-control" name="other" type="text" id="other">
                  </div>

                </fieldset>
                <a class="button" href="claim-details-hybrid" role="button">Continue</a>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</main>


{% endblock %}
