{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Page 10 of 15</span>
          <span class="page-title">Claim details</span>
        </div>
      </header>

      <fieldset></fieldset>

      <!--<h1 class="heading-xlarge">-->
      <!--Claim details-->
      <!--</h1>-->

      <!--<p class="lede">Explain what happened and when.</p>-->

      <!--<p class="bold-small">For example:</p>-->
      <!--<ul class="list list-bullet">-->
        <!--<li>when an agreement was made or a contract signed</li>-->
        <!--<li>when something should have been completed or paid for</li>-->
        <!--<li>when you discussed a problem with the person you’re claiming against</li>-->
      <!--</uL>-->

      <!--<p class="panel panel-border-wide">Include dates if you know them.</p>-->

      <p class="lede">Include all the main points. If you have to go to a hearing the court will ask
        for evidence and additional details that support your case.</p>

      <fieldset></fieldset>

      <!--<p class="heading-medium">Example</p>-->

      <!--<div class="form-fields">-->
      <!--<table>-->
      <!--<thead>-->
      <!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<th scope="col">Date</th>&ndash;&gt;-->
      <!--&lt;!&ndash;<th scope="col">What happened</th>&ndash;&gt;-->
      <!--&lt;!&ndash;</tr>&ndash;&gt;-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr>-->
      <!--<td>12/01/2017</td>-->
      <!--<td>John Smith gave me a quote to replace the roof.</td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td>14/01/2017</td>-->
      <!--<td>We agreed and signed a contract for the work.</td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td>21/03/2017</td>-->
      <!--<td>I noticed a leak on the landing and told Mr Smith about this.-->
      <!--</td>-->
      <!--</tr>-->
      <!--</tbody>-->
      <!--</table>-->
      <!--</div>-->

      <p class="heading-medium">Explain what happened</p>
      <p>Include dates if you know them.</p>
      <!--<p>You can aso mention any evidence you have.</p>-->

      <!--<legend class="form-label">Date of birth</legend>-->
      <!--<div class="input form-group date optional claimant_date_of_birth field_with_hint"><p-->
      <!--class="form-hint text">For example, 23 04 1981</p>-->
      <div class="input form-group">
        <!--<div class="input form-group tel required claimant_date_of_birth_day"><label-->
        <!--class="tel required form-label"-->
        <!--for="claimant_date_of_birth_day">Date</label><input-->
        <!--class="string tel required form-control" maxlength="8" type="tel"-->
        <!--size="2" name="claimant[date_of_birth][day]"-->
        <!--id="claimant_date_of_birth_day"></div>-->

        <div id="timeline" class="timeline">
          <div class="timeline-headings">
            <div id="timeline-heading-1" class="timeline-column-1">
              <label class="form-label-bold" for="date-form-control">
                Date
              </label>
              <span class="form-hint">Specific or over a period </span>
            </div>
            <div id="timeline-heading-2" class="timeline-column-2">
              <label class="form-label-bold" for="event-form-control">
                What happened
              </label>
              <span class="form-hint">For example, you might have signed a contract.</span>
            </div>
          </div>
          <div class="timeline-rows">
            <div class="timeline-row">
              <input class="form-control timeline-column-1" type="text" id="date-form-control">
              <input class="form-control timeline-column-2" type="text" id="event-form-control">
            </div>
            <div class="timeline-row">
              <input class="form-control timeline-column-1" type="text">
              <input class="form-control timeline-column-2" type="text">
            </div>
            <div class="timeline-row">
              <input class="form-control timeline-column-1" type="text">
              <input class="form-control timeline-column-2" type="text">
            </div>
          </div>

        </div>
        <div id="add-event-container">
          <a id="add-another-event-button" href="#">Add another event</a>
        </div>

        <fieldset></fieldset>
        <fieldset></fieldset>

        <div style="margin-top: 20px">
          <div id="describe-wrapper-claim-details-1" class="form-group">
            <label class="form-label-bold" for="claim-details-1">
              Why you believe you're owed the money
            </label>
            <!--<div class="form-hint">Explain why you are owed the money. You can include any other information that-->
            <!--supports your claim.-->
            <!--</div>-->
            <textarea class="form-control"
                      id="claim-details-1"
                      rows="3"
                      name="claim-details1"
                      type="text"
                      style="width: 100%"></textarea>
          </div>

          <div id="describe-wrapper-claim-details-3" class="form-group">
            <label class="form-label-bold" for="claim-details-2">
              Evidence to support your claim
            </label>
            <textarea class="form-control"
                      id="claim-details-2"
                      rows="3"
                      name="claim-details2"
                      type="text"
                      style="width: 100%"></textarea>
          </div>


          <div id="describe-wrapper-claim-details-4" class="form-group">
            <label class="form-label-bold" for="claim-details-3">
              How this dispute has affected you
            </label>
            <textarea class="form-control"
                      id="claim-details-3"
                      rows="3"
                      name="claim-details3"
                      type="text"
                      style="width: 100%"></textarea>
          </div>

          <!--<div id="addClaimDetailsBtn" class="form-group">-->
          <!--<a href="javascript:void(0);">Add more information (optional)</a>-->
          <!--</div>-->

          <script>
            $(document).ready(function () {
              $('#add-another-event-button').click(function (event) {
                event.preventDefault();
                $('#timeline').append(
                  '<div class="timeline-row">' +
                  '<input class="form-control timeline-column-1" style="margin-right: 1px; margin-top: 10px" type="text">' +
                  '<input class="form-control timeline-column-2" style="margin-left: 3px" type="text">' +
                  '</div>'
                );
              });
            });
          </script>
        </div>

        <!-- <fieldset>
            <legend class="bold-small">Provide supporting evidence (optional)</legend>
            <div class="form-group">
                <label class="form-label" for="file-input">
                    Upload a file
                </label>
                <input type="file" id="file-input">
            </div>
        </fieldset> -->

        <a class="button" href="costs-breakdown" role="button">Continue</a>

        <br>
        <br>

        <p>You can review the information you give here before you submit your claim.</p>

      </div>
    </div>
  </div>
</main>


{% endblock %}

