{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <!--<a href="#" class="link-back">Back</a>-->

  <h1 class="heading-large">
    Check your response
  </h1>

  <table class="check-your-answers">

    <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
          Your response
        </h2>
      </th>
      <th>
      </th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <td>
        Your suggestion
      </td>
      <td>
        <span class="bold">You've made a suggestion</span><br>
        I will fix the roof if you'll give me access and pay for any extra materials.
      </td>
      <td class="change-answer">
        <a href="">
          Change <span class="visuallyhidden">Change</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Your side (optional)
      </td>
      <td>
        <span class="bold">You haven't added any information</span><br>
        <p></p>
<!--         Content goes here...
 -->      </td>
      <td class="change-answer">
        <a href="">
          Change <span class="visuallyhidden">Change</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Free mediation
      </td>
      <td>
        <span class="bold">Yes, you want help to resolve this dispute</span><br>
        You've said you're willing to take part in mediation.
      </td>
      <td class="change-answer">
        <a href="">
          Change <span class="visuallyhidden">Change</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Date of birth -->
  <form>
    <div class="form-group">
        <span class="form-label-bold">
          <div class="heading-medium">Your date of birth</div>
        </span>
          <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
        <div class="form-date">
          <div class="form-group form-group-day">
            <label class="form-label" for="dob-day">Day</label>
            <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*"
                   min="0" max="31" aria-describedby="dob-hint">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label" for="dob-month">Month</label>
            <input class="form-control" id="dob-month" name="dob-month" type="number"
                   pattern="[0-9]*" min="0" max="12">
          </div>
          <div class="form-group form-group-year">
            <label class="form-label" for="dob-year">Year</label>
            <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*"
                   min="0" max="2016">
          </div>
        </div>
    </div>
    <details>
      <summary><span class="summary">Why we need your date of birth</span></summary>
      <div class="panel panel-border-narrow">
        <p>
          We use this to make sure legal proceedings involving a claim are taken against the right person, for example, if 2 people at an address have the same name.
        </p>
      </div>
    </details>
  </form>

  <fieldset></fieldset>

  <h2 class="heading-medium">Statement of truth</h2>

  <p class="text">
    It's against the law to deliberately give untrue or misleading information.</p>

  <div class="form-group"><a name="hasacceptedtermsandconditions"></a>

  <div class="multiple-choice">
    <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
           data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
           name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
    <label for="HasAcceptedTermsAndConditions">I confirm that, to the best of my knowledge, the information I have given is true. I understand that proceedings for contempt of court may be brought against anyone who makes, or causes to be made, a false statement in a document verified by a statement of truth without an honest belief in its truth.</label>
  </div>
    <span class="field-validation-valid"
          data-valmsg-for="HasAcceptedTermsAndConditions"
          data-valmsg-replace="true" aria-live="polite"></span></div>


  <a href="offer-confirmation-mediation" class="button">Submit my suggestion</a>


{% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
