{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('offer'));
    });
  </script>

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <!--<div class="column-two-thirds">-->

    <div class="govuk-box-highlight">
      <h1 class="bold-large">Suggestion submitted</h1>
      <br>
      <p>
        <strong class="bold">10 March 2017</strong>
      </p>
    </div>
          <p>We've emailed Jan Clark your suggestion.</p>


    <!--<p class="heading-medium">Your suggestion</p>-->

    <!--<div class="clearfix">-->
    <!--<div id="yourOfferContent" class="callout callout-fee">-->
    <!--<p>I would like to resolve this dispute by taking part in telephone mediation.</p>-->
    <!--</div>-->
    <!--</div>-->
<p>We've sent a copy to: <span class="bold">maryrichards@hotmail.com</span>
    </p>
    <fieldset>

      <h2 class="heading-medium">What happens next</h2>
      <p>Jan Clark can accept or reject your suggestion, or suggest an alternative. We'll update you by email and SMS
        if this happens.</p>

      <p>We'll contact you <span class="bold">within 5 days</span> and explain what to do if Jan Clark doesn't
        reply.</p>


      <h2 class="heading-medium">If Jan Clark rejects your suggestion</h2>

      <p>If Jan Clark rejects your suggestion you'll need to submit a defence to the claim. We'll remind you to do this.</p>
      <p>We'll also let you know if they're willing to try mediation. If they are, we'll set up a time that works for you both.</p>

      <h2 class="heading-medium">Help and support</h2>
<!--       <p>Call our helpline if you have questions.</p>
 -->      Telephone: 0300 144 2121<br>
      Textphone: 0300 144 2122<br>
      Hours: 9am to 5pm, Monday to Friday</p>

    </fieldset>

  </div>
  </div>
</main>


{% endblock %}
