{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Update their details
      </h1>

      <p>If you think Mary Richards might have updated their details, please call our helpline on 0300 144 2121. We're open 9am to 5pm, Monday to
        Friday. </p>

      <p>Once their details are confirmed, you can sign in again to request judgment using the email link we've sent you. </p>

    </div>
  </div>
</main>


{% endblock %}

