{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
      <h1 class="heading-large">
        Do you claim Carer’s Allowance or Carer’s Credit?
      </h1>

      <form action="employment" method="post" class="form">

        <div class="form-group">
          <fieldset>
            <div class="multiple-choice">
              <input id="radio-carer" type="radio" name="radio-carer" value="Yes">
              <label for="radio-carer">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-carer" value="No">
              <label for="radio-no">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>
    </form>
  </div>
</div>
{% include 'prototypes/prototype-nov-2019/includes/contact.html' %}
</main>
{% endblock %}
