{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<style>
.income-source"   {
  margin-bottom: 40px;
}
</style>

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
      <form action="expenses" method="post" class="form">

          <div class="form-group">

            <h1 class="heading-large">
            What regular income do you receive?
            </h1>
            <span class="body-text">Select all that apply. The information you enter must be truthful and accurate.</span>


            <h3 class="heading-medium">Income from your job</h3>

            <div class="income-source" id="income-job-details">
              <label class="form-label" for="income-job-amount">Amount received</label>
              <p class="form-hint">Include wages, overtime, commission, bonuses</p>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-job-amount" name="income-job-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-job" type="radio" name="radio-group-job" value="4.3333">
                <label for="radio-1-job">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-job" type="radio" name="radio-group-job" value="2.1666">
                <label for="radio-2-job">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-job" type="radio" name="radio-group-job" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-job" type="radio" name="radio-group-job" value="1">
                <label for="radio-4-job">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>


            <h3 class="heading-medium">Universal credit</h3>

            <div class="income-source" id="income-uc-details">
              <label class="form-label" for="income-uc-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-uc-amount" name="income-uc-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-uc" type="radio" name="radio-group-uc" value="4.3333">
                <label for="radio-1-uc">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-uc" type="radio" name="radio-group-uc" value="2.1666">
                <label for="radio-2-uc">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-uc" type="radio" name="radio-group-uc" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-uc" type="radio" name="radio-group-uc" value="1">
                <label for="radio-4-uc">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>


            <h3 class="heading-medium">Jobseeker's Allowance (income based)</h3>
            <div class="income-source" id="income-jsa-details">
              <label class="form-label" for="income-jsa-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-jsa-amount" name="income-jsa-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-jsa" type="radio" name="radio-group-jsa" value="4.3333">
                <label for="radio-1-jsa">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-jsa" type="radio" name="radio-group-jsa" value="2.1666">
                <label for="radio-2-jsa">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-jsa" type="radio" name="radio-group-jsa" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-jsa" type="radio" name="radio-group-jsa" value="1">
                <label for="radio-4-jsa">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>

            <h3 class="heading-medium">Jobseeker's Allowance (contribution based)</h3>
            <div class="income-source" id="income-jsac-details">
              <label class="form-label" for="income-jsac-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-jsac-amount" name="income-jsac-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-jsac" type="radio" name="radio-group-jsac" value="4.3333">
                <label for="radio-1-jsac">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-jsac" type="radio" name="radio-group-jsac" value="2.1666">
                <label for="radio-2-jsac">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-jsac" type="radio" name="radio-group-jsac" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-jsac" type="radio" name="radio-group-jsac" value="1">
                <label for="radio-4-jsac">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>


            <h3 class="heading-medium">Income Support</h3>
            <div class="income-source" id="income-income-details">
              <label class="form-label" for="income-income-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-income-amount" name="income-income-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-income" type="radio" name="radio-group-income" value="4.3333">
                <label for="radio-1-income">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-income" type="radio" name="radio-group-income" value="2.1666">
                <label for="radio-2-income">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-income" type="radio" name="radio-group-income" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-income" type="radio" name="radio-group-income" value="1">
                <label for="radio-4-income">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>


            <h3 class="heading-medium">Working Tax Credit</h3>
            <div class="income-source" id="income-working-details">
              <label class="form-label" for="income-working-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-working-amount" name="income-working-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-working" type="radio" name="radio-group-working" value="4.3333">
                <label for="radio-1-working">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-working" type="radio" name="radio-group-working" value="2.1666">
                <label for="radio-2-working">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-working" type="radio" name="radio-group-working" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-working" type="radio" name="radio-group-working" value="1">
                <label for="radio-4-working">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>


            <h3 class="heading-medium">Child Tax Credit</h3>
            <div class="income-source" id="income-child-details">
              <label class="form-label" for="income-child-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-child-amount" name="income-child-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-child" type="radio" name="radio-group-child" value="4.3333">
                <label for="radio-1-child">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-child" type="radio" name="radio-group-child" value="2.1666">
                <label for="radio-2-child">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-child" type="radio" name="radio-group-child" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-child" type="radio" name="radio-group-child" value="1">
                <label for="radio-4-child">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>



            <h3 class="heading-medium">Child Benefit</h3>
            <div class="income-source" id="income-benefit-details">
              <label class="form-label" for="income-benefit-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-benefit-amount" name="income-benefit-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-benefit" type="radio" name="radio-group-benefit" value="4.3333">
                <label for="radio-1-benefit">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-benefit" type="radio" name="radio-group-benefit" value="2.1666">
                <label for="radio-2-benefit">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-benefit" type="radio" name="radio-group-benefit" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-benefit" type="radio" name="radio-group-benefit" value="1">
                <label for="radio-4-benefit">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>


            <h3 class="heading-medium">Council Tax Support</h3>
            <div class="income-source" id="income-council-details">
              <label class="form-label" for="income-council-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-council-amount" name="income-council-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-council" type="radio" name="radio-group-council" value="4.3333">
                <label for="radio-1-council">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-council" type="radio" name="radio-group-council" value="2.1666">
                <label for="radio-2-council">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-council" type="radio" name="radio-group-council" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-council" type="radio" name="radio-group-council" value="1">
                <label for="radio-4-council">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>


            <h3 class="heading-medium">Pension</h3>
            <div class="income-source" id="income-pension-details">
              <label class="form-label" for="income-pension-amount">Amount received</label>
              <input class="form-control fee pound form-control-1-4" type="text" id="income-pension-amount" name="income-pension-amount">

              <p class="form-label" style="margin-top: 30px;">Received every:</p>
              <div class="multiple-choice">
                <input id="radio-1-pension" type="radio" name="radio-group-pension" value="4.3333">
                <label for="radio-1-pension">Week</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2-pension" type="radio" name="radio-group-pension" value="2.1666">
                <label for="radio-2-pension">2 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3-pension" type="radio" name="radio-group-pension" value="1.0833">
                <label for="radio-3">4 weeks</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4-pension" type="radio" name="radio-group-pension" value="1">
                <label for="radio-4-pension">Month</label>
              </div>
              <div class="form-label" style="clear: both"><a href="">Reset this income source</a></div>
            </div>

            <h3 class="heading-medium">Other</h3>
            <div class="income-source" id="income-other-details">

              <div id="add-another">

                <div class="form-group">
                  <label class="form-label" for="income-source">Source of income</label>
                  <input class="form-control" type="text" id="income-source" name="income-source">
                </div>
                <div class="form-group">
                  <label class="form-label" for="income-other-amount">Amount received</label>
                  <input class="form-control fee pound form-control-1-4" type="text" id="income-other-amount" name="income-other-amount">
                </div>

                <div class="form-group">
                  <p class="form-label" style="margin-top: 30px;">Received every:</p>
                  <div class="multiple-choice">
                    <input id="radio-1-other" type="radio" name="radio-group-other" value="4.3333">
                    <label for="radio-1-other">Week</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-2-other" type="radio" name="radio-group-other" value="2.1666">
                    <label for="radio-2-other">2 weeks</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-3-other" type="radio" name="radio-group-other" value="1.0833">
                    <label for="radio-3">4 weeks</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-4-other" type="radio" name="radio-group-other" value="1">
                    <label for="radio-4-other">Month</label>
                  </div>
                  <div class="form-label reset-other" style="clear: both"><a href="">Reset this income source</a></div>
                </div>
              </div>

              <div class="form-group" style="clear: left" id="add-bit">
                <a class="secondary-button" id="add-another-event-button" style="margin: 16px 0;" href="#">Add another source of income</a>
              </div>

            </div>
        </div>



      <p>
        <span id="total" class="heading-small">Total monthly income: £0.00</span><br />
        <a class="secondary-button" id="add-another-event-button" style="margin: 4px 0 16px 0;" href="#">Recalculate total monthly income</a>
    </p>


      <script>
        $(document).ready(function () {
          $('#add-another-event-button').click(function (event) {
            event.preventDefault();

            objSeperator = $('<hr />');
            objSeperator.insertBefore( '#add-bit');
            objItem = $('#add-another').clone();
            objItem.find( 'input[type=text]' ).val('');
            objItem.find( 'div.reset-other' ).remove( );
            objItem.find( '.multiple-choice input' ).prop( "checked", false );
            objItem.insertBefore( '#add-bit');

            objSeperator = $('<p style="margin-top:20px;"><a href="">Remove this source of income</a></p>');
            objSeperator.insertBefore( '#add-bit');

          });

          $('input').change( function() {

              intTotal = 0;

              $('input[type=text]').each( function() {
                intMonthFactor =  $(this).parent('div').find("input:radio:checked").val();

                if (intMonthFactor && $(this).is(':visible')) {
                  console.log(intMonthFactor);
                  intTotal = intTotal + $(this).val() * intMonthFactor;
                }
              });
              $('#total').text("Total monthly income: £" +intTotal.toFixed(2));
          });

        });
      </script>
      <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>
    </form>
  </div>
</div>
{% include 'prototypes/prototype-nov-2019/includes/contact.html' %}
</main>
{% endblock %}
