{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

        <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="date-end" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          Enter the date you want to claim interest from
        </h1>

        <fieldset>

            <div class="form-date">

              <p class="form-hint">For example, 31 03 2016</p>

              <div class="form-group form-group-day">
                <label for="interest-day">Day</label>
                <input class="form-control" id="dob-day" name="interest-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['interest-day'] }}">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                <input class="form-control" id="interest-month" name="interest-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['interest-month'] }}">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control" id="interest-year" name="interest-year" type="number" pattern="[0-9]*" min="0" value="{{ data['interest-year'] }}">
              </div>
            </div>

            <fieldset></fieldset>
            <label class="form-label" for="date-why">Explain why you're claiming interest from this date</label>
<textarea class="form-control form-control-3-4" rows="3" name="date_why" type="text"  id="date_why" name="date_why"
          value="{{data['date_why']}}">{{data['date_why']}}</textarea>
        </fieldset>






        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>


      </form>

    </div>
  </div>
{% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
