{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        I reject all of the claim
      </h1>
      <p class="bold-medium">What do you want to do?</p>
      <form
      name="aspnetForm"
      method="get"
      onsubmit="multiNavigation('radio_select_group2', ['paid','defend_now'], ['../../task-list', '../../task-list']);return false;"
      id="aspnetForm"
      autocomplete="off">
      <div class="form-group">
        <legend class="visually-hidden">What do you want to do?</legend>
        <div class="multiple-choice">
          <input id="radio-yes" type="radio" name="radio_select_group2" value="paid">
          <label for="radio-yes" data-target="yes-info">
           I've already paid</label> 
         </div>
         <div class="multiple-choice">
          <input id="radio-yes" type="radio" name="radio_select_group2" value="defend_now">
          <label for="radio-yes" data-target="yes-info">I don't owe any money</label>
        </div>    
      </div>
      <input type="hidden" name="do_you_owe_money" value="complete">
      <div class="form-group">
        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
        data-ignore-double-submit="true"> 
      </div>
    </form>   
  </div>
</div>
</div>
</main>
{% endblock %}
