{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="hearing/court" class="form">
        <input type="hidden" name="party" value="claimant" />

        <h1 class="heading-large">Tell us more about your claim</h1>

        <p>We need some more information in case we need to schedule a hearing.</p>
        <p>You'll need to tell us:</p>
        <ul class="list list-bullet">
          <li>which court you'd like to a hearing to be at - you can <a href="https://www.gov.uk/find-court-tribunal" target="_blank">look up your nearest court online</a> (opens in a new window)</li>
          <li>if you want to hire any experts to give evidence for you, and how much they'll cost</li>
          <li>if you have any witnesses you want to attend court</li>
          <li>any dates you, your experts or witnesses can't attend court</li>
          <li>if you require any special support in court such as an interpreter or wheelchair access</li>
        </ul>
        <p>You can come back later and continue this from <a>your account</a>.

          <div class="form-group">
            <input type="submit" class="button" value="Save and continue">
          </div>
        </form>


    </div>
  {% include 'prototypes/prototype-dec-2018/includes/contact.html' %}
</main>
{% endblock %}
