{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Defence options
      </h1>


       <fieldset></fieldset>
       <p class="bold-medium">What do you want to do?</p>



       <form
       name="aspnetForm"
       method="get"
       onsubmit="multiNavigation('radio_select_group2', ['defend_now','suggest_resolution'], ['../../task-list', 'forms']);return false;"


       id="aspnetForm"
       autocomplete="off">
       <div class="form-group">


        <legend class="visually-hidden">What do you want to do?</legend>

        <div class="multiple-choice">
          <input id="radio-yes" type="radio" name="radio_select_group2" value="defend_now">
          <label for="radio-yes" data-target="yes-info">
            <strong class="bold-small">Defend now</strong><br>
            Prepare your defence now. You can save a draft as you go but you must submit it by 26 June.</label>
          </div>

          <div class="multiple-choice" style="clear: both">
            <input id="radio-no" type="radio" name="radio_select_group2" value="suggest_resolution">
            <label for="radio-no" data-target="no-info">
              <strong class="bold-small">Defend now and also make a counterclaim</strong><br>
              You'll need to complete the defence and counterclaim form. 
              </label>
            </div>
          

          </div>
            <input type="hidden" name="do_you_owe_money" value="complete">

            <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
            data-ignore-double-submit="true"> 
        </form>   



      </div>


    </div>
<!-- 
    <div class="column-one-third">
      <p class="lede">&nbsp;</p>
      <p class="lede">&nbsp;</p>
      <nav role="navigation" class="font-xsmall">
        <p><strong class="bold">Response deadline: 7 June</strong></p>
        <p><strong class="bold">Claim reference: CF91-BK65</strong></p>
        <p><strong class="bold">Claim amount: £1,500</strong></p>
      </nav>

      <fieldset></fieldset>
      <h2 class="heading-small">Need help?</h2>
      <nav role="navigation" class="font-xsmall">
        <p><a href=""
              data-alert="This feature is not available in this demo">Contact us</a></p>
      </nav>
    </div> -->

  </div>


</main>


{% endblock %}
