{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>


      {% if data.radio_select_group2=="suggest_resolution"%}
      <h1 class="heading-xlarge">
        Defend now and also make a counterclaim
      </h1>
      <div class="panel-indent">
        <div class="panel panel-border-wide">
          <p >When you submit your response you'll be asked to complete a <a target="_blank" href='{{ asset_path }}/images/OCPN9A.pdf'>defence and counterclaim OCPN9B</a> form <span class="font-xsmall">(opens in a new window)</span> and email it to the Civil Money Courts </p>

       </div>
        <p >On the form you'll be asked to pay a court fee as part of your counterclaim.<br> Find out more about <a href='https://www.gov.uk/make-court-claim-for-money/court-fees'>court fees</a>. </p>
      </div>

      {% elseif data.radio_select_group=="all"%}
      <h1 class="heading-xlarge">
        I owe all the money
      </h1>
      <div class="panel-indent">
        <div class="panel panel-border-wide">
          <p >When you submit your response you'll be asked to complete an <a target="_blank"  href='{{ asset_path }}/images/OCPN9A.pdf'>admission OCPN9A</a> form <span class="font-xsmall">(opens in a new window)</span> and email to the Civil Money Courts </p>
        </div>
        <p >On the form you'll need to state when you’re going to pay the money.<br> You can suggest a repayment plan or a date when you can pay the money. </p>
      </div>

      {% elseif data.radio_select_group=="Some"%}
      <h1 class="heading-xlarge">
        I owe some the money
      </h1>
      <div class="panel-indent">
        <div class="panel panel-border-wide">
          <p >When you submit your response you'll be asked to complete both the <a target="_blank" href='{{ asset_path }}/images/OCPN9A.pdf'>admission  OCPN9A</a>  and a <a target="_blank" href='{{ asset_path }}/images/OCPN9A.pdf'>defence and counterclaim OCPN9B</a> forms <span class="font-xsmall">(forms open in a new window)</span> and email them to the Civil Money Courts </p>


        </div>
        <p >On the form your can offer the claimant the amount of money you believe you owe and explain why you don't owe the remaining amount.</p>
      </div>
      {% else %}

      <h1 class="heading-xlarge">
        I owe all the money
      </h1>
      <div class="panel-indent">
        <div class="panel panel-border-wide">
          <p >When you submit your response you'll be asked to complete and email an <a target="_blank" href='{{ asset_path }}/images/OCPN9A.pdf'>admission OCPN9A</a> form <span class="font-xsmall">(draft version)</span> to the Civil Money Courts </p>
        </div>
        <p >On the form you'll need to state when you’re going to pay the money.<br> You can suggest a repayment plan or a date when you can pay the money. </p>
      </div>
      {% endif %}

      <form method="post" action="../../task-list" class="form">
        <div class="form-group">
          <input type="submit" class="button" value="Continue"/>
        </div>

      </form>
    </div>
  </div>
</main>
{% endblock %}
