{% extends "layout.html" %} {% block page_title %} Find a driving instructor {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/driving/task_list{{formQuery}}">Learn to drive</a>
      </li>
      <li>
        Find a driving instructor
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list#find_instructor" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Find a driving instructor
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Find a driving instructor
          </legend>

          <p id="reason_for_task">You may choose to pay a instructor to teach you to drive.</p>

          <div class="panel panel-border-wide">
            <p>
              There is no government set price for driving lessons
            </p>
          </div>

          <p>To find a driving instructor:</p>

          <ol class="list list-number">
            <li><a href="https://www.gov.uk/find-driving-schools-and-lessons">find a driving instructor</a></li>
            <li>start lessons</li>
          </ol>

          <input type="hidden" name="find_instructor" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – I've found a driving instructor" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}