{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('claim-details1'));
    });
  </script>

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Explain your side (optional)
      </h1>

      <p class="lede">For example, you could explain why you don't think you owe the money and say that you'd like to resolve this dispute. </p>

      <form
        name="aspnetForm"
        action="check-your-suggestion"
        method="get"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Explain your side</legend>

            <div id="claim-details">
              <div id="describe-wrapper-claim-details-1" class="form-group">
                <label class="form-label-bold" for="offer">
                  What do you want to say?
                  <span class="form-hint"><!-- For example you might blar blar blar ... --></span>
                </label>
                <textarea class="form-control form-control-3-4 form-control-large"
                          id="offer"
                          rows="4"
                          name="offer"
                          cols="40"
                          type="text"
                          style="width: 95%"
                          data-store=""></textarea>
              </div>
            </div>

            <input id="advert-option-next--button" type="submit" value="Continue" class="button"
                   data-ignore-double-submit="true">
          </fieldset>

        </div>
      </form>

    </div>

    <div class="column-one-third">
      <p class="lede">&nbsp;</p>
      <p class="lede">&nbsp;</p>
      <nav role="navigation" class="font-xsmall">
        <p><strong class="bold">Response deadline: 7 June</strong></p>
        <p><strong class="bold">Claim reference: CF91-BK65</strong></p>
        <p><strong class="bold">Claim amount: £1,500</strong></p>
      </nav>

      <fieldset></fieldset>
      <h2 class="heading-small">Need help?</h2>
      <nav role="navigation" class="font-xsmall">
        <p><a href=""
              data-alert="This feature is not available in this demo">Contact us</a></p>
      </nav>
    </div>

  </div>
</main>


{% endblock %}

