{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="../task-list" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          Your response options
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Completing your claim
          </legend>



          <h3 class="heading-medium">Admit all of the claim </h3>

          <p>If you admit all of the claim is fair you can contact the claimant yourself and pay the money. Ask them to let the court know when they have your payment. </p>

          <p>The claimant can ask for a County Court Judgment (CCJ) to be made against you if you admit the claim. If you pay the claim within 28 days you can apply to cancel the CCJ using <a href='https://formfinder.hmctsformfinder.justice.gov.uk/n443-eng.pdf'>form N443</a> (opens in a new window). This application costs £15.</p>

          <h3 class="heading-medium">Admit part of the claim</h3>

          <p>If you think the claim is too high you can offer the amount you think you owe as part of your defence. You’ll get the chance to explain why your offer is the amount you believe you owe.</p>

          <p>The claimant can ask for a CCJ to be made against you if you admit part of the claim. If you pay the claim after 28 days you can apply for a certificate of satisfaction to get your debt marked as ‘satisfied’ using <a href='https://formfinder.hmctsformfinder.justice.gov.uk/n443-eng.pdf'>form N443</a> (opens in a new window). This application costs £15.</p>

          <h3 class="heading-medium">Reject the claim</h3>

          <p>If you don't accept you owe the amount of money claimed you can prepare and submit your defence online. You might have to go to a hearing - it can take up to 7 months to get a hearing date.</p>

          <p>If you reject the claim and lose your case, you’ll get a CCJ ordering you to pay the full claim amount and any costs. Details of the CCJ will be entered on the Register of Judgments, Orders and Fines for 6 years.</p>




        </fieldset>
        <input type="hidden" name="your_defence_options" value="complete">

        <div class="form-group">
          <input type="submit" class="button" value="I confirm I've read this"/>
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
