{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've both signed a settlement agreement</h1>
        <p style="margin-top: 24px"><a href="../../../defendant/correspondence/forms/agreement?check=3" class="font-medium" style="color: #FFFFFF;">Download settlement agreement</a> (PDF, 123KB)</p>
      </div>

      <p>We'll email Jan Clark telling them that you have signed the settlement agreement.</p>
      <p>Now both parties have signed the agreement, this claim has been put on hold.</p>

      <h2 class="heading-medium">What happens next</h2>

      <p><a href="../../../dashboard/party-details/claimant">Contact Jan Clark</a> if you need their payment details.</p>
      <p>Make sure you get receipts for any payments.</p>

      <p><a href="../../../dashboard/defendant?defendant={% if data['claimant-payment-request'] == 'Set-date' %}5.01{% elseif defendant == '5.3' or defendant == '5.31' %}5.32{% else %}5.2{% endif %}" class="">Back to your account</a></p>

       <h2 class="heading-medium">Help and support</h2>
       <p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
          Telephone: 0300 123 7050<br>
      Hours: 9am to 5pm, Monday to Friday</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
  </div>



</div>
</main>


{% endblock %}
