{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Why do you disagree?
      </h1>

      <form name="aspnetForm" method="post" onsubmit="multiNavigation('radio-select-group', ['Yes', 'No', 'Paid', 'Wrong'], ['owe-some-discuss', 'owe-nothing-discuss', '', '']);return false;" id="aspnetForm" autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Why do you disagree?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-select-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">I only owe some of the money </label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-select-group" value="No">
              <label for="radio-no" data-target="no-info">I disagree with what the claim says</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-paid" type="radio" name="radio-select-group" value="Paid">
              <label for="radio-paid" data-target="paid-info">I've already paid some or all of the money</label>
            </div>

            <!-- <div class="multiple-choice">
              <input id="radio-wrong" type="radio" name="radio-select-group" value="Wrong">
              <label for="radio-wrong" data-target="wrong-person-info">I am the wrong person for the claim</label>
            </div> -->

          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button" data-ignore-double-submit="true">
      </form>

    </div>
  </div>
</main>


{% endblock %}
