{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Resolving this dispute
      </h1>

      <p>Many people can settle a dispute early by discussing what's gone wrong. If you can reach an agreement you won't need to prepare evidence or go to a hearing.</p>

      <!--<p>Jan Clark had said that you can contact them using these details.</p>-->

      <!--<ul class="list list-bullet">-->
      <!--<li>Email: <span class="bold">email@email.com<span></span></li>-->
      <!--<li>Tel: <span class="bold">07757 738 459</span></li>-->
      <!--</ul>-->

      <!--<div class="panel panel-border-wide">-->
      <!--<p>If you contact Jan Clark you can ask them to put the claim 'on hold' while you discuss.</p>-->
      <!--</div>-->

      <h1 class="heading-medium">
        Are you willing to discuss the claim with Jan Clark?
      </h1>

      <form name="aspnetForm" method="post" onsubmit="multiNavigation('radio-contact-group', ['Yes-directly', 'Yes-mediator', 'No'], ['defence', '../../mediation-confirmation', '../../mediation']);return false;" id="aspnetForm" autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Are you willing to discuss the claim with Jan Clark?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-contact-group" value="Yes-directly">
              <label for="radio-yes" data-target="discuss-info">Yes, discuss with Jan Clark online</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="discuss-info">
              <p>If you can <span class="bold-small">reach an agreement</span> you won't need to go for a hearing and avoid getting a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County
                Court Judgment (CCJ)</a> made against you.</p>
            </div>

            <div class="multiple-choice">
              <input id="radio-yes-mediator" type="radio" name="radio-contact-group" value="Yes-mediator">
              <label for="radio-yes-mediator" data-target="yes-info">Yes, with a mediator on the telephone</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="yes-info">
              <p>If both you and Jan Clark say yes, we'll contact you to set up an appointment and answer any questions you have.</p>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-contact-group" value="No">
              <label for="radio-no" data-target="no-info">No, I don't want to discuss</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="no-info">
              <p>If you contact Jan Clark you might be able to ask them to put the claim 'on hold' while you discuss.</p>
            </div>

          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button" data-ignore-double-submit="true">
      </form>

    </div>
  </div>
</main>


{% endblock %}
