{% extends "layout_task-list.html" %}

{% block page_title %}
Check your answers
{% endblock %}
{% block home_link %} ../task-list {% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="../task-list{{ formQuery | safe }}">Respond to a money claim</a>
      </li>
      <li>
        Your details
      </li>
    </ol>
  </div>

  <h1 class="heading-large">
    Confirm your details are correct 
  </h1>


  <form
  name="aspnetForm"
  action="../task-list"
  method="get"
  id="aspnetForm"
  autocomplete="off">


  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>
          Name:
        </td>
        <td>
         Mary Richards
       </td>
       <td class="change-answer">
        <a href="your-details/name">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    
    <tr>

      <tr>
        <td>
          Address:
        </td>
        <td>
          101 Regents road<br>
          Shiplake<br>
          Henley on Thames<br>
          RG9 4BW 
        </td>
        <td class="change-answer">
          <a href="your-details/address">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      <tr>

      </tbody>
    </table>
    <p class="actions">
              <input type="hidden" name="confirm_details" value="complete">

      <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
      data-ignore-double-submit="true">
      <!--<a href="aos">I need more time to respond</a>-->
    </p>
  </form>


</main>

{% endblock %}
