{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Page 4 of 15</span>
          <span class="page-title">What you'll pay</span>
        </div>
      </header>

      <fieldset></fieldset>

      <!--<h1 class="heading-xlarge">-->
        <!--What you'll pay-->
      <!--</h1>-->

      <p class="lede">You must pay a fee to make a money claim. Your fee is based on the amount of money you're
        claiming. </p>
      <!--<p class="lede">You might be able to get <a class="external" rel="external"-->
      <!--href="https://www.gov.uk/get-help-with-court-fees">help-->
      <!--with fees</a> if you have a low income or get certain benefits.</p>-->


      <!--<div class="notice">-->
      <!--<i class="icon icon-important">-->
      <!--<span class="visually-hidden">Warning</span>-->
      <!--</i>-->
      <!--<strong class="bold-small">-->
      <!--You may have to pay more fees later on - for example, if there's a court hearing or you need to get a judgment enforced.-->
      <!--</strong>-->
      <!--</div>-->

      <!--<p class="panel panel-border-wide">-->
        <!--You might have to pay other fees later - for example, if your claim goes to a hearing or you want to make a-->
        <!--change to your claim once you've submitted it.-->
      <!--</p>-->

      <br>

      <form action="claim-interest" method="get" class="form">

        <!-- Claim amount -->
        <div class="form-group">

          <legend class="visually-hidden">Amount you're claiming</legend>

          <label class="form-label-bold" for="claim[fee][court_fee]">
            Amount you're claiming
            <span class="form-hint"></span>
          </label>
          <input class="fee pound" maxlength="8" size="8" type="text" value=""
                 name="claim[fee][court_fee]"
                 id="claim[fee][court_fee]">
        </div>

        <details>
          <summary>Fees table</summary>

          <div class="panel">
            <table class="expandable-demo">
              <!--<caption>The court fee is based on the amount you're claiming, plus <a class="external"-->
              <!--rel="external"-->
              <!--href="https://www.gov.uk/make-court-claim-for-money/work-out-interest">interest</a>.-->
              <!--</caption>-->
              <thead>
              <tr>
                <th scope="col">Claim amount</th>
                <th scope="col">Online claim fee</th>
                <!--<th scope="col">Paper form fee</th>-->
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <ul class="list">
                    <li>Up to £300</li>
                  </ul>
                </td>
                <td>£25</td>
                <!--<td>£35</td>-->
              </tr>
              <tr>
                <td>
                  <ul class="list">
                    <li>£300.01 to £500</li>
                  </ul>
                </td>
                <td>£35</td>
                <!--<td>£50</td>-->
              </tr>
              <tr>
                <td>
                  <ul class="list">
                    <li>£500.01 to £1,000</li>
                  </ul>
                </td>
                <td>£60</td>
                <!--<td>£70</td>-->
              </tr>
              <tr>
                <td>
                  <ul class="list">
                    <li>£1,000.01 to £1,500</li>
                  </ul>
                </td>
                <td>£70</td>
                <!--<td>£80</td>-->
              </tr>
              <tr>
                <td>
                  <ul class="list">
                    <li>£1,500.01 to £3,000</li>
                  </ul>
                </td>
                <td>£105</td>
                <!--<td>£115</td>-->
              </tr>
              <tr>
                <td>
                  <ul class="list">
                    <li>£3,000.01 to £5,000</li>
                  </ul>
                </td>
                <td>£185</td>
                <!--<td>£205</td>-->
              </tr>
              <tr>
                <td>
                  <ul class="list">
                    <li>£5,000.01 to £10,000</li>
                  </ul>
                </td>
                <td>£410</td>
                <!--<td>£455</td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </details>


        <fieldset></fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

      <!--<p>The court fee is based on the amount you're claiming, plus <a class="external"-->
                                                                       <!--rel="external"-->
                                                                       <!--href="https://www.gov.uk/make-court-claim-for-money/work-out-interest">interest</a>.-->
      <!--</p>-->


    </div>
  </div>
</main>


{% endblock %}

