{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Page 11 of 15</span>
          <span class="page-title">Your claim - Amount</span>
        </div>
      </header>

      <fieldset></fieldset>

      <!--<h1 class="heading-xlarge">-->
      <!--Your claim - Amount-->
      <!--</h1>-->

      <p class="lede">Confirm the amount you want to claim and, if relevant, add details so it’s clear why you’re
        claiming this amount.</p>

      <p class="heading-medium">What you're owed</p>

      <!-- Claim amount -->
      <div class="form-group">

        <legend class="visually-hidden">What you're owed</legend>
        <span class="form-hint">You can update this.</span>

        <input class="fee pound costs-column-1" maxlength="8" size="8" type="text" value="1500"
               name="claim[fee][court_fee]"
               id="claim[fee][court_fee]">
      </div>

      <fieldset></fieldset>

      <p class="heading-medium">How you’ve reached this amount (optional)</p>
      <p>Fill this in if your claim amount is made up of different costs, such as expenses and fines.</p>

      <div class="input form-group">

        <div id="costs" class="costs-breakdown">
          <div class="costs-headings">
            <div id="costs-heading-1" class="costs-column-1">
              <label class="form-label-bold" for="amount-form-control">
                Amount <br>
              </label>
              <!--<span class="form-hint">For example, £20.53</span>-->
            </div>
            <div id="costs-heading-2" class="costs-column-2">
              <label class="form-label-bold" for="costs-form-control">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Item
              </label>
              <!--<span class="form-hint">For example, expenses, travel costs.</span>-->
            </div>
          </div>
          <div class="costs-rows">
            <div class="costs-row">
              <input class="fee pound costs-column-1" maxlength="8" size="8" type="text" value=""
                     name="costs-column-1"
                     id="amount-form-control">
              <input class="form-control costs-column-2" type="text" id="costs-form-control">
              <!--<input class="form-control costs-column-2" type="text" id="amount-form-control">-->
            </div>
            <div class="costs-row">
              <input class="fee pound costs-column-1" maxlength="8" size="8" type="text" value=""
                     name="costs-column-1"
                     id="">
              <input class="form-control costs-column-2" type="text">
              <!--<input class="form-control costs-column-2" type="text">-->
            </div>
            <div class="costs-row">
              <input class="fee pound costs-column-1" maxlength="8" size="8" type="text" value=""
                     name="costs-column-1"
                     id="">
              <input class="form-control costs-column-2" type="text">
              <!--<input class="form-control costs-column-2" type="text">-->
            </div>
          </div>

        </div>
        <div id="add-event-container">
          <a id="add-another-event-button" href="#">Add another item</a>
        </div>

        <fieldset></fieldset>

        <script>
          $(document).ready(function () {
            $('#add-another-event-button').click(function (event) {
              event.preventDefault();
              $('#costs').append(
                '<div class="costs-row">' +
                '<input class="fee pound costs-column-1" style="margin-right: 1px; margin-top: 10px" type="text">' +
                '<input class="form-control costs-column-2" style="margin-left: 3px" type="text">' +
                '</div>'
              );
            });
          });
        </script>
      </div>

      <a class="button" href="check-your-claim" role="button">Continue</a>

      <br>
      <br>

      <p>You can review the information you give here before you submit your claim.</p>

    </div>
  </div>
  </div>
</main>


{% endblock %}

