{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../../task-list {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="../../task-list{{ formQuery | safe }}">Respond to a money claim</a>
      </li>
       <li>
        <a href="../your-details{{ formQuery | safe }}">Confirm details</a>
      </li>     
      <li>
        Your name
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

   

        {{formData | safe}}

         <form method="post" action="../your-details" class="form">
        <h1 class="heading-large">
          Your full name
        </h1>

        <p>Enter all your names in full - don't use initials.</p>

        <div class="form-group">
          <label class="form-label" for="claimant_firstname">First name</label>
          <input type="text" value="Mary" class="form-control" id="claimant_firstname"
                 name="claimant-firstname" value="{{data['claimant-firstname']}}">
        </div>

        <div class="form-group">
          <label class="form-label" for="claimant_middlename">Middle names (if any)</label>
          <input type="text" class="form-control" id="claimant_middlename"
                 name="claimant-middlename" value="{{data['claimant-middlename']}}">
        </div>


        <div class="form-group">
          <label class="form-label" for="claimant_lastname">Last name</label>
          <input type="text" value="Richards" class="form-control" id="claimant_lastname"
                 name="claimant-lastname" value="{{data['claimant-lastname']}}">
        </div>
    
        <br>


        <br>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>
                  <a href="../your-details">Cancel </a>

      </form>

    </div>
  </div>

</main>
{% endblock %}
