{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Are you currently working?

      </h1>




     <form
      name="aspnetForm"
      method="post"
      onsubmit="multiNavigation('radio-employment-group', ['Employed', 'self-employed', 'unemployed' , 'pensioner'], ['employed', 'self-employed', 'unemployed', 'bank-account']);return false;"
      id="aspnetForm"
      autocomplete="off">



      <div class="form-group">
        <fieldset>

          <p class="form-hint">You can select more than one option.</p>
          <br>

          <div class="multiple-choice">
            <input id="radio-employed" type="checkbox" name="radio-employment-group" value="Employed">
            <label for="radio-employed" data-target="repayment-info">Yes - I'm employed</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-self-employed" type="checkbox" name="radio-employment-group" value="self-employed">
            <label for="radio-self-employed" data-target="no-info">Yes - I'm self-employed</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-unemployed" type="checkbox" name="radio-employment-group" value="unemployed">
            <label for="radio-unemployed" data-target="no-info">No</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-unemployed" type="checkbox" name="radio-employment-group" value="unemployed">
            <label for="radio-unemployed" data-target="no-info">I'm a pensioner</label>
          </div>




        </fieldset>
      </div>





      <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>

        </form>
      </div>
    </div>
  </main>
  {% endblock %}
