{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Express your interest
      </h1>

      <p class="lede">You've told us you want to discuss with Jan Clark. You can now express your interest in
        resolving this dispute.</p>

      <div id="claim-details">
        <div id="describe-wrapper-claim-details-1" class="form-group">
          <label class="form-label-bold" for="claim-details-1">
            What do you want to say?
            <span class="form-hint"><!-- Give your own version of events if different from the claimant's ... --></span>
          </label>
          <textarea class="form-control"
                    id="claim-details-1"
                    rows="5"
                    name="claim-details1"
                    type="text"
                    style="width: 90%">I am aware of the money claim as a result of withholding rent however I am sure you are aware that the house has been in disrepair. I have no solution at this point however I would like to reach agreement of a fair outcome.</textarea>
        </div>
      </div>

      <!--<div id="claim-details">-->
        <!--<div id="describe-wrapper-claim-details-1" class="form-group">-->
          <!--<label class="form-label-bold" for="claim-details-1">-->
            <!--State which parts of the claim you disagree with-->
            <!--<span class="form-hint">&lt;!&ndash; Give your own version of events if different from the claimant's ... &ndash;&gt;</span>-->
          <!--</label>-->
          <!--<textarea class="form-control"-->
                    <!--id="claim-details-1"-->
                    <!--rows="3"-->
                    <!--name="claim-details1"-->
                    <!--type="text"-->
                    <!--style="width: 90%"></textarea>-->
        <!--</div>-->
      <!--</div>-->

      <a href="discuss-methods" class="button">Continue</a>

    </div>
  </div>
</main>


{% endblock %}

