{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

          <h1 class="heading-large">
            Are you disabled?
          </h1>

          <form
          name="aspnetForm"
          method="get"
          onsubmit="multiNavigation('radio-disabled', ['Yes', 'No'], ['disabled-severely', 'residence']);return false;"
          id="aspnetForm"
          autocomplete="off">

           <div class="form-group">
            <fieldset>
              <div class="multiple-choice">
                <input id="radio-disabled" type="radio" name="radio-disabled" value="Yes">
                <label for="radio-disabled">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-disabled-no" type="radio" name="radio-disabled" value="No">
                <label for="radio-disabled-no">No</label>
              </div>
            </fieldset>
            </div>

          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>
        </form>
      </div>
    </div>
  {% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
