{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <!--<div class="breadcrumbs">-->
  <!--<ol>-->
  <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
  <!--</ol>-->
  <!--</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
<!--           <span class="page-number">Terms</span>
 -->          <span class="page-title">Once signed it's confidential</span>
        </div>
      </header>

      <!--<h1 class="heading-xlarge">-->
      <!--Don’t tell people about this agreement-->
      <!--</h1>-->

      <p class="lede">Don’t tell anyone about this agreement after you’ve signed it. You must keep this information
        confidential.</p>
        <p class="lede">You can ask people for advice before you sign it though.</p>

      <form method="POST">
        <input class="button" type="submit" value="Return to overview">
      </form>

    </div>
  </div>

</main>


{% endblock %}

