{% extends "layout_unbranded.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Make a money claim
      </h1>
      <p>You can make a money claim if a person or organisation owes you money and won’t pay you back.</p>
      <p class="panel panel-border-wide">Before claiming you should contact the person or organisation to try to find a solution. Find out <a
        href="../../../claimant/full/c-2/other-options">how you can resolve a claim by discussion or mediation</a>.</p>
        <p>Your claim, including your name and address, will be sent to the person you say owes you money. They'll get a chance to respond to your claim.</p>
        <p>You might have to go to a hearing with a judge if the person says they don’t owe you money.</p>
          <h2 class="heading-medium">What you'll need</h2>
          <p>To use this service you need:</p>
          <ul class="list list-bullet">
            <li>current address and contact details for the person or organisation you’re claiming against (or last known address)</li>
            <li>a credit or debit card to pay the <a
              href="https://www.gov.uk/make-court-claim-for-money/court-fees">claim fee</a>
            </li>
          </uL>
          <div class="clearfix">
           <form action="sign-in">
             <input type="hidden" name="control-box" value="1">
             <input type="hidden" name="respond" value="false">
             <input type="hidden" name="make_claim" value="true">
             <input type="submit" class="button button-start" value="Start now"/>
           </form>
           <!--<a class="button-return ga-event" href="#" role="button">Return to a claim</a>-->
         </div>
         <!--<p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>-->
         <h2 class="heading-medium">Check you can use this service</h2>
         <p>To use this service, you must be:</p>
         <ul class="list list-bullet">
           <li>claiming for £10,000 or less, including interest</li>
           <li>18 or older (you must also be claiming against someone who's 18 or older)</li>
           <li>living in England or Wales (and claiming against a person or organisation with an address in England or Wales)
           </uL>
           <h2 class="heading-medium">Claim by paper</h2>
           <p>You can also print and complete a <a
            href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=338">paper claim
          form</a>.
          <p>Send the form and a cheque for your <a
            href="https://www.gov.uk/make-court-claim-for-money/court-fees">claim fee</a> to:</p>
            County Court Money Claims Centre<br />
            PO Box 527<br />
            Salford<br />
            Greater Manchester<br />
            M5 0BY<br />
            DX: 702634 Salford 5
            <h2 class="heading-medium">Help to use this service</h2>
            <p>Telephone: 0300 123 7050
              <br>
              Textphone: 0300 144 2122
              <br>
              <a href="https://www.gov.uk/call-charges">Find out about call charges</a> <span class="font-xsmall">(opens in a new window)</span></p>
            </div>
            <div class="column-third">
             <!--<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>-->
           </ul>
         </nav>
       </aside>
     </div>
   </div>
 {% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>
{% endblock %}
