{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">



  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>


      <h1 class="heading-large">
        Free telephone mediation
      </h1>
      <p>You can talk to an impartial mediator about your claim against Mary Richards.</p>
	  <p>The free service can help you:</p>
		<ul class="list list-bullet">
			<li>resolve your claim sooner</li>
			<li>avoid going to court</li>
			<li>save on court fees</li></ul>
		<p>The mediator will talk to you and Mary Richards on the phone separately.</p>


        <h1 class="heading-medium">
          Will you try mediation?
        </h1>





      <form
      name="aspnetForm"
      method="post"
      id="aspnetForm"
      autocomplete="off"
      onsubmit="multiNavigation('radio-mediation-group-0', ['Yes', 'No'], ['mediation/mediation-sub-1', 'mediation/claimant-declines']);return false;"
      >




        <input id="your-offer" name="offer" type="hidden">

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden">Will you try mediation?</legend>



            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-mediation-group-0" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes</label>
            </div>



              <div class="multiple-choice">
                <input id="radio-no" type="radio" name="radio-mediation-group-0" value="No">
                <label for="radio-no" data-target="no-info">No</label>
              </div>



              </fieldset>
              <input type="hidden" name="mediation" value="complete">


        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>



            </div>
          </form>
          <p></p><br>


          </div>
        </div>
      {% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
