{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Do you accept this claim?
      </h1>

      <form name="aspnetForm" method="post" onsubmit="conditionalNavigation('radio-select-group', 'Yes', 'owe-all/offer', 'owe-some-or-not');return false;" autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Do you accept the claim?</legend>

            <p>If you owe the money but can’t afford to pay straightaway we’ll explain what you can do.</p>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-select-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes, I accept the claim is correct</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-select-group" value="No">
              <label for="radio-no" data-target="yes-some-info">No, I disagree with the claim</label>
            </div>

          </fieldset>

          <!--<details>-->
          <!--<summary><span class="summary">I’m not sure how to respond</span></summary>-->
          <!--<div class="panel panel-border-narrow">-->
          <!--<p>If you don’t respond to this claim your credit rating could be affected. Contact our Personal Support-->
          <!--Unit who can help you decide what to do.</p>-->
          <!--<p class="bold-small">Contact the Personal Support Unit</p>-->
          <!--<p>Telephone: xxx xxx xxx<br>-->
          <!--Textphone: xxx xxx xxx<br>-->
          <!--Email: xxx xxx xxx</p>-->
          <!--</div>-->
          <!--</details>-->

        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button" data-ignore-double-submit="true">
      </form>

      <details>
        <summary><span class="summary">I’m not sure how to respond</span></summary>
        <div class="panel panel-border-narrow">
          <p>If you don’t respond to this claim your credit rating could be affected. Contact our Personal Support Unit who can help you decide what to do.</p>
          <p class="bold-small">Contact the Personal Support Unit</p>
          <p>Telephone: xxx xxx xxx<br> Textphone: xxx xxx xxx<br> Email: xxx xxx xxx</p>
        </div>
      </details>

    </div>
  </div>
</main>


{% endblock %}
