{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <form
      name="aspnetForm"
      method="post"
      onsubmit="return multiNavigation('defendant-decision', ['yes','no'], ['defendant-mediation-subquestion-1', 'test-page-2']);return false;"
      id="aspnetForm"
      autocomplete="off">
      <h1 class="heading-large">
        Free telephone mediation
      </h1>
      <p>You can talk to an impartial mediator about Jan Clark's claim against you. Mediation can help you avoid having
        to go to court.</p>
      <p>The free service can help you:</p>
      <ul class="list list-bullet">
        <li>prevent having to pay the full claim amount, plus any interest</li>
        <li>avoid a County Court Judgement</li>
      </ul>
      <p>The mediator will talk to you and Jan Clark on the phone separately.</p>


      <div class="form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="heading-medium">
              Will you try mediation?
              </h2>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="defendant-decision-1" name="defendant-decision" type="radio"
                     value="yes">
              <label class="govuk-label govuk-radios__label" for="defendant-decision-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="defendant-decision-2" name="defendant-decision" type="radio"
                     value="no">
              <label class="govuk-label govuk-radios__label" for="defendant-decision-2">
                No
              </label>
            </div>
          </div>
        </fieldset>

        <button type="submit" class="govuk-button">
          Save and continue
        </button>

    </form>
  </div>
</div>
{% endblock %}
