{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% import "prototypes/prototype-sep-2018/includes/claim-amount.html" as amount %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

        <form method="post" action="../../../claimant/task-list/claim-amount-alt/interest-q" class="form">

        {{formData | safe}}
        {{ amount.form('defendant') }}


        </form>
    </div>
  </div>
</main>
{% endblock %}
{% block extra_js_1 %}
{{ amount.js('defendant') }}

{% endblock %}