{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <header class="page-report-header">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Settlement agreement (Draft)</span>
     Jan Clark and Mary Richards
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-one-half">
      <ul>
        <li>Claim reference:
          <span class="bold-small"> CF91-BK65</span>
        </li>
        <li>Date of draft agreement:
          <span class="bold-small"> 11 April 2017</span>
        </li>
        <li>You:
          <span class="bold-small">Not signed</span>&nbsp; &nbsp; &nbsp;
          Mary Richards: <span class="bold-small">Not signed</span>
        </li>
      </ul>
    </div>

    <div class="column-one-half">
      <div class="helpline" style="float: right">
        <h3>Helpline<br>0300 144 2121</h3>
      </div>
      <!--<a class="button right" href="agreement">Download draft</a>-->
    </div>
  </div>

  <ul id="overview-sections" class="overview-sections">

    <li id="section-01" class="overview-section">
      <h2 class="heading"></h2>

      <div id="sub-section-01" class="descriptive-list-item">
        <a href="agreement/case-summary"
           aria-label="View case summary">

          <h3 class="heading heading-medium">Original claim</h3>
          <span class="status not-started">Not accepted</span>

          <span class="edit-link " href="agreement/case-summary">
                    Review details</span>

          <p class="description">A summary of the claim your draft agreement relates to</p>

        </a>
      </div>
    </li>

    <li id="section-02" class="overview-section">
      <h2 class="heading"></h2>

      <div id="sub-section-02" class="descriptive-list-item">
        <a href="agreement/agreed"
           aria-label="View what was agreed">

          <h3 class="heading heading-medium">Your new agreement</h3>
          <span class="status not-started">Not accepted</span>

          <span class="edit-link " href="agreement/agreed">
                    Review details</span>

          <p class="description">Details of what you've agreed (draft until signed)</p>

        </a>
      </div>
    </li>

    <li id="section-03" class="overview-section">
      <h2 class="heading"></h2>

      <div id="sub-section-03" class="descriptive-list-item">
        <a href="agreement/terms"
           aria-label="View and accept terms">

          <h3 class="heading heading-medium">About this agreement</h3>
          <span class="status not-started">Not accepted</span>

          <span class="edit-link " href="agreement/terms">
                    Review details</span>

          <p class="description">Information you must understand before you sign</p>

        </a>
      </div>
    </li>


    <li id="section-04" class="overview-section">
      <h2 class="heading"></h2>

      <div id="sub-section-04" class="descriptive-list-item">
        <a class="behat-link-edit-actions" id="" href="agreement/breached"
           aria-label="">

          <h3 class="heading heading-medium">If this agreement is broken</h3>
          <span class="status not-started">Not accepted</span>

          <span class="edit-link " href="agreement/breached">
                Review details
            </span>

          <p class="description">What happens if either side breaks this agreement</p>


        </a>
      </div>
      <br>

      <div id="report_add_further_info-sub-section" class="descriptive-list-item">

       <!--  <h3 class="heading heading-medium">xxxx</h3>
        <span class="status not-started">Not signed</span> -->

        <input class="button" type="submit" value="Continue to sign" disabled="disabled">

        <!--<span class="edit-link disabled">-->
        <!--Sign and submit-->
        <!--</span>-->

      </div>
    </li>
  </ul>

  <fieldset></fieldset>

  <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      You must review all sections of the agreement before you can continue.
    </strong>
  </div>

  <!--<fieldset></fieldset>-->
  <a href="" style="float: left">Download draft PDF</a>

</main>


{% endblock %}

