// Agreement details
// ==========================================================================

.agreement-details {
  //background-color: #dee0e2;
  background-color: #ECEDEE;
  margin-top: 20px;
  padding: 30px 20px 20px 25px;
}

.agreement-details dl {
  margin-bottom: 15px;
}

.agreement-details dt,
.agreement-details dd {
  display: inline;
}

.agreement-details dd {
  font-weight: bold;
}

.agreement-details .date-time dt {
  padding-right: 83px;
}

.agreement-details .address dt {
  padding-right: 62px;
}

.agreement-details .address dd span:not(:first-child) {
  display: block;
  margin-left: 164px;
}

.agreement-details .maps-and-directions {
  margin-left: 163px;
  line-height: 160%;
}

.agreement-details .parking dt {
  padding-right: 97px;
}

.agreement-details .parking dd span:not(:first-child) {
  display: block;
  margin-left: 164px;
}

.agreement-details .disabled-access dt {
  padding-right: 55px;
}

.agreement-details .representative dt {
  padding-right: 57px;
}

.agreement-details .interpreter dt {
  padding-right: 70px;
}

.agreement-details .interpreter dd span:not(:first-child) {
  display: block;
  margin-left: 164px;
}
