
.section-number {
	font-size: 24px;
	color: #6f777b;
	margin-top: 30px;
}

.service-before-title {
	margin-top: 7px;
}

#visa-image {
	margin-bottom: -10px;
	max-width: 110px;

}

.visa-hidden {
	visibility: hidden;
}

.accepted-image-hidden {
	visibility: hidden;
}


.card-images {
    position: relative;
}


.original-accepted {
	position: relative;
	max-width: 340px;
	margin-bottom: 0px;
	margin-top: 10px;
	z-index: 1;
}

.accepted-copy {
	position: relative;
	font-size: 16px;
	color: gray;
	margin-bottom: 0px;
	margin-top: 0px;
}

.accepted-copy-2 {
	position: relative;
	font-size: 16px;
	color: gray;
	margin-bottom: 30px;
	margin-top: 0px;
	z-index: 2;
}

.accepted-image-1 {
	max-width: 320px;
	margin-bottom: 30px;
}

.accepted-image {
	position: relative;
	max-width: 340px;
	margin-bottom: 0px;
	margin-top: 10px;
	z-index: 10;
}

.accepted-image-no-amex {
	position: relative;
	max-width: 290px;
	margin-bottom: 0px;
	margin-top: 10px;
	z-index: 10;
}

.cards-group {
	margin-bottom: 0;
}

.not-accepted {
	margin-bottom: 30px;
}

.table-info {
	font-weight: 700;
}

.paypoint-payment-summary {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	margin-top: 30px;
}

.paypoint-payment-summary h2 {
	font-size: 27px;
	font-weight: 700;
	padding-bottom: 15px;
}

.find-paypoint-location {
	margin-top: 15px;
	margin-bottom: 30px;
}

.paypoint-locater {
	border: 1px solid #DEE0E2;
	padding: 15px;
}

.payment-summary {
	border: 10px solid #DEE0E2;
	background-color: #F8F8F8;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}


.change-selection a {
	color: #005EA5;
	margin-top: 30px;
}


.payment-summary h2 {
	font-size: 27px;
	font-weight: 700;
	padding-bottom: 15px;
}

.payment-info {
	font-weight: 700;
}
.payment-amount {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0px;
}

#amount {
	max-width: 150px;
}

.payment-unsuccessful {
	background-color: #AF1324;
	color: white;
	padding: 30px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
}

.payment-unsuccessful h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 30px;
}


.payment-confirmed {
	background-color: #28A197;
	color: white;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}

.payment-confirmed h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 30px;
}

.payment-confirmed p {
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom:15px;
}

.payment-confirmed img {
	padding-right: 15px;
}

.payment-confirmed td {
	color: white;
	border-bottom-color: white;
	font-weight: 700;
}

.finish-and-return {
	margin-top: 30px;
}

.payment-type-intro {
	max-width: 100%;
	color: #6F777B;
}

.intro {
	font-weight: 700;
}

#security-number {
	width: 100px;
}

#building-and-street {
	margin-bottom: 10px;
}


.barcode {
	padding-bottom: 30px;
}

.barcode img {
	padding: 30px;
	border: 1px solid gray;
	margin: auto;
	max-width: 500px;
}

.print-download img{
	max-width: 20px;
	padding-right: 10px;
	padding-top: 15px;
}

.print-download-section{
	margin-top: 10px;
	margin-bottom: 30px;
}

.print-download li{
	font-weight: 700;
}

.print-download li a{
	text-decoration: none;
}


img.card-image {
	max-height: 38px;
	padding-top: 2px;
	margin-left: 15px;
	vertical-align: middle;
	// float: left;
}

.form-group button {
	margin-top: 10px;
}

.form-group-send button {
	margin-top: 0px;
}

.form-group-send {
	margin-bottom: 0px;
	margin-top: 15px;
}

//.button-grey {
//  background-color: #6F777B;
//  position: relative;
//  display: -moz-inline-stack;
//  display: inline-block;
//  border: none;
//  -webkit-border-radius: 0;
//  -moz-border-radius: 0;
//  border-radius: 0;
//  -webkit-appearance: none;
//  -webkit-box-shadow: 0 2px 0 #0B0C0C;
//  -moz-box-shadow: 0 2px 0 #0B0C0C;
//  box-shadow: 0 2px 0 #0B0C0C;
//  font-size: 1em;
//  line-height: 1.25;
//  text-decoration: none;
//  -webkit-font-smoothing: antialiased;
//  cursor: pointer;
//  color: #fff;
//  margin: -15px 15px 15px 0;
//  padding: 0.36em 0.78947em 0.2em 0.78947em;
//  vertical-align: top;
//}
//
//.button-grey:hover {
//  background-color: #BFC1C3;
//}

.email-address {
	font-weight: 700;
}

.email-address a {
	font-weight: 300;
	color: #005EA5;
	text-decoration: underline;
}




.DD-terms-conditions {
	max-width: 66%;
	font-size: 16px;
	color: #6F777B;
	margin-top: 30px;
}

.DD-terms-conditions a {
	text-decoration: underline;
	color: #005EA5;
}

.dd-images img {
	padding-right: 15px;
	margin-bottom: 15px;
}

.payment-summary-small {
	border-top: 3px solid #1d70b8;
	background-color: #F8F8F8;
	padding: 15px;
	margin-top: 30px;
}


.payment-summary-small h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 10px;
}

h2.heading-paypoint {
	font-size: 27px;
	font-weight: 700;
	padding-bottom: 15px;
}


.sticky {
    position: fixed;
    width: 250px;
    // width: 33%;
    // left: 0;
    top: 0;
    z-index: 100;
    margin-top: 30px;

}

.inline h2 {
	font-weight: 700;
	font-size: bold;
	margin-bottom: 10px;
}
.check-details {
	margin-bottom: 30px;
}

.review-details {
	margin-left: 0px;
}

.check-details h2 {
	font-size: 19px;
	margin-top: 15px;
}

.check-details p {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}

.new-licence-details {
	margin-top: 45px;
	margin-bottom: 30px;
}

.change-link {
	margin-top: 30px;
}

.address-box {
	margin-bottom: 5px;
}


// PayPal specific css

.paypal-payment-summary {
	padding-left: 15px;
	padding-right: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}


.paypal {
	margin-top: 15px;
	color: gray;
	font-family: Arial!important;
	font-weight: 300;

}

.paypal-login {
	border: 1px solid #DEE0E2;
	padding: 15px;
}

.paypal-paynow {
	padding: 15px;
}

.paypal button {
	background-color: #0079c1;
}

.paypal button:hover {
	background-color: #0079c1;
}

.paypal-details button {
	background-color: #0079c1;
}

.paypal-details button:hover {
	background-color: #0079c1;
}

.paypal-form {
	margin-top: 30px;
}

.paypal-login h2 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 24px;
	font-weight: 300;
	font-family: helvetica neue, Arial;
}

.paypal-label {
	font-size: 19px;
	font-weight: 300;
	font-family: helvetica neue, Arial;
}

.sentsms {
	font-weight: 700;
	font-size: 19px;
	color: white;
	background-color: #28A197;
	padding: 30px;
}

.logo {
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 30px;
}

.paypal-details {
	border: 1px solid #DEE0E2;
	padding: 30px;
}

.lede-link {
	font-size: 24px;
	margin-bottom: 10px;
}

.lede-bottom-margin {
	font-size: 24px;
	margin-bottom: 0px;
}


.cards-accepted-label {
	margin-bottom: 30px;
	margin-top: 0;
}

.cards-accepted-label-2 {
	margin-top: 30px;
	margin-bottom: 5px;
}



.start-page li {
	list-style-type: disc;
	margin-left: 20px;
	padding-bottom: 15px;
}

.v11-image {
	margin-bottom: 15px;
}

.blue-border {
	border-top: 10px solid #005ea5;
}

.related-list {
	line-height: 25px;
}

.related-list li {
	padding-bottom: 10px;
}

.related-heading {
	margin-top: 15px;
}

//.button-start {
//	font-weight: bold;
//	font-size: 24px;
//}

.heading-start {
	padding-left: 0px;
}



@media only screen and (max-width : 720px) {

.sticky {
    position: static;
    // width: 85%;
    // margin-top: 30px;
    // clear: both;
    // width: 33%;
    // left: 0;
    // top: 0;
    // margin: 15px;
    // z-index: 100;
}

.payment-summary-small {
	position: static;
	clear: both;
	margin-right: 15px;
}

}

@media only screen and (max-width : 480px) {

.form-group button {
	margin-top: 30px;
}

.payment-summary {
	padding: 15px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.payment-confirmed {
	padding: 15px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
}

.payment-confirmed h1 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 30px;
}

.payment-confirmed p {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom:15px;
}

.barcode img {
	max-width: 300px;
}

.blue-border {
	border-top: none;
}

#building-and-street {
	margin-bottom: 10px;
	width: 90%;
}

#town-or-city {
	width: 70%;
}

#email-address {
	width: 90%;
}

#card-number {
	width: 90%;
}

#full-name {
	width: 90%;
}



}

// PayPal pages

