// Fee Display
// ==========================================================================

.fee-display {
  margin: 0.25em 0;
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
}

@media (min-width: 641px) {
  .fee-display {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}