// Fee Display
// ==========================================================================

.payment-zone table.ncoltable1 th, .payment-zone table.ncoltable1 td, .payment-zone table.ncoltable2 th, .payment-zone table.ncoltable2 td, .payment-zone table.ncoltable3 th, .payment-zone table.ncoltable3 td {
  border: none;
  font-size: 19px
}

.payment-zone table.ncoltable2 {
  border-bottom: 1px solid #dee0e2;
  border-top: 1px solid #dee0e2;
  margin-top: 30px;
  padding: 30px 0
}

.payment-zone table.ncoltable1 {
  padding-bottom: 30px
}

.payment-zone table.ncoltable2, .payment-zone table.ncoltable2 tbody {
  display: block
}

.payment-zone table.ncoltable2 td, .payment-zone table.ncoltable2 th, .payment-zone table.ncoltable2 tbody td, .payment-zone table.ncoltable2 tbody th {
  padding: 0;
  vertical-align: bottom
}

.payment-zone table.ncoltable2 td.ncoltxtl2, .payment-zone table.ncoltable2 td.ncolinput, .payment-zone table.ncoltable2 tbody td.ncoltxtl2, .payment-zone table.ncoltable2 tbody td.ncolinput {
  display: block;
  width: 100% !important
}

.payment-zone table.ncoltable1 td:first-child {
  width: 15%
}

.payment-zone table.ncoltable1 td:last-child {
  font-weight: bold
}

.payment-zone .ncolh1 b small {
  display: block;
  font-size: 24px;
  margin-bottom: 30px;
  padding: 0 0 7.5px 0;
  width: 100%
}

.payment-zone table.ncoltable2 .ncolline1[width='5%'], .payment-zone table.ncoltable2 .ncolline1[width='40%'], .payment-zone table.ncoltable2 .ncolline2[width='5%'] {
  display: none
}

.payment-zone table.ncoltable3 {
  margin-top: 100px
}

.payment-zone #ncol_cancel, .payment-zone #btn_Back {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
  margin: 0 15px 15px 0;
  vertical-align: top;
  margin-right: 0;
  padding-top: 7.5px;
  padding-bottom: 7.5px
}

.payment-zone #ncol_cancel:visited, .payment-zone #btn_Back:visited {
  background-color: #dee0e2
}

.payment-zone #ncol_cancel:hover, .payment-zone #ncol_cancel:focus, .payment-zone #btn_Back:hover, .payment-zone #btn_Back:focus {
  background-color: #d0d3d6
}

.payment-zone #ncol_cancel:active, .payment-zone #btn_Back:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2
}

.payment-zone #ncol_cancel.disabled, .payment-zone #ncol_cancel[disabled="disabled"], .payment-zone #ncol_cancel[disabled], .payment-zone #btn_Back.disabled, .payment-zone #btn_Back[disabled="disabled"], .payment-zone #btn_Back[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5
}

.payment-zone #ncol_cancel.disabled:hover, .payment-zone #ncol_cancel[disabled="disabled"]:hover, .payment-zone #ncol_cancel[disabled]:hover, .payment-zone #btn_Back.disabled:hover, .payment-zone #btn_Back[disabled="disabled"]:hover, .payment-zone #btn_Back[disabled]:hover {
  cursor: default;
  background-color: #dee0e2
}

.payment-zone #ncol_cancel.disabled:active, .payment-zone #ncol_cancel[disabled="disabled"]:active, .payment-zone #ncol_cancel[disabled]:active, .payment-zone #btn_Back.disabled:active, .payment-zone #btn_Back[disabled="disabled"]:active, .payment-zone #btn_Back[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe
}

.payment-zone #ncol_cancel:link, .payment-zone #ncol_cancel:hover, .payment-zone #ncol_cancel:focus, .payment-zone #ncol_cancel:visited, .payment-zone #btn_Back:link, .payment-zone #btn_Back:hover, .payment-zone #btn_Back:focus, .payment-zone #btn_Back:visited {
  color: #0b0c0c
}

.payment-zone #ncol_cancel:before, .payment-zone #btn_Back:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0
}

.payment-zone #ncol_cancel:active:before, .payment-zone #btn_Back:active:before {
  top: -10%;
  height: 120%
}

.payment-zone #ncol_cancel[rel="external"]:after, .payment-zone #btn_Back[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0
}

.payment-zone #ncol_cancel:focus, .payment-zone #btn_Back:focus {
  outline: 3px solid #ffbf47
}

.payment-zone #ncol_cancel[disabled="disabled"], .payment-zone #btn_Back[disabled="disabled"] {
  background: #00823b
}

.payment-zone #ncol_cancel[disabled="disabled"]:focus, .payment-zone #btn_Back[disabled="disabled"]:focus {
  outline: none
}

.payment-zone table.ncoltable3 {
  position: relative
}

.payment-zone table.ncoltable3 table {
  position: absolute;
  top: -85px
}

.payment-zone table.ncoltable3 .ncollogoc {
  float: left;
  width: auto !important
}

.payment-zone table.ncoltable2 tr:first-child td:first-child small {
  font-size: 19px;
  font-weight: bold
}

.payment-zone table.ncoltable2 small label {
  font-size: 19px
}

.payment-zone table.ncoltable2 tr td[colspan="2"] small small {
  display: none
}

.payment-zone table.ncoltable2 label[for="Ecom_Payment_Card_Name"]:before {
  content: '* Mandatory fields';
  display: block;
  font-size: 16px;
  line-height: 4
}

.payment-zone table.ncoltable2 input {
  font-size: 19px;
  margin: 7px 0 30px 0;
  width: 100%
}

.payment-zone table.ncoltable2 #Ecom_Payment_Card_Verification {
  width: 30%
}

.payment-zone table.ncoltable2 select {
  font-size: 19px;
  margin: 7px 0 30px 0
}

.payment-zone table.ncoltable2 select:first-child {
  margin-right: 0.5em
}

.payment-zone table.ncoltable2 select:last-child {
  margin-left: 0.5em
}

.payment-zone #submit3 {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  margin: 0 15px 15px 0;
  vertical-align: top;
  margin-right: 300px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  width: auto
}

.payment-zone #submit3:visited {
  background-color: #00823b
}

.payment-zone #submit3:hover, .payment-zone #submit3:focus {
  background-color: #00692f
}

.payment-zone #submit3:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  -moz-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b
}

.payment-zone #submit3.disabled, .payment-zone #submit3[disabled="disabled"], .payment-zone #submit3[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5
}

.payment-zone #submit3.disabled:hover, .payment-zone #submit3[disabled="disabled"]:hover, .payment-zone #submit3[disabled]:hover {
  cursor: default;
  background-color: #00823b
}

.payment-zone #submit3.disabled:active, .payment-zone #submit3[disabled="disabled"]:active, .payment-zone #submit3[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518
}

.payment-zone #submit3:link, .payment-zone #submit3:hover, .payment-zone #submit3:focus, .payment-zone #submit3:visited {
  color: #fff
}

.payment-zone #submit3:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0
}

.payment-zone #submit3:active:before {
  top: -10%;
  height: 120%
}

.payment-zone #submit3[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0
}

.payment-zone #submit3:focus {
  outline: 3px solid #ffbf47
}

.payment-zone #submit3[disabled="disabled"] {
  background: #00823b
}

.payment-zone #submit3[disabled="disabled"]:focus {
  outline: none
}

.payment-zone table.ncoltable2 input[type="image"], .payment-zone table.ncoltable2 img {
  border: 1px solid #231f20;
  border-radius: 4px;
  float: right;
  display: inline-block;
  max-height: 25px;
  margin: 0 15px 0 0 !important;
  padding: 10px;
  width: auto
}

.payment-zone table.ncoltable2 img {
  float: none;
  margin-top: 10px !important
}

.payment-zone table.ncoltable2 .ncolline2 input[type="image"] {
  float: none;
  left: 0;
  position: relative;
  top: -46px
}

.payment-zone table.ncoltable2 .ncolline2 input[type="image"] + small {
  position: relative;
  top: -25px
}
