// GOV.UK Pay
// ==========================================================================

.form-download {
  padding: 0.25em 0 0.25em 0;

  p {
    padding-right: 3em;
  }

  a {
    display: block;
    font-weight: 600;
    background: url("../images/icon-file-download.png") no-repeat scroll 0 0;
    min-height: 2.5em;
    padding:0 0 0 2.5em;

    @include device-pixel-ratio() {
      background-image: image-url("icon-file-download-2x.png");
      background-size: 25px 25px;
    }
  }

  a[rel="external"]:after {
    content: none;
  }
}

.card-images{
  img{
    height: 35px;
  }
}

.card-image{
  height: 60px;
  vertical-align: middle;
  margin-left: 20px;
}

table{
  margin-bottom: 30px;
}

.payment-summary {
  border-top: 3px solid #1d70b8;
  background-color: #F8F8F8;
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  h2{
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 15px;
  }
}

.form-group.form-group-price{
  display: block;
  float: none;
  width: 75px;
}

.form-group.form-group-product-name{
  display: block;
  width: 350px;
}

