// Task list
// ==========================================================================

@media (min-width: 641px) {
  .task-list-home .inner-block {
    margin: 0 30px;
  }

  .task-list-home .inner-block.floated-children {
    margin: 0 15px;
  }
}

.task-list-home .floated-inner-block {
  margin: 0 15px;
}

.task-list-home hr {
  margin: 30px 15px 15px;
  clear: both;
  border: 5px solid #0b0c0c;
  border-width: 5px 0 0;
}

@media (min-width: 641px) {
  .task-list-home hr {
    margin: 60px 30px 30px;
  }
}

.task-list-home .homepage-top {
  text-align: center;
  background: #005ea5;
  color: #fff;
}

.task-list-home .homepage-top .homepage-top-inner {
  position: relative;
  overflow: hidden;
  max-width: 1020px;
  margin: 0 auto;
  text-align: left;
}

.task-list-home .welcome-block h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  font-weight: bold;
  padding: 25px 0 15px;
}

@media (min-width: 641px) {
  .task-list-home .welcome-block h1 {
    font-size: 48px;
    line-height: 1.04167;
  }
}

.task-list-home .welcome-block p {
  margin: 0 0 1em;
}

.task-list-home .welcome-block p.bold {
  font-weight: bold;
}

@media (min-width: 641px) {
  .task-list-home .welcome-block .welcome-text {
    width: 66.66%;
  }

  .task-list-home .welcome-block .content-links {
    position: absolute;
    top: 0;
    left: 66%;
    width: 33.33%;
  }
}

.task-list {
  font-size: 24px;
  border-top: 1px solid #bfc1c3;
  list-style-position: inside;
  padding-left: 0;
  margin-top: 45px;
  margin-bottom: 45px;
}

.task-list li {
  padding: 15px 0;
  border-bottom: 1px solid #bfc1c3;
  margin: 0;
  position: relative;
}

.task-list a.task-link {
  font-weight: bold;
  display: block;
}

.task-list span.task-status {
  display: none;
  position: absolute;
  right: 5px;
  top: 20px;
  padding: 2px 5px 0;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background-color: #0b0c0c;
}

.task-list a.button-start {
  position: absolute;
  right: 5px;
  top: 20px;
}

// Guidance styling

.pattern_nav li {
  font-size: 16px;
}

.design-pattern {
  font-size: 19px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

// check before you start styling

#between-big-number {
  font-size: 48px;
  font-weight: 400;
}

// task list styling

#table-of-tasks td {
  border-bottom: 1px solid #bfc1c3;
}

.task-group {
  font-size: 30px;
  font-weight: 700;
}

.task {
  font-size: 19px;
  font-weight: 700;
  color: $link-colour;
}

.task a {
  text-decoration: none;
}

.task-name {
  font-size: 19px;
  font-weight: 400;
  margin-left: 5%;
  text-decoration: underline;
}

.task-name:hover {
  text-decoration: underline;
}

.task-description {
  font-size: 16px;
  font-weight: 400;
}

.task-tag {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0;
  padding: 3px 6px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: $black;
}

.task-finished {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0;
  padding: 3px 6px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  //  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #28a197;
  //  border: 3px solid #0B0C0C;
}

// .task-started {
//     display: inline-block;
//     vertical-align: top;
//     margin: 0 0 0 0;
//     padding: 2px 5px 0;
//     font-family: "nta", Arial, sans-serif;
//     font-size: 16px;
//     line-height: 1.25;
//     font-weight: 700;
//     text-transform: none;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     text-decoration: none;
//     color: #005EA5;
//     background-color: #FFFFFF;
//     border: 3px solid #005EA5;
// }

.task-name-no-margin {
  font-size: 19px;
  font-weight: 400;
}


// cost and time

.total-cost {
  font-size: 80px;
  font-weight: 700;
}

.varying-cost {
  font-size: 16px;
  font-weight: 700;
}

// insurance training

#type-of-thing {
  background: $secondary-text-colour;
}

// status overview

.actions {
  margin-top: 18px;
}

.action {
  font-weight: 700;
}

.action a {
  text-decoration: none;
}

.action a:hover {
  text-decoration: underline;
}

.task-heading {
  font-size: 19px;
  font-weight: 700;
}

.application_number {
  font-size: 36px;
  font-weight: 700;
}

.valid-licence {
  background-color: #005EA5;
}

.design-update {
  font-size: 14px;
}

.bold-date {
  font-weight: 700;
  color: #000000;
}

.task-description {
  font-size: 19px;
  font-weight: 400;
  color: #0B0C0C;
}

// Add multiple vehciles in questions for /transport_goods/task_list/describe_vehicles/has_vehicles_already

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.remove-list-item {
  display: inline-block;
  margin-top: 1.6em;
}

.list-item-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.list-item-wrapper .heading-small,
.list-item-wrapper .heading-medium,
.list-item-wrapper .heading-large,
.list-item-wrapper .heading-xlarge {
  margin-top: 0;
}

.list-item-wrapper .column-one-third .list-item {
  width: 100%;
}

.list-item-wrapper .column-one-third input {
  width: 90%;
}

.button-add-another {
  background-color: #eee;
  color: #000;
  box-shadow: 0 2px 0 #666;
}

.button-add-another:hover {
  background-color: #ccc;
  color: #000;
  box-shadow: 0 2px 0 #666;
}

.button-add-another:focus {
  background-color: #ccc;
  color: #000;
  box-shadow: 0 2px 0 #666;
}

@media (max-width: 640px) {
  .list-item-wrapper .column-one-third input {
    width: 100%;
  }

  .no-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-add-another {
    width: 90%;
    margin: auto;
    display: block;
  }
}
