{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Do you want to make a counter offer?
      </h1>

        <form
          name="aspnetForm"
          method="post"
          onsubmit="multiNavigation('radio-indent-group', ['Yes', 'No-defendant-done-with-offers', 'No'],
                        ['../make-offer?makecounteroffer=true&',
                          'check-answers?makecounteroffer=false&',
                          'allow-another-offer?makecounteroffer=false&']);return false;"
          id="aspnetForm"
          autocomplete="off">

          <div class="form-group">
            <fieldset>

                <div class="multiple-choice" data-target="accept">
                  <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
                  <label for="radio-yes" data-target="yes-info">Yes</label>
                </div>

                <!-- responding without a counter offer -->

                  {% if data['theclaimant'] == 'false'  %}
                      <div class="multiple-choice" data-target="counter">
                          <input id="radio-counter" type="radio" name="radio-indent-group" value="No-defendant-done-with-offers">
                          <label for="radio-counter" data-target="no-info">No</label>
                      </div>
                  {% else %}
                      <div class="multiple-choice" data-target="counter">
                        <input id="radio-counter" type="radio" name="radio-indent-group" value="No">
                        <label for="radio-counter" data-target="no-info">No</label>
                      </div>
                  {% endif %}




              <!--
              <div class="panel panel-border-narrow js-hidden" id="counter">
                <p>If you reject the offer you can't mention it in court.</p>
              </div>
              -->
            </fieldset>
            <input id="advert-option-next--button" type="submit" value="Continue" class="button"
                   data-ignore-double-submit="true">
          </div>

        </form>
    </div>
  </div>
  {% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>



<form method="post"  action="#" class="for4" style=" float: left; ">
  <select style="height:25px;" onchange="window.location.href='?'+this.value">
    <option value="newoffer=false&"
            {% if data['newoffer'] != 'true'  %}selected{% endif %}
            >Old type of offer</option>

    <option value="newoffer=true&"
            {% if data['newoffer'] == 'true'  %}selected{% endif %}
            >New type of offer</option>

  </select>
</form>

{% endblock %}
