{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">



  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>


      <h1 class="heading-large">
        Can the mediation service use 07123&nbsp;456789 to call you?
      </h1>



      <form
      name="aspnetForm"
      method="post"
      id="aspnetForm"
      autocomplete="off"
      onsubmit="multiNavigation('radio-mediation-group-4', ['Yes', 'No'], ['claimant-complete', 'claimant-complete']);return false;"
      >



        <div class="form-group">
          <fieldset class="inline">





            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-mediation-group-4" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes</label>
            </div>



              <div class="multiple-choice" data-target="no">
                <input id="radio-no" type="radio" name="radio-mediation-group-4" value="No">
                <label for="radio-no">No</label>
              </div>

	  
	            <div class="panel panel-border-narrow js-hidden" id="no">
            <p>Enter a phone number the mediation service can use. We won't give the number to anyone else.</p>
			          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="text">
          </div>

              </fieldset>
              <input type="hidden" name="mediation" value="complete">


        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>



            </div>
          </form>
          <p></p><br>


          </div>
        </div>
      {% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
