{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Get information about a childminder      
      </h1>

      <p>Use this service to find:</p>

      <ul class="list list-bullet">
        <li>when a childminder registered</li>
        <li>where a childminder is registered</li>
        <li>what a childminder is licensed to do</li>
        <li>inspection reports</li>
      </uL> 

      <p>Checking takes around 2 minutes.</p>

      <p>
        <a class="button button-start" href="/get_information/search" role="button">Check now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">check by post.</a></p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">DBS checks</a></li>
            <li><a href="#">Find a registered childminder</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>



</main>

{% endblock %}
