{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/get_information/result" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Details of childminder being checked
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Details of childminder being checked
          </legend>

          <p>To make an enquiry enter a childminder's name, postcode or registration number.</p>

          <div class="form-group">
            <label class="form-label" for="name">Name (optional)</label>
            <span class="form-hint">For example Ginny Weasley</span>
            <input class="form-control" id="name" name="name" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="postcode">Postcode (optional)</label>
            <span class="form-hint">For example SW1A 2AA</span>
            <input class="form-control" id="postcode" name="postcode" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="registration_numbeer">Registration number (optional)</label>
            <span class="form-hint">For example EY478933</span>
            <input class="form-control" id="registration_numbeer" name="registration_numbeer" type="text">
            
            
            <details style="margin-top:13px;">

              <summary><span class="summary">Where to find this</span></summary>

              <div class="panel panel-border-narrow">

                <p>
                  The number can be found on the childminder's Ofsted Certificate of registration.
                </p>

                <p>
                  Every childminder should have their certificate on display or at hand for people to see.
                </p>

              </div>

            </details>
            

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Search" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
