{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">Search 'Money claims' in your email</h1>

        <p class="lede">You should have an email that allows you to return your application from when you last worked on it.</p>

        <p><a href="#">Resend this email</a></p>

    </div>
  </div>

</main>
{% endblock %}
