{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

      <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
      <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">
        {% else %}
        <form method="post" action="../../task-list" class="form">
          {% endif %}

          {{formData | safe}}

          <h1 class="heading-large">
            Total amount you're claiming
          </h1>

          <fieldset>
            <legend class="visuallyhidden">
              Total amount you're claiming
            </legend>

            <table class="table-form">
              <caption class="visuallyhidden"></caption>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th class="numeric last" scope="col">Amount</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th scope="col"></th>
                  <td class="numeric last"><span id="totalAmountDisplay" class="bold-medium">£1583.00</span></td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <th scope="row">Counterclaim amount:</th>
                  <td class="numeric last">
                    <label class="visuallyhidden" for="amount">Counterclaim amount</label>
                    <span class="font-small">  £{{data['totalSum']}}</span>
                  </td>
                </tr>
                {% if data['interest-date']=="Particular date" %}

                <tr>
                  <th scope="row">Interest to date:</th>
                  <td class="numeric last">
                    <label class="visuallyhidden" for="amount">:  </label>

                    <span id="interestValue" class="font-small">£13</span>

                  </td>
                </tr>
                {% endif %}
                <tr>
                  <th scope="row">Counterclaim fee:</th>
                  <td class="numeric last">
                    <label class="visuallyhidden" for="amount">Claim fee</label>


                    <span id="interestValue" class="font-small">£70</span>

                  </td>
                </td>
              </tr>
            </tbody>
          </table>

          <br>

          <input type="hidden" name="counterclaim_amount" value="complete">

        </fieldset>

        <!--<details>-->

        <!--<summary>-->
        <!--<span class="summary">Help with...</span>-->
        <!--</summary>-->

        <!--<div class="panel panel-border-narrow">-->
        <!--<p>Content goes here...</p>-->
        <!--</div>-->

        <!--</details>-->


        <div class="form-group">
          <input type="submit" class="button" value="Continue"/>
        </div>

      </form>

    </div>
  </div>
</main>

<script type="text/javascript">
  (function numericInputsSum(targetSpanId, claimAmount, interestValue) {

    claimAmount = parseInt(claimAmount.replace(',', '')) + interestValue;

    var x = '£' + parseFloat(claimAmount, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();

    if (x.endsWith('.00')) {
      x = x.replace('.00', '');
    }

    $('#' + targetSpanId).text(x);
    $('#totalClaimAmount').val(x)


  })('totalAmountDisplay', "{{data['totalSum']}}", {{data['interest-rate']=="No interest"}} || {{data['interest-date']!="Particular date"}} ? 70 : 83)
</script>

{% endblock %}
