{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <!--<div class="breadcrumbs">-->
    <!--<ol>-->
      <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
      <!--</ol>-->
      <!--</div>-->
      <div class="grid-row">
        <div class="column-two-thirds">
          <a href="#" class="link-back">Back</a>
          <h1 class="heading-large">Make a legal agreement</h1>






          <p>You can make a legal agreement to settle out of court. It's based on any offers made using this service. It has not been reviewed by the court.</p>

          {% if  data['defendant'] != "defendant_signed"%}
          <p>The agreement is a legal contract between you and {% if data['defendant'] == "defendant" %}Jan Clark{% else %}Mary Richards{% endif %}.</p>
          {% endif %}
          {% if data['defendant'] == "defendant_signed" %}
          You can avoid getting a County Court Judgment (CCJ) if you settle out of court. There will be no public record of the claim.</p>
         <p>The agreement is a legal contract between you and Jan Clark.</p>

          {% endif %}







          </ul>

          <a href="agreement/offer" class="button">Make an agreement</a>
        </div>
      </div>
    </main>
    {% endblock %}
