{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">Terms of the agreement</h1>


<p >You need to sign the agreement.</p>


      <br>
      <table class="offer-table">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The offer</td>


            {% if data['defendant'] == "defendant" %}
            <td>Jan Clark: I'll pay a maximum of £100 towards any new materials.

            {% else %}
            <td>
              Mary Richards: I will fix the roof if you'll give me access and pay for any extra materials.
            {% endif %}
            </td>
          </tr>
          <tr>
            <td>Completion date</td>
            <td>1 December 2018</td>
          </tr>
        </tbody>
      </table>
      <div>
        <h3 class="heading-medium"></h3>

        <p>This agreement settles the claim made by Jan Clark against Mary Richards. This includes all money owed in the claim, for example court fees, expenses or interest.</p>
        <p>This agreement puts the claim on hold. Neither party can make any further claims relating to this case, other than to enforce it.</p>
        <p>Either party can view and download this agreement from their money claims account. Both parties should keep a copy of this agreement.</p>


        <h3 class="heading-medium">If the agreement is broken</h3>
        <p>Either party can apply to:</p>
        <ul class="list list-bullet">
          <li>request a judgment for any money still owed from this agreement</li>
          <li>resume the original claim or counterclaim for the full amount of the claim</li>
          <li>ask the court to enforce any of the steps to be taken</p>
        </ul>

        <p>To apply, download and complete form N244 from HMCTS Formfinder and send it to the County Court Business Centre. You need to say on the form which of the 3 options you're applying for.</a></p>


        </p>
      </div>
      <h2 class="heading-medium">Sign the agreement</h2>

      <p>Make sure this agreement includes everything you've agreed with Mary Richards before signing. You won't be able to change this later.</p>
      <div class="form-group">
        <div class="multiple-choice text">
          <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
          <label for="HasAcceptedTermsAndConditions">I confirm I've read and accept the terms of the agreement.</label>
        </div>
      </div>

      <a href="confirmation-page" class="button">Sign and submit</a>
      <fieldset></fieldset>
    </div>
  </div>
</main>
{% endblock %}
