{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">Your agreement</h1>


{% if data['defendant'] == "claimant_signed" or data['defendant'] == "defendant_signed"%}
<p >You need to sign the agreement.</p>
{% else %}
      <p >Both you and {% if data['defendant'] == "defendant" or data['defendant'] == "defendant_signed" %}Jan Clark{% else %}Mary Richards {% endif %} need to sign this agreement for it to become a legal contract.</P>

{% endif %}

      <br>
      <table class="offer-table">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The offer</td>


            {% if data['defendant'] == "defendant" %}
            <td>Jan Clark: I'll pay a maximum of £100 towards any new materials.

            {% else %}
            <td>
              Mary Richards: I will fix the roof if you'll give me access and pay for any extra materials.
            {% endif %}
            </td>
          </tr>
          <tr>
            <td>Completion date</td>
            <td>1 December 2018</td>
          </tr>
        </tbody>
      </table>
      <div>
        <h3 class="heading-medium">Terms of the agreement</h3>
        <p>This agreement settles the claim made by Jan Clark against Mary Richards. This includes all money owed in the case, for example counterclaims, court fees, expenses or interest.</p>
        <p>This agreement replaces the claim. Neither of you can make any further claims relating to this case.</p>

        <p>This agreement is confidential until you've both signed it. After that it can be used in court, for example if the agreement is broken.

        <p>You can view and download this agreement at any time from your money claims account.</p>

        <h3 class="heading-medium">If the agreement is broken</h3>
        <p>Either of you can apply to:</p>
        <ul class="list list-bullet">
          <li>request a judgment for any money still owed from this agreement</li>
          <li>restart the original claim or counterclaim for the full amount of the claim</li>
        </ul>
        <p>You should complete form N244</a> and send it to the <a href="">County Court Business Centre</a>. You need to say on the form which of the 2 options you're applying for.</a></p>
        <p>The original claim and any counterclaims will be kept on hold in case this agreement is broken. They will be closed on [date] if we don't hear from either of you.</p>


        </p>
      </div>
      <h2 class="heading-medium">Sign the agreement</h2>
      <div class="form-group">
        <div class="multiple-choice text">
          <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
          <label for="HasAcceptedTermsAndConditions">I confirm I've read and accept the terms of the agreement.</label>
        </div>
      </div>

      <a href="confirmation-page" class="button">Sign and submit</a>
      <fieldset></fieldset>
    </div>
  </div>
</main>
{% endblock %}
