{% extends "layout_task-list.html" %}
{% block page_title %}
Check your answers
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <h1 class="heading-large">
    Check your answers before submitting your response 
  </h1>
  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium" id="name">
            Your details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Name
        </td>
        <td>
         {{data['defendant_title']}} Mary Richards
       </td>
       <td class="change-answer">
        <a href="../task-list/your-details/index?return_page={{ '../../task-list/your-details/check-your-answers' | urlencode }}">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    <tr>
      <tr>
        <td class="no-border">
          Address
        </td>
        <td class="no-border">
          101 Regents road<br>
          Shiplake<br>
          Henley on Thames<br>
          RG9 4BW 
        </td>
        <td class="no-border change-answer">
          <a href="../task-list/your-details/address?return_page={{ '../../task-list/your-details/check-your-answers' | urlencode }}">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr class="">
        <td>
          Correspondence address
        </td>
        <td>
          {% if data['correspondence-address']=="Yes" %}
          {{data['d-addressLine1']}}<br>
          {{data['d-addressLine2']}}<br>
          {{data['d-address-town']}}<br>
          {{data['d-addressPostcode']}}<br>
          {% else %} 
          Same as address<br>
          {% endif %} 
        </td>
        <td class="change-answer">
        </td>
      </tr>      
      <tr>
        <td>
          Date of birth
        </td>
        <td>
          {% if data['day']!="" %}
          {{data['day']}} {{data['month']}} {{data['year']}}
          {% elseif data['day']=="" %} 
          31 01 1978
          {% endif %} 
        </td>
        <td class="change-answer">
          <a href="../task-list/your-details/date-of-birth?return_page={{ '../../task-list/your-details/check-your-answers' | urlencode }}">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <tr>
          <td>
            Telephone (optional)
          </td>
          <td>
            {% if data['defendant-phone']!="" %}
            {{data['defendant-phone']}}
            {% elseif data['defendant-phone']=="" %} 
            07827999612
            {% endif %} 
          </td>
          <td class="change-answer">
            <a href="../task-list/your-details/number?return_page={{ '../../task-list/your-details/check-your-answers' | urlencode }}">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        <tr>
        </tbody>
      </table>
      <table class="check-your-answers">
        <thead>
          <tr>
            <th colspan="2">
              <h2 class="heading-medium" id="money-owed">
                Do you owe the money claimed?
              </h2>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">
              Do you owe the money claimed?
            </td>
            <td class="">
              {% if data.radio_select_group=="all" or data['check']== 1 or data['check']== 2 or data['check']== 3%}
              I admit all of the claim
              {% elseif data.radio_select_group=="Some" or data['check']== 4 or data['check']== 5 or data['check']== 6 or data['check']== 7%}
              I reject part of the claim 
              {% elseif data.radio_select_group=="reject" or data['check']== 8 or data['check']== 9%}
              I reject all of the claim
              {% else %}
              I admit all of the claim
              {% endif %} 
            </td>
            <td class=" change-answer">
              <a href="../task-list/do-you-owe-money/index?return_page={{  '../../task-list/do-you-owe-money/check-your-answers' | urlencode }}">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>
          {% if data.radio_select_group=="Some" or data['check']== 4 or data['check']== 5 or data['check']== 6 or data['check']== 7 %}
          <tr>
            <td>
              Why are you rejecting part of this claim?
            </td>
            <td>
              {% if data.radio_select_group2=="Some" or data['check']== 4 or data['check']== 5 or data['check']== 6%}
              The claim amount is too much
              {% elseif data.radio_select_group2=="Paid-some" or data['check']== 7 %}
              I've paid what I believe I owe 
              {% else %}
              I've paid what I believe I owe 
              {% endif %} 
            </td>
            <td class="change-answer">
              <a href="../task-list/do-you-owe-money/partial-defence-options?return_page={{  '../../task-list/do-you-owe-money/check-your-answers' | urlencode }}">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>
          {% elseif data.radio_select_group=="reject" or data['check']== 8 or data['check']== 9 %}
          <tr>
            <td>
              Why do you reject all the claim?
            </td>
            <td>
              {% if data.radio_select_group2=="Paid" or data['check']== 8 %}
              I've already paid the claim in full
              {% elseif data.radio_select_group2=="defend_now" or data['check']== 9 %}
              I dispute the claim 
              {% else %}
              I've already paid the claim in full
              {% endif %} 
            </td>
            <td class="change-answer">
              <a href="../task-list/do-you-owe-money/defence-options?return_page={{  '../../task-list/do-you-owe-money/check-your-answers' | urlencode }}">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>
          {% else %}
          {% endif %} 
        </tbody>
      </table>
      {% if   data.radio_select_group2=="Some" or data['check']== 4 or data['check']== 5 or data['check']== 6 or data['check']== 7 or data['check']== 9 or data['check']== 8%}
      <table class="check-your-answers">
        <thead>
          <tr>
            <th colspan="2">
              <h2 class="heading-medium">
                Your response
              </h2>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% if data.radio_select_group2=="Some" or data.radio_select_group2=="Paid-some" or data.radio_select_group2=="paid" or data['check']== 4 or data['check']== 5 or data['check']== 6  %}<!-- start of partial -->
          <tr>
            <td class="">
              How much money do you believe you owe
            </td>
            <td class="">
              {% if data['owe-amount']!="" %}
              £{{data['owe-amount']}}
              {% else %}
              £2000
              {% endif %} <!-- end of partial -->
            </td>
            <td class="change-answer ">
              <a href="#">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>
          <tr>
            <td class="">
              Why this is what you owe?
            </td>
            <td class="">
              {% if data['owe-reason']!="" %}
              {{data['owe-reason']}}
              {% else %}
              I've already paid a large amount
              {% endif %} <!-- end of partial -->
            </td>
            <td class="change-answer ">
              <a href="#">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>      
          {% elseif data.radio_select_group2=="Paid-some" or data['check']== 7 %}
          <tr>
            <td class="no-border">
              How much have you paid the claimant?
            </td>
            <td class="no-border">
              {% if data['amount-paid']!="" %}
              £{{data['amount-paid']}}
              {% else %}
              £2000
              {% endif %} <!-- end of partial -->
            </td>
            <td class="change-answer no-border">
              <a href="#">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>
          <tr class="">
            <td class="no-border">
              When did you pay this amount?
            </td>
            <td class="no-border">
              {% if data['amount-day']!="" %}
              {{data['amount-day']}} {{data['amount-month']}} {{data['amount-year']}}
              {% else %} 
              31 01 2018
              {% endif %} 
            </td>
            <td class="no-border">
            </td>
          </tr>
          <tr>
            <td class="">
              Explain why you don't owe the full amount
            </td>
            <td class="">
              {% if data['owe-reason']!="" %}
              {{data['owe-reason']}}
              {% else %}
              I've already paid a large amount
              {% endif %} <!-- end of partial -->
            </td>
            <td class="change-answer ">
            </td>
          </tr>         
          {% elseif data.radio_select_group2=="paid" or data['check']== 8 %}
          <tr>
            <td class="no-border">
              How much have you paid the claimant?
            </td>
            <td class="no-border">
              {% if data['amount-paid']!="" %}
              £{{data['amount-paid']}}
              {% else %}
              £2000
              {% endif %} 
            </td>
            <td class="change-answer no-border">
              <a href="#">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>
          <tr class="">
            <td class="no-border">
              When did you pay this amount?
            </td>
            <td class="no-border">
              {% if data['amount-day']!="" %}
              {{data['amount-day']}} {{data['amount-month']}} {{data['amount-year']}}
              {% else %} 
              31 01 2018
              {% endif %} 
            </td>
            <td class="no-border">
            </td>
          </tr>
          <tr>
            <td class="">
              Any additional comments (optional).
            </td>
            <td class="">
              {% if data['owe-reason']!="" %}
              {{data['owe-reason']}}
              {% else %}
              I've already paid a large amount
              {% endif %} <!-- end of partial -->
            </td>
            <td class="change-answer ">
            </td>
          </tr>      
          {% endif %} <!-- end of partial -->
          {% if data['radio_select_group2']=="defend_now" or data['check']== 9 %} <!-- start of defend --> 
          <tr>
            <td>
              Why you disagree with the claim
            </td>
            <td>
              {% if data['defence-disagree-claim']!="" %}
              {{data['defence-disagree-claim']}}
              {% else %} 
              Mary Richards and I signed a contract for building works on our roof. The work on the roof was completed but there was a problem with one section. I asked Mary Richards to get the problem fixed, but hadn't had a reply.
              I'll have to get another builder to rectify the problem which will cost me £1,500.
              Therefore, I'm making a money claim for £1,500 to compensate for the extra money I am going to need to spend.
              {% endif %} 
            </td>
            <td class="change-answer">
              <a href="#">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>
          <tr>
            {% endif %}  <!-- start of defendnow--> 
            {% if data['radio_select_group2']=="defend_now" or data.radio_select_group2=="Some" or data.radio_select_group2=="Paid-some" or data['check']== 4 or data['check']== 5 or data['check']== 6 or data['check']== 7 or data['check']== 9%} <!-- start of time-line and evidence -->
            <tr>
              <td class="no-border">
                Your timeline of events (optional)
              </td>
              <td class="no-border">
               {% if data['cd-date-1'] !='' %}
               {{data['cd-date-1']}} - {{data['cd-timeline-1']}}<br>
               {% if data['cd-date-2'] !='' %}
               {{data['cd-date-2']}} - {{data['cd-timeline-2']}}<br>
               {% endif %}
               {% if data['cd-date-3'] !='' %}
               {{data['cd-date-3']}} - {{data['cd-timeline-3']}}<br>
               {% endif %}
               {% if data['cd-date-4'] !='' %}
               {{data['cd-date-4']}} - {{data['cd-timeline-4']}}<br>
               {% endif %}
               {% else %} 
               -
               {% endif %}  
             </td>
             <td class="change-answer no-border">
              <a href="#">
                Change <span class="visuallyhidden">Name</span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
             Comments about their timeline (optional)
           </td>
           <td>
             {% if data['defence-disagree-timeline']!="" %}
             {{data['defence-disagree-timeline']}} 
             {% else %} 
             -
             {% endif %} 
           </td>
           <td class="change-answer">
           </td>
         </tr>
         <tr>
          <td class="no-border">
            Your evidence  (optional)
          </td>
          <td class="no-border">
           {% if data['legal-status1'] != true %}
           {% if data['legal-status1'] != true %}
           {% if data['legal-status1'] == 2 %}Contracts and agreements - {% endif %}
           {% if data['legal-status1'] == 3 %}Expert witness - {% endif %}
           {% if data['legal-status1'] == 4 %}Letters, emails and other correspondence - {% endif %}
           {% if data['legal-status1'] == 5 %}Photo evidence - {% endif %}
           {% if data['legal-status1'] == 6 %}Receipts - {% endif %}
           {% if data['legal-status1'] == 7 %}Contracts and agreements - {% endif %}
           {% if data['legal-status1'] == 'other' %}Statements of account - {% endif %}
           {{data['legal-status-description-1'] }}<br>
           {% endif %}        
           {% if data['legal-status2'] != true %}
           {% if data['legal-status2'] == 2 %}Contracts and agreements - {% endif %}
           {% if data['legal-status2'] == 3 %}Expert witness - {% endif %}
           {% if data['legal-status2'] == 4 %}Letters, emails and other correspondence - {% endif %}
           {% if data['legal-status2'] == 5 %}Photo evidence - {% endif %}
           {% if data['legal-status2'] == 6 %}Receipts - {% endif %}
           {% if data['legal-status2'] == 7 %}Contracts and agreements - {% endif %}
           {% if data['legal-status2'] == 'other' %}Statements of account - {% endif %}
           {{data['legal-status-description-2'] }}<br>
           {% endif %}         
           {% if data['legal-status3']  != true %}
           {% if data['legal-status3'] == 2 %}Contracts and agreements - {% endif %}
           {% if data['legal-status3'] == 3 %}Expert witness - {% endif %}
           {% if data['legal-status3'] == 4 %}Letters, emails and other correspondence - {% endif %}
           {% if data['legal-status3'] == 5 %}Photo evidence - {% endif %}
           {% if data['legal-status3'] == 6 %}Receipts - {% endif %}
           {% if data['legal-status3'] == 7 %}Contracts and agreements - {% endif %}
           {% if data['legal-status3'] == 'other' %}Statements of account - {% endif %}
           {{data['legal-status-description-3'] }}<br>
           {% endif %} 
           {% if data['legal-status4']  != true %}
           {% if data['legal-status4'] == 2 %}Contracts and agreements - {% endif %}
           {% if data['legal-status4'] == 3 %}Expert witness - {% endif %}
           {% if data['legal-status4'] == 4 %}Letters, emails and other correspondence - {% endif %}
           {% if data['legal-status4'] == 5 %}Photo evidence - {% endif %}
           {% if data['legal-status4'] == 6 %}Receipts - {% endif %}
           {% if data['legal-status4'] == 7 %}Contracts and agreements - {% endif %}
           {% if data['legal-status4'] == 'other' %}Statements of account - {% endif %}
           {{data['legal-status-description-4'] }}<br>
           {% endif %} 
           {% else %} 
           -
           {% endif %}        
         </td>
         <td class="change-answer no-border">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Comments about their evidence  (optional)
        </td>
        <td>
         {% if data['defence-disagree-evidence']!="" %}
         {{data['defence-disagree-evidence']}}
         {% else %} 
         -
         {% endif %} 
       </td>
       <td class="change-answer">
       </td>
     </tr>
     <tr>
      <td>
        How this dispute has affected you  (optional)
      </td>
      <td>
       {% if data['defence-disagree-affect']!="" %}
       {{data['defence-disagree-affect']}}
       {% else %} 
       -
       {% endif %} 
     </td>
     <td class="change-answer">
      <a href="#">
        Change <span class="visuallyhidden">Name</span>
      </a>
    </td>
  </tr>

  {% endif %} <!-- end of time-line and evidence -->
  <tr>
  </tbody>
</table>
{% endif %}









  {% if data.radio_select_group=="all" or data.radio_select_group2=="Some" or data['check']== 1 or data['check']== 2 or data['check']== 3  or data['check']== 4 or data['check']== 5 or data['check']== 6 %}
  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            When will you pay?
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          When will you pay
        </td>
        <td>
          {% if data['radio-pay-group']=="Immediately" or data['check']== 1 or data['check']== 4%}
          Immediately
          {% elseif data['radio-pay-group']=="Instalments" or data['check']== 2  or data['check']== 5%} 
          Instalments            
          {% elseif data['radio-pay-group']=="Set-date" or data['check']== 3 or data['check']== 6%} 
          Pay by set date
          {% else %} 
          Immediately
          {% endif %} 
        </td>
        <td class="change-answer">
         <a href="../task-list/owe-all/index?return_page={{ '../../task-list/owe-all/check-your-answers' | urlencode }}">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    {% if data['radio-pay-group']=="Instalments" or data['check']== 2 or data['check']== 5%} 
    <tr>
      <tr>
        <td class="no-border">
          The first payment of
        </td>
        <td class="no-border">
          {% if data['instalment-first-payment']!="" %}
          £{{data['instalment-first-payment']}}
          {% else %} 
          £200
          {% endif %} 
        </td>
        <td class="change-answer no-border">
         <a href="../task-list/owe-all/repayment-plan?return_page={{ '../../task-list/owe-all/check-your-answers' | urlencode }}">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    <tr class="">
      <td class="no-border">
        Followed by equal instalments of
      </td>
      <td class="no-border">
        {% if data['instalment-second-payment']!="" %}
        £{{data['instalment-second-payment']}}
        {% else %} 
        £200
        {% endif %} 
      </td>
      <td class="no-border">
      </td>
    </tr>  
    <tr class="">
      <td class="no-border">
        Make the first payment on
      </td>
      <td class="no-border">
        {% if data['instalment-day']!="" %}
        {{data['instalment-day']}} {{data['instalment-month']}} {{data['instalment-year']}}
        {% else %} 
        31 March 2018
        {% endif %} 
      </td>
      <td class="no-border">
      </td>
    </tr> 
    <tr >
      <td class="">
        Frequency of payments
      </td>
      <td class="">
        {% if data['radio-payment-frequency'] %}
        {{data['radio-payment-frequency']}}
        {% else %} 
        Monthly
        {% endif %} 
      </td>
      <td class=" ">
      </td>
    </tr> 
    {% endif %}     
    {% if data['radio-pay-group']=="Set-date" or data['check']== 3 or data['check']== 6%} 
    <tr>
      <td class="no-border">
        When you'll pay the amount
      </td>
      <td  class="no-border">
        {% if data['set-day']!="" %}
        {{data['set-day']}} {{data['set-month']}} {{data['set-year']}}
        {% else %} 
        31 01 2018
        {% endif %} 
      </td>
      <td class="change-answer no-border">
        <a href="../task-list/owe-all/pay-by-set-date?return_page={{ '../../task-list/owe-all/check-your-answers' | urlencode }}">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Explain why you can't pay immediately
      </td>
      <td>
        {% if data['non-payment-reason']!="" %}
        {{data['non-payment-reason']}}
        {% else %} 
        I don't earn enough money to pay all at once
        {% endif %}
      </td>
      <td class="change-answer">
      </td>
    </tr>

    {% endif %}     
  </tbody>
</table>
{% else %}     

{% endif %} <!-- end owe some money -->


{% if   data.radio_select_group2=="Some" or data['check']== 4 or data['check']== 5 or data['check']== 6 or data['check']== 7 or data['check']== 9 %}
<table class="check-your-answers">
  <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
        Offer and mediation
        </h2>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    {% if data.radio_select_group2=="Some" or data.radio_select_group2=="Paid-some" or data.radio_select_group2=="paid" or data['radio_select_group2']=="defend_now" or data['check']== 4 or data['check']== 5 or data['check']== 6 or data['check']== 7 or data['check']== 8 or data['check']== 9 %}<!-- start of partial -->

    {% if data['radio-suggestion-group']=="Yes" %}
    <tr>
      <td class="no-border">
        Make a offer
      </td>
      <td class="no-border">
        Yes
      </td>
      <td class="change-answer no-border">
        <a href="#">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Your offer
      </td>
      <td>
        {{data['defence-suggestion']}}
      </td>
      <td class="change-answer">
        <a href="#">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    {% else %} 
    <tr>
      <td>
        Make a suggestion
      </td>
      <td>
        No
      </td>
      <td class="change-answer">
        <a href="#">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    {% endif %} 
    <tr>
      <td>
        Free mediation
      </td>
      <td>
        {% if data['radio-mediation-group']=="Yes" %}
        Yes
        {% else %} 
        No
        {% endif %}   
      </td>
      <td class="change-answer">
        <a href="#">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    {% endif %} <!-- end of time-line and evidence -->
    <tr>
    </tbody>
  </table>
  {% endif %}




<fieldset></fieldset>
<h2 class="heading-medium">Statement of truth</h2>

{% if data['claimant-type']=="Company" or data['claimant-type']=="Organisation" or data['check']==10%}

<p style="width: 65%">You must hold a senior position in your company to sign the statement of truth.</p>
<details>
  <summary>
    Types of senior position 
  </summary>
  <div class="panel">
    <p>A senior position could be a:</p>
    <ul class="list-bullet list">
     <li>director</li>
     <li>treasurer </li>
     <li>chief executive </li>
     <li>manager or other officer of the company or corporation</li>
   </ul>
   <p>If your company isn't registered, a senior position could also be the:</p>
   <ul class="list-bullet list">
    <li>mayor</li>
    <li>chairman</li>
    <li>president</li>
    <li>town clerk or other similar officer of the corporation.</li>
  </ul>
</ul>
</div>
</details>


<br>
<div class="form-group">
  <label class="form-label" for="claimant_title">Full name</label>
  <input type="text" class="form-control form-control-1-4" id="claimant_title" name="claimant_title" value="">
</div>

<div class="form-group">
  <label class="form-label" for="defendant_firstname">Role</label>
  <input class="form-control form-control-1-4" id="defendant_name" name="defendant_name" type="text"
  value="{{data['defendant_name']}}">
</div>
{% endif %}



<div class="notice text">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You could be fined or go to prison if you deliberately give untrue or misleading information.
  </strong>
</div>

<div class="form-group">
  <div class="multiple-choice text">
    <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
    <label for="HasAcceptedTermsAndConditions"> I believe that the facts stated in this claim are true.</label>
  </div>
</div>

  {% if data.radio_select_group=="all" %}
  <form method="post" action="../confirmation-page-owe-all-paid" class="form">
    {% elseif data.radio_select_group=="Some" %}
    <form method="post" action="../confirmation-page" class="form">
      {% elseif data.radio_select_group=="reject" and data.radio_select_group2!="paid" %}
      <form method="post" action="../confirmation-page" class="form">
        {% elseif data.radio_select_group2=="paid"%}
        <form method="post" action="../confirmation-page-already-paid" class="form">
          {% else %}
          <form method="post" action="../confirmation-page" class="form">
            {% endif %} 
            <div class="form-group">
              <button id="submit" class="button" >Submit response</button>
            </div>
            <p><a href="../task-list">Cancel</a></p>
          </form>

          <!--<div class="back">-->
          <!--<a href="#">Cancel application</a>-->
          <!--</div>-->
        </main>
        <form method="post"  action="#" class="form" style="position: absolute;">
          <select id="check2" name="check2" onchange="window.location.href='check-and-send?check='+this.value">
            <option  value="0" >Choose</option>
            <option value="1" {% if data['check'] == 1 %}selected{% endif %}>1. FA - pay immediately </option>
            <option  value="2" {% if data['check'] == 2 %}selected{% endif %}>2. FA - pay instalments</option>
            <option  value="3" {% if data['check'] == 3 %}selected{% endif %}>3. FA - pay set date</option>
            <option  value="4" {% if data['check'] == 4 %}selected{% endif %}>4. P/A - Amount is too much & pay immediately</option>
            <option  value="5" {% if data['check'] == 5 %}selected{% endif %}>5. P/A - Amount is too much & pay instalments</option>
            <option  value="6" {% if data['check'] == 6 %}selected{% endif %}>6. P/A - Amount is too much & set date</option>
            <option  value="7" {% if data['check'] == 7 %}selected{% endif %}>7. P/A - Paid what I owe & defence</option>
            <option  value="8" {% if data['check'] == 8 %}selected{% endif %}>8. R/C - I've already paid</option>
            <option  value="9" {% if data['check'] == 9 %}selected{% endif %}>9. R/C - I've dispute the claim + defence</option>
            <option  value="10" {% if data['check'] == 10 %}selected{% endif %}>10. Show business statement of truth</option>
          </select>
        </form>
        {% endblock %}
