{% extends "layout.html" %}
{% from 'includes/addressInput.html' import addressInput %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} index {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      
      <form method="post" action="confirm-card-payment" class="form">
        {% include 'prototypes/prototype-sep-2019/includes/card-payment.html' %}
      </form>
      
    </div>
    <div class="column-third">
      <div class="payment-summary-small">
        <h2>Payment summary</h2>
        <p class="payment-info"></p>
        <h3>Amount to pay:</h3>
        <p class="payment-amount">£15</p>
      </div>
    </div>
  </div>
{% include 'prototypes/prototype-sep-2019/includes/contact.html' %}
</main>
{% endblock %}