{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        How do you want to respond?</h1>


      <form name="aspnetForm" method="post" onsubmit="multiNavigation('radio-respond-group', ['Yes', 'No', '', ''], ['offer', 'defence', '', '']);return false;" id="aspnetForm" autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">How do you want to respond?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-respond-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">I want to suggest a solution to Jan Clark</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="yes-info">
              <p>You can try to reach an agreement with Jan Clark.
                <br>
                <br> An agreement is a way of preventing a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County
                  Court Judgment (CCJ)</a> going ahead, if the claimant is willing to agree to one.</p>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-respond-group" value="No">
              <label for="radio-no" data-target="no-info">I want to explain my side ('defend' the claim)</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="no-info">
              <p>The case will continue to a hearing.
                <br>
                <br> You might get a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County Court Judgment
                  (CCJ)</a>. If you pay within a month a judgment can be cancelled (removed completely).</p>
            </div>

            <!-- <div class="multiple-choice">
              <input id="radio-paid" type="radio" name="radio-select-group" value="Paid">
              <label for="radio-paid" data-target="paid-info">I've already paid some or all of the money</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-wrong" type="radio" name="radio-select-group" value="Wrong">
              <label for="radio-wrong" data-target="wrong-person-info">I am the wrong person for the claim</label>
            </div> -->

          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button" data-ignore-double-submit="true">
      </form>

      <!--<details>-->
      <!--<summary><span class="summary">They owe me some money</span></summary>-->
      <!--<div class="panel panel-border-narrow">-->
      <!--<p>You can also make a claim against them (‘counterclaim’) if you think they owe you money. You might have to-->
      <!--pay a <a class="external" rel="external" href="https://www.gov.uk/make-court-claim-for-money/court-fees"-->
      <!--target="_blank">court fee</a>.</p>-->
      <!--</div>-->
      <!--</details>-->

    </div>
  </div>
</main>


{% endblock %}
