{% extends "layout.html" %}
{% block page_title %}
Verify your email address – Gender pay gap reporting service
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation_logged_out.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
<!-- 				<span class="heading-secondary">Step 2 of 6</span> 
 -->				Verify your email address  
			</h1>
			<p class="dynamic-content default-content">We’ve sent a confirmation email to  <br><a href='registration-email' class="hide-link">john.smith@smithslimited.com</a> </p>
			<p class="dynamic-content manual">We have sent you a confirmation email to <br><a href='registration-email?dc=manual' class="hide-link">john.smith@smithslimited.com</a> </p>
			<p>Follow the instructions in the email to continue your registration.</p>
			<h2 class="heading-small">No email yet?</h2>
			<p>Our email can take a few minutes to arrive. If you can’t see it in your inbox, check your junk mail folder.</p>

		</div>
	</div>
</main>
{% endblock %}
