{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Create an account
      </h1>

      <p class="dynamic-content manual">If you have already registered, please <a href="sign-in">sign in</a>.</p>
      <form method="get" name="registration" action="registration2" id="registration">
        <h2 class="heading-medium">Your name</h2>

        <fieldset>
          <legend class="visuallyhidden">Your full name.</legend>
          <div class="form-group ">
            <label class="form-label" for="email">
              Full name

            </label>
            <input type="email" name="email" id="email" class="form-control" >
          </div>


        </fieldset>

        <h2 class="heading-medium">Email address</h2>
        <fieldset>
          <legend class="visuallyhidden">Email</legend>
          <p>Enter an email address that you can access. The service will send you an email to verify your identity.</p>
          <div class="form-group ">
            <label class="form-label" for="email">
              Enter your email address
            </label>
            <input type="email" name="email" id="email" class="form-control" >
          </div>
        </fieldset>

        

        <h2 class="heading-medium">Create password</h2>
        <fieldset>
          <legend class="visuallyhidden">Password</legend>
          <div class="text">
            <p>Your password must be at least 8 characters long. </p> 
            <p>It must also have at least one of each of the following:  </p> 
            <ul class="list list-bullet">
              <li>lower-case letter</li>
              <li>capital letter</li>
              <li>number</li>
            </ul>
          </div>
          <div class="form-group ">
            <label class="form-label" for="password">
              Password
            </label>
            <input type="password" name="password" id="password" class="form-control">
            <p>  <a id="showpassword" href="#">Show password</a></p>

          </div>

        </fieldset>
        <fieldset>
          <div class="form-group">
            <a class="button dynamic-content default-content" href="verify-email" class="button">Continue</a>
          </div>
        </fieldset>
      </form>
      <script type="text/javascript">

        $(document).ready(function () {
          $("#showpassword").click(function () {
                event.preventDefault();

            if ($("#password").attr("type") === "password") {
              $("#password").attr("type", "text");
            } else {
              $("#password").attr("type", "password");
            }
          });
        });

      </script>
    </div>
  </div>
</main>


{% endblock %}
