{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div>
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->

        <h1 class="heading-large">
          See {% if data['view'] == 'you' %}your{% else %}the {% if data['party'] == "defendant" %}defendant{% else %}claimant{% endif %}'s{% endif %} response to the order
        </h1>

        {% if data['view'] == 'them' %}
          {% if data['done'] == 'done' %}

          <p>The {% if data['party'] == "defendant" %}defendant{% else %}claimant{% endif %} has finished uploaded their documents.</p>

          {% else %}

          <p>The {% if data['party'] == "defendant" %}defendant{% else %}claimant{% endif %} uploaded these documents. They can upload more until 4pm on {{ now | date('add', 1, 'days') | date }}.</p>

          {% endif %}
        {% endif %}

        <table class="check-your-answers uploads">
          <thead>
            <tr>
              <th colspan="2">
                <h2 id='cd' class="heading-medium">
                  {% if data['view'] == 'you' %}Your{% else %}Their{% endif %} documents
                </h2>
              </th>
              <th>
                Uploaded on
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                File 1
              </td>
              <td>
                <a href="#">Emails.pdf</a>
                <br />"You can see the emails dated {{ date | date('subtract', 123, 'days') | date }} and {{ date | date('subtract', 134, 'days') | date }} that they claimed not to receive."
              </td>
              <td>
                {{ now | date('subtract', 5, 'days') | date }}
              </td>
            </tr>
            <tr>
              <td>
                File 2
              </td>
              <td>
                <a href="#">Photo 1.jpg</a>
                <br />"The photos show that the roof was not adequately supported."
              </td>
              <td>
                {{ now | date('subtract', 5, 'days') | date }}
              </td>
            </tr>
            <tr>
              <td>
                File 3
              </td>
              <td>
                <a href="#">Photo 2.jpg</a>
              </td>
              <td>
                {{ now | date('subtract', 4, 'days') | date }}
              </td>
            </tr>
            <tr>
              <td>
                File 4
              </td>
              <td>
                <a href="#">Contract.pdf</a>
                <br />"The signed contract shows the materials we agreed to use."
              </td>
              <td>
                {{ now | date('subtract', 2, 'days') | date }}
              </td>
            </tr>
        </tbody>
      </table>

      <br />
      <br />


      {% if data['done'] == 'done' %}
      <table class="check-your-answers uploads">
        <thead>
          <tr>
            <th colspan="2">
              <h2 id='cd' class="heading-medium">
                {% if data['view'] == 'you' %}Your{% else %}Their{% endif %} witness statements
              </h2>
            </th>
            <th>
              Uploaded on
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Tim Howard
            </td>
            <td>
              <a href="#">Witness statement 1.pdf</a>
            </td>
            <td>
              {{ now | date('subtract', 8, 'days') | date }}
            </td>
          </tr>
          <tr>
            <td>
              James Watts
            </td>
            <td>
              <a href="#">Witness statement 2.docx</a>
            </td>
            <td>
              {{ now | date('subtract', 8, 'days') | date }}
            </td>
          </tr>
      </tbody>
    </table>

    {% else %}

    <h2 id='cd' class="heading-medium">
      {% if data['view'] == 'you' %}Your{% else %}Their{% endif %} witness statements
    </h2>
    <p>{% if data['view'] == 'you' %}You{% else %}They{% endif %} haven't uploaded any witness statements.</p>

    {% endif %}


    <br />
    <br />
    <table class="check-your-answers uploads">
      <thead>
        <tr>
          <th colspan="2">
            <h2 id='cd' class="heading-medium">
              The expert report
            </h2>
          </th>
          <th>
            Uploaded on
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Expert report
          </td>
          <td>
            <a href="#">Expert report.pdf</a>
          </td>
          <td>
            {{ now | date('subtract', 3, 'days') | date }}
          </td>
        </tr>
        <tr>
          <td>
            Responses to queries
          </td>
          <td>
            <a href="#">Responses.pdf</a>
          </td>
          <td>
            {{ now | date('subtract', 1, 'days') | date }}
          </td>
        </tr>
    </tbody>
  </table>


    <br />

    <h2 id='cd' class="heading-medium">
      Additional information requested by the court
    </h2>
    <span class="bold">From the order:</span></br >

    Please provide a copy of the roofing felt manufacturer's fitting instrucitons which you stated {% if data['party'] == "defendant" %}you followed accurately{% else %}was not followed{% endif %}.
    <table class="check-your-answers uploads">
      <thead>
        <tr>
          <th colspan="2">
          </th>
          <th style="width: 10%; text-align:right; vertical-align: bottom">
            Uploaded on
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            File 1
          </td>
          <td>
            <a href="#">Photo.png</a>
          </td>
          <td>
            {{ now | date('subtract', 5, 'days') | date }}
          </td>
        </tr>
      </table>

    <br />

    <h2 id='cd' class="heading-medium">
      Additional actions ordered by the court
    </h2>

    <span class="bold">From the order:</span></br >

    Please confirm you have supplied a sample of the disputed roofing material to the {% if data['party'] == "defendant" %}claimant{% else %}defendant{% endif %}.

    <table class="check-your-answers ">
      <thead>
        <tr>
          <th colspan="2">
          </th>
          <th style="width: 10%; text-align:right; vertical-align: bottom">
            Confirmed on
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" style="font-weight: normal">
            I confirm I've done this
          </td>
          <td style="width: 10%; text-align: right">
            {{ now | date('subtract', 5, 'days') | date }}
          </td>
        </tr>
      </table>


    </div>
  </form>
</div>
</div>
<br />
{% include 'prototypes/prototype-may-2020/includes/contact.html' %}
</main>

{% endblock %}
