{% extends "layout_task-list.html" %}

{% block page_title %}
Check your answers
{% endblock %}
{% block proposition_header %}
{% set my_account="1" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Claim details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          About your claim:
        </td>
        <td>
          {{data['claim-type']}} - {{data['other-type']}}
        </td>
        <td class="change-answer">
          <a href="../claim-details/about-claim?return_page={{ '../../task-list/claim-details/check-your-answers' | urlencode }}">
            Change <span class="visuallyhidden">Why you believe you're owed the money</span>
          </a> 
        </td>
      </tr>
      <tr>
        <td>
          Why you believe you're owed the money:
        </td>
        <td>
          {{data['claim-reason']}}
        </td>
        <td class="change-answer">
          <a href="../claim-details/reason?return_page={{ '../../task-list/claim-details/check-your-answers' | urlencode }}">
            Change <span class="visuallyhidden">Why you believe you're owed the money</span>
          </a> 
        </td>
      </tr>    
      <tr>
        <td>
          Timeline of what happened:
        </td>
        <td>
         {% if data['cd-date-1'] !='' %}
            {{data['cd-date-1']}} - {{data['cd-timeline-1']}}<br>
         {% endif %}        

         {% if data['cd-date-2'] !='' %}
           {{data['cd-date-2']}} - {{data['cd-timeline-2']}}<br>
         {% endif %}        
         {% if data['cd-date-3'] !='' %}
           {{data['cd-date-3']}} - {{data['cd-timeline-3']}}<br>
         {% endif %}  
          {% if data['cd-date-4'] !='' %}
           {{data['cd-date-4']}} - {{data['cd-timeline-4']}}<br>
         {% endif %}          

       </td>
       <td class="change-answer">
        <a href="../claim-details/timeline?return_page={{ '../../task-list/claim-details/check-your-answers' | urlencode }}">
          Change <span class="visuallyhidden">Why you believe you're owed the money</span>
        </a> 
      </td>
    </tr>
    
    <tr>
      <td>
        Provide evidence:
      </td>
      <td>
       {% if data['legal-status1'] != true %}
       {% if data['legal-status1'] == 2 %}Contracts and agreements - {% endif %}
       {% if data['legal-status1'] == 3 %}Expert witness - {% endif %}
       {% if data['legal-status1'] == 4 %}Letters, emails and other correspondence - {% endif %}
       {% if data['legal-status1'] == 5 %}Photo evidence - {% endif %}
       {% if data['legal-status1'] == 6 %}Receipts - {% endif %}
       {% if data['legal-status1'] == 7 %}Contracts and agreements - {% endif %}
       {% if data['legal-status1'] == 'other' %}Statements of account - {% endif %}
       {{data['legal-status-description-1'] }}<br>
       {% endif %}        

       {% if data['legal-status2'] != true %}
       {% if data['legal-status2'] == 2 %}Contracts and agreements - {% endif %}
       {% if data['legal-status2'] == 3 %}Expert witness - {% endif %}
       {% if data['legal-status2'] == 4 %}Letters, emails and other correspondence - {% endif %}
       {% if data['legal-status2'] == 5 %}Photo evidence - {% endif %}
       {% if data['legal-status2'] == 6 %}Receipts - {% endif %}
       {% if data['legal-status2'] == 7 %}Contracts and agreements - {% endif %}
       {% if data['legal-status2'] == 'other' %}Statements of account - {% endif %}
       {{data['legal-status-description-2'] }}<br>
       {% endif %}         

       {% if data['legal-status3']  != true %}
       {% if data['legal-status3'] == 2 %}Contracts and agreements - {% endif %}
       {% if data['legal-status3'] == 3 %}Expert witness - {% endif %}
       {% if data['legal-status3'] == 4 %}Letters, emails and other correspondence - {% endif %}
       {% if data['legal-status3'] == 5 %}Photo evidence - {% endif %}
       {% if data['legal-status3'] == 6 %}Receipts - {% endif %}
       {% if data['legal-status3'] == 7 %}Contracts and agreements - {% endif %}
       {% if data['legal-status3'] == 'other' %}Statements of account - {% endif %}
       {{data['legal-status-description-3'] }}<br>
       {% endif %} 


       {% if data['legal-status4']  != true %}
       {% if data['legal-status4'] == 2 %}Contracts and agreements - {% endif %}
       {% if data['legal-status4'] == 3 %}Expert witness - {% endif %}
       {% if data['legal-status4'] == 4 %}Letters, emails and other correspondence - {% endif %}
       {% if data['legal-status4'] == 5 %}Photo evidence - {% endif %}
       {% if data['legal-status4'] == 6 %}Receipts - {% endif %}
       {% if data['legal-status4'] == 7 %}Contracts and agreements - {% endif %}
       {% if data['legal-status4'] == 'other' %}Statements of account - {% endif %}
       {{data['legal-status-description-4'] }}<br>
       {% endif %} 


     </td>
     <td class="change-answer">
      <a href="../claim-details/evidence?return_page={{ '../../task-list/claim-details/check-your-answers' | urlencode }}">
        Change <span class="visuallyhidden">Why you believe you're owed the money</span>
      </a> 
    </td>
  </tr>


  <tr>
    <td>
      How this dispute has affected you:<br>(optional)
    </td>
    <td>
      {{data['claim-affect']}}
    </td>
    <td class="change-answer">
      <a href="../claim-details/affect?return_page={{ '../../task-list/claim-details/check-your-answers' | urlencode }}">
        Change <span class="visuallyhidden">Why you believe you're owed the money</span>
      </a> 
    </td>
  </tr>
  <tr>
  </tr>
</tbody>
</table>

<br>
<br>

<a href="../../task-list">Return to overview</a>

{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
