{% extends "layout_unbranded.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
 <div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/">Business and self-employed</a></li>
    <li><a href="/">Business debt and bankruptcy</a></li>
  </ol>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Make a money claim online
    </h1>



    <p>You can make a money claim if you believe a person or organisation owes you money and won’t pay you back. You'll have to <a href="https://www.gov.uk/make-court-claim-for-money/court-fees">pay a fee.</a></p>
    <p>Before making a claim, you should:</p>
      <ul class="list list-bullet">
  <li>try to <a href="http://civilmediation.justice.gov.uk/">resolve the issue by discussion or mediation</a></li>
  <li>consider whether the person or organisation has the money to pay you - if not, you may not get your money back regardless of how the court rules</li>
</ul>
</p>
      <p>Your claim, including your name and address, will be sent to the person you say owes you money. They'll get a chance to respond to your claim.</p>

    <!--<p>Find out more about <a href="https://www.gov.uk/make-court-claim-for-money">making a money claim</a>,-->
    <!--such as the <a href="https://www.gov.uk/make-court-claim-for-money/court-fees">fees you’ll pay</a>.</p>-->
        <!--<h2 class="heading-medium">What you'll need</h2>
        <p>To use this service you need:</p>
        <ul class="list list-bullet">
          <li>current or last known address for the person or organisation you’re claiming against</li>
          <li>a credit or debit card to pay the <a
            href="https://www.gov.uk/make-court-claim-for-money/court-fees">claim fee</a>
          </li>
          </uL>

          <p>You can't claim against a person who has already hired a legal representative to represent them for the dispute.</p>
-->
          <div class="clearfix">
            <form method="get" name="registration" action="../../../new-claim/eligibility/registration" id="registration">
              <input type="hidden" name="control-box" value="1.1">
              <input type="hidden" name="respond" value="false">
              <input type="hidden" name="make_claim" value="true">

                  <input type="submit" class="button button-start" value="Make a money claim"/>
                </form>
                <br>
                <br>

                <div class="panel panel-border-wide">
    <p>
      To make a money claim in Welsh, download and fill in form N1.
    </p>
  </div>

                <h2 class="heading-medium">Return to an existing claim</h2>
            <p><a href="enter-claim-number?control-box=3&mcol=1&control-box=6">Sign in to your account</a> to check updates, manage a claim and make a new claim.</p>


                
            <h2 class="heading-medium">Help claiming online</h2>
            <p>Contact Money Claims for help using this service.</p>
            {% import 'prototypes/prototype-oct-2019/includes/contact-in-page.html' as contact %}
            {{ contact.output('small') }}


              <h2 class="heading-medium">Claim by post</h2>
              <p>Download and fill in a <a
                href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=338">claim
             form</a>.
             <p>Send it with a cheque for your <a
               href="https://www.gov.uk/make-court-claim-for-money/court-fees">claim fee</a> to the County Court Money Claims Centre.</p>

            <div class="panel">
              County Court Money Claims Centre<br />
              PO Box 527<br />
              Salford<br />
              Greater Manchester<br />
              M5 0BY<br />
          </div>

              </div>

              <div class="column-third">
<aside class="govuk-related-items" data-module="track-click" role="complementary">
          <h2 data-track-count="sidebarRelatedItemSection">
            Business debt and bankruptcy
          </h2>



          <nav role="navigation">
            <ul>
              <li>
                <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/make-court-claim-for-money" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Make a court claim for money&quot;}" href="overview">Make a court claim for money</a>
              </li>
                            <li>
                <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/make-court-claim-for-money" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Make a court claim for money&quot;}" href="enter-claim-number?mcol=1">Return to an existing claim</a>
              </li>
              <li class="related-items-more">
                <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/browse/business/funding-debt" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/business/funding-debt">
                  More
                  <span class="visuallyhidden">
                    in
                    Business debt and bankruptcy
                  </span>
                </a>
                 </li>
              </ul>
            </nav>
          </aside>               </div>
             </div>
           </main>
           <form method="post"  action="#" class="form" style="float: left;">
            <select id="control-box2" name="control-box2" onchange="window.location.href='?mcol2='+this.value">
              <option  value="0" {% if data['mcol2'] == 0 %}selected{% endif %}></option>
              <option value="1" {% if data['mcol2'] == 1 %}selected{% endif %}>1 - Money claims BETA</option>
              <option value="2" {% if data['mcol2'] == 2 %}selected{% endif %}>2 - MCOL</option>
            </select>
          </form>
{% endblock %}
