{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
       I reject part of the claim 
     </h1>
     <p class="bold-medium">Why are you rejecting part of this claim?</p>


     {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}        
     <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">


      {% else %}
      <form
      name="aspnetForm"
      method="get"
      onsubmit="multiNavigation('radio_select_group2', ['Some','Paid-some','defend_now'], ['../../task-list', '../../task-list', '../../task-list']);return false;"
      id="aspnetForm"
      autocomplete="off">
      {% endif %}



      <div class="form-group">
        <legend class="visually-hidden">What do you want to do?</legend>
        <div class="multiple-choice">
          <input id="radio-yes" type="radio" name="radio_select_group2" value="Some" {{ checked("radio_select_group2", "Some") }}>
          <label for="radio-yes" data-target="yes-info">
            The claim amount is too much
          </div>
          <div class="multiple-choice">
          <input id="radio-some" type="radio" name="radio_select_group2" value="Paid-some" {{ checked("radio_select_group2", "Paid-some") }}>
            <label for="radio-some" data-target="yes-info">
              I've paid what I believe I owe 
            </div>
<!--         <div class="multiple-choice">
          <input id="radio-yes" type="radio" name="radio_select_group2" value="defend_now">
          <label for="radio-yes" data-target="yes-info">
              I agree with the claim amount but believe details of the claim are incorrect
            </div> -->

          </div>

       {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('task-list')%}
       <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>

      <a href="#" onclick="goBack()">Cancel</a>
      {% else %}
      <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>
      {% endif %}
        </form>   
      </div>
    </div>
  </div>
</main>
{% endblock %}
