{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        I do not agree to free mediation
      </h1>


      <p>You have chosen not to try free mediation. Please tell us why: </p>

      <form
        name="aspnetForm"
        method="post"
        id="aspnetForm"
        autocomplete="off"
        onsubmit="multiNavigation('radio-mediation-group', ['1', '2', '3', '4', '5', '6'], ['../../task-list', '../../task-list', '../../task-list', '../../task-list', '../../task-list', '../../task-list']);return false;">

        <input id="your-offer" name="offer" type="hidden">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Will you try mediation?</legend>


            <div class="multiple-choice" data-target="mediation-confirm">
              <input id="radio-1" type="radio" name="radio-mediation-group" value="1">
              <label for="radio-1" data-target="1-info">I have already tried to resolve the dispute with the other party, with no success
            </label>
            </div>

            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-mediation-group" value="2">
              <label for="radio-2" data-target="2-info">I am not sure what would happen in mediation</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="radio-mediation-group" value="3">
              <label for="radio-3" data-target="3-info">I do not think mediation would solve the dispute</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-4" type="radio" name="radio-mediation-group" value="4">
              <label for="radio-4" data-target="4-info">I do not want to delay getting a hearing</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-5" type="radio" name="radio-mediation-group" value="5">
              <label for="radio-5" data-target="5-info">I want a judge to make a decision on the dispute</label>
            </div>

            <div class="multiple-choice" data-target="another-reason">
              <input id="radio-6" type="radio" name="radio-mediation-group" value="6">
              <label for="radio-6" data-target="6-info">Another reason (please specify)</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="another-reason">
              <label class="form-label" for="">Enter your reason here</label>
              <!--<span class="form-hint">For example, I don't want to</span>
              <input class="form-control" id="phone-claimant" type="" name="phone-claimant" value="{{data['phone-claimant']}}">-->
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>

            



          </fieldset>
          <input type="hidden" name="mediation" value="complete">

          <div class="form-group">
            <a href="../index">Skip this section</a>
                      </div>


          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>

        </div>
      </form>


<p style="font-size:16px;">Any information you provide is used solely by HM Courts and Tribunals Service to help us improve our services. Your answers have no impact on the progress or outcome of your case, or on any contact you have with HM Courts and Tribunals Service.</p>




    </div>
  </div>
  {% include 'prototypes/prototype-nov-2018/includes/contact.html' %}
</main>
{% endblock %}
