{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        You chose not to try free mediation
      </h1>

      <p>The claim will continue and you may have to go to a hearing.</p>


     
      <h3 class="heading-medium">Advantages of free mediation</h3>

      <p>There are many advantages to free mediation, including:</p>

      <ul class="list list-bullet">
        <li>mediation can be quicker and cheaper than going to court</li>
        <li> the mediatior speaks to each side separately, you do not speak to the other party during mediation</li>
        <li>it gives you control over how your dispute is settled, which is not possible by going to court</li>
        <li>it’s confidential and nothing said or done during mediation can be used in court</li>

      </ul>

  

      <h1 class="heading-medium">
        Will you change your decision and try free mediation?
      </h1>

      <form
      name="aspnetForm"
      method="post"
      id="aspnetForm"
      autocomplete="off"
      onsubmit="multiNavigation('radio-indent-group', ['Yes', 'No'], ['previous-phone', 'i-do-not-want-free-mediation']);return false;"
      >
<p>If you choose not to try mediation this cannot be changed once your response is submitted.</p>
        <input id="your-offer" name="offer" type="hidden">

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden">Will you try mediation?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes</label>
            </div>

            <div class="multiple-choice">
              <input type="hidden" name="meditation_ineligible" value="complete">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">No</label>
            </div>

          </fieldset>
                         <input type="hidden" name="mediation" value="complete">

          <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
                 data-ignore-double-submit="true">
        </div>

      </form>


    </div>
  </div>
{% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
