{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#your-offer').html(formParam('offer'));
    });
  </script>

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">




      <h1 class="heading-large">
        Have this claim reviewed by a judge?
      </h1>

        <p class="">You have chosen not to mediate so the case can be be reviewed by a judge and might go to a hearing.</p>
        



      <h2 class="heading-medium">Confirmation</h2>
 <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            By selecting 'Confirm and submit', you're confirming that you would like this case to be reviewed by a judge.
          </strong>
        </div>
<div class="form-group">
    <a name="hasacceptedtermsandconditions"></a>
<!-- 
    <div class="multiple-choice text">
      <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
      <label for="HasAcceptedTermsAndConditions"> 

I confirm that I would like to have this case reviewed by a judge.


      </label>
    </div>
 -->

    <span class="field-validation-valid" data-valmsg-for="HasAcceptedTermsAndConditions" data-valmsg-replace="true" aria-live="polite"></span></div>

         <a class="button" href="confirmation-page-hearing"> Confirm and submit</a>

    </div>
  </div>
</main>


{% endblock %}
