{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-large">
        <span class="heading-secondary">Defendant's response </span>

        Mary Richards response
      </h1>
      <br>


      <h2 class="heading-small">Their response to your claim</h2>
      <p>

        Mary Richards believes they owe £1,000 and is prepared to pay this amount instalments.

      </p>


      <p class="heading-small">Why this is what they owe?</p>

      <p>This is because I owe three months rent. I don't agree with the additional amount you are claiming for.</p>

      <p class="heading-small">Their offer of payment</p>

      <div class="form-fields">
        <table>

          <tbody>
          <tr>
            <td>The first payment of</td>
            <td>£33</td>
          </tr>
          <tr>
            <td>Followed by equal instalments of</td>
            <td>£100</td>
          </tr>
          <tr>
            <td>With the the first payment on	</td>
            <td>10 September 2018</td>
          </tr>
          <tr>
            <td>Frequency of payments	</td>
            <td>Every month</td>
          </tr>

          </tbody>
        </table>
      </div>


      <h3 class="heading-small">Their timeline of events</h3>

        <div class="form-fields">
          <table>
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">What happened</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>03/01/2017</td>
                <td>I contacted Mary Richards to discuss building works on our roof.</td>
              </tr>
              <tr>
                <td>06/01/2017</td>
                <td>We agreed what work should be done and signed a contract.</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p class="heading-small">Their evidence</p>
        <p>I didn't get an email from Jan about this, so I didn't get a chance to sort it out. It would be good to see a copy of the email. </p>

        <p class="heading-small">How this dispute has affected them</p>

        <p>I'm sorry you have felt stress during this process but would like claim resolved amicably.</p>



<!--       <h2 class="heading-medium">Mary Richards has made a suggestion</h2>

      <p class="bold">Their suggestion</p>

      <p>I didn't get an email from Jan about this, so I didn't get a chance to sort it out. It would be good to see a copy of the email. </p> -->
      <h2 class="heading-medium">Do you accept their instalment plan?</h2>
      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-indent-group', ['Yes', 'Counter', 'reject-offer'], ['../agreement', 'counter-suggestion', 'confirmation-page']);return false;"
        id="aspnetForm"
        autocomplete="off">
        <div class="form-group">
          <fieldset>
            <div class="multiple-choice" data-target="accept">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="accept">
              <p>You can make a legal agreement between you and Mary Richards.</p>
            </div>
            <div class="multiple-choice" data-target="reject-offer">
              <input id="radio-no" type="radio" name="radio-indent-group" value="reject-offer">
              <label for="radio-no" data-target="no-info">No</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="reject-offer">
              <p>Continue to consider their offer of mediation.</p>
            </div>
            <div class="multiple-choice" data-target="counter">
              <input id="radio-counter" type="radio" name="radio-indent-group" value="Counter">
              <label for="radio-counter" data-target="no-info">Make a counter repayment plan</label>
            </div>
          </fieldset>
          <input id="advert-option-next--button" type="submit" value="Continue" class="button"
                 data-ignore-double-submit="true">
        </div>
      </form>









    </main>


    {% endblock %}

