{% extends "layout_task-list.html" %}
{% block page_title %}
Check your answers
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <h1 class="heading-large">
    Check your evidence uploads before submitting
  </h1>
  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">
          <p>Make sure you've uploaded the right documents - you can't remove documents after you submit.</p>

        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            Uploaded evidence
          </td>
          <td>
            <ul>
              <li><a href="#">Emails.pdf</a></li>
              <li><a href="#">Photo 1.jpg</a></li>
              <li><a href="#">Photo 2.jpg</a></li>
              <li><a href="#">Contract.pdf</a></li>
            </ul></td>
          <td class="change-answer">
         <a href="upload">
          Change
        </a>
          </td>
        </tr>

  </tbody>
</table>

<br />


<form method="get" action="confirmation-page" class="form">
  <div class="form-group">
    <button id="submit" class="button" >Submit evidence</button>
  </div>
{% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
