{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        {% if data['radio-indent-group'] == "reject_hearing" or data['radio-indent-group'] == "decline-mediation" or data['confirmation'] == 1 %}
        <h1 class="bold-large">The claim will be reviewed</h1>

        {% elseif data['radio-indent-group'] == "accept_stop_claim" or data['radio-indent-group2'] == "accept_stop_claim" or data['radio-indent-group'] == "accept_stop_claim_claim_amount"  or data['confirmation'] == 6 %}
        <h1 class="bold-large">You have accepted their response</h1>

        {% elseif data['radio-indent-group'] == "payment_instalments" or data['radio-indent-group'] == "set_date"%}
        <h1 class="bold-large">Payment request sent to court</h1>

        {% elseif data['radio-indent-group'] == "mediation-opt" or data['radio-indent-group'] == "mediation-accept" or data['radio-indent-group'] == "set_date"%}
        <h1 class="bold-large">You have requested free mediation</h1>

        {% elseif data['radio-indent-group'] == "mediation-reject" or data['radio-indent-group'] == "reject_stop_claim"%}
        <h1 class="bold-large">You have rejected their response</h1>



        {% else %}
        <h1 class="bold-large">You have requested free mediation </h1>
        {% endif %}
    </div>
    <fieldset>
        <h2 class="heading-medium">What happens next</h2>







        {% if data['radio-indent-group'] == "accept_stop_claim"  or data['confirmation'] == 6 or data['radio-indent-group2'] == "accept_stop_claim"  %}
        <p>We'll email the defendant Mary Richards telling them that you agree to the instalment plan.</p>

      <h2 class="heading-medium">If you don't get paid</h2>
       <p>If Mary Richards stops paying the instalments, you can ask the court to enforce payment.<p>
      </p>
           <p><a href="#" class="">Back to your account</a></p>
      {% elif data['radio-indent-group'] == "accept_stop_claim_claim_amount"  %}
        <p>We'll email the defendant Mary Richards telling them that you accepted their response and that the claim is is now closed.</p>
           <p><a href="../home" class="">Back to your account</a></p>

        {% elif data['radio-indent-group'] == "mediation-accept"   %}
        <p>A mediator will contact both the defendant and you within the next 14 days to arrange an appointment.</p>
           <p><a href="../home" class="">Back to your account</a></p>

        {% elseif data['radio-indent-group'] == "payment_instalments" %}
        <p>The court will review your payment request.</p>
        <p>We'll email you when a decision has been made
           <p><a href="#" class="">Back to your account</a></p>

           {% elseif data['radio-indent-group'] == "set_date" %}
           <p>The court will review your payment request.</p>
           <p>We'll email you when a decision has been made.</p>
           <p><a href="#" class="">Back to your account</a></p>
           {% elseif data['radio-indent-group'] == "reject_stop_claim"%}
            <p>This claim will be determined by the court to what the defendant can afford to pay based on their financial details.</p>
            <p>We'll contact you when a hearing date is scheduled and explain what you need to do to prepare.</p>

           {% elseif data['radio-indent-group'] == "mediation-reject"%}
           <p>The case will be reviewed and might go to a hearing. We'll email you if a hearing date is scheduled and explain what you need to do to prepare.</p>
           <p><a href="../home" class="">Back to your account</a></p>

           {% elseif data['radio-indent-group'] == "mediation-opt"%}
           <p>The defendant Mary Richards will be asked if they would like free mediation. </p>
           <p>If they accept a mediator will contact both the defendant and you within 14 days to arrange an appointment. </p>
           <p>If they reject or don't respond with 7 days the case will be reviewed and might go to a hearing. We'll email you if a hearing date is scheduled and explain what you need to do to prepare. </p>

           <p>We'll email you when the defendant responds.</p>
           <p><a href="#" class="">Back to your account</a></p>


           {% else %}
           <p>The defendant Mary Richards can accept your counter offer, reject it or suggest an alternative.</p>
           <p>We will notify you once the defendant responds.</p>
           <p><a href="#" class="">Back to your account</a></p>

           {% endif %}
           <h2 class="heading-medium">Help and support</h2>
           <p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
              Telephone: 0300 123 7050<br>
          Hours: 9am to 5pm, Monday to Friday</p>
          <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      </fieldset>

  </div>
</div>
</main>
{% endblock %}
