{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        {% if data['radio-indent-group'] == "reject_hearing" or data['radio-indent-group'] == "decline-mediation" %}
        <h1 class="bold-large">The claim will be reviewed</h1>

        {% elseif data['radio-indent-group'] == "accept_stop_claim" or data['radio-indent-group'] == "accept_stop_claim_claim_amount"  or data['confirmation'] == 6 %}
        <h1 class="bold-large">You've signed a settlement agreement</h1>

        {% elseif data['radio-indent-group2'] == "reject_stop_claim" %}
        <h1 class="bold-large">You've asked for a judge to determine a repayment plan</h1>

        {% elseif data['radio-indent-group2'] == "accept_stop_claim" or data['radio-indent-group2'] == "accept_stop_claim_claim_amount" or data['radio-indent-group'] == "reject_stop_claim"  %}
        <h1 class="bold-large">You have signed a settlement agreement</h1>

        {% elseif data['radio-indent-group'] == "payment_instalments" or data['radio-indent-group'] == "set_date"%}
        <h1 class="bold-large">Payment request sent to court</h1>

        {% elseif data['radio-indent-group'] == "mediation-opt" or data['radio-indent-group'] == "mediation-accept" or data['radio-indent-group'] == "set_date"%}
        <h1 class="bold-large">You have requested free mediation</h1>

        {% elseif ( data['radio-pay-group'] == "Set-date" or data['radio-pay-group'] == "Immediately" ) and data['radio-indent-group'] == "reject_stop_claim"%}
        <h1 class="bold-large">You have proposed an alternative repayment plan</h1>

        {% elseif ( data['radio-proceed'] == "judgment" ) %}
        <h1 class="bold-large">County Court Judgment issued</h1>


        {% else %}
        <h1 class="bold-large">You have requested free mediation </h1>
        {% endif %}
    </div>
    <fieldset>
        <h2 class="heading-medium">What happens next</h2>



        {% if data['radio-indent-group'] == "accept_stop_claim" %}
        <p>We'll email Mary Richards telling them that you agree to their repayment plan and have signed the settlement agreement.</p>
        <p>Now both parties have signed the agreement, this claim has been put on hold.</p>

      <h2 class="heading-medium">If you don't get paid</h2>
       <p>If Mary Richards {% if data['payment'] == 'full' %}doesn't pay you{% else %}stops paying the instalments{% endif %} and breaks the settlement agreement, you can request a County Court Judgment and ask the court to enforce payment.</p>

       <p><a href="../claimant?claimant=10.{% if data['payment'] == 'full' %}4{% else %}1{% endif %}" class="">Back to your account</a></p>


        {% elseif ( data['radio-indent-group2'] == "accept_stop_claim" or data['radio-indent-group'] == "reject_stop_claim" ) and data['radio-indent-group2'] != "reject_stop_claim"  %}
        <p>We'll email Mary Richards the repayment plan and the settlement agreement for them to sign.</p>
        <p>If they do not feel the plan is affordable, they can request a judge determines a suitable plan.</p>

       <p><a href="../claimant?claimant=10.61" class="">Back to your account</a></p>
      {% elif data['radio-indent-group'] == "accept_stop_claim_claim_amount"  %}
        <p>We'll email the defendant Mary Richards telling them that you accepted their response and that the claim is is now closed.</p>
           <p><a href="../home" class="">Back to your account</a></p>

        {% elif data['radio-indent-group'] == "mediation-accept"   %}
        <p>A mediator will contact both the defendant and you within the next 14 days to arrange an appointment.</p>
           <p><a href="../home" class="">Back to your account</a></p>

        {% elseif data['radio-indent-group'] == "payment_instalments" %}
        <p>The court will review your payment request.</p>
        <p>We'll email you when a decision has been made
           <p><a href="#" class="">Back to your account</a></p>

           {% elseif data['radio-indent-group'] == "set_date" %}
           <p>The court will review your payment request.</p>
           <p>We'll email you when a decision has been made.</p>
           <p><a href="#" class="">Back to your account</a></p>


            {% elseif ( data['radio-pay-group'] == "Set-date" or data['radio-pay-group'] == "Immediately" ) and data['radio-indent-group'] == "reject_stop_claim"%}
            <p>We have emailed {% if data.counterclaim=="true" %}Jan Clark{%else%}Mary Richards{% endif %} your proposed payment plan and settlement agreement.</p>
           <p>We'll email you when the defendant responds.</p>


           <p><a href="../claimant?claimant=10.61" class="">Back to your account</a></p>


           {% elseif data['radio-indent-group2'] == "reject_stop_claim" %}
            <p>A judge will determine what the defendant can afford to pay based on their financial details.</p>
            <p >We'll contact both you and {% if data.counterclaim=="true" %}Jan Clark{%else%}Mary Richards{% endif %} confirming the details of the repayment plan in the next 10 days.</p>


           <p><a href="../claimant?claimant=10.6" class="">Back to your account</a></p>


           {% elseif data['radio-indent-group'] == "mediation-reject"%}
           <p>The case will be reviewed and might go to a hearing. We'll email you if a hearing date is scheduled and explain what you need to do to prepare.</p>
           <p><a href="../home" class="">Back to your account</a></p>

           {% elseif data['radio-indent-group'] == "mediation-opt"%}
           <p>The defendant Mary Richards will be asked if they would like free mediation. </p>
           <p>If they accept a mediator will contact both the defendant and you within 14 days to arrange an appointment. </p>
           <p>If they reject or don't respond with 7 days the case will be reviewed and might go to a hearing. We'll email you if a hearing date is scheduled and explain what you need to do to prepare. </p>

           <p>We'll email you when the defendant responds.</p>
           <p><a href="#" class="">Back to your account</a></p>


           {% elseif ( data['radio-proceed'] == "judgment" ) %}
           <p>You have accepted the defendant's repayment plan and a County Court Judgment has been issued against them.</p>
           <p><a href="#">View judgment</a> (PDF, 123KB)</p>

           <p><a href="../claimant?claimant=10.11" class="">Back to your account</a></p>

           {% else %}
           <p>The defendant Mary Richards can accept your counter offer, reject it or suggest an alternative.</p>
           <p>We will notify you once the defendant responds.</p>
           <p><a href="#" class="">Back to your account</a></p>

           {% endif %}
           <h2 class="heading-medium">Help and support</h2>
           <p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
              Telephone: 0300 123 7050<br>
          Hours: 9am to 5pm, Monday to Friday</p>
          <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      </fieldset>

  </div>
</div>
</main>
{% endblock %}
