{% extends "layout_task-list.html" %}

{% block page_title %}
Check your answers
{% endblock %}
{% block home_link %} ../task-list {% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
        <a href="#" class="link-back">Back</a>


  <h1 class="heading-large">
    Check your answers before submitting your response 
  </h1>


  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>
          Name:
        </td>
        <td>
         Mary Richards
       </td>
       <td class="change-answer">
        <a href="../your-details/name">
          Change <span class="visuallyhidden">Name</span>
        </a>
      </td>
    </tr>
    
    <tr>

      <tr>
        <td>
          Address:
        </td>
        <td>
          101 Regents road<br>
          Shiplake<br>
          Henley on Thames<br>
          RG9 4BW 
        </td>
        <td class="change-answer">
          <a href="../your-details/address">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Date of birth:
        </td>
        <td>
          31/03/1980
        </td>
        <td class="change-answer">
          <a href="../your-details/address">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      <tr>
        <tr>
          <td>
            Telephone:
          </td>
          <td>
            None
          </td>
          <td class="change-answer">
            <a href="../your-details/address">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>

        <tr>

        </tbody>
      </table>

      <table class="check-your-answers">

        <thead>
          <tr>
            <th colspan="2">
              <h2 class="heading-medium">
                Your response 
              </h2>
            </th>
            <th>
            </th>
          </tr>
        </thead>

        <tbody>

         {% if data.radio_select_group=="paid"  %}
         <tr>
          <td class="">
            Do you owe the money claimed
          </td>
          <td class="">
            I've already paid
          </td>
          <td class=" change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        {% endif %}


        {% if data.owe_all=="complete" %}

        <tr>
          <td class="">
            Do you owe the money claimed
          </td>
          <td class="">
            I owe all the money
          </td>
          <td class=" change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="">
            When will you pay?
          </td>
          <td class="">
            I can't afford to pay within 14 days
          </td>
          <td class=" change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="">
            Payment options
          </td>
          <td class="">
           I will pay the full amount by a set date
          </td>
          <td class=" change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="no-border">
            When you'll pay the amount
          </td>
          <td class="no-border">
           01 August 2017
          </td>
          <td class="no-border change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="">
            Explain why you can't pay immediately
          </td>
          <td class="">
           Because i dont get paid until the end of July
          </td>
          <td class=" change-answer">
           
          </td>
        </tr>

        <tr>
          <td class="">
            Method of payment
          </td>
          <td class="">
           In person - in cash
          </td>
          <td class=" change-answer">
           
          </td>
        </tr>        
        {% endif %}



        {% if data.owe_some=="complete" %}

        <tr>
          <td class="">
            Do you owe the money claimed
          </td>
          <td class="">
            I owe some of the money
          </td>
          <td class=" change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>

        <tr>
          <td class="no-border">
            How much money do you owe
          </td>
          <td class="no-border">
            £600
          </td>
          <td class="no-border change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="">
            Explain why this is what you owe
          </td>
          <td class="">
            I've already made a £400 cash payment to the Jan Clark
          </td>
          <td class=" change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        {% endif %}



        {% if data.your_suggestion=="complete" %}
        <tr>
          <td class="">
            Do you owe the money claimed
          </td>
          <td class="">
            I reject the money claim
          </td>
          <td class=" change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>

        <tr>
          <td class="">
            Defence options
          </td>
          <td class="">
           Suggest a resolution
         </td>
         <td class=" change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% endif %}



      {% if data.your_defence=="complete" %}


      <tr>
        <td>
          Your defence - Part 1
        </td>
        <td>
          <span class="bold">Why you don't owe the money</span><br>
          <p>The work on the roof was completed as per the contract.</p>
          <p>Jan says she contacted me but I didn't get a call or an email - I'd have been happy to take a look at the roof and see if there was a problem. There shouldn't be a need to get someone else in and the quote of £1,500 sounds high.
          </p></td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Your defence- Part 2
          </td>
          <td>
            <span class="bold">Response to claimant's timeline</span><br>
            I didn't get an email from Jan about this, so I didn't get a chance to sort it out. It would be good to see a copy of the email.
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Your defence- Part 3
          </td>
          <td>
            <span class="bold">Response to claimant's evidence</span><br>
            We've worked in the roofing trade for 20+ years and have a really good reputation. We're members of the National Federation of Roofing Contractors and always pride ourselves on excellent customer service. We believe our work is of a high standard and we were not contacted by the customer about the problem to which this claim relates.
          </td>

          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Your defence- Part 4
          </td>
          <td>
            <span class="bold">Response to how the claim has affected the claimant</span><br>
            The problem with the roof has caused me a lot of stress. We've been planning to put the house on the market so wanted this work completed. We've had to hold off listing the house with an agent until this is sorted out.


          </td>

          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Suggestion  
          </td>
          <td>
           Not given

         </td>

         <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>







      <tr>
        <td>
          Free mediation
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>    
        {% endif %}


        {% if data.your_suggestion=="complete" %}
        <tr>
          <td class="">
            Defence options
          </td>
          <td class="">
           Defend now
         </td>
         <td class=" change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>    
      <tr>
        <td class="">
          Do you owe the money claimed
        </td>
        <td class="">
          I reject the money claim
        </td>
        <td class=" change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>         

      <tr>
        <td>
          Your suggestion
        </td>
        <td>
          I will fix the roof if you'll give me access and pay for any extra materials.
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Your side (optional)  
        </td>
        <td>

        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Free mediation
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>    

        {% endif %}







      </tbody>
    </table>

    <fieldset></fieldset>
    <h2 class="heading-medium">Statement of truth</h2>

    <div class="notice text">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
        You could be fined or go to prison if you deliberately give untrue or misleading information.
      </strong>
    </div>

<!--
  <div class="form-group">
    <form method="get" action="/prototype-14/task-list/check-and-send/payment-methods">
      {% set completed = true if data.check_before_you_start == "complete" and data.read_rules == "complete" and data.completing_your_claim == "complete" and data.your_details == "complete" and data.their_details == "complete" and data.claim_amount == "complete" and data.claim_details == "complete" %}
      <input type="submit" value="Submit and continue to payment (£70.00)" class="button" {{ "disabled" if not completed }}></input>
    </form>
  </div>

  <p class="bold">You can only submit your claim after completing all sections.</p> -->
  

  <div class="form-group">
    <a name="hasacceptedtermsandconditions"></a>

    <div class="multiple-choice text">
      <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
      <label for="HasAcceptedTermsAndConditions"> I believe that the facts stated in this response are true.</label>
    </div>


    <span class="field-validation-valid" data-valmsg-for="HasAcceptedTermsAndConditions" data-valmsg-replace="true" aria-live="polite"></span></div>


    {% if data.your_defence=="complete" %}
    <form method="post" action="../confirmation-page" class="form">

      {% elseif data.your_suggestion=="complete"%}
      <form method="post" action="../confirmation-page-suggestion" class="form">

        {% elseif data.radio_select_group=="paid"%}
        <form method="post" action="../confirmation-page-already-paid" class="form">

          {% elseif data.owe_all=="complete"%}
          <form method="post" action="../confirmation-page-owe-all-paid" class="form">

            {% elseif data.owe_some=="complete"%}
            <form method="post" action="../confirmation-page-suggested-amount" class="form">



              {% else %}
              <form method="post" action="../confirmation-page" class="form">

                {% endif %}





         <div class="form-group">
                  <button id="submit" class="button" disabled>Submit response</button>

        </div>
        <p><a href="../task-list">Cancel</a></p>

              </form>
              <script>
                $(document).ready(function () {
                  $("#HasAcceptedTermsAndConditions").click(function() {
                    var checked_status = this.checked;
                    if (checked_status == true) {
                     $("#submit").removeAttr("disabled");
                   } else {
                     $("#submit").attr("disabled", "disabled");
                   }
                 });

                });
              </script>

              <!--<div class="back">-->
              <!--<a href="#">Cancel application</a>-->
              <!--</div>-->

            </main>

            {% endblock %}
