{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <form method="get" autocomplete="off" action="defence-response">

        <h1 class="heading-large">Comment on the defendant’s response</h1>

        <div class="description-block">
          <h2 class="heading-small">Their defence</h2>

          <p>This claim is about building works.</p>
          <p>Mary Richards and I signed a contract for building works on my roof. The work on the roof was completed but there was a problem with one section. I asked Mary Richards to get the problem fixed, but didn't get a reply.</p>
          <p class="show-more">I'll have to get another builder to rectify the problem which will cost me £1,430.</p>
          <p class="show-more">Therefore, I'm making a money claim for £1,500 to compensate for the extra money I am going to need to spend.</p>
          <a href="#" class="toggle">Show more</a>
          <a href="#" class="toggle" style="display: none">Show less</a>

          <br />
          <br />
          <br />
          <h2 class="heading-small">Their timeline</h2>
          <div class="form-fields">
            <table>
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">What happened</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>03/11/2017</td>
                  <td>I contacted {% if data.counterclaim=="true" %}Jan Clark{%else%}Mary Richards{% endif %} to discuss building works on our roof.</td>
                </tr>
                <tr>
                  <td>06/11/2017</td>
                  <td>We agreed what work should be done and signed a contract.</td>
                </tr>
                <tr>
                  <td>30/11/2017</td>
                  <td>The work started on the roof.</td>
                </tr>
                <tr class="show-more">
                  <td>21/12/2017</td>
                  <td>The work on the roof was completed but I noticed that there was a problem with one
                  section</a>.
                </td>
                </tr>
                <tr  class="show-more">
                  <td>27/12/2017</td>
                  <td>I sent an email to Mary Richards and asked them to get the problem fixed.</td>
                </tr>
                <tr class="show-more">
                  <td>15/01/2018</td>
                  <td>I hadn't had a reply so I told them I would be making a money claim.</td>
                </tr>
              <tr class="show-more">
                <td >27/12/2017</td>
                <td>I sent an email to Mary Richards and asked them to get the problem fixed.</td>
              </tr>
              <tr class="show-more">
                <td>15/01/2018</td>
                <td>I hadn't had a reply so I told them I would be making a money claim.</td>
              </tr>
              <tr >
                <td class="no-border">
                  <a href="#" class="toggle">Show more</a>
                  <a href="#" class="toggle" style="display: none">Show less</a>
                </td>
                <td class="no-border"></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

        <h1 class="heading-medium">
         Do you disagree with any of the defendant's defence or timeline?
        </h1>

        <fieldset>
          <div class="multiple-choice" data-target="details" >
            <input id="radio-1" type="radio" name="response" value="yes"/>
            <label for="radio-1">Yes</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="details">
            <label for="response">What do you not agree with?</label>
            <textarea style="height: 400px" id="response"></textarea>
          </div>
          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="response" value="no" />
            <label for="radio-2">No</label>
          </div>
        </fieldset>

      <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>

    </form>
  </div>
</div>
{% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
