gi{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="../statement/residence" class="form">

        {{formData | safe}}

        <h1 class="heading-large">

          You need to answer some financial questions
        </h1>

        <p>You need to give Jan Clark details of your finances.</p>

<p>We'll ask you for the details then we'll send them to Jan Clark to review.</p>


        </fieldset>
        <input type="hidden" name="your_defence_options" value="complete">

        <div class="form-group">
          <input type="submit" class="button" value="Continue"/>
        </div>

      </form>

    </div>
  </div>

{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
