{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">

        Where are you living?
      </h1>


        <form action="dependants" method="post" class="form">

          <div class="form-group">
            <fieldset>
              <div class="multiple-choice" data-target="credit">
                <input id="radio-residence-own" type="radio" name="radio-residence-group" value="own">
                <label for="radio-residence-own" data-target="repayment-info">Home you own yourself (including if you have a mortgage)</label>
              </div>
<!--               <div class="multiple-choice" data-target="credit">
                <input id="radio-residence-j-own" type="radio" name="radio-residence-group" value="joint-own">
                <label for="radio-residence-j-own" data-target="repayment-info">Jointly own property</label>
              </div> -->
              <div class="multiple-choice" data-target="credit">
                <input id="radio-residence-rent" type="radio" name="radio-residence-group" value="rent">
                <label for="radio-residence-rent" data-target="repayment-info">Jointly-owned home (including if you have a mortgage)</label>
              </div>
              <div class="multiple-choice" data-target="credit">
                <input id="radio-residence-rent" type="radio" name="radio-residence-group" value="rent">
                <label for="radio-residence-rent" data-target="repayment-info">Private rental</label>
              </div>
              <div class="multiple-choice" data-target="credit">
                <input id="radio-residence-council" type="radio" name="radio-residence-group" value="council">
                <label for="radio-residence-council" data-target="repayment-info">Council or housing association</label>
              </div>
              <div class="multiple-choice" data-target="credit">
                <input id="radio-residence-boarder" type="radio" name="radio-residence-group" value="border">
                <label for="radio-residence-boarder" data-target="repayment-info">Lodgings</label>
              </div>
              <div class="multiple-choice" data-target="other">
                <input id="radio-residence-other" type="radio" name="radio-residence-group" value="other">
                <label for="radio-residence-other" data-target="repayment-info">Other </label>
              </div>
          <div class="panel panel-border-narrow js-hidden" id="other">
               <div class="form-group">
                  <label class="form-label" for="input-text-a">

                    Describe your housing
                  </label>
                  <input class="form-control" id="input-text-a" type="text">
                </div>

          </div>
            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>

        </form>
      </div>
    </div>
  {% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
