{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">

        Does your debt involve any goods or services bought with credit card?
      </h1>

      <details>
        <summary><span class="summary">What does this mean</span></summary>
        <div class="panel panel-border-narrow">
          <p>

          </p>
        </div>
      </details>


    </div>
  </div>
</main>


{% endblock %}
