{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="6" %}

{% include "includes/propositional_navigation_new.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <!--{% include "includes/phase_banner_beta.html" %}-->

  <nav id="nav">

    <div class="navbar">
      <ul class="navbar__list-items">
        <li class="active">
          <a href="#">Profile</a>
        </li>
        <li>
          <a href="#">Organisation</a>
        </li>
        <li>
          <a href="#">Manage users</a>
        </li>
        <li>
          <a href="#">Payments</a>
        </li>
      </ul>
    </div>

  </nav>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Profile
      </h1>

      <table>
        <tbody>
        <tr>
          <th scope="row">First name</th>
          <td>Jan</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Last name</th>
          <td>Clark</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>jan.clark@gmail.com</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Telephone</th>
          <td>ja07824999612</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Password</th>
          <td>********</td>
          <td><a href="">Change</a></td>
        </tr>
        <tr>
          <th scope="row">Service address</th>
          <td>101 Regents road<br>Shiplake<br>Henley on Thames<br>RG9 4BW</td>
          <td><a href="">Change</a></td>
        </tr>
        <!--<tr>-->
          <!--<th scope="row">Permissions</th>-->
          <!--<td>Administrator</td>-->
          <!--<td></td>-->
        <!--</tr>-->
        </tbody>
      </table>

    </div>

  </div>

  <div class="column-one-third">

  </div>

  </div>
</main>


{% endblock %}
