{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
  <div class="grid-row">
    <div class="column-two-thirds">



          <form name="aspnetForm" method="post"  onsubmit="multiNavigation('provide-docs', ['provide-doc-yes', 'provide-doc-no'],
                                                                    ['upload-documents?general-app-hearing=true&docs=true&',
                                                                     'check-answers?docs=false&general-app-hearing=false&']);return false;"
                                                                     id="aspnetForm" autocomplete="off">



          <h1 class="heading-large">Do you want to provide documents to support this application?</h1>
          <p>
You can provide evidence to support your application such as witness statements or other documents.
</p>
<p>
All witness statements or other documents you upload must include the following statement of truth signed by the individual making the statement.

</p>
  <div class="panel">
<p>I believe that the facts included in this document are true. <br /><br />

  I understand that proceedings for contempt of court may be brought against anyone who makes, or causes to be made, a false statement in a document verified by a statement of truth without an honest belief in its truth.

</p>
<!--
<br>
   <p>Signed &nbsp;&nbsp;&nbsp;&nbsp;........................</p>-->
    </div>

    <br>


          <div class="form-group">
            <fieldset>
              <div class="multiple-choice">
                <input id="provide-doc-yes" type="radio" name="provide-docs" value="provide-doc-yes">
                <label for="provide-doc-yes">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="provide-doc-no" type="radio" name="provide-docs" value="provide-doc-no">
                <label for="provide-doc-no">No</label>
              </div>
            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
        </form>


    </div>
  {% include 'prototypes/prototype-nov-2019/includes/contact.html' %}
</main>
{% endblock %}
