{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('offer'))
    })
  </script>

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Warrant of control payment confirmed</h1>
        <!--<fieldset></fieldset>-->
        <!--<p>Reference number:<br>-->
        <!--<span class="bold-medium">CEWOC-1234</span>-->
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>When the warrant has been issued, the court will phone Mary Richards and send a letter asking for payment.</p>
      <p>If Mary Richards doesn't pay within 7 days, a bailiff will visit the address you gave within 15 days of the issue of the warrant.</p>
      <p>The bailiff usually visits up to 3 times. If they can't get your money back they'll return the warrant to the court.</p>

      <p>If the defendant pays, the court will send you the money.</p>

      {% include "includes/survey.html" %}
      <p><a class="button" href='../../../home?dashboard=1.42'>Go to your account</a></p>


      {% include "includes/contact.html" %}

      </fieldset>
    </div>
  </div>
{% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
