{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="breadcrumbs">
    <ol>
      <li>
        <a href="../task-list">Respond to a money claim</a>
      </li>
      <li>
        I owe all the money
      </li>
    </ol>
  </div>
      <h1 class="heading-xlarge">
        Your options
      </h1>

      <p>As you've told us you can't afford to pay the full amount now you can do one of the following:
<ul>
<li>suggest a repayment plan</li>
<li>offer a set date when you will be able to pay the money</li>
</ul>
</p>

      <div class="panel panel-border-wide">
        <p>Jan Clark can choose to accept or reject your suggestion. If it's rejected, the court will decide what you can afford to pay.</p>
      </div>

      <h1 class="heading-medium">
        What do you want to do?
      </h1>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="conditionalNavigation('radio-indent-group', 'Yes', 'repayment-plan', 'pay-by-set-date');return false;"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">What do you want to do?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Suggest a repayment plan - installments, for example</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">Offer to pay the full amount by a set date</label>
            </div>

            <!--
          <div class="multiple-choice">
            <input id="radio-alternative" type="radio" name="radio-indent-group" value="No">
            <label for="radio-alternative" data-target="alternative-info">Offer an alternative</label>
          </div>

            <div class="panel panel-border-narrow js-hidden" id="alternative-info">
                <div id="describe-wrapper-claim-details-1" class="form-group">
                    <label class="form-label-bold" for="offer">
                        Your offer
                        <span class="form-hint">For example you might blar blar blar ...</span>
                    </label>
                    <textarea class="form-control"
                              id="offer"
                              rows="3"
                              name="offer"
                              type="text"
                              style="width: 60%"></textarea>
                </div>
            </div> -->

          </fieldset>


         <div class="form-group">
        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
        data-ignore-double-submit="true">
        </div>
        <p><a href="../../task-list">Cancel</a></p>

        </div>
      </form>

    </div>
  </div>
</main>


{% endblock %}
