{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
                Ways to discuss the claim
            </h1>

      <p>
        Jan Clark had said that you can contact them using these details.
      </p>

      <ul class="list list-bullet">
        <li>jan65@gmail.com</li>
        <li>07757 738 459</li>
      </ul>

      <div class="panel panel-border-wide">
        <p><span class="bold">You can contact Jan Clark directly to discuss the claim.</span></p>
      </div>

      <h1 class="heading-medium">
                Other options
            </h1>

      <form name="aspnetForm" method="post" onsubmit="conditionalNavigation('radio-discuss-group', 'Yes', 'offer', 'mediation-confirmation');return false;" id="aspnetForm" autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Other options</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-discuss-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Contact Jan Clark using the service</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="yes-info">
              <p>You can try to reach an agreement.
                <br>
                <br> An agreement is a way of preventing a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County
                                Court Judgment (CCJ)</a> going ahead, if the claimant is willing to agree to one.</p>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-discuss-group" value="No">
              <label for="radio-no" data-target="no-info">Take part in telephone mediation</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="no-info">
              <p>An impartial mediator listens to both sides separately and try to reach an agreement.
                <br>
                <br> An agreement is a way of preventing a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County
                                    Court Judgment (CCJ)</a> going ahead, if the claimant is willing to agree to one.
              </p>
            </div>

          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button" data-ignore-double-submit="true">

      </form>

    </div>
  </div>
</main>


{% endblock %}
