{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
                Resolving this dispute
            </h1>

      <p class="lede">Many people can settle a dispute early by discussing what's gone wrong. You can contact the other side yourself or using this service.</p>

      <h1 class="heading-medium">
                Are you willing to discuss the claim with Jan Clark?
            </h1>


      <form name="aspnetForm" method="post" onsubmit="conditionalNavigation('radio-indent-group', 'Yes', 'saving-claim', 'saving-claim');return false;" id="aspnetForm" autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Are you willing to discuss the claim with Jan Clark?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="yes-info">
              <p>We'll let them know and you might be able to <span class="bold-small">reach an agreement</span> with them and won't need to wait for a hearing date.</p>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">No</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="no-info">
              <p>If you can <span class="bold-small">reach an agreement</span> you won't need to wait for a hearing date and prepare a full case and evidence. You could also get some if not all of the money sooner.
              </p>
            </div>

          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Continue" class="button" data-ignore-double-submit="true">
      </form>

    </div>
  </div>
</main>


{% endblock %}
