{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Your offer has been sent to Jan Clark</h1>
    </div>


    <p >Jan Clark can accept, reject or make a counter offer. We'll let you know when they respond.</p>

    <p> View your claim status on your <a href='../../v2/defendant?defendant=11'>money claims account</a>. </p>

  </div>
</div>
</main>
{% endblock %}
