{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Your offer has been sent to the claimant</h1>
    </div>

    <p >We'll email claimant Jan Clark confirming the offer.</p>
    <p >The claimant can accept your suggestion, reject it or suggest an alternative. If they accept you can settle the claim and won’t go to a hearing.</p>


    <p class="panel">You still need to submit your response to this claim by <span class="dates"></span>.</p>

    <p> View your claim status on <a href='../../v2/defendant?defendant=10'>your money claims account</a>. </p>    

  </div>
</div>
</main>
{% endblock %}
