{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Make an offer to settle out of court
      </h1>
      <p>You could settle this money claim without going to court if you make an offer and reach an agreement.</p>
      <p>If your offer is accepted and you settle the claim, then it’s confidential. This means there won’t be a public record of the claim made against you and you won’t get a County Court Judgment (CCJ). You must do what you’ve agreed or the claimant can ask the court to make a CCJ against you.</p>
      <p>If the claimant rejects your offer they can’t bring it up if you go to a court hearing.</p>
      <p class="panel">You still need to respond to this claim by <span class="dates"></span>.</p>
      <div class="form-group">
        <a href="offer/offer" class="button">Continue</a>
      </div>
    </div>
  </form>
</div>
</div>
</main>
{% endblock %}
