{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Suggested repayment plan
      </h1>

      <p class="lede">Mary Richards has suggested the following repayment plan.</p>

      <div class="heading-small">Suggested monthly payment</div>
      <p class="lede">£65</p>

      <div class="heading-small">Date of first payment</div>
      <p class="lede">1 February 2017</p>

      <div class="heading-small">Repayment term</div>
      <p class="lede">Based on these payments it will take 8 months for all of your money to be paid</p>


      <p class="panel panel-border-wide">
        If you accept this plan but they don't keep up the payments you can restart your claim.
      </p>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-indent-group', ['Yes', 'No', 'Alternative'], ['accept-confirmation', 'reject-confirmation', 'repayment-plan-update']);return false;"
        id="aspnetForm"
        autocomplete="off">

        <h1 class="heading-medium">
          Your response
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Your response</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Accept this repayment plan</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="yes-info">
              <p>A court officer will draw up an agreement for you both to approve.</p>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">Reject this repayment plan</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="no-info">
              <p>The court will decide how you pay which might be lower than this plan.</p>
              <p>Your claim will continue to a hearing unless you can reach an agreement.</p>
            </div>

            <div class="multiple-choice">
              <input id="radio-alternative" type="radio" name="radio-indent-group" value="Alternative">
              <label for="radio-alternative" data-target="alternative-info">Suggest an alternative</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="alternative-info">
              <p>For example, you might suggest a higher payment amount.</p>
            </div>

          </fieldset>

        <input id="advert-option-next--button" type="submit" value="Submit response" class="button"
               data-ignore-double-submit="true">
        </div>
      </form>

    </div>
  </div>
</main>


{% endblock %}
