{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" onclick="history.go(-1)" class="link-back">Back</a>

      {% include 'prototypes/features-to-be-built/includes/how-mediation-works.html' %}

    </div>
  </div>
  <fieldset></fieldset>

  {% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
