{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>




      {% if data['over_16']!="0" %}
       <h1 class="heading-large">
         <span class="heading-secondary">Suggest a payment plan </span>

         Children aged 16 to 19 living with you
      </h1>

          <p>How many are both:

            <ul class="list list-bullet">
              <li>in full-time education or training</li>
              <li>not married or in a civil partnership</li>
            </ul>

      <div class="form-group">

        <label class="form-label" for="number-of-children">Enter number</label>
        <input class="form-control form-control-1-8" type="text" name="number-of-children">

      </div>


      <form action="maintenance" method="post" class="form">
      {% else %}

        <h1 class="heading-large">
          <span class="heading-secondary">Suggest a payment plan </span>

          Do you or your partner pay maintenance for any children?

             </h1>
       <form action="employment" method="post" class="form">


   <div class="form-group">
        <fieldset>

          <div class="multiple-choice" data-target="yes">
            <input id="radio-repayment" type="radio" name="radio-pay-group" value="Yes">
            <label for="radio-repayment" data-target="repayment-info">Yes</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="yes">

          <p>Number of children</p>
          <div class="form-group">

            <input class="form-control form-control-1-8" id="input-text-a" type="text">
          </div>

          </div>
          <div class="multiple-choice">
            <input id="radio-no" type="radio" name="radio-pay-group" value="no">
            <label for="radio-no" data-target="no-info">No</label>
          </div>

        </fieldset>
      </div>
      {% endif %}






    <div class="form-group">
      <input type="submit" class="button" value="Save and continue"/>
    </div>

  </form>
</div>
</div>
</main>
{% endblock %}
