{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="ost" action="eligibility/claim-value" class="form">
        {{formData | safe}}
        <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
        <h1 class="heading-large">
          Accessibility statement for the Online Civil Money Claims service
        </h1>

        <p>
          This service allows you to make a money claim against an individual or an organisation for £10,000 or less.

        </p>
        <p>
          This website is run by HM Courts and Tribunals Services (HMCTS). We want as many people as possible to be able to use it, so we’ve designed it to be accessible.
          That means you should be able to:
        </p>

        <ul class="list list-bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>

        <p>
          We’ve also made the website text as simple as possible to understand.
        </p>

        <p>
          <a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet (opens in a new window)</a> has advice on making your device easier to use if you have a disability.
        </p>

        <!-- h2 Block start -->
        <h2 class="heading-medium">
          How accessible is this website?
        </h2>
        <p>
          The website has been tested by the Digital Accessibility Centre (DAC) and it meets the required level of accessibility.
        </p>
        <p>
          Some PDFs, documents and email attachments may not be fully accessible. For example, the forms and guidance documents which can be downloaded. These will be tested and made accessible by September 2020.
        </p>
        <!-- Block end -->

        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Get accessible formats
        </h2>
        <p>
          If you need information on this website in a different format like accessible PDF, large print, Easy Read or braille then email <a href="mailto:HMCTSforms@justice.gov.uk?subject=Accessible formats">HMCTSforms@justice.gov.uk</a> or phone us using the contact information on this page.
        </p>

        <!-- Block end -->

        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Tell us about accessibility problems

        </h2>
        <p>
          We want to keep improving accessibility. Contact us using the contact details on this page if you find any problems or think we’re not meeting your accessibility needs.
        </p>

        <!-- Block end -->


        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Contact Money Claims
        </h2>
        <h3 class="heading-small">
          Email
        </h3>
        <p>
          <a href="mailto:contactocmc@justice.gov.uk">contactocmc@justice.gov.uk</a>
          <br/>We'll get back to you within 10 days.
        </p>
        <h3 class="heading-small">
          Telephone
        </h3>
        <p>
          0300 123 7050 <br />
          Monday to Friday, 9am to 5pm. <br />
          <a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in a new window)</a>.
        </p>

        <!-- Block end -->

        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Enforcement procedure

        </h2>
        <p>
          The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
          If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS) (opens in a new window)</a>.
        </p>

        <!-- Block end -->
        <!-- h2 Block start -->
        <h2 class="heading-medium">
          If the claim goes to a hearing

        </h2>
        <p>
          We’ll tell you the hearing centre you need to go to and give you information about its accessibility.
        </p>

        <!-- Block end -->

        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Technical information about this website’s accessibility
        </h2>
        <p>
          HMCTS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>
        <p>
          The website is fully compliant with the  <a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines version 2.0 AA standard (opens in a new window)</a>.
        </p>
        <p>
          We are in the process of testing the full service against the new <a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines version 2.0 AA standard (opens in a new window)</a>. We commit to being fully compliant against this standard by 2020.
        </p>

        <!-- Block end -->

        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Non-accessible content
        </h2>
        <p>
          Some PDFs, documents, and attachments to email notifications may not meet accessibility standards or work with a screen reader.
        </p>
        <p>
          This is because they were created before current accessibility legislation was introduced. We plan to make them accessible by September 2020.

        </p>

        <!-- Block end -->


        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Non-compliance with the accessibility regulations
        </h2>
        <p>
          We found issues:
        </p>
        <ul class="list list-bullet">
          <li>[[issue 1]]</li>
          <li>[[issue 2]]</li>
          <li>[[issue 3]]</li>
        </ul>


        <!-- Block end -->
        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Disproportionate burden
        </h2>
        <p>
          We believe fixing some issues would be a disproportionate burden - this means we’ve decided the time it would take would not be worth it for the limited benefit to accessibility.
        </p>
        <p>
          For claim issue and defendant response, these issues are:
        </p>
        <ul class="list list-bullet">
          <li>text fields must contain the appropriate labelling</li>
          <li>headings must contain the correct syntax</li>
        </ul>


        <!-- Block end -->

        <!-- h2 Block start -->
        <h2 class="heading-medium">
          Content that’s not within the scope of the accessibility regulations
        </h2>
        <h3 class="heading-small">
          PDFs and other documents
        </h3>
        <p>
          PDFs, documents, and attachments to email notifications published before 23 September 2018 may not meet accessibility standards. For example, they may not be structured so they’re accessible to a screen reader.
          </p>

          <!-- Block end -->

          <!-- h2 Block start -->
          <h2 class="heading-medium">
            How we tested this website
          </h2>

          <p>
            We’ve carried out manual accessibility testing using multiple in-browser accessibility tools. Axe and Wave (tools) comply with WCAG 2 and Section 508 accessibility (which covers WCAG 2.1)
          </p>
          <p>
In addition to this, the Online Civil Money Claims website was tested by the Digital Accessibility Centre (DAC) in February 2018.
</p>
<p>
We continually run automated accessibility testing as part of our development practices. This helps us to resolve issues before we launch new pages or features. We use Voice Over and Axe as part of our quality assurance processes.
</p>
<p>
This is a summary of the DAC Report from Feb 2018. Many of the high to medium issues mentioned have now been resolved.
</p>
<p>
“The Digital Accessibility Centre (DAC) user/technical team carried out an accessibility audit for the Ministry of Justice’s Civil Money Claims service on 13th February 2018. This document incorporates the findings regarding any accessibility barriers identified during the process.
</p>
<p>
There were areas of the service that caused some difficulties for our analysts. Screen reader software reads the content on a page in a linear fashion and this also applies to layout tables, unless table headers are used. Table headers ensure that content is read out in columns and rows. Tables were encountered that contained headers that were layout tables and vice versa, which cause confusion for our screen reader analyst.
</p>
<p>
All of the error skip links functioned as expected; however, the third-party area that users were taken to did not possess one. There is no ‘skip to content’ link is present on the ‘Court and tribunal form finder’ page. A skip to content link would usually benefit users by navigating their focus to the primary content of the page.
</p>
<p>
Links were present that were not descriptive to users that rely on audio feedback, whether navigating within the context of the page, or out of context (viewing by links alone). More description/context is required to ensure that users that rely on audio feedback can navigate with confidence. Form fields had not been labelled in some instances and others had labels hidden off screen, which were read to screen reader users, but were of no benefit to cognitive or dyslexic users.
</p>
<p>
As a result of updating page content, user focus was taken to the top of the page, resulting in keyboard users needing to re-navigate the page in order to return to the point at which they lost focus; this can be extremely frustrating to keyboard only users and disorienting to screen reader and screen magnification user groups.“

        </p>

            <!-- Block end -->

            <h2 class="heading-medium">
              What we’re doing to improve accessibility

            </h2>

            <p>
              This website is continually tested using accessibility software. Any new features which are introduced are also tested.
            </p>
            <p>
              We will be making the PDFs, documents and attachments that are essential to using our service accessible.
            </p>
            <p>
              We aim to carry out an accessibility audit with DAC in the near future.
            </p>
            <p>
              This statement was prepared and published on 23 September 2019.            </p>
        </form>
      </div>
    </div>
    {% include 'prototypes/prototype-may-2020/includes/contact.html' %}
  </main>
  {% endblock %}
