{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Why didn't you respond to the claim?
      </h1>
      <form action="../../date-ccj" method="get" class="form">
        <div class="form-group">
          <textarea class="form-control form-control-3-4 " id="claim-details-1" rows="3" name="claim-affect" type="text" style="width: 100%" value=""></textarea>
        </div>
        <h2 class="heading-medium">Statement of Truth</h2>
        <div class="form-group">
         <div class="multiple-choice text">
           <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
           <label for="HasAcceptedTermsAndConditions"> I declare that the answers I have given are true to the best of my knowledge.</label>
         </div>
       </div>
       <a href="../../enter-card" class="button">Submit and continue to payment (£255)</a>
     </form>
   </div>
 </div>
{% include 'prototypes/prototype-sep-2019/includes/contact.html' %}
</main>
{% endblock %}
