{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} /prototype-14/index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Successful activation
      </h1>

      <p class="lede">Your account is now activated.</p>

      <p class="lede">You can save your claim and return to it at any time using your email address and password.</p>

      <fieldset></fieldset>

      <div class="clearfix">
        <a class="button" href="../start-page" role="button">Continue to make a money claim</a> &nbsp;
      </div>

    </div>
  </div>
</main>


{% endblock %}
