{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <a href="#" class="link-back">Back</a>

  <h1 class="heading-large">
                    <span class="heading-secondary">Judgment by default </span>

    Check your answers
  </h1>

  <table class="check-your-answers">

    
    <tbody>
    <tr>
      <td >
        <h2 class="heading-small">
          Their details
        </h2>      
        </td>
      <td>
      
 
      </td>
      <td class="change-answer">

      </td>
    </tr>
    <tr class="individual">
      <td>
        Name
      </td>
      <td>
        Mary Richards<br>
 
      </td>
      <td class="change-answer">

      </td>
    </tr>
    
    <tr class="business" style="display: none;">
      <td>
        Name
      </td>
      <td>
        Smith LTD <br>
 
      </td>
      <td class="change-answer">

      </td>
    </tr>
    <tr class="business" style="display: none;">
      <td>
        Contact person 
      </td>
      <td>
        Jane Smith<br>
 
      </td>
      <td class="change-answer">

      </td>
    </tr>
    <tr class="sole" style="display: none">
      <td>
        Business name
      </td>
      <td>
        Richards Interior Design LLP<br>
 
      </td>
      <td class="change-answer">

      </td>
    </tr>

    <tr>
      <td>
        Address
      </td>
      <td>
        101 Regent Road<br>
        Shiplake<br>
        RG9 4BW
      </td>
      <td class="change-answer">

      </td>
    </tr>
    <tr>
      <td>
       Telephone
      </td>
      <td>
        01234 567 890
      </td>
      <td class="change-answer">

      </td>
    </tr>
     <tr>
      <td>
        Email
      </td>
      <td>
        maryrichards@hotmail.com
 
      </td>
      <td class="change-answer">

      </td>
    </tr>       
    <tr class="dob">
      <td>
        Date of birth
      <td>
        Not sure<br>
      </td>
      <td class="change-answer">
        <a href="defendant-DOB">
          Change <span class="visuallyhidden">Date of birth</span>
        </a>
      </td>
    </tr>
        <tr>
      <td >
        <h2 class="heading-small">
          Payment
        </h2>      
        </td>
      <td>
      
 
      </td>
      <td class="change-answer">

      </td>
    </tr>
    <tr>
      <td>
        Amount to be paid by defendant
      <td>
        £1643.20<br>
      </td>
      <td class="change-answer">
        <a href="claim-amount">
          Change <span class="visuallyhidden">Amount to be paid by defendant</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        The defendant will pay
      <td>
        {% if data['radio-pay-group']=="Immediately" %}
             Immediately

        {% elseif data['radio-pay-group']=="Instalments" %}
        By instalments:
        £300 each month.<br> First payment on 23 September 2017  

        {% elseif data['radio-pay-group']=="Set-date" %}
 
            The full amount by 12 December 2017
          {% endif %}
      
      </td>
      <td class="change-answer">
        <a href="payment-options">
          Change <span class="visuallyhidden">Judgment details</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Declaration</h2>

  <p class="text">
    By signing this you confirm that, to the best of your knowledge, the details you have
    provided are correct.</p>

  <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      Once you click 'Sign and submit', you cannot change your answers
    </strong>
  </div>

  <a href="confirmation-page" class="button">Sign and submit</a>


</main>
<select id="control-box" name="select-box" style="position: absolute;">
 

  <option  value="1">Individual</option>
  <option value="2">Sole trader</option>
  <option value="3">Company or Organisation</option>
</select>


<script type="text/javascript">




  $( document ).ready(function() {

   $('#control-box').on('change', function () {

    if (this.value == '1') {
      $(".individual").show();
      $(".business").hide();
      $(".sole").hide();
            $(".dob").show();


    } else if (this.value == '2') {
      $(".individual").show();
      $(".business").hide();
      $(".sole").show();
            $(".dob").hide();


    }else if (this.value == '3') {
      $(".individual").hide();
      $(".business").show();
      $(".sole").hide();
      $(".dob").hide();


    }  
  });



 }); 
</script>

{% endblock %}

