{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        <span class="heading-secondary">County Court Judgment </span>

        Deduct amount paid by defendant already (optional)
      </h1>
      <p>Total amount payable by defendant is £1643.20</p>



      <div class="form-group">



        <div class="form-group-compound address-item form-group">
          <label class="form-label" for="addressLine1">Amount already paid</label>
          <input class="fee pound" maxlength="10" size="7" type="text" value="" name="num2" id="num2">
        </div>

        </>

      </div>

      <!--<div class="callout callout-reference"><p>Total amount payable by defendant</p>-->
      <!--<span class="bold-large number">£195.00</span>-->
      <!--</div>-->


      <a class="button" href="claim-amount">Continue</a>

    </div>
  </div>
</div>
</main>
<script type="text/javascript">


  $(function() {
    $("#num1, #num2").on("keydown keyup", sum);
    function sum() {
      $("#sum").val(Number($("#num1").val()) + Number($("#num2").val()));
      $("#subt").text(Number($("#num1").val()) - Number($("#num2").val()));
    }
  });
</script>



</div>
</div>
</div>
</main>


{% endblock %}

