{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('offer'));
    });
  </script>

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <!--<div class="column-two-thirds">-->

    <div class="govuk-box-highlight">
      <h1 class="bold-large">County Court Judgment requested</h1>
      <br>
<!--       <p>
        <strong class="bold"><span id="Date2"></span></strong>
      </p> -->
    </p>
    <p>
      <a class="font-medium" href='{{ asset_path }}images/Country-court-judgment.pdf' style="color: #FFFFFF" download>Download judgment as pdf</a>
    </p>
  </div>
  



  <fieldset>

    <h2 class="heading-medium">What happens next</h2>
    <p>The court has entered judgment in your favour, Mary Richards is no longer able to file a response.</p>
    <p>You can ask the court to <a href='https://www.gov.uk/make-court-claim-for-money/enforce-a-judgment'>enforce the judgment</a> if Mary Richards doesn't pay as ordered by 8 August 2017.</p>


  
    <p> View your claim status on <a href='../home?dashboard=4'>your money claims account</a>. </p>    



    <h2 class="heading-medium">Help and support</h2>
    <p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
      Telephone: 0300 123 7050<br>
      Hours: 9am to 5pm, Monday to Friday</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

    </fieldset>
    <br>
    <a href="http://www.smartsurvey.co.uk/s/CMCMVPT1/" class="button">Finished</a>
  </div>
</div>
</main>


{% endblock %}
