{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

 {% include "includes/phase_banner_beta.html" %}


 <div class="grid-row">
  <div class="column-two-thirds">

    <a href="#" class="link-back">Back</a>

    <h1 class="heading-large">
      <span class="heading-secondary">Judgment by default </span>
      Confirm their details
    </h1>
    <p>Check their address is right. You can correct or update address.</p>


    <div class="form-group individual">
      <h2 class="heading-medium">Full name</h2>
      <div class="form-group">
        <span>Mary Richards</span>
      </div>

    </div>

    <div class="form-group business" style="display: none">
      <h2 class="heading-medium">Company name</h2>
      <div class="form-group">
        <span>Smith LTD</span>
      </div>

    </div>

    <div class="form-group org" style="display: none">
      <h2 class="heading-medium">Organisation name</h2>
      <div class="form-group">
        <span>Jones Bros</span>
      </div>

    </div>


    <div class="form-group sole" style="display: none">
      <h2 class="heading-medium">Business name</h2>
      <div class="form-group">
        <span>Richards Interior Design LLP</span>
      </div>
    </div>

    <div class="form-group business" style="display: none">
      <h2 class="heading-medium">Contact person</h2>
      <div class="form-group">
        <span>Jane Smith</span>
      </div>
    </div>

    <div class="form-group org" style="display: none">
      <h2 class="heading-medium">Contact person</h2>
      <div class="form-group">
        <span>Jane Smith</span>
      </div>
    </div>


    <div class="form-group">

      <h2 class="heading-medium"> Their address</h2>


      <div class="form-group-compound address-item form-group">
        <label class="form-label" for="addressLine1">Address line 1</label>
        <input class="form-control" id="addressLine1" name="d-addressLine1" type="text" value="101 Regent Road" >
      </div>

      <div class="form-group-compound address-item form-group">
        <label class="form-label" for="addressLine2">Address line 2 (optional)</label>
        <input  class="form-control" id="addressLine2" name="d-addressLine2" type="text" value="{{data['d-addressLine2']}}">
      </div>

      <div class="form-group-compound address-item form-group">
        <label class="form-label" for="addressLine3">Town or city</label>
        <input id="addressLine3" name="d-addressLine3" type="text" value="Shiplake">

      </div>

      <div class="address-item form-group">
        <label class="form-label" for="addressPostcode">Postcode</label>
        <input class="form-control form-control-large form-control-1-4" id='d-addressPostcode' name="addressPostcode" type="text" value="RG9 4BW">
      </div>

    </div>

    <div class="form-group">

      <h2 class="heading-medium"> Email address</h2>

      <span>maryrichards@hotmail.com</span>


    </div>

    <!-- <table>
      <thead>
        <tr>
          <th colspan="2">Their details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Full name</td>
          <td>Mary Richards</td>
        </tr>
        <tr>
          <td>Address</td>
          <td> <br>
            Shiplake <br>
            RG9 4BW</td>
          
              <div class="form-group">



               <div class="form-group-compound address-item form-group">
                <label class="form-label" for="addressLine1">Address line 1</label>
                <input class="form-control" id="addressLine1" name="d-addressLine1" type="text" value="101 Regent Road" >
              </div>

              <div class="form-group-compound address-item form-group">
                <label class="form-label" for="addressLine2">Address line 2 (optional)</label>
                <input  class="form-control" id="addressLine2" name="d-addressLine2" type="text" value="{{data['d-addressLine2']}}">
              </div>

              <div class="form-group-compound address-item form-group">
                <label class="form-label" for="addressLine3">Town or city</label>
                <input id="addressLine3" name="d-addressLine3" type="text" value="Shiplake">

              </div>

              <div class="address-item form-group">
                <label class="form-label" for="addressPostcode">Postcode</label>
                <input class="form-control form-control-large form-control-1-4" id='d-addressPostcode' name="addressPostcode" type="text" value="RG9 4BW">
              </div>
            </fieldset>



          </tr>








          <tr>
            <td>Email</td>
            <td>maryrichards@hotmail.com</td>
          </tr>
        </tbody>
      </table> -->
      <fieldset></fieldset>
      <a class="button" href="defendant-DOB" role="button">Confirm and continue</a>





    </div>



  </main>
      <select id="control-box" name="select-box" style="position: absolute;">
        <option  value="1">Individual</option>
        <option value="2">Sole trader</option>
        <option value="3">Company</option>
        <option value="4">Organisation</option>
      </select>
      <script type="text/javascript">
        $( document ).ready(function() {
         $('#control-box').on('change', function () {
          if (this.value == '1') {
            $(".individual").show();
            $(".business").hide();
            $(".sole").hide();
            $(".org").hide();

          } else if (this.value == '2') {
            $(".individual").show();
            $(".business").hide();
            $(".sole").show();
            $(".org").hide();

          }else if (this.value == '3') {
            $(".individual").hide();
            $(".business").show();
            $(".org").hide();
            $(".sole").hide();

          }else if (this.value == '4') {
            $(".individual").hide();
            $(".org").show();
            $(".business").hide();
            $(".sole").hide();
 
          }  
        });
       }); 
     </script>

 {% endblock %}

