{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-large">
        <span class="heading-secondary">Defendant's response </span>

        Mary Richards response
      </h1>
      <br>


      <h2 class="heading-small">Their response to your claim</h2>
      <p>


        The defendant has rejected your claim.


      </p>


      <p class="heading-small">Why they rejected your claim</p>

      <p>The work on the roof was completed as per the contract.</p>
      <p>Jan says she contacted me but I didn't get a call or an email - I'd have been happy to take a look at the roof
        and see if there was a problem. There shouldn't be a need to get someone else in and the quote of £1,500 sounds
        high.
      </p>


      <p class="heading-small">Their timeline of events</h3>

      <div class="form-fields">
        <table>
          <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">What happened</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>03/01/2017</td>
            <td>I contacted Mary Richards to discuss building works on our roof.</td>
          </tr>
          <tr>
            <td>06/01/2017</td>
            <td>We agreed what work should be done and signed a contract.</td>
          </tr>
          </tbody>
        </table>
      </div>

      <p class="heading-small">Their evidence</p>
      <p>I didn't get an email from Jan about this, so I didn't get a chance to sort it out. It would be good to see a
        copy of the email. </p>

      <p class="heading-small">How this dispute has affected them</p>

      <p>I'm sorry you have felt stress during this process but would like claim resolved amicably.</p>

      <h2 class="heading-medium">How do you want to proceed?</h2>
      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-indent-group', ['reject_hearing', 'accept_stop_claim'], ['confirmation-page', 'confirmation-page']);return false;"
        id="aspnetForm"
        autocomplete="off">
        <div class="form-group">
          <fieldset>
            <div class="multiple-choice" data-target="accept">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="reject_hearing">
              <label for="radio-yes" data-target="yes-info">Reject their response and continue to a hearing</label>
            </div>
     <!--       <div class="panel panel-border-narrow js-hidden" id="accept">
              <p>You can make a legal agreement between you and Mary Richards.</p>
            </div>-->
            <div class="multiple-choice" data-target="reject-offer">
              <input id="radio-no" type="radio" name="radio-indent-group" value="accept_stop_claim">
              <label for="radio-no" data-target="no-info">Accept their response and stop the claim</label>
            </div>
<!--            <div class="panel panel-border-narrow js-hidden" id="reject-offer">
              <p>Continue to consider their offer of mediation.</p>
            </div>-->

          </fieldset>
          <input id="advert-option-next--button" type="submit" value="Continue" class="button"
                 data-ignore-double-submit="true">
        </div>
      </form>

    </div>

  </div>
</main>


{% endblock %}

