{% extends "layout.html" %} {% block page_title %} Check your theory test details {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/driving/task_list{{formQuery}}">Learn to drive</a>
      </li>
      <li>
        Check your theory test details
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list#check_theory_test_details" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Check your theory test details
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Check your theory test details
          </legend>

          <p>To check your theory test appointment details:</p>

          <ol class="list list-number">
            <li>have provisional licence number</li>
            <li><a href="https://www.gov.uk/check-theory-test">check your theory test details</a></li>
          </ol>

          <input type="hidden" name="check_theory_test_details" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – I've checked my test details" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}