{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} /prototype-14/index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <!--<div class="column-two-thirds">-->

    <div class="govuk-box-highlight">
      <h1 class="bold-large">Claim submitted</h1>
      <br>
      <p>
        Your claim reference: <strong class="bold">CF91-BK65</strong>
      </p>

      <p>
        Email confirmation sent to: <strong class="bold">youremail@gmail.com</strong>
      </p>

      <p>
        <a href="#" style="color: #FFFFFF" data-alert="This feature is not available in this demo">Download receipt as
          pdf</a>
      </p>

    </div>

    <h2 class="heading-medium">What happens next</h2>
    <p>Mary Richards has <span class="bold">28 days to respond</span> to your claim.
    <p>We'll send you an update by email and SMS if they do respond, and we'll explain what to do if they don't.</p>

    <h2 class="heading-medium">What you can do</h2>
    <p>You can still contact Mary Richards directly while your claim progresses. Many people are able to settle their
      claim by discussing what's gone wrong. If you can make an agreement you won't need to go to a hearing.</p>

    <p>Find out more about what happens <a
      href="https://www.gov.uk/make-court-claim-for-money/after-you-make-your-claim">after you've made a
      money claim</a>.
      <!--<p>You might be contacted by us if the people you've named is willing to discuss your claim.</p>-->
      <!--<p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What-->
      <!--did you think of this service?</a> (takes 30 seconds)</p>-->

    <h2 class="heading-medium">If you need help</h2>
    <p>Call our helpline if you have questions.</p>
    Telephone: 0300 144 2121<br>
    Textphone: 0300 144 2122<br>
    Hours: 9am to 5pm, Monday to Friday</p>

    <br>

    <a href="http://www.smartsurvey.co.uk/s/3Q3KE/" class="button">Finished</a>

  </div>
</main>


{% endblock %}
