{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Jan Clark's claim
      </h1>

      <p>Jan Clark has made a money claim against you.</p>

       <p class="panel panel-border-wide">You have until <strong class="bold">15 March</strong> to respond to this
        claim.</p>

      <p class="heading-medium">Summary</p>

      <p>This claim is about building works.</p>
      <p>Claim amount: <span class="bold">£1,500</span></p>

      <p class="heading-medium">Reason for claim</p>

      <p>Mary Richards and I signed a contract for building works on my roof. The work on the roof was completed but
        there was a problem with one section. I asked Mary Richards to get the problem fixed, but didn't get a
        reply.</p> <p>I'll have to get another builder to rectify the problem which will cost me £1,500.</P> <p>Therefore, I'm making a money
        claim for £1,500 to compensate for the extra money I'm going to need to spend.</p>

      <p class="heading-medium">Timeline</p>

      <div class="form-fields">
        <table>
          <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">What happened</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>03/01/2017</td>
            <td>I contacted Mary Richards to discuss building works on our roof.</td>
          </tr>
          <tr>
            <td>06/01/2017</td>
            <td>We agreed what work should be done and signed a <a href="">contract</a>.</td>
          </tr>
          <tr>
            <td>30/01/2017</td>
            <td>The work started on the roof.</td>
          </tr>
          <tr>
            <td>05/02/2017</td>
            <td>The work on the roof was completed but I noticed that there was a <a href="">problem with one
              section</a>.
            </td>
          </tr>
          <tr>
            <td>07/02/2017</td>
            <td>I sent an <a href="">email</a> to Mary Richards and asked them to get the problem fixed.</td>
          </tr>
          <tr>
            <td>15/02/2017</td>
            <td>I hadn't had a reply so I told them I would be making a money claim.</td>
          </tr>
          </tbody>
        </table>
      </div>

      <p class="heading-medium">How this dispute has affected the claimant</p>

      <p>The problem with the roof has caused me a lot of stress. We've been planning to put the house on the market so wanted this work completed. We've had to hold off listing the house with an agent until this is sorted out.</p>

      <fieldset></fieldset>

      <p class="panel panel-border-wide">You have until <strong class="bold">15 March</strong> to respond to this
        claim.</p>
      <details>
        <summary><span class="summary">What if I don't respond in time?</span></summary>
        <div class="panel panel-border-narrow">
          <p>You might have to pay more or get a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County
            Court Judgment (CCJ)</a> if you don't
            respond in time.</p>
        </div>
      </details>

      <details>
        <summary><span class="summary">What ways can I respond?</span></summary>
        <div class="panel panel-border-narrow">
          <p><span class="bold">If you accept the claim is fair</span> you can respond to say that you agree to pay the money. If you can't
            afford to pay it all at once you can make a suggestion, such as a repayment plan, for them to consider.</p>
          <p><span class="bold">If you don't accept you owe the amount of money claimed</span> you'll be asked to submit your defence and might have to go to a hearing. You'll also have the option to <span class="bold">make a 'without prejudice' suggestion</span> to try to settle the claim. This means the other side can’t mention that you made them an offer if they choose to reject it and you do end up at a hearing.</p>
          <p><span class="bold">If you believe the claimant owes you money</span> you can make a claim against them (‘counterclaim’). You might have to pay a <a class="external" rel="external" href="https://www.gov.uk/make-court-claim-for-money/court-fees"
                     target="_blank">court fee</a>.</p>
        </div>
      </details>

      <br>

      <div class="clearfix">
        <a class="button" href="create-account" role="button">Respond to claim</a>
        <!--<a class="button-return ga-event" href="paid-already" role="button">I've already paid</a>-->
        <br>
        <br>
        <a href="paid-already" class="actions">I've already paid</a>
      </div>

      <br>
      <p class="heading-medium">Other questions</p>

      <details>
        <summary><span class="summary">Can I just pay the money now?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Yes, you can contact Jan Clark yourself and pay the money. Ask them to let the court
            know when they have your payment.</p>
        </div>
      </details>

      <details>
        <summary><span class="summary">What if they owe me money?</span></summary>
        <div class="panel panel-border-narrow">
          <p>You can make a claim against them (‘counterclaim’) if you think they owe you money. Download and fill
            in <a class="external" rel="external"
                  href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=659"
                  target="_blank">form N9B</a>.</p>
        </div>
      </details>

      <details>
        <summary><span class="summary">What if I can't afford to pay the money back?</span></summary>
        <div class="panel panel-border-narrow">
          <p>You might be able to get expert advice to help you deal with debt from organisations like <a
            class="external" rel="external" href="https://www.stepchange.org" target="_blank">StepChange</a>.</p>
          <p>You can also respond to the claim and offer a repayment plan.</p>
        </div>
      </details>

    </div>
  </div>

</main>


{% endblock %}

