{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Are these details correct?
      </h1>
      <p>Your address is the same as the [person/org] you making the claim against.</p>
      <table class="check-your-answers">
        <thead>
          <tr>
            <th colspan="2">
              <h2 class="bold" id="name">
                Your details
              </h2>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Name:
            </td>
            <td>
              Mr John Smith
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="">
              Address:
            </td>
            <td class="">
              12 King road,
              London,
              W8 4RF
            </td>
            <td class="change-answer">
              <a href="../../your-details/your-details">
                Change <span class="visuallyhidden">Individual</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="check-your-answers">
        <thead>
          <tr>
            <th colspan="2">
              <h2 class="bold" id="name">
                Their details
              </h2>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Name:
            </td>
            <td>
              Mr Dave Jones
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="">
              Address:
            </td>
            <td class="">
              12 King road,
              London,
              W8 4RF
            </td>
            <td class="change-answer">
              <a href="../enter-details/enter-details">
                Change <span class="visuallyhidden">Individual</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <form method="post" action="../email" class="form">
        <div class="form-group">
          <input type="submit" class="button" value="Yes and continue"/>
        </div>
      </form>
    </div>
  </div>
{% include 'prototypes/prototype-sep-2019/includes/contact.html' %}
</main>
{% endblock %}
