{% extends "layout.html" %} {% block page_title %} Take your driving test {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/driving/task_list{{formQuery}}">Learn to drive</a>
      </li>
      <li>
        Take your driving test
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list#take_driving_test" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Take your driving test
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Take your driving test
          </legend>

          <p>To take your driving test:</p>

          <ol class="list list-number">
            <li>have provisional licence number</li>
            <li><a href="https://www.gov.uk/driving-test/what-happens-during-test">read how driving tests work</a></li>
            <li>take test</li>
          </ol>

          <p>What to do <a href="https://www.gov.uk/driving-test/driving-test-faults-result">if you don’t pass</a> your driving test.</p>

          <input type="hidden" name="take_driving_test" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – I've passed my driving test" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}