{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <form method="get" autocomplete="off" action="defence-response">

        <h1 class="heading-large">Add further details</h1>

        <div class="description-block">
          <h1 class="heading-small">Your original claim summary</h1>

          <p>This claim is about building works.</p>
          <p>Mary Richards and I signed a contract for building works on my roof. The work on the roof was completed but there was a problem with one section. I asked Mary Richards to get the problem fixed, but didn't get a reply.</p>
          <p class="show-more">I'll have to get another builder to rectify the problem which will cost me £1,430.</p>
          <p class="show-more">Therefore, I'm making a money claim for £1,500 to compensate for the extra money I am going to need to spend.</p>
          <a href="#" class="toggle">Show more</a>
          <a href="#" class="toggle" style="display: none">Show less</a>
        </div>

        <h1 class="heading-medium">
         Do you have any further detail to add to support your claim?
        </h1>

        <fieldset>
          <div class="multiple-choice" data-target="details" >
            <input id="radio-1" type="radio" name="details" value="yes"/>
            <label for="radio-1">Yes</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="details">
            <textarea style="height: 400px"></textarea>
          </div>
          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="details" value="no" />
            <label for="radio-2">No</label>
          </div>
        </fieldset>

      <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>

    </form>
  </div>
</div>
{% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
