{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Your details
      </h1>

      <div class="form-group">
        <div class="form-fields">
          <fieldset>
            <!--  <legend>About the claimant</legend> -->


            <!--<div class="input form-group select required claimant_title"><label-->
            <!--class="select required form-label" for="claimant_title">Title</label><select-->
            <!--class="select required form-control" name="claimant[title]" id="claimant_title">-->
            <!--<option value="">Please select</option>-->
            <!--<option value="mr">Mr</option>-->
            <!--<option value="mrs">Mrs</option>-->
            <!--<option value="miss">Miss</option>-->
            <!--<option value="ms">Ms</option>-->
            <!--</select></div>-->

            <div class="input form-group string required claimant_first_name"><label class="string required form-label" for="claimant_first_name">First
              name</label><input class="string required form-control" type="text" name="claimant[first_name]" id="claimant_first_name"></div>

            <div class="input form-group string required claimant_last_name"><label class="string required form-label" for="claimant_last_name">Last name</label><input class="string required form-control" type="text" name="claimant[last_name]" id="claimant_last_name"></div>

            <!--<legend class="form-label">Date of birth</legend>-->
            <!--<div class="input form-group date optional claimant_date_of_birth field_with_hint"><p-->
            <!--class="form-hint text">For example, 23 04 1981</p>-->
            <!--<div class="input form-group know-date-input">-->
            <!--<div class="input form-group tel required claimant_date_of_birth_day"><label-->
            <!--class="tel required form-label"-->
            <!--for="claimant_date_of_birth_day">Day</label><input-->
            <!--class="string tel required form-control" maxlength="2" type="tel"-->
            <!--size="2" name="claimant[date_of_birth][day]"-->
            <!--id="claimant_date_of_birth_day"></div>-->
            <!--<div class="input form-group tel required claimant_date_of_birth_month"><label-->
            <!--class="tel required form-label"-->
            <!--for="claimant_date_of_birth_month">Month</label><input-->
            <!--class="string tel required form-control" maxlength="2" type="tel"-->
            <!--size="2" name="claimant[date_of_birth][month]"-->
            <!--id="claimant_date_of_birth_month"></div>-->
            <!--<div class="input form-group tel required claimant_date_of_birth_year"><label-->
            <!--class="tel required form-label"-->
            <!--for="claimant_date_of_birth_year">Year</label><input-->
            <!--class="string tel required form-control" maxlength="4" type="tel"-->
            <!--size="4" name="claimant[date_of_birth][year]"-->
            <!--id="claimant_date_of_birth_year"></div>-->
            <!--</div>-->
            <!--</div>-->
          </fieldset>

          <fieldset>
            <legend>Your contact details</legend>





            <div class="input form-group tel optional claimant_address_telephone_number"><label class="tel optional form-label" for="claimant_address_telephone_number">Phone or
              mobile number</label><input class="string tel optional form-control medium-input" type="tel" name="claimant[address_telephone_number]" id="claimant_address_telephone_number">
            </div>
            <div class="input form-group email optional claimant_email_address"><label class="email optional form-label" for="claimant_email_address">Email address
            </label><input class="string email optional form-control" type="email" name="claimant[email_address]" id="claimant_email_address">
            </div>
          </fieldset>

          <form>
            <fieldset>
              <legend>Get updates</legend>
              <p>We'll let you know when something happens with your claim.</p>

              <legend class="visually-hidden">Get updates</legend>

              <div class="multiple-choice">
                <input id="radio-1" type="radio" name="radio-group" value="Text message">
                <label for="radio-1" data-target="text-info">Text message</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="text-info">
                <p>You'll only get text messages if you've given us a mobile number.</p>
              </div>

              <div class="multiple-choice">
                <input id="radio-2" type="radio" name="radio-group" value="Email">
                <label for="radio-2">Email</label>
              </div>

              <div class="multiple-choice">
                <input id="radio-3" type="radio" name="radio-group" value="Post">
                <label for="radio-3">Both email and text messages</label>
              </div>

              <div class="multiple-choice">
                <input id="radio-3" type="radio" name="radio-group" value="Post">
                <label for="radio-3">No, I don't want updates</label>
              </div>

            </fieldset>
          </form>
        </div>

        <!--<fieldset>-->
        <!--<legend>Your work address</legend>-->

        <!--<div class="form-group">-->
        <!--<fieldset>-->
        <!--<p>Do you work at the same address to the one given above?</p>-->

        <!--<legend class="visually-hidden">Do you work at the same address to the one given-->
        <!--above?-->
        <!--</legend>-->

        <!-- <div class="multiple-choice">
          <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
          <label for="radio-yes" data-target="yes-info">Yes</label>
        </div> -->

        <!--<div class="panel panel-border-narrow js-hidden" id="yes-info">-->
        <!--<p>You have to send in an application if you wish to make a claim at your place of work.</p>-->
        <!--</div>-->

        <!-- <div class="multiple-choice">
          <input id="radio-no" type="radio" name="radio-indent-group" value="No">
          <label for="radio-no">No</label>
        </div> -->

        <!--</fieldset>-->
        <!--</div>-->

        <!--<a class="button" href="details-defendant" role="button">Continue</a>-->

        <!--</fieldset>-->

        <a class="button" href="details-defendant" role="button">Continue</a>
        <!--<div class="form-actions"><input type="submit" name="commit"-->
        <!--value="Continue"-->
        <!--class="button"></div>-->
        <!--<p>-->

      </div>
    </div>
  </div>
</main>

{% endblock %}
