{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        About you and this claim
      </h1>

      <p>We need to know if you're the person owed the money or if you're making the claim on behalf of someone else.
      </p>

      <form>
        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">About you and this claim</legend>

            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="">
              <label for="radio-1">I'm making this claim for myself</label>
            </div>

            <!-- <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-group" value="">
              <label for="radio-2">I'm helping someone make this claim - eg a friend, relative</label>
            </div> -->

            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="radio-group" value="">
              <label for="radio-3">I'm a legal representative</label>
            </div>

          </fieldset>
        </div>
      </form>

      <a class="button" href="saving-claim" role="button">Continue</a>

    </div>
  </div>
</main>


{% endblock %}
