{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="#" class="link-back">Back</a>

            <h1 class="heading-xlarge">Making your claim</h1>

            <p class="lede">Complete these steps to make your claim. You can save and return at any time. </p>

            <ol class="list list-number task-list" data-task-list>

                <li>
                    <a class="bold-medium task-link" href="claim-amount">Check your claim fee</a>
                    <p>Enter the amount you're owed and find out<br> what it will cost to make a claim.</p>
                    <!--<p>(5 minutes to complete)</p>-->
                    <span class="task-status" data-task="determine_fee"><span data-key="fee">£60</span></span>
                    <a class="button" href="claim-amount">Start</a>
                    <!--<a class="button button-start js-hidden" href="court-fees">Start</a>-->
                </li>

                <li>
                    <a class="bold-medium task-link" href="details-claimant">Your details</a>
                    <p class="font-medium">Give your contact details, including your<br> email address.
                    </p>
                    <!--<p>(5 minutes to complete)</p>-->
                    <!--<span class="task-status" data-task="enter_details">COMPLETED</span>-->
                    <!--<a class="button button-start js-hidden" href="/data-capture/start">Start</a>-->
                </li>

                <li>
                    <a class="bold-medium task-link" href="details-defendant">Their details</a>
                    <p class="font-medium">Give the details of the person you're claiming <br> against, including current postal address.
                    </p>
                    <!--<p>(5 minutes to complete)</p>-->
                    <!--<span class="task-status" data-task="enter_details">COMPLETED</span>-->
                    <!--<a class="button button-start js-hidden" href="/data-capture/start">Start</a>-->
                </li>

                <li>
                    <a class="bold-medium task-link" href="claim-summary">Claim details</a>
                    <p class="font-medium">Explain Why you believe you're owed the money you're <br>claiming.  You can also upload evidence.</p>
                    <!--<p>(20 minutes to complete)</p>-->
                    <!--<span class="task-status" data-task="enter_details">COMPLETED</span>-->
                    <!--<a class="button button-start js-hidden" href="/data_capture/start">Start</a>-->
                </li>
            </ol>

        </div>

    </div>
</main>


{% endblock %}

