{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../../task-list {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="../../task-list{{ formQuery | safe }}">Make a money claim</a>
      </li>
      <li>
        Claim details
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">
        <input type="hidden" name="claim_details" value="complete">

        {{formData | safe}}

        <h1 class="heading-large">
          Why you believe you're owed the money
        </h1>


        <p>Briefly explain why you are owed the money.</p>
          <div class="panel panel-border-wide">
            Your claim will be sent only to the defendant Mary Richards - a judge will not see your explanation unless the claim goes to a hearing.
          </div>


        <fieldset>

          <legend class="visuallyhidden">
            Why you believe you're owed the money
          </legend>

          <textarea class="form-control form-control-3-4 form-control-large"
                    id="claim-reason"
                    rows="3"
                    name="claim-reason"
                    type="text"
                    style="width: 100%"
                    value="">{{data['claim-reason']}}</textarea>

        </fieldset>

        <br>


      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
        <div class="form-group">
          <input type="submit" class="button" value="Save changes"/>
        </div>


        <a href="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}">Cancel</a>

      {% else %}
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>

      {% endif %}
      </form>

    </div>
  </div>

</main>
{% endblock %}
