{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% import 'prototypes/prototype-jun-2019/includes/address.html' as address %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
  {% else %}
  <a href="#" class="link-back">Back</a>
  {% endif %}
  <div class="grid-row">
    <div class="column-two-thirds">

          <form method="post" action="company-address" class="form">

            <h1 class="heading-large">
              Company name
            </h1>

            <p>Remember:</p>

            <ul class="list list-bullet">
              <li>this must be the full legal name or your claim may fail</li>
              <li>the full legal name is often different to the name you know the company by. For example, British Gas is 'British Gas Trading Limited'</li>
              <li>often trading names can be completly differnt to the full legal name. For example CurrysPCWorld is 'DSG Retail Limited'</li>
              <li>franchises may be run by a different company to the name of the chain.</li>
              <li>you must nclude 'ltd', 'limited' or 'plc' if shown on paperwork</li>
            </ul>
            
            <p>Make sure you have this correct as you'll have to pay an extra fee to correct it later.</p>

            <fieldset>
              <div class="form-group">
                <label class="form-label" for="defendant_name">Full company name</label>
                <input class="form-control " id="defendant_name" name="defendant_name" type="text"
                value="{{data['defendant_name']}}">
              </div>
              <div class="form-group">
                <label class="form-label" for="defendant-contact-name">Contact person (optional) </label>
                <p class="form-hint">This might be a person you've discussed the claim with</p>
                <input class="form-control" id="defendant-contact-name" name="defendant-contact-name" type="text"
                value="{{data['defendant-contact-name']}}">
              </div>
            </fieldset>

    <div class="form-group">
      <input type="submit" class="button" value="Save and continue"/>
    </div>

  </form>
</div>
</div>
{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}