{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Your claim fee
      </h1>

      <div class="callout callout-reference">
        <p>Fee for your claim</p>
        <span class="bold-large number">£70</span>
        <p>You’ll have to pay an extra fee of £115 if your claim goes to a hearing.</p>
      </div>

      <h1 class="heading-medium">
        About fees
      </h1>
      <p>You must pay the fee before you can submit your claim.</p>

      <p>You might have to pay other fees if you can't reach an agreement with the person you're claiming against and you have to go to a hearing.</p>

      <!--<h1 class="heading-medium">-->
      <!--Exemption from paying fees-->
      <!--</h1>-->
      <!--<p>You might be able to get <a href="https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees#details">help with fees</a> if you are-->
      <!--on a low income or get certain benefits.</p>-->

      <!--<h2 class="heading-small">Do you want to apply for help with fees?</h2>-->

      <!--<form-->
      <!--name="aspnetForm"-->
      <!--method="post"-->
      <!--onsubmit="conditionalNavigation('radio-inline-group', 'Yes', 'details-claimant-2', 'details-claimant-2');return false;"-->
      <!--id="aspnetForm"-->
      <!--autocomplete="off">-->

      <!--<div class="form-group">-->
      <!--<fieldset class="inline">-->

      <!--<legend class="visually-hidden">Do you want to apply for help with fees?</legend>-->

      <!-- <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1" data-target="yes-info">Yes</label>
      </div>

      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2" data-target="no-info">No</label>
      </div> -->

      <!--<div class="panel panel-border-narrow js-hidden" id="yes-info">-->
      <!--<p>You must complete and submit your <a href="https://www.gov.uk/get-help-with-court-fees">help with fees application</a> within 7 days of submitting your-->
      <!--claim, or your help with fees application wil be rejected.</p>-->
      <!--</div>-->

      <!--</fieldset>-->
      <!--</div>-->

      <!--<input id="advert-option-next&#45;&#45;button" type="submit" value="Continue" class="button"-->
      <!--data-ignore-double-submit="true">-->
      <!--</form>-->

      <a class="button" href="details-claimant-2" role="button">Continue</a>

    </div>
  </div>
</main>


{% endblock %}
