{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">


  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <!--<h1 class="heading-large">
        Free telephone mediation
      </h1>-->


      <h1 class="heading-large">
        Free telephone mediation
      </h1>

      <p>We have automatically registered you for free telephone mediation from HM Courts and Tribunals Service.</p>

            <h3 class="heading-medium">How free mediation works</h3>



      <p>A trained, neutral mediator from HM Courts and Tribunals Service will help you to explore options, negotiate and agree a settlement.</p>

      <!-- ADD INSET TEXT HERE IF POSSIBLE -->
 
      <div style="margin-bottom: 30px; margin-top: 30px; color: #0b0c0c; padding: 15px; border-left: 10px solid #b1b4b6;">
      <p>Mediation can be quicker and cheaper than going to court.</p>
    </div>



      <!--old content <p>Both parties must agree to mediation. We’ll then contact you to arrange a free appointment. The mediator speaks to each party separately, this is not a conference call.</p>-->

      <p>The claimant must agree to mediation. We’ll contact you, within 28 days after the claimant's confirmation, to arrange a free appointment. The mediator speaks to each party separately, this is not a conference call.</p>

      <p>Your mediation appointment will last for no more than an hour.

      <h3 class="heading-medium">After mediation</h3>

 
      <p>If mediation is successful, you’ll make a verbal agreement over the phone. A copy of the settlement is available to both parties. You do not have to sign anything, but the agreement is binding.</p> 

 
      <p>If either party breaks the terms the other party can go to court to ask for a judgment or hearing.</p>

      <p>If mediation fails and a court hearing is needed, what happened during the mediation appointment cannot be mentioned in court.</p>

      <!-- ADD INSET TEXT HERE IF POSSIBLE -->
      <p>You will not have to wait longer for a court hearing if you choose mediation.</p>


      <!--<p>You have been automatically registered for free telephone mediation from HM Courts and Tribunals Service.</p>

      <p>Mediation can be quicker and cheaper than going to court. A trained mediator will help you to identify issues and negotiate to resolve them.</p>

      <p>We’ll explain how free mediation works – you can decide whether to take part or not.</p>-->

      {% if data.radio_select_group=="Some" or data['settle'] == 1 %}
      <p class="">If Jan Clark rejects your admission of {% if data['owe-amount'] =='' %}£1,200{% else
      %}£{{data['owe-amount']}}{% endif %} you can try to resolve the dispute using telephone mediation. If you succeed, you won't have to go to a hearing.</p>

      {% elseif data.radio_select_group=="Some_paid" or data.radio_select_group2=="Some_paid" or
      data.radio_select_group2=="amount_claimed" or data['settle'] == 2 %}
      <p class="">If Jan Clark rejects your explanation that you've paid the {% if data['owe-amount'] =='' %}£300{% else
      %}£{{data['owe-amount']}}{% endif %} you believe you owe, you can try to resolve the dispute using telephone
      mediation.</p>
      <p> If you succeed, you won't have to go to a hearing.</p>

      {% endif %}

      {% if data['mediation-pilot']=="on" %}
      <form method="post" action="mediation/how-mediation-works" class="form">
        <input type="hidden" name="mediation" value="complete">

        <p>We're automatically registering some claims worth £300 or less for free telephone mediation. Your claim has been selected for this.</p>

        <p>More than 60% of people who use our free mediation service settle on the day.*</p>

        <p>We'll tell you how mediation works - you can decide to take part or not.</p>

        <div class="form-group">
          <input type="submit" class="button" value="How free mediation works"/>
        </div>
      </form>

      <p class="font-xsmall">*Source: Small Claims Mediation Service statistics, November 2017 to October 2018.
      <p/>

      {%else%}

      <form method="post" action="mediation/previous-phone" class="form">
        <input type="hidden" name="mediation" value="complete">

        <!-- <p>More than 60% of people who use our free mediation service settle on the day.*</p>

        <p>The free service can help you:</p>
        <ul class="list list-bullet">
          <li>avoid a long wait for the claim to be resolved</li>
          <li>avoid a court hearing, which can last a whole day</li>
          <li>avoid a County Court Judgment</li>
        </ul>

        <p>You'll only speak to a mediator about the claim, not to Jan Clark.</p>-->

        <div class="form-group">
          <input type="submit" class="button" value="I agree to free mediation"/>
        </div>

        <div class="form-group">
        <a href="mediation/no-mediation">I do not agree to free mediation</a>
      </div>



        <!-- <p class="font-xsmall">*Source: Small Claims Mediation Service statistics, November 2017 to October 2018.</p>-->
      </form>

      {% endif %}

      <fieldset></fieldset>
    </div>
  </div>

  {% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
