{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">


  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Free telephone mediation
      </h1>

      {% if data.radio_select_group=="Some" or data['settle'] == 1 %}
      <p class="">If Jan Clark rejects your admission of {% if data['owe-amount'] =='' %}£1,200{% else
      %}£{{data['owe-amount']}}{% endif %} you can try to resolve the dispute using telephone mediation. If you succeed, you won't have to go to a hearing.</p>

      {% elseif data.radio_select_group=="Some_paid" or data.radio_select_group2=="Some_paid" or
      data.radio_select_group2=="amount_claimed" or data['settle'] == 2 %}
      <p class="">If Jan Clark rejects your explanation that you've paid the {% if data['owe-amount'] =='' %}£300{% else
      %}£{{data['owe-amount']}}{% endif %} you believe you owe, you can try to resolve the dispute using telephone
      mediation.</p>
      <p> If you succeed, you won't have to go to a hearing.</p>

      {% endif %}

      {% if data['mediation-pilot']=="on" %}
      <form method="post" action="mediation/how-mediation-works" class="form">
        <input type="hidden" name="mediation" value="complete">

        <p>All claims for £300 or less are automatically registered for free telephone mediation.</p>

        <p>We'll tell you how mediation works - you can decide to take part or not.</p>

        <div class="form-group">
          <input type="submit" class="button" value="How free mediation works"/>
        </div>
      </form>

      {%else%}

      <form method="post" action="mediation/how-mediation-works" class="form">
        <input type="hidden" name="mediation" value="complete">

        <p>More than 60% of people who use our free mediation service settle on the day.*</p>

        <p>The free service can help you:</p>
        <ul class="list list-bullet">
          <li>avoid a long wait for the claim to be resolved</li>
          <li>avoid a court hearing, which can last a whole day</li>
          <li>avoid a County Court Judgment</li>
        </ul>

        <p>You'll only speak to a mediator about the claim, not to Jan Clark.</p>

        <div class="form-group">
          <input type="submit" class="button" value="How free mediation works"/>
        </div>
        <p class="font-xsmall">*Source: Small Claims Mediation Service statistics, November 2017 to October 2018.</p>
      </form>

      {% endif %}

      <fieldset></fieldset>
    </div>
  </div>

  {% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
