{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

        <form method="post" action="../../task-list" class="form">


      <h1 class="heading-large">
        Enter a phone number</h1>

        <div class="form-group">
          <fieldset class="inline">

	    <div class="form-group">
            <p>Enter the number for a direct line the mediation service can use. We won't give the number to anyone else.</p>
			   <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="text">
          </div>
              </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>



            </div>
          </form>



          </div>
        </div>
      {% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
