{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <h1 class="heading-xlarge">
    Review agreement
  </h1>

  <div class="claim-hgroup">
    <div class="column-one-third">
      <h1>
        Claim reference:
        <span class="case-number-header">
                CF91-BK65</span>
      </h1>
    </div>

    <!--<div class="column-one-third">-->
    <!--<div class="claim-status" tabindex="0">-->
    <!--Status:-->
    <!--<span class="state state-authorised">-->
    <!--Agreement</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<fieldset></fieldset>-->

    <div class="column-one-third">
      <h1>
        Claimant:
        <span class="case-number-header">
Jan Clark
</span>
      </h1>
    </div>

    <div class="column-one-third">
      <h1>
        Defendant:
        <span class="case-number-header">
Mary Richards
</span>
      </h1>
    </div>
  </div>

  <br>

  <div class="divider"></div>

  <h2 class="heading-medium">You agreed the following:</h2>

  <div class="agreement-details">
    <dl class="date-time">
      <dt>What</dt>
      <dd>Mary Richards will organise for the roof to be repaired on or before 1 May.</dd>
    </dl>

    <dl class="address">
      <dt>Amount</dt>
      <dd>Jan Clark will pay Mary Richards £50 to cover the materials.</dd>
    </dl>

    <dl class="disabled-access">
      <dt>Payment</dt>
      <dd>By cash or Bacs</dd>
    </dl>

    <!--<dl class="representative">-->
      <!--<dt>When</dt>-->
      <!--<dd>Payment to be made on the day after the completion of the repairs.</dd>-->
    <!--</dl>-->

  </div>

  <fieldset></fieldset>

  <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">

    <!--<div class="subsection-controls js-subsection-controls">-->
    <!--<button aria-expanded="false"-->
    <!--aria-controls="subsection_content_0 subsection_content_1 subsection_content_2 subsection_content_3 ">-->
    <!--Open all-->
    <!--</button>-->
    <!--</div>-->

    <br>
    <br>

    <div class="subsection-wrapper">

      <div class="js-subsection subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="agreement-breached">
            Terms
          </h2>
        </div>
        <div class="subsection__content js-subsection-content js-hidden">
          <ol class="list list-bullet">
            <li>This agreement replaces any earlier written or verbal agreements you have made.</li>
            <li>The court won’t do anything more about this claim once this agreement is signed by those named. This is known as ‘a stay’.
            </li>
            <li>If the court hasn’t heard from you or anyone else named in this agreement by 1 August 2017 the claim and any related defence will be cancelled (‘struck out’).</li>
            <li>Don’t tell people about this agreement once you’ve signed it. You must keep this information confidential.</li>
          </ol>
        </div>
      </div>

      <div class="js-subsection subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="agreement-breached">
            If this agreement is broken
          </h2>
        </div>
        <div class="subsection__content js-subsection-content js-hidden">
          <p>If the other party breaks this agreement you can ask the court to:</p>
<ul class="list list-bullet">
            <li>enter judgment for you</li>
            <li>reopen the claim for a hearing for the full amount claimed</li>
          </uL>
          You'll need to complete <a class="external" rel="external"
                                                                                 href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=484"
                                                                                 target="_blank">N244 General Form of
              Application</a>.</p>
              <p>The other party can also apply to the court if you break this agreement.</p>


        </div>
      </div>
    </div>
  </div>
  <script>
    var openAllButtonSelector = '.js-accordion-with-descriptions .subsection-controls button';
    $(openAllButtonSelector).ready(function() {
      setTimeout(function() {
        $(openAllButtonSelector).click();
      }, 0);
    });
  </script>

  <fieldset></fieldset>

  <h2 class="heading-medium">Statement of truth</h2>

  <p class="text">
    By signing this agreement you confirm that any information you have given is true, to the best of your knowledge.</p>
    <p>You also confirm that you have read and accept this agreement and its terms.</p>

  <div class="form-group"><a name="hasacceptedtermsandconditions"></a>

    <div class="multiple-choice">
      <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
             data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
             name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
      <label for="HasAcceptedTermsAndConditions">I agree and accept the<a onclick="Webtrends.multiTrack({ element: this, argsa: [&#39;DCS.dcsuri&#39;, &#39;/register/readterms&#39;, &#39;WT.dl&#39;, &#39;99&#39;, &#39;WT.ti&#39;, &#39;Read Terms and Conditions&#39;] });">terms.</a></label>
    </div>

    <span class="field-validation-valid"
          data-valmsg-for="HasAcceptedTermsAndConditions"
          data-valmsg-replace="true" aria-live="polite"></span></div>

  <a class="button">Sign agreement</a>
  <!--<a href="agreement" class="button">Sign agreement</a>-->

  <fieldset></fieldset>

  <a class="external" rel="external" href="agreement" target="_blank">Download draft as pdf</a>


</main>

{% endblock %}
