{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


<div class="breadcrumbs">
    <ol>
      <li>
        <a href="../task-list">Respond to a money claim</a>
      </li>
      <li>
        How much do you owe
      </li>
    </ol>
  </div>
      <h1 class="heading-xlarge">
        What you owe
      </h1>

      <p class="lede">The claim is for £1,500</p>

      <form action="../task-list" method="get" class="form">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">How much money do you believe you owe?</legend>

            <label class="form-label-bold" for="claim[fee][court_fee]">
              How much money do you believe you owe?
              <span class="form-hint"></span>
            </label>
            <input class="fee pound" maxlength="8" size="8" type="text" value=""
                   name="claim[fee][court_fee]"
                   id="claim[fee][court_fee]">
            <br>
            <br>
            <br>

            <div id="claim-details">
              <div id="describe-wrapper-claim-details-1" class="form-group">
                <label class="form-label-bold" for="offer">
                  Explain why this is what you owe, rather than the full amount. 
                  <span class="form-hint"><!-- For example you might blar blar blar ... --></span>
                </label>
                <textarea class="form-control"
                          id="offer"
                          rows="3"
                          name="offer"
                          type="text"
                          style="width: 90%"></textarea>
              </div>
            </div>

            <p class="panel panel-border-wide">
              If Jan Clark doesn't accept this amount you might have to prove why you don't owe the full
              amount at a hearing in front of judge.
            </p>
                         <input type="hidden" name="owe_some" value="complete">


         <div class="form-group">
        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
        data-ignore-double-submit="true">
        </div>

          </fieldset>
        </div>
      </form>

    </div>
  </div>
{% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>
{% endblock %}

