{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('offer'));
    });
  </script>
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application received</h1>
        <br>
<!--       <p>
        <strong class="bold"><span id="Date2"></span></strong>
      </p> -->
    </p>
    <p>
      <a class="font-medium" href='{{ asset_path }}images/Country-court-judgment.pdf' style="color: #FFFFFF" download>Download application request as PDF</a>
    </p>
  </div>
  <fieldset>
    <h2 class="heading-medium">What happens next</h2>

    <p>Your application has been sent to the court. You may need to go to a hearing. We'll let you know when the court has made a decision. This takes up to 2 weeks.</p>

    <h3 class="heading-medium">If your application is successful</h3>
    <p>Your CCJ will be removed from public records. In most cases you'll still have to respond to the claim.</p>

    <p>The judge might ask the claimant to refund your fee of £255.</p>

    <h3 class="heading-medium">If your application is unsuccessful</h3>
    <p>You might have to pay the claimant's costs if it goes to a hearing. The CCJ will stay on the register for 6 years.</p>

    <a href="#" class="button">Go to your account</a>

    <h2 class="heading-medium">Help and support</h2>
    <p>Email: moneyclaims@justice.gov.uk<br>
      Telephone: 0300 123 7050<br>
    Hours: 9am to 5pm, Monday to Friday</p>
    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a> <span class="font-xsmall">(opens in a new window)</span></p>
  </fieldset>
  <br>

</div>
</div>
{% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
