{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">



  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="breadcrumbs">
    <ol>
      <li>
        <a href="../task-list">Respond to a money claim</a>
      </li>
      <li>
        Your defence
      </li>
    </ol>
  </div>
      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Part 4 of 4</span>
          <span class="page-title">Your defence </span>
        </div>
      </header>

      <!--<h1 class="heading-xlarge">-->
      <!--Defence-->
      <!--</h1>-->
        <h3 class="heading-medium">How this dispute has affected them</h3>

      <div class="description-block">
        <p>The problem with the roof has caused me a lot of stress. We've been planning to put the house on the market so wanted this work completed. We've had to hold off listing the house with an agent until this is sorted out.</p>
      </div>

      <div style="padding-top: 30px;"></div>

      <!--<div class="updates-border-thin"></div>-->

      <form
        name="aspnetForm"
        action="suggest-or-not"
        method="get"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Defence</legend>

            <div id="claim-details">
              <div id="describe-wrapper-claim-details-1" class="form-group">
                <label class="form-label-bold" for="offer">
                  <div class="bold-medium">Do you want to give any more information? (optional)</div>
                <span class="form-hint">What you say here will be shared with the claimant Jan Clark.</span>
                </label>
                <textarea class="form-control form-control-3-4 form-control-large"
                          id="offer4"
                          rows="4"
                          name="offer4"
                          cols="40"
                          type="text"
                          style="width: 95%"
                          ></textarea>
              </div>
            </div>
          </fieldset>




         <div class="form-group">
        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
        data-ignore-double-submit="true">
        </div>
        <p><a href="../../task-list">Cancel</a></p>



          <!--<input id="advert-option-next&#45;&#45;button" type="submit" value="Continue" class="button"-->
                 <!--data-ignore-double-submit="true">-->

        </div>

      </form>

    </div>



  </div>
</main>


{% endblock %}

