{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've asked for a judge to determine a repayment plan</h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>

      <p>A judge will look at the case. We'll contact you to tell you what to do next.</p>

      <p><a href="../../../../claimant?claimant=10.6" class="">Back to your account</a></p>

      {% include "includes/contact.html" %}
  </div>



</div>
{% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
