{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('offer'))
    })
  </script>

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Bailiff service confirmed</h1>
        <!--<fieldset></fieldset>-->
        <!--<p>Reference number:<br>-->
        <!--<span class="bold-medium">CEWOC-1234</span>-->
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>We'll send you a letter with details of the warrant.
      </p>

      {% include "includes/survey.html" %}
      <p><a class="button" href='../../../dashboard/home?dashboard=1.42'>Go to your account</a></p>


      {% include "includes/contact.html" %}

      </fieldset>
    </div>
  </div>
</main>


{% endblock %}
