{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Defendant's phone number (optional)
      </h1>

      <p>The court will try to phone the defendant to ask for payment.</p>

      <div class="form-group">
        <fieldset>
          <div class="multiple-choice" data-target="contact-defendant">
            <input type="radio" id="no-change" name="contact-defendant" value="No" {{ checked("contact-defendant",
            "No") }} >
            <label for="no-change">Yes</label>
          </div>
          <div class="multiple-choice" data-target="contact-defendant">
            <input type="radio" id="add-contact" name="contact-defendant" value="Yes" {{ checked("contact-defendant",
            "Yes") }}>
            <label for="add-contact">No, use a different home telephone or mobile</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">


          </div>
      </div>

    </div>
</main>
{% endblock %}
