{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% import 'prototypes/prototype-may-2019/includes/upload.html' as upload %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

    <form method="post" action="generic-upload/check-and-send" class="form">

      <div class="form-group">
        <h1 class="heading-large">Upload your [generic thing]</h1>
        <p>[Optional generic guidance]</p>

        {{ upload.form('generic', 'Check and submit [generic thing]' ) }}

      </div>
    </form>

    </div>
  </form>
</div>
</div>
{% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
