x§x§ {% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
        <a href="#" class="link-back">Back</a>
        <h1 class="heading-large">
          <span class="heading-secondary">Claim number:</span>
          352MC733
        </h1>
        <div id="tabs">
          <div  class="nav-tabs">
            <ul class="tabs-nav">
              <li><a href="#tabs-1">Claim status</a></li>
              <li><a href="#tabs-2">Claim history</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="tabs-1" class="tab-pane">
             {% if data['defendant'] == 1 %}
             <h2 class="heading-medium">You've not responded to this claim</h2>
             <p>You need to respond by <span class="dates"></span> (14 days
             remaining). </p>
             <p>If you don't respond Jan Clark can ask for a default County Court Judgment (CCJ) against you. A CCJ means the court orders you to pay the money.</p>
             <div class="form-group">
              <p><a href="../../defendant/full/d-3/task-list?hide_offer=false">Respond to claim </a></p>
            </div>
            <p><a href="#">View your response</a></p>
            {% elseif data['defendant'] == 2 %}
            <h2 class="heading-medium">Your response is being processed</h2>
            <p> We will email you to explain what to do next.</p>
            {% elseif data['defendant'] == 3 %}
            <h2 class="heading-medium"> The claimant has requested a CCJ against you</h2>
            <p>You didn't respond to this claim by the deadline of 30 September 2017. </p>
            <p>Jan Clark requested a default County Court Judgment (CCJ) against you
              on <span class="" dates2">17 October</span>. We will contact you both within 5 days.</p>
              <p>You can no longer respond to the claim.</p>
              {% elseif data['defendant'] == 4 %}
              <h2 class="heading-medium">You have a County Court Judgment (CCJ) against you</h2>
              <p>You didn't respond to this claim by the deadline of 30 September 2017. A <a href="">default CCJ</a> was issued on 1 October 2017.</p>
              <p>A CCJ means the court orders you to pay the claim. You must pay Jan Clark £1,500. Find out <a href="./judgment/how-to-pay">how to pay a CCJ.</a></p>
              <!-- <p>You can <a href="">suggest your own payment plan</a> (vary an order) if you can't afford to pay.</p> -->
              <h3 class="heading-medium">Apply to cancel the CCJ</h3>
              You can <a href="./judgment/one-cancel">apply to cancel the CCJ</a> if you paid the claim or didn't respond to it.
              {% elseif data['defendant'] == 5 %}
              <h2 class="heading-medium">You admit the claim</h2>
              <p>You've offered to pay £1,500 on <span id="Date3"></span>.</p>
              <p><a href="#">View your response</a></p>
              {% elseif data['defendant'] == 6 %}
              <h2 class="heading-medium">You admit part of the claim</h2>
              <p>You've offered to pay Jan Clark £1,000 in instalments.</p>
              <p>Jan Clark has until 12 December to respond to your offer.</p>
              <p><a href="#">View your response.</a></p>
              {% elseif data['defendant'] == 7 %}
              <h2 class="heading-medium">Your response</h2>
              <p>You state that you paid £1500. Your explanation of why you don't owe any more money has been sent to Jan Clark.</p>
              <p>We’ll contact you when the claimant responds.</p>
              <p><a href="#">View your response</a></p>
              {% elseif data['defendant'] == 8 %}
              <h2 class="heading-medium">Your response</h2>
              <p>We’ve emailed Jan Clark telling them when and how you paid their £1500.</p>
              <p>We’ll contact you when the claimant responds.</p>
              <p><a href="#">View your response</a></p>
              {% elseif data['defendant'] == 9 %}
              <h2 class="heading-medium">Your response</h2>
              <p>We’ve emailed Jan Clark your defence, explaining why you disagree with the claim.</p>
              <p>You have chosen to use the free mediation service to resolve the dispute with Jan Clark. We’ll ask them if they want to mediate. If they agree to mediation then we’ll email you to arrange an appointment.</p>
              <p>We’ll contact you when the claimant responds.</p>
              <p><a href="#">View your response</a></p>
              {% elseif data['defendant'] == 10 %}
              <h2 class="heading-medium">You've made an offer to settle</h2>
              <p>You made an offer to the claimant. </p>
              <p>We’ll contact you when the claimant responds.</p>
              <p><a href="#">View your offer</a> </p>
              {% elseif data['defendant'] == 11 %}
              <h2 class="heading-medium">You've received a counter offer</h2>
              <p>The claimant has made a counter offer.</p>
              <p><a  href="defendant-response/suggestion?defendant=defendant">View offer </a></p>
              {% elseif data['defendant'] == 12 %}
              <h2 class="heading-medium">The claimant has rejected your response </h2>
              <p>The claimant has requested mediation to help settle this
              dispute.</p>
              <div class="form-group">
                <p><a href="defendant-response/mediation?defendant=mediation">View mediation request</a>
                </p>
              </div>
              {% elseif data['defendant'] == 13 %}
              <h2 class="heading-medium">You've accepted mediation</h2>
              <p>A mediator will contact both you and the claimant and you within the
              next 14 days to arrange an appointment.</p>
              {% elseif data['defendant'] == 14 %}
              <h2 class="heading-medium">You've rejected mediation</h2>
              <p>You have rejected the mediation request from the claimant. We'll contact you when a hearing date is scheduled and explain what you need to do to prepare.</p>
              {% elseif data['defendant'] == 15 %}
              <h2 class="heading-medium">Sign a legal agreement to settle out of court</h2>
              <p>The claimant has accepted your offer. You need to <a href="agreement?defendant=defendant_signed">sign a legal agreement</a> to settle out of court. Jan Clark has signed the agreement.</p>
              {% elseif data['defendant'] == 16 %}
              <h2 class="heading-medium">You settled out of court</h2>
              <p>You've both signed a <a href="">legal agreement</a>. The claim is now closed.
              </p>
              {% elseif data['defendant'] == 17 %}
              <h2 class="heading-medium">Your counterclaim has been sent</h2>
              <div class="">
                <p>Jan Clark has until <span class="dates"></span> to respond. They can request an extra 14 days if they need it. We'll let you know if they do.</p>
              </div>
              {% else %}
              <h2 class="heading-medium">Your defence is being processed.</h2>
              <p> We will email you to explain what to do next.</p>
              {% endif %}
              {% if data['defendant'] == 1 or  data['defendant'] == 2 or data['defendant'] == 3 or data['defendant'] == 4  or data['defendant'] == 5 or data['defendant'] == 8 or  data['defendant'] == 12 or data['defendant'] == 17%}
              {% else %}
              <h2 class="heading-medium">More options </h2>
              {% endif %}
              {% if data['defendant'] == 1 or  data['defendant'] == 2 or data['defendant'] == 3 or data['defendant'] == 4 or data['defendant'] == 5  or  data['defendant'] == 10 or data['defendant'] == 11 or data['defendant'] == 12 or data['defendant'] == 13 or data['defendant'] == 14 or data['defendant'] == 17%}
              {% else %}
              <h2 class="heading-small">Settle out of court</h2>
              <p>
                You can still <a href='offer?defendant=defendant'>make an offer</a> to settle the claim out of court. If your offer is accepted you won’t have to go to a court hearing.
              </p>
              {% endif %}
              {% if data['defendant'] == 1 or data['defendant'] == 2 or data['defendant'] == 3 or data['defendant'] == 4 or data['defendant'] == 4 or data['defendant'] == 5 or
              data['defendant'] == 8 or data['defendant'] == 9  or data['defendant'] == 17%}
              {% else %}
              <h2 class="heading-small">Request mediation</h2>
              <p>
                You can <a href='#'>request free telephone mediation</a> to help resolve the claim without going to court.</a>
              </p>
              {% endif %}
            </div>
            <div id="tabs-2" class="tab-pane">
              {% if data['defendant'] == 10 or data['defendant'] == 11 or data['defendant'] == 12 or data['defendant'] == 13 or data['defendant'] == 15 or data['defendant'] == 16%}
              {% endif %}
              <h2 class="heading-medium">Claim history </h2>
              {% if data['defendant'] == 11 or data['defendant'] == 15 or data['defendant'] == 16%}
              <div class="history-timeline ">
                <div class="history-statement"> <span > 11 October 2017</span> You made an offer to the claimant. </div>
              </div>
              {% elif data['defendant'] == 10 or data['defendant'] == 11 or data['defendant'] == 15 or data['defendant'] == 16 %}
              <div class="history-timeline">
                <div class="history-statement"> <span > 8 October 2017</span> The claimant rejected you response. The claim has been sent to a hearing.</div>
              </div>
              {% elif data['defendant'] == 13 or data['defendant'] == 14%}
              <div class="history-timeline">
                <div class="history-statement"> <span > 8 October 2017</span> The claimant rejected you response but has requested mediation to help settle the dispute.</div>
              </div>
              {% elif data['defendant'] == 17 %}
              <div class="history-timeline last">
                <div class="history-statement"> <span > 3 October 2017</span>Your <a href="view-claim">counterclaim</a> was sent to Jan Clark.</div>
              </div>
              {% else %}
              <div class="history-timeline ">
                <div class="history-statement"> <span > 1 October 2017</span>Jan Clark requested a default County Court Judgment (CCJ) against you.
                </div>
                <div class="history-statement"> <span > 16 September 2017</span>Claim sent by Jan Clark. You had until 30 Sept 2017 to respond. <a href="view-claim">View claim.</a></div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="column-one-third">
        <div class="meta-data">
         <p  class="heading-small" style="padding-top: 100px">About claim</p>
         {% if data['defendant'] == 17 %}
         <ul role="navigation" class="font-xsmall list" >
          <li><strong class="bold">Defendant name:</strong><br> Jan Clark</li>
          <li><strong class="bold">Claim amount:</strong><br>£3240.34</li>
          <li><strong class="bold">Claim details:</strong><br><a href="view-claim">View counterclaim</a></li>
        </ul>
        {% else %}
        <ul role="navigation" class="font-xsmall list" >
          <li><strong class="bold">Claimant name:</strong><br> Jan Clark</li>
          <li><strong class="bold">Claim amount:</strong><br>£1500</li>
          <li><strong class="bold">Claim details:</strong><br><a href="view-claim">View claim</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</main>
<form method="post" action="#" class="form" style="position: absolute;">
  <select id="defendant2" name="defendant2" onchange="window.location.href='?defendant='+this.value">
    <option value="0">Choose</option>
    <option value="1" {% if data['defendant'] == 1 %}selected{% endif %}>1. Respond to claim</option>
    <option value="2" {% if data['defendant'] == 2 %}selected{% endif %}>2. Response being processed</option>
    <option>------ CCJs -------</option>
    <option value="3" {% if data['defendant'] == 3 %}selected{% endif %}>3. Default CCJ requested </option>
    <option value="4" {% if data['defendant'] == 4 %}selected{% endif %}>4. Default CCJ issued </option>
    <option>------ Responses to claims -------</option>
    <option value="5" {% if data['defendant'] == 5 %}selected{% endif %}>5. I admit all the claim - set date payment</option>
    <option value="6" {% if data['defendant'] == 6 %}selected{% endif %}>6. I part admit the claim - instalment plan payment</option>
    <option value="7" {% if data['defendant'] == 7 %}selected{% endif %}>7. I paid what I believe I owe - LESS claim amount </option>
    <option value="8" {% if data['defendant'] == 8 %}selected{% endif %}>8. I paid what I believe I owe - claim amount </option>
    <option value="9" {% if data['defendant'] == 9 %}selected{% endif %}>9. I dispute the claim + mediation accepted </option>
    <option>------ offers and mediation -------</option>
    <option value="10" {% if data['defendant'] == 10 %}selected{% endif %}>10. Offer sent to claimant </option>
    <option value="11" {% if data['defendant'] == 11 %}selected{% endif %}>11. Counter offer from claimant </option>
    <option value="15" {% if data['defendant'] == 15 %}selected{% endif %}>14. Counter sign agreement - message </option>
    <option value="16" {% if data['defendant'] == 16 %}selected{% endif %}>15. Agreement signed - message </option>
    <option>------ Mediation -------</option>
    <option value="12" {% if data['defendant'] == 12 %}selected{% endif %}>12. Mediation request from claimant </option>
    <option value="13" {% if data['defendant'] == 13 %}selected{% endif %}>13. Mediation accepted </option>
    <option value="14" {% if data['defendant'] == 14 %}selected{% endif %}>14. Mediation Rejected </option>
    <option>------ counterclaim -------</option>
    <option value="17" {% if data['defendant'] == 17 %}selected{% endif %}>15. Counterclaim </option>
  </select>
</form>
{% endblock %}
{% block extra_js_1 %}
<script src="/public/javascripts/jquery-ui.js"></script>
<script type="text/javascript">
  window.moj.init();
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
{% endblock %}
