{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Make an offer
      </h1>

          <form action="../make-offer/offer-date?makeoffernow=true&" method="get" class="form">


          <fieldset>

                <div class="form-group">
                    <legend class="visually-hidden">Suggest a resolution</legend>
                    <p>Make clear:</p>
                            <ul class="list list-bullet"><li>what you'll do, for example make a payment, fix a problem or return goods</li>
                          <li>anything you're also asking {% if data['party'] == "defendant" %}Jan Clark{% else %}Mary Richards{% endif %} to do as part of the settlement</li></ul>


                    <label class="bold-medium">Your offer</label>
                    <textarea class="form-control form-control-3-4 form-control-large"
                    id="the-offer-text"
                    rows="4"
                    name="the-offer-text"
                    cols="40"
                    type="text"
                    style="width: 100%;  height: 9em;"
                    >{{data['the-offer-text']}}</textarea>
                </div>


<!--
                <div class="input form-group date optional claimant_date_of_birth field_with_hint"><p
                    class="form-hint text">For example, 23 04 2017</p>
                    <div class="input form-group know-date-input">
                          <div class="input form-group tel required claimant_date_of_birth_day"><label
                            class="tel required form-label"
                            for="claimant_date_of_birth_day">Day</label><input
                            class="string tel required form-control" maxlength="2" type="tel"
                            size="2" name="offerDateDay"
                            id="claimant_date_of_birth_day">
                          </div>
                          <div class="input form-group tel required claimant_date_of_birth_month"><label
                            class="tel required form-label"
                            for="claimant_date_of_birth_month">Month</label><input
                            class="string tel required form-control" maxlength="2" type="tel"
                            size="2" name="offerDateMonth"
                            id="claimant_date_of_birth_month">
                          </div>
                          <div class="input form-group tel required claimant_date_of_birth_year" style="width:65px">
                              <label
                                class="tel required form-label"
                                for="claimant_date_of_birth_year">Year</label>
                              <input
                                  class="string tel required form-control" maxlength="4" type="tel"
                                  size="4" name="offerDateYear"
                                  id="claimant_date_of_birth_year">
                          </div>
                    </div>
                </div>
                  <!--
                   <p class="panel panel-border-wide">
                    {% if data['defendant'] == "defendant" %}
                    <!-- Content for defendant -->  <!--
                    Jan Clark can accept or reject your offer.
                    {% elseif data['defendant'] == "claimant" %}
                    <!-- Content fo claimant --><!--
                    Mary Richards can accept or reject your offer.
                    {% else %}
                    Jan Clark can accept or reject your offer.
                    {% endif %}
                  </p>
                  -->




              <div class="form-group">
                {% if data['newoffer'] == 'true' %}
                    <input type="submit" class="button" value="Continue"/>
                {% else %}
                    <input type="submit" class="button" value="Continue"/>
                {% endif %}
              </div>


          </fieldset>

        </form>

    </div>
  </div>
    {% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>


<form method="post"  action="#" class="for4" style=" float: left; ">
  <select style="height:25px;" onchange="window.location.href='?'+this.value">
    <option value="newoffer=false&"
            {% if data['newoffer'] != 'true'  %}selected{% endif %}
            >Old type of offer</option>

    <option value="newoffer=true&"
            {% if data['newoffer'] == 'true'  %}selected{% endif %}
            >New type of offer</option>

  </select>
</form>



{% endblock %}
