{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} index {% endblock %}
{% block proposition_header %}
{% set my_account="3" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've opted out of mediation</h1>
        <br>
        <p class="">
          Your claim number: <br><strong class="bold-large">352MC733</strong>
        </p>

        <p>
          <strong class="bold"><span id="Date2"></span></strong>
        </p>

     </div>
     <h2 class="heading-medium">What happens next</h2>
     <p>The claim will go to a hearing. We'll contact you with the details.</p>
          <p><i>Need DQ details here?</i></p></p>

           <p> <a class="button" href='../dashboard/home?dashboard=1.2'>Go to your account</a> </p>

  {% include "includes/contact.html" %}

   {% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
