{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/save_and_return/check_email_correct" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Save and return later
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Save and return later
          </legend>

          <div class="form-group">
            <label class="form-label" for="user_email">Email address</label>
            <input class="form-control form-control-3-4" id="user_email" name="user_email" type="text">
          </div>

          <details>

          <summary><span class="summary">I don't have a email address</span></summary>

          <div class="panel panel-border-narrow">

            <p>
              If you’re don't have an email, you can save and return with a text message.
            </p>

            <legend class="visuallyhidden">
              Mobile phone number
            </legend>

            <label class="form-label" for="user_phone">
              Mobile phone number
            </label>
            <input class="form-control" id="user_phone" type="text" name="user_phone">

          </div>

          </details>

          <br>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
