{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/save_and_return/link_sent" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Make sure this is right
        </h1>

        {% if data.user_phone %}

          <fieldset>
            <legend class="visuallyhidden">
              Phone
            </legend>

            <div class="form-group">
              <input class="form-control" id="send_email_here" name="send_email_here" type="text" value="{{ data.user_phone }}">
            </div>

            <br>
            <br>

          </fieldset>

          <div class="form-group">
            <input type="submit" class="button" value="Yes - this is my mobile phone number" />
          </div>

          <p>If your mobile phone number is wrong, just change it above.</p>

        {% else %}

          <fieldset>
            <legend class="visuallyhidden">
              Email
            </legend>

            <div class="form-group">
              <input class="form-control form-control-3-4" id="send_email_here" name="send_email_here" type="text" value="{{ data.user_email }}">
            </div>

            <br>
            <br>

          </fieldset>

          <div class="form-group">
            <input type="submit" class="button" value="Yes - this is my email" />
          </div>

          <p>If your email address is wrong, just change it above.</p>

        {% endif %}


      </form>

    </div>
  </div>

</main>
{% endblock %}
