{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        Did you pay the claim?
      </h1>
      <p><a href=" ../view-claim">View the claim</a> made against you by Jan Clark.</p>
      <form
      name="aspnetForm"
      method="post"
      onsubmit="multiNavigation('radio-set-aside-group', ['pay', 'vary'], ['satisfy-cancel-set-aside/satisfy-cancel', 'satisfy-cancel-set-aside/set-aside']);return false;"
      id="aspnetForm"
      autocomplete="off">
      <div class="form-group">
        <fieldset>
          <div class="multiple-choice" data-target="pay">
            <input id="set-aside-pay" type="radio" name="radio-set-aside-group" value="pay" aria-controls="paid-off" aria-expanded="false">
            <label for="set-aside-pay">Yes</label>
          </div>
          <div class="multiple-choice" data-target="vary">
            <input id="did-you-respond" type="radio" name="radio-set-aside-group" value="vary" aria-controls="paid-off" aria-expanded="false">
            <label for="did-you-respond">No</label>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Save and continue" />
      </div>
    </form>
  </div>
</div>
</main>
{% endblock %}
