{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

        <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">


        {{formData | safe}}

        <h1 class="heading-large">
          Interest end date
        </h1>
       <form
         name="aspnetForm"
         method="post"
         onsubmit="multiNavigation('interest-date', ['submitted','submitted','continue'], ['../cost', '../cost','amount']);return false;"
         id="aspnetForm"
         autocomplete="off">

        <fieldset>
         <div class="multiple-choice">
            <input id="radio-1" type="radio" name="interest-date" value="submitted" {{ checked("interest-date", "Issue date") }}>
            <label for="radio-1">When this claim is submitted
            </label>
          </div>

<!--          <div class="multiple-choice" data-target="particular">
             <input id="radio-3" name="interest-date" type="radio" value="submitted" {{ checked("interest-date", "Particular date") }}>
            <label for="radio-3">A date before this claim in submitted </label>
          </div>-->
          <div class="panel panel-border-narrow js-hidden" id="particular">

            <div class="form-date">

              <p style="color: #6F777B">For example, 31 03 2016</p>

              <div class="form-group form-group-day">
                <label for="interest-day">Day</label>
                <input class="form-control" id="dob-day" name="interest-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['interest-day'] }}">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                <input class="form-control" id="interest-month" name="interest-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['interest-month'] }}">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control" id="interest-year" name="interest-year" type="number" pattern="[0-9]*" min="0" max="2017" value="{{ data['interest-year'] }}">
              </div>
            </div>


          </div>
           <div class="multiple-choice">
            <input id="radio-2" type="radio" name="interest-date" value="continue" {{ checked("interest-date", "Issue date") }}>
            <label for="radio-2">Continue claiming interest after the claim is submitted
            </label>
          </div>
        </fieldset>






        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>


      </form>

    </div>
  </div>
</main>


{% endblock %}
