{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" onclick="history.go(-1)" class="link-back">Back</a>

      <h1 class="heading-large">
          Attending the cancel CCJ hearing
      </h1>

      <p>There may be a hearing sometime in the next 9 months for Mary Richards to request this CCJ to be removed.</p>

      <p>The hearing is only about the judgment, not the claim.</p>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-set-receive-claim', ['Yes', 'No'], ['../../../defendant/task-list/hearing/dates?claimantattending=true&', 'check-answers-claimant?claimantattending=false&']);return false;"
        id="aspnetForm"
        autocomplete="off">

          <fieldset>
            <p class="heading-medium" style="margin-top:20px">Will you attend the hearing?</p>

            <div class="multiple-choice" data-target="pay">
              <input id="set-aside-yes" type="radio" name="radio-set-receive-claim" value="Yes" aria-controls="paid-off" aria-expanded="false">
              <label for="set-aside-yes">Yes</label>
            </div>

            <div class="multiple-choice" data-target="vary">
              <input id="set-aside-no" type="radio" name="radio-set-receive-claim" value="No">
              <label for="set-aside-no">No</label>
            </div>
          </fieldset>


        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

  {% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
