{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" onclick="history.go(-1)" class="link-back">Back</a>

      <h1 class="heading-large">
        Why didn't you respond until now?
      </h1>

      <fieldset>
        <div class="form-date">
          <textarea class="form-control" name="rate-why" type="text" id="rate-why" value="{{data['rate-why']}}"></textarea>
        </div>
      </fieldset>

      <!-- <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          Content around stating the truth and may have to prove it at the private hearing.
        </strong>
      </div> -->


      <p><a class="button" href="task-list?latereply=true&missingletter=false&updatedaddress=false&explainreason=complete">Continue</a></p>


    </div>
  </div>

  {% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
