{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" onclick="history.go(-1)" class="link-back">Back</a>

      <h1 class="heading-large">
        You must pay in full or respond to the claim
      </h1>

      <p>If you pay the full £1,500 now you can apply to have the CCJ removed.</p>
      <p>If you don't pay now you can still ask the court to remove the CCJ, but you'll also have to respond to the original claim.</p>


      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-set-receive-claim', ['Yes', 'No'], ['pay-in-full-now', 'cancel-ccj-info']);return false;"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>
            <p class="heading-medium" style="margin-top:20px">Will you pay Jan Clark in full?</p>

            <div class="multiple-choice" data-target="pay">
              <input id="set-aside-yes" type="radio" name="radio-set-receive-claim" value="Yes" aria-controls="paid-off" aria-expanded="false">
              <label for="set-aside-yes">Yes</label>
            </div>
            <div class="multiple-choice" data-target="vary">
              <input id="set-aside-no" type="radio" name="radio-set-receive-claim" value="No" aria-controls="paid-off" aria-expanded="false">
              <label for="set-aside-no">No - request cancel CCJ (£255 fee)</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>


    </div>
  </div>

  {% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>

<form method="post"  action="#" class="form" style="float: left;">
  <select id="control-box2" name="control-box2" onchange="window.location.href='settle-out-of-court?beforeccjdeadline='+this.value">
    <option value="true">Defendant</option>
    <option value="true" >- Before 1 month CCJ deadline</option>
    <option value="false">- After 1 month CCJ deadline</option>
  </select>
</form>


{% endblock %}
