{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" onclick="history.go(-1)" class="link-back">Back</a>

      <h1 class="heading-large">
        You must pay Jan Clark
      </h1>

      <p>You've admitted you owe Jan Clark £1,500. You can't get the CCJ removed until you've paid in full.</p>

      <p><a href="../../party-details/claimant">Get Jan Clark's contact details</a></p>






    </div>
  </div>

  {% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>

<form method="post"  action="#" class="form" style="float: left;">
  <select id="control-box2" name="control-box2" onchange="window.location.href='settle-out-of-court?beforeccjdeadline='+this.value">
    <option value="true">Defendant</option>
    <option value="true" >- Before 1 month CCJ deadline</option>
    <option value="false">- After 1 month CCJ deadline</option>
  </select>
</form>


{% endblock %}
