{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->

      {% include 'prototypes/prototype-feb-2020/includes/how-mediation-works.html' %}

      {% if data['mediation-pilot']=="on" %}
      <div class="form-group">
        <a class="button" href="statements-all">Continue with free mediation</a>
      </div>

      <p style="margin-bottom: 35px"><a href='no-mediation'>I don't want to try free mediation</a></p>

      {%else%}

      <div class="form-group">
        <a class="button" href="try-mediation">Continue</a>
      </div>

      {% endif %}

    </div>
  </div>
  <fieldset></fieldset>
{% include 'prototypes/prototype-feb-2020/includes/contact.html' %}
</main>
{% endblock %}
