{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
      <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">
        {% else %}

        <form
          name="aspnetForm"
          method="post"
          onsubmit="multiNavigation('defendant-type', ['Sole trader', 'Company'], ['enter-details?defendant-type=Sole%20trader&trader=yes', 'name-intro' ]);return false;"
          id="aspnetForm"
          autocomplete="off">

          {% endif %}
          {{formData | safe}}

          <h1 class="heading-large">
            What kind of business is it?
          </h1>

          <fieldset>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="defendant-type" value="Sole trader" {{ checked("defendant-type", "Sole trader") }}>
              <label for="radio-2">
                <strong class="bold-small">A sole trader or self-employed person</strong><br>
                <span class="form-hint">For example a tradesperson who did work for you</span>
              </label>
            </div>
            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="defendant-type" value="Company" {{ checked("defendant-type", "Company") }}>
              <label for="radio-3">
                <strong class="bold-small">A company</strong><br>
                <span class="form-hint">For example a company that sold you goods or services</span>
              </label>
            </div>
          </fieldset>


        <details>
          <summary><span class="summary">I need help finding out what kind of business it is</span></summary>
          <div class="panel panel-border-narrow">

            <p>Follow these steps:</p>
            <ol class="list list-number">
              <li>Ask the business</li>
              <li>Find the business name.</li>
              <li>Use the business name to help decide</li>
              <li>Don't assume lone tradespeople are sole traders or self-employed</li>
            </ol>

              <h4 class="heading-small">Ask the business</h4>
              <p>Talk to the person you dealt with or contact the business and ask if they're a registered company, a sole trader or self-employed.</p>



              <h4 class="heading-small">Find the business name</h4>
                <p>Check paperwork like receipts and invoices, or the terms and conditions on their website.</p>
                <p>Look at small print or footers - the official name may be there instead of in logos or branding.</p>

                <h4 class="heading-small">Use the business name to help decide</h4>

                <p>Look for 'ltd' or 'limited' in the business name - this means it's a registered company.</p>
                <p>You can also <a href="https://beta.companieshouse.gov.uk/">search Companies House</a> to see if a business is a registered company</a> - check the listed employees and address to make sure it's the right business.</p>

                <h4 class="heading-small">Don't assume lone tradespeople are sole traders or self-employed</h4>

                <p>Check their business name or find them on Companies House first.</p>
                <p>If the name doesn't have 'limited' or 'ltd' in it and you can't find it on Companies House, it's likely they're a sole trader or self-employed.</p>


            </ol>


          </div>
        </details>

          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>

        </form>
      </div>
    </div>
  {% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
