{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

        <form method="post" action="their-details/dispute-type" class="form">

          <h1 class="heading-large">Are you sure you have the right defendant details?</h1>

          <p>Every single detail you give us must be correct, otherwise your claim could fail.</p>

          <p>You need to know:</p>
          <ul class="list list-bullet">
            <li><strong class="bold-small">their trading status</strong> - check if you're claiming against an individual, a sole trader or a company</li>
            <li><strong class="bold-small">the correct names of any individuals</strong> - make sure you spell all names correctly and don't use nicknames or similar</li>
            <li><strong class="bold-small">the full legal name of any company</strong> - this can often be different from the name they trade as or the name you see on ads or logos</li>
            <li><strong class="bold-small">the right home or registered address</strong> - for companies, especially chains, this is unlikely to be the address of a branch you visited</li>
          </ul>

          <h3 class="heading-medium">How to get the right details</h3>

          <p>You can speak to the defendant and ask them to send you details in writing.</p>

          <p>Otherwise, we can help you.</p>

          <div class="form-group">
            <input type="submit" class="button" value="I want help finding the details"/>
          </div>

          <p><a href="their-details/defendant-type">I already know the correct details</a></p>

        </form>
      </div>
    </div>
  {% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
