{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">


  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <form method="post" action="time-availability" class="form">
        {{formData | safe}}
        <h1 class="heading-large">
          You can only use mediation if:
        </h1>

        <ul class="list list-bullet">
          <li>you are willing to be flexible and listen to Mary Richards' position</li>
          <li>you have enough information about the claim to be able to discuss it in detail</li>
          <li>you can set aside a period of 3 hours for a one-hour call</li>
        </ul>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            You need to agree to all of these for the free mediation.
          </strong>
        </div>

        <div class="form-group">
          <input type="hidden" name="resolve_dispute" value="complete">
          <input type="submit" class="button" value="Yes, I agree"/>
        </div>

        <p style="margin-bottom: 35px"><a href='claimant-not-eligible'>No, I don't agree</a></p>

    </div>
  </div>
{% include 'prototypes/prototype-oct-2018/includes/contact.html' %}
</main>
{% endblock %}
