{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->


      <h1 class="heading-large">Comment on the claimant's request</h1>


      <h4 class="heading-small">Comment by email</h4>

      <p>Email your comments to both the court and the claimant before 4pm on {{ now | date( 'add', 12, 'days' ) | date }}.</p>

      <p>The court's email address is: <a href="mailto:moneyclaims@justice.gov.uk">moneyclaims@justice.gov.uk</a></p>
      <p>The claimant's email address is: <a href="mailto:{{ partyName( 'claimant', 'email' ) }}@gmail.com">{{ partyName( 'claimant', 'email' ) }}@gmail.com</a></p>

      <h4 class="heading-small">Comment by post</h4>
      <p>Make sure letters explaining your response get to both the court and the claimant before 4pm on {{ now | date( 'add', 12, 'days' ) | date }}:</p>

      <p>The court's address is:</p>

      <p>
        HMCTS CMC<br>
                  PO Box 12747<br>
                  Harlow<br>
                  CM20 9RA
      </p>

      <p>The claimant's address is:</p>
      <p>
        101 Regents Road<br />
        Shiplake</br >
        Henley on Thames<br />
        RG9 4BW
      </p>

    </div>
  </div>
{% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
