{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Free telephone mediation
      </h1>

      <p class="">You can talk to an impartial mediator about your claim against Mary Richards before you have to go to court.</p>

        <p>The free service can help you:</p>
        <ul class="list list-bullet">
          <li>avoid a long wait for a judge to hear your claim</li>
          <li>save on court fees</li>
      </ul>

<p>The mediator will talk to you and Mary Richards on the phone separately. You will both need to compromise and make concessions.</p>

        <h2 class="heading-medium">
          Will you try mediation?
        </h2>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio_indent_group2', ['accept-mediation', 'decline-mediation'], ['../task-list?radio-indent-group=mediation-accept&', '../task-list?radio-indent-group=mediation-reject&']);return false;"
        id="aspnetForm"
        autocomplete="off">
      <div class="form-group">
        <fieldset class="inline">
          <legend class="visually-hidden">Will you try free mediation?</legend>
          <div class="multiple-choice">
            <input id="radio-yes" type="radio" name="radio_indent_group2" value="accept-mediation">
            <label for="radio-yes" data-target="yes-info">Yes</label>
          </div>
          <div class="multiple-choice"  data-target="hearing">
            <input id="radio-no" type="radio" name="radio_indent_group2" value="decline-mediation">
            <label for="radio-no" data-target="no-info">No </label>
          </div>

        </fieldset>



        <input id="advert-option-next--button" type="submit" value="Submit response" class="button"
               data-ignore-double-submit="true">
      </div>




      <input type="hidden" name="mediation" value="complete">
    </form>

    </div>
  </div>
{% include 'prototypes/prototype-nov-2018/includes/contact.html' %}
</main>
{% endblock %}
