{% extends "layout_task-list.html" %}

{% block page_title %}
  Check your answers
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers for this task
  </h1>


   <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Check eligibility
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
         Is claim under £10,000:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>

      <tr>
        <td>
         Are you based in the UK:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Where is the person you're claiming against based:
        </td>
        <td>
          England
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Are you 18 or over:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Are you claiming against a government department:
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      
    </tbody>
  </table>

  <br>
  <br>

  <a href="../../task-list">Return to task list</a>

</main>

{% endblock %}
