{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Check your email
      </h1>

      <p>We've sent a confirmation email to: <span class="bold">jan65@gmail.com</span></p>

      <h2 class="heading-medium">What happens next</h2>
      <p>Your claim will continue to a hearing. You'll need to prepare evidence and pay hearing fee.</p>
      <p>We'll send you a hearing date by email and SMS, and we'll explain what to do.</p>

      <h2 class="heading-medium">What you can do</h2>
      <p>You can still contact Mary Richards directly while your claim progresses.</p>
      <p>Many people are able to settle their claim by discussing what's gone wrong. If you can make an agreement you
        won't need to go to a hearing.</p>

    </div>
  </div>
</main>


{% endblock %}

