{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <!--<div class="breadcrumbs">-->
    <!--<ol>-->
      <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
      <!--</ol>-->
      <!--</div>-->
      <div class="grid-row">
        <div class="column-two-thirds">
          <a href="#" class="link-back">Back</a>
          <h1 class="heading-large">You can now make a settlement agreement</h1>


          <p>The agreement will be based on the offer from Mary Richards you've just accepted. It has not been reviewed by court staff or a judge.</p>

          {% if  data['defendant'] != "defendant_signed"%}
          <p>You both need to sign the agreement for it to become a legal contract.</p>
          {% endif %}
          {% if data['defendant'] == "defendant_signed" %}
          You may avoid getting a County Court Judgment (CCJ) if you settle out of court.</p>
         <p>You both need to sign the agreement for it to become a legal contract.</p>

          {% endif %}







          </ul>

          <a href="agreement/offer" class="button">Make an agreement</a>
        </div>
      </div>
    {% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
