{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
       <a href="#" class="link-back">Back</a>

       <h1 class="heading-large">
        <span class="heading-secondary">Claim number:</span>
        391MC645 
      </h1>


      <h2 class="heading-medium">Claim status</h2>
      <div class="">
       <p>The court has entered judgment in your favour, Mary Richards is no longer able to file a response.</p>
       <p>You can ask the court to <a href='https://www.gov.uk/make-court-claim-for-money/enforce-a-judgment'>enforce the judgment</a> if Mary Richards doesn't pay as ordered by 8 August 2017.</p>
     </div>



   </div>
   <div class="column-one-third">
    <div class="meta-data">
      <ul role="navigation" class="font-xsmall list" style="padding-top: 100px">
        <li><strong class="bold">Defendant name:</strong><br> Mary Richards</li>
        <li><strong class="bold">Claim amount:</strong><br>£1400 </li>
        <li><strong class="bold">Claim details:</strong><br><a href="view-claim">Download claim details</a> </li>
        <li><strong class="bold">Judgement details:</strong><br><a href="view-claim">Download judgment details</a> </li>
      </ul>
    </div>
  </div>
</div>
</main>
{% endblock %}

