{% extends "layout_task-list.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main" ">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
       <a href="#" class="link-back">Back</a>
       <h1 class="heading-large">
        <span class="heading-secondary">Claim number:</span>
        432MC245 
      </h1>
      <h2 class="heading-medium">Claim status</h2>
      <div class="">
       <p>Your claim is currently being processed. We will email you to explain what to do next.</p>
     </div>

   </div>
   <div class="column-one-third">
    <div class="meta-data">
      <ul role="navigation" class="font-xsmall list" style="padding-top: 100px">
        <li><strong class="bold">Defendant name:</strong><br> Mary Richards</li>
        <li><strong class="bold">Claim amount:</strong><br>£502.23 </li>
        <li><strong class="bold">Claim details:</strong><br><a href="view-claim">Download claim details</a> </li>
      </ul>
    </div>
  </div>
</div>
</main>
{% endblock %}
