{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">


      <form method="post" action="company-name">

        <h1 class="heading-large">
          Get the company's full legal name right
        </h1>

        <br />

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            Your claim will fail if you do not use the company's full legal name.
          </strong>
        </div>

        <p class="exclamation"></p>

        <p>In most cases, the company's full legal name is not the name it is commonly known by.</p>
        <p>The full legal name will almost always end in 'limited', 'ltd' or 'plc' and can sometimes be completely different to the name you know.</p>

        <p>For example:</p>

        <ul class="list list-bullet">
          <li>KFC is <i>Kentucky Fried Chicken (Great Britain) Limited </i></li>
          <li>Currys PC World is <i>DSG Retail Limited</i></li>
          <li>Easyjet is <i>easyJet Airline Company Limited</i></li>  
          <li>British Gas is <i>British Gas Trading Limited</i></li>  
          <li>Saga Holidays is <i>ST&H Group Limited</i></li>  
        </ul> 


        <h2 class="heading-medium">Where to find the company's full legal name</h2>
        <p>It's often best to ask them, but you could also try the following.</p>

        <h2 class="heading-small">Look at your paperwork</h2>
        <p>This could include quotes, estimates, contracts, invoices, receipts or terms and conditions.</p>
        <p>These will often include the company's full name in a footer or small print, rather than the logo or heading.</p>

        <h2 class="heading-small">The company's website</h2>
        <p>Websites often include legal documnts such as terms and conditions or privacy policies which state their full legal name.</p>
        <p>You could also try entering the name you know the business as and 'terms and conditions' into a search engine.</p>

        <h2 class="heading-small">Search Companies House</h2>
        <p>If you can't find the company's name on their documentation, you can <a href="https://beta.companieshouse.gov.uk/">search Companies House</a> for free.</p>
        <p>Try to match the registered office address and the employees listed with other information you have, to make sure you have the right business.</p>

        <br/>
        <h2 class="heading-xlarge">PAGE 2</h2>

        <h2 class="heading-medium">Have you found the company's full legal name?</h2>

        <h2 class="heading-medium">Watch out for</h2>

        <h2 class="heading-small">Trading names</h2>
        <p>sdfsdfsdf</p>
        <h2 class="heading-small">Non-UK companies</h2>
        <p>sdfsdfsdf</p>
        <h2 class="heading-small">Franchises</h2>
        <p>sdfsdfsdf</p>
        <p>Yes/No</p>

 <!--
        <p>Some businesses use a trading name which is different to their full legal name.</p>
          <p>Your claim will fail if you use this 'trading name' or any name a company is 'trading as'.</p>
        <p>You can check a business's terms and conditions to find its full legal name.</p>

        <p>If you find, for example:</p>
        <ul>
          <li>"Saga Holidays is a trading name of ST&H Group Limited" - claim against 'ST&H Group Limited'</li>
          <li><i>"Currys PC World is a trading name of DSG Retail Limited"</i> - claim against 'DSG Retail Limited'</li>
          <li><i>"TK Maxx is owned and operated by TJX UK"</i> claim against 'TJX UK'</li>
        </ul>

 -->
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>

        </form>
      </div>
    </div>
  {% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>
{% endblock %}
