{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="#" class="link-back">Back</a>

            <h1 class="heading-xlarge">
                Jan Clark's claim
            </h1>

            <p class="lede">Jan Clark has made a money claim against you.</p>
            <p class="lede">We'll explain your options when you respond, for example, if you owe this money but can't afford to pay it back. </p>

            <p class="heading-medium">Summary</p>

            <p>This claim is about non-payment of holiday pay of <span class="bold">£1,500</span> accrued from
                 03/07/2016 to
                07/10/2016.</p>

            <p class="heading-medium">Timeline</p>

            <div class="form-fields">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">What happened</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>03/07/2016</td>
                        <td>I started working for Mary Richards under a contract.</td>
                    </tr>
                    <tr>
                        <td>06/08/2016</td>
                        <td>I took one day of leave but under my contract I accrue 3.4 days holiday pay a month.</td>
                    </tr>
                    <tr>
                        <td>30/08/2016</td>
                        <td>I took one more day of leave.</td>
                    </tr>
                    <tr>
                        <td>15/09/2016</td>
                        <td>I told Mary Richards that I was giving notice as I got another job.</td>
                    </tr>
                    <tr>
                        <td>07/10/2016</td>
                        <td>I did my last day of work for Mary Richards.</td>
                    </tr>
                    <tr>
                        <td>15/10/2016</td>
                        <td>I spoke to a colleague who told me I could make a money claim for the unpaid holiday.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--<div class="notice">-->
            <!--<i class="icon icon-important">-->
            <!--<span class="visually-hidden">Warning</span>-->
            <!--</i>-->
            <!--<strong class="bold-small">-->
            <!--You have 14 days to respond to this claim.-->
            <!--</strong>-->
            <!--</div>-->
            <p class="heading-small">You have 14 days to respond to this claim.</p>
            <details>
                <summary><span class="summary">What if you don't respond in time?</span></summary>
                <div class="panel panel-border-narrow">
                    <p>You might have to pay more or get a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County Court Judgment (CCJ)</a> if you don't
                        respond in time.</p>
                </div>
            </details>

            <br>

            <p>Jan Clark had said they are willing to discuss the claim with you and has provided this email address: jan65@gmail.com</p>

            <a href="create-account" class="button">Respond to claim</a>

            <br>
            <br>

            <p class="heading-medium">Other options</p>

            <details>
                <summary><span class="summary">If you need more time to respond</span></summary>
                <div class="panel panel-border-narrow">
                    <p>You can <a href="#">ask for another 14 days</a> if you need more time to respond to this claim.</p>

                </div>
            </details>

            <details>
                <summary><span class="summary">Can I just pay the money?</span></summary>
                <div class="panel panel-border-narrow">
                    <p>Yes, you can contact Jan Clark yourself and pay the money owed. Ask them to let the court
                        know when they have your payment.</p>
                </div>
            </details>

        </div>
    </div>
</main>


{% endblock %}

