{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Resolving this dispute
      </h1>

      <p class="lede">Even if you have made attempts to settle before making a claim, parties can often reach a resolution before a hearing.</p>

      <!--<p>However, many people resolve their dispute before a hearing.</p>-->

      <p class="lede">75% of defended claims are resolved before a hearing.</p>

      <!--<p class="panel panel-border-narrow">Even if you have made attempts to settle before issuing the claim, parties-->
      <!--can often reach a resolution once court action has been started.</p>-->

      <h1 class="heading-medium">
        Will you try to settle the claim before a hearing?
      </h1>

      <form name="aspnetForm" method="post" onsubmit="multiNavigation('radio-indent-group', ['Yes', 'No', ''], ['#', '#', '#']);return false;" id="aspnetForm" autocomplete="off">

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden">Are you willing to resolve the dispute before a hearing?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">No</label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="yes-info">-->
            <!--<p>We'll let them know and you might be able to <span class="bold">reach an agreement</span> with them and-->
            <!--won't need to wait for a hearing date.</p>-->
            <!--</div>-->

            <!-- <div class="multiple-choice">
              <input id="radio-mediator" type="radio" name="radio-indent-group" value="Yes-mediator">
              <label for="radio-mediator" data-target="mediator-info">Yes, with a mediator on the telephone</label>
            </div> -->

            <!--<div class="panel panel-border-narrow js-hidden" id="mediator-info">-->
            <!--<p>If both of you say yes, we'll contact you to set up an appointment and answer any questions you-->
            <!--have.</p>-->
            <!--</div>-->

            <!-- <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">No, I don't want to discuss</label>
            </div> -->

            <!--<div class="panel panel-border-narrow js-hidden" id="no-info">-->
            <!--<p>If you can <span class="bold">reach an agreement</span> you won't need to wait for-->
            <!--a hearing date-->
            <!--and prepare a full case and evidence. You could also get some if not all of the money-->
            <!--sooner.</p>-->
            <!--</div>-->

          </fieldset>
        </div>

        <input id="advert-option-next--button" type="submit" value="Finished" class="button" data-ignore-double-submit="true">
      </form>

    </div>
  </div>
</main>


{% endblock %}
