{% extends "layout_task-list.html" %}

{% block page_title %} Task list {% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/public/stylesheets/dm_list.css"/>
{% endblock %}

{% block proposition_header %}
    {% set my_account="2" %}
    {% include "includes/propositional_navigation.html" %}
{% endblock %}


{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">


        <h1 class="heading-large">
          Change how you pay
        </h1>

            <!--  Section 1  -  CONTACT DETAILS  -->
            <table id="table-of-tasks">
              <thead>
                <tr>
                  <th scope="col" id="col-task">
                    <span class="task-group">
                      <span class="group-number" id="task-number"></span>
                      Your contact details
                    </span>
                    <th class="numeric" id="task-status" scope="col" id="col-status">
                      <span type="hidden" class="visually-hidden">task status</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="read-rules">
                    <td class="task">
                      <a href="/prototypes/prototype-nov-2019/defendant/task-list/your-details?defaultccj=true">
                        <span class="task-name">Confirm your details </span>
                      </a>
                    </td>
                    <td class="numeric" id="task-status" scope="col" id="col-status">
                        {% if data.confirmdetails=="complete" %}
                            {% include "includes/task_status_finished.html" %}
                        {% else %}
                            {% include "includes/task_status_incomplete.html" %}
                        {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>

            <br>
            <br>


        <table id="table-of-tasks">
          <thead>
          <tr>
            <th scope="col" id="col-task">
                      <span class="task-group">
                        <span class="group-number" id="task-number"></span>
                        Change how you pay
                      </span>
            </th>
            <th class="numeric" id="task-status" scope="col" id="col-status"></th>
          </tr>
          </thead>

          <tbody>

          <tr id="read-rules">
            <td class="task">
              <a href="help-with-fees-decision">
                <span class="task-name">Ask to change the judgment</span>
              </a>
            </td>
            <td class="numeric" id="task-status" scope="col" id="col-status">
              {% if data.varyanswered=="complete" %}
                  {% include "includes/task_status_finished.html" %}
              {% else %}
                  {% include "includes/task_status_incomplete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- if vary requested -->
          {% if  data['varyselected'] == 'true'  %}
              <tr>
                <td class="task">
                  <a href="../vary/pay-default-ccj-options">
                    <span class="task-name">Request new payment terms</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.newpaymentterms=="complete" %}
                      {% include "includes/task_status_finished.html" %}
                  {% else %}
                      {% include "includes/task_status_incomplete.html" %}
                  {% endif %}
                </td>
              </tr>


              <tr>
                <td class="task">
                  <a href="../../../defendant/task-list/owe-all/statement/explanation  ">
                    <span class="task-name">Your financial details</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.financialdetails=="complete" %}
                      {% include "includes/task_status_finished.html" %}
                  {% else %}
                      {% include "includes/task_status_incomplete.html" %}
                  {% endif %}
                </td>
              </tr>



              <tr>
                <td class="task">
                  <a href="reason-for-vary">
                    <span class="task-name">Reason for changing the payment terms</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.cantpayreason=="complete" %}
                      {% include "includes/task_status_finished.html" %}
                  {% else %}
                      {% include "includes/task_status_incomplete.html" %}
                  {% endif %}
                </td>
              </tr>



          {% endif %}

          </tbody>
        </table>

        <br>
        <br>










        <!--  CHECK AND SUBMIT ANSWERS -->
        <table id="table-of-tasks" class="submit">
          <thead>
            <tr>
              <th scope="col" id="col-task">
                <span class="task-group">
                  <span class="group-number" id="task-number"></span>
                  Submit
                </span>
              </th>
              <th class="numeric" id="task-status" scope="col" id="col-status"></th>
            </tr>
          </thead>
          <tbody>
            <tr id="check-and-send">
              <td>
                {% if data.varyselected=="true"  %}
                    <a href="../vary/check-answers-defendant-vary">
                      <span class="button">Check and submit</span>
                    </a>
                {% else %}
                    <a href="check-answers">
                      <span class="button">Check and submit</span>
                    </a>
                {% endif %}
             </td>
            </tr>


            <tr id="check-and-send">
              <td>
                <br>
                <p><a href="../../defendant">Save and return</a></p>
              </td>
            </tr>

          </tbody>
        </table>



    </div>





    <!--  Right side claim details -->
    <div class="column-one-third">
      <ul class="actions">
      </ul>
      <div class="meta-data" style="margin-left:80px;">
        <ul role="navigation" class="font-xsmall list">
          <li><strong class="bold">Claim reference:</strong><br>352MC733</li>
           <a href='task-list/view-claim'>View claim</a></li>
        </ul>
      </div>
    </div>





  </div>

</main>

<form method="post"  action="#" class="form" style="float: left;">
  <select id="control-box2" name="control-box2" onchange="window.location.href='?'+this.value">
    <option value="alreadysettled=true&fulldefence=false&lower-amount=false&"
    {%  if data['alreadysettled'] == 'true'  and  data['fulldefence'] == 'false'  and  data['lower-amount'] == 'false'  %}selected{% endif %}
    >Already Settled</option>

    <option value="lower-amount=false&alreadysettled=false&fulldefence=false&"
    {% if data['alreadysettled'] == 'false'  and  data['fulldefence'] == 'false'  and  data['lower-amount'] == 'false' %}selected{% endif %}
    >Full Admit</option>

    <option value="lower-amount=true&alreadysettled=false&fulldefence=false&"
    {% if data['alreadysettled'] == 'false'  and  data['fulldefence'] == 'false'  and  data['lower-amount'] == 'true' %}selected{% endif %}
    >Part Admit</option>

    <option value="fulldefence=true&lower-amount=false&alreadysettled=false&"
    {% if data['alreadysettled'] == 'false'  and  data['fulldefence'] == 'true'  and  data['lower-amount'] == 'false' %}selected{% endif %}
    >Full Defence</option>
  </select>
</form>




{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}
