{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="#" class="link-back">Back</a>

            <h1 class="heading-xlarge">
                Register for updates
            </h1>

            <p>Paragraph goes here ...</p>

            <p class="panel panel-border-wide ">You can save your claim and return to it at any time. You'll need your
                email address.</p>

            <p>
                <a class="button" href="#" role="button">Continue</a>
            </p>

        </div>
    </div>
</main>


{% endblock %}

