{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/">Business and self-employed</a></li>
      <li><a href="/">Business debt and bankruptcy</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Make a money claim online
      </h1>

      <p>You can make a claim against an individual or company who:</p>
      <ul class="list list-bullet">
        <li>owes you money and won't pay it back</li>
        <li>is in a dispute with you - for example, you've paid for goods that weren't satisfactory</li>
      </uL>

      <p class="panel panel-border-wide">It could count against you in court if you don't try to sort out a dispute
        directly before you make an official claim.</p>

      <h2 class="heading-medium">What you'll need</h2>
      <p>You'll need:</p>
      <ul class="list list-bullet">
        <li>the current or last known address of the person or company you’re claiming against</li>
        <li>a credit or debit card to pay the <a
          href="https://www.gov.uk/make-court-claim-for-money/court-fees">claim fee</a>
        </li>
        <li>your email address so you can save your claim and get updates</a>
        </li>
      </uL>

      <p>You might be able to <a
        href="https://www.gov.uk/get-help-with-court-fees">get help with fees</a> if you're on a low income or get
        certain benefits. Apply for this before you make your claim.</p>

      <p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

      <div class="clearfix">
        <a class="button button-start" href="create-account" role="button">Start now</a>
      </div>

      <fieldset></fieldset>
      <br>

      <section class="more">
        <div class="js-tabs nav-tabs">
          <ul class="tabs-nav" role="tablist">
            <li class="active"><a
              href="#before-you-start-enhanced"
              role="tab" id="tab-before-you-start" aria-controls="before-you-start"
              aria-flowto="before-you-start" aria-selected="true" tabindex="0">Before you
              start</a></li>

            <li><a href="#other-ways-to-apply-enhanced"
                   role="tab" id="tab-other-ways-to-apply" aria-controls="other-ways-to-apply"
                   aria-flowto="other-ways-to-apply" aria-selected="false" tabindex="-1">Other
              ways to apply</a></li>
          </ul>
        </div>

        <div class="js-tab-content tab-content tabs-body" aria-live="polite">
          <div class="js-tab-pane tab-pane tabs-panel tabs-panel-selected"
               id="before-you-start-enhanced" role="tabpanel" aria-hidden="false"
               aria-expanded="true" aria-labelledby="tab-before-you-start"
               style="display: block;">

            <h2 class="heading-medium">Before you start</h2>

            <p>A money claim might not be your only or best option. Find out about <a
              href="other-options">other ways to get your money</a>.</p>

            <!--<p>You might have to go to a hearing in front of a judge if the person says they don’t owe you. It can take-->
              <!--up to 7 months to get a hearing date.</p>-->

            <p>Find out more about <a href="https://www.gov.uk/make-court-claim-for-money">making a money claim</a>,
              such as the <a href="https://www.gov.uk/make-court-claim-for-money/court-fees">fees you’ll pay</a>.</p>

            <h2 class="heading-medium">Legal advice</h2>

            <p>You don’t have to use a lawyer to make a claim but some people choose to. For example, you might need to
              check
              if your claim is valid, who to claim against, or what to say in your claim.</p>

            <p>You might be able to get free legal advice from <a
              href="https://www.citizensadvice.org.uk/law-and-rights/legal-system/taking-legal-action/do-you-need-legal-advice/">Citizens
              Advice</a> or <a href="http://www.advicenow.org.uk/">Advicenow</a>.</p>

          </div>


          <div class="js-tab-pane tab-pane tabs-panel" id="other-ways-to-apply-enhanced"
               role="tabpanel" aria-hidden="true" aria-expanded="false"
               aria-labelledby="tab-other-ways-to-apply" style="display: none;">
            <p>You can also apply by post.</p>

            <p>You can print and fill in a <a rel="external"
                                              href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=338"
                                              target="_blank">paper claim
              form</a>. Send it and a cheque for your claim fee to the the address on the form.</p>

            <h2 class="heading-medium">Help to use this service</h2>
            Telephone: 0300 123 1372 <br>
            Textphone: 0300 144 2122
            Fax: 0161 743 4023 <br>
            Monday to Friday, 8:30am to 5pm<br>
            Find out about <a href="https://www.gov.uk/call-charges">call charges</a>
            </p>
          </div>

        </div>
      </section>
    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Support</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/make-court-claim-for-money">Make a court claim for money</a>
            </li>
            <li><a href="https://www.gov.uk/make-court-claim-for-money/court-fees">Money claim fees</a></li>
            <br>
            <li><a href="other-options">Other options</a></li>
            <br>
            <li><a class="external" rel="external"
                   href="https://courttribunalfinder.service.gov.uk/courts/county-court-money-claims-centre-ccmcc"
                   target="_blank">Contact us</a></li>

            <!--<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>-->
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</main>


{% endblock %}

