{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
          What would you like the court to do?
      </h1>

      <form action="why" method="get" class="form">

        <div class="form-group">
          <fieldset>
            <legend class="visually-hidden">Suggest a resolution</legend>
            <span class="form-hint">
              Don't include the reason for your request.
            </span>

            <textarea class="form-control form-control-3-4 form-control-medium"
                id="general-application-what"
                rows="4"
                name="general-application-what"
                cols="40"
                type="text"
                style="width: 95%; height: 150px;}"
                ></textarea>
            <br>

            <div class="form-group">
               <input type="submit" class="button" value="Continue"/>
            </div>


          </fieldset>
        </div>

      </form>
    </div>
  </div>
  {% include 'prototypes/prototype-sep-2019/includes/contact.html' %}
</main>


<form method="post"  action="#" class="for4" style=" float: left; ">
  <select style="height:25px;" onchange="window.location.href='?'+this.value">
    <option value="newoffer=false&"
            {% if data['newoffer'] != 'true'  %}selected{% endif %}
            >Old type of offer</option>

    <option value="newoffer=true&"
            {% if data['newoffer'] == 'true'  %}selected{% endif %}
            >New type of offer</option>

  </select>
</form>



{% endblock %}
