{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->-->
      <h1 class="heading-large">
        When did you pay the claimant?
      </h1>
      <p class=""></p>
      <form method="get" action="../../task-list" class="form">
        <div class="form-group">
            <legend class="visually-hidden">Defence</legend>
            <div id="claim-details">

                <div class="form-group">
                  <fieldset>
                    <div class="form-date">
                      <p class="form-hint">For example, 12 12 2017</p>
                      <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input class="form-control" id="set-day" name="set-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{data['set-day']}}" >
                      </div>
                      <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input class="form-control" id="set-month" name="set-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{data['set-month']}}">
                      </div>
                      <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input class="form-control" id="set-year" name="set-year" type="number" pattern="[0-9]*" min="0" max="2024" value="{{data['set-year']}}">
                      </div>
                    </div>
                  </fieldset>
                </div>

              </div>
          <input type="hidden" name="owe_dates" value="complete">
          <input type="hidden" name="dates" value="true">


      {% if data['partial']=="1" %}
                  <input type="hidden" name="radio_select_group2" value="amount_claimed">

        {% else %}
                  <input type="hidden" name="radio_select_group2" value="amount_claimed">


        {% endif %}

          <div class="form-group">
            <input id="advert-option-next--button" type="submit" value="Save and continue" class="button" data-ignore-double-submit="true">
          </div>
        </div>
      </form>
    </div>
  </div>
{% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
