{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">How has this dispute affected you?</h1>
      <div class="description-block">
        <h3 class="heading-small">How this dispute has affected them.</h3>
        <p>The problem with the roof has caused me a lot of stress. We've been planning to put the house on the market so wanted this work completed. We've had to hold off listing the house with an agent until this is sorted out.</p>
      </div><br>
          <div class="panel panel-border-wide">
            This information will only be shared with the claimant Jan Clark. A judge will not see this even if the claim goes to a hearing.
          </div>
      <form
      name="aspnetForm"
      action="../../task-list"
      method="get"
      id="aspnetForm"
      autocomplete="off">
      <div class="form-group">
        <legend class="visually-hidden">Defence</legend>
        <div id="claim-details">
          <div id="describe-wrapper-claim-details-1" class="form-group">
            <label class="form-label-bold" for="offer">
              <div class="bold-small">How has this dispute affected you? (optional)</div>
            </label>
            <textarea class="form-control form-control-3-4 form-control-large"
            id="defence-disagree-affect"
            rows="4"
            name="defence-disagree-affect"
            cols="40"
            type="text"
            style="width: 95%"
            >{{data['defence-disagree-affect']}}</textarea>
          </div>
        </div>

                     <input type="hidden" name="your_defence" value="complete">

       <div class="form-group">
        <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
        data-ignore-double-submit="true">
      </div>
    </div>
  </form>
</div>
</div>
{% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
