{% extends "layout_task-list.html" %}
{% block page_title %}
Check your answers
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <h1 class="heading-large">
    Check your witness statement
  </h1>
  <p>We've used your answers to create this witness statement.</p>
  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Corrections to my claim
        </td>
        <td>
          I said in my claim that I first spoke to Alex on the 16th of October, it was in fact the 16 of September.
        </td>
        <td class="change-answer">
         <a href="upload">
          Change
        </a>
        </td>
      </tr>
      <tr>
        <td>
          How you believe the dispute happened
        </td>
        <td>
          As you can see in Document 1, lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet, lorem et rutrum convallis, urna nisl efficitur neque, mattis condimentum ex ipsum non urna. Ut euismod libero ac dolor tempor.
        </td>
        <td class="change-answer">
         <a href="upload">
          Change
        </a>
        </td>
      </tr>
      <tr>
        <td>
          Why you think the other party is to blame
        </td>
        <td>
          Document 2 clearly shows that usce quis pharetra metus. Vivamus egestas sodales metus ac faucibus. In pretium suscipit nisi vel dictum. Etiam sed egestas neque. Vestibulum lacus ex, fermentum non velit at, placerat rhoncus lorem. Duis a turpis metus.
        </td>
        <td class="change-answer">
         <a href="upload">
          Change
        </a>
        </td>
      </tr>
      <tr>
        <td>
          Why you decided to claim £1,500
        </td>
        <td>
          The repair estimate shown in Document 3 shows vestibulum urna vitae mauris ultrices auctor. Morbi id magna turpis. Nam pellentesque, nulla non rutrum porta, libero orci maximus eros.
        </td>
        <td class="change-answer">
         <a href="upload">
          Change
        </a>
        </td>
      </tr>
      <tr>
        <td>
          Actions that would resolve the claim
        </td>
        <td>
          I have already had the repairs made, so I would like Alex to reimburse me the £1,500 it cost me.
        </td>
        <td class="change-answer">
         <a href="upload">
          Change
        </a>
        </td>
      </tr>
      <tr>
        <td>
          Events on their timeline you dispute
        </td>
        <td>
          <p class="heading-small" style="margin-top: 0">They said:</p>
          <p>15/01/2018 - I hadn't had a reply so I told them I would be making a money claim.</p>
          <p class="heading-small">You said:</p>
          <p>I sent my email on 13/01/2018. </p>
          <p>See Document 4.</p>
          <hr />
          <p class="heading-small" style="margin-top: 0">They said:</p>
          <p>15/01/2018 - I hadn't had a reply so I told them I would be making a money claim.</p>
          <p class="heading-small">You said:</p>
          <p>I sent my email on 13/01/2018. </p>
          <p>See Document 4.</p>
        </td>
        <td class="change-answer">
         <a href="upload">
          Change
        </a>
        </td>
      </tr>
      <tr>
        <td>
          Further details
        </td>
        <td>
          Duis in odio eget ipsum ultricies tincidunt. Sed ut dui mi. Quisque fringilla vitae mauris non dignissim. Donec vitae turpis metus. Mauris commodo nulla at dui elementum, nec imperdiet urna semper. Praesent convallis pellentesque condimentum. In elit ante, suscipit eget erat vitae, tempus rutrum augue. Vestibulum mollis pellentesque lorem, ut aliquet diam tristique at.
        </td>
        <td class="change-answer">
         <a href="upload">
          Change
        </a>
        </td>
      </tr>

  </tbody>
</table>


<h2 class="heading-medium">Statement of truth</h2>

<div class="form-group">
  <div class="multiple-choice text">
    <input id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
    <label for="HasAcceptedTermsAndConditions"><p>I believe that the facts stated in this response are true.</p><p>I understand that proceedings for contempt of court may be brought against anyone who makes, or causes to be made, a false statement in a document verified by a statement of truth without an honest belief in its truth.</p></label>
  </div>
</div>


<form method="get" action="confirmation-page" class="form">
  <div class="form-group">
    <button id="submit" class="button" >Submit your witness statement</button>
  </div>
{% include 'prototypes/prototype-may-2020/includes/contact.html' %}
</main>
{% endblock %}
