{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Response sent to Mary Richards
      </h1>

      <fieldset>
        <p>We've emailed Mary Richards your response.</p>

        <h2 class="heading-medium">What happens next</h2>
        <p>An agreement will be drawn up for you both.</p>
        <p>We'll send you the agreement <span class="bold">within 5 days</span> by email and SMS for you to sign.</p>

      </fieldset>

      <!--<p>We've emailed you this confirmation.-->
        <!--<a href="#">Print this page</a></p>-->
    </div>
  </div>
</main>


{% endblock %}

