{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      {% include 'prototypes/features-to-be-built/includes/how-mediation-works.html' %}

     <!--{% if data['mediation-pilot']=="on" %}-->
      <div class="form-group">
        <a class="button" href="request-mediation/previous-phone">Continue</a>
      </div>

      <p style="margin-bottom: 35px"><a href="request-mediation/no-mediation">I don't want to try free mediation</a></p>

    <!--{%else%}

      <div class="form-group">
        <a class="button" href="try-mediation">Continue</a>
      </div>

      {% endif %}-->

      <!--<h1 class="heading-large">
        Free telephone mediation
      </h1>

      {% if data['mediation-pilot']=="on" %}
      <form method="post" action="request-mediation/how-mediation-works" class="form">
        <input type="hidden" name="mediation" value="complete">

        <p>We're automatically registering some claims worth £300 or less for free telephone mediation. Your claim has been selected for this.</p>

        <p>More than 60% of people who use our free mediation service settle on the day.*</p>

        <p>We'll tell you how mediation works - you can decide to take part or not.</p>

        <div class="form-group">
          <input type="submit" class="button" value="How free mediation works"/>
        </div>
      </form>

      <p class="font-xsmall">*Source: Small Claims Mediation Service statistics, November 2017 to October 2018.
      <p/>


      {%else%}

      <form method="post" action="request-mediation/how-mediation-works" class="form">
        <input type="hidden" name="mediation" value="complete">

        <p>More than 60% of people who use our free mediation service settle on the day.*</p>

        <p>Continuing the claim doesn't guarantee you get paid - it can mean:</p>
        <ul class="list list-bullet">
          <li>it takes longer to resolve your claim</li>
          <li>you have to go to a court hearing and pay a fee</li>
        </ul>

        <p>You'll only speak to a mediator about the claim, not to Mary Richards.</p>

        <div class="form-group">
          <input type="submit" class="button" value="How free mediation works"/>
        </div>
        <p class="font-xsmall">*Source: Small Claims Mediation Service statistics, November 2017 to October 2018.<p/>

      </form>

      {% endif %}-->

    </div>
  </div>


{% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
