{% extends "layout_no-masthead.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="email-header" style="margin-left: 100px; padding-top: 50px;">
    <div style="position: relative;">From:
      <div style="position: absolute; left: 80px; top: 0px;">HM Courts and Tribunals &lt;<a
        href="https://divorce-prototype.herokuapp.com/emails/hm.courts.and.tribunals@notifications.service.gov.uk">hm.courts.and.tribunals@notifications.service.gov.uk</a>&gt;
      </div>
    </div>
    <div style="position: relative;">Subject:
      <div style="position: absolute; left: 80px; top: 0px; font-weight: 600;">Warrant of Control is requested</div>
    </div>
    <div style="position: relative;">Sent:
      <div style="position: absolute; left: 80px; top: 0px;">{{ now | date('add', 7, 'days') | date }} at 11:08am</div>
    </div>
    <div style="position: relative;">To:
      <div style="position: absolute; left: 80px; top: 0px;">{{ partyName( 'claimant' ) }} &lt;<a
        href="https://divorce-prototype.herokuapp.com/emails/generic">{{ partyName( 'claimant', 'email' ) }}@gmail.com</a>&gt;
      </div>
    </div>
  </div>
  <hr style="margin-top: 15px; margin-bottom: 0px;">
  <div class="email-wrapper" style="margin-left: 100px; margin-right: 100px; padding-top: 25px;">
    <header role="banner" id="global-header" class="
  with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="./email_files/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt="">
              <span style="margin-left: 38px">GOV.UK</span>
            </a>
          </div>

        </div>
      </div>
    </header>
    <!--end header-->


    <div id="global-header-bar" style="margin-left: 30px;"></div>
    <!--end global-header-bar-->

    <div class="column-three-thirds" style="padding-top:30px;">

      <p>
        Dear {{ partyName( 'claimant' ) }},
      </p>

      <p>
        We’re contacting you because you requested a Warrant of Control against {{ partyName( 'defendant' ) }}.
      </p>

      <p>
        It can take up to X days for a warrant to be issued. A bailiff will then try to recover your money from Alex
        {{ partyName( 'defendant', 'last' ) }}.
      </p>

      <p>
        <a href="">View your claim and any updates</a>
      </p>

      <p>
        This is an automated email – please don’t reply because emails sent to this address can’t be responded to.
      </p>

      <p>
        HM Courts &amp; Tribunals Service<br>
        Your claim number: 352MC733
      </p>

      <p>Telepone: 0330 123 7050<br>
        Hours: 9am to 5pm, Monday to Friday<br>
        Find out about call charges <a href="https://www.gov.uk/call-charges">https://www.gov.uk/call-charges</a><br>
        Email: <a href="mailto: contactocmc@justice.gov.uk">contactocmc@justice.gov.uk</a>
      </p>

    </div>
{% include 'prototypes/prototype-may-2020/includes/contact.html' %}
</main>
{% endblock %}
