{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-large">
        <span class="heading-secondary">Defendant's response </span>

        Their offer
      </h1>


      <h2 class="heading-medium">Mary Richards' offer</h2>

      <p class=""> 

        I will fix the roof if you'll give me access and pay for any extra materials.


      </p>

      <h2 class="heading-medium">Do you you accept the defendants offer?</h2>
      <form
      name="aspnetForm"
      method="post"
      onsubmit="multiNavigation('radio-indent-group', ['Yes', 'Counter', 'Decline'], ['agreement/review-agreement', 'counter-suggestion', 'mediation']);return false;"
      id="aspnetForm"
      autocomplete="off">


      <div class="form-group">
        <fieldset>


          <div class="multiple-choice" data-target="accept">
            <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
            <label for="radio-yes" data-target="yes-info">Yes, I accept their offer</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="accept">
          <p>Continue to make a settlement agreement between you and the defendant.</p>
         </div>

         <div class="multiple-choice" data-target="counter">
          <input id="radio-counter" type="radio" name="radio-indent-group" value="Counter">
          <label for="radio-counter" data-target="no-info">No, I want to make a counter offer</label>
        </div>   
        <div class="panel panel-border-narrow js-hidden" id="counter">
         <p>Continue to make a counter offer. If the defendant agrees you can make an agreement to settle the claim.</p>
       </div>
       <div class="multiple-choice" data-target="decline">
        <input id="radio-no" type="radio" name="radio-indent-group" value="Decline">
        <label for="radio-no" data-target="no-info">No, I don't accept their offer</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="decline">
       <p>Continue to consider free mediation.</p>
     </div>

   </fieldset>

   <input id="advert-option-next--button" type="submit" value="Continue" class="button"
   data-ignore-double-submit="true">
 </div>
</form>



</div>

</div>




</main>


{% endblock %}

