{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        Did you pay on or before 28 October 2017?
      </h1>
      <p class=""></p>

        <form
          name="aspnetForm"
          method="post"
          onsubmit="multiNavigation('radio-s-c-group', ['Yes', 'No'], ['s-c-upload', 's-c-process']);return false;"
          id="aspnetForm"
          autocomplete="off">

        <div class="form-group">
          <fieldset>


            <div class="multiple-choice" data-target="no-respond">
              <input id="set-aside-no-respond" type="radio" name="radio-s-c-group" value="Yes" aria-controls="no-respond" aria-expanded="false">
              <label for="set-aside-no-respond">Yes</label>
            </div>

            <!--
            <div class="panel panel-border-narrow js-hidden" id="no-respond" aria-hidden="true">
              <p>You can get the CCJ removed from the records. Fee is £15.</p>
            </div>
            -->

            <div class="multiple-choice" data-target="paid-off">
              <input id="set-aside-paid-off" type="radio" name="radio-s-c-group" value="No" aria-controls="paid-off" aria-expanded="false">
              <label for="set-aside-paid-off">No</label>
            </div>

            <!--
            <div class="panel panel-border-narrow js-hidden" id="no-respond" aria-hidden="true">
              <p>You can get the CCJ marked as paid on the records. Fee is £15.</p>
            </div>
            -->



          </fieldset>
        </div>



        <div class="form-group">
          <input type="submit" class="button" value="Save and continue" />
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
