{% extends "layout_unbranded.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="">
      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Contact the right helpdesk

      </h1>
      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio_group2', ['beta','mcol'], ['../../sign-in', 'mcol']);return false;"
        id="aspnetForm"
        autocomplete="off">

        <p>We're building a new service to replace Money Claim Online (MCOL). It's currently in the beta  phase being tested with users.</p>
        <p>Both services are currently live. You need to contact the helpdesk for the service that you used.</p>
        
        <div class="details">
          <div>
            <h3 class="heading-medium">Money Claims - new beta service</h3>
            <a href="https://www1.moneyclaims.service.gov.uk/make-claim">https://www1.moneyclaims.service.gov.uk</a>
          </div>

          <p>
            <span class="bold">Money Claims</span><br>
            <a href="">moneyclaims@hmcts.gsi.gov.uk</a><br>
            Telephone: 0300 123 7050<br>
            Monday to Friday, 9am to 5pm<br>
            <a href="">Find out about call charges</a>
          </p>
        </div>

        <img src="/public/images/sign-in.png" class="screenshot" style="height: 200px; top: 14px;">


        <div class="details" style="margin-top: 50px">
          <div>
            <h3 class="heading-medium">Money Claim Online (MCOL)</h3>
            <a href="https://www.moneyclaim.gov.uk/web/mcol/welcome">https://www.moneyclaim.gov.uk</a>
          </div>

          <p>
            <span class="bold">Money Claim Online helpdesk</span><br>
            <a href="">ccbc@hmcts.gsi.gov.uk</a><br>
            Telephone: 0300 123 1057<br>
            Monday to Friday, 8:30am to 5pm<br>
            <a href="">Find out about call charges</a>
          </p>
        </div>

        <img src="/public/images/mcol.png" class="screenshot" style="width: 346px; top: 71px;">


      </form>
    </div>
  </div>
</main>

<style>
  .details {
    display: inline-block;
    width:  45%;
  }

  .details h3 {
    margin-bottom: 0px;
  }
  .details div {
    margin-bottom: 16px;
  }

  .screenshot {
    display: inline-block;
    border: 1px solid #ddd;
    box-shadow: 7px 7px #f8f8f8;
    position: relative;
  }

</style>
{% endblock %}
