{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/moneyclaims/questions/mobility" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          Do you have any of the following disabilities or health conditions?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Do you have any of the following disabilities or health conditions?
          </legend>

          <div class="form-group">

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_2" name="disability_medical" value="severe_learning_disability">
              <label for="disability_medical_2">Severe learning disability</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_3" name="disability_medical" value="disabetes">
              <label for="disability_medical_3">Diabetes controlled by insulin</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_4" name="disability_medical" value="epilepsy">
              <label for="disability_medical_4">Epilepsy</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_5" name="disability_medical" value="eye_condition">
              <label for="disability_medical_5">Any condition affecting your eyes</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_6" name="disability_medical" value="field_of_vision">
              <label for="disability_medical_6">Any condition affecting your field of vision, other than needing to wear glasses or contact lenses</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_7" name="disability_medical" value="loss_of_sight">
              <label for="disability_medical_7">Total loss of sight in one eye</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_8" name="disability_medical" value="stroke_symptoms">
              <label for="disability_medical_8">Any stroke symptoms lasting longer than one month</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_9" name="disability_medical" value="blackouts_or_fits">
              <label for="disability_medical_9">Fits or blackouts</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_10" name="disability_medical" value="brain_surgery_head_injury">
              <label for="disability_medical_10">Any type of brain surgery or severe head injury involving in-patient treatment</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_11" name="disability_medical" value="brain_tumour">
              <label for="disability_medical_11">Brain tumour</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_12" name="disability_medical" value="pacemaker">
              <label for="disability_medical_12">An implanted cardiac pacemaker</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_13" name="disability_medical" value="implanted_defibrilator">
              <label for="disability_medical_13">An implanted cardiac defibrilator (ICD)</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_14" name="disability_medical" value="sudden_giddiness">
              <label for="disability_medical_14">Repeated attacks of sudden disabling giddiness</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_15" name="disability_medical" value="chronic_neurological_condition">
              <label for="disability_medical_15">Any chronic neurological condition including Multiple Sclerosis, Motor Neurone and Huntington's Disease</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_16" name="disability_medical" value="memory_loss">
              <label for="disability_medical_16">A serious problem with memory or periods of confusion</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_17" name="disability_medical" value="alcohol_problem">
              <label for="disability_medical_17">Persistent alcohol problem or dependence</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_18" name="disability_medical" value="drug_problem">
              <label for="disability_medical_18">Persistent drug problem or dependence</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_19" name="disability_medical" value="serious_psychiatric_illness">
              <label for="disability_medical_19">Serious psychiatric illness or mental ill health</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_20" name="disability_medical" value="parkinsons">
              <label for="disability_medical_20">Parkinson's disease</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_21" name="disability_medical" value="narcolepsy">
              <label for="disability_medical_21">Narcolepsy</label>
            </div>

            <div class="multiple-choice">
              <input type="checkbox" id="disability_medical_22" name="disability_medical" value="obstructive_sleep_apnoea">
              <label for="disability_medical_22">Obstructive Sleep apnoea syndrome</label>
            </div>
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
