{% extends "layout_unbranded.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-large">
        Create a password
      </h1>

      <form method="get" name="registration" action="account-activated" id="registration">





        <div class="form-group ">

          <p >It needs to include at least:</p>
          <ul class="list list-bullet">
            <li>8 characters</li>
            <li>a capital letter</li>
            <li>a number</li>
          </ul>
          <label class="form-label" for="email" >
            Password

          </label>

          <input  name="idam_email_address" id="idam_email_address" class="form-control"  type="password" >
        </div>

        <div class="form-group ">
          <label class="form-label" for="email" >
            Confirm password

          </label>
          <input name="email" id="email" class="form-control"  type="password" >
        </div>
         <fieldset>
           <div class="form-group">
                <input type="submit" class="button" value="Continue"/>
              </div>
      </fieldset>
      </form>

    </div>
  </div>
{% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>
{% endblock %}
