{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        View money claim
      </h1>

      <p>Enter the reference from the message we sent you to view the claim.</p>

      <br>

      <div class="form-group">
        <label class="form-label" for="ref">
          Claim reference
          <span class="form-hint">The reference starts with CF</span>
        </label>
        <input class="form-control" id="ref" type="text">
      </div>

      <div class="form-group">
        <label class="form-label" for="code">
          Your access code
          <span class="form-hint">The code is 6 digits long</span>
        </label>
        <input class="form-control" id="code" type="text">
      </div>

      <div class="clearfix">
        <a class="button" href="view-claim" role="button">View claim</a> &nbsp;
      </div>

      <br>
      <a href="https://www.gov.uk/respond-to-court-claim-for-money">What are the response options</a>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Support</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/respond-to-court-claim-for-money">Respond to a court claim for money</a>
            </li>
            <li><a class="external" rel="external"
                   href="https://courttribunalfinder.service.gov.uk/courts/county-court-money-claims-centre-ccmcc"
                   target="_blank">Contact us</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</main>


{% endblock %}

