{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
      <h1 class="heading-large">
        Debts

      </h1>

      <h2 class="heading-medium">Do you have any credit card or loan debts?</h2>

        <form action="court-orders" method="post" class="form">



          <div class="form-group">
            <fieldset>

              <div class="multiple-choice" data-target="yes">
                <input id="radio-repayment" type="radio" name="radio-pay-group" value="Yes">
                <label for="radio-repayment" data-target="repayment-info">Yes</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="yes">


                <!--<a href="" style="float: left" data-alert="This feature is not available in this demo">More about what you can claim</a>-->
                <div id="timeline" class="timeline">
                  <div class="timeline-headings">
                    <div id="timeline-heading-1" class="timeline-column-3">
                      <label class="form-label-bold" for="event-form-control">
                      Type of debt
                      </label>

                    </div>
                    <div id="timeline-heading-2" class="timeline-column-4 ">
                      <label class="form-label-bold" for="date-form-control">
                        Amount
                      </label>
                      <span class="form-hint"> </span>
                    </div>
                  </div>
                  <div class="timeline-rows">
                    <div class="timeline-row">
                      <input class="form-control timeline-column-3" type="text" id="event-form-control" name="timeline-1"
                      value="{{data['timeline-1']}}">
                      <input class="form-control timeline-column-4 fee pound" type="text" id="amount1" name="date-1"
                      value="{{data['date-1']}}">
                    </div>
                    <div class="timeline-row">
                      <input class="form-control timeline-column-3" type="text" id="event-form-control" name="timeline-2"
                      value="{{data['timeline-2']}}">
                      <input class="form-control timeline-column-4 fee pound" type="text" id="amount2" name="date-2"
                      value="{{data['date-2']}}">
                    </div>
                    <div class="timeline-row">
                      <input class="form-control timeline-column-3" type="text" id="event-form-control" name="timeline-3"
                      value="{{data['timeline-3']}}">
                      <input class="form-control timeline-column-4 fee pound" type="text" id="amount3" name="date-3"
                      value="{{data['date-3']}}">
                    </div>
                    <div class="timeline-row">
                      <input class="form-control timeline-column-3" type="text" id="event-form-control" name="timeline-4"
                      value="{{data['timeline-4']}}">
                      <input class="form-control timeline-column-4 fee pound" type="text" id="amount4" name="date-4"
                      value="{{data['date-4']}}">
                    </div>
                  </div>



                </div>



              </div>
              <div class="multiple-choice">
                <input id="radio-no" type="radio" name="radio-pay-group" value="no">
                <label for="radio-no" data-target="no-info">No</label>
              </div>

            </fieldset>
          </div>






          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>

        </form>
      </div>
    </div>
  {% include 'prototypes/prototype-dec-2019/includes/contact.html' %}
</main>
{% endblock %}
