{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        You're confirming you've already paid this money
      </h1>

      <p>We will tell the claimant that you've paid and ask them to close this claim.</p>

      <p>We'll contact you again if they don't accept that you have already paid.</p>

      <h2 class="heading-medium">The claim fee</h2>
      <p>Jan Clark has paid a claim fee of £75 to make this claim. They have a right to claim this back from you. You
        can
        choose to pay them this now and ask them to close the claim. Alternatively they might decide to continue the
        claim to get you to pay the £75 claim fee.

      <h2 class="heading-medium">Confirm that you've paid the money</h2>
      <p>It’s against the law to deliberately give untrue information.</p>

      <fieldset class="statements">
        <div class="option">
          <input name="agreement_statements]"
                 type="hidden" value="No">
          <label for="statements"><input
            class="" type="checkbox" value="Yes"
            name="agreement_statements]"
            id="statements">I confirm that I've already paid Jan Clark
            £1,500</label>
        </div>
      </fieldset>

      <br>

      <a href="" class="button">Confirm and submit response</a>

      <br>
      <br>

      <p>
        <a href="view-claim">Back to claim</a>
      </p>

    </div>
  </div>
</main>


{% endblock %}
