{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->

      <h1 class="heading-large">
        How do you want to try to recover your money?
      </h1>

      <p>You can ask the court to recover the debt for you if {{ partyName( 'defendant' ) }} hasn't paid you on time.</p>

      <div class="panel panel-border-wide">
        <p>You have to pay a fee for each type of recovery. You can apply for as many as you think might get you your money.</p>
      </div>

      <details role="group" class="exit-guidance">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="summary">I don't know much about the defendant's financial situation</span>
        </summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>
            You can ask the court to order the defendant to attend a hearing and find out what they can afford to pay.
          </p>
          <p>
            <strong class="bold-small">How to apply</strong>: Download <a
            href="https://www.gov.uk/government/publications/form-n316-application-for-order-that-debtor-attend-court-for-questioning"
            target="_blank">form
            N316</a> <span class="font-xsmall">(opens in a new window)</span>, complete it and return it to make your
            application.
          </p>
          <p>
            The application costs £110. The court adds this fee to the total
            debt owed to you.
          </p>
          <p>
            <strong class="bold-small">Where to send paper forms</strong><br>
            County Court Money Claims Centre<br>
            PO Box 527<br>
            Salford<br>
            M5 0BY<br>
          </p>
        </div>
      </details>

      <details role="group" class="exit-guidance">
        <summary role="button" aria-controls="details-content-1" aria-expanded="false">
          <span class="summary">I believe the defendant has the money, or items to sell at auction</span>
        </summary>
        <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
          <p>You can ask the court to send bailiffs to collect the money. You'll need to apply for either a warrant of control
            or a writ of control.</p>
            <p>There are differences between a writ and a warrant. You must pay a fee for whichever you choose. If you choose to apply for both you will have to pay two fees.</p>
          <p>
            <strong class="bold-small">Apply for a warrant of control</strong>
          </p>
          <p>A warrant of control instructs a county court enforcement officer, known as a bailiff, to visit the defendant to try to get your money. They have fewer powers than bailiffs that enforce a writ of control, but you won't have to pay an extra fee to cover their costs if they're not able to collect the debt.</p>
            <p>You can only apply for a warrant of control online for a debt of less than £5,000, including both:</p>
            <ul class="list list-bullet">
              <li>your original claim fee</li>
              <li>the fee to issue the warrant, which is £77</li>
            </ul>

          <a class="button" href='chances-of-success'>Apply online</a>

          <fieldset></fieldset>
          <fieldset></fieldset>

          <p>
            <strong class="bold-small">Apply for a writ of control</strong>
          </p>
          <p>If you apply for a writ of control, a high court enforcement officer will visit the defendant to try to get your money.</p>
          <p>High court enforcement officers have greater powers to collect money and items from defendants. However, you will have to pay an extra fee to cover their costs if they're not able to collect the debt.</p>
          <p>You can only apply for a writ of control if the debt is over £600.</p>
          <p>
            <strong class="bold-small">How to apply</strong>: Download a <a
            href=""
            target="_blank">paper form</a><span class="font-xsmall"> (opens in a new window)</span>, complete it and return it to make your
            application.
          </p>
          <p>
            The application costs £66. The court adds this fee to the total
            debt owed to you.
          </p>
          <p>
            <strong class="bold-small">Where to send paper forms</strong><br>
            County Court Money Claims Centre<br>
            PO Box 527<br>
            Salford<br>
            M5 0BY<br>
          </p>
        </div>
      </details>

      <details role="group" class="exit-guidance">
        <summary role="button" aria-controls="details-content-2" aria-expanded="false">
          <span class="summary">I believe the defendant is in paid employment</span>
        </summary>
        <div class="panel panel-border-narrow" id="details-content-2" aria-hidden="true">
          <p>
            You can ask the court to take money from the debtor’s wages to pay the debt. They do this by sending an order to the debtor’s employer.
          </p>
          <p>You should choose a different option if you know {{ partyName( 'defendant' ) }} is self-employed or unemployed.</p>
          <p>
            <strong class="bold-small">How to apply</strong>: Download <a
            href="https://www.gov.uk/government/publications/form-n337-request-for-attachment-of-earnings-order"
            target="_blank">form
            N337</a> <span class="font-xsmall">(opens in a new window)</span>, complete it and return it to make your
            application.
          </p>
          <p>
            The application costs £110. The court adds this fee to the total
            debt owed to you.
          </p>
          <p>
            <strong class="bold-small">Where to send paper forms</strong><br>
            County Court Money Claims Centre<br>
            PO Box 527<br>
            Salford<br>
            M5 0BY<br>
          </p>
        </div>
      </details>

      <details role="group" class="exit-guidance">
        <summary role="button" aria-controls="details-content-3" aria-expanded="false">
          <span class="summary">I believe the defendant has a bank account</span>
        </summary>
        <div class="panel panel-border-narrow" id="details-content-3" aria-hidden="true">
          <p>
            You can ask the court to freeze money in the defendant's bank, building society or business account.
            The court will decide if money from the account can be used to pay the debt.
          </p>
          <p>
            <strong class="bold-small">How to apply</strong>: Download <a
            href="https://www.gov.uk/government/publications/form-n349-application-for-third-party-debt-order"
            target="_blank">form
            N349</a> <span class="font-xsmall">(opens in a new window)</span>, complete it and return it to make your
            application.
          </p>
          <p>
            The application costs £110. The court adds this fee to the total
            debt owed to you.
          </p>
          <p>
            <strong class="bold-small">Where to send paper forms</strong><br>
            County Court Money Claims Centre<br>
            PO Box 527<br>
            Salford<br>
            M5 0BY<br>
          </p>
        </div>
      </details>

      <details role="group" class="exit-guidance">
        <summary role="button" aria-controls="details-content-4" aria-expanded="false">
          <span class="summary">I believe the defendant has property or land</span>
        </summary>
        <div class="panel panel-border-narrow" id="details-content-4" aria-hidden="true">
          <p>
            You can ask the court to charge the defendant's land or property. If the land or property is sold, the debtor must pay this charge before they get their money.
          </p>
          <p>
            <strong class="bold-small">How to apply</strong>: Download <a
            href="https://www.gov.uk/government/publications/form-n379-application-for-charging-order-on-land-cpr-part-73"
            target="_blank">form
            N379</a> <span class="font-xsmall">(opens in a new window)</span>, complete it and return it to make your
            application.
          </p>
          <p>
            The application costs £110. The court adds this fee to the total
            debt owed to you.
          </p>
          <p>
            <strong class="bold-small">Where to send paper forms</strong><br>
            County Court Money Claims Centre<br>
            PO Box 527<br>
            Salford<br>
            M5 0BY<br>
          </p>
        </div>
      </details>


    </div>
  </div>
{% include 'prototypes/prototype-dec-2019/includes/contact.html' %}
</main>
{% endblock %}
