{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/moneyclaims/task_list{{formQuery}}">Learn to drive</a>
      </li>
      <li>
        Learn driving rules
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list#after_you_pass" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Learn driving rules
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Learn driving rules
          </legend>

          <P>You now have a full driving licence, this means you can drive:</P>

          <ul class="list list-bullet">
            <li>by yourself</li>
            <li>with passengers</li>
            <li>on motorways</li>
            <li>a car</li>
            <li>a moped</li>
            <li>a motorbike (provisionally)</li>
            <li>with a trailer (provisionally)</li>
          </ul>

          <p>You can't drive a:</p>

          <ul class="list list-bullet">
            <li>lorry</li>
            <li>bus</li>
            <li>minibus</li>
            <li>vehicles that weigh more than 3,500kg</li>
          </ul>

          <p>Before you start driving, you must:</p>

          <ul class="list list-bullet">
            <li>insure your vehicle</li>
            <li>tax your vehicle</li>
            <li>drive in a safe (MOT'd) vehicle</li>
            <li>check if you need to report a medical condition</li>
          </ul>

          <p>When you're driving, you must:</p>

          <ul class="list list-bullet">
            <li>drive safely by following the The Highway Code</li>
            <li>renew your licence photo every 10 years</li>
            <li>know how penalty points work</li>
          </ul>

          <a href="https://www.gov.uk/view-driving-licence">View or share your driving licence information</a>

          <input type="hidden" name="after_you_pass" value="complete">

        </fieldset>

        <br>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – I've read and understood" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
