{% extends "layout_unbranded.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<style type="text/css">
.letter {
    width: 600px
}
.logo {
    margin:0;
}
.logo img{
 width:25%;
 float: left;
}
.header{
  border-bottom: 1px solid;
  padding: 30px 0 15px 0 ;
}
h1 {
    font-size: 22px;
    line-height: 26px;
    padding-left: 8px;
    display: inline-block;
}
.address {
    float:right;
    font-size:14px
}
.sub-address {
    text-align: left;
}
.address-ccmc {
    float:right
}
.title {
    padding: 20px 0 40px 0;
}
.contact {
    padding-top: 20px
}
#global-header-bar, #global-header, #footer {
    display:none
}
html{
    background:#fff}
</style>
<main id="content" role="main">
   <div class="letter">
     <fieldset class="header">
        <div class="logo">
            <img src="{{ asset_path }}/images/hmcts.png">
        </div>
        <ul class="address">
            <li>County Court Business Centre Online Court</li>
            <li>St. Katharine's House</li>
            <li>21-27 St. Katharine's Street</li>
            <li>Northampton</li>
            <li>Northamptonshire</li>
            <li>NN1 2LH</li>
        </ul>
    </fieldset>
    <fieldset>
        <ul class="address-ccmc">
            <li>Mrs Mary Richards</li>
            <li>24 Acacia drive</li>
            <li>London</li>
            <li>SW1 H9A</li>
        </ul>
    </fieldset>
    <div class="title">
        Dear Mrs Mary Richards,
    </div>
    <div class="letter-content">
        <p>
            We are contacting you because test has made a money claim against you for £136.04. The claim is attached to this letter.
        </p>
        <p class="bold-small contact">
            View and respond to this claim
        </p>
        <p class="contact">The Civil Money Claims service is run by Her Majesty’s Courts & Tribunal Service (HMCTS):</p>
        <ul class="list list-number ">
            <li>Go to www.gov.uk/money-claim</li>
            <li>Enter this claim number: 352MC733</li>
            <li>Enter this security code: 847395</li>
        </ul>
        <p class="">
          If you don't respond on or before <span class="bold">4pm, <span id="Date"></span></span>  you could get a default County Court Judgment (CCJ). This may make it harder to
          get credit, such as a credit card, mobile phone contract or mortgage.
      </p>
      <p class="bold-small contact">
          Get help
      </p>
      <p>
      If you don’t have a computer or can’t use one easily, phone HM Courts & Tribunals Service on 0300 123 7050. HM Courts & Tribunals Service staff will help you respond to the claim.      </p>
      <p class="bold-small contact" >
        HM Courts & Tribunals Service
    </p>
    <ul >
        <li>Telephone: 0300 123 7050</li>
        <li>Monday to Friday, 9am to 5pm</li>
        <li>Find out about call charges: https://www.gov.uk/call-charges</li>
        <li>Email: moneyclaims@hmcts.gsi.gov.uk</li>
    </ul>
</div>
</div>
</main>
{% endblock %}
