{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">



      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've signed the agreement</h1>


      </p>
      <p>
        <a class="font-medium" href='#' style="color: #FFFFFF" download>Download agreement as a PDF</a>
      </p>
    </div>


    <fieldset>
      <h2 class="heading-medium">What happens next</h2>



      {% if data['defendant'] == "defendant" %}
      <p>Jan Clark will also be asked to sign. Once signed the court claim will be put on hold until 11 October 2017 when it will be cancelled.</p>

      {% elseif data['defendant'] == "defendant_signed" %}
      <p>You and the claimant Jan Clark have both signed this agreement. This claim will be closed.</p>

      {% elseif data['defendant'] == "claimant_signed" %}
        <p>The defendant Mary Richards and you have both signed this agreement. This claim will be closed.</p>
      {% else %}

      <p>Mary Richards will also be asked to sign. Once signed this agreement replaces the court claim.</p>



      {% endif %}

      <p> View your claim status on <a href='#'>your money claims account</a>. </p>

      <h2 class="heading-medium">Help and support</h2>
      <p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
        Telephone: 0300 123 7050<br>
      Hours: 9am to 5pm, Monday to Friday</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
    </fieldset>
    <br>
    <a href="#" class="button">Finished</a>
  </div>
</div>
</main>
{% endblock %}
