{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/moneyclaims/questions/eyes/glasses_contact_lenses" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          Can you read a car number plate from 20 metres?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Can you read a car number plate from 20 metres?
          </legend>

          <div class="form-group">

            <div class="multiple-choice">
              <input type="radio" id="read_from_20_meters_1" name="read_from_20_meters" value="yes">
              <label for="read_from_20_meters_1">Yes</label>
            </div>

            <div class="multiple-choice">
              <input type="radio" id="read_from_20_meters_2" name="read_from_20_meters" value="no">
              <label for="read_from_20_meters_2">No</label>
            </div>

            <div class="multiple-choice">
              <input type="radio" id="read_from_20_meters_3" name="read_from_20_meters" value="not sure">
              <label for="read_from_20_meters_3">Not sure</label>
            </div>
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
