{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <h1 class="heading-large">
    <span class="heading-secondary">TC/2012/00001</span>
    Brian Griffin vs HM Revenue &amp; Customs
  </h1>
  <p class="lede">
    There are currently no outstanding fees on your case.
  </p>

  <p>
    This could be for a number of different reasons:
  </p>
  <ul class="list list-bullet">
    <li>There are no fees due.</li>
    <li>You’ve already paid.</li>
    <li>You have missed the deadline to pay.</li>
  </ul>

  <p>
    <a href="https://www.gov.uk/courts-tribunals/first-tier-tribunal-tax" target="_blank" rel="external">Contact the tribunal</a>
    if you believe there should be an outstanding fee.

  </p>
  <p>
    <a class="link-back" href="/case_requests">Find another case</a>
  </p>

</main>

{% endblock %}


