{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <h1 class="heading-large">Find your case</h1>
  <p class="lede">
    Enter your case details from the letter the tribunal sent you.
  </p>

  <form>
    <div class="form-group">
      <label class="form-label" for="forms_new_case_request_case_reference">Case Reference<span class="form-hint">e.g. TC/2012/00001</span></label>
      <input class="form-control" type="text" name="forms_new_case_request[case_reference]" id="forms_new_case_request_case_reference" />
    </div>
    <div class="form-group">
      <label class="form-label" for="forms_new_case_request_confirmation_code">Confirmation Code<span class="form-hint">e.g. ABC123</span></label>
      <input class="form-control" type="text" name="forms_new_case_request[confirmation_code]" id="forms_new_case_request_confirmation_code" />
    </div>
    <a href="/case_nothing_to_pay" class="button">Find Case</a>
  </form>

  <details class="find-case-help">
    <summary><span class="summary">Don’t know your details?</span></summary>
    <div class="panel panel-border-narrow">
      <p>
        You will find your case reference and confirmation code on the letter
  the tribunal sent you.
      </p>
    </div>
  </details>

</main>

{% endblock %}


