{% extends "layout_task-list.html" %}
{% block page_title %} Task list {% endblock %}

{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
        <h1 class="heading-large">
          Sorry, this service is temporarily unavailable
        </h1>

        <p>We're making important upgrades to this service.</p>
        <p>It should be back online by [date].</p>

        <h2 class="heading-medium">If you are responding to a claim</h2>

        <p>If your deadline to respond is on or after [date], you should come back to make your response when the service is back online.</p>

        <p>If your deadline is before [date], please send an email to moneyclaims@justice.gov.uk and include:</p>

        <ul class="list-bullet">
          <li>the claim number, in the subject line of the email</li>
          <li>your response to the claim, including any reasons you dispute it</li>
          <li>details of any evidence you have to support your response</li>
        </ul>

        <p>We'll send you an email to confirm we've received your response.</p>
<!--
        <p><h3 class="heading-medium">Contact us</h3></p>

        <div>
          <span><span class="bold">Money Claims</span><br>
            Email: <a href="">moneyclaims@justice.gov.uk</a><br>
            Telephone: 0300 123 7050<br>
            Monday to Friday, 9am to 5pm<br>
            <a href="https://www.gov.uk/call-charges">Find out about call charges</a> <span class="font-xsmall">(opens in a new window)</span><br>
          </p>
        </div> -->







    </div>

    </div>
  </div>
{% include 'prototypes/prototype-nov-2019/includes/contact.html' %}
</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}
