{% extends "layout_task-list.html" %}
{% block page_title %} Task list {% endblock %}

{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
        <h1 class="heading-large">
          You don't have permission to access this page
        </h1>

        <p>You can go back to your account to start again. Contact us if you keep seeing this message.</p>

        <p><h3 class="heading-medium">Contact us</h3></p>

        {% import 'prototypes/prototype-nov-2019/includes/contact-in-page.html' as contact %}
        {{ contact.output('small') }}

    </div>

    </div>
  </div>

</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}
