{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        Apply to cancel the CCJ
      </h1>
      <p class=""></p>



      <form action="set-aside" method="get" class="form">

        <p>You'll have to pay a court fee of £255. If you're on a low income you can get <a href="https://www.gov.uk/get-help-with-court-fees">help with fees.</a></p>

        <p>You'll need to explain why you couldn't respond. You may need to go to a hearing.</p>

        <h3 class="heading-medium">If your application is successful</h3>
        <p>Your CCJ will be removed from public records. In most cases you'll still have to respond to the claim.</p>

        <p>The judge might ask the claimant to refund your fee of £255.</p>

        <h3 class="heading-medium">If your application is unsuccessful</h3>
        <p>You might have to pay the claimant's costs if it goes to a hearing. The CCJ will stay on the register for 6 years.</p>
    </div>
  </div>



  <div class="form-group">
    <input type="submit" class="button" value="Continue" />
  </div>
  </form>
  </div>
  </div>
</main>
{% endblock %}
