{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        Apply to cancel the CCJ
      </h1>
      <p class=""></p>



          <form action="set-aside" method="get" class="form">

            <p>You'll have to pay a court fee of £255. This might be refunded if your application is successful. </p>
            <p>You'll need to explain why you weren't able to respond. You may need to go to a hearing.</p>
            <p>If your application is rejected at a hearing you'll need to pay the claimant's costs. For example their travel costs or loss of earnings.</p>
            <div class="panel panel-border-wide"
            <p>If approved the CCJ will be removed from public records. In most cases you'll then still need to respond to the claim.</p>
          </div>


        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
