{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        How much and when did you pay?
      </h1>
      <p class=""></p>

      <form method="get" action="s-c-process" class="form">



      <div class="form-group">
            <fieldset>
              <legend class="visually-hidden">Defence</legend>
              <div id="claim-details">
                <div id="describe-wrapper-claim-details-1" class="form-group">

                  <h3 class="heading-small">How much you paid</h3>
                  <div class="form-group">
                    <input class="fee pound" maxlength="8" size="8" type="text" value="" name="amount-paid" id="amount-paid">
                  </div>
                  <div class="form-group">
                    <h3 class="heading-small">When you paid</h3>

                    <fieldset>
                      <div class="form-date">
                        <p class="form-hint">For example, 12 12 2017</p>
                        <div class="form-group form-group-day">
                          <label for="dob-day">Day</label>
                          <input class="form-control" id="set-day" name="set-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{data['set-day']}}" >
                        </div>
                        <div class="form-group form-group-month">
                          <label for="dob-month">Month</label>
                          <input class="form-control" id="set-month" name="set-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{data['set-month']}}">
                        </div>
                        <div class="form-group form-group-year">
                          <label for="dob-year">Year</label>
                          <input class="form-control" id="set-year" name="set-year" type="number" pattern="[0-9]*" min="0" max="2024" value="{{data['set-year']}}">
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="form-group">
                    <label class="form-label-bold" for="offer">


                      How you paid Jan Clark

                    </label>
                    <textarea class="form-control form-control-3-4 form-control-large" id="owe-reason" rows="4" name="owe-reason" cols="40" type="text" style="width: 95%"></textarea>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="form-group">
              <input id="advert-option-next--button" type="submit" value="Save and continue" class="button" data-ignore-double-submit="true">
            </div>
          </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
