{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers for this task
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Read rules
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Read and understood rules:
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

<!--   <div class="form-group">
    <a href="/transport_goods/task_list/give_public_notice/reason{{formQuery}}" class="button">Continue to next task:  
              {% if data.transport_manager %}
                hire or train transport manager
              {% else %}
                tell the public about your application
              {% endif %}
    </a>
  </div> -->

  <a href="/transport_goods/task_list{{formQuery}}">Return to task list</a>

</main>

{% endblock %}
