{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Create an account
      </h1>

      <p>We'll use the email address you've given us:</p>

      
      <p class="bold">youremail@gmail.com </p>

      <br>

      <fieldset>
        <div class="form-field-group">
          <label class="bold">
            Create a password
            <span
              class="form-hint">Must be at least 8 characters, including:<br>
             <li>at least 1 letter</li>
             <li>at least 1 number or symbol - such as &, £ or *</li></ul></span>
            <input type="password"
                   name="password"
                   id="password"
                   class="form-control form-control--block input--small js-form-hint-helper"
                   aria-required="true"
                   minlength="8"
                   maxlength="35"
                   required
                   pattern="^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{8,12}$"
                   data-hint-rules="js-hint-password-rule"
                   data-msg-pattern="Please use at least one letter (a-z) and number (0-9)"
                   data-msg-required="Please enter a password"
                   data-msg-minlength="Please enter 8 or more characters"
                   data-msg-maxlength="Please enter less than 12 characters"/>
          </label>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-field-group">
          <label class="bold">
            Re-enter your password
            <span
              class="form-hint"></span>
            <input type="password"
                   name="password"
                   id="password"
                   class="form-control form-control--block input--small js-form-hint-helper"
                   aria-required="true"
                   minlength="8"
                   maxlength="35"
                   required
                   pattern="^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{8,12}$"
                   data-hint-rules="js-hint-password-rule"
                   data-msg-pattern="Please use at least one letter (a-z) and number (0-9)"
                   data-msg-required="Please enter a password"
                   data-msg-minlength="Please enter 8 or more characters"
                   data-msg-maxlength="Please enter less than 12 characters"/>
          </label>
        </div>
      </fieldset>

      </form>

      <div class="clearfix">
        <a class="button" href="account-activated" role="button">Continue</a> &nbsp;
      </div>

    </div>
    </form>
  </div>
  </div>
</main>


{% endblock %}
