{% extends "layout_unbranded.html" %}
{% block proposition_header %}
{% include "includes/propositional_navigation_no_login.html" %}
{% endblock %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">You can't make a counterclaim using this service</h1>


      <p>You need to use a paper form if you want <a href="https://www.gov.uk/get-help-with-court-fees">help paying your counterclaim fee.</a></p>

      <p>You can either:</p>
      <ul class="list-bullet list">
        <li><a href="../../task-list?counter=NOT-PROCEED">continue online without making a counterclaim</a></li>
        <li><a href="../../task-list">continue online and pay the counterclaim fee yourself</a></li>
        <li><a>submit your response and counterclaim on paper</li>
      </ul>

      <p>If you continue online, you would not be able to submit a counterclaim separately, you'd have to create a new claim.</p>

        <h2 class="heading-medium">To respond and counterclaim on paper</h2>

        <p><a target="_blank" href='https://www.gov.uk/government/publications/form-n9b-defence-counterclaim-specified-amount'>Download a paper form</a> <i>(Is this the right form?)</i><span class="font-xsmall">(opens in a new window)</span>, complete it and send it to:</p>
      <p>County Court Money Claims Centre<br>
        PO Box 527<br>
        Salford<br>
        M5 0BY<br>
        <i>(Is this the right address, or the Northampton one?)</i>
      </p>

    </div>
  </div>
{% include 'prototypes/prototype-nov-2018/includes/contact.html' %}
</main>
{% endblock %}
