{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <!--<div class="breadcrumbs">-->
    <!--<ol>-->
      <!--<li><a href="../review-agreement">Agreement overview</a></li>-->
      <!--</ol>-->
      <!--</div>-->
      <div class="grid-row">
        <div class="column-two-thirds">
          <a href="#" class="link-back">Back</a>
          <h1 class="heading-large">Before you sign the agreement</h1>
          <p></p>This is a legal agreement.  You should be happy with the details before you sign it.</h2>
          <p>If you're unsure about any of the details, get advice from people you know or an organisation like <a href=https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/search-for-your-local-citizens-advice/">Citizens Advice</a>.</p>
          <h2 class="heading-medium" >Check the details</h2>
          <p>This agreement is based on the information you and the other side have discussed and agreed on. It has not been reviewed by the court.</p>
          <h2 class="heading-medium" >What happens if you sign</h2>
          <p>If both parties sign the agreement then the claim on hold is put on hold. The court won’t do anything more about this claim after this agreement is signed by both parties. This is known as ‘a stay’.</p>
          <p>If neither you or the other side contacts the court by 11 October 2017 the claim will be cancelled.</p>
          <h2 class="heading-medium" >Once signed it's confidential</h2>
          <p>Don’t tell anyone about this agreement after you’ve signed it. You must keep this information confidential.</p>
          <p>You can ask people for advice before you sign it though.</p>
          <h2 class="heading-medium" >If you break the agreement</h2>
          <p class="">If you break the agreement then the claimant can ask the court to either:</p>
          <ul class="list list-bullet">
            <li class="">make a judgment against you for any money still owed under this agreement</li>
            <li class="">restart the original claim for the full amount and arrange a hearing</li>
          </ul>
          <div class="panel panel-border-wide">
            <p>Continue to view and sign the agreement. </p>
          </div>
          <a href="agreement/offer" class="button">Continue</a>
        </div>
      </div>
    </main>
    {% endblock %}
