{% extends "layout.html" %} {% block page_title %} Apply to for provisional licence {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/driving/task_list{{formQuery}}">Learn to drive</a>
      </li>
      <li>
        Apply for provisional licence
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list#apply_for_provisional" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Apply for provisional licence
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Apply for provisional licence
          </legend>

          <p class="cost-and-time">
            Cost: <span class="bold">£34</span><br>
            Time: <span class="bold">
              {% if data.disability_medical=="yes" or data.mobility_need=="yes" %}
                2 month wait
              {% else %}
                3 week wait
              {% endif %}
            </span>
          </p>

          <p id="reason_for_task">To learn to drive on UK roads you must first have a provisional driving licence</p>

          <p>To apply for a provisional licence:</p>

          <ol class="list list-number">
            <li>have <a href="https://www.gov.uk/id-for-driving-licence">identity documents</a></li>
            <li><a href="https://www.gov.uk/apply-first-provisional-driving-licence">apply online</a></li>
            <li>wait for licence to arrive in the post</li>
          </ol>

          <input type="hidden" name="apply_for_provisional" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – I've got my provisional licence" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}