{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Briefly explain why you can't pay immediately
      </h1>
      <br>
          <form action="../../../task-list" method="post" class="form">


          <fieldset>
            <div id="claim-details">
              <div id="describe-wrapper-claim-details-1" class="form-group">

                <textarea class="form-control"
                id="non-payment-reason"
                rows="3"
                name="non-payment-reason"
                type="text"
                style="width: 90%">{{data['non-payment-reason']}}</textarea>
              </div>
            </div>
          </fieldset>


          {% if data.vary == 'true' %}
              <div class="form-group">
                <p><a class="button" href="../../check-and-send">Continue</a></p>
              </div>

          {% else %}
              <div class="form-group">
                <input type="submit" class="button" value="Save and continue"/>
              </div>

          {% endif %}


        </form>
      </div>
    </div>
  {% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
