{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Apply to vary the CCJ
      </h1>
      <form action="../reasons-not-respond-to-claim/date-ccj" method="get" class="form">
        <p>You can apply to reduce the repayment plan on the CCJ if you can't afford the repayment amounts.</p>

        <p>You'll need to give details of your income and spending and state how much you can realistically afford to pay.</p>

        <p>If your offer is rejected, the court will decide on the amount you have to pay.</p>

        <p>You'll have to pay a court fee of £50. If you're on a low income you can get <a href="https://www.gov.uk/get-help-with-court-fees">help with fees</a>.</p>

      <div class="form-group">
        <input type="submit" class="button" value="Continue" />
      </div>
    </form>
  </div>
</div>
{% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
