{% extends "layout_task-list.html" %}
{% block page_title %} Task list {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="/public/stylesheets/dm_list.css"/>{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
        <h1 class="heading-large">
          Respond to a money claim
        </h1>
        <table id="table-of-tasks">
          <thead>
            <tr>
              <th scope="col" id="col-task">
                <span class="task-group">
                  <span class="group-number" id="task-number"></span>
                  Before you start
                </span>
                <th class="numeric" id="task-status" scope="col" id="col-status">
                  <span type="hidden" class="visually-hidden">task status</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% if data.counterclaim=="true" %}
              {%else%}
              <tr id="read-rules">
                <td class="task">
                  <a href="task-list/your-details{{formQuery}}">
                    <span class="task-name"> Confirm your details </span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.confirm_details=="complete" %}
                  {% include "includes/task_status_finished.html" %}
                  {% endif %}
                </td>
              </tr>
              {% endif %}
              <tr id="read-rules">
                <td class="task">
                  <a href="task-list/more-time-to-respond{{formQuery}}">
                    <span class="task-name">Do you want more time to respond?</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.more_time_to_respond=="complete" %}
                  {% include "includes/task_status_finished.html" %}
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <table id="table-of-tasks">
            <thead>
              <tr>
                <th scope="col" id="col-task">
                  <span class="task-group">
                    <span class="group-number" id="task-number"></span>
                    Respond to claim
                  </span>
                </th>
                <th class="numeric" id="task-status" scope="col" id="col-status"></th>
              </tr>
            </thead>
            <tbody>
              <tr id="completing-your-claim">
                <td class="task">
                  <a href="task-list/do-you-owe-money{{formQuery}}">
                    <span class="task-name">Choose a response</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.do_you_owe_money=="complete" %}
                  {% include "includes/task_status_finished.html" %}
                  {% endif %}
                </td>
              </tr>
              {% if data.radio_select_group2=="defend_now" and data.do_you_owe_money=="complete" and data.radio_select_group!="Some" and data.radio_select_group!="all"%}
              <tr id="their-details">
                <td class="task">
                  <a href="task-list/your-defence/defence-1{{formQuery}}">
                    <span class="task-name"> Why do you disagree with the claim?</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.your_defence=="complete" %}
                  {% include "includes/task_status_finished.html" %}
                  {% endif %}
                </td>
              </tr>
              <tr id="their-details">
                <td class="task">
                  <a href="task-list/mediation{{formQuery}}">
                    <span class="task-name">Free mediation</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.mediation=="complete" %}
                  {% include "includes/task_status_finished.html" %}
                  {% endif %}
                </td>
              </tr>

              {% elseif data.radio_select_group2=="amount_claimed" and data.do_you_owe_money=="complete" and data.radio_select_group!="Some" and data.radio_select_group!="all"%}
              <tr id="their-details">
                <td class="task">
                  <a href="task-list/your-defence/paid-amount{{formQuery}}">
                    <span class="task-name"> When did you pay?</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.your_defence=="complete" %}
                  {% include "includes/task_status_finished.html" %}
                  {% endif %}
                </td>
              </tr>

              {% elseif data.radio_select_group=="Some" and data.do_you_owe_money=="complete" and data.radio_select_group2=="defend_now" %}
              <tr id="their-details">
                <td class="task">
                  <a href="task-list/your-defence{{formQuery}}">
                    <span class="task-name"> Your response to the claim</span>
                  </a>
                </td>
                <td class="numeric" id="task-status" scope="col" id="col-status">
                  {% if data.your_defence=="complete" %}
                  {% include "includes/task_status_finished.html" %}
                  {% endif %}
                </td>
              </tr>




              {% endif %}
            </tbody>
          </table>
          <br>
          <br>


          {% if data.radio_select_group2=="defend_now" or data.radio_select_group2=="amount_claimed"  %}

            <table id="table-of-tasks">
              <thead>
                <tr>
                  <th scope="col" id="col-task">
                    <span class="task-group">
                      <span class="group-number" id="task-number"></span>
                      Submit
                    </span>
                  </th>
                  <th class="numeric" id="task-status" scope="col" id="col-status"></th>
                </tr>
              </thead>
              <tbody>
                <tr id="check-and-send">
              <td>
               <a href="task-list/check-and-send">
                 <span class="task-name"> Check and submit your response</span>
               </a>
             </td>
          </tr>
        </tbody>
      </table>
     {% elseif data.radio_select_group=="all" or data.radio_select_group=="defend_now_cc" or data.radio_select_group=="Some" or data.radio_select_group=="amount_less_claimed" %}
  <table id="table-of-tasks">
              <thead>
                <tr>
                  <th scope="col" id="col-task">
                    <span class="task-group">
                      <span class="group-number" id="task-number"></span>
                      Complete response on paper
                    </span>
                  </th>
                  <th class="numeric" id="task-status" scope="col" id="col-status"></th>
                </tr>
              </thead>
              <tbody>
                <tr id="check-and-send">
              <td>
               <a href="task-list/forms">
                 <span class="task-name">Complete form</span>
               </a>
             </td>
          </tr>
        </tbody>
      </table>


      {% endif %}


    </div>
    <div class="column-one-third">
      <ul class="actions">
      </ul>
      <br>
      <div class="meta-data">
        <ul role="navigation" class="font-xsmall list">
          {% if data.more_time_to_respond!="complete" or data.radio_select_group_time=="No"%}
          <li><strong class="bold">Response deadline:</strong> <br><span id="Date"></span> before 4pm<br> (19 days remaining)</li>
          {% elseif data.more_time_to_respond=="complete" and data.radio_select_group_time=="Yes" %}
          <li><strong class="bold">Response deadline:</strong> <br><span id="Date3"></span> before 4pm<br> (33 days remaining)</li>
          {% else %}
          <li><strong class="bold">Response deadline:</strong> <br><span id="Date"></span> before 4pm<br> (19 days remaining)</li>
          {% endif %}
          <li><strong class="bold">Claim reference:</strong><br> 352MC733</li>
          <li>
          {% if data.counterclaim=="true" %}
          <div class="bold">Claim details:</div>£3,240.3 <br> <a href='task-list/view-claim'>View claim</a></li>
          {%else%}
          <li><div class="bold">Total claim amount:</div>£1,500.00
          {% endif %}
           <br> <a href='task-list/view-claim'>View claim</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}
