{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've deleted your draft claim</h1>
        <br>
        <p class="">
          Defendant: <strong class="bold">Mary Richards</strong><br>
          Claim amount: <strong class="bold">£1,500</strong>
        </p>
        <p>
          <strong class="bold">{{ now | date }}</strong>
        </p>
        </p>
      </div>

      <!-- Draft claim deleted -->
      <p>You can go to your account and make a new claim.</p>

      <p><a class="button" href='../home?dashboard=Claimant%20view'>Go to your account</a></p>

    </div>
  </div>
{% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>

{% endblock %}