{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        How mediation works
      </h1>

      <!--<p>The mediation service will contact you and Jan Clark to arrange an appointment with a mediator.</p>-->

      <h3 class="heading-medium">A mediator phones you</h3>

      <p>If both you and Mary Richards agree to try mediation, we'll contact you to arrange a phone call with a
        mediator.</p>

      <p>The call won't take longer than an hour.</p>

      <h3 class="heading-medium">You discuss the claim</h3>

      <p>The mediator will:</p>
      <ul class="list list-bullet">
        <li>listen to each side separately - you won’t talk directly to the other side</li>
        <li>ask you to consider what the other side says - they won't make you compromise</li>
        <li>help you reach an agreement, if possible</li>
      </ul>

      <h3 class="heading-medium">After the phone call</h3>

      <p>If mediation is successful we'll ask you to sign a legal agreement that formalises what you agreed.</p>

      <p>If either party breaks the agreement's terms, the other party can apply to the court to enforce them.</p>

      <p>If mediation fails and a hearing is needed, any mediation discussions can't be mentioned in court.</p>

      <form method="post" action="statements-all" class="form">
        <input type="hidden" name="mediation" value="complete">

        <h1 class="heading-medium">
          Will you try mediation?
        </h1>

        <input id="your-offer" name="offer" type="hidden">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Will you try mediation?</legend>

            <div class="multiple-choice" data-target="mediation-confirm">
              <input id="radio-yes" type="radio" name="radio-mediation-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Yes</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="mediation-confirm">
              <label class="form-label" for="rate">We'll ask the claimant if they'll try free mediation. If they say no,
                the claim will go to a hearing.</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-mediation-group" value="No">
              <label for="radio-no" data-target="no-info">No</label>
            </div>


          </fieldset>
          <input type="hidden" name="mediation" value="complete">


          <div class="form-group">
            <input type="submit" class="button" value="Save and continue"/>
          </div>

        </div>
      </form>
      <!--<div class="form-group">-->
      <!--<a class="button" href="try-mediation">Continue</a>-->
      <!--</div>-->

    </div>
  </div>
  <fieldset></fieldset>
  {% include 'prototypes/prototype-nov-2018/includes/contact.html' %}
</main>
{% endblock %}
