{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Offer sent to Jan Clark
            </h1>

            <fieldset>
                <p>We've emailed Jan Clark your offer of payment.</p>

                <h2 class="heading-medium">What happens next</h2>
                <p>Jan Clark can accept or reject your offer. We'll update you by email
                    and SMS if this happens.</p>
                <p>We'll contact you <span class="bold">in 5 days</span> and explain what to do if Jan Clark doesn't
                    reply.</p>

            </fieldset>

            <p>We've emailed you this confirmation. <a href="#">Print this page</a></p>
        </div>
    </div>
</main>


{% endblock %}

