{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('offer'));
    });
  </script>

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <!--<div class="column-two-thirds">-->

    <div class="govuk-box-highlight">
      <h1 class="bold-large">Response sent to claimant</h1>
      <br>
      <p>
        <strong class="bold"><span id="Date2"></span></strong>
      </p>
            </p>
<!--             <p>
                <a href="../../../public/images/p14/CF91-BK65.pdf" style="color: #FFFFFF" download>Download defence as pdf</a>
      </p> -->
    </div>
    <p>We've emailed Jan Clark stating that you've paid and also asking them to close this claim.</p>
        <p>We've also sent a copy to: <span class="bold">maryrichards@hotmail.com</span></p>


    <!--<p class="heading-medium">Your defence</p>-->

    <!--<div class="clearfix">-->
    <!--<div id="yourOfferContent" class="callout callout-fee">-->

    <!--</div>-->
    <!--</div>-->

    <fieldset>
      <!-- <p>We've sent your defence to Jan Clark and the court.</p> -->

      <h2 class="heading-medium">What happens next</h2>
     <p>We'll contact you if they don't accept that you have already paid.</p>
      
      <h2 class="heading-medium">The claim fee</h2>
     <p>The claimant paid a fee of £75 to make this claim. They have a right to claim this back from you.</p>
     <p>You can choose to pay them this money now. If you don't they might continue the claim to get you to pay the fee.</p>

     

      <h2 class="heading-medium">Help and support</h2>
       <p>Email: moneyclaims@hmcts.gsi.gov.uk<br>
      Telephone: 0300 123 1057<br>
      Textphone: 0300 144 2122<br>
      Hours: 9am to 5pm, Monday to Friday</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

    </fieldset>
<br>
<a href="http://www.smartsurvey.co.uk/s/CMCMVPT1/" class="button">Finished</a>
  </div>
  </div>
</main>


{% endblock %}
