{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Your suggestion
      </h1>

      <p>You can suggest them to pay by installments or pay by a set date.</p>

      <div class="panel panel-border-wide">
        <p>Mary Richards can choose to accept or reject your suggestion.</p>
      </div>

      <h1 class="heading-medium">
        What do you suggest?
      </h1>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="conditionalNavigation('radio-indent-group', 'Yes', 'repayment-plan', '');return false;"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">What do you want to do?</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">Pay by installments</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">Pay by a set date</label>
            </div>

            <!--
            <div class="multiple-choice">
              <input id="radio-alternative" type="radio" name="radio-indent-group" value="No">
              <label for="radio-alternative" data-target="alternative-info">Offer an alternative</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="alternative-info">
                <div id="describe-wrapper-claim-details-1" class="form-group">
                    <label class="form-label-bold" for="offer">
                        Your offer
                        <span class="form-hint">For example you might blar blar blar ...</span>
                    </label>
                    <textarea class="form-control"
                              id="offer"
                              rows="3"
                              name="offer"
                              type="text"
                              style="width: 60%"></textarea>
                </div>
            </div> -->

          </fieldset>

          <input id="advert-option-next--button" type="submit" value="Continue" class="button"
                 data-ignore-double-submit="true">
      </form>

    </div>
  </div>
</main>


{% endblock %}
