{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">Your agreement</h1>
      <p >This agreement is a draft until you both sign. What you agree here is legally
      binding.</P>
      <br>
      <table class="offer-table">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The offer</td>


            {% if data['defendant'] == "defendant" %}

            {% endif %}


            <td>Mary Richards: I will fix the roof if you'll give me access and pay for any extra materials.
            </td>
          </tr>
          <tr>
            <td>By when</td>
            <td>1 December 2018</td>
          </tr>
        </tbody>
      </table>
      <h2 class="heading-medium">Declaration</h2>
      <div class="form-group">
        <div class="multiple-choice text">
          <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
          <label for="HasAcceptedTermsAndConditions"> By signing this you confirm that you accept the terms of the agreement.</label>
        </div>
      </div>
      <a href="confirmation-page" class="button">Sign and submit</a>
      <fieldset></fieldset>
    </div>
  </div>
{% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
