{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Your offer has been sent to the claimant  
      </h1>

      <p >We'll email the claimant Jan Clark confirming the offer.</p>
      <p >The claimant can accept your suggestion, reject it or suggest an alternative. If they accept you can settle the claim and won’t go to a hearing.</p>
      <p class="panel">You still need to submit your response to this claim by <span class="dates"></span>.</p>

      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}        
      <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">
        {% else %}
        <form
        name="aspnetForm"
        action="../../task-list"
        method="get"
        id="aspnetForm"
        autocomplete="off">   
        {% endif %}
        <p class="actions">
          <input type="hidden" name="more_time_to_respond" value="complete">
          <input id="advert-option-next--button" type="submit" value="Continue" class="button"
          data-ignore-double-submit="true">
        </p>
      </form>
    </div>
  </div>
</main>
{% endblock %}
