{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="#" class="link-back">Back</a>

  <header class="main-header" role="banner">
    <div class="page-trail">
      <span class="page-number">Page 11 of 15</span>
      <span class="page-title">Check your claim</span>
    </div>
  </header>

  <fieldset></fieldset>

  <!--<h1 class="heading-xlarge">-->
    <!--Check your claim-->
  <!--</h1>-->

  <div class="callout callout-reference"><p>Application fee</p><span
  class="number">£ 70</span>
    <fieldset></fieldset>
  <p>You’ll have to pay an extra fee of
    <strong class="bold-small">£115</strong> if your claim goes to a hearing. You might be able to claim this from the defendant if you win.
  </div>

  <table class="check-your-answers">

    <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
          Your claim
        </h2>
      </th>
      <th>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        Claim amount &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </td>
      <td>
        £1,500
      </td>
      <td class="change-answer">
        <a href="claim-amount">
          Change <span class="visuallyhidden">Claim amount</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Your details &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </td>
      <td>
        Jan Clark<br>
        12 Nelson Road<br>
        Reading<br>
        RG1 1AA<br>
        Tel: 07757 738 459<br>
        Email: jan65@gmail.com
      </td>
      <td class="change-answer">
        <a href="details-claimant-2">
          Change <span class="visuallyhidden">Claimant details</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Their details &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </td>
      <td>
        Mary Richards<br>
        101 Regent Road<br>
        Shiplake<br>
        RG9 4BW<br>
        Tel: 01234 567 890<br>
        Email: maryrichards@hotmail.com
      </td>
      <td class="change-answer">
        <a href="details-defendant">
          Change <span class="visuallyhidden">Respondent details</span>
        </a>
      </td>
    </tr>
    <!--<tr>-->
    <!--<td>-->
    <!--Your claim &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-->
    <!--</td>-->
    <!--<td>-->
    <!--Money owed by Mary Richards due to substandard buildings work <br> from 01/07/2016-->
    <!--</td>-->
    <!--<td class="change-answer">-->
    <!--<a href="claim-type">-->
    <!--Change <span class="visuallyhidden">Claim summary</span>-->
    <!--</a>-->
    <!--</td>-->
    <!--</tr>-->
    <tr>
      <td>
        Claim details &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </td>
      <td>
        <span class="bold">Why you believe you're owed the money</span><br>
        I contacted Mary Richards to discuss building works on our roof.<br>
        The work on the roof was completed but I noticed that there was a problem with one section.<br>
        I asked Mary Richards to get the problem fixed.<br>
        <br>


      </td>
      <td class="change-answer">
        <a href="claim-details-hybrid">
          Change <span class="visuallyhidden">Claim details</span>
        </a>
      </td>
    </tr>
    <!--<tr>
      <td>
        Claim amount &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </td>
      <td>
        £1,500 plus 8% interest
      </td>
      <td class="change-answer">
        <a href="costs-breakdown">
          Change <span class="visuallyhidden">Claim amount</span>
        </a>
      </td>
    </tr>-->
    </tbody>
  </table>

  <h2 class="heading-medium">Statement of truth</h2>

  <p class="text">
    By submitting this claim you confirm that, to the best of your knowledge, the details you have provided are
    correct.</p>
  <p>It's an offence to deliberately give false information.</p>


  <div class="form-group"><a name="hasacceptedtermsandconditions"></a>

  <div class="multiple-choice">
    <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions"
           data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions"
           name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
   <label for="HasAcceptedTermsAndConditions">I accept the
     <a href="#" target="_blank" onclick="Webtrends.multiTrack({ element: this, argsa: [&#39;DCS.dcsuri&#39;, &#39;/register/readterms&#39;, &#39;WT.dl&#39;, &#39;99&#39;, &#39;WT.ti&#39;, &#39;Read Terms and Conditions&#39;] });">terms and conditions</a>
   </label>
  </div>

    <span class="field-validation-valid"
          data-valmsg-for="HasAcceptedTermsAndConditions"
          data-valmsg-replace="true" aria-live="polite"></span></div>


  <a href="payment-methods" class="button">Continue to payment</a>


</main>


{% endblock %}
