{% extends "layout.html" %}

{% from '../includes/addressInput.html' import addressInput %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Page 7 of 15</span>
          <span class="page-title">Their details</span>
        </div>
      </header>

      <fieldset></fieldset>

      <!--<h1 class="heading-xlarge">-->
        <!--Their details-->
      <!--</h1>-->

      <p class="lede">Give the details of the person or company that owes you money.</p>

      <div class="panel panel-border-wide">Your claim could be
      cancelled if you claim against the wrong person. <a href="#">Check who legally owes you
      the money</a>.
      </div>

      </fieldset>

      <h2 class="heading-medium">Are you claiming against a company?</h2>

      <form>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden">Are you claiming against a company?)</legend>

            <div class="multiple-choice">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
              <label for="radio-inline-1" data-target="yes-info">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
              <label for="radio-inline-2" data-target="no-info">No</label>
            </div>

            <div id="yes-info">

              <div class="panel panel-border-narrow js-hidden">
                <p>You should make sure you have the full, registered name of the company. You can check the name on
                  your receipt, invoice or contract to make sure the name you provide is correct.</p>
              </div>

              <fieldset></fieldset>

              <div class="input form-group string required claimant_first_name"><label
                class="string required form-label" for="">Company name</label><input
                class="string required form-control" type="text"
                name="claimant[first_name]" id=""></div>

              {{ addressInput() }}

              <div class="input form-group email optional claimant_email_address"><label
                class="email optional form-label" for="">Email address
              </label><input class="string email optional form-control" type="email"
                             name="claimant[email_address]" id="">
              </div>

            </div>

            <!-- <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
              <label for="radio-inline-2" data-target="no-info">No</label
            </div> -->


            <div class="js-hidden" id="no-info">

              <!--<div class="panel panel-border-narrow">-->
                <!--<p>If the individual is trading under another name, you must enter his or her full name under which he-->
                  <!--or she is trading - eg John Smith Design.</p>-->
              <!--</div>-->

              <fieldset></fieldset>

              <div class="input form-group string required claimant_first_name"><label
                class="string required form-label" for="">Full name of person you're claiming against</label><span class="form-hint">
    Include all middle names
  </span><input class="string required form-control" type="text"
                name="claimant[first_name]" id=""></div>

              <!--<div class="input form-group string required claimant_last_name"><label-->
              <!--class="string required form-label" for="">Last name</label><input-->
              <!--class="string required form-control" type="text"-->
              <!--name="claimant[last_name]" id=""></div>-->

              {{ addressInput() }}

              <div class="input form-group email optional claimant_email_address"><label
                class="email optional form-label" for="">Email address
              </label><input class="string email optional form-control" type="email"
                             name="claimant[email_address]" id="">
              </div>

            </div>

          </fieldset>

          <a class="button" href="claim-summary" role="button">Continue</a>

        </div>
      </form>
    </div>
  </div>
</main>


{% endblock %}
