{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Page 5 of 15</span>
          <span class="page-title">Completing your claim</span>
        </div>
      </header>

      <fieldset></fieldset>

      <!--<h1 class="heading-xlarge">-->
        <!--Completing your claim-->
      <!--</h1>-->

      <p>Include all the main points of your claim now. You'll pay an extra fee if you want to make changes later such as:</p>

      <ul class="list list-bullet">
        <li>naming someone else as owing you the money</li>
        <li>changing the basis of your claim - for example, saying goods were not delivered rather than that they were
          faulty
        </li>
        <li>adding important information that significantly changes your claim</li>
      </uL>

      <br>

      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          It’s against the law to deliberately give untrue information.
        </strong>
      </div>

      <a class="button" href="details-claimant" role="button">Continue</a>
    </div>
  </div>
</main>


{% endblock %}

