{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Before you make a money claim
      </h1>

      <p>You should try to solve the dispute directly with the party before making a claim - follow these
        steps:</p>

      <ul class="list list-bullet">
        <li>Speak to them (send an email or letter if you want a record).
        </li>
        <li>Tell them what you believe they owe you and why.</li>
        <li>Explain that if you can't reach an agreement (eg a timetable for paying the money) you'll make a legal money claim.
        </li>
        <li>Tell them that they might have to pay the full amount as well as <a
          href="https://www.gov.uk/government/publications/fees-for-civil-and-family-courts/court-fees-for-the-high-court-county-court-and-family-court">fees
          and other costs</a> if they
          ‘defend the claim’, and that they could get a County Court Judgment (CCJ).
        </li>
      </uL>

      <p class="panel panel-border-wide">It might count against you in court if you don’t try to sort out the dispute with the person directly,
        before you make an official claim.</p>

      <a class="button" href="screening-question" role="button">Continue</a>

    </div>
  </div>
</main>


{% endblock %}

