{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/">Business and self-employed</a></li>
      <li><a href="/">Business debt and bankruptcy</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Make a money claim
      </h1>

      <p>Use this service to make a legal claim for money you believe you’re owed by a person or business.</p>
      <p>For example, you may have:</p>
      <ul class="list list-bullet">
        <li>paid for goods or services that were faulty or poorly delivered</li>
        <li>paid for goods or services that were never delivered</li>
      <li>given money to someone who hasn’t paid you back</li>
      <li>done work for someone who hasn’t paid you</li>
      </uL>
  </uL>
      <br>

      <p>To use this service you will need:</p>
      <ul class="list list-bullet">
        <li>a debit or credit card to pay the fee <a class="external" rel="external" href="https://www.gov.uk/make-court-claim-for-money/court-fees" target="_blank">(check the cost of the fee)</a></li>
        <li>an email address to save your claim and get updates</li>
        <li>a current or last known address for the party you’re claiming against - the address must be in England or Wales</li>
  </uL>

      <p>You can only use this service for claims of less than £10,000.</p>




      <!--<p class="panel panel-border-wide">You can save your claim and return to it at any time.</p>-->

      <div class="clearfix">
        <a class="button button-start" href="resolving-this-dispute" role="button">Start now</a>
        &nbsp;
        <!--<a class="button-return ga-event" href="#" role="button">Return to a claim</a>-->
      </div>

      <br>

      <p>You can also <a
        href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=338">download a paper form</a> and claim by post</p>

      <p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>








    </div>



            <!--<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>-->
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</main>


{% endblock %}

