{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}


  {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
  {% else %}
      <a href="#" class="link-back">Back</a>

  {% endif %}


  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
      <form method="post" action="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}" class="form">
        {% else %}
        <form method="post" action="phone" class="form">
          {% endif %}

          {{formData | safe}}

          <h1 class="heading-large">
            {% if data['defendants'].length > 0 %}
              <span class="form-hint">Defendant {{ data['defendants'].length + 1 }}</span>
            {% endif %}Their email address (optional)
          </h1>

          <p>We'll use this to tell them you've made a claim, as well as<br> notifying them by post.</p>

          {% if data['defendant-type'] == 'Individual' %}
          <p>This must be their personal email address.</p>
          {% endif %}

          <fieldset>
            <legend class="visuallyhidden">
              Email
            </legend>

            <div class="form-group">
              <input class="form-control form-control" id="defendant-email" name="defendant-email" type="text"
                     value="{{data['defendant-email']}}">
            </div>




        </fieldset>

        {% if data.return_page and data.return_page.includes('check-and-send') or data.return_page and data.return_page.includes('check-your-answers')%}
        <div class="form-group">
          <input type="submit" class="button" value="Save changes"/>
        </div>


        <a href="{{ data.return_page if data.return_page | length > 0 else '../task-list' }}">Cancel</a>

        {% else %}
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>

        {% endif %}

      </form>

    </div>
  </div>

{% include 'prototypes/prototype-jul-2019/includes/contact.html' %}
</main>
{% endblock %}
