{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="../task-list" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          You didn't get the claim
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Completing your claim
          </legend>



          <p>You can apply to cancel the judgment if you didn't get the claim. This is called getting the judgment 'set aside'. </p>
          <p></p>You'll need to explain why you were not able to respond. A judge will review your reasons and will approve or reject it. If approved the CCJ will be removed from
          the register and you will be given 14 days to respond to the claim.</p>
          <p>
            <a href="judgment/set-aside">to set aside the judgment</a>. You'll have to pay a court fee of £255.</p>




        </fieldset>
        <input type="hidden" name="your_defence_options" value="complete">

        <div class="form-group">
          <input type="submit" class="button" value="I confirm I've read this"/>
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
