{% extends "layout_unbranded.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-large">
        Account created
      </h1>

      <p class="">You can now sign in to your account.</p>

      <fieldset></fieldset>

      <div class="clearfix">

        <a class="button" href="sign-in-form" role="button">Continue</a> &nbsp;


      </div>

    </div>
  </div>
{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
