{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        Claim details
      </h1>



      {% if data['defaultccj'] == "true" %}
      <div class="panel panel-border-narrow">
        <p>You have been given a County Court Judgment because you did not respond to this claim.</p>
        <p>You can ask the court to remove the judgment. You might have to pay a fee and go to a hearing.</p>
      </div>
      {% endif %}

      <p class=""><span class="bold">Claim number:</span> 352MC733</p>
      <p class=""><span class="bold">Claim amount:</span> £1,500</p>

      <details>
        <summary><span class="summary">View amount breakdown</summary>
        <div class="panel panel-border-narrow">
          <table class="table-form">
            <caption class="visuallyhidden">Amount payable by defendant</caption>
            <thead>
            <tr>
              <th scope="col">Amount breakdown</th>
              <th class="numeric last" scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Cost of repairing the roof</th>
              <td class="numeric last">

                £1000
                    <span class="font-small">
                    </span>
              </td>
            </tr>
            <tr>
              <th scope="row">Buying the parts to repair the roof</th>
              <td class="numeric last">

                £430
                    <span class="font-small">
                    </span>
              </td>
            </tr>
            <!--                <tr>
                              <th scope="row">
                                <details role="group">
                                  <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                                    Interest to date
                                  </summary>
                                  <div class="panel text-small" id="details-content-0" aria-hidden="true">
                                    Interest calculated at 8% for 23 days <br> <span class="font-xsmall">(20 November 2016 to 23 January 2017)</span>
                                  </div>
                                </details>
                              </th>
                              <td class="numeric last">
                                <label class="visuallyhidden" for="amount">Interest</label>
                                <span class="font-small">

                                  £68

                                </span>
                              </td>
                            </tr>-->
            <tr>
              <th scope="row">Claim fee</th>
              <td class="numeric last">
                <label class="visuallyhidden" for="amount">Claim fee</label>
                    <span class="font-small">

                     £70

                   </span>
              </td>
            </tr>
            <tr>
              <th scope="col" class="bold">Claim total</th>

              <td class="numeric last bold">£<span name="subt" id="subt">1,500</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </details>




      <h2 class="heading-small"  style="margin-top:40px;">Reason for claim</h2>
      <p>This claim is about building works.</p>
      <p>Mary Richards and I signed a contract for building works on my roof. The work on the roof was completed but
        there was a problem with one section. I asked Mary Richards to get the problem fixed, but didn't get a
        reply.</p>
      <p>I phoned several times and even sent a letter but I got no response.</p>
      <p>I'll have to get another builder to rectify the problem which will cost me £1,430.</P>
      <p>Therefore, I'm making a money
        claim for £1,500 to compensate for the money I'm going to need to spend on the roof and also the claim fee.</p>


      <h3 class="heading-small" style="margin-top:50px;">Timeline</h3>
      <div class="form-fields">
        <table>
          <thead>
          <tr>
            <th scope="col" style="width: 50%">Date</th>
            <th scope="col">What happened</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>03/11/2018</td>
            <td>I contacted Mary Richards to discuss building works on our roof.</td>
          </tr>
          <tr>
            <td>06/11/2018</td>
            <td>We agreed what work should be done and signed contract.</td>
          </tr>
          <tr>
            <td>30/11/2018</td>
            <td>The work started on the roof.</td>
          </tr>
          <tr>
            <td>21/12/2018</td>
            <td>The work on the roof was completed but I noticed that there was a problem with one
              section.
            </td>
          </tr>
          <tr>
            <td>27/12/2018</td>
            <td>I sent an email to Mary Richards and asked her to get the problem fixed.</td>
          </tr>
          <tr>
            <td>27/12/2018</td>
            <td>I called Mary a few times throughout the day but got no answer.</td>
          </tr>
          <tr>
            <td>5/12/2019</td>
            <td>I called Mary twice more but again got no answer.</td>
          </tr>
          <tr>
            <td>5/12/2019</td>
            <td>I called Mary twice more but again got no answer.</td>
          </tr>
          <tr>
            <td>8/1/2019</td>
            <td>I sent Mary an letter in the post asking her to come and fix the problem.
            </td>
          </tr>
          <tr>
            <td>02/03/2019</td>
            <td>I contacted another local builder and they came round the next day and gave me a quote for fixing the roof.</td>
          </tr>
          <tr>
            <td>15/03/2019</td>
            <td>I hadn't had a reply so I emailed Mary saying I would be taking her to the small claims court.</td>
          </tr>
          </tbody>
        </table>
      </div>


      <h3 class="heading-small" style="margin-top:50px;">Evidence</h3>
      <div class="form-fields">
        <table>
          <thead>
          <tr>
            <th scope="col" style="width: 50%">Type</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Contracts and agreements</td>
            <td>I have a signed contract showing that you broke the contract agreement.</td>
          </tr>
          <tr>
            <td class="no-border">Photos</td>
            <td class="no-border">The photos I've taken show the poor workmanship of the roof repair</td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="clearfix">
        {% if data['defaultccj'] == "true" %}
        <a class="button" href="sign-in" role="button">Continue</a>
        {% else %}
        <a class="button" href="sign-in?control-box=4" role="button">Respond to claim</a>
        {% endif %}
      </div>



      <br>
      <br>

      <details>
        <summary><span class="summary">How we use and store your personal information</span></summary>
        <div class="panel panel-border-narrow">
          <p>This claim contains personal information about you that Jan Clark has provided, for example your name and address.</p>
          <p>Find out about how we use and store your <a href="/dashboard/v4/idam/privacy"  data-sso="false" data-journey-click="footer:Click:Privacy policy">personal information.</a></p>
        </div>
      </details>


      <h3 class="heading-small">Download the claim</h3>
      <ul class="list">
        <li> <a target="_blank"   href='../../claimant/correspondence/claim-form-claimant?check=2'>Download claim</a> (PDF, 102 KB).</li>
      </ul>


      {% if data['defaultccj'] == "true" %}
        <h3 class="heading-small">Download the CCJ</h3>
        <ul class="list">
          <li> <a target="_blank"   href="/prototypes/prototype-may-2019/defendant/correspondence/forms/judgment-order?check=1">Download CCJ</a> (PDF, 48 KB).</li>
        </ul>
      {% endif %}


      {% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
