{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <form
      name="aspnetForm"
      action="../../task-list"
      method="get"
      id="aspnetForm"
      autocomplete="off">

      <div class="form-group">
        <div id="claim-details">
          <div id="describe-wrapper-claim-details-1" class="form-group">



                        <h1 class="heading-large">How did you pay the claimant? </h1>







           <textarea class="form-control form-control-3-4 form-control"
                     id="owe-reason"
                     rows="4"
                     name="owe-reason"
                     cols="40"
                     type="text"
                     style="width: 95%"
           ></textarea>
              </div>
            </div>
          <div class=" form-group">


          <div class="form-group">
            <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
            data-ignore-double-submit="true">
          </div>
        </div>
      </form>
    </div>
  </div>
{% include 'prototypes/prototype-sep-2019/includes/contact.html' %}
</main>
{% endblock %}
