{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Submitting a counterclaim
      </h1>

      <form action="../../../claimant/task-list/claim-details/reason" class="form" method="post">

      <p>
        You agree that you owe the claimant £1,500, but say they owe you £500.
      </p>
      <p>
        You need to explain why they owe you £500 in order to make a counterclaim for this amount. There will be no fee to pay.
      </p>
      <p>
        You also need to tell us when you intend to pay the outstanding £1,000.
      </p>

        <div class="form-group">
          <input type="hidden" name="counterclaim" value="true" />
          <input type="submit" class="button" value="Save and continue"/>
        </div>
      </form>
    </div>
  </main>
  {% endblock %}
