{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="../task-list{{ formQuery | safe }}">Make a money claim</a>
      </li>
      <li>
        Read rules
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" action="../task-list" class="form">
        {{formData | safe}}
        <h1 class="heading-large">
          Money claim rules
        </h1>
        <fieldset>
          <legend class="visuallyhidden">
            Money claim rules
          </legend>
          <p>It could count against you if you go to a hearing and have not tried to resolve your dispute out of court.</p>
          <h3 class="heading-medium">Before you make a claim</h3>
          <p>You must try to solve the dispute directly before making a claim:</p>
          <ul class="list list-bullet">
            <li>Speak to them (send an email or letter if you want a record).
            </li>
            <li>Tell them what you believe they owe you and why.</li>
            <li>Explain that if you can't reach an agreement (eg a timetable for paying the money) you'll make a legal
              money claim.
            </li>
            <li>Tell them they might have to pay the full amount as well as fees
            and interest</a> if you claim, and that they could get a County Court Judgment (CCJ).
          </li>
        </ul>
        <h3 class="heading-medium">After you've claimed</h3>
        <p>Try to settle your case before a hearing even after you have submitted your claim to the court.</p>
        <p>You can use our service to help you resolve your dispute and reach an agreement, if needed.</p>
        <input type="hidden" name="read_rules" value="complete">
      </fieldset>
      <div class="form-group">
        <input type="submit" class="button" value="I confirm I've read this"/>
      </div>
    </form>
  </div>
</div>
</main>
{% endblock %}
