{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  <div class="back">
    <a href="javascript:history.back()">&#9664; Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Select how you want to pay</h1>
      <form class="radio-nav">
        <div class="form-group">

          <div class="multiple-choice">
            <input id="radio-debitcard" type="radio" name="radio-group" value="enter-card">
            <label id="label-debitcard" for="radio-debitcard">Credit or Debit card</label>
          </div>

          <!-- <div class="multiple-choice">
            <input id="radio-creditcard" type="radio" name="radio-group" value="benefit-credit-card-payment">
            <label id="label-creditcard" for="radio-creditcard">Credit card – 2% fee</label>
          </div> -->

          <div class="multiple-choice">
            <input id="radio-directdebit" type="radio" name="radio-group" value="direct-debit-payment">
            <label id="label-directdebit" for="radio-directdebit">Direct debit</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-paypal" type="radio" name="radio-group" value="paypal-payment">
            <label id="label-paypal" for="radio-paypal">PayPal</label>
          </div>

          <!-- <div class="multiple-choice">
            <input id="radio-cash" type="radio" name="radio-group" value="cash-payment">
            <label id="label-cash" for="radio-cash">Cash – at your local store</label>
          </div> -->

          <div class="form-group">
            <button class="button">Continue</button>
          </div>
        </div>
      </form>
    </div>
    <div class="column-third">

    </div>
  </div>

</main>

{% endblock %}
