{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} index {% endblock %}
{% block proposition_header %}
{% set my_account="3" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Claim submitted</h1>
        <br>
        <p class="">
          Your claim reference: <br><strong class="bold-large">CF91-BK65</strong>
        </p>
        <p>
          Email confirmation sent to: <strong class="bold">youremail@gmail.com</strong>
        </p>
        <p>
         <a class="font-medium" href='{{ asset_path }}/images/moneyclaim-issue-receipt.pdf2' style="color: #FFFFFF" download>Download your claim as a PDF</a>
       </p>
     </div>
     <h2 class="heading-medium">What happens next</h2>
     <p>Mary Richards needs to respond to your claim by <span id="Date"></span>. They can ask for an extra 14 days if they need it. We'll email you when they respond.</p>
     <p>You can request a default County Court Judgment (CCJ) against them if they don't respond.</p>
     <h3 class="heading-small">If the defendant pays you</h3>
     <p>You need to email moneyclaims@hmcts.gsi.gov.uk to let us know. Include the date you were paid.</p>
     <p> You can view the claim at any time on <a href='../../../dashboard/v3/claimant?claimant=1'>your money claims account</a>. </p>
   </main>
   {% endblock %}
