{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="../task-list" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          You didn't get the claim
        </h1>

        <p>
          <legend class="visuallyhidden">
            Completing your claim
          </legend>


        <h2 class="heading-medium">You don't owe the money</h2>
          <p>You can <a href="judgment/set-aside">apply to cancel the judgment</a> if you didn't get or respond to the claim. This is called getting the judgment 'set aside'. You may have to pay a court fee of £255. </p>
          <p></p>You'll need to explain in your application and at a private hearing why you weren't able to respond.</p>
          <p>If approved the CCJ will be removed from the register and you'll have 14 days to respond to the claim.</p>


          <h2 class="heading-medium">You owe the money</h2>

        <p>You’ll need to pay Jan Clark £1,500. Don’t pay the court.</p>

        <p>You can ask to <a href="judgment/vary-instalments">change the way you pay.</a></p>

        <p>Make sure you'll be able to prove you’ve paid. Send a cheque or postal order by post or make a bank transfer. Don’t send cash through the post.</p>



        </fieldset>
        <input type="hidden" name="your_defence_options" value="complete">



      </form>

    </div>
  </div>

</main>
{% endblock %}
