{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="../task-list" class="form">

        {{formData | safe}}

        <h1 class="heading-large">
          Change how you pay the judgment
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Completing your claim
          </legend>



          <p>You can ask to <a href="judgment/vary-instalments">change how much and how often</a> you pay. You'll have to pay a court fee of £50.</p>

          <p>You'll need to provide details of your income and spending, and say how much you can realistically afford to pay.</p>


        </fieldset>
        <input type="hidden" name="your_defence_options" value="complete">


      </form>

    </div>
  </div>

</main>
{% endblock %}
