{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

      <a href="#" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">
  <h1 class="heading-large">
        Is the amount owed £1,000?
      </h1>

      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio_select_group', ['Yes', 'No'], ['../task-list', 'payment-method/rejection-reason?radio-indent-group=mediation-reject&']);return false;"
        id="aspnetForm"
        autocomplete="off">
      <div class="form-group">
        <fieldset>
          <div class="multiple-choice" data-target="accept">
            <input id="radio-no" type="radio" name="radio_select_group" value="Yes">
            <label for="radio-no" data-target="no-info">I accept that this is the amount owed</label>
          </div>

          <div class="multiple-choice" data-target="reject-offer">
            <input id="radio-repayment" type="radio" name="radio_select_group" value="No">
            <label for="radio-repayment" data-target="repayment-info">I reject that this is the amount owed</label>
          </div>

        </fieldset>
      </div>
                  <input type="hidden" name="accept_payment" value="complete">

      <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
             data-ignore-double-submit="true">
    </form>




    </div>
  </div>

</main>
{% endblock %}
