{% extends "layout_unbranded.html" %}

{% block page_title %}
    Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

<!--   THIS PAGE DOESN@T HAVE ROUTING TO ALL DASHBOARD STATES  -->
{% block content %}
<main id="content" role="main">
  <div class="grid-row">

      <h1 class="heading-large" style="margin-top:45px;">Sign in or create an account</h1>


            <!--  CLAIMANT RESPONDING TO OFFER  -->
            {% if data['defendantmadeoffer'] ==  'true'  %}
                {% if data['offerwasrejected'] == 'true' %}
                    <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=10.91&" method="post">
                {% elif data['offerwasrejected'] == 'false' %}
                    <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=10.91&" method="post">
                {% elif data['partadmitstart'] == 'true' %}
                    <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=5&" method="post">
                {% elif data['partadmitstart'] == 'false' %}
                    <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=8&" method="post">
                {% endif %}


            <!--   OUT OF COURT OFFERS  -->
            {% elif data['newoffer'] == 'true' %}

                <!--  CLAIMANT  -->
                {% if  data['theclaimant'] == 'true'  %}

                    {% if data['offeracceptedbydefendant']  ==  'true'  %}
                        <!--  The claimants offer is accpted by the defendant   -->
                        <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=17.01&" method="post">

                    {% elif  data['firstoffer'] == 'true' %}
                        <!--  New offer in parrallel to claim  -->
                        <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=11.00001&" method="post">

                    {% elif data['defendantmadeoffer'] ==  'true'  %}
                          {% if data['offerwasrejected'] == 'true' %}
                              <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=10.91&" method="post">
                          {% elif data['offerwasrejected'] == 'false' %}
                              <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=10.91&" method="post">
                          {% elif data['partadmitstart'] == 'true' %}
                              <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=5&" method="post">
                          {% elif data['partadmitstart'] == 'false' %}
                              <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=8&" method="post">
                          {% endif %}



                    {% elif data['offerrejectedbydefendant']  ==  'true'  %}
                        <!--  The claimants offer is rejectd by the defendant   -->
                        <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=16.1&" method="post">



                    {% else %}
                          <form action="/prototypes/prototype-jul-2019/dashboard/claimant?claimant=10" method="post">

                    {% endif %}


                <!-- defendant journeys  -->
                {% elif  data['theclaimant'] == 'false'  %}

                      {% if data['claimanthasaccpted']  ==  'true'  %}
                            <form action="/prototypes/prototype-jul-2019/dashboard/defendant?defendant=16&" method="post">
                      {% elif data['claimanthasaccpted']  ==  'false'  %}
                            <form action="/prototypes/prototype-jul-2019/dashboard/defendant?defendant=13&" method="post">
                      {% elif data['respondtoclaimantnocounter'] == 'false'  and  data['respondtoclaimantofferonly'] == 'false'  %}
                            <!--    Claimant responding to offer made by defendant  -->
                            <form action="/prototypes/prototype-jul-2019/dashboard/defendant?defendant=13.3&" method="post">
                      {% endif %}
                {% endif %}





            {% else %}
              <form action="../../dashboard/new-claim/eligibility/registration" method="get">
            {% endif %}



            <input type="hidden" name="control-box" value="{{ data['control-box'] }}"/>


            <!-- LEFT HALF OF THE PAGE  -->
            <div>
                <div class="column-one-half"  style="padding-left:0px; border-right: 3px solid #a1acb2;">
                    <!--  <form action="exit-page" method="post">  -->
                        <p></p>
                        <h1 class="heading-medium">
                          Sign in
                        </h1>
                        <div class='form-group'>
                          <label class=" form-label" for="user_email">Email address</label>
                          <input class="optional form-control form-control-3-4" name="emailaddy"
                                 type="email"/>
                        </div>
                        <div class='form-group'>
                          <label class="password optional form-label"
                                 for="user_password">Password</label>
                          <input autocomplete="off"
                                 class="password optional form-control form-control-3-4"
                                 name="pword" type="password"/>
                        </div>
                        <p>
                          <a href="forgotten-password-enter-email">Forgotten password?</a>
                        </p>
                        <div class='form-group'>
                          <input type="submit" name="commit" value="Sign in" class="btn button"/>
                        </div>
                    </form>
                </div>

                <!--  RIGHT HALF OF THE PAGE  -->
                <div class="column-one-half" style="padding-left:15px;">
                  <h2 class="heading-medium">Create an account</h2>
                  <p>
                    You need to
                    <a href="#">
                      create an account
                    </a>
                    to use this service.
                  </p>
                </div>

            </div>



          <br>
          <br>
          <br>
          <br>
          <details role="group" >
            <summary class="font-xsmall" role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Is there a problem with this page?</span>
            </summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <p class="text bold-small">Help us improve this service</p>
              <p class="text">
                <a aria-label="This link will open in a new tab." href="http://www.smartsurvey.co.uk/s/2T7C6/" target="_blank">
                  Please report any problems with this page
                </a>
              </p>
              <p class="text">
                This link will open in a new tab.
              </p>
            </div>
          </details>



  </div>

</main>



<style type="text/css">
  .report-a-problem-toggle a {
    color: #6f777b !important;
    text-decoration: underline !important;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.25;
  }

  .report-a-problem-toggle {
    color: #6f777b !important;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.25;
  }
</style>

{% endblock %}
