{% extends "layout_unbranded.html" %}
{% block page_title %} Your money claims account {% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
            <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Which service did you use to view or make the claim?

      </h1>
           <form
             name="aspnetForm"
             method="post"
             onsubmit="multiNavigation('radio_group2', ['beta','mcol'], ['../../sign-in', 'mcol']);return false;"
             id="aspnetForm"
             autocomplete="off">

            <fieldset>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio_group2" value="beta">
          <label for="radio-2">Money claims - new beta service
             </label>
                  <details>
            <summary>What does the new service look like?</summary>
            <div class="panel">

              <p class="form-hint">Example of Money claims BETA<br><img src="/public/images/sign-in.png" width="70%"><br><img src="/public/images/task-list.png" width="70%"><br><img src="/public/images/respond.png" width="70%"></p>
            </div>
          </details>
        </div>
        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio_group2" value="mcol">
          <label for="radio-1">Money Claim Online (MCOL)
            <p class="form-hint">You'll have used an 8-digit Government Gateway user ID.</p>
          </label>
          <details>

            <summary>What does MCOL look like?</summary>
            <div class="panel">


              <p class="form-hint">Example of MCOL<br><img src="/public/images/mcol.png" width="70%"></p>
            </div>
          </details>
        </div>

      </fieldset>




      <div class="form-group">
        <input type="submit" class="button" value="Continue"/>
      </div>


      </form>
    </div>
      </div>
    {% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>
{% endblock %}
