{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        You need to complete all sections before you submit your claim
      </h1>
      <p>You still need to complete:</p>

      <ul class="list list-bullet">
        {% if data.eligibility!="complete" %}
        <li>Check eligibility </li>
        {% endif %}
        {% if data.resolve_dispute!="complete" %}
        <li>Resolving this dispute </li>
        {% endif %}
        {% if data.completing_your_claim!="complete" %}
        <li>Completing your claim </li>
        {% endif %}
        {% if data.your_details!="complete" %}
        <li>Your details </li>
        {% endif %}
        {% if data.their_details!="complete" %}
        <li>Their details </li>
        {% endif %}
        {% if data.claim_amount!="complete" %}
        <li>Claim amount </li>
        {% endif %}
        {% if data.claim_details!="complete" %}
        <li>Claim details </li>
        {% endif %}
      </ul>
      <a href="../../task-list">Back to task list</a>


    </div>
  </main>
  {% endblock %}
