<style>
#content {
  margin-top:3em
}
@page {
  size: 8.5in 11in;
  margin: 10%;
  @top-right {
    content: "Page " counter(page) " of " counter(pages);
    /*noinspection CssNoGenericFontName*/
    font-family: "Open Sans";
  }
}
html {
  /*noinspection CssNoGenericFontName*/
  font-family: "Open Sans";
  max-width: 960px;
  margin: 0 auto;
  background:#d9d9d9
}
#content{
  background:#fff;
  padding:70px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
  counter-reset: section;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 19px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}
.section {
  margin-bottom: 25px;
}
.section .section-heading {
  margin-bottom: 10px;
}
.section .section-heading strong:before {
  counter-increment: section;
  content: counter(section) ". ";
}
table {
  width: 100%;
  border-spacing: 0;
}
table td {
  border-bottom: 1px solid #999;
  padding: 5px;
  text-align:left;
  line-height: 1.25;
  padding: 0.63158em 1.05263em 0.67368em 0;
  font-size: 18px;
  vertical-align:top;
}
p{
  font-size: 18px;
}
table th {
 text-align:left;
 border-bottom: 1px solid #999;
}
table td:first-child {
  width: 280px;
  vertical-align: top;
  font-weight:700;
}
td.single-cell{
 font-weight:100!important;
}
.no-border{
  border: none;
}
table td:last-child {
  width: auto;
}
header table td, header table tr:last-child td {
  border: none;
}
header td {
  margin: 0;
  padding: 0;
}
.heading-medium{
  padding-bottom: 0;
  margin-bottom: 0.4em;
  margin-top: 1.5em;
  font-size:22px;
}
.claim-number {
  font-weight:700;
  font-size:19px;
}
.crestLogo tr td:nth-child(1) {
  width: 30%;
}
.crestLogo  tr td:nth-child(2) {
  text-align:center
}
.crestLogo tr td:nth-child(3) {
  width: 60%;
}
.crest{
  width:80%
}
h1 {
  font-weight:100;
  font-size:24px;
}
.seal{
  width: 12%;
  float: right;
}
.page-title {
  text-align:center;
  padding-top:20px;
  font-size:14px
}
.page-title span{
  float:right
}
.crestLogo{
  margin-top:40px
}
.page-break{
  background: #d9d9d9;
  margin-left: -70px;
  margin-right: -70px;
  margin-top: 20px;
}
.claim-details{
  text-align:right
}
.footer td{
  font-size:10px;
  padding-top:40px;
  border-bottom: none;
}
.footer td:nth-child(3){
  text-align:right
}
</style>
<main id="content"  role="main">
  <header>

      <table class="crestLogo">
        <tbody>
          <tr>
            <td></td>
            <td>
            </td>
            <td rowspan="2" class="claim-details">
              <h1>Defendant's response</h1>

              <p>In the County Court Business Centre Online Court</p>

              <p><strong>Claim number:</strong> 000LR095<br>
              <strong>Issued on:</strong> 17 October 2017<br>
              <strong>Defence submitted on:</strong> 18 October 2017 at 3:25PM</p></td>
            </tr>
          </tbody>
    </table>


  </header>
  {% if data.counterclaim=="true" %}
  {%else%}
  <table >
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium" id="name">
            1. Defendant's details
          </h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% if data['check'] =='1' %}Company name{% else %}Name{% endif %}:
        </td>
        <td>
          {% if data['check'] =='1' %}Smith Limited{% else %}Mrs Mary Richards{% endif %}
        </td>
      </tr>
      {% if   data['check']== 1  %}
      <tr>
        <td>
          Contact person:
        </td>
        <td>
         Jane Smith
       </td>
     </tr>
     <tr>
      {% endif  %}
      <tr>
        <tr>
          <td class="no-border">
            Address:
          </td>
          <td class="no-border">
           24 Acacia drive<br>
           London<br>
           SW1 H9A<br>
         </td>
       </tr>
              <tr>
          <td class="">
            Correspondence address:
          </td>
          <td class="">
            45 Commercial road<br>
            London<br>
            W1D 5HF<br>
          </td>
        </tr>
       {% if data['check'] =='1' %}
       {% else %}
       <tr>
        <td>
          Date of birth:
        </td>
        <td>
          31 January 1970
        </td>
      </tr>
      {% endif %}
      <tr>
        <tr>
          <td>
            Telephone:
          </td>
          <td>
           {% if  data['check'] =='1' or data['check'] =='9' or data['check'] =='8' %}07824999612{% else %}{{data['day']}} {{data['month']}} {{data['defendant-phone']}}{% endif %}
         </td>
       </tr>
           <tr>
        <td>
          Email:
        </td>
        <td>
                    {% if data['check'] =='1' %}mary.richards@smithlimited.com{% else %}mary.richards@gmail.com{% endif %}


        </td>
      </tr>
     </tbody>
   </table>
   {%endif%}
   <table >
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium" id="money-owed">
            2. Defendant's response to the claim
          </h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="">
          Defendant's response:
        </td>
        <td class="">
          {% if data['check']== 8 or data.radio_select_group2=="amount_claimed" %}
          I have paid what I believe I owe
          {% endif %}
          {% if data['check'] =='1' or data['check']== 9 or data.radio_select_group2=="defend_now" %}
          I dispute all of the claim
          {% endif %}
        </td>
      </tr>
      {% if  data['check'] =='1' or data.radio_select_group=="Some" or data['check']== 4 or data['check']== 5 or data['check']== 6 or data['check']== 7 or data['check']== 9 or data['check']== 8 or data.radio_select_group2=="amount_claimed" or data.radio_select_group=="Paid-some" or data.radio_select_group2=="defend_now"%}
      {% if data.radio_select_group2=="amount_claimed" or data['check']== 8 %}
      <tr class="">
        <td class="">
          When they paid this amount:
        </td>
        <td class="">
         23 June 2017
       </td>
     </tr>
     <tr>
      <td class="">
       How they paid the amount:
     </td>
     <td class="">
      I sent a cheque to Jan Clark
    </td>
  </tr>
  {% endif %} <!-- end of partial -->
  {% if data['check'] =='1' or data['radio_select_group2']=="defend_now" or data['check']== 9 %} <!-- start of defend -->
  <tr>
    <td class="no-border">
      Why they dispute the claim:
    </td>
    <td class="no-border">
    </td>
  </tr>
  <tr>
    <td colspan="2" class="single-cell">
      {% if data['check'] =='1' or  data['check'] =='9'  or data['check'] =='8' %}
      <p>Mary Richards and I signed a contract for building works on our roof. The work on the roof was completed but there was a problem with one section. I asked Mary Richards to get the problem fixed, but hadn't had a reply.</p>
      <p>I'll have to get another builder to rectify the problem which will cost me &pound;1,500.</p>
      <p>Therefore, I'm making a money claim for &pound;1,500 to compensate for the extra money I am going to need to spend.</p>
      {% else %} {{data['defence-disagree-claim']}}{% endif %}
    </td>
  </tr>
  <tr>
    {% endif %}  <!-- start of defendnow-->
    {% if data['check'] =='1' or data['radio_select_group2']=="defend_now" or data.radio_select_group=="Some" or data.amount_paid=="less" or data['check']== 4 or data['check']== 5 or data['check']== 6 or data['check']== 7 or data['check']== 9%} <!-- start of time-line and evidence -->
    <tr>
      <td class="no-border">
        Defendant's timeline of what happened:
      </td>
      <td class="no-border">
      </td>
    </tr>
    <tr class="subsection ">
      {% if data['cd-timeline-2'] !='' %}<td class="no-border single-cell">{% else %}<td class="single-cell ">{% endif %}
       {% if data['check'] =='1' or data['check'] =='9' %}1 April 2017{% else %}{{data['cd-date-1']}}{% endif %}
     </td>
     {% if data['cd-timeline-2'] !='' %}<td class="no-border single-cell">{% else %}<td class="single-cell ">{% endif %}
      {% if data['check'] =='1' or data['check'] =='9' %}I contacted Jan Clark to discuss building works on our roof.{% else %}{{data['cd-timeline-1']}}{% endif %}
    </td>
  </tr>
  {% if data['cd-timeline-2'] !='' or data['check'] =='1'  or data['check'] =='2'  or data['check'] =='3' %}
  <tr class="subsection no-border">
    <td class=" single-cell no-border">
     {% if data['check'] =='1' or data['check'] =='9' %}7 April 2017{% else %}{{data['cd-date-2']}}{% endif %}
   </td>
   <td class="no-border">
    {% if data['check'] =='1' or data['check'] =='9' %}We agreed what work should be done and signed a contract.{% else %}{{data['cd-timeline-2']}}{% endif %}
  </td>
</tr>
{% endif %}
<tr>
  <td>
   Comments about claimant's timeline
 </td>
 <td>
   {% if data['check'] =='1' or data['check'] =='9' %}They are exaggerating the what happened. My side of the story is this....{% else %} {{data['defence-disagree-timeline']}}{% endif %}
 </td>
</tr>
<tr>
  <td class="no-border">
    Defendant's evidence:
  </td>
  <td class="no-border">
  </td>
</tr>
<tr class="subsection">
  <td class="no-border single-cell">
   {% if data['check'] =='1' or data['check'] =='9' %}Contracts and agreements{% else %}
   {% if data['legal-status1'] == 2 %}Contracts and agreements - {% endif %}
   {% if data['legal-status1'] == 3 %}Expert witness - {% endif %}
   {% if data['legal-status1'] == 4 %}Letters, emails and other correspondence - {% endif %}
   {% if data['legal-status1'] == 5 %}Photo evidence - {% endif %}
   {% if data['legal-status1'] == 6 %}Receipts - {% endif %}
   {% if data['legal-status1'] == 7 %}Contracts and agreements - {% endif %}
   {% if data['legal-status1'] == 'other' %}Statements of account - {% endif %}
   {% endif %}
 </td>
 <td class="no-border ">
  {% if data['check'] =='1' or  data['check'] =='9'  %}I have a signed contract showing that you broke the contract agreement.{% else %}{{data['legal-status-description-1'] }}{% endif %}
</td>
</tr>
{% if data['legal-status2'] !='' or data['check'] =='1' or data['check'] =='9'  %}
<tr class="subsection">
  <td class="no-border single-cell">
   {% if data['check'] =='9' %}Photos {% else %}
   {% if data['legal-status2'] == 2 %}Contracts and agreements - {% endif %}
   {% if data['legal-status2'] == 3 %}Expert witness - {% endif %}
   {% if data['legal-status2'] == 4 %}Letters, emails and other correspondence - {% endif %}
   {% if data['legal-status2'] == 5 %}Photo evidence - {% endif %}
   {% if data['legal-status2'] == 6 %}Receipts - {% endif %}
   {% if data['legal-status2'] == 7 %}Contracts and agreements - {% endif %}
   {% if data['legal-status2'] == 'other' %}Statements of account - {% endif %}
   {% endif %}
 </td>
 <td class="no-border">
  {% if data['check'] =='1' or data['check'] =='9'  %}The photos I've taken show the poor workmanship of the roof repair.{% else %}{{data['legal-status-description-2'] }}{% endif %}
</td>
{% endif %}
</tr>
<tr>
  <td>
    Comments about the claimant's evidence
  </td>
  <td>
   {% if data['check'] =='1' or data['check'] =='9' %}I never received any of these emails. Also the photos arent a fair refection of my work.{% else %} {{data['defence-disagree-evidence']}}{% endif %}
 </td>
</tr>
{% endif %} <!-- end of time-line and evidence -->
</tbody>
</table>
{% endif %}
<table class="footer">
  <tbody>
    <tr>
      <tr>
        <td>
          OCON9B
        </td>
        <td>
          For further details of the courts www.gov.uk/find-court-tribunal
        </td>
        <td >
          &copy; Crown copyright Page 1 of 2
        </td>
      </tr>
    </tbody>
  </table>
  <div class="page-break">&nbsp;</div>
  <p class="page-title"> <span>Claim number: 000LR095</span></p>
  {% if   data['check'] =='1' or data['check']== 8 or data['check']== 9 %}
  {% if   data['check'] =='8'%}
  <table style="padding-bottom:900px">
    {% else %}
    <table >
      {% endif %}
      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              3. Statement of truth
            </h2>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="no-border">
          </td>
          <td class="no-border">
            I believe that the facts stated in this defence are true.
          </td>
        </tr>
      </tr>
      {% if   data['check']== 1  %}
      <tr>
        <td class="no-border">
        </td>
        <td class="no-border">
          <strong>Company:</strong> Smith Limited
        </td>
      </tr>
      <tr>
        <td class="no-border">
        </td>
        <td class="no-border">
          <strong>Name:</strong> Teresa Jones
        </td>
      </tr>
      <tr>
        <td class="no-border">
        </td>
        <td class="no-border">
          <strong>Role:</strong> Owner/Director
        </td>
      </tr>
      {% else %}
      <tr>
        <td class="no-border">
        </td>
        <td class="no-border">
          Jan Clark
        </td>
      </tr>
      {% endif %}
      <tr>
        <td class="no-border">
        </td>
        <td class="no-border">
          <span class="dates2"></span>
        </td>
      </tr>
    </tbody>
  </table>
  {% endif %}
  {% if data['check'] =='1' or data['check']== 9 %}
  <table  style="padding-bottom:600px">
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            What happens next
          </h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Settle the claim
        </td>
        <td>

        {% if data['check'] =='1' %}Unless you've been asked not to, you can still contact the claimant directly. If you can reach an agreement you may not have to go to a hearing.

      {% else %}
        Unless you've been asked not to, you can still contact the defendant directly. If you can reach an agreement you may not have to go to a hearing.      {% endif %}

        </td>
      </tr>
      <tr>
        <td>
          Mediation
        </td>
        <td>


      {% if data['check'] =='1' %}You have chosen not to use the free mediation service. The case will be reviewed by a judge and might go to a hearing. We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.
      {% else %}
     <p> If the defendant has asked for mediation then we'll contact you to ask if you want to mediate. </p> <p> If the defendant doesn't want to mediate then the case will be reviewed by a judge and might go to a hearing. We'll contact you if a hearing date is scheduled and explain what you need to do to prepare.</p>
      {% endif %}

        </td>
      </tr>
    </tbody>
  </table>
  {% endif %}
  <table class="footer">
    <tbody>
      <tr>
        <tr>
          <td>
            OCON9B
          </td>
          <td>
            For further details of the courts www.gov.uk/find-court-tribunal
          </td>
          <td >
            &copy; Crown copyright Page 2 of 2
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <form method="post"  action="#" class="form" style="position: absolute;">
    <select id="check2" name="check2" onchange="window.location.href='?check='+this.value">
      <option  value="0" >Choose</option>
      <option  value="9" {% if data['check'] == 9 %}selected{% endif %}>Response - Defence</option>
      <option  value="8" {% if data['check'] == 8 %}selected{% endif %}>Response - Defence - States paid</option>
      <option  value="1" {% if data['check'] == 1 %}selected{% endif %}>Response - Defence - Business</option>
      <option  value="2" {% if data['check'] == 2 %}selected{% endif %}>Response - Admission - Full - Pay immediately</option>
      <option  value="3" {% if data['check'] == 3 %}selected{% endif %}>Response - Admission - Full - Pay later</option>
      <option  value="4" {% if data['check'] == 4 %}selected{% endif %}>Response - Admission - Full - Pay by instalments</option>
      <option  value="5" {% if data['check'] == 5 %}selected{% endif %}>Response - Admission - Partial</option>
    </select>
  </form>
  <script src="{{ asset_path }}/javascripts/jquery-1.11.3.js"></script>
  <script>
    $(document).ready(function() {
      var monthNames = [ "January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December" ];
      var monthNamesCal = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
      "Jul", "Aug", "Sept", "Oct", "Nov", "Dec" ];
      var newDate = new Date();
      newDate.setDate(newDate.getDate()+ 14) ;
      var newDate2 = new Date();
      newDate2.setDate(newDate2.getDate()) ;
      var newDate3 = new Date();
      newDate3.setDate(newDate3.getDate()+ 28);
      var newDate4 = new Date();
      newDate4.setDate(newDate4.getDate())+ 100 ;
/*$('#Date').html(" " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear());
*/$('#Date, .dates').html(" " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear());
$('#Date2, .dates2').html(" " + newDate2.getDate() + ' ' + monthNames[newDate2.getMonth()] + ' ' + newDate2.getFullYear());
$('#Date3, .dates3').html(" " + newDate3.getDate() + ' ' + monthNames[newDate3.getMonth()] + ' ' + newDate3.getFullYear());
$('#DateCal, .datesCal').html(" " + newDate4.getDate() + ' ' + monthNamesCal[newDate4.getMonth()] + ' ' + newDate4.getFullYear());
});
</script>
