{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Check your email
      </h1>

      <p>We've sent a confirmation email to: <span class="bold">jan65@gmail.com</span></p>

      <h2 class="heading-medium">What happens next</h2>
      <p>We'll contact you <span class="bold">within 5 days</span> to set up a mediation appointment and answer any questions you have.</p>
    </div>
  </div>
</main>


{% endblock %}
