{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        Mary Richards' response
      </h1>

      <p class="panel panel-border-wide">
        Mary Richards had said they don't owe the money and made a suggestion.
      </p>

      <fieldset></fieldset>

      <div class="heading-small">Mary Richards said:</div>
      <p>I understand that you're not happy with the work on the roof. I'd really like to get this sorted out. The last
        thing I want is to go to court over this.</p>

      <br>

      <div class="heading-small">Their suggestion</div>
      <p>I will organise for the roof to be repaired on or before 1 May.</p>
      <p>I suggest you pay £50 to cover the materials.</p>

      <!--<p>I'd be happy to come an inspect the roof again and see what we can do. If there is a problem still we will sort-->
      <!--it out for you. However, as discussed before, this might mean putting in place an additional support for the-->
      <!--roof at a materials cost of £50. Would you be willing to cover that materials cost if we carry out the work for-->
      <!--no extra fee?</p>-->

      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('radio-indent-group', ['Yes', 'No', 'Alternative'], ['accept-confirmation', 'mediation', 'counter-offer']);return false;"
        id="aspnetForm"
        autocomplete="off">

        <h1 class="heading-medium">
          Your response
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Your response</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">
                <strong class="bold-small">Accept the suggestion</strong><br>
                An agreement will be drawn up for you both to approve.
              </label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="yes-info">-->
            <!--<p>A court officer will draw up an agreement for you both to approve.</p>-->
            <!--</div>-->

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">
                <strong class="bold-small">Reject the suggestion</strong><br>
                Mary Richards will submit a defence to the claim. The case will be reviewed by a judge and might go to a
                hearing.
              </label>
            </div>

            <div class="multiple-choice">
              <input id="radio-alternative" type="radio" name="radio-indent-group" value="Alternative">
              <label for="radio-alternative" data-target="alternative-info">
                <strong class="bold-small">Suggest an alternative</strong><br>
                You might be able to reach an agreement with them and won't need to wait for a hearing date.
              </label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="no-info">-->
            <!--<p>You can 'request a judgement'.</p>-->
            <!--</div>-->

            <!-- <div class="multiple-choice">
              <input id="radio-alternative" type="radio" name="radio-indent-group" value="Alternative">
              <label for="radio-alternative" data-target="alternative-info">
              <strong class="bold-small">I don't agree on everything</strong><br>
                You can suggest an alternative or get help agreeing - eg request free mediation
              </label>
            </div> -->

            <!--<div class="panel panel-border-narrow js-hidden" id="alternative-info">-->
            <!--<p>For example, you might suggest a higher payment amount.</p>-->
            <!--</div>-->

          </fieldset>

          <input id="advert-option-next--button" type="submit" value="Submit response" class="button"
                 data-ignore-double-submit="true">
        </div>
      </form>

    </div>
  </div>
</main>


{% endblock %}
