{% extends "layout_task-list.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

    <a href="#" class="link-back">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

      <form
        name="aspnetForm"
        method="post"
        onsubmit="multiNavigation('claim-type', ['goods','services', 'other'], ['claim-details/goods-and-services', 'claim-details/goods-and-services', 'claim-details/reason' ]);return false;"
        id="aspnetForm"
        autocomplete="off">

        <h1 class="heading-large">
          What is your claim about? (optional)
        </h1>
        <p>Select all that apply.</p>

        <div class="form-group">
          <fieldset>

            <div class="multiple-choice">
              <input id="radio-1"name="claim-type" type="checkbox" value="goods">
              <label for="radio-1" style="margin-top: -10px;">
                <strong class="bold-small">Goods you've bought or sold</strong><br />
                <span class="form-hint">For example, buying a faulty TV</span>
              </label>
            </div>

            <div class="multiple-choice">
              <input id="radio-2"name="claim-type" type="checkbox" value="services">
              <label for="radio-2" style="margin-top: -10px;">
                <strong class="bold-small">A service you've received or provided</strong><br />
                <span class="form-hint">For example, paying a plumber whose work caused a leak</span>
              </label>
            </div>

            <div class="multiple-choice">
              <input id="radio-3"name="claim-type" type="checkbox" value="other">
              <label for="radio-3" style="margin-top: -10px;">
                <strong class="bold-small">A holiday</strong><br />
                <span class="form-hint">For example, a package holiday which was not as advertised</span>
              </label>
            </div>

            <details role="group">
              <summary role="button" aria-controls="details-content-0" aria-expanded="false" style="margin-left: 16px;"><span class="summary" style="padding-left: 16px;">More options</span></summary>
              <div class="panel">

                <div class="multiple-choice">
                  <input id="radio-4"name="claim-type" type="checkbox" value="other">
                  <label for="radio-4" style="margin-top: -10px;">
                    <strong class="bold-small">A breach of tenancy agreement</strong><br />
                    <span class="form-hint">For example, a tenant not paying their rent</span>
                  </label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-5"name="claim-type" type="checkbox" value="other">
                  <label for="radio-5" style="margin-top: -10px;">
                    <strong class="bold-small">Negligence</strong><br />
                    <span class="form-hint">For example, your lawyer missing a deadline in a court case</span>
                  </label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-6"name="claim-type" type="checkbox" value="other">
                  <label for="radio-6" style="margin-top: -10px;">
                    <strong class="bold-small">Harassment or assault</strong><br />
                    <span class="form-hint">For example…</span>
                  </label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-8"name="claim-type" type="checkbox" value="other">
                  <label for="radio-8" style="margin-top: -10px;">
                    <strong class="bold-small">Discrimination</strong><br />
                    <span class="form-hint">For example…</span>
                  </label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-7"name="claim-type" type="checkbox" value="other">
                  <label for="radio-7" style="margin-top: -10px;">
                    <strong class="bold-small">Nuisance or trespass</strong><br />
                    <span class="form-hint">For example…</span>
                  </label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-9"name="claim-type" type="checkbox" value="other">
                  <label for="radio-9" style="margin-top: -10px;">
                    <strong class="bold-small">Something else</strong><br />
                    <span class="form-hint">For example…</span>
                  </label>
                </div>

              </div>
            </details>

         </fieldset>
        </div>


        <div class="form-group">
          <input type="submit" class="button" value="Save and continue"/>
        </div>

      </form>

    </div>
  </div>

{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
