{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Check before you make a money claim
      </h1>

      <p class="lede">Use this service to:</p>

      <ul class="list list-bullet">
        <li class="lede">check your eligibility</li>
        <li class="lede">check the total cost</li>
        <li class="lede">check what's involved to start a claim</li>
      </uL>

      <p class="lede">Checking takes around 5 minutes.</p>

      <p>
        <a class="button button-start" href="/moneyclaims/questions/reason{{formQuery}}" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can <a href="">make a claim online</a> now if you've done a check before.</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Make a court claim for money</a></li><br>
            <li><a href="#">Money claim fees</a></li><br>
            <li><a href="#">Other options</a></li><br>
            <li><a href="#">Contact us</a></li><br>
            <!--<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>-->
          </ul>
        </nav>
      </aside>

    </div>
  </div>



</main>

{% endblock %}
