{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form
      name="aspnetForm"
      method="post"
      onsubmit="multiNavigation('radio_group2', ['interest_yes','interest_no'], ['../../../claimant/task-list/claim-amount-alt/interest-q/interest-type2', '{% if data['amount-owed'] %}../../../defendant/task-list/counter-claim/counter-type{% else %}../../../claimant/task-list/claim-amount-alt/total{% endif %}']);return false;"
      id="aspnetForm"
      autocomplete="off">
      {{formData | safe}}
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
       Interest on your possible counterclaim
      </h1>

      <p>If you make a counterclaim, you can claim interest on the money you say you’re owed. The court will decide if you’re entitled to it.</p>
      <p>Claiming interest could increase the fee you may have to pay if you decide to make this counterclaim.</p>

      <fieldset class="inline">

        <h2 class="heading-small">Do you want to claim interest?</h2>
        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio_group2" value="interest_yes">
          <label for="radio-1">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio_group2" value="interest_no">
          <label for="radio-2">No</label>
        </div>
                <br>
                <br>
                <br>
                <details>

                  <summary>
                    <span class="summary">Help with interest rates</span>
                  </summary>

                  <div class="panel panel-border-narrow">
                    <p>You can claim 8% interest on money owed to you. This is the statutory rate. If you know that a different rate applies you can use that. For example if you have a contract with a specific rate.</p>
                    <p>The court will decide if you're entitled to some or all of the interest claimed.</p>
                  </div>

                </details>
      </fieldset>
      <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>
    </form>
  </div>
</div>
{% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>
{% endblock %}
