{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Citizen prototypes  <strong class="phase-tag">BETA</strong></h1>


      <h2 class="heading-medium">Accessibility Statement</h2>
          <ol class="list list-number">
            <li><a href="prototypes/prototype-sep-2020/dashboard/accessibility-statement">Accessibility Statement - Sept 2020</a></li>
          </ol>

        <h2 class="heading-medium">Sept 2020 prototype</h2>
            <ol class="list list-number">
              <li><a href="prototypes/prototype-sep-2020/claimant/index">Claimant - make claim</a></li>
              <li><a href="prototypes/prototype-sep-2020/defendant/index">Defendant - response </a></li>
              <li><a href="prototypes/prototype-sep-2020/dashboard/index">Dashboard</a></li>
              <li><a href="prototypes/prototype-sep-2020/dashboard/index-offers">Offers</a></li>
              <li><a href="prototypes/prototype-sep-2020/defendant/correspondence/index">Letters and sealed claim forms</a></li>
            </ol>
      <hr>

      <details class="form-group" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <h2 class="heading-medium" style="margin-top: 0; margin-bottom: 0; display: inline-block;">(Archived - Dev) </h2>
        </summary>
        <div class="panel">
          <h2 class="heading-medium">Features to be built as of May 2020</h2>
          <ol class="list list-number">
            <li><a href="prototypes/features-to-be-built/claimant/index">Claimant - make claim</a></li>
            <li><a href="prototypes/features-to-be-built/defendant/index">Defendant - response </a></li>
            <li><a href="prototypes/features-to-be-built/dashboard/index">Dashboard</a></li>
            <li><a href="prototypes/features-to-be-built/dashboard/index-offers">Offers</a></li>
            <li><a href="prototypes/features-to-be-built/defendant/correspondence/index">Letters and sealed claim forms</a></li>
          </ol>
        </div>

        <div class="panel">
          <h2 class="heading-small">Gov guidance structure and MCOL and Beta journeys</h2>
          <ol class="list list-number">
            <li><a href="/dashboard/v4/idam/gov/v2/overview">Gov guidance and mcol/beta structure </a></li>
            <li><a href="https://rtahr9.axshare.com/mcol___beta_v2.html">Process map</a></li>
          </ol>
        </div>
      </details>

    <details class="form-group" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <h2 class="heading-medium" style="margin-top: 0; margin-bottom: 0; display: inline-block;">Archived prototypes </h2>
        </summary>

        <h2 class="heading-medium">Aug 2020 prototype</h2>
            <ol class="list list-number">
              <li><a href="prototypes/prototype-aug-2020/claimant/index">Claimant - make claim</a></li>
              <li><a href="prototypes/prototype-aug-2020/defendant/index">Defendant - response </a></li>
              <li><a href="prototypes/prototype-aug-2020/dashboard/index">Dashboard</a></li>
              <li><a href="prototypes/prototype-aug-2020/dashboard/index-offers">Offers</a></li>
              <li><a href="prototypes/prototype-aug-2020/defendant/correspondence/index">Letters and sealed claim forms</a></li>
            </ol>

        <h2 class="heading-medium">July 2 2020 prototype</h2>
            <ol class="list list-number">
              <li><a href="prototypes/prototype-jul2-2020/claimant/index">Claimant - make claim</a></li>
              <li><a href="prototypes/prototype-jul2-2020/defendant/index">Defendant - response </a></li>
              <li><a href="prototypes/prototype-jul2-2020/dashboard/index">Dashboard</a></li>
              <li><a href="prototypes/prototype-jul2-2020/dashboard/index-offers">Offers</a></li>
              <li><a href="prototypes/prototype-jul2-2020/defendant/correspondence/index">Letters and sealed claim forms</a></li>
            </ol>

      <h2 class="heading-medium">July 1 2020 prototype</h2>
              <ol class="list list-number">
                <li><a href="prototypes/prototype-jul-2020/claimant/index">Make claim</a> </li>
                <li><a href="prototypes/prototype-jul-2020/defendant/index">Respond to claim</a></li>
                <li>
                  <a href="prototypes/prototype-jul-2020/dashboard/home?dashboard=1.2">Dashboard</a>
                  <ol class="list list-number">
                    <li><a href="prototypes/prototype-jul-2020/dashboard/claimant?claimant=1">Claimant (claim details)</a></li>
                    <li><a href="prototypes/prototype-jul-2020/dashboard/defendant?defendant=1">Defendant (claim details)</a></li>
                  </ol>
                </li>
                <li><a href="prototypes/prototype-jul-2020/misc/">Misc</a></li>
              </ol>
      <h2 class="heading-medium">May 2020 prototype</h2>
            <ol class="list list-number">
              <li><a href="prototypes/prototype-may-2020/claimant/index">Make claim</a> </li>
              <li><a href="prototypes/prototype-may-2020/defendant/index">Respond to claim</a></li>
              <li>
                <a href="prototypes/prototype-may-2020/dashboard/home?dashboard=1.2">Dashboard</a>
                <ol class="list list-number">
                  <li><a href="prototypes/prototype-may-2020/dashboard/claimant?claimant=1">Claimant (claim details)</a></li>
                  <li><a href="prototypes/prototype-may-2020/dashboard/defendant?defendant=1">Defendant (claim details)</a></li>
                </ol>
              </li>
              <li><a href="prototypes/prototype-may-2020/misc/">Misc</a></li>
            </ol>

      <h2 class="heading-medium">February 2020 prototype</h2>
      <ol class="list list-number">
        <li><a href="prototypes/prototype-feb-2020/claimant/index">Make claim</a> </li>
        <li><a href="prototypes/prototype-feb-2020/defendant/index">Respond to claim</a></li>
        <li>
          <a href="prototypes/prototype-feb-2020/dashboard/home?dashboard=1.2">Dashboard</a>
          <ol class="list list-number">
            <li><a href="prototypes/prototype-feb-2020/dashboard/claimant?claimant=1">Claimant (claim details)</a></li>
            <li><a href="prototypes/prototype-feb-2020/dashboard/defendant?defendant=1">Defendant (claim details)</a></li>
          </ol>
        </li>
        <li><a href="prototypes/prototype-feb-2020/misc/">Misc</a></li>
      </ol>

      <hr>

      <h2 class="heading-medium">December 2019 prototype</h2>
      <ol class="list list-number">
        <li><a href="prototypes/prototype-dec-2019/claimant/index">Make claim</a> </li>
        <li><a href="prototypes/prototype-dec-2019/defendant/index">Respond to claim</a></li>
        <li>
          <a href="prototypes/prototype-dec-2019/dashboard/home?dashboard=1.2">Dashboard</a>
          <ol class="list list-number">
            <li><a href="prototypes/prototype-dec-2019/dashboard/claimant?claimant=1">Claimant (claim details)</a></li>
            <li><a href="prototypes/prototype-dec-2019/dashboard/defendant?defendant=1">Defendant (claim details)</a></li>
          </ol>
        </li>
        <li><a href="prototypes/prototype-dec-2019/misc/">Misc</a></li>
      </ol>

      <hr>


      <h2 class="heading-medium">November 2019 prototype</h2>
      <ol class="list list-number">
        <li><a href="prototypes/prototype-nov-2019/claimant/index">Make claim</a> </li>
        <li><a href="prototypes/prototype-nov-2019/defendant/index">Respond to claim</a></li>
        <li>
          <a href="prototypes/prototype-nov-2019/dashboard/home?dashboard=1.2">Dashboard</a>
          <ol class="list list-number">
            <li><a href="prototypes/prototype-nov-2019/dashboard/claimant?claimant=1">Claimant (claim details)</a></li>
            <li><a href="prototypes/prototype-nov-2019/dashboard/defendant?defendant=1">Defendant (claim details)</a></li>
          </ol>
        </li>
        <li><a href="prototypes/prototype-nov-2019/misc/">Misc</a></li>
      </ol>

      <hr>


      <h2 class="heading-medium">October 2019 prototype</h2>
      <ol class="list list-number">
        <li><a href="prototypes/prototype-oct-2019/claimant/index">Make claim</a> </li>
        <li><a href="prototypes/prototype-oct-2019/defendant/index">Respond to claim</a></li>
        <li>
          <a href="prototypes/prototype-oct-2019/dashboard/home?dashboard=1.2">Dashboard</a>
          <ol class="list list-number">
            <li><a href="prototypes/prototype-oct-2019/dashboard/claimant?claimant=1">Claimant (claim details)</a></li>
            <li><a href="prototypes/prototype-oct-2019/dashboard/defendant?defendant=1">Defendant (claim details)</a></li>
          </ol>
        </li>
        <li><a href="prototypes/prototype-oct-2019/misc/">Misc</a></li>
      </ol>

      <hr>

      <h2 class="heading-medium">September 2019 prototype</h2>
      <ol class="list list-number">
        <li><a href="prototypes/prototype-sep-2019/claimant/index">Make claim</a> </li>
        <li><a href="prototypes/prototype-sep-2019/defendant/index">Respond to claim</a></li>
        <li>
          <a href="prototypes/prototype-sep-2019/dashboard/home?dashboard=1.2">Dashboard</a>
          <ol class="list list-number">
            <li><a href="prototypes/prototype-sep-2019/dashboard/claimant?claimant=1">Claimant (claim details)</a></li>
            <li><a href="prototypes/prototype-sep-2019/dashboard/defendant?defendant=1">Defendant (claim details)</a></li>
          </ol>
        </li>
        <li><a href="prototypes/prototype-sep-2019/misc/">Misc</a></li>
      </ol>

      <hr>

    <h2 class="heading-medium">August 2019 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-aug-2019/claimant/index">Make claim</a> </li>
      <li><a href="prototypes/prototype-aug-2019/defendant/index">Respond to claim</a></li>
      <li>
        <a href="prototypes/prototype-aug-2019/dashboard/home?dashboard=1.2">Dashboard</a>
        <ol class="list list-number">
          <li><a href="prototypes/prototype-aug-2019/dashboard/claimant?claimant=1">Claimant (claim details)</a></li>
          <li><a href="prototypes/prototype-aug-2019/dashboard/defendant?defendant=1">Defendant (claim details)</a></li>
        </ol>
      </li>
      <li><a href="prototypes/prototype-aug-2019/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">July 2019 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-jul-2019/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-jul-2019/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-jul-2019/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-jul-2019/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">June 2019 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-jun-2019/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-jun-2019/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-jun-2019/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-jun-2019/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">May 2019 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-may-2019/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-may-2019/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-may-2019/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-may-2019/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">April 2019 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-apr-2019/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-apr-2019/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-apr-2019/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-apr-2019/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">March 2019 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-mar-2019/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-mar-2019/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-mar-2019/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-mar-2019/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">February 2019 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-feb-2019/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-feb-2019/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-feb-2019/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-feb-2019/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">January 2019 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-jan-2019/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-jan-2019/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-jan-2019/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-jan-2019/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">December 2018 prototype</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-dec-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-dec-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-dec-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-dec-2018/misc/">Misc</a></li>
    </ol>

    <h2 class="heading-medium">Public Beta prototype - November 2018</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-nov-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-nov-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-nov-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-nov-2018/misc/">Misc</a></li>
    </ol>


    <h2 class="heading-medium">Public Beta Sprint 13 - October 2018</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-oct-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-oct-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-oct-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-oct-2018/misc/">Misc</a></li>
    </ol>


    <h3 class="heading-medium">Main changes this sprint</h3>
    <h4 class="heading-small">New features</h4>
    <ul class="list-bullet no-indent">
      <li>XXXX</li>
    </ul>

    <h4 class="heading-small">Iteration from research</h4>
    <p><a href="XXXXX">Research findings</a></p>


    <p>
      <span class="bold">Finding</span>: YYY.<br />
      <span class="bold">Action</span>: ZZZ.
    </p>

    <hr>

    <h2 class="heading-medium">Public Beta Sprints 10 & 11 - September 2018</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-sep-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-sep-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-sep-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-sep-2018/misc/">Misc</a></li>
    </ol>


    <h3 class="heading-medium">Main changes this sprint</h3>
    <h4 class="heading-small">New features</h4>
    <ul class="list-bullet no-indent">
      <li>Warrants of control</li>
    </ul>

    <h4 class="heading-small">Iteration from research</h4>
    <p><a href="XXXXX">Research findings</a></p>


    <p>
      <span class="bold">Finding</span>: YYY.<br />
      <span class="bold">Action</span>: ZZZ.
    </p>


    <h2 class="heading-medium">Public Beta Sprint 9 & 10 - August 2018</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-aug-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-aug-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-aug-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-aug-2018/misc/">Misc</a></li>
    </ol>


    <h3 class="heading-medium">Main changes this sprint</h3>
    <h4 class="heading-small">New features</h4>
    <ul class="list-bullet no-indent">
      <li>XXXX</li>
    </ul>

    <h4 class="heading-small">Iteration from research</h4>
    <p><a href="XXXXX">Research findings</a></p>


    <p>
      <span class="bold">Finding</span>: YYY.<br />
      <span class="bold">Action</span>: ZZZ.
    </p>

    <hr>

    <h2 class="heading-medium">Public Beta Sprint 7 & 8 - Jul II 2018</h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-jul2-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-jul2-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-jul2-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-jul2-2018/misc/">Misc</a></li>
    </ol>


    <h3 class="heading-medium">Main changes this sprint</h3>
    <h4 class="heading-small">New features</h4>
    <ul class="list-bullet no-indent">
      <li>Additional dashboard/claim details states</li>
      <li>New redetermination flow</li>
    </ul>

    <h4 class="heading-small">Iteration from research</h4>
    <p><a href="https://tools.hmcts.net/confluence/display/ROC/UX+Design+Sprint+8+%28London%29+25th+July+2018+Test+Results">Research findings</a></p>


    <p>
      <span class="bold">Finding</span>: YYY.<br />
      <span class="bold">Action</span>: ZZZ.
    </p>

    <hr>


    <h2 class="heading-medium">Public Beta Sprint 6 - Jul 2018 </h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-jul-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-jul-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-jul-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-jul-2018/misc/">Misc</a></li>
    </ol>


    <h3 class="heading-medium">Main changes this sprint</h3>
    <h4 class="heading-small">New features</h4>
    <ul class="list-bullet no-indent">
      <li>New defendant repsonse selection journey</li>
      <li>Updated counterclaims to work throguh new response selection journey. <a href="https://vdluyo.axshare.com/#g=1&p=counterclaims_3&c=1">See flow</a>.</li>
    </ul>

    <h4 class="heading-small">Iteration from research</h4>
    <p><a href="https://tools.hmcts.net/confluence/display/ROC/UX+Sprint+6+Design+User+Test+Results">Research findings</a></p>


    <p>
      <span class="bold">Finding</span>: YYY.<br />
      <span class="bold">Action</span>: ZZZ.
    </p>

    <hr>



    <h2 class="heading-medium">Public Beta Sprint 5 - Jun II 2018 </h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-jun2-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-jun2-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-jun2-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-jun2-2018/misc/">Misc</a></li>
    </ol>


    <h3 class="heading-medium">Main changes this sprint</h3>
    <h4 class="heading-small">New features</h4>
    <ul class="list-bullet no-indent">
      <li>Counterclaim journey</li>
      <li>New feature opt-in</li>
      <li>New dashboard states</li>
      <li>Added 'features to be built' folder</li>
    </ul>

    <h4 class="heading-small">Iteration from research</h4>
    <p><a href="https://tools.hmcts.net/confluence/display/ROC/UX+Sprint+5+Design+User+Test+Results">Research findings</a></p>


    <p>
      <span class="bold">Finding</span>: YYY.<br />
      <span class="bold">Action</span>: ZZZ.
    </p>

    <hr>

    <h2 class="heading-medium">Public Beta Sprint 4 - Jun 2018 </h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-jun-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-jun-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-jun-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-jun-2018/misc/">Misc</a></li>
    </ol>


    <h3 class="heading-medium">Main changes this sprint</h3>
    <h4 class="heading-small">New features</h4>
    <ul class="list-bullet no-indent">
      <li>Added certificates of cancellation/satisfaction</li>
      <li><a href="prototypes/prototype-jun-2018/dashboard/defendant?defendant=3">Applications journeys</a> (cancel/satisfy, vary an order & set aside )  + <a href="https://pq9ij7.axshare.com/#p=set_aside___app_to_cancel_or_satify">process map</a> </li>
      <li><a href="/prototypes/prototype-jun-2018/dashboard/claimant?claimant=8">Dispute the claim</a>  - claimant response</li>
      <li><a href="/prototypes/prototype-jun-2018/dashboard/claimant?claimant=7">Paid less than claim amount</a>  - claimant response</li>
      <li>Paid in full journey</li>
      <li>Discontinuation journey</li>
      <li>New dashboard states</li>
    </ul>

    <h4 class="heading-small">Iteration from research</h4>
    <p><a href="https://tools.hmcts.net/confluence/display/ROC/testUX+Sprint+4+Design+User+Test+Results">Research findings</a></p>


    <p>
      <span class="bold">Finding</span>: YYY.<br />
      <span class="bold">Action</span>: ZZZ.
    </p>

    <hr>

    <h2 class="heading-medium">Public Beta Sprint 2 - May 2018 </h2>
    <ol class="list list-number">
      <li><a href="prototypes/prototype-may-2018/claimant/index">Claimant - make claim</a> </li>
      <li><a href="prototypes/prototype-may-2018/defendant/index">Defendant - response </a></li>
      <li><a href="prototypes/prototype-may-2018/dashboard/index">Dashboard inc idam</a></li>
      <li><a href="prototypes/prototype-may-2018/misc/">Misc</a></li>
    </ol>


    <h3 class="heading-medium">Main changes this sprint</h3>
    <h4 class="heading-small">New features</h4>
    <ul class="list-bullet no-indent">
      <li>Part admission defendant and claimant response </li>
      <li>States paid defendant and claimant response</li>
      <li>Added PDFs for settlement agreements and judgment orders</li>
      <li>Started paid in full journeys</li>
      <li>Started certificate of satisfaction/cancellation journeys</li>
    </ul>

    <h4 class="heading-small">Iteration from research</h4>
    <p><a href="https://tools.hmcts.net/confluence/display/ROC/UX+Sprint+2+Design+User+Test+Results">Research findings</a></p>

    <p>
      <span class="bold">Finding</span>: Defendants didn't understand the repayment plan and settlement agreement were seperate things.<br />
      <span class="bold">Action</span>: Took the settlement agreement out of defendant flow and had it instigated by claimant.
    </p>
    <p>
      <span class="bold">Finding</span>: Defendants felt it would be useful to work out income/outgoings before suggesting repayments.<br />
      <span class="bold">Action</span>: Moved SOM to before repayment plan.
    </p>
    <p>
      <span class="bold">Finding</span>: Going from 'when will you pay' straight into statement of means a bit disorientating.<br />
      <span class="bold">Action</span>: SOM given own task list section.
    </p>

    <hr>


        <h2 class="heading-small">Public Beta Sprint 1 - April 2018 </h2>
        <ol class="list list-number">
          <li><a href="prototypes/prototype-april-2018/claimant/index">Claimant - make claim</a> </li>
          <li><a href="prototypes/prototype-april-2018/defendant/index">Defendant - response </a></li>
          <li><a href="prototypes/prototype-april-2018/dashboard/index">Dashboard inc idam</a></li>
        </ol>

        <hr>


        <a href="log">Pre-public beta prototypes</a>
    </details>

    </div>
    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Controls</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
              <li><a class="secondary-button" href="/prototype-admin/clear-data">&nbsp; &nbsp; Clear data &nbsp; &nbsp;</a></li>
          </ul>
        </nav>
      </aside>
    </div>



  </div>
</main>
{% endblock %}
