{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Citizen prototypes  <strong class="phase-tag">BETA</strong></h1>

<details class="form-group" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <h2 class="heading-medium" style="margin-top: 0; margin-bottom: 0; display: inline-block;">Features to be built</h2>
        </summary>
      <div class="panel">
              <ol class="list list-number">

        <li><a href="/claimant/full/c-4/index">Claimant - make claim</a> </li>
        <li><a href="/defendant/full/d-5/index">Defendant - response </a></li>
        <li><a href="/dashboard/v4/index">Dashboard (request CCJ)</a></li>
        <li><a href="/dashboard/v4/index-offers">Offers</a></li>
        <li><a href="/defendant/full/d-5/correspondence/index">Letters and sealed claim forms</a></li>
              </ol>
</div>

      <div class="panel">
        <h2 class="heading-small">Gov guidance structure and MCOL and Beta journeys</h2>
              <ol class="list list-number">
              <li><a href="/dashboard/v4/idam/gov/v2/overview">Gov guidance and mcol/beta structure </a></li>
                <li><a href="https://rtahr9.axshare.com/mcol___beta_v2.html">Process map</a></li>
              </ol>
</div>
      </details>







      <h2 class="heading-medium">Public Beta Sprint 1 - Apr 2018 </h2>

      <ol class="list list-number">
            <li><a href="prototypes/prototype-april-2018/claimant/index">Claimant - make claim</a> </li>
            <li><a href="prototypes/prototype-april-2018/defendant/index">Defendant - response </a></li>
            <li><a href="prototypes/prototype-april-2018/dashboard/index">Dashboard inc idam</a></li>
          </ol>


      <h2 class="heading-medium">Archived prototypes </h2>

      <a href="log">View logs</a>
    </div>
    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Controls</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <ul>
              <li>
                <a class="secondary-button" href="/prototype-admin/clear-data">&nbsp; &nbsp; Clear data &nbsp; &nbsp;</a>
              </li>
            </ul>
            <!--<li>-->
              <!--<form method="post">-->
                <!--<input class="button-secondary" type="submit" value="Clear data">-->
                <!--</form>-->
                <!--</input>-->
                <!--</li>-->
              </ul>
            </nav>
          </aside>
        </div>
      </div>
    </main>
    {% endblock %}
