{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype - Test
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Civil Money Claims</h1>
      <p class="lede">UX Prototypes </p>

      <h2 class="heading-medium">Public beta prototypes </h2>
      <p>Prototype for the assessment and day 1 of public beta</p>
      <ol class="list list-number">
        <li><a href="/claimant/full/c-4/index">Claimant - make claim</a> </li>
        <li><a href="/defendant/full/d-5/index">Defendant - response </a></li>
        <li><a href="/dashboard/v4/index">Dashboard inc idam</a></li>
      </ol>

      <h2 class="heading-medium">Post public beta prototypes </h2>
      <p>Additional functionality post public launch </p>

      <ol class="list list-number">
        <li><a href="/claimant/full/c-5/index">Claimant - make claim</a> </li>
        <li><a href="/defendant/full/d-6/index">Defendant - response </a></li>
        <li><a href="/dashboard/v5/index">Dashboard inc idam</a></li>
      </ol>
      <details>
        <summary>Testing quick links</summary>
        <ol class="list list-number">
          <li><a href="/dashboard/v4/idam/start-page2">Make a claim - start page</a></li>
          <li><a href="/dashboard/v4/idam/start-page">Respond to a claim - start page</a></li>
          <li><a href="/dashboard/v4/idam/sign-in">Sign in page </a></li>
          <li><a href="/dashboard/v4/home">Dashboard page</a></li>
        </ol>
      </details>

      <h2 class="heading-medium">Archive prototypes</h2>

      <details>
        <summary>MVP prototypes</summary>
     <ol class="list list-number">
        <li><a href="/claimant/mvp/c-1/index">Claimant - make claim (MVP)</a> </li>
        <li><a href="/defendant/mvp/d-2/index">Defendant - response (MVP)</a></li>
      </ol>
      </details>


      <a href="log">View version history</a>
    </div>
    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Controls</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <ul>
              <li>
                <a class="secondary-button" href="/prototype-admin/clear-data">&nbsp; &nbsp; Clear data &nbsp; &nbsp;</a>
              </li>
            </ul>
            <!--<li>-->
              <!--<form method="post">-->
                <!--<input class="button-secondary" type="submit" value="Clear data">-->
                <!--</form>-->
                <!--</input>-->
                <!--</li>-->
              </ul>
            </nav>
          </aside>
        </div>
      </div>
    </main>
    {% endblock %}
