{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<div style="margin: 30px 0 45px 0;"><img src="/public/images/hmcts-logo.png"></div>-->

      <h1 class="heading-large">Civil Money Claims</h1>
      <p class="lede">UX Prototype - for research purposes</p>

      <div class="panel panel-border-wide">
        <p>
          Please note that this is only a concept, based on user research and analysis carried out to date. It will be
          subject to ongoing change
          and revision.

          <!--It is not representative of the full journey, nor has it been fact checked. It will be subject to ongoing change-->
          <!--and revision.-->
        </p>
      </div>

      <h2 class="heading-medium">Private Beta - Latest iteration</h2>
      <ol class="list list-number">
        <li><a href="/prototype-15/index">Claimant - make claim</a> (User testing TBD)</li>
        <p class="font-xsmall">Areas of focus around improving the claim details journey <strong class="bold">ONLY</strong>. <br><br>
          Common components IDAM and GOV.UK Pay are integrated for testing purposes.</p>
      </ol>
        <li><a href="/prototype-16/index">Defendant - response</a> (User testing 25.05.2017)</li>
        <p class="font-xsmall">Testing for beta <strong class="bold">ONLY</strong>. <!-- <br><br>
          Common components IDAM and GOV.UK Pay are integrated for testing purposes. --></p>
      </ol>
      <h2 class="heading-medium">Alpha - Latest iteration</h2>
      <ol class="list list-number">
        <li><a href="/prototype-10/index">Claimant - make claim and reply to defendant</a> (User testing 07.03.2017)</li>
        <li><a href="/prototype-11/index">Defendants - response</a> (User testing 07.03.2017)</li>
        <li><a href="/prototype-13/index">Agreement</a> (User testing 03.07.2017)</li>
      </ol>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Controls</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <ul>
              <li>
                <a class="secondary-button" href="/prototype-admin/clear-data">&nbsp; &nbsp; Clear data &nbsp; &nbsp;</a>
              </li>
            </ul>
            <!--<li>-->
              <!--<form method="post">-->
                <!--<input class="button-secondary" type="submit" value="Clear data">-->
              <!--</form>-->
              <!--</input>-->
            <!--</li>-->
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</main>

{% endblock %}


