{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
  {% block extra_css %}{% endblock %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="{% block home_link %} {{ defaultHome }} {% endblock %}" id="proposition-name">
        {# Set serviceName in config.js. Use a block to override on a page. #}
        {% block service_name %}
          {% if serviceName %} {{ serviceName }} {% endif %}
        {% endblock %}
      </a>
      <ul id="proposition-links">
        <!--<li><a href="url-to-page-1" class="active">Navigation item #1</a></li>-->
        <li><a href="url-to-page-2" data-alert="This feature is not available in this demo">Sign out</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}
{% block footer_support_links %}
  {% if useAutoStoreData %}
     <ul>
       <li>
         <a href="/prototype-admin/clear-data">Clear data</a>
       </li>
     </ul>
   {% endif %}
 {% endblock %}

{% block body_end %}
{% include "includes/scripts.html" %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% block extra_js_1 %}{% endblock %}
{% block extra_js_2 %}{% endblock %}
{% endblock %}
