<!--{% extends "govuk_template.html" %} {% block head %} {% include "includes/head.html" %} {% endblock %} {% block cookie_message %}-->
<!--<p>{{cookieText | safe }}</p>-->
<!--{% endblock %} {% block proposition_header %}-->
<!--<div class="header-proposition">-->
  <!--<div class="content">-->
    <!--<a href="#proposition-links" class="js-header-toggle menu">Menu</a>-->
    <!--<nav id="proposition-menu">-->
      <!--<a href="{% block home_link %} {{ defaultHome }} {% endblock %}" id="proposition-name">-->

      <!--</a>-->
      <!--&lt;!&ndash;-->
      <!--<ul id="proposition-links">-->
        <!--<li><a href="url-to-page-1" class="active">Navigation item #1</a></li>-->
        <!--<li><a href="url-to-page-2">Navigation item #2</a></li>-->
      <!--</ul>-->
      <!--&ndash;&gt;-->
    <!--</nav>-->
  <!--</div>-->
<!--</div>-->
{% endblock %} {% block header_class %} with-proposition {% endblock %} {% block footer_support_links %} {% if useAutoStoreData %}

<ul class="">
    <li><a href="/prototypes/prototype-aug-2019/dashboard/idam/cookies?type=generic" data-sso="false" data-journey-click="footer:Click:Cookies">Cookies</a></li>
    <li><a href="/prototypes/prototype-aug-2019/dashboard/idam/privacy?type=generic"  data-sso="false" data-journey-click="footer:Click:Privacy policy">Privacy policy</a></li>
    <li><a href="/prototypes/prototype-aug-2019/dashboard/idam/terms-and-conditions?type=generic"  data-sso="false" data-journey-click="footer:Click:Terms and conditions">Terms and conditions</a></li>
    <li><a href="/prototypes/prototype-aug-2019/dashboard/idam/contact-us?type=generic"  data-sso="false" data-journey-click="footer:Click:Terms and conditions">Contact us</a></li>

</ul>
<ul>
  <li>
    <a href="/prototype-admin/clear-data">Clear data</a>
  </li>
</ul>
{% endif %} {% endblock %} {% block body_end %} {% block scripts %} {% include "includes/scripts.html" %} {% block page_scripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% block extra_js_1 %}{% endblock %} {% block extra_js_2 %}{% endblock %} {% endblock %}
