{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div style="margin: 30px 0 45px 0;"><img src="/public/images/hmcts-logo.png">

    <h1 class="heading-large">Civil Money Claims - Alpha</h1>
    <p class="lede">UX Prototype Iterations Log</p>

    <!--<div class="grid-row">-->
    <!--<div class="column-two-thirds">-->

    <table>
      <thead>
      <tr>
        <th scope="col">Prototype</th>
        <th class="numeric" scope="col">User testing</th>
        <th class="numeric" scope="col">Focus area</th>
        <th class="numeric" scope="col">No. of iterations</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="prototype-1/index">Prototype 1</a></td>
        <td class="numeric">15.12.2016</td>
        <td class="numeric">Claimant - make claim</td>
        <td class="numeric">Alpha x 1</td>
      </tr>
      <tr>
        <td><a href="prototype-2/index">Prototype 2</a></td>
        <td class="numeric">15.12.2016</td>
        <td class="numeric">Defendant - response</td>
        <td class="numeric">Alpha x 1</td>
      </tr>
      <tr>
        <td><a href="prototype-3/index">Prototype 3</a></td>
        <td class="numeric">15.12.2016</td>
        <td class="numeric">Claimant - reply to defendant</td>
        <td class="numeric">Alpha x 1</td>
      </tr>
      <tr>
        <td><a href="prototype-4/index">Prototype 4</a></td>
        <td class="numeric">25.01.2017</td>
        <td class="numeric">Claimant - make claim & reply to defendant</td>
        <td class="numeric">Alpha x 2</td>
      </tr>
      <tr>
        <td><a href="prototype-5/index">Prototype 5</a></td>
        <td class="numeric">25.01.2017</td>
        <td class="numeric">Defendant - response</td>
        <td class="numeric">Alpha x 2</td>
      </tr>
      <tr>
        <td><a href="prototype-6/index">Prototype 6</a></td>
        <td class="numeric">25.01.2017</td>
        <td class="numeric">Both parties reaching agreement</td>
        <td class="numeric">Alpha x 1</td>
      </tr>
      <tr>
        <td><a href="prototype-7/index">Prototype 7</a></td>
        <td class="numeric">08.02.2017</td>
        <td class="numeric">Claimant - make claim & reply to defendant</td>
        <td class="numeric">Alpha x 3</td>
      </tr>
      <tr>
        <td><a href="prototype-8/index">Prototype 8</a></td>
        <td class="numeric">10.02.2017</td>
        <td class="numeric">Defendant - response</td>
        <td class="numeric">Alpha x 3</td>
      </tr>
      <tr>
        <td><a href="prototype-9/index">Prototype 9</a></td>
        <td class="numeric">08.02.2017</td>
        <td class="numeric">Both parties reaching agreement</td>
        <td class="numeric">Alpha x 2</td>
      </tr>
      <tr>
        <td><a href="prototype-10/index">Prototype 10</a></td>
        <td class="numeric">07.03.2017</td>
        <td class="numeric">Claimant - make claim & reply to defendant</td>
        <td class="numeric">Alpha x 4</td>
      </tr>
      <tr>
        <td><a href="prototype-11/index">Prototype 11</a></td>
        <td class="numeric">07.03.2017</td>
        <td class="numeric">Defendant - response</td>
        <td class="numeric">Alpha x 4</td>
      </tr>
      <tr>
        <td><a href="prototype-12/index">Prototype 12</a></td>
        <td class="numeric">28.02.2017</td>
        <td class="numeric">Both parties reaching agreement</td>
        <td class="numeric">Alpha x 3</td>
      </tr>
      <tr>
        <td><a href="prototype-13/index">Prototype 13</a></td>
        <td class="numeric">07.03.2017</td>
        <td class="numeric">Both parties reaching agreement</td>
        <td class="numeric">Alpha x 4</td>
      </tr>
      <tr>
        <td><a href="prototype-14/index">Prototype 14</a></td>
        <td class="numeric">03.05.2017</td>
        <td class="numeric">Claimant - make claim</td>
        <td class="numeric">Private Beta x 1</td>
      </tr>
      </tbody>
    </table>

  </div>
</main>

{% endblock %}


