{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
          <a href="#" class="link-back">Back</a>

  <h1 class="heading-large">UX Prototype Iterations Log</h1>
  <div id="tabs">
    <div class="nav-tabs">
      <ul class="tabs-nav">
        <li><a href="#tabs-1">Claimant</a></li>
        <li><a href="#tabs-2">Defendant</a></li>
        <li><a href="#tabs-3">Dashboard</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="tabs-1" class="tab-pane">
        <table class="logs">
          <thead>
            <tr>
              <th scope="col">Prototype </th>
              <th class="" scope="col">Type</th>
              <th class="" scope="col">Focus area</th>
            </tr>
          </thead>
          <tbody>
          <tr>
             <td><a href="/claimant/full/c-4/index">Claimant V4</a></td>
             <td class="">Public beta </td>
             <td class="">Final version of claimant public beta with advanced interest</td>
           </tr>
            <tr>
             <td><a href="/claimant/full/c-3/index">Claimant V3</a></td>
             <td class="">Public beta </td>
             <td class="">Includes - updated defence journey for claimant includes new timeline design and evidence listing elements</td>
           </tr>
           <tr>
             <td><a href="/claimant/full/c-2/index">Claimant V2</a></td>
             <td class="">Public beta </td>
             <td class="">Includes - updated defence journey for claimant + eligibility</td>
           </tr>
           <tr>
             <td><a href="/claimant/full/c-1/index">Claimant V1</a></td>
             <td class="">Public beta </td>
             <td class="">Includes - eligibility, company + orgs, full case details</td>
           </tr>
           <tr>
            <td><a href="archive/prototype-17/index">Claimant V2</a></td>
            <td class="">Private Beta</td>
            <td class="">Includes - includes time line evidence, how this dispute has affected you. Includes link to simple dashboard to manage claim. Final content ready for private beta</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-15/index">Claimant V1</a></td>
            <td class="">Private Beta</td>
            <td class="">Includes - simplified eligibility journey and introduction of adding interest to claim </td>
          </tr>
          <tr>
            <td><a href="archive/prototype-14/index">Claimant V10</a></td>
            <td class="">Alpha</td>
            <td class="">Claimant - make claim</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-13/index">Claimant V9</a></td>
            <td class="">Alpha</td>
            <td class="">Both parties reaching agreement</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-12/index">Claimant V8</a></td>
            <td class="">Alpha</td>
            <td class="">Both parties reaching agreement</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-10/index">Claimant V7</a></td>
            <td class="">Alpha</td>
            <td class="">Claimant - make claim & reply to defendant</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-9/index">Claimant V6</a></td>
            <td class="">Alpha</td>
            <td class="">Both parties reaching agreement</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-7/index">Claimant V5</a></td>
            <td class="">Alpha</td>
            <td class="">Claimant - make claim & reply to defendant</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-6/index">Claimant V4</a></td>
            <td class="">Alpha</td>
            <td class="">Both parties reaching agreement</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-4/index">Claimant V3</a></td>
            <td class="">Alpha</td>
            <td class="">Claimant - make claim & reply to defendant</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-3/index">Claimant V2</a></td>
            <td class="">Alpha</td>
            <td class="">Claimant - reply to defendant</td>
          </tr>
          <tr>
            <td><a href="archive/prototype-1/index">Claimant  V1</a></td>
            <td class="">Alpha</td>
            <td class="">Claimant - make claim</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="tabs-2" class="tab-pane">
     <table class="logs">
      <thead>
        <tr>
          <th scope="col">Prototype </th>
          <th class="" scope="col">Type</th>
          <th class="" scope="col">Focus area</th>
        </tr>
      </thead>
      <tbody>
              <tr>
          <td><a href="/defendant/full/d-5/index">Defendant V5 </a></td>
          <td class="">Public beta </td>
          <td class="">Includes -  final version of public beta</td>
        </tr>
        <tr>
          <td><a href="/defendant/full/d-4/index">Defendant V4 </a></td>
          <td class="">Public beta </td>
          <td class="">Includes - introducing counter claims into the defendant journey. Also offers is removed from the defence journey and placed on the confirmation page</td>
        </tr>
        <tr>
          <td><a href="/defendant/full/d-3/index">Defendant V3 </a></td>
          <td class="">Public beta </td>
          <td class="">Includes - statement of means journey for all admission routes.  </td>
        </tr>
        <tr>
          <td><a href="/defendant/full/d-2/index">Defendant V2 </a></td>
          <td class="">Public beta </td>
          <td class="">Includes - updated defence journey including timeline, evidence and how the dispute affected you</td>
        </tr>
        <tr>
          <td><a href="/defendant/full/d-1/index">Defendant V1</a></td>
          <td class="">Public beta</td>
          <td class="">Includes - more defence options, suggestions, full defence journey and simple dashboard to manage claim</td>
        </tr>
        <tr>
          <td><a href="archive/prototype-18/index">Defendant 2</a></td>
          <td class="">Private Beta</td>
          <td class="">Includes- Final version stable with latest content for private beta launch</td>
        </tr>
        <tr>
          <td><a href="archive/prototype-16/index">Defendant 1</a></td>
          <td class="">Private Beta </td>
          <td class="">Includes- paper hands off for all journeys apart from full defence and states paid</td>
        </tr>
        <tr>
          <td><a href="archive/prototype-11/index">Defendant 4</a></td>
          <td class="">Alpha</td>
          <td class="">Defendant - response</td>
        </tr>
        <tr>
          <td><a href="archive/prototype-8/index">Defendant 3</a></td>
          <td class="">Alpha</td>
          <td class="">Defendant - response</td>
        </tr>
        <tr>
          <td><a href="archive/prototype-5/index">Defendant 2</a></td>
          <td class="">Alpha</td>
          <td class="">Defendant - response</td>
        </tr>
        <tr>
          <td><a href="archive/prototype-2/index">Defendant 1</a></td>
          <td class="">Alpha</td>
          <td class="">Defendant - response</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="tabs-3" class="tab-pane">
   <table class="logs">
    <thead>
      <tr>
        <th scope="col">Prototype </th>
        <th class="" scope="col">Type</th>
        <th class="" scope="col">Focus area</th>
      </tr>
    </thead>
    <tbody>
    <tr>
       <td><a href="/dashboard/v4/index">Dashboard V4</a></td>
       <td class="">Public beta </td>
       <td class="">Includes - final version for public beta </td>
     </tr>
     <tr>
       <td><a href="/dashboard/v3/index">Dashboard V3</a></td>
       <td class="">Public beta </td>
       <td class="">Includes - Changes to settle out court and new tabbed design </td>
     </tr>
     <tr>
       <td><a href="/dashboard/v2/index">Dashboard V2</a></td>
       <td class="">Public beta </td>
       <td class="">Includes - updates to the layout and application journeys </td>
     </tr>
     <tr>
       <td><a href="/dashboard/v1/index">Dashboard V1</a></td>
       <td class="">Private beta </td>
       <td class="">Includes - updated defence journey for claimant + eligibility</td>
     </tr>
   </tbody>
 </table>
</div>
</div>
</div>
</div>
</main>
<script src="/public/javascripts/jquery-ui.js"></script>
<script type="text/javascript">
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
{% endblock %}
