{% extends "layout_unbranded.html" %}
{% block proposition_header %}
{% include "includes/propositional_navigation_no_login.html" %}
{% endblock %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">You can't make your counterclaim using this service</h1>

      <p>You need to respond and counterclaim on paper if you want help to pay your counterclaim court fee.</p>

      <a href="https://www.gov.uk/get-help-with-court-fees">Learn more about getting help with fees</a>
</p>

        <h2 class="heading-medium">Respond and counterclaim on paper</h2>

        <p><a target="_blank" href='https://www.gov.uk/government/publications/form-n9b-defence-counterclaim-specified-amount'>Download a paper form</a> <span class="font-xsmall">(opens in a new window)</span>, complete it and send it to:</p>

        <p>
          Civil Money Claims<br />
          St. Katharine's House<br />
          21-27 St. Katharine's Street<br />
          Northampton<br />
          NN1 2LH
        </p>


      <h2 class="heading-medium">Continue using this service</h2>

      <p>If you don't want to respond and counterclaim on paper, you can either:</p>
      <ul class="list-bullet list">
        <li><a href="../../task-list?counter=NOT-PROCEED">continue your response online with no counterclaim</a></li>
        <li><a href="../../task-list">continue online and pay the counterclaim fee yourself</a></li>

      </ul>

      <p>If you continue your response online, you can't include the counterclaim, but you could make a new claim afterwards. This may mean you pay more in fees.</p>

    </div>
  </div>
{% include 'prototypes/prototype-jun-2019/includes/contact.html' %}
</main>
{% endblock %}
