{% extends "layout.html" %}


{% import 'prototypes/prototype-sep-2019/includes/upload.html' as upload %}
{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" onclick="history.go(-1)" class="link-back">Back</a>

      <h1 class="heading-large">
        Enter any other information relevant to your application
      </h1>

      {% if  data['general-application'] == 'true' %}
          {% if  data['general-app-hearing'] == 'true' %}
                <form action="../../../defendant/task-list/hearing/support" method="get" class="form">
          {% else %}
                <form action="../general-application/check-answers" method="post" class="form">
          {% endif %}
      {% else %}
          <form action="task-list?otherinfosection=complete&scenario=ccjsetaside" method="post" class="form">
      {% endif %}

            <div class="form-group">
              <textarea class="form-control form-control-3-4 " id="any-other-information" rows="3"
                        name="any-other-information" type="text" style="width: 100%; height:150px;">{{ data['any-other-information'] }}</textarea>
            </div>

            <div class="form-group">
              <input type="submit" class="button" value="Continue"/>
            </div>

      </form>

    </div>
  </div>

  {% include 'prototypes/prototype-sep-2019/includes/contact.html' %}
</main>
{% endblock %}
