{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
                About your claim
            </h1>

      <div class="form-group">
        <fieldset>
          <div class="form-fields">
            <fieldset>
              <legend>Type of claim</legend>
              <p>Choose the option that best describes why you're making a claim.</p>

              <form>
                <div class="form-group">
                  <fieldset>

                    <legend class="visually-hidden">Choose the option that best describes why you're making a claim.
                    </legend>

                    <div class="multiple-choice">
                      <input id="radio-1" type="radio" name="radio-group" value="Yes">
                      <label for="radio-1">Money lent but not repaid</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="radio-3" type="radio" name="radio-group" value="No">
                      <label for="radio-3">Unpaid wages or invoices</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="radio-4" type="radio" name="radio-group" value="No">
                      <label for="radio-4">Bad service - for example from a builder or phone company</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="radio-5" type="radio" name="radio-group" value="No">
                      <label for="radio-5">Faulty goods - for example a TV or car</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="radio-6" type="radio" name="radio-group" value="No">
                      <label for="radio-6">Holiday or travel problems, including flights</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="radio-7" type="radio" name="radio-group" value="No">
                      <label for="radio-7">Landlord-tenant dispute, including unpaid rent</label>
                    </div>

                    <!-- <div class="multiple-choice">
                                          <input id="radio-8" type="radio" name="radio-group" value="No">
                                          <label for="radio-8">Personal injury</label>
                                        </div> -->

                    <div class="multiple-choice">
                      <input id="radio-9" type="radio" name="radio-group" value="No">
                      <label data-target="other" for="radio-9">Other</label>
                    </div>


                    <div class="panel panel-border-narrow js-hidden" id="other">
                      <label class="form-label" for="other">Give a brief description of your
                                                claim</label>
                      <input class="form-control" name="other" type="text" id="other">
                    </div>

                  </fieldset>
                </div>
              </form>

              <form>
                <div class="form-group">
                  <fieldset>
                    <legend>When did the problem start?</legend>
                    <p>This could be a specific date or over a period of time.</p>

                    <legend class="visually-hidden">When did the problem start?</legend>

                    <div class="multiple-choice">
                      <input id="radio-no" type="radio" name="radio-indent-group" value="No">
                      <label for="radio-no" data-target="no-info">On a specific date</label>
                    </div>

                    <div class="panel panel-border-narrow js-hidden" id="no-info">
                      <fieldset>
                        <p class="form-label-bold">Date</p>

                        <div class="form-date">

                          <p class="form-hint">For example, 29 5 2016</p>

                          <div class="form-group form-group-day">
                            <label for="dob-day">Day</label>
                            <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                          </div>

                          <div class="form-group form-group-month">
                            <label for="dob-month">Month</label>
                            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                          </div>

                          <div class="form-group form-group-year">
                            <label for="dob-year">Year</label>
                            <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                          </div>
                        </div>

                      </fieldset>
                    </div>

                    <div class="multiple-choice">
                      <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
                      <label for="radio-yes" data-target="yes-info">Over a period of time</label>
                    </div>

                    <div class="panel panel-border-narrow js-hidden" id="yes-info">
                      <!--<legend class="form-label">From</legend>-->
                      <div class="form-group">
                        <fieldset>
                          <p class="form-label-bold">From</p>

                          <div class="form-date">

                            <p class="form-hint">For example, 29 5 2016</p>

                            <div class="form-group form-group-day">
                              <label for="dob-day">Day</label>
                              <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>

                            <div class="form-group form-group-month">
                              <label for="dob-month">Month</label>
                              <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>

                            <div class="form-group form-group-year">
                              <label for="dob-year">Year</label>
                              <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                            </div>
                          </div>

                        </fieldset>
                      </div>
                      <div class="form-group">
                        <fieldset>
                          <p class="form-label-bold">To</p>

                          <div class="form-date">

                            <p class="form-hint">For example, 29 5 2016</p>

                            <div class="form-group form-group-day">
                              <label for="dob-day">Day</label>
                              <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>

                            <div class="form-group form-group-month">
                              <label for="dob-month">Month</label>
                              <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>

                            <div class="form-group form-group-year">
                              <label for="dob-year">Year</label>
                              <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </fieldset>
                </div>
              </form>

              <!--<fieldset>-->
              <!--<legend>When did the problem start?</legend>-->
              <!--<div class="input form-group date optional claimant_date_of_birth field_with_hint">-->
              <!--<p class="form-hint text">This could be a specific date - eg 23/04/2016 or a period of-->
              <!--time - for example from 23/04/2016 to 30/10/2016 </p>-->
              <!--<div id="describe-wrapper-claim-details-1" class="form-group">-->
              <!--<label class="form-label-bold" for="claim-details-1">-->

              <!--</label>-->
              <!--<textarea class="form-control"-->
              <!--id="claim-details-1"-->
              <!--rows="3"-->
              <!--name="claim-details1"-->
              <!--type="text"-->
              <!--style="width: 100%"></textarea>-->
              <!--</div>-->
              <!--<a class="button" href="claim-details" role="button">Continue</a>-->
              <!--</div>-->
              <!--</fieldset>-->

              <!--<fieldset>-->
              <!--<legend>When did it happen?</legend>-->
              <!--&lt;!&ndash;<legend class="form-label">What did it happen?</legend>&ndash;&gt;-->
              <!--<div class="input form-group date optional claimant_date_of_birth field_with_hint">-->
              <!--<p class="form-hint text">For example, 23 04 1981</p>-->
              <!--<div class="input form-group know-date-input">-->
              <!--<div class="input form-group tel required claimant_date_of_birth_day">-->
              <!--<label-->
              <!--class="tel required form-label"-->
              <!--for="claimant_date_of_birth_day">Day</label><input-->
              <!--class="string tel required form-control" maxlength="2"-->
              <!--type="tel"-->
              <!--size="2" name="claimant[date_of_birth][day]"-->
              <!--id="claimant_date_of_birth_day"></div>-->
              <!--<div class="input form-group tel required claimant_date_of_birth_month">-->
              <!--<label-->
              <!--class="tel required form-label"-->
              <!--for="claimant_date_of_birth_month">Month</label><input-->
              <!--class="string tel required form-control" maxlength="2"-->
              <!--type="tel"-->
              <!--size="2" name="claimant[date_of_birth][month]"-->
              <!--id="claimant_date_of_birth_month"></div>-->
              <!--<div class="input form-group tel required claimant_date_of_birth_year">-->
              <!--<label-->
              <!--class="tel required form-label"-->
              <!--for="claimant_date_of_birth_year">Year</label><input-->
              <!--class="string tel required form-control" maxlength="4"-->
              <!--type="tel"-->
              <!--size="4" name="claimant[date_of_birth][year]"-->
              <!--id="claimant_date_of_birth_year"></div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</fieldset>-->

            </fieldset>
            <a class="button" href="claim-details" role="button">Continue</a>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</main>


{% endblock %}
