{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}
<style type="text/css">
  .report-error {
    display: none
  }
</style>
<main id="content" role="main">


  <h2 class="heading-medium">Defendant responding </h2>

  <ol class="list list-number">
    <li><a href="correspondence/email">Email</a></li>
    <li><a href="correspondence/letter">Letter</a></li>
    <li><a href="correspondence/forms/claim-form-claimant?check=9">Sealed claim </a></li>

      <li><a href="../dashboard/idam/gov/v2/overview">Gov overview page</a></li>
      <li><a href="../dashboard/idam/gov/v2/respond?mcol2=1">Start page (gov.uk page)</a></li>
      <li><a href="../../prototype-jan-2021/dashboard/idam/gov/respond">Start page (OCMC service page)</a></li>
      <li><a href="../dashboard/idam/enter-claim-reference">Enter claim number and security code</a></li>
      <li><a href="../dashboard/idam/view-claim">View claim</a></li>
      <li><a href="../dashboard/idam/sign-in">Sign in page</a></li>
      <li><a href="../dashboard/idam/verify-email?to=Mary%20Richards">Verify your email address instructions</a> (click on john.smith@gmail.com)</li>
      <li><a href="../dashboard/idam/email-verify?to=Mary%20Richards">Email with link to verify account</a></li>
      <li><a href="../dashboard/idam/sign-in">Sign in page </a></li>

  </ol>

  <hr>

  <h2 class="heading-medium">Task list</h2>
  <ol class="list list-number">
    <li><a href="task-list">Task list</a></li>
    <li>
    <form method="post" action="task-list" class="form">
      {{formData | safe}}
      <input type="hidden" name="mediation-pilot" value="on">
      <button type="submit" class="link"><span>Mediation pilot - claim value £300 or under</span></button>
    </form>
    </li>
  </ol>

  <hr>

  <!--<h2 class="heading-medium">Mediation pilot</h2>-->
  <!--<p>Parties are automatically registered for free telephone mediation for claim value of £300 (excluding court fee)</p>-->
  <!--<ol class="list list-number">-->
    <!--<li><a href="correspondence/email4">Email</a></li>-->
    <!--<li><a href="../dashboard/idam/enter-claim-reference2">Enter claim number</a></li>-->
    <!--<li><a href="../dashboard/idam/enter-access-code2">Enter security code</a></li>-->
    <!--<li><a href="../dashboard/idam/view-claim2">View claim</a></li>-->
    <!--<li><a href="task-list">Task list</a></li>-->
  <!--</ol>-->

  <fieldset></fieldset>
  <!--  THIS IS ALL OUT OF DATE AND NEEDS UPDATING AT SOME POINT


      <h2 class="heading-medium">Check before you start</h2>
      <ol class="list list-number">

        <li><a href="task-list/your-details">Check your details</a></li>
        <li><a href="task-list/more-time-to-respond">More time to respond to claim</a></li>
      </ol>


      <h2 class="heading-medium">Respond to claim </h2>
      <ol class="list list-number">
        <li><a href="task-list/do-you-owe-money">Do you owe money</a></li>
        <li><a href="task-list/owe-all">I admit all of the claim</a></li>
        <li><a href="task-list/your-defence/partial">I admit part of the claim</a></li>
        <li><a href="task-list/do-you-owe-money/defence-options?handoffs=4">I reject all of this claim</a></li>
        <li><a href="task-list/do-you-owe-money/forms?handoffs=1">Form hand offs</a></li>
      </ol>


      <h2 class="heading-medium">Why do you reject the claim?</h2>
        <ol class="list list-number">

          <li><a href="task-list/do-you-owe-money/paid?radio_select_group2=paid&do_you_owe_money=complete">I've paid what I owe</a></li>

        <li><a href="task-list/do-you-owe-money/defence-options">I dispute the claim </a></li>
        <li><a href="task-list/do-you-owe-money/forms?radio_select_group=defend_now_cc">I dispute the claim and want to make a counterclaim</a></li>
        </ol>
     <h2 class="heading-small">I've paid what I owe  </h2>
        <ol class="list list-number">

    <li><a href="task-list?radio_select_group2=amount_claimed&dashboard=3&radio_select_group=amount_claimed">The amount claimed</a></li>
        <li><a href="task-list/do-you-owe-money/forms?handoffs=3">Less than the amount claimed</a></li>
        </ol>

       <h2 class="heading-small">The amount claimed  </h2>

       <ol class="list list-number">
         <li><a href="task-list/your-defence/paid-amount">When did you pay</a></li>
        </ol>

     <h2 class="heading-small">I dispute the claim  </h2>
      <ol class="list list-number">
      <li><a href="task-list/your-defence/defence-1">Why do you disagree with the claim?</a></li>
      <li><a href="task-list/your-defence/defence-2">Timeline of events</a></li>
      <li><a href="task-list/your-defence/defence-3">Add evidence</a></li>
      <li><a href="task-list/your-defence/defence-4">Affected you</a></li>
      <li><a href="task-list/mediation">Free mediation</a></li>
      </ol>






      <h2 class="heading-medium">Check and submit your response </h2>

      <ol class="list list-number">
        <li><a href="task-list/check-and-send?check=9">Check your answers</a></li>
        <li><a href="confirmation-page?confirmation=12">Confirmation page</a></li>
        <li><a href="correspondence/forms/claim-form-defendant?check=9">Defendant downloadable claim form</a></li>
      </ol>

    -->

  </div>
{% include 'prototypes/features-to-be-built/includes/contact.html' %}
</main>
{% endblock %}
