{% extends "layout_task-list.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block home_link %} ../task-list {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Choose how to proceed
      </h1>


      <form
      name="aspnetForm"
      method="post"
      onsubmit="multiNavigation('radio-proceed', ['settlement', 'judgment'], ['../task-list', '../../../../dashboard/applications-and-judgments/default-judgment/claim-amount-deduct']);return false;"
      id="aspnetForm"
      autocomplete="off">


      <div class="form-group">
        <fieldset>

          <legend class="visually-hidden">Choose how to proceed</legend>
          <p>There are two ways to formalise the repayment plan:</p>

          <div class="multiple-choice">
            <input id="radio-settlement" type="radio" name="radio-proceed" value="settlement">
            <label for="radio-settlement">
              <strong class="bold">Sign a settlement agreement</strong>
              <p>This is a legal agreement between you and the defendant agreeing to the repayment plan. If they break it you can request a County Court Judgment.</p>
            </label>
          </div>

          <div class="multiple-choice">
            <input id="radio-judgment" type="radio" name="radio-proceed" value="judgment">
            <label for="radio-judgment">
              <strong class="bold">Request a County Court Judgment (CCJ)</strong>
              <p>You can ask the court to make a formal order binding the defendant to the repayment plan. This adds the defendant to the CCJ register, which may make it more difficult for them to borrow money to repay you.</p>
            </label>
          </div>

        </fieldset>

        <div class="form-group">
          <input type="hidden" name="proceed" value="complete">
          <input type="submit" class="button" value="Save and continue"/>
        </div>

      </div>


    </div>
  </div>
</main>
{% endblock %}
