{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

    <form
      name="aspnetForm"
      method="post"
      onsubmit="conditionalNavigation('radio-indent-group', 'Yes', 'finished/confirmation-page', '../claimant?claimant=11.21&');return false;"
      autocomplete="off">


      <div class="form-group">
        <h1 class="heading-large">Have you uploaded all of your evidence and witness statements?</h1>

        <fieldset>
          <div class="multiple-choice" data-target="finished">
            <input id="radio-1" type="radio" name="radio-indent-group" value="Yes">
            <label for="radio-1">Yes</label>
          </div>
          <div id="finished" class="js-hidden panel">
            You won't be able to upload more after you continue from this page
          </div>
          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="radio-indent-group" value="No">
            <label for="radio-2">No</label>
          </div>
        </fieldset>

        <div class="form-group" id="submit">
          <input type="submit" class="button" value="Continue" />
        </div>


      </div>
    </form>

    </div>
  </form>
</div>
</div>
{% include 'prototypes/prototype-may-2019/includes/contact.html' %}
</main>
{% endblock %}
