{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <form method="get" autocomplete="off" action="statement-builder/your-claim">

        <h1 class="heading-large">Make your witness statement</h1>
        <p>We need to ask you some questions to make a 'witness statement'.</p>

        <p>A witness statement is a document that explains your view of the case to a judge.</p>

        <p>We'll ask you to explain the claim and list evidence.</p>

        <p>You can repeat information you told us when you made the claim.</p>


      <div class="form-group">
        <input type="submit" class="button" value="Continue"/>
      </div>

    </form>
  </div>
</div>
{% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
