{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Describe your claim
      </h1>

      <div class="form-group">
        <fieldset>
          <div class="form-fields">
            <fieldset>
              <!--<legend>Brief summary</legend>-->
              <p class="lede">Summarise your claim in no more than 2 sentences.</p>

              <div id="claim-details">
                <div id="describe-wrapper-claim-details-1" class="form-group">
                  <!--<label class="form-label-bold" for="claim-details-1">-->
                  <!--What do you want to say?-->
                  <!--<span class="form-hint">&lt;!&ndash; Give your own version of events if different from the claimant's ... &ndash;&gt;</span>-->
                  <!--</label>-->
                  <textarea class="form-control"
                            id="claim-details-1"
                            rows="5"
                            name="claim-details1"
                            type="text"
                            style="width: 90%"></textarea>
                </div>
              </div>

            </fieldset>
            <a class="button" href="claim-details-hybrid" role="button">Continue</a>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</main>


{% endblock %}

