{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

        <form method="post" action="witnesses" class="form">

        <h1 class="heading-large">Tell us if you intend to hire experts</h1>

        <p>You don't have to hire an expert, but if the claim goes to a hearing you may want one to give evidence which supports your case.</p>

        <h3 class="heading-medium">Examples of an expert</h3>

        <p>An expert can be anyone with specialist knowledge.</p>

        <p>For example a builder who inspected work on your home or a mechanic who can examine your car.</p>

        <h3 class="heading-medium">Hiring an expert</h3>

        <p>You must arrange and pay for any experts. The court won't do this for you.</p>

          <p>If the judge rules in your favour, they can order the {% if data['party'] == 'claimant' %}defendant{% else %}claimant{% endif %} to pay up to £750 of the amount you paid to hire experts.</p>

          <h1 class="heading-medium">
            Do you intend to hire experts?
          </h1>

        <div class="form-group">
          <fieldset>
            <div class="multiple-choice" data-target="witnesses">
              <input id="radio-expert-yes" type="radio" name="expert-witnesses" value="yes">
              <label for="radio-expert-yes">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-expert-no" type="radio" name="expert-witnesses" value="no">
              <label for="radio-expert-no">No</label>
            </div>
          </fieldset>
        </div>

        <div id="witnesses" class="js-hidden">

          <h2 class="heading-medium">Expert details</h2>

          <div id="add-another">


            <div class="form-group">
              <label class="form-label" for="witness-name">Their name</label>
              <input class="form-control " id="witness-name" name="witness-name" type="text" value="">
            </div>
            <div class="form-group">
              <label class="form-label" for="witness-area">Their area of expertise</label>
              <input class="form-control " id="witness-area" name="witness-area" type="text" value="">
            </div>
            <div class="form-group">
              <label class="form-label" for="witness-cost">Expected cost</label>
              <input class="form-control timeline-column-4 fee pound" id="witness-cost" name="witness-cost" type="text" value="">
            </div>

              <p>How will they give evidence?</p>

            <div class="form-group">
              <fieldset>
                <div class="multiple-choice">
                  <input id="radio-evidence-yes" type="radio" name="evidence" value="written">
                  <label for="radio-evidence-yes">In writing</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-evidence-no" type="radio" name="evidence" value="orally">
                  <label for="radio-evidence-no">In person</label>
                </div>
              </fieldset>
            </div>

          </div>

          <div class="form-group" style="clear: left" id="add-bit">
          <p><a href="" class="button secondary-button" id="add-another-witness">Add another expert</a></p>
          </div>

        </div>

          <div class="form-group">
            <input type="submit" class="button" value="Save and continue">
          </div>
        </form>


    </div>
  {% include 'prototypes/prototype-nov-2018/includes/contact.html' %}
</main>

<script>
  $(document).ready(function () {
    i =0;
    $('#add-another-witness').click(function (event) {
      event.preventDefault();

      objSeperator = $('<p style="margin-top:20px;"><a href="">Remove this witness</a></p><hr>');
      objSeperator.insertBefore( '#add-bit');

      objItem = $('#add-another').clone();
      objItem.find( 'input[type=text]' ).val('');
      objItem.find( '.multiple-choice input' ).prop( "checked", false );
      objItem.find( '.multiple-choice input:eq(0)' ).prop( "id", 'radio-evidence-yes-' + i );
      objItem.find( '.multiple-choice input:eq(1)' ).prop( "id", 'radio-evidence-no-' + i );
      objItem.find( '.multiple-choice input' ).prop( "name", 'evidence-' + i );
      objItem.find( '.multiple-choice label:eq(0)' ).prop( "for", 'radio-evidence-yes-' + i );
      objItem.find( '.multiple-choice label:eq(1)' ).prop( "for", 'radio-evidence-no-' + i );
      i++;
      objItem.insertBefore( '#add-bit');

    });

  });
</script>

{% endblock %}
