{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">



  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="breadcrumbs">
    <ol>
      <li>
        <a href="../task-list">Respond to a money claim</a>
      </li>
      <li>
        Your defence
      </li>
    </ol>
  </div>

      <header class="main-header" role="banner">
        <div class="page-trail">
          <span class="page-number">Part 2 of 4</span>
          <span class="page-title">Your defence</span>
        </div>
      </header>

      <!--<h1 class="heading-xlarge">-->
      <!--Defence-->
      <!--</h1>-->
      <h3 class="heading-medium">Their timeline</h3>

      <div class="description-block">

        <div class="form-fields">
          <table>
            <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">What happened</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>03/01/2017</td>
              <td>I contacted Mary Richards to discuss building works on our roof.</td>
            </tr>
            <tr>
              <td>06/01/2017</td>
              <td>We agreed what work should be done and signed a contract.</td>
            </tr>
            <tr>
              <td>30/01/2017</td>
              <td>The work started on the roof.</td>
            </tr>
            <tr>
              <td>05/02/2017</td>
              <td>The work on the roof was completed but I noticed that there was a problem with one
                section</a>.
              </td>
            </tr>
            <tr>
              <td>07/02/2017</td>
              <td>I sent an email to Mary Richards and asked them to get the problem fixed.</td>
            </tr>
            <tr class="show-more">
              <td>15/02/2017</td>
              <td>I hadn't had a reply so I told them I would be making a money claim.</td>
            </tr>
            <tr class="show-more">
              <td>30/01/2017</td>
              <td>The work started on the roof.</td>
            </tr>
            <tr class="show-more">
              <td>05/02/2017</td>
              <td>The work on the roof was completed but I noticed that there was a problem with one
                section</a>.
              </td>
            </tr>
            <tr class="show-more">
              <td >07/02/2017</td>
              <td>I sent an email to Mary Richards and asked them to get the problem fixed.</td>
            </tr>
            <tr class="show-more">
              <td>15/02/2017</td>
              <td>I hadn't had a reply so I told them I would be making a money claim.</td>
            </tr> 
            <tr >
              <td class="no-border">
              <a href="#" class="toggle">Show more</a>
              <a href="#" class="toggle" style="display: none">Show less</a>
              </td>
              <td class="no-border"></td>
            </tr>                        
            </tbody>
          </table>
        </div>
      </div>

      <div style="padding-top: 30px;"></div>

      <!--<div class="updates-border-thin"></div>-->

      <form
        name="aspnetForm"
        action="defence-3"
        method="get"
        id="aspnetForm"
        autocomplete="off">

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Defence</legend>

            <div id="claim-details">
              <div id="describe-wrapper-claim-details-1" class="form-group">
                <label class="form-label-bold" for="offer">
                  <div class="bold-medium">List any parts of the timeline you disagree with </div>
                  <span class="form-hint">Explain why you disagree. You can also include your own account of what happened.</span>
                </label>
                <textarea class="form-control form-control-3-4 form-control-large"
                          id="offer2"
                          rows="4"
                          name="offer2"
                          cols="40"
                          type="text"
                          style="width: 95%"
                          data-store=""></textarea>
              </div>
            </div>
          </fieldset>


          <p class="actions">
            <input id="advert-option-next--button" type="submit" value="Save and continue" class="button"
                   data-ignore-double-submit="true">
            <!--<a href="aos">I need more time to respond</a>-->
          </p>


          <!--<input id="advert-option-next&#45;&#45;button" type="submit" value="Continue" class="button"-->
                 <!--data-ignore-double-submit="true">-->

        </div>

      </form>

    </div>

 

  </div>

</main>


{% endblock %}

