{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-large">
        Register
      </h1>
<p class="lede">You will be able to use the service</p>
      <form method="get" name="registration" action="verify-email" id="registration">
        <p >If you have already registered, please <a href="sign-in">sign in</a>.</p>





        <div class="form-group ">
          <label class="form-label bold" for="email">
            Enter your email address
          </label>
          <input  name="idam_email_address" id="idam_email_address" class="form-control" value="{{data['idam_email_address']}}">
        </div>

        <div class="form-group ">
          <label class="form-label" for="email">
            First name

          </label>
          <input name="email" id="email" class="form-control" >
        </div>
        <legend class="visuallyhidden">Your full name.</legend>
        <div class="form-group ">
          <label class="form-label" for="email">
            Last name

          </label>
          <input name="email" id="email" class="form-control" >
        </div>
    <fieldset>
           <div class="form-group">
                <input type="submit" class="button" value="Register"/>
              </div>
      </fieldset>
      </form>
      <script type="text/javascript">

        $(document).ready(function () {
          $("#showpassword").click(function () {
            event.preventDefault();

            if ($("#password").attr("type") === "password") {
              $("#password").attr("type", "text");
              $(".contentbox").text("Hide password");
            } else {
              $("#password").attr("type", "password");
              $(".contentbox").text("Show password");

            }
          });
        });

      </script>
    </div>
  </div>
</main>


{% endblock %}
