{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-large">
        Create new password
      </h1>

      <form method="get" name="registration" action="forgotten-password-success" id="registration">

<span class="form-hint">
          <p >It needs to include:</p>
          <ul class="list list-bullet">
            <li>at least 8 characters</li>
            <li>an upper case letter</li>
            <li>lower case letters</li>
            <li>a number</li>
          </ul>
</span>



        <div class="form-group ">
          <label class="form-label bold" for="email">
            Password
          </label>

          <input  name="idam_email_address" id="idam_email_address" class="form-control"  type="password" >
        </div>

        <div class="form-group ">
          <label class="form-label" for="email" >
            Confirm password

          </label>
          <input name="email" id="email" class="form-control"  type="password" >
        </div>
         <fieldset>
           <div class="form-group">
                <input type="submit" class="button" value="Continue"/>
              </div>
      </fieldset>
      </form>

    </div>
  </div>
</main>


{% endblock %}
