{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block home_link %} index {% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
<!--        <span class="heading-secondary">Step 2 of 6</span>
-->        Check your email
</h1>
      <p><a href='email-verify' class="hide-link lede" style="font-weight:100">You need to activate your account. We've sent an email to petervenkman@gmail.com with an activation link.</a></p>
      <p>OR</p>

      <p><a href='email-verify' class="hide-link lede" style="font-weight:100">We've sent an email to petervenkman@gmail.com. Click the link to set up a password and start using your account.</a></p>

</div>
</div>
</main>


{% endblock %}
