{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--<a href="#" class="link-back">Back</a>-->
      <h1 class="heading-large">
        View the claim
      </h1>
      <br>
      <p>Jan Clark has made a money claim against you.</p>
      <p class="panel panel-border-wide">You have until <strong class="bold"><span id="Date"></span></strong> to respond to this
      claim.</p>
      <p >You might have to pay more and the claimant will be able to apply for a County Court Judgment (CCJ) against you if you don't respond in time.</p>
      <p class="heading-medium">Claim details</p>
      <p class=""><span class="bold">Reference:</span> 352MC733</p>
      <p class=""><span class="bold">Amount:</span> £1,500</p>
      <p class="bold">Reason for claim:</p>
      <p>This claim is about building works.</p>
      <p>Mary Richards and I signed a contract for building works on my roof. The work on the roof was completed but
        there was a problem with one section. I asked Mary Richards to get the problem fixed, but didn't get a
      reply.</p> <p>I'll have to get another builder to rectify the problem which will cost me £1,500.</P> <p>Therefore, I'm making a money
      claim for £1,500 to compensate for the extra money I'm going to need to spend.</p>

      <div class="clearfix">
        <a class="button" href="create-account" role="button">Respond to claim</a>
        <!--<a class="button-return ga-event" href="paid-already" role="button">I've already paid</a>-->
      </div>
      <br>
      <details>
        <summary>How we use and store your personal information</summary>
        <div class="panel panel-border-narrow">
          <p>This claim contains personal information about you that Jan Clark has provided, for example your name and address.</p>
          <p>Find out about how we use and store your <a href="/dashboard/v4/idam/privacy"  data-sso="false" data-journey-click="footer:Click:Privacy policy">personal information.</a></p>
        </div>
      </details><br>
    </main>
    {% endblock %}
