{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation_new.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs" style="margin-bottom: -20px">
    <ol>
      <!--<li><a href="#" onclick="history.go(-1)">All claims</a></li>-->

      <li><a href="all-claims-4">All claims</a></li>

      <li aria-current="page">Claim details</li>

    </ol>
  </div>

  <div class="grid-row">

    <!--<div class="peristant-info-banner" style="margin-top: -10px">-->
    <!--<div class="peristant-info-banner-content">352MC733-->
    <!--<span class="bold"-->
    <!--style="margin-left:10px">Jan Clark</span>-->
    <!--v-->
    <!--<span class="bold">Mary Richards</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="hmcts-details-bar">-->

    <!--<div class="hmcts-details-bar__container">-->
    <!--<div class="hmcts-details-bar__details" style="margin-left: 20px">-->
    <!--<span class="hmcts-details-bar__reference">352MC733</span>-->
    <!--<span class="hmcts-details-bar__title"><span style="font-weight: bold">Jan Clark</span> v <span style="font-weight: bold">Mary Richards</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="details" style="margin-top: -30px">
        <span style=""><h2 style="">
          <h2 class="heading-medium">Jan Clark v Mary Richards</h2>
          <h2 class="font-xsmall" style="margin-top: -10px">Claim number: <span style="">352MC733</span></h2>
    </div>
    <!--<div class="divider"></div>-->

    <div class="column-full-width">

      <div class="tabGroup4" style="margin-top: 40px">
        <a id="tabJ" class="tab-on" onclick="tabGroup4(tabContent, 'TAB-ONE')" href="javascript: void(0)">Next steps</a>
        <a id="tabK" class="tab" onclick="tabGroup4(tabContent, 'TAB-TWO')" href="javascript: void(0)">Claim history</a>
        <a id="tabL" class="tab" onclick="tabGroup4(tabContent, 'TAB-THREE')" href="javascript: void(0)">About claim</a>
        <a id="tabM" class="tab" onclick="tabGroup4(tabContent, 'TAB-FOUR')" href="javascript: void(0)">Documents</a>
        <a id="tabN" class="tab" onclick="tabGroup4(tabContent, 'TAB-FIVE')" href="javascript: void(0)">Settle out of
          court</a>
        <hr style="margin-top: -2px">
      </div>

      <div id="tabContent" class="top_30">

        <div id="tabOneContent">
          <div class="column-two-thirds">
            <div class="description" style="background-color: #fff">
              <!--Action one-->
              <h4 class=" heading-small">Jan Clark rejected your response</h4>
              <p>The court will review the case. You might have to go to a hearing.</p>

              <p>We'll contact you if we set a hearing date to tell you how to prepare.</p>

              <p><a href="#">Download their proposed hearing requirements</a>
                (PDF, 13KB)</p>

            </div>
          </div>

          <!--<div class="column-one-third">-->
            <!--<div class="right-column-nav" style="margin-top: 20px">-->
              <!--&lt;!&ndash;<hr class="light-hr" style="margin-top: 5px">&ndash;&gt;-->
              <!--<h3 class="heading-small">More actions</h3>-->
              <!--<p></p><a href="">I've paid in full</a></p>-->
            <!--</div>-->
          <!--</div>-->

        </div>

        <div id="tabTwoContent">
          <!--<h3 class="heading-medium">Claim history</h3><br>-->
          <div class="hmcts-timeline" style="margin-top: 50px">
            <div class="hmcts-timeline__item">
              <div class="hmcts-timeline__header">
                <h2 class="hmcts-timeline__title">You rejected the claim</h2>
                <!--<p class="hmcts-timeline__by">by Mary Richards (defendant)</p>-->
              </div>
              <p class="hmcts-timeline__date">
                <time style="color: grey">15 December 2018</time>
              </p>
              <p style="margin-bottom: 0px">You said you don't want to try mediation.</p>
              <!--<p><a href="#">Download your response</a>-->
                <!--(PDF, 123KB)</p>-->
            </div>
            <div class="hmcts-timeline__item">
              <div class="hmcts-timeline__header">
                <h2 class="hmcts-timeline__title">Claim made against you</h2>
                <!--<p class="hmcts-timeline__by">by you (claimant)</p>-->
              </div>
              <p class="hmcts-timeline__date">
                <time style="color: grey">5 December 2018</time>
              </p>
              <!--<p><a href="#">Download claim form</a>-->
                <!--(PDF, 123KB)</p>-->
            </div>
          </div>
        </div>

      <div id="tabThreeContent">
        <fieldset></fieldset>
        <h2 class="heading-small">Total claim amount</h2>
        <table class="govuk-table jui-table  jui-table--fixed  govuk-!-margin-bottom-7">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Claim amount</td>
            <td class="govuk-table__cell--right">£275</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Claim fee</td>
            <td class="govuk-table__cell--right">£25</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Total</td>
            <td class="govuk-table__cell-right">£300</td>
          </tr>
          </tbody>
        </table>

        <h2 class="heading-small">Claimant's details</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Name</td>
            <td class="govuk-table__cell--right">Mrs Jan Clark</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Address</td>
            <td class="govuk-table__cell--right">101 Regents Road<br>Shiplake<br>Henley on Thames<br>RG9 4BW</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Telephone</td>
            <td class="govuk-table__cell--right">07824999612</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Email</td>
            <td class="govuk-table__cell--right">jan.clark@gmail.com</td>
          </tr>
          </tbody>
        </table>

        <h2 class="heading-small">Your details (defendant)</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Name</td>
            <td class="govuk-table__cell--right">Mrs Mary Richards</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Address</td>
            <td class="govuk-table__cell--right">24 Acacia Drive<br>London<br>SW1 H9A</td>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Telephone</td>
            <td class="govuk-table__cell--right">07824999612</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell--left">Email</td>
            <td class="govuk-table__cell--right">mary.richards@gmail.com</td>
          </tr>
          </tbody>
        </table>

      </div>

      <div id="tabFourContent">

        <div class="column-one-third">

          <!-- < CONTENT NAVIGATION > -->
          <ul class="tab__nav">
            <li>
              <a href="#1" class="active" data-target="document-1">
                The claim against you
              </a>
            </li>
            <li>
              <a href="#2" class="" data-target="document-2">
                Your response
              </a>
            </li>
          </ul>
        </div>
        <!-- </ CONTENT NAVIGATION ENDS > -->

        <div class="column-two-thirds">

          <!-- < DOCUMENT 1 > -->
          <div class="tab__content" id="document-1">
            <div class="jui-cf__document-page">
              <img
                src="/../../public/images/documents/page1.jpg"
                alt="Claim form page 1"></div>
            <div class="jui-cf__document-page"><img
              src="/../../public/images/documents/page2.jpg"
              alt="Claim form page 2"></div>
          </div>
          <!-- </ DOCUMENT 1 ENDS > -->

          <!-- < DOCUMENT 2 > -->
          <div class="tab__content js-hidden" id="document-2">
            <div class="jui-cf__document-page">
              <img
                src="/../../public/images/documents/page3.png"
                alt="Defendant's response page 1"></div>
            <div class="jui-cf__document-page">
              <img
                src="/../../public/images/documents/page4.png"
                alt="Defendant's response page 2"></div>
          </div>
          <!-- </ DOCUMENT 2 ENDS > -->

        </div>


      </div>

      <div id="tabFiveContent">
        <div class="description" style="background-color: #fff">
          <div class="column-two-thirds">
            <h4 class=" heading-small">You can still settle out of court</h4>
            <p>For example you could offer to fix goods you sold the claimant or suggest a payment.</p>
            <p>You can avoid getting a County Court Judgment if the claimant accepts your offer.</p>

            <p><a class="button" href="../../offer-agreement/make-offer?defendant=defendant">Make an offer to settle</a></p>
          </div>
        </div>
      </div>


    </div>
  </div>


  <!--<div class="column-one-third">-->
  <!--<div class="right-column-nav">-->
  <!--<hr class="light-hr " style="margin-top: 83px">-->
  <!--<h3 class="heading-small">More actions</h3>-->
  <!--<p></p><a href="">Tell us you've settled</a></p>-->
  <!--<p></p><a href="">Stopping the claim</a></p>-->
  <!--</div>-->
  <!--</div>-->
</main>


{% endblock %}
