{% extends "layout.html" %} {% block page_title %} Money Claims Prototype {% endblock %} {% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--<a href="#" class="link-back">Back</a>-->

      <h1 class="heading-xlarge">
        No response from Mary Richards
      </h1>

      <p class="panel panel-border-wide">
        Mary Richards has not responded to your claim in the last 28 days.
      </p>

      <fieldset></fieldset>

      <!--<p>You can ask the court to order them to pay as they don't respond to your claim.</p>-->

      <form name="aspnetForm" method="post" onsubmit="multiNavigation('radio-indent-group', ['Yes', 'No', 'Alternative'], ['judgement-confirmation', '', 'confirmation-page']);return false;" id="aspnetForm" autocomplete="off">

        <h1 class="heading-medium">
          What you can do
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">What you can do</legend>

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-yes" data-target="yes-info">
                <strong class="bold-small">Request judgment</strong><br>
                You can ask the court to order them to pay. The court will decide the amount for them to pay
              </label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="yes-info">-->
            <!--<div class="form-group">-->
            <!--<fieldset>-->
            <!--<div class="form-fields">-->
            <!--<legend class="form-label">Mary Richard's date of birth (if known)</legend>-->
            <!--<div class="input form-group date optional claimant_date_of_birth field_with_hint"><p-->
            <!--class="form-hint text">For example, 23 04 1981</p>-->
            <!--<div class="input form-group know-date-input">-->
            <!--<div class="input form-group tel required claimant_date_of_birth_day"><label-->
            <!--class="tel required form-label"-->
            <!--for="claimant_date_of_birth_day">Day</label><input-->
            <!--class="string tel required form-control" maxlength="2" type="tel"-->
            <!--size="2" name="claimant[date_of_birth][day]"-->
            <!--id="claimant_date_of_birth_day"></div>-->
            <!--<div class="input form-group tel required claimant_date_of_birth_month"><label-->
            <!--class="tel required form-label"-->
            <!--for="claimant_date_of_birth_month">Month</label><input-->
            <!--class="string tel required form-control" maxlength="2" type="tel"-->
            <!--size="2" name="claimant[date_of_birth][month]"-->
            <!--id="claimant_date_of_birth_month"></div>-->
            <!--<div class="input form-group tel required claimant_date_of_birth_year"><label-->
            <!--class="tel required form-label"-->
            <!--for="claimant_date_of_birth_year">Year</label><input-->
            <!--class="string tel required form-control" maxlength="4" type="tel"-->
            <!--size="4" name="claimant[date_of_birth][year]"-->
            <!--id="claimant_date_of_birth_year"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</fieldset>-->
            <!--</div>-->
            <!--</div>-->

            <!-- <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No">
              <label for="radio-no" data-target="no-info">
              <strong class="bold-small">Request free mediation</strong><br>
                An impartial mediator listens to both sides separately and try to reach an agreement
              </label>
            </div> -->

            <!--<div class="panel panel-border-narrow js-hidden" id="no-info">-->
            <!--<p>You can 'request a judgement'.</p>-->
            <!--</div>-->

            <div class="multiple-choice">
              <input id="radio-alternative" type="radio" name="radio-indent-group" value="Alternative">
              <label for="radio-alternative" data-target="alternative-info">
                <strong class="bold-small">Stop the claim</strong><br>
                Your claim will not continue to a hearing. You'll not need to prepare evidence and pay hearing fee
              </label>
            </div>

            <!--<div class="panel panel-border-narrow js-hidden" id="alternative-info">-->
            <!--<p>For example, you might suggest a higher payment amount.</p>-->
            <!--</div>-->

          </fieldset>

          <input id="advert-option-next--button" type="submit" value="Submit response" class="button" data-ignore-double-submit="true">
        </div>
      </form>

    </div>
  </div>
</main>


{% endblock %}
