{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="2" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Do you owe the claimant money?
      </h1>

     <form method="post" action="counter-intro" class="form">

      <div class="form-group">
        <fieldset>
          <div class="multiple-choice" data-target="immediately">
            <input id="radio-immediately" type="radio" name="radio-pay-group" value="Immediately">
            <label for="radio-immediately">Yes, £1,500</label>
          </div>
          <div class="multiple-choice" data-target="set-date">
            <input id="radio-no" type="radio" name="radio-pay-group" value="Set-date">
            <label for="radio-no">Yes, a lower amount</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="set-date">
            <label class="form-label" for="rate">How much do you owe them?</label>
            <input class="form-control timeline-column-4 fee pound" type="text" id="counter-amount" name="counter-amount" value="">
          </div>
          <div class="multiple-choice" data-target="instalments">
            <input id="radio-repayment" type="radio" name="radio-pay-group" value="Instalments">
            <label for="radio-repayment" data-target="repayment-info">No, I don't owe them anything</label>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Save and continue"/>
      </div>
    </form>

    </form>
  </div>
</div>
</div>
{% include 'prototypes/prototype-oct-2019/includes/contact.html' %}
</main>
{% endblock %}
