{% extends "layout.html" %} {% block page_title %} Book your theory test {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/driving/task_list{{formQuery}}">Learn to drive</a>
      </li>
      <li>
        Book your theory test
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list#book_theory_test" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Book theory your test
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Book theory your test
          </legend>

          <p class="cost-and-time">
            Cost: <span class="bold">£23</span><br>
            Time: <span class="bold">4 week wait</span>
          </p>

          <p id="reason_for_task">Before you take your driving test, you must show you know <a href="https://www.gov.uk/guidance/the-highway-code">The Highway Code</a>.</p>

          <p>Tasks to book theory test:</p>

          <ol class="list list-number">
            <li>have provisional licence number</li>
            <li><a href="https://www.gov.uk/book-theory-test">book your theory test</a></li>
          </ol>

          <input type="hidden" name="book_theory_test" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – I've booked my theory test" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}