{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">


    <h2 class="heading-medium">Misc</h2>

    <ol class="list list-number">
      <li><a href="shutter">Shutter page - planned outage</a></li>
      <li><a href="shutter-unplanned">Shutter page - unplanned outage</a></li>
      <li><a href="feedback">Feedback</a></li>
      <li><a href="message">Send us a message</a></li>
    </ol>

  </div>
{% include 'prototypes/prototype-aug-2019/includes/contact.html' %}
</main>
{% endblock %}