{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>
      <fieldset></fieldset>

      <p>If you owe some of the money, you can response by post.</p>

      <p>Download and fill in the acknowledgement of service form in the <a class="external" rel="external"
                                                                            href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=647"
                                                                            target="_blank">response pack</a>.</p>
      <p>Send it to the court address on the email or letter we sent you.</p>

</main>


{% endblock %}
