{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        You have rejected their response
      </h1>


      <p>You might feel you need to go to a hearing now. However, many people resolve their dispute before a hearing by taking part in telephone mediation.</p>
<p>The defendant has asked for mediation to help resolve this dispute.</p>

      <p><a class="button" href="mediation">Continue</a> </p>

  </div>
</div>
</main>
{% endblock %}
