{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
     <a href="#" class="link-back">Back</a>
     <h1 class="heading-large">
      The defendant's response
    </h1>
    <p>The defendant Mary Richards believes they owe £1,000.They've offered to pay you in instalments.</p>
    <p>However they believe they don't owe the amount claimed.</p>
    <h2 class="heading-medium">Their defence</h2>
    <p class="heading-small">Why they they don't owe the amount claimed</p>
    <p>Because the value of the work is £1000 not £1500.</p>
    <p class="heading-small">Their timeline of events</p>
    <div class="form-fields">
      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">What happened</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>03/01/2017</td>
            <td>I contacted Mary Richards to discuss building works on our roof.</td>
          </tr>
          <tr>
            <td>06/01/2017</td>
            <td>We agreed what work should be done and signed a contract.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="heading-small">They disagree with your evidence</p>
    <p>I didn't get an email from Jan about this, so I didn't get a chance to sort it out. It would be good to see a
    copy of the email.</p>
    <p class="heading-small">How this dispute has affected them</p>
    <p>I'm sorry you have felt stress during this process but would like claim resolved amicably.</p>

      <h2 class="heading-medium">How they want to pay</h2>
      <p>This is the maximum instalment amount Mary Richards can pay based on their financial details.</p>
      <table class="instalment-table">
        <tbody>
          <tr>
          </tr>
           <tr class="">
            <td class="">
               Monthly instalments of
            </td>
            <td class="">
              £200
            </td>
            <td class="">
            </td>
          </tr>
          <tr>
            <td class="">
              The first payment of
            </td>
            <td class="">
              £100
            </td>
            <td class="change-answer ">
            </td>
          </tr>

          <tr class="">
            <td class="">
              Make the first payment on
            </td>
            <td >
              1 December 2017
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td class="">
              Last payment on
            </td>
            <td class="">
              1 October 2019
            </td>
            <td class=" ">
            </td>
          </tr>

        </tbody>
      </table>
      <p>Mary Richards will need to contact you to make these payments into your bank or savings account</p>
            <details>
        <summary class="bold">Defendant's financial details</summary>
        <div class="panel">
          <table class="instalment-table">
            <tbody>
              <tr>
                <td>
                  Where are they living?
                </td>
                <td >
                  Home that they own
                </td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Children
                </td>
                <td class="no-border"></td>
              </tr>
              <tr>
                <td class="no-border">
                  Do any children live with them?
                </td>
                <td class="no-border">Yes</td>
              </tr>
              <tr>
                <td>
                  16 to 19
                </td>
                <td >1</td>
              </tr>
              <tr>
                <td>
                  Number of children aged 16 to 19 full-time education or training
                </td>
                <td >1</td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Maintenance
                </td>
                <td class="no-border"></td>
              </tr>
              <tr>
                <td class="no-border">
                  Do they or your partner pay maintenance for any children?
                </td>
                <td class="no-border">Yes</td>
              </tr>
              <tr>
                <td>
                  Number of children
                </td>
                <td >2</td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Financial support
                </td>
                <td class="no-border"></td>
              </tr>
              <tr>
                <td class="no-border">
                  Do they support anyone else financially?
                </td>
                <td class="no-border">Yes</td>
              </tr>
              <tr>
                <td class="no-border">
                  Number of people
                </td>
                <td class="no-border">1</td>
              </tr>
              <tr>
                <td class="">
                  Give details
                </td>
                <td class="">Reason goes here</td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Employment
                </td>
                <td class="no-border"></td>
              </tr>
              <tr>
                <td class="no-border">
                  Are they currently working?
                </td>
                <td class="no-border">Yes</td>
              </tr>
              <tr>
                <td class="">
                  employment status
                </td>
                <td class="">Employed and Self-employed</td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Who employs them?
                </td>
                <td class="no-border"></td>
              </tr>
              <tr>
                <td class="no-border">
                  Employer name
                </td>
                <td class="no-border">Smith Inc</td>
              </tr>
              <tr>
                <td class="no-border">
                  Job title
                </td>
                <td class="no-border">HR manager</td>
              </tr>
              <tr>
                <td class="">
                  List any other paid jobs (optional)
                </td>
                <td class=""> </td>
              </tr>
              <tr>
                <td class="no-border bold">
                  What are they self-employed as?
                </td>
                <td class="no-border"></td>
              </tr>
              <tr>
                <td class="no-border">
                  Job title
                </td>
                <td class="no-border">Accountant</td>
              </tr>
              <tr>
                <td class="no-border">
                  Annual turnover
                </td>
                <td class="no-border">£10,000</td>
              </tr>
              <tr>
                <td class="no-border">
                  Are they behind on tax payments?
                </td>
                <td class="no-border"> Yes</td>
              </tr>
              <tr>
                <td class="no-border">
                  Amount they owe?
                </td>
                <td class="no-border"> £30</td>
              </tr>
              <tr>
                <td class="">
                  Reason
                </td>
                <td class=""> Reason goes here</td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Bank and saving accounts
                </td>
                <td class="no-border"> </td>
              </tr>
              <tr>
                <td class="no-border">
                  Type of account
                </td>
                <td class="no-border">Savings </td>
              </tr>
              <tr>
                <td class="no-border">
                  Balance
                </td>
                <td class="no-border">£100 </td>
              </tr>
              <tr>
                <td class="">
                  Joint account
                </td>
                <td class="">Yes </td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Monthly income
                </td>
                <td class="no-border"> </td>
              </tr>
              <tr>
                <td class="no-border">
                  Take home pay
                </td>
                <td class="no-border">£12 </td>
              </tr>
              <tr>
                <td class="no-border">
                  Child Benefit
                </td>
                <td class="no-border">£23 </td>
              </tr>
              <tr>
                <td class="">
                  Other income
                </td>
                <td class="">£43 </td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Monthly expenses
                </td>
                <td class="no-border"> </td>
              </tr>
              <tr>
                <td class="no-border">
                  Mortgage
                </td>
                <td class="no-border">£3443 </td>
              </tr>
              <tr>
                <td class="no-border">
                  Council Tax
                </td>
                <td class="no-border">£120 </td>
              </tr>
              <tr>
                <td class="">
                  Gas
                </td>
                <td class="">£13 </td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Debts
                </td>
                <td class="no-border"> </td>
              </tr>
              <tr>
                <td class="no-border">
                  Do you have any debts?
                </td>
                <td class="no-border"> Yes</td>
              </tr>
              <tr>
                <td class="no-border">
                  Debt
                </td>
                <td class="no-border">Paying back loan to parent </td>
              </tr>
              <tr>
                <td class="no-border">
                  Total owed
                </td>
                <td class="no-border">£120 </td>
              </tr>
              <tr>
                <td class="">
                  Monthly payments
                </td>
                <td class="">£13 </td>
              </tr>
              <tr>
                <td class="no-border bold">
                  Court orders
                </td>
                <td class="no-border"> </td>
              </tr>
              <tr>
                <td class="no-border">
                  Has a court ordered you to pay anyone else?
                </td>
                <td class="no-border">Yes </td>
              </tr>
              <tr>
                <td class="no-border">
                  Claim number
                </td>
                <td class="no-border">352MC733 </td>
              </tr>
              <tr>
                <td class="">
                  Amount you owe
                </td>
                <td class="">£130 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <h2 class="heading-small">Why they can't pay the full amount now</h2>
      <p>I am heavily in debt at the moment and I'm not earning that much money. £100 a month is all i can afford.</p>

    {% if data['part_admission'] == "1" %}
          <h2 class="heading-medium">Do you accept or reject the amount owed is £1000?</h2>

    <form
    name="aspnetForm"
    method="post"
    onsubmit="multiNavigation('radio-indent-group', ['reject-response', 'payment', 'accept_stop_claim'], ['mediation', 'payment-options', '../confirmation-page']);return false;"
    id="aspnetForm"
    autocomplete="off">
    <div class="form-group">
      <fieldset>
        <div class="multiple-choice" data-target="accept2">
          <input id="radio-yes" type="radio" name="radio-indent-group" value="accept_stop_claim">
          <label for="radio-yes" data-target="yes-info">Accept their response - including payment </label>
        </div>
        <div class="multiple-choice" data-target="accept2">
          <input id="radio-payment" type="radio" name="radio-indent-group" value="payment">
          <label for="radio-payment" data-target="yes-info">Accept their response - suggest payment method</label>
        </div>
        <div class="multiple-choice" data-target="reject-offer">
          <input id="radio-no" type="radio" name="radio-indent-group" value="reject-response">
          <label for="radio-no" data-target="no-info">Reject their response </label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="reject-offer">
          <p>Continue to consider free mediation to help settle this dispute.</p>
        </div>
      </fieldset>
      <input id="advert-option-next--button" type="submit" value="Continue" class="button"
      data-ignore-double-submit="true">
    </div>
  </form>
  {% elseif data['part_admission'] == "2" %}
                <h2 class="heading-medium">Do you accept or reject the amount owed is £1000?</h2>

  <form
  name="aspnetForm"
  method="post"
  onsubmit="multiNavigation('radio-indent-group', ['reject-response', 'payment'], ['mediation', 'payment']);return false;"
  id="aspnetForm"
  autocomplete="off">
  <div class="form-group">
    <fieldset>
      <div class="multiple-choice" data-target="accept2">
        <input id="radio-yes" type="radio" name="radio-indent-group" value="payment">
        <label for="radio-yes" data-target="yes-info">I Accept </label>
      </div>
      <div class="multiple-choice" data-target="reject-offer">
        <input id="radio-no" type="radio" name="radio-indent-group" value="reject-response">
        <label for="radio-no" data-target="no-info">I Reject </label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="reject-offer">
        <p>Continue to consider free mediation to help settle this dispute.</p>
      </div>
    </fieldset>
    <input id="advert-option-next--button" type="submit" value="Continue" class="button"
    data-ignore-double-submit="true">
  </div>
</form>

{% elseif data['part_admission'] == "3" %}
          <h2 class="heading-medium">Do you accept or reject their response and payment?</h2>

        <form
          name="aspnetForm"
          method="post"
          onsubmit="multiNavigation('radio-indent-group', ['reject-response', 'accept_stop_claim'], ['payment-options2', '../confirmation-page']);return false;"
          id="aspnetForm"
          autocomplete="off">
  <div class="form-group">
    <fieldset>
      <div class="multiple-choice" data-target="accept2">
        <input id="radio-yes" type="radio" name="radio-indent-group" value="accept_stop_claim">
        <label for="radio-yes" data-target="yes-info"><span class="bold">I Accept </span></label>
      </div>
      <div class="multiple-choice" data-target="reject-offer2">
        <input id="radio-no" type="radio" name="radio-indent-group" value="reject-response">
        <label for="radio-no" data-target="no-info"><span class="bold">I Reject </span><br>You can suggest your own method of payment</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="reject-offer">
        <p>You can ask .</p>
      </div>
    </fieldset>
    <input id="advert-option-next--button" type="submit" value="Continue" class="button"
           data-ignore-double-submit="true">
  </div>
</form>
      {% elseif data['part_admission'] == "4" %}
<!--      <div class="panel panel-border-wide">
        <p>Continue to accept or reject response. </p>
      </div-->
      <p><a href="agree-amount" class="button">Continue</a></p>
{% endif %}
</div>
</div>
</main>
<form method="post"  action="#" class="form" style="position: absolute;">
  <select id="claimant2" name="claimant2" onchange="window.location.href='?part_admission='+this.value">
    <option  value="0" >Choose</option>
    <option value="1" {% if data['part_admission'] ==1 %}selected{% endif %}>1. Single question</option>
    <option value="2" {% if data['part_admission'] == 2 %}selected{% endif %}>2. Multiple question</option>
    <option value="3" {% if data['part_admission'] == 3 %}selected{% endif %}>3. Multiple question 2</option>
    <option value="4" {% if data['part_admission'] == 4 %}selected{% endif %}>4. No options</option>
  </select>
</form>
{% endblock %}
