{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  <script>
    $(document).ready(function () {
      $('#yourOfferContent').html(formParam('offer'))
    })
  </script>

  {% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Your application has been sent</h1>
        <!--<fieldset></fieldset>-->
        <!--<p>Reference number:<br>-->
          <!--<span class="bold-medium">CEWOC-1234</span>-->
      </div>

        <h2 class="heading-medium">What happens next</h2>
        <p>Your application for a bailiff service will be sent to the appropriate court. You will receive the letter in the post if it has been issued.
        </p>

      <h2 class="heading-medium">If the bailiff succeeds</h2>
      <p>If the bailiff succeeds in delivering the application, you'll be given a letter as evidence that the defendant has received the application. This is known as 'Notice of Issue of Warrant of Control'.</p>

      <h2 class="heading-medium">If the bailiff can't recover your money</h2>
        <p>They will return the warrant to the court. We'll contact you to tell you that your application hasn't been served at the address you provided.</p>

        {% include "includes/survey.html" %}
        <p><a class="button" href='../../../dashboard/home?dashboard=1.42'>Go to your account</a></p>


        {% include "includes/contact.html" %}
<!---->
      </fieldset>
    </div>
  </div>
</main>


{% endblock %}
