{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="4" %}

{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}


<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Choose a different enforcement option
      </h1>

      <p>You should only apply for a bailiff to visit the defendant if you think they'll be able to get your money back.</p>
      <p>You should choose a different enforcement option. You can ask the court to:</p>
        <ul class="list list-bullet">
          <li>order the defendant to attend a hearing and find out what they can afford to pay</li>
          <li>take money from the defendant's wages to pay the debt</li>
          <li>freeze money in the defendant's bank, building society or business account</li>
          <li>charge the defendant's land or property</li>
        </ul>
        <p>You need to use a paper form to apply for each of these options. </p>
        <p><a target="_blank" href="https://hmctsformfinder.justice.gov.uk/HMCTS/FormFinder.do">Download a paper form</a> <span class="font-xsmall">(opens in a new window)</span>, complete it and return it to make your application.</p>

        <h3 class="heading-medium">Where to send paper forms</h3>

        <p>County Court Money Claims Centre<br>
          PO Box 527<br>
          Salford<br>
          M5 0BY<br>
        </p>
    </div>
  </div>
</main>


{% endblock %}
