{% extends "layout_unbranded.html" %}
{% block proposition_header %}
{% include "includes/propositional_navigation_no_login.html" %}
{% endblock %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <!--  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>  -->
      <h1 class="heading-large">You can't use this service if a solicitor is managing the claim for you</h1>


      <p>You can only use this service to respond yourself as a defendant.</p>
      <p>Your or your solicitor will need to post your response to:</p>
      <p>Civil Money Claims<br>
        St Katharine's House <br>
        21-27 St Katharine's Street <br>
        Northampton<br>
        NN1 2LH</p>
    </div>
  </div>
{% include 'prototypes/prototype-dec-2019/includes/contact.html' %}
</main>
{% endblock %}
