{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% set my_account="5" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">You have told us what questions you want to ask the expert</h1>
        <p class="download"><a href="" class="font-medium" style="color: #FFFFFF">Download all questions</a> (PDF, 123KB)</p>
      </div>
    <h2 class="heading-medium">What you need to do next</h2>

    <p>You need to send the complete set of both your questions, and the defendant's questions, to the chosen expert.</p>

    <p>The expert will then have XX days to inspect the issue and provide a written report with their findings. You will then need to upload the report to the court.</p>

    <h2 class="heading-medium">Help and support</h2>
    <p>Email: moneyclaims@justice.gov.uk<br>
      Telephone: 0300 123 7050<br>
    Hours: 9am to 5pm, Monday to Friday</p>
    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
  </fieldset>
  <br>
  <a href="../../{% if data['party'] == 'defendant' %}defendant?defendant=12.1{% else %}claimant?claimant=11.1{% endif %}&evidence=complete" class="button">Go to your account</a>
</div>
</div>
{% include 'prototypes/prototype-feb-2019/includes/contact.html' %}
</main>
{% endblock %}
