{% extends "layout.html" %}

{% block page_title %}
Money Claims Prototype
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="container page-report-content report-overview">
    <div id="pagebody">
      <div id="pagebody-left-content">

        <header class="page-report-header">
          <h1 class="heading-xlarge">
            <span class="heading-secondary">Settlement agreement</span>
            Jan Clark -v- Mary Richards
          </h1>
        </header>

        <!--<div id="report-period-due border-top">-->
        <!--<div id="report-period" class="labelvalue">-->
        <!--<div class="label">Case number:</div>-->
        <!--<div class="value"> CF91-BK65</div>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div id="report-due" class="labelvalue">-->
        <!--<div class="label">Date:</div>-->
        <!--<div class="value"> 09 April 2017</div>-->
        <!--</div>-->
        <!--</div>-->


        <ul id="overview-sections" class="overview-sections">

          <li id="section-01" class="overview-section">
            <h2 class="heading"></h2>

            <div id="sub-section-01" class="descriptive-list-item">
              <a href="/agreement/agreed"
                 aria-label="View what was agreed">

                <h3 class="heading heading-medium">What was agreed</h3>
                <span class="status not-started">Not read</span>

                <span class="edit-link " href="/agreement/agreed">
                    View what was agreed</span>

                <p class="description">Add supplementary content if required here...</p>

              </a>
            </div>
          </li>

          <li id="section-02" class="overview-section">
            <h2 class="heading"></h2>

            <div id="sub-section-02" class="descriptive-list-item">
              <a href="/agreement/terms"
                 aria-label="View and accept terms">

                <h3 class="heading heading-medium">Terms</h3>
                <span class="status not-started">Not read</span>

                <span class="edit-link " href="/agreement/terms">
                    View and accept terms</span>

                <p class="description">Add supplementary content if required here...</p>

              </a>
            </div>
          </li>


          <li id="section-03" class="overview-section">
            <h2 class="heading"></h2>

            <div id="sub-section-03" class="descriptive-list-item">
              <a class="behat-link-edit-actions" id="" href="/agreement/breached"
                 aria-label="">

                <h3 class="heading heading-medium">If the agreement is breached</h3>
                <span class="status not-started">Not read</span>

                <span class="edit-link " href="/agreement/if-breached">
                View details
            </span>

                <p class="description">Add supplementary content if required here...</p>


              </a>
            </div>
            <br>

            <div id="report_add_further_info-sub-section" class="descriptive-list-item">

              <h3 class="heading heading-medium">Sign and submit</h3>
              <!--<span class="status not-started">Not started</span>-->

              <span class="edit-link disabled">
                    Sign and submit
            </span>


            </div>
          </li>
        </ul>

        <fieldset></fieldset>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            You can't sign your agreement until you have read and accepted the terms.
          </strong>
        </div>

      </div>
      <div id="pagebody-right-content">
        <br>
        <br>
        <!--<p class="bold-small"> Helpline<br/>-->
        <!--0123 797 6123-->
        <!--</p>-->

        <!--<div id="report-status" class="notFinished">-->
        <!--<div class="labelsvalues">-->
        <!--<div class="labelvalue">-->
        <!--<div class="label">Status:</div>-->
        <!--<div class="value">Awaiting your approval</div>-->
        <!--</div>-->
        <!--</div>-->
        <div id="report-period-due border-top">
          <div id="report-period" class="labelvalue">
            <div class="label">Case number:</div>
            <div class="value"> CF91-BK65</div>
          </div>
          <br>
          <div id="report-due" class="labelvalue">
            <div class="label">Date:</div>
            <div class="value"> 09 April 2017</div>
          </div>
        </div>
        <fieldset></fieldset>
        <a class="button button-secondary" href="agreement">Download PDF</a>
      </div>
    </div>

  </div>
</main>


{% endblock %}

