{% extends "layout.html" %}
{% block page_title %}
Money Claims Prototype
{% endblock %}
{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="#" onclick="history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">


      {% if data['reject-court'] != 'yes' %}
      <form
      name="aspnetForm"
      method="post"
      onsubmit="conditionalNavigation('reject-court', 'yes', 'court', 'expert-required');return false;"
      id="aspnetForm"
      autocomplete="off">

      {% else %}
      <form
      name="aspnetForm"
      method="post"
      onsubmit="conditionalNavigation('court-search', 'postcode', 'court-s2', 'expert-required');return false;"
      id="aspnetForm"
      autocomplete="off">

      {% endif %}

      <h1 class="heading-large">Choose a hearing location</h1>

      <p>Tell us your preferred location for a hearing, in case the claim goes to one.</p>



      <p>If the claimant has exceptional reasons, for example, accessibility requirements, they can request a different court. If that happens, a judge will look at the request and decide.</p>


      <h1 class="heading-medium">Do you want to choose Guildford County Court?</h1>

      <p>This is the closest court to the address you gave us.</p>

      <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="summary">See this court's facilities</span></summary>

          <div class="panel" id="details-content-0" aria-hidden="true">

            <h2 class="heading-small">Loop hearing</h2>
            <p>Loop hearing facilities are available at the ground floor counter.</p>

            <h2 class="heading-small">Baby changing facility</h2>
            <p>This court has baby changing facilities on the ground floor within the disabled toilet.</p>

            <h2 class="heading-small">Children's waiting room</h2>
            <p>There is a childrens room on the 1st floor. In addition there is a portable toy box available.</p>

            <h2 class="heading-small">Parking</h2>
            <p>The closest public parking is in the Bedford Road car park.</p>

            <h2 class="heading-small">Refreshments</h2>
            <p>Hot and cold vending machines can be found on the ground floor.</p>

            <h2 class="heading-small">Disabled access</h2>
            <p>Disabled toilet facilities. Parking can be arranged by contacting the court in advance.</p>

            <h2 class="heading-small">Interview room</h2>
            <p>here are up to six private interview rooms on the ground floor, with a further six on the second floor.</p>

            <h2 class="heading-small">Assistance dogs</h2>
            <p>Guide dogs are welcome at this court.</p>

            <h2 class="heading-small">Video facilities</h2>
            <p>Court or hearing room video conferencing facilities and prison to court video link facilities are available (by prior arrangement)</p>

          </div>
        </details>


        <div class="form-group">
          <fieldset>
            <div class="multiple-choice">
              <input id="radio-court-yes" type="radio" name="court" value="yes">
              <label for="radio-court-yes">Yes</label>
            </div>
            <div class="multiple-choice" data-target="courtsearch">
              <input id="radio-court-no" type="radio" name="court" value="no">
              <label for="radio-court-no">No, I'll choose another</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group js-hidden" id="courtsearch">
          <h1 class="heading-medium">Choose another court</h1>

          <div class="multiple-choice" data-target="postcode">
            <input id="radio-court-postcode" type="radio" name="court-search" value="postcode" onclick="$('form#aspnetForm').attr('action','court-s2');console.log('court-s2');$('form#aspnetForm').attr('onSubmit','');">
            <label for="radio-court-postcode">Search by postcode</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="postcode">
            <div class="form-group">
              <label class="form-label" for="county_court">Enter a postcode</label>
              <input type="text" id="county_court" name="county_court" class="form-control" style="width: 120px" />
            </div>
          </div>

          <fieldset>
            <div class="multiple-choice" data-target="court-names">
              <input id="radio-court-name" type="radio" name="court-search" value="name" onclick="$('form#aspnetForm').attr('action','name-results');console.log('name-result');$('form#aspnetForm').attr('onSubmit','');">
              <label for="radio-court-name">Find and select a court</label>
            </div>


            <div class="panel js-hidden auto-comp-field" id="court-names">
              <label class="form-label" for="court-name">
                Enter a court name or the name of a place
              </label>

              <input type="text" id="court-name" name="court-name" class="form-control" />

            </div>
          </fieldset>
        </div>




          <div class="form-group">
            <input type="submit" class="button" value="Save and continue">
          </div>


    </form>
    </div>


      {% include 'prototypes/features-to-be-built/includes/contact.html' %}
    </main>
    <script src="/public/javascripts/lodash-4.17.0.js"></script>




    {% endblock %}
